<?php
/**
 * @var $block \Lof\Gallery\Block\Category\CategoryList
 */

$tags              = $block->getTags();
$showTagblock      = 1;
$title             = 'Tags';
$show_tagcountdown = 1; 
$tag_cloud         = 0;
//var_dump($tags->getData());die;
?>
<?php if(count($tags)>0 && $showTagblock){ ?>
<div class="gallery-block block block-tags">
	<?php if($title){ ?>
	<div class="block-title">
		<strong><?php echo $title ?></strong>
	</div>
	<?php } ?>
	<div class="block-content block-widget-content">
		<ul class="<?php if($tag_cloud){ ?>tagcloud<?php }else{ ?>albumtags<?php } ?>">
			<?php foreach ($tags as $tag) { ?>
			<?php $albums = $tag->getData('albums');

			?>
			<?php if(count($albums) == 0) continue; ?>
			<?php
			$class = '';
			if($tag_cloud) $class = 'class="tag-count-' . count($albums) . '"';
			?>
			<?php if(trim($tag->getName())!=''){ ?>
			<?php
			$activeClass = '';
			$currentTag = $block->getCurrentTag();
			if ($currentTag && ($currentTag->getTagId() == $tag->getTagId())) {
				$activeClass = 'class="active"';
			}
			?>
			<li <?php echo $activeClass; ?>><a href="<?php echo $tag->getUrl() ?>" <?php echo $class ?> title="<?php echo $block->escapeHtml($tag->getName()) ?>"><?php echo str_replace("-", " ", $tag->getName()) ?>
			</a>
			<?php if($show_tagcountdown){ ?>
			<span>(<?php echo count($albums) ?>)</span></li>
			<?php } ?>
			<?php } ?>
			<?php } ?>
		</ul>
	</div>
</div>
<?php } ?>