<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
$priceType = $block->getprice_type() == 'oldPrice' ? 'asLowAsBasePrice' : 'basePrice';
?>

<?php /** @var \Magento\Tax\Pricing\Render\Adjustment $block */ ?>

<?php if ($block->displayBothPrices()): ?>
    <span id="<?= /* @escapeNotVerified */ $block->buildIdWithPrefix('price-excluding-tax-') ?>"
          data-label="<?= $block->escapeHtml(__('ex. VAT')) ?>"
          data-price-amount="<?= /* @escapeNotVerified */ $block->getRawAmount() ?>"
          data-price-type= "<?= $priceType ?>"
          class="price-wrapper price-excluding-tax">
        <span class="price"><?= /* @escapeNotVerified */ $block->getDisplayAmountExclTax() ?></span></span>
<?php endif; ?>
