<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>

<?php
/**
 * Shopping cart template
 *
 * @var $block \Magento\Checkout\Block\Cart
 */
?>
<?php 
$obm = \Magento\Framework\App\ObjectManager::getInstance();
/** @var \Magento\Framework\App\Http\Context $context */
$context = $obm->get('Magento\Framework\App\Http\Context');
/** @var bool $isLoggedIn */
$isLoggedIn = $context->getValue(\Magento\Customer\Model\Context::CONTEXT_AUTH);
?>
<div class="free-delivery-home">
<?php echo $this->getChildHtml('logo-free-delivery');?>
</div>
<div class="c-steps u-divide-bottom">
    <div class="container-fluid o-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <div class="c-steps__connecting-line"></div>
                <div class="u-row--small">
                    <div class="c-steps__step c-steps__step--active col-xs-4 col-lg-3 u-col-lg-offset-1-5">
                        <div class="c-steps__circle">
                            <span class="sr-only"><?php echo __('Step')?></span>
                            1
                        </div>
                        <span class="c-steps__label"><?php echo __('Your Cart')?></span>
                    </div>

                    <div class="c-steps__step col-xs-4 col-lg-3">
                        <div class="c-steps__circle">
                            <span class="sr-only"><?php echo __('Step')?></span>
                            2
                        </div>
                        <span class="c-steps__label"><?php echo __('Checkout')?></span>
                    </div>
                    <div class="c-steps__step c-steps__step col-xs-4 col-lg-3">
                        <div class="c-steps__circle">
                            <span class="sr-only"><?php echo __('Step')?></span>
                            3
                        </div>
                        <span class="c-steps__label"><?php echo __('Confirmation')?></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="c-cart cart shopping-cart c-section">
    <div class="container-fluid o-wrapper">
    	<div class="row u-padding-bottom-small">
            <div class="col-sm-7 col-lg-6">
                <h1 class="u-inline-block u-flush-bottom u-padding-right"><?php echo __('Your Cart')?></h1>
                <?php if(!$isLoggedIn){ ?>
				<a class="u-inline-block u-padding-bottom-small show-popup-login" data-target="#onestepcheckout-login-popup" data-toggle="modal" href="javascript:void()" title="Already have an account? Login"><?php echo __('Already have an account? Login')?></a>
				<?php } ?>
            </div>
            <div class="col-sm-5 col-lg-6 btn-checkout-cart">
                <button type="button"
                        data-role="proceed-to-checkout"
                        title="<?= /* @escapeNotVerified */ __('Proceed to Checkout') ?>"
                        data-mage-init='{"Magento_Checkout/js/proceed-to-checkout":{"checkoutUrl":"<?= /* @escapeNotVerified */ $block->getCheckoutUrl() ?>"}}'
                        class="btn btn-success button btn-proceed-checkout btn-checkout u-pull-right-sm">
                    <span><?= /* @escapeNotVerified */ __('Proceed to Checkout') ?></span>
                   <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="btn-right-arrow-small-icon" class="u-margin-left-tiny u-flush-right">
                        <title id="btn-right-arrow-small-icon">Button right arrow small icon</title>
                        <path d="M7 18l9.043-8L7 2" stroke-width="2" stroke="#FFF" fill="none" fill-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
        </div>
		<?php
		if ($block->getItemsCount()) {
		    echo $block->getChildHtml('with-items');
		} else {
		    echo $block->getChildHtml('no-items');
		}
		?>
	</div>
</div>