<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MagentoChatSystem
 * @author    Webkul
 * @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<script id="reply_client_template" type="text/x-magento-template">
    <div class="chat-message-client message_container">
         <img class="profile-image" data-bind="attr: {'src': $parent.getProfileImage()}" src="<%- data.image %>" alt="" width="32" height="32">
        <div class="chat-message-client-content triangle-right left clearfix">
			<span class="chat-time"><%- data.time %></span>
			<h5><%- data.customerName %></h5>
            <% if(data.type == 'image') { %>
                <p><a href="<%- data.message %>" target="_blank"><img src="<%- data.message %>" width="100" height="100" class="image-type"></a></p>
            <% } if(data.type == 'file'){ %>
                <p><a href="<%- data.message %>" ><img width="30" height="20" src="<?php echo $block->getDownloadImage(); ?>"><span><?php echo __('Download File'); ?></span></a></p>
            <% } if(data.type != 'file' && data.type != 'image') { %>
			     <p><%= data.message %></p>
            <% } %>
		</div>
    </div>
    <% if (data.statusError == true) { %>
    <p class="status-error"><?php echo __('Support is not available for chat.') ?></p>
    <% } %>
</script>
<script id="reply_admin_template" type="text/x-magento-template">
    <div class="chat-message-admin message_container">
        <img class="profile-image" src="<%- data.adminImage %>" alt="" width="32" height="32">
        <div class="chat-message-admin-content triangle-right right clearfix">
			<span class="chat-time"><%- data.time %></span>
			<h5><%- data.adminName %></h5>
			<% if(data.type == 'image') { %>
                <p><a href="<%- data.message %>" target="_blank"><img src="<%- data.message %>" width="100" height="100" class="image-type"></a></p>
            <% } if(data.type == 'file'){ %>
                <p style="text-align: left;"><a href="<%- data.message %>" ><img width="30" height="20" src="<?php echo $block->getDownloadImage(); ?>"><span><?php echo __('Download File'); ?></span></a></p>
            <% } if(data.type != 'file' && data.type != 'image') { %>
                 <p><%= data.message %></p>
            <% } %>
		</div>
    </div>
</script>
