.content-about {
	color:#231f20;
}
.cms-about-us #maincontent{
	padding:0px;
}
.cms-about-us #maincontent .columns{
	padding:5px 0px;
}
.content-about p,.content-about h3,.content-about span{
	font-family: 'Open Sans';
	letter-spacing: 0;
}
.content-about p{
	margin-bottom: 10px;	
}
.content-about .banner{
	margin:0px 0px 30px 0px;
}
.content-about .hightlight{
	margin:20px 0px;
	font-weight: 400;
}
.content-about .hightlight p{
	color: #27a6dd;
	font-size:17px;
}
.content-about .instruction{
	margin:10px 0px;
}
.content-about .instruction .title{
	margin:30px 0px;
	font-size:21px;
	color:#231f20;
	font-weight: 300;
}
.wrap-our-strength{
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
}
.wrap-our-strength .our-strength{
	width: 25%;
	padding-right: 71px;
}
.wrap-our-strength .description{
	font-size:13px;
	line-height: 25px;
}
.content-about .people p{
	margin-bottom: 7px;
	font-size:13px;
}
.delivery-about-us .delivery{
	color: #27a6dd;
}
.page-wrapper .delivery-about-us .delivery li{
	padding:13px 50px 13px 60px;
	line-height: initial;
}
.delivery-about-us .delivery li:before{
	content:'';
}
.page-wrapper .delivery-about-us .delivery .info-delivery span{
	font-family: 'Open Sans';
}
.page-wrapper .delivery-about-us .delivery .warranty{
	background: url('../images/delivery/18-month-icon.svg') no-repeat 3px 9px;
	background-size:49px 31px;
}
.page-wrapper .delivery-about-us .delivery .day-return{
	background: url('../images/about-us/90-day.png') no-repeat 18px 9px;
}
.page-wrapper .delivery-about-us .delivery .expert-advice{
	background: url('../images/about-us/expert.png') no-repeat 18px 9px;
}
.page-wrapper .delivery-about-us .delivery .fre-deli{
	background: url('../images/about-us/delivery.png') no-repeat 3px 12px;
}
.page-wrapper .delivery-about-us .delivery .fre-irish{
	background: url('../images/about-us/delivery-irish.png') no-repeat 3px 12px;
}
#downloads,#amfaq_product{
	display: none;
}
.new-block-attach{
	padding: 10px;
}
.product .product.data.items > .item.title.active > .switch:after{
	position: absolute;
	top: 100%;
	left: 0px;
	width: 100%;
	height: 2px;
	background: #fff;
	content:'';
	display: inline-block;
}
.list-buld-type ul.content-buld li:before{
	content:'';
}
.fade.active{
	display: block!important;
}
.call-us .icon-phone{
	background:url("../images/category/phone-icon-white.svg");
	height:26px;
}
.call-us{
	padding:7px 13px 1px 13px;
}
#onestepcheckout-login-popup .modal-dialog{
	 -webkit-transform: translate(0, 0)!important;
	  -ms-transform: translate(0, 0)!important;
	  -o-transform: translate(0, 0)!important;
	  transform: translate(0, 0)!important;
}


/*Start Style disable owlcarosel on destop*/
.wrapper-google-trusted .owl-nav div{
position: absolute;
top: 50%;
transform: translateY(-50%);
-webkit-transform: translateY(-50%);
border:1px solid #000;
width: 40px;
height: 40px;
border-radius: 50%;
}
.wrapper-google-trusted .owl-prev{
  left: 0;
  display: flex;
}
.wrapper-google-trusted .owl-next{
  right: 0;
  display: flex;
}
.wrapper-google-trusted .owl-prev i, .wrapper-google-trusted .owl-next i{
  margin: auto;
}
.owl-carousel.off {
    display: block;
}
/*End Style disable owlcarosel on destop*/

@media (min-width:768px) and (max-width:1199px){
	.c-navigation__toolbar-left .call-us{
		display: none;
	}
	.c-navigation__toolbar-left .c-navigation__search-toggle.visible-xs-block{
		display: none!important;
	}
	.c-navigation__home .c-navigation__search {
	    right: 175px;
	    padding-top: 0px;
	    top: 75px;
	  }
}
@media (max-width: 1199px){
	.content-about .wrap-body,.content-about .hightlight{
		padding:0px 15px;
	}
	.page-wrapper .c-banner__utilities .c-banner__utilities-right > li > a{
		line-height: 1;
	}
	.page-wrapper .c-banner__utilities .c-banner__utilities-right > li.user-login{
		padding:8px 7px 18px 5px;
	}	
	.c-banner__utilities .c-banner__utilities-right > li.user-login > a i{
		background:url("../images/category/login-icon-white.svg");
		left:7px;
	}
}
@media (max-width: 991px){
	.wrap-our-strength .our-strength{
		padding:0px 15px;
	}
	.page-wrapper .delivery-about-us .delivery li{
		padding:13px 9px 13px 52px;
	}
	.product .product.data.items > .item.content p{
		font-size:14px;
	}
}
@media (max-width: 767px){
	.product .product.data.items > .item.content p{
		-webkit-text-size-adjust:none!important;
	}
	#onlinebizsoft-product-coundown-event .ob_countdown_timer_container_default .title em,#onlinebizsoft-product-coundown-event .ob_countdown_timer_container_default .title span,.product .product.data.items > .item.content p,.product-info-main .product.attribute.sku,.product-options .select-dropdown-option label,.product-options .selection-bundle-qty label,.product-options .selection-bundle-qty .qty-box input,#product-options-wrapper .bootstrap-select.btn-group .dropdown-toggle .filter-option,.product .product.data.items > .item.title > .switch,.view-countdown .text-footer p, .ob_countdown_timer span.ob_countdown_days_label, .ob_countdown_timer span.ob_countdown_hours_label, .ob_countdown_timer span.ob_countdown_minutes_label, .ob_countdown_timer span.ob_countdown_seconds_label{
		font-size:13px;
	}
	.ask-question-form .ask-form-container textarea, .ask-question-form .ask-form-container input[type="text"], .ask-question-form .ask-form-container input[type="password"], .ask-question-form .ask-form-container input[type="email"],.amfaq_questions .am-title,.ask-question-form .button-container .button-info,.new-block-attach .title-attach h3,.ask-question-form .ask-form-container .field > .label,.ask-question-form .button-container .form-toggle-button,.ask-question-form .ask-form-container .action.primary{
		font-size:13px;
	}
	#onlinebizsoft-product-coundown-event  .ob_countdown_timer_container_default .title{
		text-align: left;
		padding:10px 0 10px 13px;
		line-height: 15px;
	}
	#onlinebizsoft-product-coundown-event .ob_countdown_timer span.ob_countdown_days_number,#onlinebizsoft-product-coundown-event .ob_countdown_timer span.ob_countdown_hours_number,#onlinebizsoft-product-coundown-event .ob_countdown_timer span.ob_countdown_minutes_number,#onlinebizsoft-product-coundown-event .ob_countdown_timer span.ob_countdown_seconds_number{
		line-height: 1;
	}
	#onlinebizsoft-product-coundown-event .ob_countdown_timer_container_default .title em{
		letter-spacing: 0px;
	}
	.product-info-main .product-info-price{
		width:160px!important;
	}
	.product.data.items{
		position: relative;
	    z-index: 1;
	    border-bottom: 0;
	    margin-left: 0;
	    margin-right: 0;
	}
	.product.data.items:before,
	  .product.data.items:after {
	    content: '';
	    display: table;
	}
	.product.data.items > .item.title {
	    float: left;
	    width: auto;
	    margin: 0 -1px 0 0;
	    display: inline-block;
        float: none;
        
	}
	.product.data.items > .item.title:first-of-type{
		padding-left:15px;
	}
	.product.data.items > .item.title > .switch:visited {
	    color: #6d6d6d;
	    text-decoration: none;
	  }
	.product .product.data.items > .item.content{
        padding:35px 0px 35px 0px;
        border:none;
        text-align: left;
        margin-top:24px;
	    box-sizing: border-box;
	    float: right;
	    margin-left: -100%;
	    width: 100%;
	    font-size:13px;
   	}
    .product.data.items .item.title a:after,.product.data.items .item.title.active a:after{
    	content:'';
    }
    .product-info-main .product-info-price .price-box{
    	position: relative;
    }
    .product-info-main .product-info-price .price-box .price-container > span.price-including-tax{
    	position: absolute;
    	left: 100%;
    	width: auto;
    	margin-top:7px;
    }
    .product-info-main .product-info-price .wholesale .price-box .price-container > span.price-including-tax{
    	position: relative;
    	left: initial;
    	width: 100%;
    	margin-top:25px;
    }
    .c-product-detail__tech-specs .small{
    	font-size:13px;
    }
    .product.attribute.sku{
    	padding-top:5px;
    }
    .product-info-main .product-info-price .price-including-tax + .price-excluding-tax, .product-info-main .product-info-price .weee + .price-excluding-tax, .product-info-main .product-info-price .weee{
    	display: inline-block;
    }
    .product-info-main .product-info-price .special-offer-left .special-price span.price-excluding-tax:after{
    	top:0px;
    	position: relative;
    }

    .wrap-our-strength .our-strength{
    	text-align: center;
    	flex: 1 100%;
    }
	.content-about .wrap-body{
		padding:0 15px;
	}
/*	.c-navigation__toolbar-left .call-us{
		display: block;
	}*/
}