img{
    display: unset;
}
/*Blog Page*/
.blog-index-index .breadcrumbs{
    display: none;
}
.blog-index-index .post-list{
    padding-left: 0;
    -webkit-column-count: 4;
    -webkit-column-gap: 30px;
    -moz-column-count: 4;
    -moz-column-gap: 30px;
    column-count: 4;
    column-gap: 30px;
}
.blog-index-index .post-list li{
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    margin-bottom: 40px;
}
#the-main-form .submit-trade button{
    width:100%;
    padding:14px 0px!important;
}
#block-shipping.france_5,#shipping-zip-form{
    display: none!important;
}
.search .hidden-label{
    display: none;
}

@media (max-width:958px) {
    .blog-index-index .post-list{
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}
@media (max-width:676px) {
    .blog-index-index .post-list{
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}
@media (max-width:479px) {
    .blog-index-index .post-list{
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}
.cms-page-view .product-item .tile > .price-label .head-price .price-box .price-including-tax:after{
        bottom:4px;
}
.post-holder{
    background-color: #FFFFFF !important;
}
.post-holder:hover{
    box-shadow: none !important;
    z-index: unset !important;
}
.post-content .post-description{
    display: flex;
    flex-direction: column;
}
.post-content .post-description img{
    margin: 0px !important;
    border-radius: 5px;
    border: 1px solid #eee;
}
.post-content .post-description .post-ftimg-hld{
    margin: 0 !important;
    width: 100% !important;
    margin-bottom: 24px !important;
    position: relative;
}
.post-content .post-description .post-ftimg-hld a{
    display: block;
}
.post-content .post-description:hover .post-ftimg-hld a:after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../images/yellow-layer.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.post-view .post-ftimg-hld{
    display: none;
}
.post-view .post-header .post-info{
    display: none;
}
.post-content .post-description .post-title a{
    font-size: 20px !important;
    color: rgb(47, 48, 58) !important;
}
.post-text-hld .page-title{
    display: none;
}
.post-list-wrapper .post-text-hld p img{
    display: none;
}
.post-text-hld p:blank { display: none; }
.post-text-hld p:-moz-only-whitespace { display: none; }
.post-text-hld p:empty{
    display: none;
}
.post-list-wrapper .post-description .post-text-hld table{
    display: none;
}
.customer-welcome{
    display: none!important;
}
#flycart-overlay{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2000;
    background: rgb(30, 35, 41);
    display: none;
    bottom: 0;
    opacity: 1;
    z-index: 100001!important;
}
.flycart-loading{
    display: none;
    font-size: 15px;
    left: 50%;
    position: fixed;
    top: 50%;
    z-index: 100002!important;
    color: #fff;
    text-align: center;
    background-color: transparent!important;
    margin-left: -168.58px;
    margin-top: -40px!important;
    width: inherit!important;
    border-color: #000000 !important;
    height: 80px !important;
}
.flycart-loading .bokeh {
    font-size: 100px;
    width: 1em;
    height: 1em;
    position: relative;
    margin: 0 auto;
    border-radius: 50%;
    border: .01em solid rgba(150,150,150,0.1);
    list-style: none;
}

.flycart-loading .bokeh:after {
    position: absolute;
    content:'';
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-left: -13px;
    margin-top: -13px;
    background: url('../images/lr-new-ico.png') no-repeat 0 0 ;
    background-size:30px 30px;
}

.flycart-loading .bokeh li {
    position: absolute;
    width: .2em;
    height: .2em;
    border-radius: 50%;
}

.flycart-loading .bokeh li:nth-child(1) {
    left: 50%;
    top: 0;
    margin: 0 0 0 -.1em;
    background: #8ab949;
    -webkit-transform-origin: 50% 250%;
    transform-origin: 50% 250%;
    animation: rota 1.13s linear infinite, opa 3.67s ease-in-out infinite alternate;
}

.flycart-loading .bokeh li:nth-child(2) {
    top: 50%;
    right: 0;
    margin: -.1em 0 0 0;
    background: #1f7eaa;
    transform-origin: -150% 50%;
    animation: rota 1.86s linear infinite, opa 4.29s ease-in-out infinite alternate;
}

.flycart-loading .bokeh li:nth-child(3) {
    left: 50%;
    bottom: 0;
    margin: 0 0 0 -.1em;
    background: #f77225;
    transform-origin: 50% -150%;
    animation: rota 1.45s linear infinite, opa 5.12s ease-in-out infinite alternate;
}

.flycart-loading .bokeh li:nth-child(4) {
    top: 50%;
    left: 0;
    margin: -.1em 0 0 0;
    background: #d30738;
    transform-origin: 250% 50%;
    animation: rota 1.72s linear infinite, opa 5.25s ease-in-out infinite alternate;
}

@keyframes rota {
    from { }
    to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes opa {
    0% { }
    12.0% { opacity: 0.80; }
    19.5% { opacity: 0.88; }
    37.2% { opacity: 0.64; }
    40.5% { opacity: 0.52; }
    52.7% { opacity: 0.69; }
    60.2% { opacity: 0.60; }
    66.6% { opacity: 0.52; }
    70.0% { opacity: 0.63; }
    79.9% { opacity: 0.60; }
    84.2% { opacity: 0.75; }
    91.0% { opacity: 0.87; }
}

.onlinebiz_loading {
    font-size: 30px;
}

.onlinebiz_loading span {
    font-size: 40px;
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.onlinebiz_loading span:nth-child(2) {
    animation-delay: .2s;
}

.onlinebiz_loading span:nth-child(3) {
    animation-delay: .4s;
}

@keyframes blink {
    0% {
        opacity: .2;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: .2;
    }
}

select.sorter-options, select.bundle-option-select{
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
}
input[type="text"].bundle.option{
    border:none !important;
    padding: 6px 0 !important;
    border-radius: 0 !important;
}
.price-including-tax + .price-excluding-tax:before, .weee[data-label]:before{
    content:'';
}
.product-info-price .price-box .price-container .price-including-tax  .price, .price-including-tax:after{
    color: red!important;
    font-weight: 300;
    font-size:13px;
}
.product-info-price .price-box .price-container .price-including-tax + .price-excluding-tax .price,.price-including-tax:after,.price-including-tax + .price-excluding-tax:after{
    font-size: 13px !important;
    font-family: "Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.price-including-tax{
    font-weight: bold;
}
.price-including-tax + .price-excluding-tax:after, .weee[data-label]:after{
    content: attr(data-label);
    padding-left: 5px;
    font-size: 1.1rem;
}
.price-including-tax:after{
    content: attr(data-label);
    padding-left: 5px;
    font-size: 1.1rem;
}
.price-excluding-tax .gavs_symbol,.price-excluding-tax .after_comma{
    font-size: 30px;
}
.price-excluding-tax .gavs_symbol, .price-excluding-tax .gavs_symbol, .price-excluding-tax .after_comma, .price-excluding-tax .after_comma{
    font-weight: 400;
    color:#393f4f;
}
.price-excluding-tax .gav_reprice{
    font-size: 48px;
    color:#393f4f;
}
.multi-select-options .col-price .price-excluding-tax{
    font-size: 12px!important;
    font-weight: normal;
}
.multi-select-options .col-price .price-including-tax,.multi-select-options .col-price .price-excluding-tax:after{
    display: none;
}

/*BASE SELECTOR*/
.class-base-selector{
    width: 861px;
    position: relative;
}
.cms-base-selector .class-base-selector{
    width: 100%;
    position: relative;
    padding-bottom: 15px;
}

.base-unsure-box{
    background: #1D2C37;
    position: relative;
    display: inline-block;
    width: 100%;
}
.base-slt-content{

    background: #fff;
    text-align: left;
}
.base-slt-content h3{
    margin: 5px 0 5px;
    height: 32px;
    display: inline-block;
    padding-left: 5px;
    font-size: 13px;
    font-weight: normal;
    color: #fff;
    line-height: 30px;
    width: 93%;
}

.base-slt-content h3.slt-1{
    background: url(../images/bulb_selector_1.png) no-repeat;
}
.base-slt-content h3.slt-2{
    background: url(../images/bulb_selector_2.png) no-repeat;
}
.base-slt-content h3.slt-3{
    background: url(../images/bulb_selector_3.png) no-repeat;
}
.base-slt-content > div{
    margin: 0 0 10px;
    width: auto;
    float: left;
}
.base-slt-content > div.slt-1, .base-slt-content > div.slt-2 {
    width: 429px;
}
.base-slt-content > div.slt-3, .base-slt-content > div.slt-4 {
    width: 432px !important;
}
#shape-slt-id > div.slt-4{
    width: auto !important;
}

.base-slt-content > div > a{
    display: inline-block;
    padding: 3px 0 3px 3px;
    text-decoration: none;
    float: left;
}
.base-slt-content > div.slt-3 > a:last-child , .base-slt-content > div.slt-4 > a:last-child{
    padding: 3px !important;
}
.base-slt-content div a:hover{
    background: #ec1c24;
}
.base-slt-content > div > a:last-child:after{
    clear:both;
    content:'';
    display: block;
}

div.slt-1 a{background: #1b75bb}
div.slt-2 a{background: #37b34a}
div.slt-3 a{background: #231f20}

.base-slt-content div a img{
    width: 140px;
}
.base-slt-content div > a > span{
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 140px;
    color: #fff;
    overflow: hidden;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 42px;
}
.base-slt-content div a span strong{
    color: #ffe96b;
    background: url(../images/item-span-right.png) no-repeat right center;
    padding-right: 15px;
}
.base-slt-content div > a > span > span{
    display: block;
}
.mini-icon-right{display: none;}
.heading.sub-cat-heading{padding-bottom: 1px;background: none;}
.heading.sub-cat-heading div{font-size: 17px;margin-bottom: 0;}
.products-inner .a-product{
    padding-bottom: 5px;
}
.a-product p.gavs .regular-price .price{

}
#shape-slt-id{display: none;}
#btn-base-slt{background:url(../images/btn-base-show.png) no-repeat 0 0;}
.btn-base-slt-hide{background:url(../images/btn-base-hide.png) no-repeat 0 0 !important;}
#btn-shape-slt{background:url(../images/btn-shape-show.png) no-repeat 0 0;}
.btn-shape-slt-hide{background:url(../images/btn-shape-hide.png) no-repeat 0 0 !important;}
.base-unsure-box button{
    display: inline-block;
    height: 46px;
    width: 196px;
    border: none;
}
.base-unsure-box .btn11{
    position: absolute;
    bottom: 0;
    left: 0;
}
.base-unsure-box .btn22{
    position: absolute;
    bottom: 0;
    left: 210px;
}
.base-unsure-box .unsure-pic {
    float: right;
    width: 45%;
}

.base-unsure-box .email{
    color: #000000;
    font-size: 12px;
    letter-spacing: 7px;
    float: left;
    width: 96.1%;
    background-color: #F0CD04;
    padding: 1px 2%;
}
.base-unsure-box .unsure-pic .take-picture{
    font-size: 12px;
    color: #fff;
    font-family: "segoe_ui_light", "Arial", sans-serif;
}

.base-unsure-box .unsure-pic .text{
    width: 99%;
    padding-right: 8%;
    padding-top: 5px;
    float: left;
    background: url(../images/camera-unsure.png) right 14px no-repeat;
    padding-bottom: 5px;
}
.base-unsure-box .unsure-pic .unsure{
    font-size: 28px;
    line-height: 30px;
    color: #F0CD04;
    font-family: "segoe_ui_light", "Arial", sans-serif;
    float: left;
    padding-right: 10px;
}
.home_choose_products{display: inline-block; width: 100%; min-height: 84px;}
.home_choose_products .select_products{float: left; width: 100%; height: 84px; position: relative;padding-left:0px;}
.home_choose_products .select_products > li{float: left; width: 25%; min-height: 84px;line-height: initial;}
.home_choose_products .select_products > li:before{content:"";}
.home_choose_products .select_products > li a *{opacity: 0.6;}
.home_choose_products .select_products > li.start_here a *{opacity: 1; transition: all 0.3s linear;}
.home_choose_products .select_products > li > a{position: relative; display: block; height: 84px; background: #009245; color: #FFF; padding: 0px 0 0px 70px;}
.home_choose_products .select_products > li.choose_by_base > a{ background: #8ac43f;}
.home_choose_products .select_products > li.choose_by_share > a{ background: #52b548;}
.home_choose_products .select_products > li.start_here > a{ background: #eb1c24; padding: 0 0px 0 10px !important;}
.home_choose_products .select_products > li > a:hover{text-decoration: none;}
.home_choose_products .select_products > li > a:after{z-index: 10; content: ""; position: absolute; left: 100%; top: 0; width: 0; height: 0; border-top: 42px solid transparent; border-bottom: 42px solid transparent; border-left: 40px solid #eb1c24;}
.home_choose_products .select_products > li  a:before{content: ""; position: absolute; right: 16px; top: 4px; width: 74px; height: 74px; background: url(../images/choosebysprites-v2.png) 0 0 no-repeat;  transition: all 0.2s linear; opacity: 0.6;}
.home_choose_products .select_products > li.choose_by_room >  a:before{ background-position: -175px 0; right: 35px;}
.home_choose_products .select_products > li.choose_by_base >  a:before{ background-position: -86px 0;}
.home_choose_products .select_products > li.active a *,
.home_choose_products .select_products > li.active a:before,
.home_choose_products .select_products > li:hover a:before,
.home_choose_products .select_products > li:hover a *{opacity: 1;}
.home_choose_products .select_products > li.start_here >  a:before{display: none;}
.home_choose_products .select_products > li.choose_by_base > a:after{border-left-color: #8ac43f;}
.home_choose_products .select_products > li.choose_by_share > a:after{border-left-color: #52b548;}
.home_choose_products .select_products > li.choose_by_room > a:after{display: none;}
.home_choose_products .select_products > li .small{font-size: 14px; display: inline-block; margin-top: 18px;}
.home_choose_products .select_products > li.start_here .small{margin-top: -4px;}
.home_choose_products .select_products > li .big{font-size: 29px;}
.home_choose_products .select_products > li.start_here .big{font-size: 36px;}
.home_choose_products .select_products li.choose_by_base ul{display: block;}
.home_choose_products .choose_product_contents ul{float: left; width: 100%; text-align: center; background: #8AC43F; display: none;}
.cms-base-selector .home_choose_products .choose_product_contents ul{float: left; width: 100%; text-align: center; background: #8AC43F; display: block;}
.home_choose_products .choose_product_contents ul.by_share_products{background: #52B548;}
.home_choose_products .choose_product_contents ul.by_room_products{background: #009245;}
.home_choose_products .choose_product_contents ul li{display: inline-block; margin: 20px 10px 15px 0;line-height: initial;}
.home_choose_products .choose_product_contents ul li:before{content:"";}
.home_choose_products .choose_product_contents ul li:last-child{ margin-right: 0;}
.home_choose_products .choose_product_contents ul li a{display: inline-block; color: #FFF; padding-top: 85px; min-width: 75px; text-align: center; position: relative; }
.home_choose_products .choose_product_contents ul li a:hover{text-decoration: none;}
.home_choose_products .choose_product_contents ul li a:before{border: 3px solid #FFF; border-radius: 100%; content: ""; position: absolute; width: 77px; height: 77px; left: 50%; top: 0; margin-left: -37.275px; background: url(../images/choosebysprites-v2.png) -3px -97px no-repeat; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -ms-transition: all 0.2s linear; transition: all 0.2s linear; -webkit-transform:scale(0.85); -moz-transform:scale(0.85); -o-transform:scale(0.85); -ms-transform:scale(0.85); transform:scale(0.85);}
.home_choose_products .choose_product_contents ul.by_base_products li a:before{background: url(../images/bulb-selector-base.png) -4px -4px no-repeat;}
.home_choose_products .choose_product_contents ul li:hover a:before{margin-left: -42.5px; background-color: rgba(35, 31, 32, 0.2); -webkit-transform:scale(1); -moz-transform:scale(1); -o-transform:scale(1); -ms-transform:scale(1); transform:scale(1); }
.home_choose_products .choose_product_contents ul li.mr16_12v a:before{background-position: -114px -4px;}
.home_choose_products .choose_product_contents ul li.mr11_12v a:before{background-position: -226px -4px;}
.home_choose_products .choose_product_contents ul li.t5_t8_tube a:before{background-position: -338px -4px;}
.home_choose_products .choose_product_contents ul li.g9 a:before{background-position: -443px -4px;}
.home_choose_products .choose_product_contents ul li.g4_12v a:before{background-position: -555px -4px;}
.home_choose_products .choose_product_contents ul li.e27 a:before{background-position: -665px -4px;}
.home_choose_products .choose_product_contents ul li.e14 a:before{background-position: -777px -4px;}
.home_choose_products .choose_product_contents ul li.b22 a:before{background-position: -885px -4px;}
.home_choose_products .choose_product_contents ul li.b15 a:before{background-position: -993px -4px;}
.home_choose_products .choose_product_contents ul li.downlight a:before{background-position: -1100px -4px;}
.home_choose_products .choose_product_contents ul li.spotlight a:before{background-position: -7px -202px;}
.home_choose_products .choose_product_contents ul li.standard a:before{background-position: -97px -202px;}
.home_choose_products .choose_product_contents ul li.candle a:before{background-position: -185px -202px;}
.home_choose_products .choose_product_contents ul li.golf_ball a:before{background-position: -279px -202px;}
.home_choose_products .choose_product_contents ul li.reflector a:before{background-position: -366px -202px;}
.home_choose_products .choose_product_contents ul li.capsule a:before{background-position: -457px -202px;}
.home_choose_products .choose_product_contents ul li.strip a:before{background-position: -552px -202px;}
.home_choose_products .choose_product_contents ul li.bar a:before{background-position: -642px -202px;}
.home_choose_products .choose_product_contents ul li.panel a:before{background-position: -731px -202px;}
.home_choose_products .choose_product_contents ul li.flood a:before{background-position: -824px -202px;}
.home_choose_products .choose_product_contents ul li.kitchen a:before{background-position: -7px -306.5px;}
.home_choose_products .choose_product_contents ul li.bathroom a:before{background-position: -96px -307.5px;}
.home_choose_products .choose_product_contents ul li.bedroom a:before{background-position: -188px -307.5px;}
.home_choose_products .choose_product_contents ul li.livingroom a:before{background-position: -278px -307.5px;}
.home_choose_products .choose_product_contents ul li.outdoors a:before{background-position: -369px -307.5px;}
.page-main > .page-title-wrapper .page-title{
    margin-top: 20px;
}
.page-layout-1column .bestseller h2.primary-color{
    width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

}
.page-layout-1column .bestseller h2.primary-color:after,.page-layout-1column .bestseller h2.primary-color:before{
    display: none;
}
@media (max-width: 1024px) {
    .home_choose_products .select_products > li a:before {
        background: none !important;
    }
}
@media (max-width: 992px) {
    .home_choose_products .choose_product_contents ul li {
        width: 15%;
    }
    .cms-calculate-saving{
        overflow: initial;
    }
    .google-trust-home .center-img{
        padding:15px;
    }
}
@media (max-width: 768px){
    .home_choose_products .select_products > li.start_here .small{
        display: none;
    }
    .home_choose_products .select_products > li.start_here .big {
        padding-top: 19px;
        display: inline-block;
        font-size: 31px !important;
    }
    .home_choose_products .choose_product_contents ul li {
        width: 20%;
    }
    .base-unsure-box .unsure-pic {
        width: 65%!important;
    }
    table.responsive-table{
        width: 100%!important;
        overflow-x:auto;
    }
    table.responsive-table tr td table,table.responsive-table tr td{
        width:auto!important;
    }
    table.img-table{
        display: block;
    }
    table.img-table tbody{
        display: block;
    }
    table.img-table tbody tr{
        display: block;
    }
    table.img-table tbody tr td{
        display: block;
        text-align: center;
        margin:0 auto;
    }
    .page-layout-1column .bestseller h2.primary-color,.wrapper-google-trusted{
        left: initial;
        right:initial;
        margin-left: -15px;
        margin-right:-15px;
        width: auto;
        text-align: left;
    }
    .page-layout-1column .bestseller h2.primary-color span{
        margin-left: 20px;
    }
    
}
@media (max-width: 640px){
    .home_choose_products .select_products > li.start_here .big {
        padding-top: 26px;
        font-size: 22px!important;
    }
    .home_choose_products .select_products > li > a {
        padding: 0 0 0 42px!important;
    }
    .wrapp-yotpo .yotpo-reviews-carousel .carousel-display-wrapper #carousel-top-panel .carousel-arrows .yotpo_previous{
        left:-15px;
    }
    .wrapp-yotpo .yotpo-reviews-carousel .carousel-display-wrapper #carousel-top-panel .carousel-arrows .yotpo_next{
        right:-15px;
    }
}
@media (max-width: 480px){
    .home_choose_products .select_products > li > a {
        padding: 0 !important;
    }
    .home_choose_products .select_products > li > a:before{
        content: none;
    }
    .home_choose_products .select_products > li > a:after{
        content: none;
    }
    .home_choose_products .choose_product_contents ul li {
        width: 25%;
    }
    .home_choose_products .select_products > li.start_here .big {
        font-size: 19px!important;
        padding-top: 28px;
    }
    .base-unsure-box .unsure-pic {
        width: 100%!important;
    }
}

#calculator_container {
    position: relative;
    margin: 20px auto;
    width: 832px;
    color: #808080;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px
}
#calculator_container:after {
    content: "";
    display: block;
    clear: both
}
#calculator_container p,
#calculator_container td,
#calculator_container img,
#calculator_container li,
#calculator_container form,
#calculator_container input,
#calculator_container object,
#calculator_container ul,
#calculator_container ol {
    padding: 0px;
    margin: 0px
}
#calculator_container .logo {
    position: absolute
}
#calculator_container input[type="text"], #calculator_container select{
    height: 25px !important;
}
#calculator_container .logo.led-supplies {
    width: 243px;
    height: 54px;
    left: 450px;
    top: 120px;
    background: url(../images/logo_led_supplies.png) no-repeat
}
#calculator_container .logo.rabbit {
    width: 300px!important;
    height: 77px;
    left: 374px!important;
    top: 100px;
    background: url(../images/lightrabbit-logo.png) no-repeat!important;
    z-index: 0;
}
#calculator_svg svg {
    position: absolute;
    left: 225px
}
#calculator_container h1 {
    margin: auto;
    font: bold 24px/28px Arial, Helvetica, sans-serif;
    color: #808080
}
#calculator_container .header {
    text-align: right;
    margin: 0 20px 10px 0
}
#calculator_container .calculator_settings {
    float: left;
    border: 1px solid #CCC;
    background-color: #F2F2F2;
    padding: 10px
}
#calculator_container .info_calculator_settings {
    float: left;
    width: 207px;
    border: 1px solid #CCC;
    background-color: #F2F2F2;
    padding: 10px;
    margin-top: 5px
}
#calculator_container .info_calculator_settings p {
    margin: 0px;
    padding: 0px
}
#calculator_svg {
    float: right;
    width: 550px;
    height: 303px;
    border: 1px solid #CCC;
    padding: 10px;
    margin: 0 20px 10px 0;
}
#calculator_container .calculator_result {
    float: right;
    width: 560px;
    height: 230px;
    border: 1px solid #CCC;
    padding: 10px 10px 20px 0;
    margin: 0 20px 0 0;
    text-align: center
}
#calculator_container p {
    font: 13px/18px Arial, Helvetica, sans-serif;
    color: #808080;
    padding: 10px 0 0 0
}
#calculator_container p.close {
    line-height: 100%
}
#calculator_container div.separator {
    display: block;
    width: 100%;
    height: 20px
}
#calculator_container div.separator.small {
    height: 10px
}
#calculator_container table {
    border: 0;
    width: 530px;
    border-spacing: 5px
}
#calculator_container table tr td {
    padding: 0 10px 0 10px;
    text-align: right;
    font: 13px/18px Arial, Helvetica, sans-serif;
    color: #808080
}
#calculator_container .header_bg {
    color: #2066A1;
    text-align: center;
    font-weight: normal
}
#calculator_container .header_halo {
    color: #808080;
    text-align: center;
    font-weight: normal
}
#calculator_container .bg {
    background-color: #2066A1;
    color: #FFF;
    text-align: center;
    font-weight: lighter
}
#calculator_container .bg.red {
    background-color: #e72c2c
}
#calculator_container .halo {
    background-color: #E6E6E6;
    color: #808080;
    text-align: center;
    font-weight: lighter
}
#calculator_container .slider_input {
    width: 50px;
    float: right;
    text-align: center;
    color: #808080
}
#calculator_container .slider {
    width: 130px;
    float: left;
    margin-top: 5px
}
#calculator_container .slider .ui-widget-header {
    background-color: #2066A1;
    background-image: none
}
#state {
    width: 200px;
    color: #808080;
    background: #fff;
    padding: 0;
    border: inset 2px #ebe9ed;
    border-right: solid 1px #ccc;
    border-bottom: solid 1px #ccc
}
#user_type_val {
    width: 80px;
    margin-left: 30px;
    text-align: center;
    color: #808080
}
#halogen_price {
    width: 80px;
    margin-left: 10px;
    text-align: center;
    color: #808080
}
#calculator_container a {
    text-decoration: none;
    color: #00A753
}
#calculator_container a.ui-slider-handle{
    top:0;
}
#calculator_container a:hover,
#calculator_container a:active {color: #0C0}
#angel_app{display:none}
#rabbit-application-container{background-color:#454545;width:650px}
#rabbit-application-container .calculations{margin-left:150px;padding-bottom:10px}
#rabbit-application-container .calculations>div{display:inline-block;vertical-align:middle}
#rabbit-application-container .fieldset{margin:0;padding:3px 20px;width:140px}
#rabbit-application-container .fieldset label{display:block;color:#fff;font-size:9pt}
#rabbit-application-container .fieldset input{border:1px solid #ccc;outline:none;font-size:10pt;padding:5px;width:50px; height: auto !important;background-color:#ccc}
#rabbit-application-container .result{border:1px dashed yellow;color:#fff;padding:10px;border-radius:10px;width:200px;font-size:11pt}
#rabbit-application-container .result .head{font-size:14pt;font-weight:700;margin:0}
#rabbit-application-container canvas{left:0}
.open>.dropdown-menu {
    display: block;
}
.cms-page-view .breadcrumbs{
    display: none;
}


.product-options dl dd .input-box{
    margin-bottom:20px
}
.product-options dl dd .input-box .info-circle{
    display:inline-block;
    width:24px;
    height:22px;
    background:url("../images/bundle_product/info.png") no-repeat;
    vertical-align:top;
    margin-left:5px
}
.product-options dl dt i.info-circle{
    display:inline-block;
    width:24px;
    height:22px;
    background:url("../images/bundle_product/info.png") no-repeat;
    vertical-align:top;
    margin-left:5px
}
.product-options dl dt label{
    font-size:1em
}
.product-options dl dt label.bundle-multi-title{
    font-size:15px;
    color:#a4a6a9;
    font-weight:300
}
.product-options .price{
    font-size:1.25em !important
}
.product-options .qty-box{
    display:inline-block;
    width:90px;
    border:1px solid #27a7de;
    border-radius:3px;
    overflow:hidden;
    text-align:center;
    vertical-align:middle
}
.product-options .qty-box input{
    text-align:center;
    height:48px;
    border-left:1px solid #eaeaee;
    border-right:1px solid #eaeaee;
    border-bottom:none;
    border-top:none;
    width:38%;
    float:left
}
.product-options .qty-box span{
    width:31%;
    background:#27a7de;
    color:#fff;
    cursor:pointer;
    font-size:18px;
    line-height:48px;
    float:left;
    height:48px
}
.product-options .qty-box span.bundle-plus{
    float:right
}
.product-options .bundle-radio-dt{
    margin-top:10px
}
.product-options .bundle-radio-dt label{
    vertical-align:top
}
.product-options .radio-bundle-qty{
    display:inline-block;
    width:100%
}
.product-options .radio-bundle-qty label{
    display:inline-block;
    margin-right:10px;
    vertical-align:top
}
.product-options .bundle-radio-options,.product-options .bundle-checkbox-options{
    padding:12px 18px 24px;
    border:1px solid #c2c3cc;
    border-radius:3px
}
.product-options .bundle-radio-options .options-list,.product-options .bundle-radio-options tr.checkbox-list,.product-options .bundle-checkbox-options .options-list,.product-options .bundle-checkbox-options tr.checkbox-list{
    margin:0
}
.product-options .bundle-radio-options .options-list li,.product-options .bundle-radio-options .options-list td,.product-options .bundle-radio-options tr.checkbox-list li,.product-options .bundle-radio-options tr.checkbox-list td,.product-options .bundle-checkbox-options .options-list li,.product-options .bundle-checkbox-options .options-list td,.product-options .bundle-checkbox-options tr.checkbox-list li,.product-options .bundle-checkbox-options tr.checkbox-list td{
    position:relative
}
.product-options .bundle-radio-options .options-list li input.checkbox,.product-options .bundle-radio-options .options-list li input.radio,.product-options .bundle-radio-options .options-list td input.checkbox,.product-options .bundle-radio-options .options-list td input.radio,.product-options .bundle-radio-options tr.checkbox-list li input.checkbox,.product-options .bundle-radio-options tr.checkbox-list li input.radio,.product-options .bundle-radio-options tr.checkbox-list td input.checkbox,.product-options .bundle-radio-options tr.checkbox-list td input.radio,.product-options .bundle-checkbox-options .options-list li input.checkbox,.product-options .bundle-checkbox-options .options-list li input.radio,.product-options .bundle-checkbox-options .options-list td input.checkbox,.product-options .bundle-checkbox-options .options-list td input.radio,.product-options .bundle-checkbox-options tr.checkbox-list li input.checkbox,.product-options .bundle-checkbox-options tr.checkbox-list li input.radio,.product-options .bundle-checkbox-options tr.checkbox-list td input.checkbox,.product-options .bundle-checkbox-options tr.checkbox-list td input.radio{
    opacity:0 !important;
    position:absolute !important;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
    z-index:20
}
.product-options .bundle-radio-options .options-list li input.checkbox:checked+.label:after,.product-options .bundle-radio-options .options-list li input.radio:checked+.label:after,.product-options .bundle-radio-options .options-list td input.checkbox:checked+.label:after,.product-options .bundle-radio-options .options-list td input.radio:checked+.label:after,.product-options .bundle-radio-options tr.checkbox-list li input.checkbox:checked+.label:after,.product-options .bundle-radio-options tr.checkbox-list li input.radio:checked+.label:after,.product-options .bundle-radio-options tr.checkbox-list td input.checkbox:checked+.label:after,.product-options .bundle-radio-options tr.checkbox-list td input.radio:checked+.label:after,.product-options .bundle-checkbox-options .options-list li input.checkbox:checked+.label:after,.product-options .bundle-checkbox-options .options-list li input.radio:checked+.label:after,.product-options .bundle-checkbox-options .options-list td input.checkbox:checked+.label:after,.product-options .bundle-checkbox-options .options-list td input.radio:checked+.label:after,.product-options .bundle-checkbox-options tr.checkbox-list li input.checkbox:checked+.label:after,.product-options .bundle-checkbox-options tr.checkbox-list li input.radio:checked+.label:after,.product-options .bundle-checkbox-options tr.checkbox-list td input.checkbox:checked+.label:after,.product-options .bundle-checkbox-options tr.checkbox-list td input.radio:checked+.label:after{
    border-color:#1f89b4
}
.product-options .bundle-radio-options .options-list li input.checkbox:checked+.label.checkbox-style:after,.product-options .bundle-radio-options .options-list li input.radio:checked+.label.checkbox-style:after,.product-options .bundle-radio-options .options-list td input.checkbox:checked+.label.checkbox-style:after,.product-options .bundle-radio-options .options-list td input.radio:checked+.label.checkbox-style:after,.product-options .bundle-radio-options tr.checkbox-list li input.checkbox:checked+.label.checkbox-style:after,.product-options .bundle-radio-options tr.checkbox-list li input.radio:checked+.label.checkbox-style:after,.product-options .bundle-radio-options tr.checkbox-list td input.checkbox:checked+.label.checkbox-style:after,.product-options .bundle-radio-options tr.checkbox-list td input.radio:checked+.label.checkbox-style:after,.product-options .bundle-checkbox-options .options-list li input.checkbox:checked+.label.checkbox-style:after,.product-options .bundle-checkbox-options .options-list li input.radio:checked+.label.checkbox-style:after,.product-options .bundle-checkbox-options .options-list td input.checkbox:checked+.label.checkbox-style:after,.product-options .bundle-checkbox-options .options-list td input.radio:checked+.label.checkbox-style:after,.product-options .bundle-checkbox-options tr.checkbox-list li input.checkbox:checked+.label.checkbox-style:after,.product-options .bundle-checkbox-options tr.checkbox-list li input.radio:checked+.label.checkbox-style:after,.product-options .bundle-checkbox-options tr.checkbox-list td input.checkbox:checked+.label.checkbox-style:after,.product-options .bundle-checkbox-options tr.checkbox-list td input.radio:checked+.label.checkbox-style:after{
    background:#1f89b4
}
.product-options .bundle-radio-options .options-list li .label,.product-options .bundle-radio-options .options-list td .label,.product-options .bundle-radio-options tr.checkbox-list li .label,.product-options .bundle-radio-options tr.checkbox-list td .label,.product-options .bundle-checkbox-options .options-list li .label,.product-options .bundle-checkbox-options .options-list td .label,.product-options .bundle-checkbox-options tr.checkbox-list li .label,.product-options .bundle-checkbox-options tr.checkbox-list td .label{
    padding-left:35px;
    position:relative;
    white-space:inherit;
    text-align:left;
    display:block;
    padding:0px
}
.product-options .bundle-radio-options .options-list li .label.checkbox-style:after,.product-options .bundle-radio-options .options-list td .label.checkbox-style:after,.product-options .bundle-radio-options tr.checkbox-list li .label.checkbox-style:after,.product-options .bundle-radio-options tr.checkbox-list td .label.checkbox-style:after,.product-options .bundle-checkbox-options .options-list li .label.checkbox-style:after,.product-options .bundle-checkbox-options .options-list td .label.checkbox-style:after,.product-options .bundle-checkbox-options tr.checkbox-list li .label.checkbox-style:after,.product-options .bundle-checkbox-options tr.checkbox-list td .label.checkbox-style:after{
    background:#e6e6e6;
    border-radius:0;
    border:0
}
.product-options .bundle-radio-options .options-list li .label.checkbox-style:before,.product-options .bundle-radio-options .options-list td .label.checkbox-style:before,.product-options .bundle-radio-options tr.checkbox-list li .label.checkbox-style:before,.product-options .bundle-radio-options tr.checkbox-list td .label.checkbox-style:before,.product-options .bundle-checkbox-options .options-list li .label.checkbox-style:before,.product-options .bundle-checkbox-options .options-list td .label.checkbox-style:before,.product-options .bundle-checkbox-options tr.checkbox-list li .label.checkbox-style:before,.product-options .bundle-checkbox-options tr.checkbox-list td .label.checkbox-style:before{
    content:'';
    position:absolute;
    left:0;
    top:0;
    -moz-border-bottom-colors:none;
    -moz-border-left-colors:none;
    -moz-border-right-colors:none;
    -moz-border-top-colors:none;
    border-color:#fff;
    border-image:none;
    border-style:solid;
    border-width:0 2px 2px 0;
    height:12px;
    left:8px;
    top:8px;
    transform:rotate(45deg);
    width:5px;
    z-index:10
}
.product-options .bundle-radio-options .options-list li .label img,.product-options .bundle-radio-options .options-list td .label img,.product-options .bundle-radio-options tr.checkbox-list li .label img,.product-options .bundle-radio-options tr.checkbox-list td .label img,.product-options .bundle-checkbox-options .options-list li .label img,.product-options .bundle-checkbox-options .options-list td .label img,.product-options .bundle-checkbox-options tr.checkbox-list li .label img,.product-options .bundle-checkbox-options tr.checkbox-list td .label img{
    position:absolute
}
.product-options .bundle-radio-options .options-list li:hover .label:after,.product-options .bundle-radio-options .options-list td:hover .label:after,.product-options .bundle-radio-options tr.checkbox-list li:hover .label:after,.product-options .bundle-radio-options tr.checkbox-list td:hover .label:after,.product-options .bundle-checkbox-options .options-list li:hover .label:after,.product-options .bundle-checkbox-options .options-list td:hover .label:after,.product-options .bundle-checkbox-options tr.checkbox-list li:hover .label:after,.product-options .bundle-checkbox-options tr.checkbox-list td:hover .label:after{
    border-color:#1f89b4
}
.product-options .bundle-checkbox-options{
    border:none;
    padding:0;
    border-radius:0
}
.product-options .product-options .bundle-radio-options .options-list td .label,.product-options .product-options .bundle-radio-options tr.checkbox-list td .label,.product-options .product-options .bundle-checkbox-options tr.checkbox-list td .label,.product-options .product-options .bundle-checkbox-options .options-list td .label{
    padding-left:0px
}
.product-options .product-options .bundle-radio-options .options-list td .label label,.product-options .product-options .bundle-radio-options tr.checkbox-list td .label label,.product-options .product-options .bundle-checkbox-options tr.checkbox-list td .label label,.product-options .product-options .bundle-checkbox-options .options-list td .label label{
    padding-left:35px
}
#product-options-wrapper .bootstrap-select.btn-group .dropdown-toggle .caret{
    background:url("../images/bundle_product/arrow-down.png") no-repeat;
    width:29px;
    height:15px;
    border:none;
    top:39%
}
#product-options-wrapper .bootstrap-select.btn-group .dropdown-menu li a{
    font-size:14px
}
#product-options-wrapper .bootstrap-select>.dropdown-toggle{
    padding-right:44px
}
#product-options-wrapper .bootstrap-select.btn-group .dropdown-toggle .filter-option{
    font-size:14px
}
#product-options-wrapper dd .bundle-option-multi table tr td span.price{
    font-size:13px;
    font-weight: 400;
}
#product-options-wrapper dd .bundle-option-multi table tr td >span.price{
    position: relative;
}
#product-options-wrapper dd .bundle-option-multi table tr td span.price .price-including-tax{
    position: absolute;
    left: 20px;
    top:40px;
}
#product-options-wrapper dd .bundle-option-multi table tr td span.price .price-excluding-tax{
    margin-bottom: 25px;
}

.caret{
    display:inline-block;
    width:0;
    height:0;
    margin-left:2px;
    vertical-align:middle;
    border-top:4px dashed;
    border-top:4px solid \9;
    border-right:4px solid transparent;
    border-left:4px solid transparent
}
.dropup,.dropdown{
    position:relative
}
.dropdown-toggle:focus{
    outline:0
}
.dropdown-menu{
    position:absolute;
    top:100%;
    left:0;
    z-index:1000;
    display:none;
    float:left;
    min-width:160px;
    padding:5px 0;
    margin:2px 0 0;
    list-style:none;
    font-size:16px;
    text-align:left;
    background-color:#fff;
    border:1px solid #ccc;
    border:1px solid rgba(0,0,0,0.15);
    border-radius:5px;
    -webkit-box-shadow:0 6px 12px rgba(0,0,0,0.175);
    box-shadow:0 6px 12px rgba(0,0,0,0.175);
    background-clip:padding-box
}
.dropdown-menu.pull-right{
    right:0;
    left:auto
}
.dropdown-menu .divider{
    height:1px;
    margin:11px 0;
    overflow:hidden;
    background-color:#e5e5e5
}
.dropdown-menu>li>a{
    display:block;
    padding:3px 20px;
    clear:both;
    font-weight:normal;
    line-height:1.5;
    color:#333;
    white-space:nowrap
}
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus{
    text-decoration:none;
    color:#262626;
    background-color:#f5f5f5
}
.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus{
    color:#fff;
    text-decoration:none;
    outline:0;
    background-color:#2ba8db
}
.dropdown-menu>.disabled>a,.dropdown-menu>.disabled>a:hover,.dropdown-menu>.disabled>a:focus{
    color:#8c8c8c
}
.dropdown-menu>.disabled>a:hover,.dropdown-menu>.disabled>a:focus{
    text-decoration:none;
    background-color:transparent;
    background-image:none;
    filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
    cursor:not-allowed
}
.open>.dropdown-menu{
    display:block
}
.open>a{
    outline:0
}
.dropdown-menu-right{
    left:auto;
    right:0
}
.dropdown-menu-left{
    left:0;
    right:auto
}
.dropdown-header{
    display:block;
    padding:3px 20px;
    font-size:14px;
    line-height:1.5;
    color:#8c8c8c;
    white-space:nowrap
}
.dropdown-backdrop{
    position:fixed;
    left:0;
    right:0;
    bottom:0;
    top:0;
    z-index:990
}
.pull-right>.dropdown-menu{
    right:0;
    left:auto
}
.dropup .caret,.navbar-fixed-bottom .dropdown .caret{
    border-top:0;
    border-bottom:4px dashed;
    border-bottom:4px solid \9;
    content:""
}
.dropup .dropdown-menu,.navbar-fixed-bottom .dropdown .dropdown-menu{
    top:auto;
    bottom:100%;
    margin-bottom:2px
}
.product-options .bootstrap-select.form-control{
    border:1px solid #2BA8DB;
    background:none;
    display:block !important
}
.product-options .bootstrap-select.form-control button{
    background:none !important;
    text-transform:initial
}
.product-options .select-dropdown-option{
    float:left;
    width:72%;
    margin-right:4%
}
.product-options .select-dropdown-option label{
    font-size:1em
}
@media (min-width: 768px){
    .navbar-right .dropdown-menu{
        right:0;
        left:auto
    }
    .navbar-right .dropdown-menu-left{
        left:0;
        right:auto
    }
    .c-cart__table > tbody > tr > td:first-child{
        min-width:144px;
    }
    .cart.table-wrapper .item td.col.item{
        width:500px;
    }
    .cart.table-wrapper tbody td{
        padding-top:31px;
    }
}
.open>.dropdown-menu {
    display: block;
}
.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
div.range-attribute-filter{
    text-align:center;
    margin-bottom:20px;
}
div.range-attribute-filter .range input{
    border-radius: 5px;
    padding: 6px 12px;
    min-width: 58px;
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid #c2c4cc;

}
div.range-attribute-filter .range{
    margin:24px 20px 16px 0;
    padding-top:0px;
}
div.range-attribute-filter .ui-slider-handle{
    background:#2ba8db;
}
#slider-price-range .ui-slider-range.ui-widget-header{
    background: #2ba8db;
    height: 4px;
    position: absolute;
}
div.range-attribute-filter .ui-slider-handle{
    height:14px;
    width:14px;
    left:-3px;
    top:-5px;
}
div.ui-slider-horizontal{
    background: #dedede;
    height: 4px;
}
div.range-attribute-filter .ui-state-hover,
div.range-attribute-filter .ui-widget-content .ui-state-hover,
div.range-attribute-filter .ui-widget-header .ui-state-hover,
div.range-attribute-filter .ui-button:hover {

    background: #2ba8db;
    font-weight: normal;
    color: #2ba8db;
}






@media (max-width: 640px){

    div.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--prev:not(:focus),div.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--next:not(:focus){
        transform:initial;
        -webkit-transform:initial;
    }

    div.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr,div.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon{
        opacity:1;

    }
    .fotorama__arr, .fotorama__thumb__arr{
        background:none!important;
    }


}


.product-wrapper .wrapper-availables .price-container .price{
    font-size:14px;

}

.product-wrapper .wrapper-availables .wrapper-scroll table tbody td.td-first{
    vertical-align:middle;
}

.product-for-project{
    border:2px solid #b6b6b8;
    margin-top:20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-left:0px;
    margin-right:0px;
}
.wrap-product-project{
    margin-top:40px;
    margin-bottom:50px;
}
.product-for-project .product-information{
    padding-left:20px;
}
.product-for-project h2{
    margin: 42px 0px 0px 0px;
}
.product-for-project .action h2{
    padding-left:20px;
}
.product-for-project .action .col-lg-2{
    width: 20%;
    float:left;
}
.product-for-project .img img{
    padding:25px 0px;
}
.product-for-project p.varation{
    font-size: 16px;
    margin-bottom: 0px;
}
.product-for-project p.qty{
    margin:25px 0px 35px 0px;
    font-size: 16px;
}
.product-for-project dl dt{
    float:left;
    padding-right:6px;
    font-size: 14px;
}
.product-for-project dl dd{
    font-size: 14px;
    color:#9395a3;
}
.form-add-project .form-option-item{
    clear:both;
    border:1px solid #b6b6b6;
    margin-bottom:20px;
    padding:15px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}
.form-add-project .form-group .error-selection{
    border:1px solid red!important;
}
.form-add-project .right-padding{
    padding-right:0px;
}
.form-add-project .left-padding{
    padding-left:0px;
}
.clear-fix-float{
    clear:both;
}
.product-for-project .action{
    padding-bottom: 42px;
}
.product-for-project .action a i{
    display: block;
    margin:0 auto;
    font-size: 23px;
    margin-bottom: 5px;
}
.product-for-project .action .text-center{
    text-align: center;
}
.form-create-project .btn-save-project{
    padding:10px 71px;
    color:#000;
}
.project-create .page-title h1{
    font-size: 31px;
}
.project-create .des-right p{
    margin-bottom: 25px;
}
.form-create-project .form-control{
    border:1px solid #b6b6b6!important;
}
.add-project .btn-success{
    padding:10px 31px;
    color:#000;
}
.form-add-project .form-control{
    border:1px solid #b6b6b6!important;
    color:#999;
}
.add-project .page-title h1{
    font-size: 31px;
}
#summary-project{
    padding-bottom: 60px;
}
#summary-project .new-project .btn-success{
    color:#000;
}
#summary-project table{
    border-collapse: separate;
}
#summary-project table thead tr{
    background: #28a7de;
}
#summary-project table tbody tr{
    border:1px solid #b6b6b8;
}
#summary-project table tr td{
    padding:22px 18px;
    border-bottom: 1px solid  #b6b6b8;
    border-top: none;
}
.icon-remove-sign {
    width:23px;
    height:23px;
    display: inline-block;
    background:url('../images/remove.png') no-repeat;
}
#summary-project table tbody tr td:first-of-type{
    border-left:1px solid #b6b6b8;
}
#summary-project table tbody tr td:last-of-type{
    border-right:1px solid #b6b6b8;
}
#summary-project table thead tr th{
    color:#fff;
    border-bottom: none;
    padding:22px 18px;
}
#summary-project table thead tr th:first-of-type{
    border-radius: 5px 0px 0px 0px;
    -moz-border-radius: 5px 0px 0px 0px;
    -webkit-border-radius: 5px 0px 0px 0px;
}
#summary-project table thead tr th:last-of-type{
    border-radius: 0px 5px 0px 0px;
    -moz-border-radius: 0px 5px 0px 0px;
    -webkit-border-radius: 0px 5px 0px 0px;
}
#summary-project table thead tr th{
    border-right:1px solid #92d3ef;
}
#summary-project .fa-eye{
    font-size: 31px;
    width:45px;
    display:inline-block;
}
#summary-project .fa-shopping-cart{
    font-size: 28px;
    width:42px;
}
.wrap-link-project .link-project{
    margin-bottom: 28px;
    margin-top: 20px;
}
.wrap-link-project .link-project .title-summary{
    line-height: 50px;
    font-size: 24px;
}
.wrap-link-project .summary-project{
    margin-bottom: 30px;
}
.wrap-link-project .link-project .link .btn{
    float:right;
    padding:12px 52px;

}
.wrap-link-project .link-project .link .btn-transparent{
    color:#28a7de;
    background: none;
    border:1px solid #28a7de;
    margin-right:17px;
}
.project-information .title-des{
    text-transform: uppercase;
}
.project-information .btn-project .btn{
    color:#000;
    background: #ffdb17;
    padding:7px 35px;
    font-size: 14px;
}
.project-information .btn-project{
    margin-top: 5px;
}
.project-information .btn-project .btn-pdf{
    padding:7px 15px;
}
.project-information .btn-project .btn-quote{
    padding:7px 36px;
}
.project-information .btn-project .btn-share{
    padding:7px 51px;
}
.project-information .btn-project .btn-add{
    padding:7px 26px;
}
.project-information h4{
    margin:30px 0px;
}
.project-information .title-des{
    color:#999;
}
.btn-yellow{
    background: #ffdb17;
    color: #000 !important;
}
.share-social{
    position: relative;
    display: inline-block;
}
.addthis_sharing_toolbox{
    position: absolute;
    top:-60px;
    left:50%;
    margin-left:-65px;
    display: none;
}
.share-social .active{
    display: block;
}
.btn-yellow:hover{
    background:#ffdb17;
    color:#000;
}
.no-project{
    padding:10px 0px;
}
.form-create-project .des-right h4{
    padding:12px 0px 28px 0px;
}
.form-add-project .change-drop{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('../images/dropdown.png') no-repeat right center;
}
.form-add-project .change-drop.error{
    border-color:#ff6f69 !important;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.project-information .share-icon{
    background: url('../images/share.png') no-repeat;
    display: inline-block;
    width:16px;
    height:18px;
}
.form-add-project .btn-create-pro{
    padding-left:0px;
}
.form-add-project .padding-right{
    padding-right:0px;
}
.form-add-project .btn-create-pro a{
    padding:10px 30px;
    background: none;
    color:#2ba8db;
    border:1px solid #2ba8db;
    width:100%;
}
.form-add-project .btn-create-pro a i{
    font-size: 0.8em;
}
.form-add-project p{
    padding:12px 5px;
    color: #999;
    margin:0px;
}
.link-project-bottom{
    padding-bottom: 30px;
}
.link-project-bottom .btn-transparent{
    background: none;
    color:#28a7de;
    border:1px solid #28a7de;
    padding:7px 52px;
}
.wrap-product-project .btn{
    display: inline-block;
}
.link-project-bottom .btn{
    display: inline-block;
}
.addthis_sharing_toolbox{
    background: url('../images/bg_content_social.png') no-repeat;
    width: 128px;
    height: 60px;
}
.addthis_default_style .at300b, .addthis_default_style .at300bo, .addthis_default_style .at300m{
    padding:13px 3px!important;
}
.addthis_sharing_toolbox .addthis_button_facebook{
    padding-left:20px!important;
}
@media(max-width: 1199px){
    .wrap-link-project .link-project .link .btn{padding:12px 38px!important;}
}
@media (max-width:992px) {
    .form-add-project .padding-right{
        width:100%;
        padding-right: 15px!important;
    }
    .form-add-project p{
        width:100%;
        padding:0px 0px 25px 5px!important;
    }
    .form-add-project .btn-create-pro{
        width:100%;
        padding-left: 15px!important;
        margin-bottom: 25px;
    }
}
@media (max-width: 768px) {
    .product-for-project .action .text-center{
        padding:10px 0px;
    }
    .wrap-link-project .link-project .link .btn{
        width:50%;
        margin:10px auto!important;
        display: block;
        float:none!important;
    }
}
@media (max-width: 640px) {
    .link-project-bottom .btn-link-pro .btn-yellow{
        width:100%;
    }
    .link-project-bottom .btn-link-pro .btn-transparent{
        width:100%;
        margin-top:15px;
    }
}
@media (max-width: 480px) {
    project-create .page-title h1{
        font-size:28px;
    }
    .wrap-link-project .link-project .link .btn{
        width:100%;
        margin:10px 0px!important;
    }
    #summary-project .new-project .btn-success{
        width:100%;
    }
    .form-create-project .btn-save-project{
        width:100%;
    }
    .breadcrumb{
        padding-top:0px;
    }
    .add-project .btn-success{
        width:100%;
    }
    .project-information .btn-project .btn{
        width:100%;
        margin:10px 0px;
    }
    .product-for-project h2{
        font-size: 22px;
    }
    .wrap-product-project .share-social{
        width: 100%;
    }
    .product-for-project .action .col-lg-2{
        width:50%;
    }
    .product-for-project .action .col-lg-2.icon-del{
        width: 100%;
    }
}
/*Dashboard*/
.dashboard-acount .btn{
    display: inline-block;
}
.has-submenu .child-dropdown{
    display:none;
}
.qty-box .qty-disabled{
    background: #eaeaee!important;
}
@media (max-width:1199px){
    .has-submenu .child-dropdown{
        display:inline;
    }
   
}

.new-block-attach{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    margin: 45px 0;
}
@media only screen and (min-width : 320px) {
    .new-block-attach .item{
        -moz-flex-basis: 50%;
        -ms-flex-basis: 50%;
        flex-basis: 50%;
        max-width: 50%;
        text-align: center;
        margin-bottom: 50px;
    }
}

@media only screen and (min-width : 768px) {
    .new-block-attach .item{
        -moz-flex-basis: 25%;
        -ms-flex-basis: 25%;
        flex-basis: 25%;
        max-width: 25%;
        text-align: center;
        margin-bottom: 50px;
    }
}


.new-block-attach .c-product-detail__download-pdf{
    background-color: #27a7de;
    width: 129px;
    height: 49px;
    border-radius: 5px;
    display: block;
    color: #fff;
    margin: 0 auto;
    line-height: 49px;
}

.new-block-attach .title-attach h3{
    font-size: 14px;
    margin-top: 10px;
}

.new-block-attach .thumbnail-attach img{
    box-shadow: 3px 3px 3px #ddd;
    -moz-box-shadow: 3px 3px 3px #ddd;
    -webkit-box-shadow: 3px 3px 3px #ddd;
    width: 88px;
    height: 125px;
}

.product-info-main .wholesale .wholesale-border{
    border:1px solid #f00;
    border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
}
.product-info-main .product-info-price .price-box{
    padding:5px;
    display: none;
}
.product-info-main .product-info-price  .wholesale-border .price-box{
    width: 100%;
}
.product-info-main .product-info-price .wholesale{
    display: none;
}
.show-bottom-price .price-excluding-tax{
    display:none!important;
}
.product-item .tile > .price-label .head-price .show-bottom-price span.lowest-price,.product-item .tile > .price-label .head-price .show-bottom-price span.price-label{
    font-weight: 400;
    display: block;
}

.product-item .tile > .price-label .head-price{
    position: relative;
    min-width:92px;

}
.head-price >div >.price-final_price,.head-price >div >.old-price,.head-price >div >.minimal-price >.price-final_price{
    position: absolute;
    padding:0px;
    left:50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    margin:0px;
    margin-left:-46px;
    top:13px;
}
.head-price .not-show-aslowas,.head-price .show-aslowas{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    top:13px;
}
.head-price .not-show-aslowas{
    margin-left:-15px;
}
.head-price .show-aslowas{
     margin-left:-45px;
}
.head-price >div >.old-price.sly-old-price{
    position: relative;
    padding:0px;
    left:auto;
    transform: initial;
    margin:0px;
    margin-left:0px;
    top:0px;
}
.head-price >div >.minimal-price >.price-final_price{
    margin-left:-21px;
}
.head-price-custom >div >.price-final_price,.head-price-custom >div >.old-price{
    left:32px;
    top:12px;
}
.head-price >div >.price-final_price >span,.head-price >div >.old-price >span{
    padding: 0px!important;
    margin:0px;
}
.product-item .tile > .price-label .head-price:after{
    content:'';
    display: table;
    clear: both;
}
.product-item .tile > .price-label .head-price .price-exclude-custom,.product-item .tile > .price-label .head-price .show-bottom-price{
    float:left;
}   
.product-item .tile > .price-label .head-price .price-exclude-custom{
    position: relative;
    height:44px;
    padding:3px 12px 3px 12px;
    font-weight: 400;
    font-size:26px;
}
.product-item .tile > .price-label .head-price .price-exclude-custom .exclude{
    content:'';
    display: inline-block;
    position: absolute;
    left: 12px;
    top:30px;
    font-weight: 700;
    font-size:8px;
}   
.product-item .tile > .price-label .head-price .show-bottom-price{
    height:44px;
    padding: 11px 7px 4px 7px;
    border-radius: 0px 3px 0px 0px;
    -webkit-border-radius: 0px 3px 0px 0px;
    -moz-border-radius: 0px 3px 0px 0px;
    -ms-border-radius: 0px 3px 0px 0px;
    line-height: 7px;
}
.product-item .tile > .price-label .head-price div.show-bottom-price span{
    margin-bottom: 5px;
    font-size:11px;
}
.product-item .tile > .price-label .head-price .show-bottom-price >span:first-of-type{
    font-weight: 400;
}
.product-item .tile > .price-label .head-price .price-box .price-including-tax:after{
    font-size:8px!important;
    left: 100%;
    bottom:2px;
    color:#2f303a!important;
    font-weight: 600;
    top:18px;
    padding-left: 2px;

}
.product-item .tile > .price-label .head-price-custom .price-box .price-including-tax:after{
    right:-24px;
}
.product-item .price-box .price{
    font-size:9px;
    font-weight: 400;
}
.product-item .tile > .price-label .head-price .price-box > .price-container, .product-item .tile > .price-label .head-price .price-box .special-price .price-container, .product-item .tile > .price-label .head-price .price-box .minimal-price .price-container, .product-item .tile > .price-label .head-price .price-box .price-from .price-container, .product-item .tile > .price-label .head-price .price-box .old-price .price-container{
    width:auto;
    padding:0px;
}
.product-item .tile > .price-label .head-price a{
    padding:0px;
    background: none;
}
.product-item .tile > .price-label .head-price a span.price-label{
    font-weight: 700;
}
#shopping-cart-table a.action-delete:before{
    content:''!important;
}
.wrap-qty-cart{
    width:100px;
    border:1px solid #ebeced;
    overflow: hidden;
    border-radius:3px;
    height:40px;
}
.shopping-cart table td.qnt-count .incr-btn{
    width:31%;
    float:left;
    height:40px;
    border-radius: 0px;
    color:#fff;
    background: #e2e3e4;
}   
.shopping-cart table td.qnt-count .form-control{
    float:left;
    width:38%;
    height:40px;
    border-radius: 0px;
    border: none;
    box-shadow: none;
}
.shopping-cart table td.qnt-count .incr-right{
    float: right;
}

.cart.table-wrapper .col.subtotal .price-including-tax,.cart.table-wrapper .col.subtotal .price-excluding-tax{
    font-size:14px;
}
.cart.table-wrapper .col.price .price-including-tax,.cart.table-wrapper .col.price .price-excluding-tax{
    font-size:14px;
    text-align: center;
}
.cart.table-wrapper .col.subtotal .price-including-tax .cart-price .price,.cart.table-wrapper .col.subtotal .price-excluding-tax .cart-price .price{
    color:#000;
}
.cart.table-wrapper .col.price .price-including-tax .cart-price .price,.cart.table-wrapper .col.price .price-excluding-tax .cart-price .price{
    color:#000;
    font-weight: 400;
}
.c-cart__cart #shopping-cart-table thead tr th.col{
    text-align: center;
    color:#000;
    font-size:17px;
}
.c-cart__cart #shopping-cart-table thead tr th.col:first-of-type{
    text-align: left;
}
.c-cart__cart #shopping-cart-table > thead > tr > th:nth-of-type(2){
    width:400px;
    text-align: left;
}
.c-cart__cart #shopping-cart-table td.wholesale .wrap-whole .wholesale-content{
    background: url('../images/wholesale/bg-wholesales-cart.png') no-repeat right top;
    position: absolute;
    width:56px;
    right:0px;
    min-height:40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.c-cart__cart #shopping-cart-table td.wholesale .wrap-whole {
    position: relative;
    width:auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin-top:19px;
}
.c-cart__cart #shopping-cart-table td.wholesale .wrap-whole .wholesale-price {
    padding-right:36px;
    height:40px;
}
.c-cart__cart #shopping-cart-table td.wholesale .wrap-whole .wholesale-price .price-including-tax,.c-cart__cart #shopping-cart-table td.wholesale .wrap-whole .wholesale-price .price-excluding-tax{
    padding-top:10px;
    padding-left:10px;
    text-align: left;
    font-size:14px;
}
.c-cart__cart #shopping-cart-table td.wholesale{
    width:auto;
    min-width: 155px;
}
.c-cart__cart #shopping-cart-table td.wholesale .wrap-whole .wholesale-content > p{
    font-size:8px;
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.c-cart__cart #shopping-cart-table td.wholesale .wrap-whole .wholesale-content > p:first-child{
    padding-top:12px;
}
.cart.table-wrapper .item td.col.item .c-cart__product-name a{
    font-weight: 400;
}
.cart.table-wrapper .item td.col.item .c-cart__product-name{
    color:#45485c;
    font-weight: 400;
}
.google-trust-home{
    text-align: center;
}
.google-trust-home .center-img{
    position: relative;
    height:92px;
    display: inline-block;
    padding:15px 20px;
}
.google-trust-home .center-img img{
    height: 60px;
}
.google-trust-home .center-img.ce img,.google-trust-home .center-img.lia img{
    height:32px;
}
.google-trust-home .center-img.green img{
    height:40px;
}
.google-trust-home .center-img.iso9001 img{
    height:36px;
}
.google-trust-home #gtsh_container.center-img img{
    margin-left:0px;
    height:36px;
}
.wrapper-google-trusted .wrapper-badget-trusted img{
    height:44px;
}
div.google-trust-home #y-badges .y-badge{
    padding-left: 0px;
    width:70px;
}
div.google-trust-home #y-badges .y-badge-stars{
    left:11px;
}
div.google-trust-home #y-badges .y-badge-reviews{
    top:-52px;
}
div.google-trust-home #y-badges .y-badges-certified{
    top:50px;
    left:-14px;
}


.product-info-main .product-info-price .price-box .price-container > span.price-including-tax{
    float:right;
    margin-top:22px;
    width:100%;
    text-align: center;
}
.product-options-bottom .price-box .price-container .price, .product-info-price .price-box .price-container .price{
    font-size:13px;
}

.product-item .tile > .price-label .head-price .show-bottom-price span.price-container{
    display: inline;
}
.product-item .tile > .price-label .head-price .show-bottom-price span.price-container .price-wrapper {
    display: inline-block;
}
.product-item .tile > .price-label .head-price .show-bottom-price span.incl-as-low-price{
    display: inline-block;
}
.product-item .tile > .price-label .head-price .special-offer-left{
    float: left;
    padding:0px 22px;
    background: #dd1c24;
    height:45px;
    color:#fff;
    position: relative;
}
.product-item .tile > .price-label .head-price .special-offer-left span.label-old-price{
    display: inline-block;
    font-weight: 700;
}
.product-item .tile > .price-label .head-price .special-offer-left.discount-price .lowest-price{
    display: none;
}
.product-item .tile > .price-label .head-price .old-price.sly-old-price{
    color: #fff;
}
.product-item .tile > .price-label .head-price .old-price.sly-old-price .price-excluding-tax{
    display: block;
}
.product-item .tile > .price-label .head-price .old-price.sly-old-price .price-excluding-tax .price{
    margin-top:-1px;
    margin-left:-6px;
    text-decoration: line-through;
}
.product-item .tile > .price-label .head-price .old-price.sly-old-price .price-including-tax,.product-item .tile > .price-label .head-price .old-price.sly-old-price .price-excluding-tax:after{
    display: none;
}


.product-item .tile > .price-label .head-price .special-offer-left .special-price .price-excluding-tax{
    font-size:9px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.product-item .tile > .price-label .head-price .special-offer-left .special-price .price-excluding-tax .price{
    font-size:23px;
    font-weight: 400;
}
.product-item .tile > .price-label .head-price div.special-offer-left span{
    color:#fff;
    font-size:9px;
}
.product-item .tile > .price-label .head-price .special-offer-left .special-price{
    display: block;
}
.product-item .tile > .price-label .head-price .special-offer-left .special-price .price-including-tax{
    display: block;
    margin-top:9px;
    font-size:9px;
    margin-left:-31px;
    position: relative;
}
.product-item .tile > .price-label .head-price .special-offer-left .special-price .price-including-tax:after{
    content: attr(data-label);
    padding-left: 2px;
    font-size: 9px!important;
    color:#fff!important;
    position: absolute;
    right:-32px;
    top:0px;
    font-weight: 700;
    display: inline-block!important;
 }
.product-item .tile > .price-label .head-price .special-offer-right{
    float: left;
    width:52px;
    height:45px;
    font-size:9px;
    padding:8px;
    text-align:center;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 400;
}
.product-item .tile > .price-label .head-price  .special-offer-left .sly-old-price{
    display: inline-block;
    font-size:9px;
    margin:2px;
}
.product-item .tile > .price-label .head-price  .discount-price.special-offer-left .sly-old-price .price-including-tax{
    font-size:9px;
    display: none!important;
}
.product-item .tile > .price-label .head-price .show-bottom-price span.price-excluding-tax{
    display: inline-block!important;
    margin-top:0px;
}
.product-item .tile > .price-label .head-price .show-bottom-price span.price-excluding-tax:before,.product-item .tile > .price-label .head-price .show-bottom-price span.price-excluding-tax:after{
    content: '';
    font-size: 0px;
}


.product-item .tile > .price-label .head-price .show-bottom-price span.price-including-tax{
    display:none!important;
}
.show-bottom-price.discount-price,.show-bottom-price.discount-price .price-excluding-tax,.product-item .tile > .price-label .head-price .show-bottom-price.special-offer-left span.price-including-tax{
    display:block!important;
}
.show-bottom-price.discount-price .lowest-price{
    display:none;
}
.product-info-price .old-price.sly-old-price .price-including-tax{
    display:none;
}
.product-info-price .old-price.sly-old-price .price-including-tax{
    display:none!important;
}
.show-bottom-price.discount-price .special-price .price-excluding-tax .gavs_symbol,.show-bottom-price.discount-price .special-price .price-excluding-tax .gav_reprice,.show-bottom-price.discount-price .special-price .price-excluding-tax .after_comma{
    color:#dd1c24;
}
.show-bottom-price.discount-price .special-price .price-including-tax .price,.show-bottom-price.discount-price .special-price .price-including-tax .price{
    color:#2f303a;
}
.product-info-price  .special-offer-right{
    display: none;
}
.product-info-price .special-offer-left .old-price.sly-old-price .price-excluding-tax{
    display: inline!important;
}
.product-info-price .show-bottom-price.discount-price .special-price .price-including-tax .price,.product-info-price .show-bottom-price.discount-price .special-price .price-including-tax:after{
    color:#2f303a!important;
}
.product-info-price .special-offer-left .old-price.sly-old-price .price-excluding-tax{
    text-decoration: line-through;
    font-size:13px;
    color:#dd1c24;
}
.product-info-price .special-offer-left .old-price.sly-old-price .price-excluding-tax .price{
    font-weight: 400!important;
}
.product-info-price .special-offer-left .old-price.sly-old-price .price-excluding-tax:after{
    content:'';
}
.product-info-main .product-info-price .special-offer-left .special-price span.price-including-tax{
    margin-top:26px;
}
.product-info-main .product-info-price .special-offer-left .special-price span.price-excluding-tax{
    position: relative;
}
.product-info-main .product-info-price .wholesale .special-offer-left .special-price span.price-excluding-tax{
    margin-left: 5px;
}
.product-info-main .product-info-price .special-offer-left .special-price span.price-excluding-tax .price{
    font-size:48px!important;
    font-weight: 400;
    color:#dd1c24;
}
.product-info-main .product-info-price .special-offer-left .special-price span.price-excluding-tax:after{
    content: attr(data-label);
    padding-left: 5px;
    font-size: 13px;
    position: relative;
    top:0px;
    color:#2f303a!important;
}
.product-info-price .discount-price.special-offer-left .label-old-price{
    display: inline-block;
    margin-bottom: 8px;
    font-size: 14px;
    color:#dd1c24;
    margin-left:13px;
}
.product-info-price .discount-price.special-offer-left{
   height: auto;
   text-align: center;
   display: inline-block!important;
   padding-right:0px;
}
 .product-info-price .price-box .old-price .price-container > span{
    display: block;
 }
  .product-info-price .price-box .old-price .price-excluding-tax >.price{
    font-size:48px;
    font-weight: 400;
 }

 .product-info-main div.table-save-price .tierpries-wapper{
    width:100%;
    border-radius: 5px;
    border:1px solid #fdc892;
    padding:0px 0px 15px 0px;
    background: #fffae4;
 }
 .product-info-main div.table-save-price .tierpries-wapper .table-tierprice{
    background: #fffae4;    
    border-radius: 5px;
 }
 .product-info-main .table-save-price .tierpries-wapper .table-tierprice-title{
    color:#ec2b2e;
    margin:0px;
    padding-left: 15px;
    line-height: 40px;
    height: 40px;
    font-size:15px;
 }
 .product-info-main div.table-save-price .tierpries-wapper .prices-saving tr th, .product-info-main div.table-save-price .tierpries-wapper .prices-saving tr td{
    padding:5px 15px;
 }
 .product-info-main div.table-save-price .tierpries-wapper .prices-saving tr th, .product-info-main div.table-save-price .tierpries-wapper .prices-saving tr:nth-of-type(2n+1){
    background: #fee6c4;  
 }
 .product-info-main div.table-save-price .tierpries-wapper .prices-saving tr:nth-of-type(2n){
    background:  #fffae4;  
 }
 .product-info-main div.table-save-price .tierpries-wapper .prices-saving tr{
    border:none;
 }
.head-price .minimal-price-link,.head-price .price-excluding-tax,.head-price .price-including-tax{
    position: relative;
}
.cc-revoke{
    display: none!important;
}
.cms-page-view ul.text-indent li{
    margin-left: 18px;
}

#back-to-top-act{
    display: none!important;
}
.product-item .tile > .price-label .head-price .show-bottom-price span{
    font-weight: 700;
}
.c-footer strong{
    font-weight: 400;
}
@supports (-webkit-overflow-scrolling: touch) {
  /* CSS specific to iOS devices */ 
  .c-banner__utilities .c-banner__utilities-right>li>a{
        padding-left:0px;
    }
    @media (max-width: 767px){
        .c-banner__utilities .c-banner__utilities-right>li.user-login>a i.user-icon{
            left:-12px;
        }
        .c-banner__utilities .c-banner__utilities-right>li.user-login{
            padding: 0 22px;

        }
    }
}
@media (max-width: 768px){
    .product-info-main .product-info-price .price-box .price-container>span{
        float:none;
    }
}
@media (max-width: 640px){
    .c-mini-cart__total .actions .primary .btn-proceed-checkout{
        font-size:15px;
    }
}

.message.success,.message.error,.message.notice,.message.warning,.message.info{
    font-size:1em;
}
.message.error > *:first-child:before,.message.success > *:first-child:before,.message.info > *:first-child:before,.message.warning > *:first-child:before{
    font-size:17px;
    line-height: 27px;
}


/*Start Style Q&A*/
.product .product.data.items > .item.title > .switch{
    height:47px;
    line-height: 47px;
    color:#00abec;
    font-weight: 300;
    background:none;
    border:none;
}
.product .product.data.items > .item.title > .switch,.product .product.data.items > .item.title > .switch:visited{
     color:#00abec;
}
.product .product.data.items > .item.title:not(.disabled) > .switch:focus,.product .product.data.items > .item.title:not(.disabled) > .switch:hover{
    background: none;
}
.product .product.data.items > .item.title.active > .switch{
    border:1px solid #00abec;
    border-bottom: 1px solid #fff;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    color:#414042!important; 
}
.amfaq-search .am-input{
    width:100%;
}
.product.data.items:before{
    width:100vw;
    left: 50%;
    right: 50%;
    margin-left:-50vw;
    margin-right:-50vw;
    top:47px;
    position: relative;
    border-bottom: 1px solid #00abec;   
}
.product .product.data.items > .item.title > .switch{
        font-size:19px;
        font-family: 'Open Sans';
        border:1px solid #fff;
        border-bottom: 1px solid #00abec;
}
.product .product.data.items > .item.content{
    font-family: 'Open Sans';
    color:#414042;
    font-size: 14px;
}
.product .product.data.items > .item.content p{
    font-size:14px;
    margin-bottom: 14px;
}
.ask-question-form .ask-form-container .field > .label{
    font-weight: 700;
    margin-top:10px;
}
.ask-question-form .fieldset > .field.required > .label:after{
    font-size:1em;
}
.ask-question-form .ask-form-container .field > .label.notification{
    font-weight: 300;
    margin-bottom: 0px;
}
.ask-question-form .ask-form-container .action.primary{
    text-transform: uppercase;
    padding:16px 48px;
    margin-top: 10px;
    font-size:14px;
}

.amfaq_questions .am-title .amfaq-question,.amfaq_questions .am-item .amfaq-answer{
    position: absolute;
    top:0px;  
    left:0px;
    font-weight: 700;
    color: #414042;
}
.amfaq_questions .am-title,.amfaq_questions .am-item .am-content .wrap-amfaq-answer{
    padding-left:92px;
    position: relative;
}
.amfaq_questions .am-item .am-content .wrap-amfaq-answer{
    padding-bottom: 10px;
}
.ask-question-form .ask-form-container  textarea,.ask-question-form .ask-form-container input[type="text"],.ask-question-form .ask-form-container input[type="password"],.ask-question-form .ask-form-container input[type="email"]{
    font-size:14px;
    border:1px solid #00abec!important;
    line-height: 42px;
    height:42px;
}
.ask-question-form .ask-form-container label input[type="checkbox"]{
    height: 1.2em;
    width: 1.2em;
    vertical-align: middle;
    margin: 0 0.4em 0.4em 0;
    border: 1px solid #00abec;
    -webkit-appearance: none;
    -webkit-transition: box-shadow 200ms;
     box-shadow:inset 1px 1px 0 #fff, 0 1px 1px rgba(0,0,0,0.1);
     position: relative;
}
.ask-question-form .ask-form-container label input[type="checkbox"]:checked:before {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
    content: '\f00c';
    -webkit-margin-start: 0;
    margin-left: 2px;
    font-size: 0.9em;
    font:normal normal normal 13px/1 FontAwesome;
    position: absolute;
}
.ask-question-form .ask-form-container  textarea{
    min-height: 42px;
    line-height: 28px;
}
.ask-form-container .fieldset > .field,.ask-form-container .fieldset > .fields > .field{
    margin-bottom: 10px;
}
.ask-question-form .ask-form-container .field > .label.required:after{
    font-size: 14px;
}
.amfaq-rating .amfaq-rating-voting, .amfaq-rating .amfaq-rating-yesno{
    position: relative;
}
@media (min-width: 768px){
   .product .product.data.items > .item.content{
        padding:35px 0px 35px 0px;
        border:none;
        text-align: left;
        margin-top:62px;
   }
   .product .product.data.items > .item.title{
        display: inline-block;
        float: none;
        padding-left:15px;
   }
    .amfaq-product-tab{
        width:56%;
    }
}
@media (max-width: 1199px){
    .amfaq-product-tab{
        width: 100%;
    }
}
@media (max-width: 767px){
   .amfaq-rating .amfaq-rating-voting, .amfaq-rating .amfaq-rating-yesno{
        padding:0px 10px;
        width:100%;
        min-height: 42px;
    }
   .amfaq-product-tab{
        padding: 15px;
   }
   .amfaq-rating .amfaq-rating-data-wrapper{
        display: block;
        padding:0px;
        margin:0px;
   }
   .amfaq-rating .amfaq-rating-yesno-vote{
        position: absolute;
   }
   .amfaq-rating .yesvote{
        right:50px;

   }
   .amfaq-rating .novote{
        position: absolute;
        right:5px;   
   }
   .amfaq-rating{
        width:80%;
   }
}
@media (max-width: 480px){
    .product.data.items{
        margin-left: 5px;
        margin-right: 5px;
    }
    .amfaq-rating{
        width:100%;
    }
}
/*End Style Q&A*/

@media screen and (max-width: 767px){
    .wrap-gallery-placeholder{
        width:60%;
        margin:0 auto;
    }
    .google-trust-home .center-img{
        display: -webkit-box; 
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex; 
        display: flex;
        align-items: center;
        justify-content:center;
    }
}
@media screen and (max-width: 480px){
    .wrap-gallery-placeholder{
        width:100%;
    }
}
.product-info-main .wrap-add-cart{
    clear:both;
}
@media (max-width:479px) {
    .google-trust-home #gtsh_container{
        padding: 15px 8px;
    }
    .wrapper-google-trusted .google-trust-home .wrapper-badget-trusted{      
        padding:15px 9px 15px 8px;
    }
    .wrapper-google-trusted .wrapper-badget-trusted img{
        height: 36px;
    }
}