<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Faq
 */
?>
<?php
/**
 * @var \Amasty\Faq\Block\Lists\CategoryList $block
 */

$currentCategoryId = $block->getCurrentCategoryId();
if ($categories = $block->getCategories()) : ?>
    <div class="amfaq_categories">
        <div class="item title">
                <?= $block->escapeHtml(__('Categories')); ?>
        </div>
        <?php foreach ($categories as $category) : ?>
            <div class="item<?= ($category->getCategoryId() == $currentCategoryId) ? ' current':''; ?>">
                <a href="<?= $block->escapeUrl($block->getCategoryUrl($category)) ?>">
                    <?= $block->escapeHtml($category->getTitle()); ?>
                </a>
            </div>
        <?php endforeach; ?>
    </div>
<?php endif; ?>