<?php $_objectManager = \Magento\Framework\App\ObjectManager::getInstance(); //instance of\Magento\Framework\App\ObjectManager
$storeManager = $_objectManager->get('Magento\Store\Model\StoreManagerInterface');
$currentStore = $storeManager->getStore();
$media_url = $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA)?>
<div class="full-screen-slider">
    <div id="banner-slider-demo-4">
        <div class="item overlay-cover black-cover">
                
        </div>
    </div>
    <div class="wrap-scroll-down">
        <a class="scroll-down" href="#wrap-gallery-row"><img src="<?php echo $media_url."wysiwyg/Banners/dropdown-icon.png" ?>"></a>
    </div>
</div>
<div id="wrap-gallery-row" class="row gallery-row">
    <div class="col-md-3 col-sm-6 col-xs-6">
        <a class="image-link" href="#">
            <img src="<?php echo $media_url."wysiwyg/smartwave/porto/homepage/04/slider/image1.gif" ?>" alt="" />
        </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6">
        <a class="image-link" href="#">
            <img src="<?php echo $media_url."wysiwyg/smartwave/porto/homepage/04/slider/image2.gif" ?>" alt="" />
        </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6">
        <a class="image-link" href="#">
            <img src="<?php echo $media_url."wysiwyg/smartwave/porto/homepage/04/slider/image3.gif" ?>" alt="" />
        </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 last-item">
        <a class="image-link" href="#">
            <img src="<?php echo $media_url."wysiwyg/smartwave/porto/homepage/04/slider/image4.gif" ?>" alt="" />
        </a>
    </div>
</div>
<!--RECOMMEND PRODUCT-->
<?php //echo $this->getLayout()->createBlock('Magento\Catalog\Block\Product\ListProduct')->setCategoryId('249')->setTemplate('Magento_Catalog::product/owl-list.phtml')->toHtml()?>
<!--SUBCRIBE BANNER-->
<div class="subcribe-banner">
    <div class="overlay-cover">
        <?php echo $this->getChildHtml('home.newsletter')?>
    </div>

</div>
<!--RECENT PROJECT-->
<div class="project-row">
    <div class="title">Recent Projects</div>
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-6">
            <a class="image-link" href="#">
                <img src="<?php echo $media_url."wysiwyg/smartwave/porto/homepage/04/slider/images1.jpg" ?>" alt="" />
            </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <a class="image-link" href="#">
                <img src="<?php echo $media_url."wysiwyg/smartwave/porto/homepage/04/slider/images2.jpg" ?>" alt="" />
            </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <a class="image-link" href="#">
                <img src="<?php echo $media_url."wysiwyg/smartwave/porto/homepage/04/slider/images3.jpg" ?>" alt="" />
            </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 last-item">
            <a class="image-link" href="#">
                <img src="<?php echo $media_url."wysiwyg/smartwave/porto/homepage/04/slider/images4.jpg" ?>" alt="" />
            </a>
        </div>
    </div>
</div>