<?php

$paramData = $this->getRequest()->getParams();
$agentName = '';
$msgDate = '';
if (isset($paramData['agent'])) {
	$agentName = $paramData['agent'];
}
if (isset($paramData['msg_date'])) {
	$msgDate = $paramData['msg_date'];
}
?>
<div class="wk-mp-design">
	<fieldset class="fieldset info wk-mp-fieldset">
		<legend class="legend">
			<span><?php echo __('Customer chat history') ?></span>
		</legend>
		<div class="grid">
			<div class="hor-scroll">
				<form action="<?php echo $block->getUrl('chatsystem/customer/history', ['_secure' => $this->getRequest()->isSecure()])?>" method="get" id="form-productlist-filter"  name="formProductlistFilter" data-mage-init='{"validation":{}}'>
					<table cellspacing="0" class="border wk-mp-list-table">
					    <thead>
					        <tr id="wk-mp-tr-heading">
					            <th><span><?php echo __('Agent Name') ?></span></th>
					            <th><span><?php echo __('Message Date') ?></span></th>
					            <th><span>&nbsp;</span></th>
					        </tr>
					    </thead>
					    <tbody class="wk-mp-body">
					    	<tr>
					    		<td>
					    			<input type="text" class="input-text" name="agent" placeholder='<?php echo __('Search by agent name') ?>' value="<?php echo $agentName?>"/>
					    		</td>
					    		<td>
					    			<span class="">
					    				<input type="text" name="msg_date" id="special-from-date" class="input-text" value="<?php echo $msgDate?>" placeholder='<?php echo __('Search by message date') ?>' />
					    			</span>
					    		</td>
					    		<td>
					    			<button class="button" title="Save" type="submit">
										<span><span><span><?php echo __('Submit') ?></span></span></span>
									</button>
					    		</td>
					    	</tr>
					    </tbody>
					</table>
				</form>
				<?php if ($block->getHistoryCollection()->getSize()): ?>
					<table cellspacing="0" class="border wk-mp-list-table wk-mp-list-container-table">
						<thead>
					        <tr class="wk-content">
								<th class="wk-first-td">
					    			<span class="label name">
										<?php echo __('Sender Name')?>
									</span>
								</th>
								<th>
									<span class="label name">
										<?php echo __('Receiver Name')?>
									</span>
								</th>
								<th>
									<span class="label name">
										<?php echo __('Message')?>
									</span>
								</th>
								<th>
									<span class="label name">
										<?php echo __('Message Date Time')?>
									</span>
					    		</th>
				    		</tr>
			    		</thead>
			    		<tbody>
			    			<?php
			    			$customerUniqueId = $block->getCustomerUniqueId();
			    			foreach ($block->getHistoryCollection() as $history) : ?>
			    				<tr class="wk-row-view">
			    					<td>
			    						<?php if ($history->getSenderUniqueId() == $customerUniqueId): ?>
			    							<span><?php echo __('You'); ?></span>
		    							<?php else: ?>
		    								<span><?php echo $history->getAgentName(); ?></span>
			    						<?php endif; ?>
			    					</td>
			    					<td>
			    						<?php if ($history->getReceiverUniqueId() == $customerUniqueId): ?>
			    							<span><?php echo __('You'); ?></span>
		    							<?php else: ?>
		    								<span><?php echo $history->getAgentName(); ?></span>
			    						<?php endif; ?>
			    					</td>
			    					<td>
			    						<?php if (strpos($history->getMessage(), 'data:image') !== false) { ?>
					                        <span>
					                        	<a target="_blank" href="<?php echo $history->getMessage(); ?>">
					                        		<img src="<?php echo $history->getMessage(); ?>" width="50" height="50">
					                        	</a>
				                        	</span>
					                    <?php } elseif (strpos($history->getMessage(), 'data:') !== false && strpos($history->getMessage(), 'base64') !== false) { ?>
					                        <a href="<?php echo $history->getMessage(); ?>">
				                        		<img src="<?php echo $block->getViewFileUrl('Webkul_MagentoChatSystem::images/download.png'); ?>" width="50" height="50">
				                        	</a>
					                    <?php } else { ?>
					                        <?php echo $history->getMessage(); ?>
					                    <?php } ?>
			    					</td>
			    					<td>
			    						<span><?php echo date('Y-m-d h:i A', strtotime($history->getDate())); ?></span>
			    					</td>
			    				</tr>

			    			<?php endforeach; ?>
			    		</tbody>
					</table>
				<?php endif; ?>
			</div>
		</div>
		<?php if ($block->getPagerHtml()): ?>
	        <div class="order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
	    <?php endif ?>
	</fieldset>
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "Webkul_MagentoChatSystem/js/view/chat-history": {}
        }
    }
</script>
