<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /* @var $block \Magento\Bundle\Block\Catalog\Product\View\Type\Bundle\Option\Multi */ ?>
<?php $_option = $block->getOption() ?>
<?php $_selections = $_option->getSelections() ?>
<?php $_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$imagehelper = $_objectManager->create('Magento\Catalog\Helper\Image');
?>
<dl class="last">
<dt>
    <label class="bundle-multi-title" for="bundle-option-<?= /* @escapeNotVerified */ $_option->getId() ?>">
        <?= $block->escapeHtml($_option->getTitle()) ?><i class="info-circle"></i>
    </label>
</dt>
<dd>
<?php if ($block->showSingle()): ?>
    <?= /* @escapeNotVerified */ $block->getSelectionQtyTitlePrice($_selections[0]) ?>
    <input type="hidden"
           name="bundle_option[<?= /* @escapeNotVerified */ $_option->getId() ?>]"
           value="<?= /* @escapeNotVerified */ $_selections[0]->getSelectionId() ?>"/>
<?php else: ?>
    <div class="input-box bundle-option-multi multi-select-options<?php echo ($_option->getRequired()) ? ' qtys-required':''; ?>">
        <table>      
        <?php foreach ($_selections as $_selection): ?>
            <?php $id = $_selection->getProductId();
                $product = $_objectManager->get('\Magento\Catalog\Model\Product')->load($id);
                $short_des =  $product->getShortDescription();
                $name_product = $product->getName();
                $img_thumb = $imagehelper->init($product,'product_page_more_views')->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(50,50)->getUrl();
            ?>
            <tr>
                   <td class="col-name">
                        <input type="hidden" id="bundle-option-<?php echo $_selection->getId() ?>" name="bundle_option[<?php echo $_option->getId() ?>][]" value="<?php echo $_selection->getSelectionId() ?>"/>
                        <span class="label"><i class="info-circle info-event-hover"></i><img src="<?php echo $img_thumb;?>"/><label><?php echo $this->escapeHtml($_selection->getName()); ?></label><div style="clear:both;"></div></span>
                    </td>
                     <td class="col-price">
                            <?php
                            $price = $block->renderPriceString($_selection, false);
                            echo $price;
                        ?>              
                    </td>
                    <td class="col-qty">
                        <div class="info-item-product">
                            <div class="info-left">
                                <img src="<?php echo $imagehelper->init($product,'product_page_more_views')->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(130,130)->getUrl();?>"/>
                            </div>
                            <div class="info-right-content">
                                <h3 class="name-pro"><?php echo $name_product;?></h3>
                                <div class="info-product">
                                    <div class="short-des col-lg-7 col-md-7 col-sm-7 col-xs-6"><?php echo $short_des;?></div>
                                    <div class="info-price-product col-lg-5 col-md-5 col-sm-5 col-xs-6">
                                         <?php
                                            $price_custom = $block->renderCustomPriceString($_selection, false);
                                            echo $price_custom;
                                        ?>   
                                         <?php echo $this->getChildHtml("rate_star");?>
                                    </div>
                                </div>
                            </div>  
                        </div>
                        <div class="qty-box small  bundle-multi-qty">
                            <span class="bundle-minus incr-btn">&ndash;</span>
                            <input class="bundle option qty-mobie" data-role="bundleQtyInline" data-option-id="<?php echo $_option->getId() ?>" data-selection-id="<?php echo $_selection->getSelectionId() ?>" id="bundle-option-<?php echo $_option->getId() ?>-multiqty-input-<?php echo $_selection->getSelectionId() ?>"  <?php if (!$_selection->isSaleable()) echo ' disabled="disabled"' ?> type="text" value="0" name="bundle_option_qty[<?php echo $_option->getId() ?>][<?php echo $_selection->getSelectionId(); ?>]"/>
                            <span class="bundle-plus incr-btn">+</span>
                        </div>
                    </td>
            </tr>
                <?php endforeach; ?>   
        </table>
    </div>
 <?php endif; ?>


