<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<?php /* @var $block \Magento\Bundle\Block\Catalog\Product\View\Type\Bundle\Option\Select */ ?>
<?php $_option      = $block->getOption(); ?>
<?php $_selections  = $_option->getSelections(); ?>
<?php $_default     = $_option->getDefaultSelection(); ?>
<?php list($_defaultQty, $_canChangeQty) = $block->getDefaultValues(); ?>

<dl>                                            
    <dt></dt>
    <dd>
        <div class="input-box select-dropdown-option">
            <label class="<?= ($_option->getRequired()) ? ' required': '' ?>"><?= __($block->escapeHtml($_option->getTitle())) ?><?php if ($_option->getRequired()) echo '<span>*</span>' ?></label>
                <i class="info-circle"></i>
                <select id="bundle-option-<?= /* @escapeNotVerified */ $_option->getId() ?>"
                        name="bundle_option[<?= /* @escapeNotVerified */ $_option->getId() ?>]"
                        data-selector="bundle_option[<?= /* @escapeNotVerified */ $_option->getId() ?>]"
                        class="bundle-option-<?= /* @escapeNotVerified */ $_option->getId() ?> product bundle selectpicker required-entry form-control bundle-option-select change-container-classname"
                    <?php if ($_option->getRequired()) echo 'data-validate = {required:true}' ?>>
                    <option value=""><?= /* @escapeNotVerified */ __('Choose a selection...') ?></option>
                    <?php foreach ($_selections as $_selection): ?>
                        <?php 
                              $titleSelect = explode('-',strip_tags($block->getSelectionTitlePrice($_selection, false)));
                              $get_titleSelect = trim(end($titleSelect));
                              $get_titleSelect = str_replace('+','',$get_titleSelect);
                              $get_titleSelect = str_replace(PHP_EOL, '', $get_titleSelect);
                              $get_titleSelect = str_replace(array('    ','   ','  ',' '), ' ', $get_titleSelect);
                              $get_titleSelect = preg_replace('/(.*)\s+(\£\d+\.\d+|\€\d+\.\d+|\$\d+\.\d+)\s+(\£\d+\.\d+|\€\d+\.\d+|\$\d+\.\d+)/i','${1} ${3}',$get_titleSelect);
                        ?>
                        <option value="<?= /* @escapeNotVerified */ $_selection->getSelectionId() ?>"
                            <?php if ($block->isSelected($_selection)) echo ' selected="selected"' ?>
                            <?php if (!$_selection->isSaleable()) echo ' disabled="disabled"' ?>>
                            <?= /* @escapeNotVerified */ $get_titleSelect; ?>
                        </option>
                    <?php endforeach; ?>
                </select>
    </div>
        <div class="qty-holder selection-bundle-qty">
            <label for="bundle-option-<?= /* @escapeNotVerified */ $_option->getId() ?>-qty-input"><?= /* @escapeNotVerified */ __('Quantity') ?></label>
            <div class="qty-box">
                <span class="bundle-minus incr-btn">–</span>
                <input <?php if (!$_canChangeQty) echo 'readonly'; ?>
                           id="bundle-option-<?= /* @escapeNotVerified */ $_option->getId() ?>-qty-input"
                           class="input-text qty-mobie qty<?php if (!$_canChangeQty) echo ' qty-disabled' ?>"
                           type="number"
                           name="bundle_option_qty[<?= /* @escapeNotVerified */ $_option->getId() ?>]"
                           data-selector="bundle_option_qty[<?= /* @escapeNotVerified */ $_option->getId() ?>]"
                           value="<?= /* @escapeNotVerified */ $_defaultQty ?>"/>
                <span class="bundle-plus incr-btn">+</span>
            </div>
        </div>


    </dd>
</dl>
<script type="text/javascript">
    (function  () {
        require(['jquery','bootstrap/select'],function($){
            $(document).ready(function() {
                $('select.selectpicker').selectpicker();
            });
        });  
    })();
</script>