<div class="left-sidebar-category">
    <div class="custom-block">
        <div class="block block-border block-category-nav">
            <div class="block-title">Category</div>
            <div class="block-content">
                <?php echo $this->getCategorySidebarHtml(); ?>
            </div>
        </div>
    </div>
</div>
