<?php
    $_postCollection = $block->getPostCollection();

?>
<?php if ($_postCollection->count()) { ?>
<div class="recent-blog">
    <h2 class="filterproduct-title"><span class="content"><strong><?php echo __("Wired News & Tips");?></strong></span></h2>
    <div class="slider-blog-recent">
<?php foreach ($_postCollection as $_post) {

         $create_date = $_post->getCreationTime();
         $month = date("M",strtotime($create_date));
         $date = date("d",strtotime($create_date));
    ?>
    <div class="custom-block">
        <div class="recent-posts">
            <div class="recent-inner">
                <div class="post-image"><img src="http://test1.ledlights.co.uk/media/wysiwyg/i8ohou-wlo4-tirza-van-dijk.jpg" alt="">
                    <div class="post-date"><span class="day"><?php echo $date?></span> <span class="month"><?php echo $month;?></span></div>
                </div>
                <div class="post-content">
                    <div class="postTitle">
                    <h2><a href="<?php echo $_post->getPostUrl() ?>"><?php echo $block->escapeHtml($_post->getTitle()) ?></a></h2>
                    </div>
                    <div class="postContent">
                    <?php echo $_post->getShortContent(); ?>
                    </div>
                    <a class="readmore" href="<?php echo $_post->getPostUrl() ?>"><?php echo __("(Read more)");?></a>
                </div>
            </div>
        </div>
    </div>
    
 <?php  } ?>
 </div>
 </div>
<?php } ?>