<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/** @var \Magento\Contact\Block\ContactForm $block */
?>
<div class="breadcrumbs breadcrumbs-contact">
    <ul class="items">    
        <li class="item">
            <strong>Contacts</strong>
        </li>
    </ul>
</div>
<div><h2><?php echo __("Contact us"); ?></h2></div>
<section class="map">
<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('contact-us-gmap')->toHtml();?>
</section><!--Google Map Close-->
<form class="form contact"
      action="<?= $block->escapeUrl($block->getFormAction()) ?>"
      id="contact-form"
      method="post"
      data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"
      data-mage-init='{"validation":{}}'>
<div class="row">

<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('form-contacts')->toHtml();?>

</div>
</form>
