<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\Dashboard\Address $block */
?>
<h3><?= $block->escapeHtml(__('Address List')) ?></h3>
<table class="address-list">
        <tbody>
            <tr>
                <th scope="col"><?php echo __('Billing Address') ?></th>
                <th scope="col"><?php echo __('Name') ?></th>
                <th scope="col"><?php echo __('Phone number') ?></th>
                <th scope="col">&nbsp;</th>
            </tr>
            <tr>
                <?php echo $this->getPrimaryBillingAddressHtml('html') ?>
                <td>
                    <a data-toggle="tooltip" data-placement="left" title="<?php echo __('Edit default billing address') ?>"  href="<?php echo $this->getPrimaryBillingAddressEditUrl() ?>" class="icon-pencil"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                </td>
            </tr>
        </tbody>
</table>  
<table class="address-list">
        <tbody>
            <tr>
                <th scope="col"><?php echo __('Shipping Address') ?></th>
                <th scope="col"><?php echo __('Name') ?></th>
                <th scope="col"><?php echo __('Phone number') ?></th>
                <th scope="col">&nbsp;</th>
            </tr>
            <tr>
                <?php echo $this->getPrimaryShippingAddressHtml('html') ?>
                <td>
                    <a data-toggle="tooltip" data-placement="left" title="<?php echo __('Edit default shipping address') ?>"  href="<?php echo $this->getPrimaryShippingAddressEditUrl() ?>" class="icon-pencil"><i class="fa fa-pencil" aria-hidden="true"></i></a>                
                </td>
            </tr>
        </tbody>
    </table>
<div class="row space-top">
        <div class="col-lg-4 col-md-5 col-sm-6 pull-right">
            <a href="#" onclick="window.location='<?php echo $block->getUrl('customer/address/new/'); ?>';" class="btn btn-primary btn-block"><i class="fa fa-plus"></i><?php echo __('Add new address') ?></a><br>
        </div>
</div>