<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\Dashboard\Info $block */
?>
<?php $om = \Magento\Framework\App\ObjectManager::getInstance();
 $customerSession = $om->get('Magento\Customer\Model\Session');
  $group_id = $customerSession->getCustomer()->getGroupId();   
  $groupname = '';  
$customerGroupsCollection = $om->get('\Magento\Customer\Model\ResourceModel\Group\Collection');
$customerGroups = $customerGroupsCollection->toOptionArray();
foreach($customerGroups as $key =>$value){
        if($group_id  == $value['value']){
                $groupname = $value['label'];
        }
}


 ?>
<section class="container dashboard-acount"> 
    <div class="row space-top">
        <!--List address-->
        <div class="col-md-7 col-sm-12 col-xs-12">
            <h2 class="title"><?php echo __('My Account') ?></h2>
        </div>
        <div class="col-md-5 col-sm-12 col-xs-12">
            <a href="<?php echo $block->getUrl('ledproject/project/summary/');?>" title="My projects" class="btn btn-transparent btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><?php echo __('My projects')?></a>
            <a href="<?php echo $block->getUrl('customer/account/logout/') ?>" class="btn btn-primary btn-signout"><i class="fa fa-sign-out"></i> <?php echo __('Sign out') ?></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
           <h3><?= $block->escapeHtml(__('Personal information')) ?></h3> 
           <table class="address-list">
                <tbody>
                    <tr>
                        <th scope="col"><?php echo __('Name') ?></th>
                        <th scope="col"><?php echo __('Email address') ?></th>
                        <th scope="col"><?php echo __('Password') ?></th>
                        <th scope="col">&nbsp;</th>
                    </tr>
                    <tr>
                        <td><?= $block->escapeHtml($block->getName()) ?>  <span class="rig-add-df"><i class="fa fa-users"></i><?php echo $groupname;?> </span></td>
                        <td><?= $block->escapeHtml($block->getCustomer()->getEmail()) ?></td>
                        <td>●●●●●●●●●</td>
                        <td>
                            <a data-toggle="tooltip" data-placement="left" title="<?php echo __('Change Password') ?>" href="<?= $block->escapeUrl($block->getUrl('customer/account/edit')) ?>" class="icon-pencil"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>

        <?php echo $this->getChildHtml('address');?>
        </div>
        <div class="col-md-3"></div>
    </div>












</section>
