<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Newsletter\Block\Subscribe $block */

?>
<div class="block newsletter home-newsletter">
    <h3 class="main-title"><?= $block->escapeHtml(__('Be the first to hear about new products')) ?></h3>
    <h4 class="sub-title"><?= $block->escapeHtml(__('Receive product updates and offers by email')) ?></h4>
    <div class="content">
        <form class="form subscribe"
            novalidate
            action="<?= $block->escapeUrl($block->getFormActionUrl()) ?>"
            method="post"
            data-mage-init='{"validation": {"errorClass": "mage-error"}}'
            id="newsletter-validate-detail">

            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                         <input name="name" type="text"
                                            placeholder="<?= $block->escapeHtmlAttr(__('Name*')) ?>"
                                            data-validate="{required:true}"/>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                        <div class="field newsletter">
                            <div class="control">
                                <input name="email" type="email" id="newsletter"
                                            placeholder="<?= $block->escapeHtmlAttr(__('Email*')) ?>"
                                            data-validate="{required:true, 'validate-email':true}"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                        <div class="actions">
                            <button class="action subscribe primary" title="<?= $block->escapeHtmlAttr(__('Subscribe')) ?>" type="submit">
                                <span><?= $block->escapeHtml(__('Subscribe')) ?></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
