<?php
    $_helper    = $this->helper('Magento\Catalog\Helper\Output');
    $_category  = $block->getCurrentCategory();
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $media_path = $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
    $name_category = $_category->getName();
    $sub_title_cate = $_category->getPageSubTitleCategory();
    $title_btn_sub_cate_1 = $_category['title_btn_sub_cate_1'];
    $link_btn_sub_cate_1 = $_category['link_btn_sub_cate1'];
    $enable_button = $_category['enable_button_subcate'];
    $img_banner = $_category->getSubCategoryImg();




?>
<div class="top-content" style="background:url('<?php echo $media_path.'/catalog/category/'.$_category->getSubCategoryImg();?>') top right no-repeat;">
	<div class="page-title">
		<?php if($name_category !=''){?>
				<h1><?php echo $name_category;?></h1>
		<?php }?>
		<?php if($sub_title_cate !=''){?>
		<h3><?php echo $sub_title_cate;?></h3>
		<?php }?>
		<?php if($enable_button !=false){?>
			<?php if($title_btn_sub_cate_1 !=''){?>
					<a href="<?php echo $link_btn_sub_cate_1;?>" class="btn-base"><?php echo $title_btn_sub_cate_1;?></a>
			<?php }?>
		<?php }?>
	</div>
	<?php if($img_banner !=''){?>
	<div class="content-top-right">
		<img src="<?php echo $media_path.'/catalog/category/'.$img_banner;?>" alt=""/>
	</div>
	<?php }?>
</div>
<?php if($_category->getContentSubCategory()!=''){?>
<?php $description = $objectManager->get('Magento\Cms\Model\Template\FilterProvider')->getPageFilter()->filter($_category->getContentSubCategory());?>
<div class="main-content">
	<?php echo $description;?>
</div>
<?php }?>