<?php
/**
 * @var $block \Lof\Gallery\Block\Latest
 */

$helper            = $this->helper('Lof\Gallery\Helper\Data');
$lightbox          = $block->getConfig('gallery_page/lightbox');
$showFilterBlock   = $block->getConfig('general_settings/show_filter');
$showTopToolbar    = $block->getConfig('gallery_page/show_toptoolbar');
$showBottomToolbar = $block->getConfig('gallery_page/show_bottomtoolbar');
$type              = $block->getConfig('gallery_page/grid_type');
$xs_column         = $block->getConfig('gallery_page/xs_column');
$sm_column         = $block->getConfig('gallery_page/sm_column');
$md_column         = $block->getConfig('gallery_page/md_column');
$lg_column         = $block->getConfig('gallery_page/lg_column');

/** INFINITE SCROLL */
$loading_image     = $block->getConfig('infinitescroll/loading_image');
$loading_text      = $block->getConfig('infinitescroll/loading_text');
$done_text         = $block->getConfig('infinitescroll/done_text');
$load_more_text    = $block->getConfig('infinitescroll/load_more_text');
$load_pre_text     = $block->getConfig('infinitescroll/load_pre_text');
$delay             = (int) $block->getConfig('infinitescroll/delay');
$buffer            = (int) $block->getConfig('infinitescroll/buffer');
$load_more         = (int) $block->getConfig('infinitescroll/load_more');

$masonryBlockId    = 'gallery-albums';
$id                = time() . rand();
$blockId           = 'gallery-block' . $id;
$categories        = $helper->getCategoryCollection();
$style              = $block->getConfig('general_settings/style');
$skin              = $block->getConfig('general_settings/skin');
$customClass = '';
if ($style == 'style3' || $style == 'style4' || $style == 'style5' || $style == 'style6' || $style == 'style7' || $style == 'style8' || $style == 'style9' || $style == 'style10' || $style == 'style11' || $style == 'style12' || $style == 'style13') {
    $customClass .= ' gallery-style-common';
}

if ($style == 'style13') {
    $customClass .= ' gallery-widget-style7';
}
?>

<div id="<?php echo $blockId ?>" class="gallery-page gallery-block album-<?php echo $type ?> gallery-skin-<?php echo $skin ?> gallery-widget-<?php echo $style ?>  gallery-lightbox-<?php echo $lightbox ?> gallery-widget <?php echo $customClass;?> gallery-<?php echo $type ?> block"
     data-masonry-id="<?php echo $masonryBlockId ?>"
     data-xs-column="<?php echo $xs_column ?>"
     data-sm-column="<?php echo $sm_column ?>"
     data-md-column="<?php echo $md_column ?>"
     data-lg-column="<?php echo $lg_column ?>"
     data-margin="10"
>
    <?php if($showTopToolbar && ($topToolbarHtml = $block->getChildHtml('toolbar'))) { ?>
        <div class="gallery-toolbar gallery-toptoolbar" <?php if($showTopToolbar) { ?>style="display:block"<?php } else {?> style="display:none!important"<?php } ?>>
            <?php echo $topToolbarHtml; ?>
        </div>
    <?php } ?>

    <?php if ($showFilterBlock && $categories->count() && $type=='masonry') { ?>
        <div class="gallery-filter">
            <div class="gallery-filter-cat">
                <span class="album-all active" data-filter="*"><?php echo __('All'); ?> (<span class="album-imagecount"></span>)</span>
                <?php foreach($categories as $category) { ?>
                    <span class="album-cat" data-filter=".gallery-filter-<?php echo $category->getIdentifier() ?>"><?php echo $category->getName() ?> (<span class="album-imagecount"></span>)</span>
                <?php } ?>
            </div>
            <div class="gallery-sorters">
                <div class="gallery-sortlist" data-asc="true">
                    <span><?php echo __('Sort By'); ?></span>
                    <ul class="gallery-sortlist-item">
                        <li class="gallery-dropdown-item" data-sort-by="original-order"><?php echo __('None'); ?></li>
                        <li class="gallery-dropdown-item" data-sort-by="id"><?php echo __('ID'); ?></li>
                        <li class="gallery-dropdown-item" data-sort-by="date"><?php echo __('Date'); ?></li>
                        <li class="gallery-dropdown-item" data-sort-by="name"><?php echo __('Title'); ?></li>
                        <li class="gallery-dropdown-item" data-sort-by="description"><?php echo __('Description'); ?></li>
                        <li class="gallery-dropdown-item" data-sort-by="imagecount"><?php echo __('Image Count'); ?></li>
                    </ul>
                </div>
                <div class="gallery-sortdirection">
                    <i class="fa fa-angle-down active"></i>
                    <i class="fa fa-angle-up"></i>
                </div>
                <?php $id = 'dropdown' . time(); ?>
                <div id="gallery-<?php echo $id?>" class="gallery-searchfilter">
                    <div class="actions dropdown options">
                        <div id="gallery-trigger<?php echo $id ?>"><i class="fa fa-search"></i></div>
                        <div class="dropdown switcher-dropdown" data-mage-init='{"dropdownDialog":{
					"appendTo":"#gallery-<?php echo $id?> > .options",
					"triggerTarget":"#gallery-trigger<?php echo $id ?>",
					"closeOnMouseLeave": false,
					"parentClass": "active"}}'>
                            <div class="header-search-wrap">
                                <div class="dropdown header-search">
                                    <div class="gallery-head-form-search-wrap">
                                        <input class="gallery-quicksearch" type="text" autocomplete="off" placeholder="<?php echo __('Search...'); ?>">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <?php } ?>
    <?php if ($type == 'masonry' || $type == 'grid') { ?>
        <div id="gallery-loading<?php echo $id ?>" class="gallery-loading">
            <?php if ($loading_image) { ?>
                <img src="<?php echo $loading_image ?>" />
            <?php } else { ?>
                <?php if ($loading_text) { ?>
                    <span><?php echo $loading_text; ?></span>
                <?php } ?>
                <div class="r1"></div>
                <div class="r2"></div>
                <div class="r3"></div>
                <div class="r4"></div>
                <div class="r5"></div>
            <?php } ?>
        </div>
    <?php } ?>
    <div id="<?php echo $masonryBlockId; ?>" class="lgl-items lgl-<?php echo $type ?>">
        <?php echo $block->getAlbumListHtml($type, $lg_column, $md_column, $sm_column, $xs_column, $lightbox); ?>
    </div>
    <?php if($showBottomToolbar && ($bottomToolbarHtml = $block->getChildHtml('toolbar'))) { ?>
        <div class="gallery-toolbar gallery-bottomtoolbar" <?php if($showBottomToolbar) { ?>style="display:block"<?php } ?>>
            <?php echo $bottomToolbarHtml; ?>
        </div>
    <?php } ?>
</div>