<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Newsletter\Block\Subscribe $block */

?>
<div class="block newsletter">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-8 descri-newsletter">
                <h2><?php echo __("Subscribe to our Newsletter");?></h2>
                <p><?php echo __("Subscribe to our LED newsletter to receive all the latest news, be the first to learn about new products and benefit from exclusive discounts and LED promotions.");?></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12 no-padding">          
                <div class="title"><strong><?= $block->escapeHtml(__('Newsletter')) ?></strong></div>
                <div class="content">
                    <form class="form subscribe"
                        novalidate
                        action="<?= $block->escapeUrl($block->getFormActionUrl()) ?>"
                        method="post"
                        data-mage-init='{"validation": {"errorClass": "mage-error"}}'
                        id="newsletter-validate-detail">
                        <div class="form-group col-sm-3 col-md-3">
                           
                            <input type="text" class="c-subscribe__input form-control input-text" name="firstname" id="firstname" placeholder="<?= $block->escapeHtmlAttr(__('First Name')) ?>"  autocomplete="name">
                        </div>
                        <div class="form-group col-sm-3 col-md-3">
                           
                            <input type="text" class="c-subscribe__input form-control input-text" name="lastname" id="lastname" placeholder="<?php echo __('Last Name') ?>" autocomplete="name">
                        </div>
                        <div class="form-group col-sm-6 col-md-4">
                            <div class="field newsletter">
                                    <input name="email" type="email" id="newsletter" class="c-subscribe__input form-control input-text required-entry validate-email"
                                                placeholder="<?= $block->escapeHtmlAttr(__('Email Address')) ?>"
                                                data-validate="{required:true, 'validate-email':true}"/>
                               
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="actions">
                                <button class="c-subscribe__btn btn btn-warning" title="<?= $block->escapeHtmlAttr(__('Subscribe')) ?>" type="submit">
                                    <span><?= $block->escapeHtml(__('Subscribe')) ?></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div> 
            </div>
        </div>
    </div>
</div>
