<?php $_code = $block->getMethodCode() ?>
<?php $po_enabled = $block->getPoEnabledConfig(); ?>
<?php if ($po_enabled) {?>
<ul class="form-list" id="payment_form_<?php echo $block->escapeHtml($block->getMethodCode()) ?>" 
	style="display:none;">
    <li>        
        <label <?php if ($po_enabled == 2) {
			?>class="required"<?php
			}?> for="<?php echo $block->escapeHtml($block->getMethodCode()) ?>_creditlimit_po_number">
			<?php echo $block->escapeHtml(__('Purchase Order Number:')) ?>
		</label>
        <span class="input-box">
        <?php if ($po_enabled == 2) { ?>
            <p class="required"><?php echo $block->escapeHtml(__("* Required Fields"));?></p>
            <?php }?>
            <input onkeypress='return validateInput(event)' 
				type="text" title="<?php echo $block->escapeHtml(__(
				'Purchase Order Number:'
				)) ?>" class="input-text <?php if ($po_enabled == 2) {
				?>required-entry<?php } ?>" 
				id="<?php echo $_code ?>_creditlimit_po_number" 
				name="payment[creditlimit_po_number]" 
				value="<?php echo $block->escapeHtml($block->getInfoData(
				'creditlimit_po_number'
			)) ?>" />
        </span>
    </li>       
</ul>
<?php }?>