.artwork-category .wrap-policy-our{
	display: flex;
	flex-wrap: wrap;
	display: -webkit-flex;
	-webkit-flex-wrap:wrap;
	padding-top:10px;
}
.wrap-policy-our .policy{
	width:50%;
	padding-bottom:24px;
	margin:0px;
}
.wrap-policy-our .policy .item-policy{
	position: relative;
}
.wrap-policy-our .policy:nth-of-type(2n+2){
	padding-left:22px;
}

.wrap-policy-our .policy:nth-of-type(2n+1){
	padding-right:22px;
}
.wrap-policy-our .policy  h2,.wrap-policy-our .policy .infor a{
	font-family:'Open Sans';
	font-weight:300;
	color: #fff;
}
.wrap-policy-our .policy .infor a .arrow-right {
  width: 0; 
  height: 0; 
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  display: inline-block;
  border-left: 12px solid #ffda17;
  padding-right: 10px;
  vertical-align:middle;
  margin-left:3px;
}
.wrap-policy-our .policy  h2{
	font-size:36px;
	margin-bottom: 10px;
	letter-spacing: 0px;
}
.wrap-policy-our .policy .infor a{
	font-size:21px;
}
.wrap-policy-our .policy .infor{
	position:absolute;
	bottom:30px;
	left:30px;
}
/*Style sub category*/
.artwork-sub-category.page-main{
	padding:0px;
}
.artwork-sub-category .top-content{
	position: relative;
	background-size:contain;
	font-family:'Open Sans';
	min-height: 245px;
	margin-top:7px;
	background-size: contain;
}
.artwork-sub-category .main-content{
	margin:60px 35px 30px 35px;	
}
.artwork-sub-category .wrap-top-content p, .artwork-sub-category .wrap-top-content h3{
	font-family:'Open Sans';
}
.artwork-sub-category .wrap-top-content b{
	font-weight: 600;
}
.artwork-sub-category .top-content .page-title{
	width:45%;
	float:left;
	padding: 42px 45px;
	min-height: 245px;
}
.artwork-sub-category .top-content .content-top-right{
	width: 55%;
	float:right;
}
.artwork-sub-category .top-content .content-top-right img{
	margin-left: 60px;
}
.artwork-sub-category .top-content h1{
	color: #fff;
	font-weight: 300;
}
.artwork-sub-category .top-content h3{
	font-size:17px;
	color: #fff;
	font-weight: 400;
	margin:12px 0px;
}
.artwork-sub-category .top-content .page-title a.btn-base{
	border:1px solid #fff;
	color:#fff;
	font-size: 17px;
	font-weight: 600;
	padding:14px 45px;
	display: inline-block;
	margin-top: 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.artwork-sub-category .top-content .page-title:hover a.btn-base{
	color:#27a6dd;
	background: #fff;
}
/*Style sub category*/
@media (min-width: 1200px){
	.artwork-category.page-main{
		padding:0px;
	}

}
@media (max-width: 1199px){
	.wrap-policy-our .policy:nth-of-type(2n+2){
		padding-left:12px;
	}
	
	.wrap-policy-our .policy:nth-of-type(2n+1){
		padding-right:12px;
	}
	.wrap-policy-our .policy  h2{
		font-size:30px;
	}
	.wrap-policy-our .policy .infor a{
		font-size:19px;
	}
	.artwork-sub-category .top-content .page-title{
		background: #27a6dd;
	}
	.artwork-sub-category .top-content .page-title{
		width: 50%;
	}
	.artwork-sub-category .top-content .content-top-right{
		width: 50%;
	}
}
@media (max-width: 991px){
	.page-wrapper .artwork-category .delivery-about-us .delivery .day-return{
		background-position:  0px 9px;
		padding-left: 35px;
	}
	.page-wrapper .artwork-category .delivery-about-us .delivery .expert-advice{
		background-position:  0px 9px;
		padding-left: 35px;
	}
	.page-wrapper .artwork-category .delivery-about-us .delivery .fre-deli{
		background-position:  0px 12px;
		padding-left: 45px;
	}
}

/*Start style FAQ page*/
.category-faq .artwork-sub-category .main-content{
	margin:50px 0px 20px 0px;
}
#question-answer h3{
	padding:0px 25px;
}
#question-answer .title.active{
	background: #f7f7f7;
	padding:5px 25px 15px 25px;
}
#question-answer .title div:nth-of-type(2){
	display: none;
}
#question-answer .title.active div:nth-of-type(2){
	display: block;
}
#question-answer h6{
	color:#27a5df;
	cursor: pointer;
	margin:0px;
	padding:20px 40px 20px 25px;
	border-bottom:2px solid #fbfbfb;
	position: relative;
	font-size: 13px;
	font-weight: 600;
	font-family: 'Open Sans';
}
#question-answer h6:after{
	content:'';
	transform: rotate(45deg);
  	-webkit-transform: rotate(45deg);
  	border: solid #898989;
	border-width: 0 1px 1px 0;
	display: inline-block;
	padding: 4px;
	right: 25px;
	top:50%;
	margin-top:-6px;
	position: absolute;
}
#question-answer .title.active h6{
	padding-left: 0px;
	border-bottom: none;
}
#question-answer .title.active h6:after{
	transform: rotate(-135deg);
  	-webkit-transform: rotate(-135deg);
  	right: 0px;
}
#question-answer p{
	color:#231f20;
}
/*End style FAQ page*/
@media (max-width: 768px){
	.artwork-category .free-delivery-home.delivery-about-us,.artwork-sub-category .free-delivery-home.delivery-about-us{
		display: block;
	}
}
@media (max-width: 767px){
	.artwork-category .free-delivery-home.delivery-about-us,.artwork-sub-category .free-delivery-home.delivery-about-us{
		display: none;
	}
	.wrap-policy-our .policy{
		max-width:560px;
		width:100%;
		margin:0 auto;
		text-align: 
	}
	.wrap-policy-our .policy:nth-of-type(2n+2){
		padding-left:0px;
	}

	.wrap-policy-our .policy:nth-of-type(2n+1){
		padding-right:0px;
	}
	.artwork-category .wrap-policy-our{
		padding-top:30px;
	}
	.artwork-sub-category .top-content .page-title{
		width:100%;
		float: none;
	}
	.artwork-sub-category .top-content .content-top-right{
		display: none;
	}
	.artwork-sub-category .top-content{
		margin:0px;
		background: none!important;
	}

}
@media (max-width: 479px){
	.wrap-policy-our .policy  h2{
		font-size:24px;
	}
	.wrap-policy-our .policy .infor a{
		font-size:16px;
	}
	.artwork-sub-category .top-content .page-title{
		padding:30px 20px;
		min-height: auto;
	}
	.artwork-sub-category .top-content{
		min-height: auto;
	}
	.artwork-sub-category .main-content{
		margin:40px 20px 20px 20px;
	}

}