.wrap-gallery-placeholder{
	position: relative;
}
.wrap-modal-qty.modal-popup.modal-slide._inner-scroll{
	z-index: 99999;
	top:0px;
	left: 50%;
	right:auto;
	margin-left:-95px;
}
.wrap-modal-qty.modal-popup.modal-slide._inner-scroll._show{
	z-index: 99999;
	top:0px;
	left: 50%;
	right:auto;
	margin-left:-95px;
}
.product-options .selection-bundle-qty .qty-box{
	position: relative;
}
#header-mpdal .wrapper-popup-qty .qty-popup{
	display: block;
	width:100%;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	border:1px solid #e8e8e8;
	border-bottom: none;
	background: #fff;
}
#header-mpdal .wrapper-popup-qty .qty-popup.active{
	background: #f1f1f1;
	position: relative;
}
#header-mpdal .wrapper-popup-qty .qty-popup.active:before{
	background: #f1f1f1;
	content:'';
	border-left: 4px solid #2ba8db;
	position: absolute;
	left:0px;
	top:0px;
	width: 4px;
	height:100%;
}
#header-mpdal .wrapper-popup-qty .qty-popup:hover{
	background: #f1f1f1;
	
}
.wrap-modal-qty.modal-popup._inner-scroll .modal-content{
	padding: 0px;
	border:1px solid #e8e8e8;
}
.wrap-modal-qty.modal-popup.modal-slide._inner-scroll .modal-inner-wrap{
	width:190px;
	border-radius: 5px;
	min-height: 88%;
	height:88%;
}

.wrap-modal-qty.modal-popup.modal-slide .modal-footer{
	display: none;
}
.wrap-modal-qty.modal-popup .modal-header{
	padding:14px 20px;
}
.wrap-modal-qty.modal-popup .modal-title{
	border-bottom: none;
	font-size:14px;
	font-weight: 600;
	padding:0px;
}
.wrap-modal-qty.modal-slide .action-close{
	padding:16px 16px 5px 4px;
}
@media (max-width: 767px){
	.wrap-modal-qty.modal-popup.modal-slide._inner-scroll{
		z-index: 99999;
		top:30%;
		left: 50%;
		right:auto;
		margin-left:-95px;
	}
	.wrap-modal-qty.modal-popup.modal-slide._inner-scroll._show{
		z-index: 99999;
		top:30%;
		left: 50%;
		right:auto;
		margin-left:-95px;
	}
	.product-options .selection-bundle-qty .qty-box:after,.product-options .bundle-option-multi  .qty-box:after{
		content:'';
		background: url("../images/arrow-down.png") no-repeat 41px center;
		width: 100%;
		height: 100%;
		border:none;
		top: 0px;
		margin-top: 0px;
		right: 0px;
		position: absolute;
		cursor: pointer;

	}
	.product-options .selection-bundle-qty .qty-box .incr-btn,.product-options .bundle-option-multi  .qty-box .incr-btn{
		display: none;
	}
	.product-options .selection-bundle-qty,.product-options .bundle-option-multi {
		float:right;
		text-align: right;
	}
	.product-options .selection-bundle-qty .qty-box,.product-options .bundle-option-multi  .qty-box{
		width:84px;
		position:relative;
	}
	.product-options .selection-bundle-qty .qty-box input,.product-options .bundle-option-multi  .qty-box input{
		width:100%;
		text-align: left;
		padding:10px!important;
		font-size:13px;
	}
	#onlinebizsoft-product-coundown-event{
		margin-bottom: 24px;
	}
}

