<style type="text/css">
.contentWrap h2{
	font-size:13px;
	padding: 10px 0 4px;
}

.contentWrap .compatibility{
	clear:left;
}

.contentWrap .version h2, .contentWrap .compatibility h2 {
	float: left;
	width: 200px;
}


.contentWrap .installation{
	padding-bottom:20px;
}
.contentWrap div{
	padding-bottom:15px;
}

.contentWrap div.paragraph{
	padding: 11px 0 4px;	
}
</style>
<div class="contentWrap">	    
    <div class="version">
    	<h2><?php echo $block->escapeHtml(__('Name & Version:'));?></h2>
        <div class="paragraph">
            <?php echo $block->escapeHtml($block->name)?>
            <?php echo $block->escapeHtml($block->getVersion());?>
        </div>
    </div>
    <div class="compatibility">
        <h2><?php echo $block->escapeHtml(__('Compatibility:'));?></h2>
        <div class="paragraph"><?php echo $block->escapeHtml($block->compatibility);?></div>        
    </div>
    <div class="documentation">
        <h2><?php echo $block->escapeHtml(__('Documentation & Installation'));?></h2>           
        <p><?php echo $block->escapeHtml(__
            ('Read the installation manual & user guide 
		to help you with the installation and configuration.'
        ));?>
        </p>
        <p><a class="pdf" href="<?php echo $block->escapeHtml($block->manualUrl) ?>" 
            title="Download User Guide" target="_blank">
            <?php echo $block->escapeHtml(__(
                'B2B Credit Limit installation manual & user guide'
            ));?>
            </a>
        </p>                                      
    </div>
    
    <div class="questions">
        <h2><?php echo $block->escapeHtml(__('Support & Questions?'));?></h2>           
        <p><?php echo $block->escapeHtml(__('Visist our ')); ?>
            <a href="<?php echo $block->escapeHtml($block->faq); ?>" target="_blank">
            <?php echo $block->escapeHtml(__('FAQ page')); ?>
            </a>
            <?php echo $block->escapeHtml(__(' for more info')); ?>
        </p>
        <p><a class="support" href="<?php echo $block->escapeHtml($block->supportUrl);?>" 
            title="Contact Support" target="_blank">
                <?php echo $block->escapeHtml(__('Contact support')); ?>
           </a>     
        </p>                          
    </div>
       
    <div class="about">
        <h2><?php echo  $block->escapeHtml(__('About B2B Extensions'));?></h2>          
        <p><?php echo $block->escapeHtml(__('B2B Extensions is a product of ')); ?>
            <a href="http://www.ecomwise.com/" target="_blank">Ecomwise.com</a>
        </p>                          
    </div>
    
    <div class="mail">
        <h2><?php echo $block->escapeHtml(__('Do you have Feedback or improvements?'));?></h2>         
        <p><a href="mailto:<?php echo $block->escapeHtml($block->email); ?>" target="_blank">
            <?php echo $block->escapeHtml(__('Please e-mail us your feedback'));?>
            </a>
        </p>                         
    </div>          
</div> 
