<?php
declare(strict_types=1);
/** @var $block Staempfli\CookieConsent\Block\CookieConsent */
?>
<?php if($block->isEnabled()):
 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$base_url = $storeManager->getStore()->getBaseUrl();
$policy_url = $base_url.'privacy-policy/';
 $config = [
            'palette' => [
                'popup' => [
                    'background' => '#343233',
                    'text' => '#aa8550',
                ],
                'button' => [
                    'background' => '#aa8550',
                    'text' => 'fff',
                    'border' =>'#aa8550',
                ]
            ],
            'content' => [
                'message' => 'Privacy Policy on Cookies Usage We  use cookies  to ensure you get  the best experience on our website.',
                'dismiss' => 'Accept',
                'allow' => 'Allow cookies',
                'deny' => 'Decline',
                'link' => 'Learn more',
                'href' => $policy_url,
            ],
            'animateRevokable' => 1,
            
            'position' => 'bottom',
            'static' => '',
            'theme' => 'block',
            'type' => 'default',
        ];
$getConfig = trim(json_encode($config), '{}');

 ?>
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
    window.addEventListener("load", function(){
        window.cookieconsent.initialise({
            <?php echo $getConfig; ?>
            <?php if($block->useAdvancedConfiguration()): ?>
            ,
            onInitialise: function (status) {
            var type = this.options.type;
            var didConsent = this.hasConsented();
            if (type == 'opt-in' && didConsent) {
                <?php echo $block->getChildHtml('cookie.consent.enable'); ?>
            }
            if (type == 'opt-out' && !didConsent) {
                <?php echo $block->getChildHtml('cookie.consent.disable'); ?>
            }
        },
        onStatusChange: function(status, chosenBefore) {
            var type = this.options.type;
            var didConsent = this.hasConsented();
            if (type == 'opt-in' && didConsent) {
                <?php echo $block->getChildHtml('cookie.consent.enable'); ?>
            }
            if (type == 'opt-out' && !didConsent) {
                <?php echo $block->getChildHtml('cookie.consent.disable'); ?>
            }
        },
        onRevokeChoice: function() {
            var type = this.options.type;
            if (type == 'opt-in') {
                <?php echo $block->getChildHtml('cookie.consent.disable'); ?>
            }
            if (type == 'opt-out') {
                <?php echo $block->getChildHtml('cookie.consent.enable'); ?>
            }
        }
            <?php endif; ?>
        })
    });
</script>
<?php endif; ?>