<?php
	
$product_id = $block->getData('productids');
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$product = $objectManager->create('Magento\Catalog\Model\Product')->load($product_id);
if($product->getId()){
$imagehelper = $objectManager->create('Magento\Catalog\Helper\Image');
$image = $imagehelper->init($product,'product_small_image')->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(260)->getUrl();
$priceWithTax = $product->getPriceInfo()->getPrice('final_price')->getAmount()->getValue();
if($product->getTypeId()=='bundle'){
	$bundleObj=$product->getPriceInfo()->getPrice('final_price');
	$minRaw = $bundleObj->getMinimalPrice()->getValue();// For min price
}

?>
<p class="product-shop">
        <a href="<?php echo $product->getProductUrl();?>">
            <img src="<?php echo $image; ?>" title="<?php echo $product->getName();?>" alt="<?php echo $product->getName();?>">
        </a>
        <p class="price-label btn btn-block" onclick="setLocation('<?php echo $product->getProductUrl()?>')">
        <?php if($product->getTypeId()=='bundle'):?>
         <span class="bundle"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($minRaw,true,false);?></span>
     <?php else:?>
     	 <span class="other"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($priceWithTax,true,false);?><?php //echo $priceWithTax;?></span>
     <?php endif;?>
         <span><?php echo __('Best seller');?></span>
        </p>
</p>
<?php }?>