<?php
	
$product_id = $block->getData('productids');
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$product = $objectManager->create('Magento\Catalog\Model\Product')->load($product_id);
if($product){
$imagehelper = $objectManager->create('Magento\Catalog\Helper\Image');
$image = $imagehelper->init($product,'product_small_image')->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(260)->getUrl();
$priceWithTax = $product->getPriceInfo()->getPrice('final_price')->getAmount()->getValue();
if($product->getTypeId()=='bundle'){
	$bundleObj=$product->getPriceInfo()->getPrice('final_price');
	$minRaw = $bundleObj->getMinimalPrice()->getValue();// For min price
}

?>
<?php if ($product->getId()==$product_id && $product->getStatus()==1){ ?>

            <li class="item product product-item">
                <div class="tile">
                    <div class="badges">
                        <?php if ($product->getEquivalent()) : ?>
                            <ul class="sale" id="sale">
                                <li class="text-replacement"><?php echo __('Replaces') ?></span></li>
                                <li class="text-led-sale"><?php echo $product->getEquivalent() ? $product->getEquivalent() : "&nbsp;"; ?></li>
                            </ul>
                        <?php endif; ?>
                    </div>
                    <div class="price-label">
                        <div class="head-price">
                            <?php if($product->getTypeId()=='bundle'):?>
                                    <div class="price-box price-final_price">
                                        <span class="price-container price-final_price tax weee">
                                        <span data-label="Inc.VAT" class="price-wrapper price-including-tax">
                                        <span class="price"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($minRaw,true,false);?></span>    </span>
                                        </span>
                                    </div>
						         
						     <?php else:?>
						     		<div class="price-box price-final_price">
									    <span class="price-container price-final_price tax weee">
									    <span data-label="Inc.VAT" class="price-wrapper price-including-tax">
									    <span class="price"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($priceWithTax,true,false);?><?php //echo $priceWithTax;?></span>    </span>
									    </span>
									</div>
						     	 
						     <?php endif;?>
                        </div>
                    </div>
                <div class="product-item-info">
                    <div class="product-img-wrapper">
                            <a href="<?php echo $product->getProductUrl();?>" class="product-item-photo">
                                <img src="<?php echo $image; ?>" title="<?php echo $product->getName();?>" alt="<?php echo $product->getName();?>">
                            </a>                           
                    </div>
                   
                    <div class="product details product-item-details footer">
                            <a title="<?php echo $product->getName();?>"
                               href="<?php echo $product->getProductUrl();?>"
                               class="product-item-link">
                                <?php echo $product->getName();?>
                            </a>
                            <span class="blur_name"><?php if($product->getNameDes()){ echo $product->getNameDes();}?></span>
                             <div class="tools">
                                <div class="yotpo bottomLine"
                                  data-product-id="<?php echo $product->getId() ?>">
                                </div>
                                <a href="<?= /* @escapeNotVerified */ $product->getProductUrl() ?>" class="btn-detail" tabindex="-1">
                                <span><?php echo __("More Info");?></span><i class="icon_nofication"></i>
                                </a>
                            </div>
                        
                    </div>
                </div>
                </div>
            </li>    
<?php }}?>