<?php
/**
 *
 * CART2QUOTE CONFIDENTIAL
 * __________________
 *
 *  [2009] - [2017] Cart2Quote B.V.
 *  All Rights Reserved.
 *
 * NOTICE OF LICENSE
 *
 * All information contained herein is, and remains
 * the property of Cart2Quote B.V. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Cart2Quote B.V.
 * and its suppliers and may be covered by European and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Cart2Quote B.V.
 *
 * @category    Cart2Quote
 * @package     SalesRep
 * @copyright   Copyright (c) 2017 Cart2Quote B.V. (https://www.cart2quote.com)
 * @license     https://www.cart2quote.com/ordering-licenses(https://www.cart2quote.com)
 */
?>
<?php /** @var $block \Cart2Quote\SalesRep\Block\Adminhtml\Container */ ?>
<tr>
    <td class="salesrep-title-td" colspan="2">
        <div class="admin__page-section-item-title salesrep-title">
            <span class="title"><?php echo __('Sales Representative') ?></span>
            <div class="actions"></div>
        </div>
    </td>
</tr>
<tr data-mage-init='{
    "salesrepAssign":
    {
        "url": "<?php echo $block->getUsersUrl() ?>",
        "id": "<?php echo $block->getId() ?>",
        "typeId": "<?php echo $block->getTypeId() ?>"
    }
}'>
    <th class="salesrep-field-header"><?php echo __('Name') ?></th>
    <td><span class="salesrep-user-container"><?php echo $block->getSalesRepHtml(); ?></span>
        <span class="salesrep-user-list" style="display:none;">
            <?php echo $block->getChildHtml('salesrep_users') ?>
        </span>
        <span class="salesrep-assign-cancel salesrep-action">
            <a href="#" style="display:none;"><?php echo __('Cancel') ?></a>
        </span>
    </td>
</tr>