<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
 -->

<div class="block-authentication custom-popup-checkout"
     data-bind="afterRender: setModalElement, blockLoader: isLoading"
     style="display: none">
    

    <div class="block block-customer-login social-login-container"
         data-bind="attr: {'data-label': $t('or')}">
        <div class="block-title-popup">
            <h2><span data-bind="i18n: 'Login or'"></span><a class="action-register" data-bind="attr: {href: registerUrl}">
                        <span data-bind="i18n: 'Register'"></span>
                    </a></h2>
        </div>
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <!-- ko foreach: getRegion('before') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
        <!-- ko if: displaySocialLogin -->
        <div class="block block-social-login" data-bind="attr: {'data-label': $t('or')}">
            <div class="block-content-social" aria-labelledby="block-social-login-heading">
                 <div><strong class="title-social" data-bind="i18n: 'Use social account'"></strong></div>
                <!-- ko foreach: socialLoginButtons -->
                <div data-bind="attr: {class: 'actions-toolbar social-btn %1-login'.replace('%1', identifier)}">
                    <div class="primary">
                        <button data-bind="attr: {id: 'btn_%1_login'.replace('%1', identifier), class: 'action btn_%1_login'.replace('%1', identifier)}, click: $parent.openPopupSocialLogin" type="button">
                            <span>
                                <span data-bind="text: $t('%1 Log In').replace('%1', label)"></span>
                            </span>
                        </button>
                    </div>
                </div>
                <!--/ko-->
            </div>
        </div>
    <!-- /ko -->
        <div class="block-content" aria-labelledby="block-customer-login-heading">
            <form class="form form-login"
                  method="post"
                  data-bind="submit:login"
                  id="login-form">
                <div class="fieldset login" data-bind="attr: {'data-hasrequired': $t('* Required Fields')}">
                    <div class="field email required">
                        <label class="label" for="email"><span data-bind="i18n: 'Email'"></span></label>
                        <div class="control">
                            <input name="username"
                                   id="email"
                                   type="email"
                                   class="input-text"
                                   data-bind="attr: {autocomplete: autocomplete}"
                                   data-validate="{required:true, 'validate-email':true}">
                        </div>
                    </div>
                    <div class="field password required">
                        <label for="pass" class="label"><span data-bind="i18n: 'Password'"></span></label>
                        <div class="control">
                            <input name="password"
                                   type="password"
                                   class="input-text"
                                   id="pass"
                                   data-bind="attr: {autocomplete: autocomplete}"
                                   data-validate="{required:true}">
                        </div>
                    </div>
                    <!-- ko foreach: getRegion('additional-login-form-fields') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    <!-- /ko -->
                    </div>
                    <div class="actions-toolbar">
                        <input name="context" type="hidden" value="checkout" />
                        <div class="primary-btn">
                            <button type="submit" class="btn btn-success" name="send" id="send2">
                                <span data-bind="i18n: 'Login'"></span>
                            </button>
                        </div>
                        <div class="secondary">
                            <a class="action-forget" data-bind="attr: {href: forgotPasswordUrl}">
                                <span data-bind="i18n: 'Forgotten your password?'"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
