 <tr class="c-mini-cart__item item item product product-item" data-role="product-item">
    <td class="content"> 
        <a href="#" data-bind="attr: {'data-cart-item': item_id, title: $t('Remove item')}"
                       class="action delete">
            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" role="img" aria-labelledby="close-icon">
                <title id="close-icon">Close icon</title>
                <defs><circle id="a" cx="12" cy="12" r="12"></circle><mask id="b" x="0" y="0" width="24" height="24" fill="#fff"><use xlink:href="#a"></use></mask></defs><g fill="none" fill-rule="evenodd"><use stroke="#C2C4CC" mask="url(#b)" stroke-width="4" fill="#C2C4CC" xlink:href="#a"></use><path d="M16.242 7.758l-8.485 8.485M16.242 16.243L7.757 7.758" stroke="#FFF" stroke-width="2"></path></g>
            </svg>
        </a>
    </td>
    <td class="content">
        <a data-bind="attr: {href: product_url}, text: product_name"></a>   </td>
    <td class="content"> <div class="details-qty qty">
                    <input data-bind="attr: {
                           id: 'cart-item-'+item_id+'-qty',
                           'data-cart-item': item_id,
                           'data-item-qty': qty,
                           'data-cart-item-id': product_sku
                           }, value: qty"
                           type="number"
                           size="4"
                           class="item-qty cart-item-qty">
                    <button data-bind="attr: {
                           id: 'update-cart-item-'+item_id,
                           'data-cart-item': item_id,
                           title: $t('Update')
                           }"
                            class="update-cart-item"
                            style="display: none">
                        <span data-bind="i18n: 'Update'"></span>
                    </button>
                </div></td>
    <td class="c-mini-cart__price price text-right content"><strong class="price">
                <!-- ko if: canApplyMsrp -->

                <div class="details-map">
                    <span class="label" data-bind="i18n: 'Price'"></span>
                    <span class="value" data-bind="i18n: 'See price before order confirmation.'"></span>
                </div>
                <!-- /ko -->
                <!-- ko ifnot: canApplyMsrp -->
                <!-- ko foreach: $parent.getRegion('priceSidebar') -->
                    <!-- ko template: {name: getTemplate(), data: item.product_price, as: 'price'} --><!-- /ko -->
                <!-- /ko -->
                <!-- /ko -->                                      
        </strong></td>
</tr> 