<!--
/**
 * Created by:  Milan Simek
 * Company:     Plugin Company
 *
 * LICENSE: http://plugin.company/docs/magento-extensions/magento-extension-license-agreement
 *
 * YOU WILL ALSO FIND A PDF COPY OF THE LICENSE IN THE DOWNLOADED ZIP FILE
 *
 * FOR QUESTIONS AND SUPPORT
 * PLEASE DON'T HESITATE TO CONTACT US AT:
 *
 * SUPPORT@PLUGIN.COMPANY
 */
-->
<div>
    <div class="row">
        <div class="col-xs-12">
            <p>Please select a store view to preview the selected page revision in</p>
            <select data-bind="options: stores,
                           optionsText: 'label',
                           optionsValue: 'previewUrl',
                           value: selectedStoreUrl"></select>
        </div>
    </div>
</div>

