.page-layout-1column #maincontent .product-info-left{
	width:42%;
}
.page-layout-1column #maincontent .product-info-right{
	width:58%;
}
.catalog-product-view #maincontent{
	padding-left: 0px;
	padding-right:0px;
}
.product-info-left .product.media{
	margin-bottom: 0px;
}
.catalog-product-view .fotorama__stage{
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
}
.fotorama__active .fotorama__dot {
  background-color: #39b54a;
  border-color: #39b54a;
}
.page-layout-1column #maincontent .product-info-left .fotorama__nav--thumbs .fotorama__thumb{
	opacity: 1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
.delivery-sidebar{
	clear: both;
	padding-top:5px;
}
.delivery-sidebar:before{
	content:'';
	display: table;
	clear: both;
}
.delivery-sidebar .common-delivery{
	background: #cceefa;
	margin-bottom: 1px;
	font-size:12px;
	color:#58595b;
	position: relative;
	padding:20px 7px 12px 66px;
}

.delivery-sidebar .common-delivery:before{
	content:'';
	left:0px;
	top:47%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	position: absolute;
	background-image:url('../images/sprite-bg.png');
	width:68px;
	height: 50px;
}
.delivery-sidebar .common-delivery h5{
	font-size:18px;
	color:#58595b;
	margin:2px 0px;
	font-weight: 600;
	margin:0px;
}
.delivery-sidebar .common-delivery p{
	font-size:12px;
	color:#58595b;
	font-weight: 300;
	margin:0px;
}
.delivery-sidebar .warranty:before{
	background-position: -15px	0px;
}
.delivery-sidebar .expert-advice:before{
	background-position: -144px 0px;	
}
.delivery-sidebar .delivery:before{
	background-position: -83px	0px;
}
.page-layout-1column #maincontent .product-info-left .asidebar-breadcrumd .btn.btn-back-to-range{
	margin-bottom: 15px;
	padding:15px 15px 15px 45px;
}
.page-layout-1column #maincontent .product-info-left .asidebar-breadcrumd .btn.btn-back-to-range i{
	top:15px;
}
section.certification{
	text-align: center;
	padding:23px 10px;	
	background: #ebf7ed; 
	border:1px solid #e3e3e3;
}
.page-layout-1column #maincontent .product-info-right .standalone-bottomline{
	display: block;	
	padding-left: 15px;
}
.yotpo .yotpo-review .yotpo-header .yotpo-review-stars .yotpo-icon, .yotpo .yotpo-comment .yotpo-header .yotpo-review-stars .yotpo-icon, .yotpo .yotpo-question .yotpo-header .yotpo-review-stars .yotpo-icon, .yotpo .yotpo-onsite-upload .yotpo-header .yotpo-review-stars .yotpo-icon,.yotpo .yotpo-bottomline .yotpo-icon-star, .yotpo .yotpo-bottomline .yotpo-icon-half-star, .yotpo .yotpo-bottomline .yotpo-icon-empty-star{
	color: #39b14a!important;
}
.yotpo.bottomLine .yotpo-bottomline .yotpo-icon-star, .yotpo.bottomLine .yotpo-bottomline .yotpo-icon-half-star, .yotpo.bottomLine .yotpo-bottomline .yotpo-icon-empty-star, .yotpo.bottomline .yotpo-bottomline .yotpo-icon-star, .yotpo.bottomline .yotpo-bottomline .yotpo-icon-half-star, .yotpo.bottomline .yotpo-bottomline .yotpo-icon-empty-star, .yotpo .yotpo-modal-bottom-line .yotpo-bottomline .yotpo-icon-star, .yotpo .yotpo-modal-bottom-line .yotpo-bottomline .yotpo-icon-half-star, .yotpo .yotpo-modal-bottom-line .yotpo-bottomline .yotpo-icon-empty-star{
	font-size:13px!important;
	margin-right: 2px;
}
.yotpo-bottomline .text-m{
	display: none;
}
.product-info-left .block.related{
	margin-bottom: 20px;
}
.product-info-left .block.related .block-title{
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: left!important;
	padding-left: 15px;
}
.product-info-left .products-grid .product-item .product-item-details{
	position: absolute!important;
	bottom:0px;
	left:50%;
	width:85%;
	z-index: 10;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);	
}
.product-info-left .products-grid.products-related .product-item .wrap-product-item-info .product-item-info .product-item-name .product-item-link:before{
	right:-25px;
}
.product-info-left .products-grid.products-related .product-item .wrap-product-item-info{
	width:33.33%;
	padding:4px;
}
.product-social-links{
	clear: both;
	display: none;
}
.product-social-links .product-addto-links{
	margin-right:33px;
	display: inline-block;
}

.product-options .select-dropdown-option{
	position: relative;
}
.product-options .select-dropdown-option:after{
	  border-top:5px solid #000;
	  border-left:5px solid transparent;
	  border-right:5px solid transparent;
	  width: 0px;
	  height:0px;
	  background: none;
	  top:67%;
	  right:15px;
	  position: absolute;
	  margin-top: -3px;
	  color: #000;
	  content:'';
	  z-index:-1;
}
.product-options #product-options-wrapper .select-dropdown-option select{
	background: none!important;
	height: 58px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
	cursor: pointer;
}
.product-options #product-options-wrapper .select-dropdown-option select:focus{
	box-shadow: none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
}
#product-options-wrapper .fieldset-bundle-options{
	padding:3px 0px;	
}
.bundle-options-container .product-options-wrapper .fieldset > .field:first-of-type{
	padding:0px 15px;
}
.product-options #product-options-wrapper .selection-bundle-qty .qty-box{
	border:none;
}
.product-options  #product-options-wrapper .selection-bundle-qty .qty-box input{
	height:58px;
	width:58px;
	font-size:18px;
	color: #000;
	border: 1px solid #0fafec;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
.product-options  #product-options-wrapper .selection-bundle-qty .qty-box input:focus{
	box-shadow: none;
}
.product-options #product-options-wrapper .selection-bundle-qty .qty-box span{
	border-top:5px solid transparent;
	border-bottom:5px solid transparent;
	width: 0px;
	height:0px;
	background: none;
}
.product-options #product-options-wrapper .selection-bundle-qty .qty-box span.bundle-plus{
	border-left:5px solid #000;
	margin-left:15px;
	margin-top: 23px;
}
.product-options #product-options-wrapper .selection-bundle-qty .qty-box span.bundle-minus{
	border-right:5px solid #000;
	margin-left:36px;
	margin-right: 15px;
	margin-top: 23px;
}
.bundle-option-multi table tr:nth-of-type(2n){
	background:#eee;
}
#product-options-wrapper .bundle-multi-title{
	background: #eee;
	clear:  both;
	display:  inline-block;
	width:  100%;
	padding: 8px;
	position:  relative;	
	font-weight: 300;
	color: #000;
}
#product-options-wrapper .bundle-multi-title:before{
	  border-top: 11px solid #edeeee;
	  border-left: 11px solid transparent;
	  border-right: 11px solid transparent;
	  content: "";
	  position: absolute;
	  top: 100%;
	  left: 55px;
}
.bundle-option-multi .col-qty{
	width:105px;
}
.bundle-option-multi .col-qty .bundle-multi-qty{
	position: relative;
}
.bundle-option-multi .col-qty input{
	width:38px;
	height:38px;
	padding:2px;
	font-size:18px;
	font-weight: 300;
	border:1px solid #b2b2b2;
	color: #000;	
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
.bundle-option-multi .col-qty input:focus{
	outline: none;
	box-shadow: none;
}
.bundle-option-multi .col-qty .incr-btn{
	border-right:5px solid transparent;
	border-left:5px solid transparent;
	width: 0px;
	height:0px;
	position: absolute;
	cursor: pointer;
}
.bundle-option-multi .col-qty .bundle-minus{
	border-top:5px solid #000;
	top:50%;
	margin-top:2px;
	right:22px;
}
.bundle-option-multi .col-qty .bundle-plus{
	border-bottom:5px solid #000;
	top:50%;
	margin-top:-10px;
	right:22px;
}
.bundle-option-multi .col-name{
	width:70px;
	padding-left:15px;
}
.bundle-option-multi table > thead > tr > th,.bundle-option-multi table > tbody > tr > th,.bundle-option-multi table > tfoot > tr > th,.bundle-option-multi table > thead > tr > td,.bundle-option-multi table > tbody > tr > td, table > tfoot > tr > td{
	vertical-align: middle;
	padding:7px 9px;
}
.bundle-option-multi .col-name img{
	border:1px solid #b2b2b2;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
.bundle-option-multi .col-name span.label >label{
	margin-left: 30px;
	font-weight: 300;
}


div.product-add-form .moved-add-to-links{
	float:left;
	padding:10px 0px 20px 10px;
}
.product-options-bottom{
	padding:10px 3px;
}
#maincontent .product-info-main .box-tocart .actions{
	margin-right: 0px;
}
#maincontent .product-info-main .box-tocart .fieldset .qty .input-text.qty{
	width:55px!important;
	height:55px;
}
#maincontent .product-info-main .box-tocart .actions #product-addtocart-button{
	height:55px;
	min-width: 215px;
}
.product-wrapper .product-op-below span:before{
	border-top:initial;
}
.product-wrapper .product-op-below span:after{
	left: 55px;
	border-top: 11px solid #edeeee;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    content: "";
    position: relative;
    top: 12px;
}
.product-wrapper .product-op-below{
	position: relative;
	padding:7px 17px;
	height:32px;
}
.product-wrapper .product-op-below > h3{
	color:#000;
	font-weight: 300;
	font-size:14px;
}
.product-wrapper .product-op-below p.label-quantity{
	position: absolute;
	right:55px;
	top:50%;
	margin-top: -10px;
	font-size:14px;
	color:#000;
	font-weight: 300;
}
#maincontent .product-info-main .product-icon-attributes ul li{
	background: none;
	border:1px solid #39b14a;
	width:74px;
	height:74px;
	margin:10px 1px 0px;
}
#maincontent .product-info-main .product-icon-attributes{
	padding:10px;
}
#maincontent .product-info-main .product-icon-attributes ul li label{
	color: #39b14a;
}
#maincontent .product-info-main .product-icon-attributes ul li.icon-2 i {
  background-position: -755px 3px;
}
#maincontent .product-info-main .product-icon-attributes ul li.icon-3 i {
  background-position: -88px 5px;
}
#maincontent .product-info-main .product-icon-attributes ul li.icon-4 i {
  background-position: -195px 1px;
}
#maincontent .product-info-main .product-icon-attributes ul li.icon-5 i {
  background-position: -279px 5px;
}
#maincontent .product-info-main .product-icon-attributes ul li.icon-6 i {
  background-position: -363px 0px;
}
#maincontent .product-info-main .product-icon-attributes ul li.icon-7 i {
  background-position: -445px 0;
}
#maincontent .product-info-main .product-icon-attributes ul li.icon-8 i {
  background-position: -530px 0;
}
#maincontent .product-info-main .product-icon-attributes ul li.icon-9 i {
  background-position: -610px 0;
}
#maincontent .product-info-main .product-icon-attributes ul li.icon-10 i {
  background-position: -688px 0;
}
.product-info-right .action.primary,.product-info-right .action.primary:active{
	text-transform: initial;	
	font-family: 'Open Sans';
}
.catalog-product-view:not(.weltpixel-quickview-catalog-product-view) .box-tocart .action.tocart span{
	font-size:18px;
	letter-spacing: 1px;
}
div.product-add-form #bundleSummary .moved-add-to-links{
	float:left;
	padding-top:0px;
}
#maincontent .product-info-main .box-tocart{
	margin-top:0px;
	margin-right:10px;
}
.product-addto-links .action span, .moved-add-to-links .action span, .product-social-links .action span{
	width:72px;
	letter-spacing: 0;
	left:-20px;
	bottom:-17px;
}
div.product-add-form .moved-add-to-links a.action.mailto span{
	bottom:-17px;
}
div.product-add-form .moved-add-to-links .product-addto-links .action.towishlist{
	color: #e91f27;
	margin-left:5px;
}
div.product-add-form #bundleSummary .action.mailto.friend{
	color:#39b14a;
	border:1px solid #39b14a;
}
.catalog-product-view .product-info-left .block.related .block-title strong{
	color:#101010!important;
	font-size: 15px;
	font-weight: 600!important;	
	text-align: left;
	text-transform: initial;
}
.page-layout-1column #maincontent .product-info-right .product-info-main .box-feature-download .br-top:before{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height:1px;
	background: #ccc;
	content:'';
}
.page-layout-1column #maincontent .product-info-right .product-info-main .box-feature-download .product-download-title{
	padding:20px 0px 65px;
}
.page-layout-1column #maincontent .product-info-right .product-info-main .box-feature-download .prodcut-features .product-feature-title{
	padding:20px 0px;
}
.page-layout-1column #maincontent .product-info-right .product-info-main .box-feature-download .prodcut-features{
	padding:10px 0px 25px;
}
.product-info-right .bulk-order-savings{
	background-color:#e2e3e5;
}
.bulk-order-savings .bulk-main ul li,.bulk-order-savings .bulk-main ul{
	background: #eee;
}
.bulk-order-savings .bulk-main ul li:nth-of-type(2n){
	background:#e2e3e5;
}
.bulk-order-savings .bulk-main ul li label > span:first-child{
	background: #b9babc;
}
.new-block-attach{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
}
.new-block-attach .item{
    -moz-flex-basis: 33.33%;
    -ms-flex-basis: 33.33%;
    flex-basis: 33.33%;
    max-width: 33.33%;
    text-align: center;
    margin-bottom: 50px;
}
.new-block-attach .thumbnail-attach img{
    box-shadow: 3px 3px 3px #ddd;
    -moz-box-shadow: 3px 3px 3px #ddd;
    -webkit-box-shadow: 3px 3px 3px #ddd;
    width: 88px;
    height: 125px;
    max-width: 100%;
    margin: 0px;
}
.new-block-attach .title-attach h3{
    font-size: 14px;
    margin-top: 10px;
    color: #333;
}
.new-block-attach .item .c-product-detail__download-pdf{
    background-color: #39b14a;
    width: 129px;
    height: 49px;
    border-radius: 5px;
    display: block;
    color: #fff;
    margin: 0 auto;
    line-height: 49px;
    font-size:16px;
}
.new-block-attach .item .c-product-detail__download-pdf:hover{
	text-decoration: none;
}
.product-wrapper .wrapper-availables .wrapper-scroll table th{
	padding:0px 5px 8px 15px;
	white-space: nowrap;
}
.infor-contact span{
	color:#27a3da;
	font-weight: 600;	
}
.product-options-bottom:after,.wrap-addto-cart:after{
  clear:both;
  display: table;
  content:'';
}
.product-options-bottom .box-tocart .fieldset,.product-add-form .box-tocart .fieldset{
	margin-bottom: 0px;
}
@media only screen and (max-width: 1199px){
	.product-options #product-options-wrapper .selection-bundle-qty .qty-box span.bundle-minus{
		margin-left:13px;
	}
	.page-layout-1column #maincontent .product-info-right .product-info-main .price-box{
		width:28%;
	}
	.page-layout-1column #maincontent .product-info-right .product-info-main .page-title-wrapper{
		width:72%;
	}
}@media only screen and (max-width: 991px){
	.product-info-left .asidebar-breadcrumd, .product-info-left .block.related, .product-info-left .asidebar-payment-mothod{
		display: block!important;
	}
	.product-options #product-options-wrapper .selection-bundle-qty .qty-box span.bundle-minus{
		margin-left:53px;
	}
	.page-layout-1column #maincontent .product-info-right .product-info-main .price-box{
		margin-top: 20px;
	}
}

@media only screen and (max-width: 767px){
	.page-layout-1column #maincontent .product-info-left,.page-layout-1column #maincontent .product-info-right{
		width: 100%;
	}
	.page-layout-1column #maincontent .product-info-right .product-info-main .price-box{
		padding-left:15px;
		width:100%;
	}
	.price-as-configured{
		margin-bottom: 0px;
	}
	.page-main{
		padding-bottom: 0px;
	}
	.product-options #product-options-wrapper .selection-bundle-qty .qty-box span.bundle-minus{
		margin-left:0px;
	}
	.product-options .selection-bundle-qty{
		float:right;
		width:17%;
	}
	.product-options .select-dropdown-option{
		width:74%;
	}
}

@media only screen and (max-width: 640px){
	.product-options .selection-bundle-qty{
		width:27%;
	}
	.product-options .select-dropdown-option{
		width:64%;
	}
}
@media only screen and (max-width: 479px){
	.product-options .selection-bundle-qty{
		width:34%;
	}
	.product-options .select-dropdown-option{
		width:62%;
	}
	.new-block-attach .item{
		max-width:50%;
		flex-basis:50%;
	}
	.product-wrapper .wrapper-availables .wrapper-scroll table tbody tr td, .product-wrapper .wrapper-availables .wrapper-scroll table tbody tr td{
		padding: 5px 2px;
	}
	.product-wrapper .wrapper-availables .wrapper-scroll table th{
		padding:5px 2px;
	}
	.product-wrapper .wrapper-availables .wrapper-scroll table{
		width:479px;
	}
	.page-layout-1column #maincontent .product-info-right .product-info-main .box-feature-download .prodcut-features .product-feature-title{
		padding-top: 0px;
	}
	#maincontent .product-info-main .product-social-link-mobie .moved-add-to-links{
		margin-top: 32px;
	}
	#maincontent .product-info-main .bundle-options-container .box-tocart div.field.qty{
		width: 0px;
		margin-right: 0px;
	}
}