<div id="artwork-form">
    <div class="container">
        <div class="page-title">
            <h2><?php echo $block->escapeHtml(__("QUICK SAVINGS CALCULATOR")); ?></h2>
        </div>

        <div class="artwork-form-info" style="">
            <form action="" id="" method="post">
                <div class="fieldset">

                    <div class="col-md-8 col-sm-8" style="padding: 0px;">
                        <div class="row artwork-form-firt">
                            <div class="col-md-4 col-sm-4 col-xs-5 artwork-form">
                                <?php echo $block->escapeHtml(__("Product type")); ?>
                            </div>
                            <div class="col-md-5 col-sm-4 col-xs-6 artwork-input">
                                <select class="input-text" size="1" name="product-type" type="text">
                                    <option value="led-panels">LED Panels</option>
                                    <option value="bulbs-spotlights">Bulbs & Spotlights</option>
                                    <option value="floodlights">Floodlights</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8 col-sm-8" style="padding: 0px;">
                        <div class="row artwork-form-sec">
                            <div class="col-md-4 col-sm-4 col-xs-5 artwork-form">
                                <?php echo $block->escapeHtml(__("Installation quantity")); ?>
                            </div>
                            <div class="col-md-5 col-sm-4 col-xs-6 artwork-input">
                                <input type="text" size="40" name="quantity" placeholder="Enter Quantity" class="input-text">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8 col-sm-8" style="padding: 0px;">
                        <div class="row artwork-form-th" style="">
                            <div class="col-md-4 col-sm-4 col-xs-5 artwork-form">
                                <?php echo $block->escapeHtml(__("Current bulb wattage")); ?>
                            </div>
                            <div class="col-md-5 col-sm-4 col-xs-6 artwork-input">
                                <input type="text" size="40" name="wattage" placeholder="Enter Wattage" class="input-text">
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
        <div class="artwork-price-save">
            <div class="artwork-price-save-info">
                <div class="title">ANNUAL SAVINGS</div>
                <div class="price">£XX</div>
                <div class="info">£XXX over the bulbs’ lifetime</div>
            </div>
        </div>

    </div>
</div>