
<?php
$_objectManager = \Magento\Framework\App\ObjectManager::getInstance(); //instance of\Magento\Framework\App\ObjectManager
$storeManager = $_objectManager->get('Magento\Store\Model\StoreManagerInterface');
$currentStore = $storeManager->getStore();
?>
<!-- top artwork -->

<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('artwork-top-banner')->toHtml();?>

<!-- artwork banner -->

<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('artwork-banner-img')->toHtml();?>

<!-- artwork banner content -->


<?php //echo $this->getLayout()->createBlock('cms/block')->setBlockId('artwork-banner-content')->toHtml();?>

<!-- Hover Savingroom artwork -->

<div class="artwork-container">
    <div class="room-hover-wrapper">
        <div class="room-hover-title">
            <div class="container">
                <h2>SEE HOW MUCH YOU COULD SAVE</h2>
                <p>Hover over each of the rooms below to reveal how much you could be saving by installing low energy LED lights.</p>
            </div>

        </div>

        <!-- price savingroom artwork -->

        <div class="living-room-sav">
            <div class="list-price-sav">
                <h2>LIVING ROOM</h2>
                <span class="text">Based on:</span></br>
                <span class="qty">3 x 4W B22 LED FILAMENT BULB</span></br>
                <span class="qty">6 x 4.5W GU10 LED BULB</span>
            </div>
            <div class="list-room-sav">ANNUAL SAVINGS</span></br>
                <span class="price">£114</span>
            </div>
        </div>

        <div class="kitchen-room-sav">
            <div class="list-price-sav">
                <h2>KITCHEN</h2>
                <span class="text">Based on:</span></br>
                <span class="qty">6 x 6W GU10 LED BULB</span></br>
                <span class="qty">6 x 2.4W UNDER CABINET LIGHTS</span>
            </div>
            <div class="list-room-sav">ANNUAL SAVINGS</span></br>
                <span class="price">£151</span>
            </div>
        </div>

        <div class="bath-room-sav">
            <div class="list-price-sav">
                <h2>BATHROOM</h2>
                <span class="text">Based on:</span></br>
                <span class="qty">4 x 6W MR16 LED BULB</span></br>
                <span class="qty">2 x 5W CANDLE LED BULB</span>
            </div>
            <div class="list-room-sav">ANNUAL SAVINGS</span></br>
                <span class="price">£107</span>
            </div>
        </div>

        <div class="bed-room-sav">
            <div class="list-price-sav">
                <h2>BEDROOM</h2>
                <span class="text">Based on:</span></br>
                <span class="qty">1 x 6W B22 FILAMENT LED BULB</span></br>
                <span class="qty">2 x 5W GOLF BALL LED BULB</span>
            </div>
            <div class="list-room-sav">ANNUAL SAVINGS</span></br>
                <span class="price">£50</span>
            </div>
        </div>

        <!-- hover artwork -->
        <div class="room_img_wrapper">
            <div class="list-icon1" >
                <img src="<?php echo $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA); ?>wysiwyg/media/living-room-save.png" alt="" class="living-room-save" />
                <img src="<?php echo $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA); ?>wysiwyg/media/bath-room-save.png" alt="" class="bath-room-save" />
                <img src="<?php echo $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA); ?>wysiwyg/media/bedroom-save.png" alt="" class="bedroom-save" />
                <img src="<?php echo $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA); ?>wysiwyg/media/kitchen-room-save.png" alt="" class="kitchen-room-save" />
                <span class="list-icon2" style=""></span>

                <span class="list-icon3" style=""></span>

                <span class="list-icon4" style=""></span>

                <span class="list-icon5" style=""></span>
            </div>
        </div>
    </div>
</div>

<?php //echo $this->getLayout()->createBlock('cms/block')->setBlockId('artwork-saving-room')->toHtml();?>


<div style="height:70px"></div>

<!--  Form artwork -->

<?php echo $this->getLayout()->createBlock("Magento\Framework\View\Element\Template")->setTemplate("Magento_Catalog::category/artwork_supplied_save.phtml")->toHtml();?>

<!-- artwork  bottom  -->

<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('artwork-bottom')->toHtml();?>

<!-- artwork jquery -->

<script type="text/javascript">
    require([
        'jquery'
    ],function ($) {
        $(document).ready(function () {
            $(".list-icon5").hover(function(){
                $(".living-room-sav").css("display","block");
                $(".kitchen-room-sav").css("display","none");
                $(".bath-room-sav").css("display","none");
                $(".bed-room-sav").css("display","none");

                $(".living-room-save").css("display","block");
                $(".kitchen-room-save").css("display","none");
                $(".bath-room-save").css("display","none");
                $(".bedroom-save").css("display","none");

            }, function(){
                $(".living-room-sav").css("display","block");
                $(".living-room-save").css("display","block");
            });
            $(".list-icon4").hover(function(){
                $(".living-room-sav").css("display","none");
                $(".kitchen-room-sav").css("display","block");
                $(".bath-room-sav").css("display","none");
                $(".bed-room-sav").css("display","none");

                $(".living-room-save").css("display","none");
                $(".kitchen-room-save").css("display","block");
                $(".bath-room-save").css("display","none");
                $(".bedroom-save").css("display","none");

            }, function(){
                $(".kitchen-room-sav").css("display","none");
                $(".kitchen-room-save").css("display","none");
                $(".living-room-sav").css("display","block");
                $(".living-room-save").css("display","block");
            });
            $(".list-icon3").hover(function(){
                $(".living-room-sav").css("display","none");
                $(".kitchen-room-sav").css("display","none");
                $(".bath-room-sav").css("display","none");
                $(".bed-room-sav").css("display","block");

                $(".living-room-save").css("display","none");
                $(".kitchen-room-save").css("display","none");
                $(".bath-room-save").css("display","none");
                $(".bedroom-save").css("display","block");

            }, function(){
                $(".bed-room-sav").css("display","none");
                $(".bedroom-save").css("display","none");
                $(".living-room-sav").css("display","block");
                $(".living-room-save").css("display","block");
            });
            $(".list-icon2").hover(function(){
                $(".living-room-sav").css("display","none");
                $(".kitchen-room-sav").css("display","none");
                $(".bath-room-sav").css("display","block");
                $(".bed-room-sav").css("display","none");

                $(".living-room-save").css("display","none");
                $(".kitchen-room-save").css("display","none");
                $(".bath-room-save").css("display","block");
                $(".bedroom-save").css("display","none");

            }, function(){
                $(".bath-room-sav").css("display","none");
                $(".bath-room-save").css("display","none");
                $(".living-room-sav").css("display","block");
                $(".living-room-save").css("display","block");
            });
        })
    });
</script>

