<!--@subject {{var email_customer}} has created a project {{var title}} {{var increment_id}} @-->

<body style=" font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:10px;">
<div style=" font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:10px;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
<tr>
    <td>{{var email_customer}} has created a project {{var title}}</td>
</tr>
</table>
</div>
</body>