<!-- 
	/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpVendorAttributeManager
 * @author    Webkul
 * @copyright Copyright (c) 2010-2016 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
 -->
 <div class="chat-loading-mask" data-role="chat-loader" data-bind="visible: showLoader">
		<div class="chat-loader">
 		<img alt="Loading..." data-bind="attr: {'src': getLoaderImage()}">
		</div>
</div>
