<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Adminhtml\Product\Helper\Form\Gallery\Content */
$elementName = $block->getElement()->getName() . '[images]';
$formName = $block->getFormName();
$albumId = $block->getAlbumId();
$url = $this->helper('\Magento\Backend\Helper\Data');
$wysiwygUrl = $url->getUrl('cms/wysiwyg_images/index');
$uploadUrl = $url->getUrl('lofgallery/album/upload');
?>
<!-- START -->

<div class="row">
  <div class="add-image-form-lib btn-custom-div">
    <button type="button" class="select-image-in-lib action-secondary"  onclick="MediabrowserUtility.openDialog('<?php echo $wysiwygUrl.'target_element_id/input-hidden-image/gallery/true';?>')">
      <span><?php echo $block->escapeHtml(__('View Gallery')) ?></span>
    </button>
    <input type="hidden" name="image_path" id="input-hidden-image" data-url="<?php echo $uploadUrl;?>" value=""/>
  </div>
  <div class="add-imge-form-isnstagram btn-custom-div">
    <button type="button" class="select-image-online action-secondary">
      <span><?php echo __('Add image Instagram #hashtag ');?></span>
    </button>
    <script>
      requirejs(['jquery','Lof_Gallery/js/addimage']);
    </script>
  </div>
  <div class="add-image-online btn-custom-div">
    <button type="button" class="select-image-in-lib action-secondary">
      <span><?php echo $block->escapeHtml(__('Add Image Online ')) ?></span>
    </button>
  </div>
  <div class="add-video-button-container btn-custom-div ">
    <button id="add_video_button"
    title="<?php echo $block->escapeHtml(__('Add Video '));?>"
    data-role="add-video-button"
    type="button"
    class="action-secondary"
    data-ui-id="widget-button-1">
    <span><?php echo $block->escapeHtml(__('Add Video ')) ?></span>
  </button>
</div>
</div>

<?php
/** @var $block \Magento\Catalog\Block\Adminhtml\Product\Helper\Form\Gallery\Content */
$element = $block->getElement();
$elementToggleCode = $element->getToggleCode() ? $element->getToggleCode() : 'toggleValueElements(this, this.parentNode.parentNode.parentNode)';
?>

<div id="<?php echo $block->getHtmlId() ?>"
 class="gallery"
 data-mage-init='{"Lof_Gallery/js/video-modal":{}}'
 data-parent-component="<?php echo $block->escapeHtml($block->getData('config/parentComponent')) ?>"
 data-images="<?php echo $block->escapeHtml($block->getImagesJson()) ?>"
 data-types="<?php echo $block->escapeHtml(
 $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($block->getImageTypes())
 ) ?>"
 >

 <?php
 if (!$block->getElement()->getReadonly()):
  ?>
<div class="image image-placeholder">
  <?php  echo $block->getUploaderHtml();
  ?>
  <div class="product-image-wrapper">
    <p class="image-placeholder-text">
      <?php echo $block->escapeHtml(
        __('Browse to find or drag image here')
        ); ?>
      </p>
    </div>
  </div>
  <?php  echo $block->getChildHtml('additional_buttons'); ?>
  <?php
  endif;
  ?>
  <?php
  foreach ($block->getImageTypes() as $typeData):
    ?>
  <input name="<?php echo $block->escapeHtml($typeData['name']) ?>"
  data-form-part="<?php  echo $formName ?>"
  class="image-<?php echo $block->escapeHtml($typeData['code']) ?>"
  type="hidden"
  value="<?php echo $block->escapeHtml($typeData['value']) ?>"/>
  <?php
  endforeach;
  ?>
  <script id="<?php  echo $block->getHtmlId() ?>-template" data-template="lof-image" type="text/x-magento-template">
    <div class="image item <% if (data.disabled == 1) { %>hidden-for-front<% } %>  <% if (data.video_url) { %>video-item<% } %>"
     data-role="lof-image">
     <input type="hidden"
     name="<?php  echo $elementName ?>[<%- data.file_id %>][position]"
     value="<%- data.position %>"
     data-form-part="<?php  echo $formName ?>"
     class="position"/>
     <input type="hidden"
     name="<?php  echo $elementName ?>[<%- data.file_id %>][name]"
     value="<%- data.name %>"
     data-form-part="<?php  echo $formName ?>"
     class="name"/>
     <input type="hidden"
     name="<?php  echo $elementName ?>[<%- data.file_id %>][type]"
     value="<%- data.type %>"
     data-form-part="<?php  echo $formName ?>"
     class="type"/>
     <% if (data.media_type !== 'external-video') {%>
      <input type="hidden"
      name="<?php  echo $elementName ?>[<%- data.file_id %>][media_type]"
      data-form-part="<?php  echo $formName ?>"
      value="image"/>
      <% } else { %>
        <input type="hidden"
        name="<?php  echo $elementName ?>[<%- data.file_id %>][media_type]"
        value="<%- data.media_type %>"
        data-form-part="<?php  echo $formName ?>"/>
        <% } %>
        <input type="hidden"
        name="<?php  echo $elementName ?>[<%- data.file_id %>][video_provider]"
        value="<%- data.video_provider %>"
        data-form-part="<?php  echo $formName ?>"/>
        <input type="hidden"
        name="<?php  echo $elementName ?>[<%- data.file_id %>][file]"
        value="<%- data.file %>"
        data-form-part="<?php  echo $formName ?>"/>
        <input type="hidden"
        name="<?php  echo $elementName ?>[<%- data.file_id %>][value_id]"
        value="<%- data.value_id %>"
        data-form-part="<?php  echo $formName ?>"/>
        <input type="hidden"
        name="<?php  echo $elementName ?>[<%- data.file_id %>][label]"
        value="<%- data.label %>"
        data-form-part="<?php  echo $formName ?>"/>
        <input type="hidden"
        name="<?php  echo $elementName ?>[<%- data.file_id %>][title]"
        value="<%- data.title %>"
        data-form-part="<?php  echo $formName ?>"/>
        <input type="hidden"
        name="<?php  echo $elementName ?>[<%- data.file_id %>][customurl]"
        value="<%- data.customurl %>"
        data-form-part="<?php  echo $formName ?>"/>
        <textarea style="display:none" name="<?php  echo $elementName ?>[<%- data.file_id %>][description]"
         data-form-part="<?php  echo $formName ?>"><%- data.description %></textarea>
         <input type="hidden"
         name="<?php  echo $elementName ?>[<%- data.file_id %>][disabled]"
         value="<%- data.disabled %>"
         data-form-part="<?php  echo $formName ?>"/>
         <input type="hidden"
         name="<?php  echo $elementName ?>[<%- data.file_id %>][productdisabled]"
         value="<%- data.productdisabled %>"
         data-form-part="<?php  echo $formName ?>"/>
         <input type="hidden"
         name="<?php  echo $elementName ?>[<%- data.file_id %>][categorydisabled]"
         value="<%- data.categorydisabled %>"
         data-form-part="<?php  echo $formName ?>"/>
         <input type="hidden"
         name="<?php  echo $elementName ?>[<%- data.file_id %>][linktargetblank]"
         value="<%- data.linktargetblank %>"
         data-form-part="<?php  echo $formName ?>"/>
         <input type="hidden"
         name="<?php  echo $elementName ?>[<%- data.file_id %>][removed]"
         value="" class="is-removed"
         data-form-part="<?php  echo $formName ?>"/>
         <input type="hidden"
         name="<?php  echo $elementName ?>[<%- data.file_id %>][video_url]"
         value="<%- data.video_url %>"
         data-form-part="<?php  echo $formName ?>"/>
         <input type="hidden"
         name="<?php  echo $elementName ?>[<%- data.file_id %>][video_title]"
         value="<%- data.video_title %>"
         data-form-part="<?php  echo $formName ?>"/>
         <input type="hidden"
         name="<?php  echo $elementName ?>[<%- data.file_id %>][video_description]"
         value="<%- data.video_description %>"
         data-form-part="<?php  echo $formName ?>"/>
         <input type="hidden"
         name="<?php  echo $elementName ?>[<%- data.file_id %>][video_metadata]"
         value="<%- data.video_metadata %>"
         data-form-part="<?php  echo $formName ?>"/>
         <input type="hidden"
         name="<?php  echo $elementName ?>[<%- data.file_id %>][role]"
         value="<%- data.video_description %>"
         data-form-part="<?php  echo $formName ?>"/>

         <div class="product-image-wrapper image-<%- data.file_id %>">
          <img class="product-image"
          data-role="lof-image-element"
          src="<%- data.url %>"
          alt="<%- data.label %>"/>

          <div class="actions">
            <button type="button"
            class="action-remove"
            data-role="delete-button"
            title="<% if (data.media_type == 'external-video') {%>
              <?php echo $block->escapeHtml(
                __('Delete video')
                ); ?>
              <%} else {%>
                <?php echo $block->escapeHtml(
                  __('Delete image')
                  ); ?>
                <%}%>">
                <span>
                  <% if (data.media_type == 'external-video') { %>
                    <?php echo $block->escapeHtml(
                      __('Delete video')
                      ); ?>
                    <% } else {%>
                      <?php echo $block->escapeHtml(
                        __('Delete image')
                        ); ?>
                      <%} %>
                    </span>
                  </button>
                  <div class="draggable-handle"></div>
                </div>
                <div class="image-fade"><span><?php echo $block->escapeHtml(
                  __('Hidden')
                  ); ?></span></div>
              </div>

              <div class="item-description">
                <% if (data.media_type !== 'external-video') {%>
                  <div class="item-title" data-role="lof-img-title"><%- data.label %></div>
                  <div class="item-size">
                    <span data-role="image-dimens"></span>, <span data-role="image-size"><%- data.sizeLabel %></span>
                  </div>
                  <% } else { %>
                    <div class="item-title" data-role="lof-img-title"><%- data.video_title %></div>
                    <% } %>
                  </div>

                  <ul class="item-roles" data-role="roles-labels">
                    <?php
                    foreach ($block->getImageTypes() as $typeData):
                      ?>
                    <li data-role-code="<?php echo $block->escapeHtml(
                      $typeData['code']
                      ) ?>" class="item-role item-role-<?php echo $block->escapeHtml(
                      $typeData['code']
                      ) ?>">
                      <?php echo $block->escapeHtml($typeData['label']) ?>
                    </li>
                    <?php
                    endforeach;
                    ?>
                  </ul>
                </div>
              </script>

              <script data-role="img-dialog-container-tmpl" type="text/x-magento-template">
                <div class="image-panel" data-role="dialog">
                </div>
              </script>

              <script data-role="img-dialog-tmpl" type="text/x-magento-template">
                <div class="dialog-left">
                  <div class="gallery-loading">
                    <span>Loading</span>
                    <div class="r1"></div>
                    <div class="r2"></div>
                    <div class="r3"></div>
                    <div class="r4"></div>
                    <div class="r5"></div>
                  </div>
                  <div class="image-panel-preview">
                    <img src="<%- data.url %>" alt="<%- data.label %>" />
                    <div class="attachment-actions">
                      <button type="button" data-role="edit-image" class="button edit-attachment gallery-btn edit-image"><?php echo __('Edit Image'); ?></button>
                    </div>
                  </div>
                  <div class="lofgallery-imageedit">
                    <div class="tui-image-editor-controls">
                      <div class="header">
                        <ul class="menu">
                          <li class="menu-item border gallery-btn" id="btn-save"><?php echo __('Save'); ?></li>
                          <li class="menu-item border gallery-btn" id="btn-cancel"><?php echo __('Cancel'); ?></li>
                        </ul>
                      </div>
                      <ul class="menu">
                        <li class="menu-item disabled" id="btn-undo"><span><?php echo __('Undo'); ?></span><i class="fa fa-rotate-left"></i></li>
                        <li class="menu-item disabled" id="btn-redo"><span><?php echo __('Redo'); ?></span><i class="fa fa-rotate-left"></i></li>
                        <li class="menu-item" id="btn-crop"><span><?php echo __('Crop'); ?></span><i class="fa fa-crop"></i></li>
                        <li class="menu-item" id="btn-flip"><span><?php echo __('Flip'); ?></span><i class="fa fa-exchange"></i></li>
                        <li class="menu-item" id="btn-rotation"><span><?php echo __('Rotation'); ?></span><i class="fa fa-refresh"></i></li>
                        <li class="menu-item" id="btn-scale"><span><?php echo __('Scale'); ?></span><i class="fa fa-arrows-alt" aria-hidden="true"></i></li>
                      </ul>
                      <div class="sub-menu-container" id="crop-sub-menu">
                        <ul class="menu">
                          <li class="menu-item" id="btn-apply-crop"><span><?php echo __('Apply'); ?></span><i class="fa fa-check"></i></li>
                          <li class="menu-item" id="btn-cancel-crop"><span><?php echo __('Cancel'); ?></span><i class="fa fa-remove"></i></li>
                        </ul>
                      </div>
                      <div class="sub-menu-container" id="flip-sub-menu">
                        <ul class="menu">
                          <li class="menu-item" id="btn-flip-x"><?php echo __('FlipX'); ?></li>
                          <li class="menu-item" id="btn-flip-y"><?php echo __('FlipY'); ?></li>
                          <li class="menu-item" id="btn-reset-flip"><?php echo __('Reset'); ?></li>
                          <li class="menu-item close"><span><?php echo __('Close'); ?></span><i class="fa fa-remove"></i></li>
                        </ul>
                      </div>
                      <div class="sub-menu-container" id="rotation-sub-menu">
                        <ul class="menu">
                          <li class="menu-item" id="btn-rotate-clockwise"><?php echo __('Clockwise(30)');?></li>
                          <li class="menu-item" id="btn-rotate-counter-clockwise"><?php echo __('Counter-Clockwise(-30)'); ?></li>
                          <li class="menu-item no-pointer"><label><?php echo __('Range input'); ?><input id="input-rotation-range" type="range" min="-360" value="0" max="360"></label></li>
                          <li class="menu-item close"><?php echo __('Close'); ?></li>
                        </ul>
                      </div>
                      <div class="sub-menu-container scale-options" id="scale-sub-menu">
                        <span style="margin-bottom: 5px;"><?php echo __('New dimensions'); ?></span>
                        <div class="scale-inputs">
                          <input type="text" name="imagewidth" value="<%- data.imagewidth %>" class="admin__control-text"/>
                          <span class="imgedit-separator">×</span>
                          <input type="text" name="imageheight" value="<%- data.imageheight %>" class="admin__control-text"/>
                        </div>
                        <div id="btn-apply-scale"><span><?php echo __('Apply'); ?></span><i class="fa fa-check"></i></div>
                      </div>
                    </div>
                    <div class="tui-image-editor"></div>
                  </div>
                </div>
                <div class="image-panel-controls">
                  <strong class="image-name"><%- data.label %></strong>

                  <fieldset class="admin__fieldset fieldset-image-panel" id="fieldset-image-panel">
                    <div class="admin__field fileinfo">
                      <label class="admin__field-label" for="image-label">
                        <span><?php  echo __('File name:')?></span>
                      </label>
                      <span><%- data.name %></span>
                    </div>
                    <div class="admin__field fileinfo">
                      <label class="admin__field-label" for="image-label">
                        <span><?php  echo __('File type:')?></span>
                      </label>
                      <span><%- data.type %></span>
                    </div>
                    <div class="admin__field fileinfo field-image-size" data-role="lof-size">
                      <label class="admin__field-label">
                        <span><?php  echo __('File Size:') ?></span>
                      </label>
                      <span data-message="<?php  echo __('{size}') ?>"></span>
                    </div>
                    <div class="admin__field fileinfo field-image-resolution" data-role="lof-resolution">
                      <label class="admin__field-label">
                        <span><?php  echo __('Image Resolution:') ?></span>
                      </label>
                      <span data-message="<?php  echo __('{width}^{height} px') ?>"></span>
                    </div>

                    <div class="admin__field field-image-url">
                      <label class="admin__field-label" for="image-label">
                        <span><?php  echo __('Url')?></span>
                      </label>
                      <div class="admin__field-control">
                        <input type="text" class="input-text admin__control-text" value="<%- data.url %>" readonly/>
                        <div style="margin-top: 10px;">
                          <input type="checkbox"
                          id="hide-from-product-page"
                          data-role="linktargetblank"
                          data-form-part="<?php  echo $formName ?>"
                          value="1"
                          class="admin__control-checkbox"
                          name="<?php  echo $elementName ?>[<%- data.file_id %>][linktargetblank]"
                          <% if (data.linktargetblank == 1) { %>checked="checked"<% } %> />
                          <label for="hide-from-product-page" class="admin__field-label">
                            <?php echo $block->escapeHtml(
                              __('Open link in a new tab')
                              ); ?>
                            </label>
                          </div>
                        </div>
                      </div>

                      <div class="admin__field field-image-label">
                        <label class="admin__field-label" for="image-customurl">
                          <span><?php  echo __('Link To Custom Url')?></span>
                        </label>
                        <div class="admin__field-control">
                          <input type="text" data-role="image-customurl" name="<?php 
                          echo $elementName
                          ?>[<%- data.file_id %>][customurl]"
                          class="input-text admin__control-text"
                          value="<%- data.customurl %>"/>
                        </div>
                      </div>

                      <div class="admin__field field-image-label">
                        <label class="admin__field-label" for="image-label">
                          <span><?php  echo __('Alt Text')?></span>
                        </label>
                        <div class="admin__field-control">
                          <input type="text" data-role="image-label" name="<?php 
                          echo $elementName
                          ?>[<%- data.file_id %>][label]"
                          class="input-text admin__control-text"
                          value="<%- data.label %>"/>
                        </div>
                      </div>

                      <div class="admin__field field-image-title">
                        <label class="admin__field-label" for="image-title">
                          <span><?php  echo __('Title')?></span>
                        </label>
                        <div class="admin__field-control">
                          <input type="text" data-role="image-title" name="<?php 
                          echo $elementName
                          ?>[<%- data.file_id %>][title]"
                          class="input-text admin__control-text"
                          value="<%- data.title %>"/>
                        </div>
                      </div>

                      <div class="admin__field field-image-description">
                        <label class="admin__field-label" for="image-description">
                          <span><?php /* @escapeNotVerified */ echo __('Description')?></span>
                        </label>

                        <div class="admin__field-control">
                          <textarea data-role="image-description"
                          rows="3"
                          class="admin__control-textarea"
                          name="<?php /* @escapeNotVerified */
                          echo $elementName
                          ?>[<%- data.file_id %>][description]"><%- data.description %></textarea>
                        </div>
                      </div>

                      <div class="admin__field field-image-role">
                        <label class="admin__field-label">
                          <span><?php echo $block->escapeHtml(
                            __('Role')
                            ); ?></span>
                          </label>
                          <div class="admin__field-control">
                            <ul class="multiselect-alt">
                              <?php
                              foreach ($block->getMediaAttributes() as $attribute) :
                                ?>
                              <li class="item">
                                <label>
                                  <input class="image-type"
                                  data-role="type-selector"
                                  data-form-part="<?php  echo $formName ?>"
                                  type="checkbox"
                                  value="<?php echo $block->escapeHtml(
                                  $attribute['code']
                                  ) ?>"
                                  />
                                  <?php  echo $block->escapeHtml(
                                    $attribute['label']
                                    ) ?>
                                  </label>
                                </li>
                                <?php
                                endforeach;
                                ?>
                              </ul>
                            </div>
                          </div>

                          <div class="admin__field field-image-hide">
                            <div class="admin__field-control">
                              <div class="admin__field admin__field-option">
                                <input type="checkbox"
                                id="hide-from-album-page"
                                data-role="visibility-trigger"
                                data-form-part="<?php  echo $formName ?>"
                                value="1"
                                class="admin__control-checkbox"
                                name="<?php  echo $elementName ?>[<%- data.file_id %>][disabled]"
                                <% if (data.disabled == 1) { %>checked="checked"<% } %> />

                                <label for="hide-from-album-page" class="admin__field-label">
                                  <?php echo $block->escapeHtml(
                                    __('Hide from Album Page')
                                    ); ?>
                                  </label>
                                </div>
                              </div>

                              <div class="admin__field-control">
                                <div class="admin__field admin__field-option">
                                  <input type="checkbox"
                                  id="hide-from-product-page"
                                  data-role="productdisabled"
                                  data-form-part="<?php  echo $formName ?>"
                                  value="1"
                                  class="admin__control-checkbox"
                                  name="<?php  echo $elementName ?>[<%- data.file_id %>][productdisabled]"
                                  <% if (data.productdisabled == 1) { %>checked="checked"<% } %> />

                                  <label for="hide-from-product-page" class="admin__field-label">
                                    <?php echo $block->escapeHtml(
                                      __('Hide from Product Page')
                                      ); ?>
                                    </label>
                                  </div>
                                </div>

                                <div class="admin__field-control">
                                  <div class="admin__field admin__field-option">
                                    <input type="checkbox"
                                    id="hide-from-category-page"
                                    data-role="categorydisabled"
                                    data-form-part="<?php  echo $formName ?>"
                                    value="1"
                                    class="admin__control-checkbox"
                                    name="<?php  echo $elementName ?>[<%- data.file_id %>][categorydisabled]"
                                    <% if (data.categorydisabled == 1) { %>checked="checked"<% } %> />

                                    <label for="hide-from-category-page" class="admin__field-label">
                                      <?php echo $block->escapeHtml(
                                        __('Hide from Store Category Page')
                                        ); ?>
                                      </label>
                                    </div>
                                  </div>
                                </div>
                              </fieldset>
                            </div>
                          </script>
                          <div id="<?php echo $block->getNewVideoBlockName();?>" style="display:none">
                            <?php  echo $block->getFormHtml();?>
                            <div id="video-player-preview-location" class="video-player-sidebar">
                              <div class="video-player-container"></div>
                              <div class="video-information title">
                                <label><?php echo $block->escapeHtml(
                                  __('Title:')
                                  ); ?> </label><span></span>
                                </div>
                                <div class="video-information uploaded">
                                  <label><?php echo $block->escapeHtml(
                                    __('Uploaded:')
                                    ); ?> </label><span></span>
                                  </div>
                                  <div class="video-information uploader">
                                    <label><?php echo $block->escapeHtml(
                                      __('Uploader:')
                                      ); ?> </label><span></span>
                                    </div>
                                    <div class="video-information duration">
                                      <label><?php echo $block->escapeHtml(
                                        __('Duration:')
                                        ); ?> </label><span></span>
                                      </div>
                                    </div>
                                  </div>

                                  <?php echo $block->getChildHtml('new-video'); ?>
                                </div>
                                <div id="popup-modal" class="lof-content admin__field field" style="display: none">
                                  <label class="admin__field-label lof-label" for="image-label">
                                    <span><?php  echo __('Url Instagram:')?></span>
                                  </label>
                                  <input class="input-text admin__control-text lof-input" name="url-instagram" type="text" id="url-instagram" data-url="<?php echo $uploadUrl?>"/>
                                  <div class="note admin__field-note" >Link hashtag instagram (example: https://www.instagram.com/explore/tags/hashtag/</div>
                                  <span class="message-url-fail" style="display: none; color: red"> <?php echo __('Please check your Url instagram again !')?></span>
                                  <span class="message-url-success" style="display: none; color: green"> <?php echo __('Validated')?></span>
                                </div>
                                <div id="popup-modal-message-instagram" style="display: none">
                                  <span><?php echo __('Url hashtag don\'t not exits . Please check again');?></span>
                                </div>
                                <div id="popup-modal-message-online" style="display: none">
                                  <span><?php echo __('Please Check Url image again, We Can\'t find your image in Url');?></span>
                                </div>
                                <div id="slide-modal-online-image" class="lof-content admin__field field" style="display: none">
                                  <label class="lof-label admin__field-label"><?php echo __('Add Image Online: ');?></label>
                                  <input class="lof-input input-text admin__control-text" name="url-online-image" type="text" id="url-image-online" data-url="<?php echo $uploadUrl?>"/>
                                </div>
                                <!-- END -->
