<?php 
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MagentoChatSystem
 * @author    Webkul
 * @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?php if ($block->getConfigData('host_name') !== NULL &&
         $block->getConfigData('port_number') !== NULL   
    ) {
 ?>
<div class="pp-buttons-container">
    <button id="start_server" onclick="return false;">
        <span><span><span><?php echo $block->escapeHtml($block->getStartButtonLabel()); ?></span></span></span>
    </button>
    <button id="stop_server" onclick="return false;">
        <span><span><span><?php echo $block->escapeHtml($block->getStopButtonLabel()); ?></span></span></span>
    </button>
</div>
<?php 
    $data = json_encode(
        [
            "startUrl"      => $block->getAjaxStartUrl(),
            "stopUrl"       => $block->getAjaxStopUrl(),
            "startButton"   => '#start_server',
            "stopButton"    => '#stop_server',
            'configForm'    => '#config-edit-form'
        ]
    ); 
?>
<script type="text/x-magento-init">
    {
        "*": {
            "Webkul_MagentoChatSystem/js/action/start-stop-server": <?php echo $data ?>
        }
    }
</script>
<?php } ?>