<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Widget\Fax $block */
?>

<div class="field fax <?= $block->isRequired() ? 'required' : '' ?>">
    <label for="fax" class="label">
        <span>
            <?= $block->escapeHtml(__('Fax')) ?>
        </span>
    </label>
    <div class="control">
        <?php
            $_validationClass = $block->escapeHtmlAttr(
                $this->helper('Magento\Customer\Helper\Address')
                     ->getAttributeValidationClass('fax')
            );
        ?>
        <input type="text"
               name="fax"
               id="fax"
               value="<?= $block->escapeHtmlAttr($block->getFax()) ?>"
               title="<?= $block->escapeHtmlAttr(__('Fax')) ?>"
               class="input-text form-control  <?= $_validationClass ?: '' ?>"
        >
    </div>
</div>
