// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //  Using buttons mixins
    button,
    a.action.primary {
        .lib-css(border-radius, @button__border-radius);
    }

    button {
        &:not(.primary) {
            .lib-css(box-shadow, @button__shadow);

            &:active {
                .lib-css(box-shadow, @button__shadow-active);
            }
        }
    }

    body {
        &:not(._keyfocus) {
            button {
                &:focus {
                    box-shadow: none;
                }
            }
        }
    }

    a.action.primary {
        .lib-link-as-button();
    }

    .action.primary {
        background:#2ba8db;
        color:#fff;
        border:none;
        cursor:pointer;
        display:inline-block;
        font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        
    }
}
