@keyframes fadeIn {
    to {
        opacity: 1
    }
}
.o-wrapper{
    position: relative;
    max-width: 1170px;
}
.pull-right{
  float:right!important;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width:100%!important;
}
.row{
  margin-right:-15px;
  margin-left:-15px;
}
.container:before, .container:after,.container-fluid:before, .container-fluid:after,.row:before, .row:after,.c-navigation__home:before, .c-navigation__home:after,.c-navigation__menu:before,.c-navigation__menu:after{
  content:"";
  display:table;
  clear:both;
}
.col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3,.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4,.col-xs-5,.col-sm-5,.col-md-5,.col-lg-5,.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6,.col-xs-7,.col-sm-7,.col-md-7,.col-lg-7,.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,.col-xs-9,.col-sm-9,.col-md-9,.col-lg-9,.col-xs-10,.col-sm-10,.col-md-10,.col-lg-10,.col-xs-11,.col-sm-11,.col-md-11,.col-lg-11,.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}
.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12 {
    float: left
}
.col-xs-1 {
    width: 8.33333%
}

.col-xs-2 {
    width: 16.66667%
}

.col-xs-3 {
    width: 25%
}

.col-xs-4 {
    width: 33.33333%
}

.col-xs-5 {
    width: 41.66667%
}

.col-xs-6 {
    width: 50%
}

.col-xs-7 {
    width: 58.33333%
}

.col-xs-8 {
    width: 66.66667%
}

.col-xs-9 {
    width: 75%
}

.col-xs-10 {
    width: 83.33333%
}

.col-xs-11 {
    width: 91.66667%
}

.col-xs-12 {
    width: 100%
}

.col-xs-pull-0 {
    right: auto
}

.col-xs-pull-1 {
    right: 8.33333%
}

.col-xs-pull-2 {
    right: 16.66667%
}

.col-xs-pull-3 {
    right: 25%
}

.col-xs-pull-4 {
    right: 33.33333%
}

.col-xs-pull-5 {
    right: 41.66667%
}

.col-xs-pull-6 {
    right: 50%
}

.col-xs-pull-7 {
    right: 58.33333%
}

.col-xs-pull-8 {
    right: 66.66667%
}

.col-xs-pull-9 {
    right: 75%
}

.col-xs-pull-10 {
    right: 83.33333%
}

.col-xs-pull-11 {
    right: 91.66667%
}

.col-xs-pull-12 {
    right: 100%
}

.col-xs-push-0 {
    left: auto
}

.col-xs-push-1 {
    left: 8.33333%
}

.col-xs-push-2 {
    left: 16.66667%
}

.col-xs-push-3 {
    left: 25%
}

.col-xs-push-4 {
    left: 33.33333%
}

.col-xs-push-5 {
    left: 41.66667%
}

.col-xs-push-6 {
    left: 50%
}

.col-xs-push-7 {
    left: 58.33333%
}

.col-xs-push-8 {
    left: 66.66667%
}

.col-xs-push-9 {
    left: 75%
}

.col-xs-push-10 {
    left: 83.33333%
}

.col-xs-push-11 {
    left: 91.66667%
}

.col-xs-push-12 {
    left: 100%
}

.col-xs-offset-0 {
    margin-left: 0%
}

.col-xs-offset-1 {
    margin-left: 8.33333%
}

.col-xs-offset-2 {
    margin-left: 16.66667%
}

.col-xs-offset-3 {
    margin-left: 25%
}

.col-xs-offset-4 {
    margin-left: 33.33333%
}

.col-xs-offset-5 {
    margin-left: 41.66667%
}

.col-xs-offset-6 {
    margin-left: 50%
}

.col-xs-offset-7 {
    margin-left: 58.33333%
}

.col-xs-offset-8 {
    margin-left: 66.66667%
}

.col-xs-offset-9 {
    margin-left: 75%
}

.col-xs-offset-10 {
    margin-left: 83.33333%
}

.col-xs-offset-11 {
    margin-left: 91.66667%
}

.col-xs-offset-12 {
    margin-left: 100%
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}

//Custom header
.header.content{
  height:0px!important;
  padding:0px!important;
}
.c-banner__utilities {
    position: relative;
    background-color: #393f4f;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #e9eaee;
    a{
      font-weight: 400;
      text-transform: initial;
      display: inline-block;
      line-height: 36px;
      color: #e9eaee;
      transition: all 0.2s ease;
      font-family: 'Open Sans';
    }
    li{
        margin-bottom:0px;
    }
    .contact-support{
        a{
            margin-right:15px;
        }
    }
    .c-banner__utilities-left{
        float:left;
        margin-bottom:0px;
        li.contact-head{
          display:none;
        }
        >li {
            display: inline-block;
            padding-left: 5px;
            padding-right: 5px;
            a{
              font-weight: 400;
              text-transform: initial;
              display: inline-block;
              line-height: 36px;
              color: #e9eaee;
              transition: all 0.2s ease;
              font-family: 'Open Sans'
            }
        }
    }
    .c-banner__utilities-right{
        float: right;
        text-align: right;
        >li{
          >a{
              position: relative;
              padding-left: 28px;
              >i{
                display: inline-block;
                width: 21px;
                height: 19px;
                background: url("../images/flags/user.png");
                position: absolute;
                top: 50%;
                left: 0px;
                margin-top: -12px;
              }
          }
          &:last-child{
              padding-right:0px!important;
          }
        }
        .flag-country{
          .c-banner__country-switcher{
            list-style: none;
            line-height: 36px;
            margin-bottom:0px;
            li{
              padding: 0px 6px;
              display: inline-block;
              position: relative;
              z-index: 999;
              cursor: pointer;
              &:hover{
                .dropdown{
                   display: block;
                   li{
                      background: none;
                      a{
                        text-decoration: none;
                      }
                   }
                }
              }
              .dropdown{
                display: none;
                position: absolute;
                list-style: none;
                background: #56596b;
                padding: 0 1px 5px 1px;
                top: 100%;
                right: 0;
                li{
                  display: block;
                  border: none;
                  padding: 0;
                  margin-right: 0;
                  margin-bottom: 0;
                  border-radius: 0;
                  border-top: 1px solid #45485c;
                  a{
                    display: block;
                    padding: 6px;
                    line-height: 1.5;
                    text-align: left;
                    &:hover{
                      color:#fff;
                    }
                  }
                }
              }
            }
            .caret{
              right:-15px;
              top:15px;
            }
          }
          }
      
    }
    .c-banner__utilities-left,.c-banner__utilities-right {
        display: block;
        margin-bottom: 0;
    }
}
.c-navigation__home{
    margin-bottom: 12px;
    padding-bottom: 11px;
    .c-navigation__logo{
      display: inline-block;
      float: left;
    }
    
}
.c-navigation__toolbar-right.show-tool-cart{
        display:block;
        float:right;
        .help-us{
          float: left;
          padding-top: 10px;
          p{
            margin-bottom: 0px;
            margin-top:0px;
            font-size: 33px;
            line-height: 0.9;
            font-family: 'Open Sans';
          }
          >span{
            font-size: 13px;
            font-weight: 600;
            font-family: 'Open Sans';
          }
        }
    }
.c-navigation__menu-toggle{
    padding: 0;
    background: transparent;
    border: none;
}

.c-navigation__toolbar-item{
   padding-top: 10px;
   float: left;
   padding-left: 12px;
   color: #fff;
   font-size: 13px;
   &:first-child{
       padding-left: 0;
   }
   .c-navigation__toolbar-icon{
      position: relative;
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
   }
}
.c-navigation__toolbar-label {
    display: inline-block;
    padding-left: 3px;
    line-height: 32px;
    vertical-align: middle;
    color: #393f4f;
    font-size: 13px;
    font-weight: 600
}
#navigation-search-form{
    .nested{
      display:none;
    }
}
.c-navigation__home .c-navigation__logo.hidden-des{
  display:none;
}
.c-navigation__toolbar-cart {
    margin-bottom: -12px;
    padding-bottom: 12px
}
.c-navigation__toolbar-cart-quantity{
    display: block;
    position: absolute;
    top: -6px;
    right: -12px;
    width: 24px;
    height: 24px;
    background: #dd1c24;
    border-radius: 12px;
    font-size: 13px;
    line-height: 24px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}
.c-navigation__toolbar-right.show-tool-cart{
    .hidden-cart{
        display:none;
    }
} 
.minicart-wrapper{
  .action.showcart{
    &:before{
      content:"";
    }
  }
} 
.c-banner{
  .bg-navi-menu{
    background: #27a6dd;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    .toolbar{
      margin-bottom:0px;
    }
    .container-fluid{
        padding-left:0px;
        padding-right:0px;
    }
  }
} 
.c-navigation__toolbar-left{
  float:left;
}

//Menu Header
.menu{
    .main{
      li{
          &:hover{
             a{
                color: #000;
             }
          }
      }
    }
   .main,.catalog{
      li{
          display: inline-block;
          font-size: 1.14em;
          margin-bottom: 0;
          a{
            display: block;
            padding: 8px 8px 20px 8px;
            transition: all 0.2s ease;
            font-size: 15px;
          }
          &:hover{
            a{
              text-decoration: none;
              color: #2f303a;
            }
          }
          .label{
              position: absolute;
              background: #ff6f69;
              font-weight: normal;
              font-size: 0.6em;
              padding-top: 4px;
              top: -3px;
              left: 60%;
          }
      }
      li.has-submenu{
          &:hover{
              background: #3b9bd6;
              a{
                transition: none;
              }
              .submenu{
                  display: block;
                  width: 23.55%;
              }
          }
          a{
            >span{
                 display: none;
            }
          }
      }
      .submenu,.dropdown-menu{
          position: absolute;
          left: 0;
          min-width: 230px;
          z-index: 10;
          background: #2f303a;
          border: 1px solid #fadc23;
          padding: 13.33333333px 6px 9.6px 6px;
          border-radius: 0 5px 5px 5px;
          font-size: 0.8em;
          display: none;
          li{
              display: block;
              text-align: left;
              margin-left: 0;
              margin-bottom: 0;
              border-top: 1px solid #fadc23;
              border-radius: 0;
              transition: all 0.25s ease;
              &:first-child{
                padding-top: 0;
                border-top: none;
              }
              &:hover{
                background: #fadc23;
                a{
                  color: #000;
                }
              }
              a{
                display: block;
                color: #fff;
                padding: 8px 0 12px 6px;
              }
              .label{
                  position: relative;
                  display: inline-block;
                  left: auto;
                  top: auto;
                  margin-left: 10px;
              }
          }
          
      }
      .dropdown-menu{
        .static-block{
          width: 100%;
          display: table;
          h3,h4,.h3,.h4{
            color: #fff;
            margin: 0px 0px 15px;
            padding-left: 15px;
            font-weight: 400;
            a{
              padding: 0px;
              font-weight: 400;
            }
          }
          ul{
            padding-left: 15px;
            li{
              border: none;
              color: #fff;
              &:hover{
                background: transparent;
              }
              a{
                padding: 5px 0 5px 0px;
              }
            }
          }
          .col1{
              display: table-cell;
              width: 25%;
              padding: 0px;
          }
          .col1.shop{
              width: 370px;
          }
          .col1.list_icons{
              ul{
                li.gu10{
                  a{
                    &:before{
                      background-position: 0 -45px;
                    }
                  }  
                }
                li.mr16{
                  a{
                    &:before{
                      background-position: -401px -45px;
                    }
                  }
                }
                li.mr11{
                  a{
                    &:before{
                      background-position: -350px -45px
                    }
                  }
                }
                li.e27{
                  a{
                    &:before{
                      background-position: -300px 0px;
                    }
                  }
                }
                li.e14{
                  a{
                    &:before{
                      background-position: -250px 0px;
                    }
                  }
                }
                li.g12{
                  a{
                    &:before{
                      background-position: -452px -50px;
                    }
                  }
                }
                li.b22{
                  a{
                    &:before{
                      background-position: -50px 0px;
                    }
                  }
                }
                li.g9{
                  a{
                    &:before{
                      background-position: -400px 0px;
                    }
                  }
                }
                li.g4{
                  a{
                    &:before{
                      background-position: -350px 0px;
                    }
                  }
                }
                li.t5t8{
                  a{
                    &:before{
                      background-position: -300px 0px;
                    }
                  }
                }
                li.g24{
                  a{
                    &:before{
                      background-position: -500px -50px;
                    }
                  }
                }
                li{
                  a{
                     padding: 13px 0 16px 60px;
                  }
                }
              } 
          }
          .col2{
              display: table-cell;
              width: auto;
              padding: 0px 30px;
              .sub-col1{
                display: table-cell;
                width: auto;
              }
              .sub-col1.list_icons{
                ul{
                  li.sl{
                    a{
                      &:before{
                        background-position: -150px -50px;
                      }
                    }
                  }
                  li.sd{
                    a{
                      &:before{
                        background-position: -200px -50px;
                      }
                    }
                  }
                  li.gb{
                    a{
                      &:before{
                        background-position: -50px -50px;
                      }
                    }
                  }
                  li.rf{
                    a{
                      &:before{
                        background-position: -100px -50px;
                      }
                    }
                  }
                  li.cd{
                    a{
                      &:before{
                        background-position: -150px -2px;
                      }
                    }
                  }
                  li.cs{
                    a{
                      &:before{
                        background-position: -200px 0px;
                      }
                    }
                  }
                  li.st{
                    a{
                      &:before{
                        background-position: -250px -50px;
                      }
                    }
                  }
                  li.ba{
                    a{
                      &:before{
                        background-position: -100px 0px;
                      }
                    }
                  }
                  li.pa{
                    a{
                      &:before{
                        background-position: -452px 0px;
                      }
                    }
                  }
                  li.flood{
                    a{
                      &:before{
                        background-position: -500px 0px;
                      }
                    }
                  }
                  li{
                    a{
                      padding: 13px 0 16px 60px;
                    }
                  }
                }
              }
            .sub-col2{
              display: table-cell;
              width: 15%;
              padding-left: 15px;
              ul{
                li{
                    line-height: 100%;
                }
              }
            }
          }
          .col2.shop{
              width: auto;
          }
          .col2.center_block{
            ul{
              li{
                width: 33.33%;
                display: inline-block;
                float: left;
                padding-right: 10px;
                img{
                  width: 100%;
                }
              }
              li.first{
                width: 100%;
                a{
                  float: left;
                  &:first-child{
                    margin-right: 10px;
                  }
                }
              }
            }
          }
          .col3{
              display: table-cell;
              width: 125px;
              padding: 0px;
              text-align: center;
              ul{
                  margin: 0px;
                  padding: 0px;
              }
          }
          .col3.right_links{
              ul{
                li.bathroom{
                    a{
                      background-image: url("../images/bathroom-icons.png");
                    }
                }
                li.bedroom{
                    a{
                      background-image: url("../images/bedroom-icons.png");
                    }
                }
                li.livingroom{
                    a{
                      background-image: url("../images/livingroom-icons.png");
                    }
                }
                li.garden{
                    a{
                      background-image: url("../images/garden-icons.png");
                    }
                }
                li.allroom{
                    a{
                      background-image: url("../images/allroom-icons.png");
                    }
                }
                li{
                  &:hover{
                    a{
                      background-position: center 100%;
                    }
                  }
                }
              }
          }
          .sub-list-link{
              display: table-cell;
              width: 200px;
              padding-right: 5px;
              vertical-align: middle;
              li{
                a{
                  padding: 0px;
                }
              }
          }
          .left-submenu-icon{
              display: table-cell;
              vertical-align: top;
              width: 55%;
          }
          .left-submenu-icon + p{
              display: table-cell;
              vertical-align: middle;
              text-align: center;
              img{
                display: inline-block;
              }
          }
        }
      }
      .right_links{
          ul{
              li{
                  text-align: center;
                  a{
                    display: inline-block;
                    width: 50px;
                    height: 50px;
                    margin-top: 8px;
                    text-indent: -9999px;
                    background-image: url("../images/kitchen-icons.png");
                    background-position: center top;
                    background-repeat: no-repeat;
                  }
              }
          }
      }
      .list_icons{
        ul{
            float: left;
            width: 50%;
            margin: 10px 0 0 0;
            &:last-child{
              width: 47%;
              padding-left: 3%;
            }
            li{
                &:hover{
                  a{
                    &:before{
                        border-color: #2ba8db;
                    }
                  }
                }
                a{
                    display: block;
                    position: relative;
                    margin-bottom: 10px;
                    &:before{
                        position: absolute;
                        content: '';
                        width: 50px;
                        height: 50px;
                        left: 0;
                        top: 0;
                        border: 4px solid #fadc23;
                        border-radius: 100%;
                        background-image: url(../images/product_icon_sprites_v2.png);
                        background-position: 0px 0px;
                        background-repeat: no-repeat;
                        background-color: #fff;
                    }
                }
            }
        }
      }
   }
   .catalog{
      li{
          float: left;
          transition: background 0.2s ease;
          &:first-child {
              margin-left: 0
          }
          &:hover{
            background: #fadc23;
          }
          .submenu{
              .sub-submenu_custom {
                  left: 100% !important;
                  padding-left: 20% !important;
                  z-index: 4 !important;
                  width: 100%;
                  margin-left: 84% !important;
                  display: none;
              }
              .sub-submenu{
                  li {
                      border-top: 1px solid #000
                  }  
              } 
          }
          .sub-submenu_custom{
              .btn {
                  font-size: 1em;
                  color: #fff !important;
                  padding: 10px;
                  font-weight: normal;
                  text-align: center;
                  vertical-align: middle;
                  cursor: pointer;
                  border: none;
                  border-radius: 5px;
                  white-space: nowrap;
                  transition: all 0.3s ease;
                  outline: 0;
                  margin-right: 5px;
                  background: #2ba8db !important;
                  transition: all 0.3s ease;
                  text-transform: initial
              }
          } 
      }
      li.level0{
        position: static;
        .dropdown-menu{
            width: 100%;
            top: 140px;
            border: none;
            border-radius: 0;
            .submenu {
                display: inline-block;
                position: static;
                top: 0px;
                width: 100%
            }
        }
      }
   }
}
.offer .sub-submenu_custom {
    display: block;
    left: 0 !important;
    margin-left: -30px !important
}
.menu{
    .catalog{
      li{
          .submenu{
              .sub-submenu{
                  li{
                      border-top: 1px solid #000;
                      width: 220px;
                      a{
                          img{
                              right: 4px;
                              top: 3px;
                              max-height: 40px;
                              width: 41px;
                          }
                      }
                  }
              }
              .offer{
                  .col-2{
                      left: auto;
                  }
              }
              li.offer{
                  .col-2 {
                      width: 50%
                  }
                  .col-1 {
                      width: 50%
                  }
              }
              li.has-submenu{
                  a{
                      padding: 10px 0 10px 6px;
                  }
                  >a{
                       position: relative;
                       &:after{
                          display: block;
                          position: absolute;
                          right: -25px;
                          top: 59%;
                          margin-top: -11px;
                          font-family: FontAwesome;
                          color: #fff;
                          content: '\f054';
                          font-size: 0.9em;
                          float: right;
                       }
                  }
              }
              li{
                a{
                    &:hover{
                        &:after{
                           color: #000; 
                        }
                    }
                }
              }
               li.has-submenu.new,li.has-submenu.sales{
                  >a{
                      &:after{
                          content:'';
                      }
                  }
               }
               li.has-submenu.clearance{
                  &:hover{
                      >.sub-submenu {
                          display: none;
                      }
                  }
               }
          }
          .sub-submenu_custom{
            .btn{
                &:hover{
                    background: #1f89b4 !important;
                }
            }
          }
          li.has-submenu.clearance{
              >a{
                  &:after{
                     content: ''; 
                  }
              }
          }
          
      }
      .submenu{
        >li.has-submenu{
            a{
              >span.icon-new,>span.icon-sales{
                  display:none;
              }
            }
        }
      }
      li.has-submenu.mordern{
              &:hover{
                  .submenu{
                      left:232px;
                  }
              }
      }
      li.has-submenu{
        transition: none;
      }
      >li.has-submenu{
          border-left: 1px solid #5cbce5;
          &:first-child{
            background: #3b9bd6
          }
          a{
            position: relative;
          }
      }
    }
    .catalog,.main{
        li.has-submenu{
            a{
              >em{
                  display: none;
              }
            }
        }
    }
}
.menu{
  .catalog{
      li{
         .submenu{
            li.has-submenu.clearance{
                &:hoverli.offer{
                      >*{
                        display: block !important;
                      }
                }
            }
         } 
      }
      >li.has-submenu{
        a{
          span.icon-new,span.icon-sales{
              display: block;
              position: absolute;
              top: 0px;
              left: 0px;
              width: 42px;
              height: 42px;
          }
          >span.icon-new{
              background: url("../images/flags/icon-new.png") no-repeat;
          }
          >span.icon-sales{
              background: url("../images/flags/icon-sale.png") no-repeat;
          }
        }
        &:hover{
            a{
                transition: none;
            }
        }
      }
  }
}
.menu .catalog li.has-submenu:hover .submenu {
    display: block;
    top: auto;
    left: 0px
}

.menu .catalog li a {
    padding: 17px;
    color: #fff;
    background: none;
    font-weight: 600;
    font-family: 'Open Sans'
}

.menu .catalog li a:hover,.menu .catalog li a:focus {
    color: #fff
}

.menu .catalog li .submenu {
    z-index: 99;
    background: #2f303a;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 6px;
    border: 1px solid #2f303a;
    border-top: none;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 5px 20px rgba(47,48,58,0.2)
}

.menu .catalog li .submenu li {
    width: 100%;
    border-top: 1px solid #fadc23
}

.menu .catalog li .submenu li:hover {
    background: #fadc23
}

.menu .catalog li .submenu li.has-submenu {
    padding-right: 32px
}

.menu .catalog li .submenu li.has-submenu:hover>.sub-submenu,.menu .catalog li .submenu li.has-submenu:hover>.sub-submenu_custom {
    display: block
}

.menu .catalog li .submenu li.offer .col-1 {
    width: 50%
}

.menu .catalog li .submenu li.offer .col-2 {
    width: 50%
}

.menu .catalog li .submenu li.offer.has_overlap>* {
    display: none
}

.menu .catalog li .submenu li .sub-submenu.grid-3columns {
    left: 275px;
    right: 30%;
    top: 0 !important;
    width: auto
}

.menu .catalog li .submenu li .sub-submenu.grid-3columns li {
    width: 140px;
    display: inline-block;
    margin-right: 10px
}

.menu .catalog li .submenu .sub-submenu {
    position: absolute;
    display: none;
    padding-left: 32px;
    padding-top: 20px;
    z-index: 5;
    top: 0 !important;
    left: 100%;
    margin-left: -12px
}

.menu .catalog li .submenu .sub-submenu li {
    width: 220px;
    border-top: 1px solid #2ba8db;
    transition: all 0.2s ease
}

.menu .catalog li .submenu .sub-submenu li:first-child {
    border-top: none
}

.menu .catalog li .submenu .sub-submenu li a {
    color: #2f343b;
    transition: all 0.2s ease
}

.menu .catalog li .submenu .sub-submenu li:hover {
    background: none
}

.menu .catalog li .submenu .sub-submenu li:hover a {
    color: #2ba8db
}

.menu .catalog li .submenu .offer {
    display: block;
    position: absolute;
    width: 519px;
    min-height: 100%;
    top: 0;
    left: 100%;
    background: #fff;
    border: none;
    border-radius: 0 0 3px 0;
    box-shadow: 0 5px 20px rgba(47,48,58,0.2)
}

.menu .catalog li .submenu .offer:hover {
    background: #fff
}

.menu .catalog li .submenu .offer .col-1 {
    width: 40%;
    float: left;
    padding: 20px
}

.menu .catalog li .submenu .offer .col-2 {
    width: 60%;
    float: left;
    padding: 20px
}

.menu .catalog li .submenu .offer .btn {
    color: #fff;
    text-transform: initial !important
}

.menu .catalog li .submenu .offer .btn {
    background: #2ba8db;
    transition: all 0.3s ease
}

.menu .catalog li .submenu .offer .btn:hover {
    background: #1f89b4
}

.site-header.stuck .menu .catalog li.level0 .dropdown-menu {
    top: 70px
}
.trade-sub-img.hidden-desktop{
    display:none;
}
.call-us {
    border: 1px solid #fff;
    border-radius: 5px;
    display: none;
    position: absolute;
    top: 11px;
    right: 175px;
    padding: 5px 13px 2px;
    .icon-phone {
        background: url("../images/category/call-phone.png");
        width: 15px;
        height: 28px;
        display: inline-block
    }
}
div.minicart-wrapper{
    .action.showcart:before{
        content:''!important;

    }
} 
@media (max-width: 1199px) {
    .menu,.small-header .menu {
        position:absolute;
        left: 0;
        max-width: 100%;
        height: auto;
        background-color: #3d4051;
        border-top: 1px solid #56596b;
        top: 58px;
        display: none;
        padding-bottom: 0;
        z-index: 99;
    }

    .menu ul.catalog li.last a {
        border-bottom: 0 !important
    }

    .menu.expanded,.small-header .menu.expanded {
        display: block
    }

    .menu .catalog li a,.small-header .menu .catalog li a {
        border-bottom: 1px solid #fadc23
    }

    .menu .catalog li a:last-child,.small-header .menu .catalog li a:last-child {
        border-bottom: none
    }

    .menu .catalog li a:hover,.small-header .menu .catalog li a:hover {
        background: #fadc23
    }

    .menu .main li a,.small-header .menu .main li a {
        border-bottom: 1px solid #2ba8db
    }

    .menu .main li a:hover,.small-header .menu .main li a:hover {
        background: #2ba8db
    }

    .menu .main,.small-header .menu .main,.menu .catalog,.small-header .menu .catalog {
        width: 100%;
        max-width: 100%;
        float: none;
        text-align: left;
        padding: 0;
        margin: 0;
        border: none
    }

    .menu .main li,.small-header .menu .main li,.menu .catalog li,.small-header .menu .catalog li {
        display: block;
        width: 100% !important;
        border-radius: 0;
        margin-bottom: 0;
        border: none;
        transition: background 0.3s ease
    }

    .menu .main li.has-submenu a,.small-header .menu .main li.has-submenu a,.menu .catalog li.has-submenu a,.small-header .menu .catalog li.has-submenu a {
        display: block;
        padding-right: 60px !important
    }

    .menu .main li.has-submenu:hover a,.small-header .menu .main li.has-submenu:hover a,.menu .catalog li.has-submenu:hover a,.small-header .menu .catalog li.has-submenu:hover a {
        transition: background 0.3s ease
    }

    .menu .main li.has-submenu:hover .submenu,.small-header .menu .main li.has-submenu:hover .submenu,.menu .catalog li.has-submenu:hover .submenu,.small-header .menu .catalog li.has-submenu:hover .submenu {
        display: block;
        left: 0
    }

    .menu .main li.has-submenu a>span,.small-header .menu .main li.has-submenu a>span,.menu .catalog li.has-submenu a>span,.small-header .menu .catalog li.has-submenu a>span {
        display: block;
        position: absolute;
        right: 10px;
        top: 50%;
        width: 50px;
        text-align: center;
        height: 40px;
        padding: 12px;
        margin-top: -20px;
        color: #fff;
        font-size: 0.9em;
        transition: all 0.25s ease;
        line-height: 1
    }

    .menu .main li.has-submenu a>span:hover,.small-header .menu .main li.has-submenu a>span:hover,.menu .catalog li.has-submenu a>span:hover,.small-header .menu .catalog li.has-submenu a>span:hover {
        color: #fff;
        opacity: 0.75 !important;
        filter: alpha(opacity=75) !important
    }

    .menu .main li.has-submenu a>span.open:before,.small-header .menu .main li.has-submenu a>span.open:before,.menu .catalog li.has-submenu a>span.open:before,.small-header .menu .catalog li.has-submenu a>span.open:before {
        content: "\f077"
    }

    .menu .main li.has-submenu .submenu a:after,.small-header .menu .main li.has-submenu .submenu a:after,.menu .catalog li.has-submenu .submenu a:after,.small-header .menu .catalog li.has-submenu .submenu a:after {
        display: none
    }

    .menu .main li.has-submenu .sub-submenu,.small-header .menu .main li.has-submenu .sub-submenu,.menu .catalog li.has-submenu .sub-submenu,.small-header .menu .catalog li.has-submenu .sub-submenu,.menu .main li.has-submenu .offer,.small-header .menu .main li.has-submenu .offer,.menu .catalog li.has-submenu .offer,.small-header .menu .catalog li.has-submenu .offer {
        display: none !important
    }

    .menu .main li a,.small-header .menu .main li a,.menu .catalog li a,.small-header .menu .catalog li a {
        position: relative;
        background: transparent;
        padding: 11px 35px !important;
        color: #fff;
        transition: background 0.3s ease
    }

    .menu .main .submenu,.small-header .menu .main .submenu,.menu .catalog .submenu,.small-header .menu .catalog .submenu {
        display: block;
        position: relative !important;
        width: 100% !important;
        max-height: 0px !important;
        overflow: hidden !important;
        padding: 0 !important;
        top: 0 !important;
        border: none;
        border-radius: 0;
        transition: all 0.3s ease
    }

    .menu .main .submenu.open,.small-header .menu .main .submenu.open,.menu .catalog .submenu.open,.small-header .menu .catalog .submenu.open {
        max-height: 1000px !important;
        padding:0px!important
    }

    .menu .main .submenu li,.small-header .menu .main .submenu li,.menu .catalog .submenu li,.small-header .menu .catalog .submenu li {
        padding-left: 20px;
        border-top: none;
        border-bottom: 1px solid #56596b
    }

    .menu .main .submenu li a,.small-header .menu .main .submenu li a,.menu .catalog .submenu li a,.small-header .menu .catalog .submenu li a {
        padding-right: 15px;
        transition: all 0.3s ease !important;
        border: none
    }

    .menu .main .submenu li:hover,.small-header .menu .main .submenu li:hover,.menu .catalog .submenu li:hover,.small-header .menu .catalog .submenu li:hover,.menu .main .submenu li:hover a,.small-header .menu .main .submenu li:hover a,.menu .catalog .submenu li:hover a,.small-header .menu .catalog .submenu li:hover a {
        background: none !important;
        color: #2ba8db
    }

    .menu .main li.has-submenu a span,.small-header .menu .main li.has-submenu a span,.menu .catalog li.has-submenu a span,.small-header .menu .catalog li.has-submenu a span {
        border: 1px solid transparent;
        border-radius: 5px
    }

    .menu .main li.has-submenu:hover a span,.small-header .menu .main li.has-submenu:hover a span,.menu .catalog li.has-submenu:hover a span,.small-header .menu .catalog li.has-submenu:hover a span {
        border: 1px solid #fff
    }

    .menu .catalog li.has-submenu:hover a span.icon-new,.menu .catalog li.has-submenu:hover a span.icon-sales {
        border: 1px solid transparent
    }

    .menu .catalog li,.small-header .menu .catalog li {
        position: relative;
        z-index: 6;
        margin-top: -1px
    }

    .menu .catalog li a,.small-header .menu .catalog li a {
        border-bottom: 1px solid #fadc23 !important
    }

    .menu .catalog li.has-submenu,.small-header .menu .catalog li.has-submenu {
        transition: background 0.3s ease
    }

    .menu .catalog li .submenu,.small-header .menu .catalog li .submenu {
        height: auto !important;
        top: 0px;
        border-radius: 0;
        margin:0;
    }

    .menu .catalog li .submenu li,.small-header .menu .catalog li .submenu li {
        width: 100%;
        border-top: none;
        border-bottom: 1px solid #56596b
    }

    .menu .catalog li .submenu li:hover,.small-header .menu .catalog li .submenu li:hover,.menu .catalog li .submenu li:hover a,.small-header .menu .catalog li .submenu li:hover a {
        color: #fadc23 !important
    }

    .menu .catalog li .submenu li a,.small-header .menu .catalog li .submenu li a {
        border: none !important
    }

    .menu .catalog li .submenu li.has-submenu:after,.small-header .menu .catalog li .submenu li.has-submenu:after {
        display: none
    }
}

.menu .main li {
    position: relative
}
.menu .catalog li.trade-customer-nav .submenu {
    width: 786.5px !important;
    background: #fff;
    border: none;
    padding: 0
}

.small-header .menu .catalog li.trade-customer-nav .submenu {
    width: 894.9px !important
}

.menu .catalog li.trade-customer-nav .submenu li {
    float: left;
    text-align: center;
    border: none;
    background: none !important
}
.menu .catalog li.trade-customer-nav .submenu li:hover {
    background: none !important
}

.menu .catalog li.trade-customer-nav .submenu li a {
    color: #2f303a;
    padding: 65px 0 0 !important;
    background: url("../images/bg-trade-nav.png") no-repeat;
    white-space: nowrap;
    font-size: 13px;
    transition: all 0.2s ease
}

.menu .catalog li.trade-customer-nav .submenu li a:hover {
    background: url("../images/bg-trade-nav-hover.png") no-repeat
}

.menu .catalog li.trade-customer-nav .submenu li a img {
    float: none !important;
    text-align: center;
    clear: both;
    width: 100%;
    padding: 0 15px
}

.trade-sub-1 a,.trade-sub-1 a:hover {
    background-position: 20px 0 !important
}

.trade-sub-2 a,.trade-sub-2 a:hover {
    background-position: -87px 0 !important
}

.trade-sub-3 a,.trade-sub-3 a:hover {
    background-position: -197px 0 !important
}

.trade-sub-4 a,.trade-sub-4 a:hover {
    background-position: -307px 0 !important
}

.trade-sub-5 a,.trade-sub-5 a:hover {
    background-position: -417px 0 !important
}

.trade-sub-6 a,.trade-sub-6 a:hover {
    background-position: -527px 0 !important
}

.trade-sub-7 a,.trade-sub-7 a:hover {
    background-position: -637px 0 !important
}

.trade-sub-8 a,.trade-sub-8 a:hover {
    background-position: 20px -130px !important
}

.trade-sub-9 a,.trade-sub-9 a:hover {
    background-position: -87px -130px !important
}

.trade-sub-10 a,.trade-sub-10 a:hover {
    background-position: -197px -130px !important
}

.trade-sub-11 a,.trade-sub-11 a:hover {
    background-position: -307px -130px !important
}

.trade-sub-12 a,.trade-sub-12 a:hover {
    background-position: -417px -130px !important
}

.trade-sub-13 a,.trade-sub-13 a:hover {
    background-position: -527px -130px !important
}

.trade-sub-14 a,.trade-sub-14 a:hover {
    background-position: -637px -130px !important
}

.trade-sub-15 a,.trade-sub-15 a:hover {
    background-position: 20px -253px !important
}

.trade-sub-16 a,.trade-sub-16 a:hover {
    background-position: -87px -253px !important
}

.trade-sub-17 a,.trade-sub-17 a:hover {
    background-position: -197px -253px !important
}

.trade-sub-18 a,.trade-sub-18 a:hover {
    background-position: -307px -253px !important
}

.trade-sub-19 a,.trade-sub-19 a:hover {
    background-position: -417px -253px !important
}

.trade-sub-20 a,.trade-sub-20 a:hover {
    background-position: -527px -253px !important
}

.menu .catalog li.trade-customer-nav .submenu li.trade-sub-img {
    float: left;
    width: 100% !important;
    position: relative
}

.menu .catalog li.trade-customer-nav .submenu {
    width: 786.5px !important;
    background: #fff;
    border: none;
    padding: 0
}

.small-header .menu .catalog li.trade-customer-nav .submenu {
    width: 894.9px !important
}

.menu .catalog li.trade-customer-nav .submenu li {
    float: left;
    text-align: center;
    border: none;
    background: none !important
}

.trade-head-txt {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 15px;
    text-align: left;
    width: 100%
}

.trade-head-txt>h2 {
    margin-top: 24px;
    margin-bottom: 0;
    font-size: 48px;
    line-height: 1;
    font-weight: 700;
    text-transform: none;
    letter-spacing: 0
}

.trade-head-txt>p {
    margin: 0
}

.benefit-trade-acc {
    font-size: 12px;
    color: #2f303a
}

.menu .catalog li.trade-customer-nav .submenu .trade-head-txt li {
    width: auto !important;
    margin-right: 28px;
    position: relative
}

.menu .catalog li.trade-customer-nav .submenu .trade-head-txt li:before {
    content: '';
    float: right;
    position: absolute;
    right: -23px;
    bottom: 0;
    width: 20px;
    height: 20px;
    background: url("/skin/frontend/lightrabbit/bootstrap/images/icon-trade.png") no-repeat !important
}

.menu .catalog li.trade-customer-nav ul.submenu {
    background: transparent
}

.menu .catalog li.trade-customer-nav ul ul.submenu-content {
    position: absolute;
    left: 0;
    right: 0;
    display: inline-block;
    background: #fff;
    border: 1px solid #e9eaee;
    border-top: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 24px 0;
    box-shadow: 0 5px 20px rgba(47,48,58,0.2)
}

.menu .catalog li.trade-customer-nav .submenu li.trade-sub-img a {
    background: none;
    padding: 0 !important;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.04em
}

.menu .catalog li.trade-customer-nav .submenu li.trade-sub-img a img {
    width: 100%;
    padding: 0
}

.menu .catalog li.trade-customer-nav .submenu li.trade-nav-heading {
    width: 100% !important;
    text-align: left;
    background: none !important;
    padding: 0 20px 20px;
    font-weight: bold
}
div.minicart-wrapper{
  margin-left:0px;
  padding-top:0px;
}
.collapse.in{
  display:block;
}
.c-navigation__search{
    position: absolute;
    height: 60px !important;
    left: 0;
    right: 0;
    bottom: -112px;
    padding-top: 12px;
    padding-right: 15px;
    padding-bottom: 12px;
    padding-left: 15px;
    background-color: #27a6dd;
    z-index: 20;
}
#navigation-search-form{
  input.c-search-box__input{
      height:41px;
  }
}
input.c-search-box__input{
  border:1px solid #45485c!important;
}
//End Custom Header

.page-header{
   .header.panel{
    padding-bottom:0px;
    padding-top:0px;  
   }  
}

.free-delivery-home
{
    .delivery{
        margin:0;
        text-align: center;
        li{
            display: inline-block;
            padding:13px 34px 13px 73px;
            margin-bottom: 0px;
            font-size:14px;
            cursor: help;
            position: relative;
        }
        .warranty{
            background:url('../images/delivery/18-month-icon.svg') no-repeat 0px 0px;
            padding-left:80px;
        }
        .day-return{
            background:url('../images/delivery/90-day.png') no-repeat  18px 5px;
        }
        .expert-advice{
            background:url('../images/delivery/expert.png') no-repeat  18px 7px;
        }
        .fre-deli{
            background:url('../images/delivery/delivery.png') no-repeat  3px 10px;
        }
        .fre-irish{
          background:url('../images/delivery/delivery-ie-icon.svg') no-repeat  3px 0px;
        }
        .info-delivery{
            .popover {
                position: absolute;
                bottom: -94px;
                top:initial;
                left: 0;
                z-index: 10;
                max-width: 276px;
                padding: 1px;
                font-family: "Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
                font-style: normal;
                font-weight: normal;
                letter-spacing: normal;
                line-break: auto;
                line-height: 1.5;
                text-align: left;
                text-align: start;
                text-decoration: none;
                text-shadow: none;
                text-transform: none;
                white-space: normal;
                word-break: normal;
                word-spacing: normal;
                word-wrap: normal;
                font-size: 16px;
                background-color: #fff;
                background-clip: padding-box;
                border: 1px solid #fff;
                border-radius: 6px;
                -webkit-box-shadow: 0 0 20px rgba(47,48,58,0.15);
                box-shadow:0 0 20px rgba(47,48,58,0.15);
                display:none;
            }
        }
    }    
} 
.popover-content{
    padding:9px 14px;
    font-size:12px;
    color:#000;
}
.popover-content.custom-padding{
  padding:9px 6px;
}
.popover>.arrow,.popover>.arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid
}
.info-delivery{
  .popover{
      .arrow {
          top: -22px;
          left: 50%;
          margin-left: -11px;
          border-top-width: 0px;
          border-bottom-color: #fff;
          border-width: 11px
      }
  } 
} 
.posts-widget {
    width: 100%;
    background: #27a7de;
    color: #fff;
    position: relative;
    h2,h3,h4,h5,h6{
      color: #fff;
      font-weight: 400;
    }
    .twitter-feed{
      padding-left:30px;
      background:#27a7de;
    }
    .transform-inspiration{
        .title {
            border: none;
            border-radius: 5px;
            margin: 16px auto 24px;
            max-width: 356px;
            position: relative;
            text-align: left;
            width: 100%;
            margin: 16px auto 0px;
            &:hover{
              >a&:after{
                  content: '';
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background: #ffd236 url("../img/bg-hover-guider.png") no-repeat;
                  background-position: center;
                  border-radius: 5px;
                  opacity: 0.5;
              }
            }
            >a {
                position: relative;
                display: inline-block
            }
            img{
                border-radius: 5px;
            }
            .footer {
                border: none;
                color: #a4a6a9;
                min-height: 87px;
                background: none;
                background: none;
                padding: 24px 0px 0px !important;
                span {
                    color: #b2b2b2;
                    display: block;
                    font-size: 0.875em;
                    font-weight: 300;
                    margin-top: 5px
                }
                >a {
                    clear: both;
                    display: inline-block;
                    float: left;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 100%;
                    color: #2f303a;
                    font-size: 1.25em;
                    font-weight: 300;
                    color: #fff;
                }
                span.blur_name {
                    font-size: 14px
                }
            }
        }
    } 
    .latest-posts,.twitter-feed{
      padding-top: 48px;
      padding-bottom: 30px;
      position: relative;
      z-index: 1
    }
}

.list-buld-type{
  .content-buld{
    li{
      a{
        display: inline-block;
          color: #000;
          padding-top: 85px;
          min-width: 75px;
          text-align: center;
          position: relative;
      }
    }   
  } 
}
div.block.newsletter{ 
    width:100%;
    margin-top:20px;
    margin-bottom:0px;
    background:#27a7de; 
    padding-top:48px;
    padding-bottom:48px; 
    .descri-newsletter{
        color:#fff;
        h2{
          color:#fff;
          font-size:21px;
        }
    }
    #newsletter-validate-detail{
        button.subscribe{
            background:#fadc23;
        }
    }
}
.brand-carousel{
    clear: both;
    padding: 30px 0 20px 0;
    border-top: 1px solid #e6e6e6;
    h2{
      color: #b2b2b2;
      font-weight: 400;
    }
    .container{
      position: relative;
    }
    .inner{
      width: 100%;
      max-width: 945px;
      margin: auto;
      text-align: center;
    }
    .title-our-client{
      text-align:center;
      margin:0px;
    }
}
.our-product-work{
    text-align: center;
    padding: 20px 0;
    img{
      padding: 0 9px;
    }
    img.first-img{
      padding-left: 50px;
    }
    span{
      vertical-align: middle;
      font-size: 21px;
      color: #999a9c;
    }
    span.show-mobie{
      display: none;
    }
}
.list-buld-type{
    padding-bottom: 20px;
    .title-buld-type{
      text-align:center;
      color:#9a9b9f;
      margin-top:20px;
    }
    .content-buld{
      margin:0 auto;
      width:94%;
      li{
        text-align: center;
        a{
          display: inline-block;
          color: #000;
          padding-top: 85px;
          min-width: 75px; 
          text-align: center; 
          position: relative;
        }
        a:before{
          border: 3px solid #FFF; 
          border-radius: 100%; 
          content: ""; 
          position: absolute; 
          width: 90px; 
          height: 90px; 
          left: 50%; 
          top: 0; 
          margin-left: -41.725px;
          background: url(../images/bulb-selector-home.png) 3px 3px no-repeat; 
          -webkit-transition: all 0.2s linear; 
          -moz-transition: all 0.2s linear; 
          -o-transition: all 0.2s linear; 
          -ms-transition: all 0.2s linear; 
          transition: all 0.2s linear; 
          -webkit-transform:scale(0.85); 
          -moz-transform:scale(0.85); 
          -o-transform:scale(0.85); 
          -ms-transform:scale(0.85); 
          transform:scale(0.85);
        }
      }
      li.mr16_12v{
        a:before{
          background-position: -108px 3px;
        }
      }
      li.mr11_12v{
        a:before{
          background-position: -218px 3px;
        } 
      }
      li.filament{
         a:before{background-position: -332px 3px; }
      }
      li.g9{
         a:before{background-position: -441px 3px;}
      }
      li.g4_12v{
         a:before{background-position: -551px 3px;}
      }
      li.e27{
        a:before{background-position: -659px 3px;}
      } 
      li.b22{
        a:before{background-position: -879px 3px;}
      } 
      li.b15{
        a:before{background-position: -989px 3px;}
      } 
      li.last-select-buld{
        a:before{background-position: -1096px 3px;}
      } 
      li.gu10:hover{
        a:before{background-position: 0px -95px;}
      } 
      li.mr16_12v:hover{
        a:before{background-position: -108px -95px;}
      } 
      li.mr11_12v:hover{
        a:before{background-position: -218px -95px;}
      } 
      li.filament:hover{
        a:before{background-position: -332px -95px;}
      } 
      li.g9:hover{
        a:before{background-position: -441px -95px;}
      } 
      li.g4_12v:hover{
        a:before{background-position: -551px -95px;}
      } 
      li.e27:hover{
        a:before{background-position: -659px -95px;}
      } 
      li.e14:hover{
        a:before{background-position: -773px -95px;}
      } 
      li.b22:hover{
        a:before{background-position: -879px -95px;}
      } 
      li.b15:hover{
        a:before{background-position: -989px -95px;}
      } 
      li.last-select-buld:hover{
        a:before{background-position: -1096px -95px;}
      }
      .owl-prev{
        position: absolute;
        top:33%;
        left:-33px;
        background: url('../images/sprite-next.png') -5px -2px;
        font-size: 0px;
        width:22px;
        height:40px;
        margin-top:-20px;
        :hover{
          background: url('../images/sprite-next.png') -5px -2px;
        }
      } 
      .owl-next{
        position: absolute;
        top:33%;
        right:-33px;
        background: url('../images/sprite-next.png') -51px -2px;  
        font-size: 0px;
        width:22px;
        height:40px;
        margin-top:-20px;
        :hover{
              background: url('../images/sprite-next.png') -51px -2px;  
        }
      }
    }
}
.wrapper-google-trusted{
    height:92px;
    background: #d7d8d9;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
     .owl-carousel{
          .owl-item img{
              width:auto!important;
          }
     } 
     .icon-green-building{
          padding:10px 0px;
     }
}
.google-trust-home{
  #gtsh_container{
      img{
          margin-left:20px;
      }
  }
  .fca{
      padding:10px 0px;
  } 
  .icon-bifm-corp{
        padding:10px 0px;
  }
  #y-badges{
    .y-badge{
        height:84px;
        width:105px;
        padding-top:12px;
        padding-left:29px;
    }
    .y-badge-reviews{
        top:-60px;
        font-size:14px;
    }
    .y-badge-stars{
        top:44px;
        left:42px;
    }
    .y-badges-certified{
        top:53px;
        left:15px;
    }
    .yotpo-icon{
        font-size:10px;
    }
    .y-badges-certified{
        font-size:7px;
    }

  } 
} 
.google-trust-home .fca img, .google-trust-home .wrapper-badget-trusted img, .google-trust-home .norton-secured img, .google-trust-home .icon-green-building img, .google-trust-home .icon-bifm-corp img{
    margin:0 auto;
}
//Start Review Yotpo Home Page
.wrapp-yotpo{
  .content-yotpo{
        width:95%;
        margin:0 auto;
    } 
  .yotpo-reviews-carousel{
      .yotpo-small-box{
          display:none;
      }
      .carousel-display-wrapper{
          .carousel-read-more{
              margin:0 auto;
          }
           #carousel-top-panel{
              border-bottom:none;
              .headline{
                  display:none;
              }
              .carousel-arrows{
                  .yotpo_previous{
                      position:absolute;
                      top:50%;
                      left:-28px;
                      color:#00a3e4;
                      border:1px solid #00a3e4;
                      padding:3px;
                      border-radius:14px;
                  }
                  .yotpo_next{
                      position:absolute;
                      top:50%;
                      right:-28px;
                      color:#00a3e4;
                      border:1px solid #00a3e4;
                      padding:3px;
                      border-radius:14px;
                      z-index:9;
                  }
              } 
           }
           .stars-container{
                text-align: center;
            }
            .yotpo-carousel{
                .carousel-review-title{
                    text-align:center;
                     font-size:16px;
                }
                .y-slider-container{
                    .single-carousel{
                        .product-link-container{
                            display:none;
                        }
                    } 
                } 
                .small-version{
                     .right-side{
                          width:280px;
                          float:none!important;
                          margin:0 auto;
                      } 
                } 
                .single-carousel{
                    .carousel-review-date{
                        display: none;
                    }
                }
                .carousel-review-body{
                    text-align: center;
                    font-size:13px;
                    margin-left:0px!important;
                } 
                .carousel-stars{
                    position: initial;
                    display: inline-block;
                }
                .carousel-review-author{
                    margin:0 auto;
                    float:none;
                    text-align:center;
                }
                .yotpo-icon-star{
                    font-size:22px!important;
                }
            } 
      }
  } 

} 
.yotpo div, .yotpo span, .yotpo p, .yotpo a, .yotpo img, .yotpo i, .yotpo strong, .yotpo sup, .yotpo ul, .yotpo li, .yotpo form, .yotpo label{
    font-family: "Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.yotpo{
    .text-3xl {
        font-size: 21px;
        line-height: 1.71429;
        margin-bottom: 12px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }
} 
//End  Review Yotpo Home Page
// Start Footer 
.c-footer__logo{
  display:inline-block;
}
.page-footer{
    .footer.content{
      padding-top:0px;
       ul{
          margin-bottom:24px;
          > li{
              margin-bottom:6px;
          }
       }
      .c-footer{
         a{
            color:#50bdf6;
         }
         h2{
            a{
                color:#fff;
            }
         }
      } 
      .c-footer__copyright{
          text-align:left;
          border-top: 1px solid #9395a3;
          padding-top: 24px;
          .c-footer__payment-types{
            text-align:right;
                img{
                    margin-bottom: 6px;
                    margin-left: 6px;
                }
          }
      }  
    }
}
#back-to-top-act {
    width: 61px;
    height: 61px;
    position: fixed;
    right: 5%;
    bottom: 100px;
    background: url("../images/back-to-top-button.png") 0 0 no-repeat;
    cursor: pointer;
    opacity: 0;
    transform: scale(0);
    zoom:0;transition: opacity 0.3s, transform 0.3s;
    z-index: 99999
}
#back-to-top-act.show {
    opacity: 1;
    transform: scale(1)
}
#back-to-top-act:hover,#back-to-top-act:active {
    background-position: top right
}
// End  Footer 

.hidden-block{
  display:none!important;
}
.cms-bootstrap-home .breadcrumbs{
    display:none;  
}

//Start List Product Page
.delivery-cate{
    background: #3b99d4;
    position: relative;
    padding:5px 0px 5px 92px;
    margin-top:15px;
    width:100%;
    p,h6{
      margin-bottom: 0px;
      color:#fff;
    }
    h6{
      font-size: 17px;
    }
    p{
      font-size: 14px;
      margin-top:0px;
    }
    >.logo-delivery{
      position: absolute;
      top:9px;
      left:24px;
    }
}
.google-trust{
    text-align: center;
    background: #fff;
    padding:23px 0px;
    padding-top:0px;
    border:1px solid #aeb0b2;
    .logo-google{
        margin-top:15px;
        p{
            font-size:13px;
            margin-left:66px;
            text-align: left;
            margin-bottom: 0px;
            margin-top:0px;
        }
        img.star-google{
            margin-left:-20px;
            display: none;
        }
    }
    .title-trust{
        color:#fff;
        font-size:13px;
        font-family: "Open Sans";
        font-weight: 400;
        padding:10px 15px;
        background: #97999c;
    }
    #y-badges{
        padding-top:10px;
        .y-badge{
            height:127px;
        }
    }
}
#gts_container{
    .rCjEAf{
        height:auto;
        background: #fff;
    }
    .ULIPpd{
        margin-top:0px;
    }
    #___ratingbadge_0{
        height:20px!important;
        width:145px!important;
        iframe{
            height:20px!important;
            width:145px!important;
        }
    }
    #gcr-logo{
        display: none!important;
    }
    #gts-c{
        z-index: 1;
    }
} 
#gcr-logo{
    display: none;
}
.financial-services{
    clear:both;
    padding-top: 20px;
    img{
        width:32%;
    }
}
body.page-layout-2columns-left{
    .sidebar-main{
        width:25%;
    }
    .column.main{
        width:75%;
    }
} 
//End List Product Page


//Start Feauture Product Home Page
  .page-layout-1column{
    #maincontent{
        .container{
            padding-left:0px;
            padding-right:0px;
        }
    }
    .home-product-list{
            padding:30px 0px 20px 0px;

          .products-grid{
                margin:0px 0px 10px 0px;
                  &:before{
                        content:'';
                        display:table;
                    }
                    &:after{
                          clear:both;
                    }
                 .product-items{
                    margin-left:0px;
                    display:flex;
                     display: -webkit-flex;
                     -webkit-flex-wrap: wrap;
                    flex-wrap:wrap;

                    &:before{
                        content:'';
                        display:table;
                    }
                    &:after{
                          clear:both;
                          content:'';
                        display:table;
                    }

                 }
          }
    } 
    .bestseller{
        h2.primary-color{
          position:relative;
          border-bottom:1px solid #2ba8db;
          color:#555;
            &::before {
                content: '';
                position: absolute;
                background: #2ba8db;
                left: -50vw;
                width: 50vw;
                height: 1px;
                bottom: -1px;
            }
            &:after {
                content: '';
                position: absolute;
                background: #2ba8db;
                right: -50vw;
                width: 50vw;
                height: 1px;
                bottom: -1px;
            }
            span{
                border:1px solid #2ba8db;
                border-bottom:1px solid #fff;
                padding:15px 40px 10px 40px;
                margin-bottom:-1px;
                display:inline-block;
                border-radius:5px 5px 0 0;
            }
        }
    }
  } 

//End Feauture Product Home Page

.map{
     iframe{
        width:100%;
     }
}
.wrapper-trade{
  .header-title-trade{
      background: url('../images/trade/banner-trade.jpg') no-repeat;
      padding:90px 0px 80px 0px;
      background-position:center center;
      background-size:cover;
  }
  .benefit{
     h2{
        font-family: Segoe UI;
        font-weight: 600;
        font-size:46px;
        color:#393f4f;
        line-height: 1.2;
        margin-bottom: 20px;
    }
    p{
        font-family: Open Sans;
        font-weight: 600;
        font-size:15px;
    }
    a.call-back{
        padding:14px 39px;
        font-size:22px;
         span{
            font-family: Segoe UI Light;
            text-transform: initial;
            font-weight: 300;
        }
    }
  }
  .main-content{
    background: #f5f5f5 url('../images/trade/bg-trade.jpg') no-repeat scroll 0 0;
    padding:120px 0px 100px 0px;
    background-size:cover;

  }
  #whychoose{
    h3{
      font-family: Segoe UI Light;
      font-size:25px;
      margin-bottom: 50px;
    }
    .highlight{
        color: #3b9bd6;
    }
  } 
  .cost-effective{
    .left_image_dot{
        display: table-cell; 
        span{
            display: inline-block;
            width:13px;
            height:13px;
            border:1px solid #3b9bd6;
            border-radius: 13px;
            -webkit-border-radius: 13px;
            -moz-border-radius: 13px;
        }
    } 
    .title-effective{
        display: table-cell;
        padding-left:15px;
        vertical-align: top;
        font-family: Segoe UI;
        font-weight: 400;
        h4{
            color: #3b9bd6;
            font-family: Segoe UI;
            font-weight: 400;
            font-size:20px;
        } 
        p{
            color: #231f20;
            margin-bottom: 38px;
        }
    } 
  } 
} 
.header-title-trade{
  .product-trade{
      position: relative;
  }
  .wrap-pos-image{
      position: absolute;
      top:-100px;
      left:0px;
      .pos-image{
        position: relative;

    }
    .image-product{
      img{
          max-width: initial;
      }
    } 
  }
} 
#the-main-form{
    border:1px solid #afdef2;
    border-radius:10px;
    background: #fff;
    .headform{
        padding:10px;
        background: #27a6dd;
        border-radius:7px 7px 0px 0px;
         h2{
            color:#fff;
            text-align: center;
            margin-bottom: 0px;
            font-family: Segoe UI;
            font-weight: 300;
            font-size:24px;
            line-height: 1.2;
            strong{
                color:#fff;
            }
        }
    }
    .row{
        margin:30px;
    }
    .form-group{
        margin-bottom: 20px;
         .input-box{
              input::-webkit-input-placeholder { 
                color: #000;
                font-family: Open Sans;
                font-weight: 300;
              } 
              input::-moz-placeholder { 
                color: #000;
                font-family: Open Sans;
                font-weight: 300;
              } 
              input:-ms-input-placeholder { 
                color: #000;
                font-family: Open Sans;
                font-weight: 300;
              }
              input:-moz-placeholder { 
                color: #000;
                font-family: Open Sans;
                font-weight: 300;
              }
              select,select option{
                font-family: Open Sans;
                font-weight: 300;
                color: #000;
              }
         } 
    }
    .submit-trade{
        text-align: center;
        margin-top:30px;
        button{
            padding: 14px 80px;
            text-transform: initial;
            font-size: 22px;
            font-family: Segoe UI Light;
            font-weight: 300;
        }
    }
    .customer-name{
        float:left;
        width:48%;
        margin-right:4%;
    }
    .name-lastname{
        float:left;
        width:48%;
    }
}
.sign-trade-txt{
    p{
        margin-bottom: 0px;
    } 
} 
.trade-customer-form{
    #confirm-password-error{
        color:red;
        margin-top:20px;
    } 
} 
.header-title-trade{
    .product-trade{
        .wrap-pos-image{
            .pos-image{
              .title{
                  width:136px;
                  height:136px;
                  background: #fff;
                  border-radius: 100%;
                  -webkit-border-radius: 100%;
                  -moz-border-radius: 100%;
                  text-align: center;
                  position: absolute;
                  top:75px;
                  left:75px;
                  padding-top:12px;
                  p{
                      line-height: 1.3;
                  }
                  p.first{
                      font-family: Segoe UI;
                      font-weight: 400;
                      margin-bottom: 0px;
                      color:#3b9bd6;
                      font-size:14px;
                  }
                  p.second{
                      font-family: Segoe UI;
                      font-weight: 700;
                      margin-bottom: 0px;
                      color:#3b9bd6;
                      font-size:25px;
                  }
                  p.last{
                      font-family: Segoe UI;
                      font-weight: 400;
                      margin-bottom: 0px;
                      color:#3b9bd6;
                      font-size:28px;
                  }
                  span.check-mark{
                      color:#3b9bd6;
                      font-weight: 600;
                      font-size:20px;
                  }
                } 
            } 
        } 
    }  
} 
.account-create.trade-signup-area select,.account-create.trade-signup-area .form-control,.account-create.trade-signup-area input[type='text'],.account-create.trade-signup-area input[type='password'] {
    background: #fff;
    border-radius: 3px;
    padding: 5px 12px;
    height: 46px;
    border: 1px solid #afdef2
}
.account-create.trade-signup-area{
      .form-control::-moz-placeholder{
              color: #000;
              font-weight:600;
      }
      .form-control:-ms-input-placeholder {
             color: #000;
              font-weight:600;
      }
      .form-control::-webkit-input-placeholder {
           color: #000;
            font-weight:600;
      }
}

.account-create.trade-signup-area{
    .form-control{
      box-shadow:initial;
    }
} 
select#business{
    -webkit-appearance:menulist;
    appearance:menulist;
    -moz-appearance:menulist;
    -ms-appearance:menulist;

}

// Start Code Banner Home Page
.flex-control-nav{
    display:none;
}
.magestore-bannerslide-flex-slider{
    margin-bottom:0px!important;
}

.cms-index-index{
    .list-buld-type{
        .title-buld-type{
            margin-top:0px;
        }
    } 
}
.flexslider{
    &:hover{
      .flex-prev,.flex-next{
          display:none;
      }
    } 
}
// End Code Banner Home Page

.contact-index-index{
    .page-title-wrapper{
        display:none;
    }
    .breadcrumbs{
      display:none;
    }
    .breadcrumbs.breadcrumbs-contact{
        display:block;
        padding:0px 10px;
    }
    #helpdesk-contacts-form{
      #comment{
        min-height:80px;
      }
    }
}

.buyers-guide.catalog-grid{
    .tile{
      &:before,&:after{
        content:'';
        display:table;

      }
      &:after{
        clear:both;
      }

      &:hover{
        >a{
          &:after {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-position: center;
              border-radius: 5px;
              background:url('../images/bg-hover-guider.png');
          }
        }
      }
      border:none;
      .footer {
          min-height: auto;
          padding: 12px;
          span.blur_name {
              font-size: 14px;
                color: #a4a6a9;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
          }
          a {
              color: #2f303a;
              font-size: 19px;
              font-weight: 300
          }
          >a {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              width: 100%;
              float: left;
              display: inline-block;
              clear: both
          }
      }
      >a{
         position: relative;
         display: inline-block; 
         img {
              max-width: 261px;
              max-height: 198px;
              border-radius: 5px
          }
      }
    }
    
} 
.buyers-guide{
    .tile {
      min-height: auto!important;
      margin: 16px auto 0 auto;
      text-align:center;
  }
} 
.cms-outdoor-garden-led-lighting-advice-guide,.cms-everything-led,.cms-gu10-led-lighting-advice-guide{
    .breadcrumbs{
        display:none;
    }
}
.cms-everything-led{
    .page-title-wrapper{
        padding-top:20px;
    }
}

#calculator_container p,#calculator_container td,#calculator_container img,#calculator_container li,#calculator_container form,#calculator_container input,#calculator_container object,#calculator_container ul,#calculator_container ol {
    padding: 0;
    margin: 0
}
#calculator_container input[type="text"],#calculator_container select {
    height: 25px!important
}
#calculator_container {
    position: relative;
    margin: 20px auto;
    width: 832px;
    color: gray;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 18px;
    &::after {
        content: "";
        display: block;
        clear: both
    }
    .logo {
        position: absolute
    }
    .logo.led-supplies {
        width: 243px;
        height: 54px;
        left: 450px;
        top: 120px;
    }
    .logo.rabbit {
        width: 250px;
        height: 77px;
        left: 450px;
        top: 100px;
        background: url("../images/logo_rabbit.png") no-repeat
    }
    h1 {
        margin: auto;
        font: bold 24px/28px Arial,Helvetica,sans-serif;
        color: gray
    }
    .header {
        text-align: right;
        margin: 0 20px 10px 0
    }
    .calculator_settings {
        float: left;
        border: 1px solid #CCC;
        background-color: #F2F2F2;
        padding: 10px
    }
    .info_calculator_settings {
        float: left;
        width: 207px;
        border: 1px solid #CCC;
        background-color: #F2F2F2;
        padding: 10px;
        margin-top: 5px;
        p {
            margin: 0;
            padding: 0
        }
    }
    .calculator_result {
        float: right;
        width: 560px;
        height: 230px;
        border: 1px solid #CCC;
        padding: 10px 10px 20px 0;
        margin: 0 20px 0 0;
        text-align: center
    }
    p {
        font: 13px/18px Arial,Helvetica,sans-serif;
        color: gray;
        padding: 10px 0 0 0
    }
    p.close {
        line-height: 100%
    }
    div.separator {
        display: block;
        width: 100%;
        height: 20px
    }
    div.separator.small {
        height: 10px
    }
    table {
        border: 0;
        width: 530px;
        border-spacing: 5px;
        tr{
            td {
                padding: 0 10px 0 10px;
                text-align: right;
                font: 13px/18px Arial,Helvetica,sans-serif;
                color: gray
            }
        } 
    }
    .header_bg {
        color: #2066A1;
        text-align: center;
        font-weight: 400
    }
    .header_halo {
      color: gray;
      text-align: center;
      font-weight: 400
    }

   .bg {
        background-color: #2066A1;
        color: #FFF;
        text-align: center;
        font-weight: lighter
    }

    .bg.red {
        background-color: #e72c2c
    }

    .halo {
        background-color: #E6E6E6;
        color: gray;
        text-align: center;
        font-weight: lighter
    }
    .slider_input {
        width: 50px;
        float: right;
        text-align: center;
        color: gray
    }
    .slider {
        width: 130px;
        float: left;
        margin-top: 5px;
        .ui-widget-header {
            background-color: #2066A1;
            background-image: none
        }
    }
    a {
        text-decoration: none;
        color: #00A753
    }

}
#calculator_svg{
    float: right;
    width: 550px;
    height: 303px;
    border: 1px solid #CCC;
    padding: 10px;
    margin: 0 20px 10px 0;
    svg {
        position: absolute;
        left: 225px
    }
} 
#state {
    width: 200px;
    color: gray;
    background: #fff;
    padding: 0;
    border: inset 2px #ebe9ed;
    border-right: solid 1px #ccc;
    border-bottom: solid 1px #ccc
}

#user_type_val {
    width: 80px;
    margin-left: 30px;
    text-align: center;
    color: gray
}

#halogen_price {
    width: 80px;
    margin-left: 10px;
    text-align: center;
    color: gray
}
#calculator_container a:hover,#calculator_container a:active {
    color: #0C0
}

#angel_app {
    display: none
}

#rabbit-application-container {
    background-color: #454545;
    width: 650px;
    .calculations {
        margin-left: 150px;
        padding-bottom: 10px;
        >div {
            display: inline-block;
            vertical-align: middle
        }
    }
    .fieldset {
        margin: 0;
        padding: 3px 20px;
        width: 140px;
        label {
            display: block;
            color: #fff;
            font-size: 9pt
        }
        input {
            border: 1px solid #ccc;
            outline: none;
            font-size: 10pt;
            padding: 5px;
            width: 50px;
            height: auto!important;
            background-color: #ccc
        }
    }
    .result {
        border: 1px dashed yellow;
        color: #fff;
        padding: 10px;
        border-radius: 10px;
        width: 200px;
        font-size: 11pt;
        .head {
            font-size: 14pt;
            font-weight: 700;
            margin: 0
        }
    }
    canvas {
        left: 0
    }

}

.page-header.sticky{
    position:fixed;
    z-index: 1200;
    top:0px;
    left:0px;
    width:100%;  
}
.bg-middle-header{
    background:#fff;
}
.add-padding{
    padding-top:197px;
}
.checkout-cart-index,.checkout-index-index{
  .add-padding{
    padding-top:0px!important;
  }
  #fixed-header-padding{
    padding-top:0px!important;
  }
  .hidden-content{
    display:block!important;
  }
  .page-header{
    position:relative!important;
    z-index: 10;
    top:initial;
    left:initial;
    width:100%;  
  }
} 