// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@popup-marker__size: 7px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //  Popup working with dropdown dialog
    .ui-dialog {
        &.popup {
            .action {
                &.close {
                    .lib-css(bottom, @popup-button-close__position-bottom);
                    .lib-css(left, @popup-button-close__position-left);
                    .lib-css(position, @popup-button-close__position);
                    height: 40px;
                    right: 0;
                    top: 0;
                    width: 40px;
                    z-index: 1001;

                    .lib-popup-button-close-icon(
                    @popup-button-close__icon,
                    @popup-icon-font__content,
                    @popup-icon-font,
                    @popup-icon-font__size,
                    @popup-icon-font__line-height,
                    @popup-icon-font__color,
                    @popup-icon-font__color-hover,
                    @popup-icon-font__color-active,
                    @popup-icon-font__margin,
                    @popup-icon-font__vertical-align,
                    @popup-icon-font__position,
                    @popup-icon-font__text-hide
                    );
                    ._lib-popup-button-close-reset(
                    @popup-button-close__reset
                    );
                }
            }
        }
    }

    .popup {
        .actions-toolbar {
            .action {
                &.cancel {
                    &:extend(.abs-action-button-as-link all);
                    font-weight: @font-weight__regular;
                }
            }
        }
    }

    .popup-pointer {
        .lib-pointer(
        @_size: @popup-marker__size,
        @_background-color: @popup__background,
        @_border-color: @popup__border-color,
        @_position__vertical__value: 2px,
        @_position__horizontal__value: 2px
        );
        margin-left: -@popup-marker__size * 2;
        position: absolute;
        top: -@popup-marker__size * 2;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .popup-content {
        .fieldset {
            .actions-toolbar {
                .secondary {
                    display: inline-block;
                    float: none;
                }

                .action {
                    &.cancel {
                        margin-top: @actions-toolbar-actions-links-secondary__margin-top;
                    }
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .ui-dialog {
        &.popup {
            width: 420px;
        }
    }
}






// Modals
// --------------------------------------------------
.close {
    float: right;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
    &:hover,&:focus{
        color: #000;
        text-decoration: none;
        cursor: pointer;
        opacity: .5;
        filter: alpha(opacity=50); 
    }
}
button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none
}

.modal-open {
    overflow: hidden
}

.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background:rgba(0, 0, 0, 0.66);
}

.modal.fade{
    .modal-dialog {
        -webkit-transform: translate(0, -25%);
        -ms-transform: translate(0, -25%);
        -o-transform: translate(0, -25%);
        transform: translate(0, -25%);
        -webkit-transition: -webkit-transform 0.3s ease-out;
        -moz-transition: -moz-transform 0.3s ease-out;
        -o-transition: -o-transform 0.3s ease-out;
        transition: transform 0.3s ease-out
    } 
} 

.modal.in{
   .modal-dialog {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0)
    } 
} 

.modal-open{
  .modal {
        overflow-x: hidden;
        overflow-y: auto
    }
  
} 
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px
}


.modal--vertically-centered {
    text-align: center;
    padding: 0 !important;
    &:before{
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }
    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle
    }
}
.modal-content {
    position: relative;
    border: 1px solid #e9eaee;
    border: 1px solid #fff;
    box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    background-clip: padding-box;
    outline: 0;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 30px rgba(47,48,58,0.3)
}
.modal-header{
    padding: 18px;
    border-bottom: 1px solid #e9eaee;
    a{
        border-bottom: 1px dashed transparent;
        &:hover{
            text-decoration: none;
            color: #1f89b4;
            border-bottom: 1px dashed #1f89b4;
        }
    }
    .close{
        position: absolute;
        top: 18px;
        right: 18px;
        font-size: 18px;
        color: #2ba8db;
        opacity: 1;
        transition: opacity 0.3s ease;
        &:hover{
            opacity: 0.7;
        }
        &:focus,&:active{
            outline: 0;
        }
    }
}
.modal-body {
    position: relative;
    padding: 18px
}
#onestepcheckout-login-popup{
    .social-login{
        display: inline-block;
        width: 210px;
    }
} 

.social-login {
    margin-top: -10px
}

.social-login{
    a {
        display: inline-block;
        margin-right: 15px;
        font-size: 3em;
        text-decoration: none;
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transition: opacity 0.3s ease;
        -moz-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease;
        &:hover{
            opacity: 0.7;
            filter: alpha(opacity=70);
            text-decoration: none;
            border: none;
        }
    }
    a.facebook{
        color: #3b5998 !important;
    }
    a.google {
        color: #dd4b39 !important
    }
    a.twitter {
        color: #55acee !important
    }
} 
.help-link {
    display: inline-block;
    float: right;
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: -12px
}
@media (min-width: 768px) {
    .modal-dialog {
        width:600px;
        margin: 30px auto
    }

    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.5);
        box-shadow: 0 5px 15px rgba(0,0,0,0.5)
    }

    .modal-sm {
        width: 300px
    }
}
