@media (min-width: 768px){
	.c-navigation{
		.c-navigation__home{
			padding-bottom:11px;
			
		}
	}
	.c-navigation__search {
		        display:block !important;
		        position: relative;
		        height: auto !important;
		        left: auto;
		        right: auto;
		        bottom: auto;
		        float: right;
		        margin-left: 48px;
		        padding-top: 10px;
		        padding-right: 0;
		        padding-bottom: 0;
		        padding-left: 0;
		        background-color: transparent
		    }
}
@media (min-width: 992px){
	.c-footer__payment-types{
		text-align:right;
	}
	.c-footer__copyright{
		text-align:left;
	}
	.c-navigation {
        padding-top:18px;
        padding-bottom: 18px;
        .c-navigation__home {
	        margin-bottom:0;
	        padding-bottom: 0;
	        border-bottom: 0;
	        .c-navigation__search {
		        float:left;
		    }
	    }
    }
    .c-navigation__toolbar-item {
        padding-left:24px;
        font-size: 15px;
        text-align: center;
    }
    .c-navigation__toolbar-icon {
	        display:block
	}
    .c-navigation__toolbar-label {
        display:block;
        padding-left: 0;
        line-height: 1
    }
     .c-navigation__toolbar {
        margin-top:0;
        margin-bottom: 0
    } 
    .menu{
        .catalog{
            li.trade-customer-nav{
                .submenu{
                    li {
                        width:14.27% !important
                    }  
                }  
            }  
        }
    }
    
}
@media (min-width: 1200px){
	.c-navigation__home{
		.c-navigation__logo {
	        display:block;
	        float: left
	    }
	}
    .menu{
        .catalog{
            li.trade-customer-nav{
                .submenu{
                    li{
                        width:14.27% !important;
                    }
                } 
            }

        }
    }
    .trade-sub-img.hidden-phone{
        display:none!important;
    }
    .page-layout-1column{
        .home-product-list{
            .products-grid{
                .product-item{
                    width:23%;
                    display:block;
                    float:left;
                    &:nth-of-type(4n+1){
                        margin-left:0px;
                    }
                    margin-left:2.6%;
                    padding-left:0px;
                }
            } 

        }
    } 
    .column.main{
        .product-items{
             margin-left: 0px;

        }
    } 
    .hidden-content{
        display:none;
    }
}
@media (max-width: 1199px) and (min-width: 992px){
    .page-layout-1column{
        .home-product-list{
            .products-grid{
                .product-item{
                    width:32%;
                    display:block;
                    float:left;
                    &:nth-of-type(3n+1){
                        margin-left:0px;
                    }
                    margin-left:1.90%;
                    padding-left:0px;
                }
            } 

        }
        .catalog-grid.home-product-list.block__related__product{
               .products-grid{
                    .product-item{
                        width:23%;
                        &:nth-of-type(4n+1){
                            margin-left:0px;
                        }
                        &:nth-of-type(3n+1){
                            margin-left:2%;
                        }
                    }
               }
        }
    } 
    .wrapper-trade{
        .header-title-trade{
            .product-trade{
                .wrap-pos-image {
                    left:-65px;
                }    
            } 
            .benefit{
                h2 {
                    font-size: 38px
                } 
            } 
        } 
    } 
}
@media (max-width: 1199px) and (min-width: 768px){
	.c-footer__support{
		clear:left;
	}
    .trade-sub-img.hidden-phone{
        display:block;
    }
}
@media (max-width: 992px) and (min-width: 768px){
   .page-layout-1column{
        .home-product-list{
            .products-grid{
                .product-item{
                    width:32%;
                    display:block;
                    float:left;
                    &:nth-of-type(3n+1){
                        margin-left:0px;
                    }
                    margin-left:1.90%;
                    padding-left:0px;
                }
            } 

        }
    } 
    .wrapper-trade{
        .header-title-trade{
            .product-trade{
                .wrap-pos-image {
                    left:-65px;
                }    
            } 
        } 
    } 
}
@media screen and (max-width: 1200px) {
    .page-header{
        position:fixed;
        z-index: 999;
        top:0px;
        left:0px;
        width:100%;
    }
    #fixed-header-padding{
        padding-top:137px;
    }
    .c-navigation__toolbar-icon{
        vertical-align:middle;    
    }
    div.minicart-wrapper{
        position:absolute!important;
    }
    .c-navigation__home {
        overflow:hidden;
        margin-bottom: 0px !important;
        padding-bottom: 12px !important
    }
    .c-banner{
        .bg-navi-menu{
            .container-fluid{
                padding-left:15px;
                padding:right:15px;
            }
        } 
    }
    .c-banner__utilities {
        background:#56596b;
        .c-banner__utilities-left {
        	display:none
    	}
    	.c-banner__utilities-right{
    		>li>a{
    			font-size:0px;
        		line-height: 40px;
    		}
	    	>li.user-login{
	    		right:121px;
		        top: 87px;
		        position: absolute;
		        z-index: 99;
		        border-radius: 5px;
		        border: 1px solid #fff;
                >a{
                    i{
                        background: url("../images/category/user-mobi.png");
                        width: 25px;
                        height: 24px;
                        left: 5px;
                    }
                }
	    	}
	    	>li.flag-country {
		        right:10px!important;
		        top: 18px;
		        position: absolute;
		    }
    	}	
    }
    .c-navigation__toolbar-left{
        .visible-sm-block{
            display:block !important;
            outline:none;
        }
    }
    .c-navigation__toolbar-right.show-tool-cart{
    	div.help-us{
    		padding-top: 0px;
        	padding-right: 75px;
    	}
    } 
    .c-navigation {
        padding-top:12px;
        padding-bottom: 0px
    }
    .c-navigation__toolbar{
    	padding: 12px 0px;
        margin-bottom: 0px;
    }
    .c-navigation__toolbar-icon {
	        display:block
	}
	.c-navigation__toolbar-label{
		color: #fff;
        display: inline-block;
        font-weight: 400;
	}
	div.c-navigation__toolbar-item{
		padding-top: 0px;
        margin-top:0px;
	}
	a.c-navigation__search-toggle{
		position:absolute;
        right: 187px;
        padding: 2px 5px;
        border: 1px solid #fff;
        border-radius: 5px;
        top: 11px
	}
	.c-navigation__search {
        padding-top:0px;
        position: absolute;
        top: 75px;
        right: 175px;
        z-index:99;
        svg{
        	width: 25px;
        	height: 25px;
        	path{
        		fill: #fff;
        	}
        }
    }
    input.c-search-box__input{
    	border:1px solid #fff!important;
        color: #fff;
        background:none;
        
    }
    .c-search-box__input::-moz-placeholder {
        color: #fff;
        opacity: 1
    }
    .c-search-box__input:-ms-input-placeholder {
        color: #fff
    }

    .c-search-box__input::-webkit-input-placeholder {
        color: #fff;
    }
    .c-search-box__btn{
    	 padding:8px 16px 0px 0px;
    }
    a.c-navigation__toolbar-item.toolbar-project{
    	position:absolute;
        right: 70px;
        top: 75px;
        z-index: 99;
        padding: 6px 8px;
        border: 1px solid #fff;
        border-radius: 5px;
        svg{
        	width: 27px;
        	height: 27px;
        	>g{
        		&:first-of-type{
        			g{
        				&:first-child{
        					stroke:#fff;
        				}
        			}
        			>path{
        			 	&:first-of-type{
        			 		stroke:#fff;
        			 	}
        			}
        			>path{
        			 	&:last-of-type{
        			 		fill:#fff;
        			 	}
        			}
        		} 
        	}
        }
        .c-navigation__toolbar-label{
        	display:none;
        }
    }
    .c-navigation__toolbar-cart{
    	position:absolute;
        right: 15px;
        top: 75px;
        z-index: 99;
        .c-navigation__toolbar-cart-btn{
            padding: 6px 10px 2px 2px;
            border-radius: 5px;
            border: 1px solid #fff;
            svg{
                width: 27px;
                height: 27px;
                g{
                    g{  
                        stroke: #fff;
                    }
                }
            }
        }
        .hidden-label-cart{
            font-size: 0px;
            display:none;
        }
    }
    button.c-navigation__toolbar-item{
        padding-top:0px;
    }
    .c-navigation__toolbar-right{
        .minicart-wrapper{
            margin-left:0px;
            padding:0px;
            font-size:13px;
        }
    }
    .c-mini-cart{
        right:0px;
    }
    .menu{
        .catalog{
            >li.has-submenu{
                &:first-child{
                    background:#3d4051;
                }
            }
            li{
                margin-left:0;
                .submenu{
                    li.has-submenu{
                        >a{
                            &:after{
                                content:"";
                            }
                        }
                    }
                } 
            } 
            li.trade-customer-nav{
                .submenu{
                    li.trade-nav-heading{
                        padding-top:24px;
                    }
                } 
            } 
            li.has-submenu.mordern{
                &:hover{
                    .submenu{
                        left:0px;   
                    }
                } 
            }
        }
    }
    .menu .catalog .submenu>li.has-submenu a>span.icon-new, .menu .catalog .submenu>li.has-submenu a>span.icon-sales{
        top: 20px;
        left: 13px;
        display: inline-block;
    } 
    .menu .catalog>li.has-submenu a>span.icon-new, .menu .catalog>li.has-submenu a>span.icon-sales{
        top:20px;
    }
    .menu .catalog .submenu li .benefit-trade-acc li:first-child {
        padding-left: 0
    }

    .menu .catalog li.trade-customer-nav .submenu li.trade-nav-heading {
        padding-top: 24px
    }

    .menu .catalog li.trade-customer-nav .submenu {
        width: 100% !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important
    }

    .menu .catalog li.trade-customer-nav .submenu li .submenu-content li {
        width: 50% !important
    }

    .menu .catalog li.trade-customer-nav .submenu li .submenu-content li.trade-nav-heading {
        width: 100% !important
    }

    .menu .catalog li.trade-customer-nav .submenu li:hover,.menu .catalog li.trade-customer-nav .submenu li:hover a {
        color: #2f303a !important
    }

    .menu .catalog li.trade-customer-nav .submenu li a {
        background: none;
        padding: 5px !important;
        text-align: left
    }

    .menu .catalog li.trade-customer-nav .submenu li.trade-sub-img {
        padding: 0;
        border: none
    }

    .menu .catalog li.trade-customer-nav:hover {
        background: transparent !important
    }

    .menu .catalog li.trade-customer-nav ul.submenu {
        background: #fff
    }

    .menu .catalog li.trade-customer-nav ul.submenu ul.submenu-content {
        position: static;
        width: 100%;
        display: block;
        border: none !important;
        background: none;
        padding: 0
    }

    .menu .catalog li.has-submenu .submenu {
        height: auto !important
    }

    .menu .catalog li .submenu li.has-submenu>a:after {
        content: ''
    }
    .trade-sub-img.hidden-desktop{
        display:none!important;
    }
    .page-header{
        .switcher{
            display:none;
        }
    } 
    .c-banner__utilities{
        .contact-support{
            position:absolute;
            right:45px;
            top:20px;
            z-index:10;

            a{
                color:#45485c;
                font-weight:600;
            }
        }
    }
}
@media (max-width: 991px){
	.page-footer{
		.footer.content{
			.c-footer__copyright{
				text-align:center;
				.c-footer__payment-types{
					text-align:center;
				}
			}
		}  
	}
    .menu{
      .catalog,.main{
        li{
            .label{
                position:relative;
                display: inline-block;
                left: auto;
                top: auto;
                margin-left: 10px;
            }   
        }
      }  
    } 
    .free-delivery-home{
       .delivery{
            width:100%;
            li{
                padding:13px 3px 13px 63px;
            }
       } 
    } 
    .posts-widget, .posts-widget .latest-posts{
        background:#393f4f;
    }
    .posts-widget{
        .container{
            width:100%;
        }
    } 
}
@media (max-width: 768px){
    .posts-widget{
        .twitter-feed{
            padding-left:15px;
        }
    } 
	.hidden-xs{
		display:none;
	}
	.footer ul,.footer .form-group {
        display: none;
        opacity: 0;
        animation: fadeIn .5s ease-in 1 forwards;
    }
    .page-footer{
    	.footer.content{
    		border-top:none;
    		padding-left:0px;
    		padding-right:0px;
			    	.c-footer{
				    	.click-dropdown {
					        border: 2px solid;
					        border-radius: 50%;
					        width: 36px;
					        height: 36px;
					        display: block;
					        float: right;
					        font-size: 24px;
					        text-align: center;
					        position: absolute;
					        right: 15px;
					        top: -6px;
					        color: #fff;
					        z-index: 9;
					        i{
					        	width: 100%;
						        height: 100%;
						        display: block;
						        line-height: 32px
					        }
					        +h2{
					        	position: relative;
						        height: 60px;
						        margin-bottom: 0;
						        padding-right: 36px;
						        line-height: 24px
					        }

					    }
					    .click-dropdown.active{
					        	~h2{
					        		height: 36px;
					        	}
					        	~ul{
					        		 display: list-item;
					        	}
					        	~ .form-group {
					        		 display: block;
					        	}
					        	.fa-angle-down{
					        		:before{
					        			content:'\f106';
					        		}
					        	}
					        }
				    }
	    }
    }  
    .c-navigation__toolbar-right{
        .help-us{
            display:none;
        }
    } 
    .trade-sub-img.hidden-phone{
        display:none!important;
    } 
    .trade-sub-img.hidden-desktop{
        display:block!important;
    } 
    .visible-xs-block{
        display:block!important;
    }  
    .c-banner__utilities{
        .c-banner__utilities-right{
            >li.flag-country{
                top:18px;
            }
        }
    }
    .bg-middle-header{
        height:76px;
    }
    .c-navigation__search {
        right:0;
        padding-top: 10px;
        top: 122px;
    }
    .free-delivery-home{
        display:none;
    }
    .page-layout-1column{
        .home-product-list{
            >h2{
                text-align:center;
            }
            .products-grid{
                .product-item{
                    width:50%;
                    display:block;
                    float:left;
                    margin-left:0px;
                    padding-left:0px;
                    div.tile{
                        max-width:85%;
                        margin:0 auto;
                    }
                }
            } 

        }
    } 
    iframe{
        width:100%;
    }
    .posts-widget{
        h2,h3,h4,h5,h6{
            text-align:center;
        }
    } 
    .block__upsell__product,.block__related__product{
        clear:both;
        .block-title{
           h2{
                text-align:center;
           } 
        }
    }
    .wrapper-trade{
        .header-title-trade{
            .benefit{
                text-align:center;
            }  
        } 
    } 
    .page-layout-lr-trade-boostrap{
        .page-header{
            margin-bottom:0px;
        }
    }
    .product-trade{
        display:none;
    }
    #the-main-form{
        .customer-name{
            display:block;
        }  
    } 
    .list-buld-type{
        .content-buld{
            .owl-prev{
                left:-20px;
            }
            .owl-next{
                right:-20px;
            }
        } 
    } 
    .magestore-bannerslider-standard{
        display:none;
    }
    a.c-navigation__search-toggle{
        right:178px;
    }
    .page-header {
        position:relative!important;
    }

    #fixed-header-padding {
        padding-top: 0px;
    }
}
@media (max-width: 640px){
    .c-banner__utilities .contact-support{
        display:none;
    }
}
@media (max-width: 480px){
  .menu{
     .catalog{
        li.trade-customer-nav{
            .submenu{
                li {
                    width: 100% !important;
                    background: #3d4051 !important;
                    border-bottom: 2px solid #515a66;
                    &:hover{
                            a{
                                color: #fff!important;
                            }
                       } 
                    a{
                        text-align:left;
                        color:#fff;
                       
                    }
                    &:hover{
                        color: #fff;
                        background: #3d4051 !important; 
                    }
                }
                li.trade-nav-heading{
                    color: #fff;
                    background: #3d4051 !important;
                    &:hover{
                        color: #fff!important;                       
                       } 
                }
            } 
        } 
     }  
  }

  .menu .catalog li.trade-customer-nav .submenu li.trade-nav-heading,.menu .catalog li.trade-customer-nav .submenu li:hover {
        color: #fff;
        background: #3d4051 !important;
    }
  a.c-navigation__toolbar-item.toolbar-project{
    display:none;
  }
  .c-banner__utilities{
    .c-banner__utilities-right{
        >li.user-login{
            right:71px;
        }
      }
  }
  .call-us{
    right:121px;
  }
  a.c-navigation__search-toggle{
    right:127px;
  }
  .c-navigation__logo{
    width:270px;
  }
  .c-search-box__input{
    min-width:270px;
  }
}
