* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
*:before,*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
html {
    font-size: 100%
}
body {
    overflow-x:hidden;
    background-color: #fff;
    font-family: "Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #45485c;
    margin: 0;
    font-size:16px;
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display: block
}

audio,canvas,progress,video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],template {
    display: none
}

a {
    text-decoration: none;
    color: #289ecc;
    transition: all 0.3s ease;
    background:transparent;
}

a.large {
    font-size: 18px
}

a:hover,a:focus {
    outline: 0;
    text-decoration: none;
    color: #289ecc
}

a:focus {
    text-decoration: none
}
ul {
    padding-left: 0;
    list-style: none;
    margin:0 0 12px 0px;
}
ul,ol {
    margin-bottom: 24px;

}

ul li,ol li {
    font-size: 13px;
    font-family: 'Open Sans';
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 7px;
    
}
.page-main ul,.page-main ol{
    padding-left:15px;
}
.page-main ul li,.page-main ol li{
    line-height:1.8;
    position:relative;
}
.page-main ul li::before {
  content: "\2022";
  color: #27a6dd;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  top:0px;
  left:0px;
  position:absolute;
}
.checkout.methods li:before{
    content:'';
}
#checkout ul li:before {
  content: '';
  top: 19px;
  width:  100%;
  margin-left: 0px;
}
abbr[title] {
    border-bottom: 1px dotted
}

b,strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    margin-top: 0;
    color: #2f303a
}
h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
    font-weight: 400;
    letter-spacing: 0.05em
}

h1,.h1 {
    font-size: 32px;
    line-height: 1.3125;
    margin-bottom: 18px;
    font-weight: 400
}
h2,.h2 {
    font-size: 21px;
}

h3,.h3 {
    margin: 30px 0px;
    font-size: 21px;
    color: #231f20;
    font-family: 'Open Sans';
    font-weight: 300;
    letter-spacing:0;
}

h4,.h4 {
    font-size: 16px
}

h5,.h5 {
    font-size: 15px
}

h6,.h6 {
    font-size: 14px
}
p {
    font-size: 13px;
    font-family:'Open Sans';
    line-height: 1.8;
    font-weight: 400;
    margin-top:0px;
    margin-bottom:7px;
    -webkit-text-size-adjust:none!important;
    text-size-adjust:none!important;
}
.free-return p{
    font-size:16px;
}
mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%;
}
sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
label {
    display: inline-block;
    margin-bottom: 3px;
    font-size: 14px;
    line-height: 24px
}
sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
    max-width:100%;
    height:auto;
    display:inline;
    vertical-align:middle;
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto;
}

address {
    margin-bottom: 24px;
    font-style: normal;
    line-height: 1.5
}
code,kbd,pre,samp {
    font-family: monospace, monospace;
    font-size: 1em
}
textarea{
    min-height:100px;
}

textarea,select{
    display: block;
    width: 100%;
    height: 48px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.5;
    color: #45485c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #c2c4cc!important;
    border-radius: 5px!important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
select{
   -webkit-appearance:menulist!important;
}
button,input,optgroup,select,textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible;
    position: relative;
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    color: #45485c;
    padding: 12px 20px;
    font-weight: 700;
    text-align: center;
    background: #e9eaee;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    white-space: nowrap;
    transition: all .2s ease;
    outline: 0
}

button,select {
    text-transform: none
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0
}
.btn {
    position: relative;
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    color: #45485c;
    padding: 12px 20px;
    font-weight: 700;
    text-align: center;
    background: #e9eaee;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    white-space: nowrap;
    transition: all 0.2s ease;
    outline: 0
}
.btn-success {
    background: #1bc758;
    color: #fff
}

.btn-success:hover {
    background: #159a44
}

.btn-info {
    background: #5fa9dd;
    color: #fff
}

.btn-info:hover {
    background: #3592d4
}

.btn-warning {
    background: #fadc23;
    color: #2f303a
}

.btn-warning:hover {
    background: #e5c605
}

.btn-danger {
    background: #ff6f69;
    color: #2f303a
}

.btn-danger:hover {
    background: #ff3e36
}
.form-group{
    margin-bottom:12px;
}
.list-inline>li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px
}
input {
    line-height: normal;
    background:#fff;

}
input[type="text"],input[type="password"],input[type="email"]{
    display: block;
    border:1px solid #c2c4cc!important;
    background:#fff;
    display: block;
    width: 100%;
    height: 48px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.5;
    color: #45485c;
    background-color: #fff;
    background-image: none;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
} 
input:focus{
    border:1px solid #2ba8db;
}
input[type="checkbox"],input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}
input:focus,textarea:focus,select:focus{
    outline:none;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    border:1px solid #c2c4cc;
}

optgroup {
    font-weight: bold
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,th {
    padding: 0
}
::selection {
    color: #45485c;
    background: #e9eaee
}
::-moz-selection {
    color: #45485c;
    background: #e9eaee
}
header.page-header .panel.wrapper{
    background:#393f4f;
}
nav.navigation{
    background:#27a6dd;
}
nav.navigation .level0 > .level-top{
    color:#fff;
}
footer.page-footer{
    background:#3d4051;
}
div.footer.content .links a{
    color:#50bdf6;
}
div.footer.content .links a:hover{
    color:#50bdf6;
    text-decoration:none;
}
.breadcrumbs{
   .items{
        li{
            font-size:13px;
            font-weight:700;
            a,a:hover,a:active{
                color:#56596b;
            }
            a:hover{
                text-decoration:none;
            }
        }
   }  
}
.c-footer h2,.c-footer p, .c-footer .h2, .c-footer h3, .c-footer .h3, .c-footer h4, .c-footer .h4,.c-footer h2 a, .c-footer .h2 a, .c-footer h3 a, .c-footer .h3 a, .c-footer h4 a, .c-footer .h4 a{
    color:#fff;
}
.text-muted{
    color:#9395a3 !important;
}
.u-margin-bottom, .space-bottom{
    margin-bottom:24px !important;
}
.u-padding-bottom{
    padding-bottom:24px !important;
}
.u-padding-top-huge{
    padding-top:48px !important;
}
.hidden-desktop,.hidden{
    display:none;
}

.text-uppercase, .initialism{
    text-transform:uppercase;
}
small, .small{
    font-size:87%;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 7px dashed;
    border-top: 7px solid\9;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    position: absolute;
    right: 10px;
    top: 22px;
    z-index: 999
}
.c-search-box {
    position: relative;
    display: block
}
.collapse{
    display:none;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}
.form-control {
    display: block;
    width: 100%;
    height: 48px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.5;
    color: #45485c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #c2c4cc;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s
}
.c-search-box__input {
    height: auto;
    min-width: 322px;
    font-family: 'Open Sans';
    font-weight: 400;
    padding: 9px 16px;
    color: #393f4f;
    border: 0;
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid #56596b;
    background: initial
}

.c-search-box__input::-moz-placeholder {
    color: #393f4f;
    opacity: 1
}

.c-search-box__input:-ms-input-placeholder {
    color: #393f4f
}

.c-search-box__input::-webkit-input-placeholder {
    color: #393f4f
}

.c-search-box__input:focus {
    box-shadow: none;
    outline: none
}
.c-search-box__btn {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    background: none;
    border: none;
    padding: 5px 16px 0 0;
    opacity: 1;
    transition: opacity 0.3s ease
}
.c-search-box__btn:hover {
    opacity: 0.7
}
.c-search-box__btn:focus {
    outline: none
}
button:not(.primary){
    box-shadow:none!important;
}
.u-flush-bottom{
    margin-bottom:0px!important;
}
.visible-xs-block, .visible-xs-inline, .visible-xs-inline-block, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block, .visible-md-block, .visible-md-inline, .visible-md-inline-block, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block{
    display:none;
}
.p-style2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 2.5;
    margin-bottom: 0px;
    margin-top:0px;
}

.p-style3,.p-style3 p {
    font-size: 16px;
    font-weight: 400;
    line-height: 2.5;
    margin-bottom: 0px;
    
    margin-top:0px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield;
}
.primary-color, .text-primary{
    color:#2ba8db;
}
.u-margin-top-large, .space-top{
    margin-top:36px;
}
.btn-sm, .btn-group-sm>.btn, .btn-group-sm>.btn{
    padding: 6px 30px;
    font-size: 12.8px;
}
.pull-right{
    float:right;
}
.btn{
   i {
    font-size: 1.25em;
    line-height: 1.2;
    vertical-align: middle;
    margin-right: 10px
    } 
} 
.alert {
    padding: 24px;
    margin-bottom: 24px;
    border: 1px solid transparent;
    border-radius: 3px
}
.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442
}
.rig-add-df {
    background-color: transparent;
    border: 1px solid #ff6f69;
    color: #ff6f69;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    border-radius: 3px
}
.rig-add-df:focus,.rig-add-df.fd,.rig-add-df:hover,.rig-add-df:active,.rig-add-df.active {
    background-color: #ff6f69;
    box-shadow: none;
    color: #fff
}
.table:focus,form:focus{
    outline:none;
}
*:focus{
    outline:none;
}
dl {
    margin-top: 0;
    margin-bottom: 24px
}

dt,dd {
    line-height: 1.5
}

dt {
    font-weight: 700
}

dd {
    margin-left: 0
}
.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1060;
    display: none;
    max-width: 276px;
    padding: 1px;
    font-family: "Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-break: auto;
    line-height: 1.5;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    white-space: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    font-size: 16px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c2c4cc;
    border: 1px solid #c2c4cc;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2)
}

.popover.top {
    margin-top: -10px
}

.popover.right {
    margin-left: 10px
}

.popover.bottom {
    margin-top: 10px
}

.popover.left {
    margin-left: -10px
}

.popover-title {
    margin: 0;
    padding: 8px 14px;
    font-size: 16px;
    background-color: #f8f9fd;
    border-bottom: 1px solid #e4e8f7;
    border-radius: 5px 5px 0 0
}

.popover-content {
    padding: 9px 14px
}
.popover>.arrow:after {
    border-width: 10px;
    content: ""
}

.popover.top>.arrow {
    left: 50%;
    margin-left: -11px;
    border-bottom-width: 0;
    border-top-color: #c2c4cc;
    border-top-color: #c2c4cc;
    bottom: -11px;
}

.popover.top>.arrow:after {
    content: " ";
    bottom: 1px;
    margin-left: -10px;
    border-bottom-width: 0;
    border-top-color: #fff
}
.mage-error{
    color:red;
}
.btn-primary{
    background:#2ba8db;
    color:#fff;
    &:hover{
        background:#1f89b4;
        color:#fff;
    }
}