<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Category view template
 *
 * @var $block \Magento\Catalog\Block\Category\View
 */
?>
<?php
    $_helper    = $this->helper('Magento\Catalog\Helper\Output');
    $_category  = $block->getCurrentCategory();
    $_imgHtml   = '';
    if ($_imgUrl = $_category->getImageUrl()) {
        $_imgHtml = '<div class="category-image"><img src="' . $_imgUrl . '" alt="' . $block->escapeHtml($_category->getName()) . '" title="' . $block->escapeHtml($_category->getName()) . '" class="image" /></div>';
        $_imgHtml = $_helper->categoryAttribute($_category, $_imgHtml, 'image');
        /* @escapeNotVerified */ echo $_imgHtml;
    }
?>
<?php  if ($_imgUrl = $_category->getImageUrl()) {?>
<div class="banner-content container">
	<div class="category-button">
		<?php  echo $block->getChildHtml("category_button");?>	
	</div>
</div>
<div class="title-category">
    <h1><?php echo $block->escapeHtml($_category->getName());?></h1>
    <?php if($_category->getCaseStudySubTitle()):?>
        <div class="sub-name-product">
            <?php echo $_category->getCaseStudySubTitle(); ?>
        </div>
    <?php endif;?>
</div>
<?php
}
?>


