<?php if($this->isCOD()):
  $paymentgrid_rows = $this->_getPaymentGrid();
    $payment_options = $this->PaymentOptionArray();
      $invoice_id = $this->getInvoice()->getIncrementId();

      $order = $this->getInvoice()->getOrder();
      $email = $order->getCustomerEmail();
      $name = $order->getBillingAddress()->getName();
 ?>
<section class="admin__page-section">
    <div class="admin__page-section-title">
        <span class="title"><?= /* @escapeNotVerified */ __('Invoice Payment') ?></span>
    </div>

    <div id="invoice_item_container" class="admin__page-section-content">
       <div class="entry-edit-head">
                   
                    <div class="form-buttons btn-add-payment"><button id="addpayment" class="action-default scalable save" type="button" style="float: right;" ><span><?php echo __('Add Payment') ?></span></button>
                    <button id="updatepayment" class="action-default scalable save" type="button" data-loading-text="Loading..." style="float: right; margin-right: 5px;"><span><?php echo __('Delete Payment') ?></span></button></div>
                    <button id="loadingbutton"class="buttonload" style="float: right; margin-right: 5px; display: none;" ><i class="fa fa-spinner fa-spin"></i>Loading</button>
                </div>
        <form action="<?php echo $this->getUrl("receivableinvoices/payment/save"); ?>" method="post" id="updatepayForm" name="updatepayForm" enctype="multipart/form-data">
        <div class="admin__table-wrapper">
        <table  class="data-table admin__table-primary order-invoice-tables">
                            <thead>
                                <tr class="headings">
                                    <th class="no-link"><?php echo __('Payment Method') ?></th>
                                    <th class="no-link"><?php echo __('Note') ?></th>
                                    <th class="no-link"><?php echo __('Total') ?></th>
                                    <th class="no-link"><?php echo __('Received Date') ?></th>
                                    <th style="text-align:right" class="no-link last"><?php echo __('Delete') ?></th>
                                </tr>
                            </thead>
                            <tbody>
                            <?php $j = 0 ?>
                            <?php if ($paymentgrid_rows->count() > 0): ?>
                            <?php foreach ($paymentgrid_rows as $item): ?>
                           
                                    <tr class="even">
                                        <td><?php echo $this->getPaymentTitle($item->getPayment_code()); ?></td>
                                        <td><?php echo $item->getNote() ?></td>
                                        <td><?php echo $item->getTotal() ?></td>
                                        <td><?php echo $item->getReceived_at(); ?></td>
                                        <td style="text-align:right"><input name="del-check" type="checkbox" class="del-check checkbox" value="<?php echo $item->getPayment_grid_id() ?>" /></td>
                                    </tr>       

                        <?php endforeach ?>
                        <?php else: ?>
                                        <tr class="even">
                                            <td colspan="100" class="empty-text a-center">No payment method</td>
                                        </tr>
                        <?php endif ?>
                        </form>
                                        <tr class="even">
                                        <td><select id="paymentselect" >
                                            <?php foreach ($payment_options as $payment_option) { ?>
                                                # code...
                                                 <option value="<?php echo $payment_option['value']?>"><?php echo $payment_option['label']?></option>
                                           <?php
                                            } ?>
                                            </select></td>
                                        <td><input id="note" type="text" name="note" class="input-text" required/></td>
                                        <td><input id="total" type="text" name="total" class="input-text isnum"  required/></td>
                                        <td><input id="received_date"  name="update_date_recei" class="input-text" required/>
                                            
                                        </td>
                                    </tr>  
                                        </tbody>
          </table>
    </div>
  </form>
    </div>
</section>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script>
require(['jquery', "mage/calendar"],function ($) {
    
     $('#received_date').datepicker({
                               prevText: '&#x3c;zurück', prevStatus: '',
                                prevJumpText: '&#x3c;&#x3c;', prevJumpStatus: '',
                                nextText: 'Vor&#x3e;', nextStatus: '',
                                nextJumpText: '&#x3e;&#x3e;', nextJumpStatus: '',
                               monthNames: ['January','February','March','April','May','June',
                                'July','August','September','October','November','December'],
                                monthNamesShort: ['Jan','Feb','Mar','Apr','May','Jun',
                                'Jul','Aug','Sep','Oct','Nov','Dec'],
                                dayNames: ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'],
                                dayNamesShort: ['Su','Mo','Tu','We','Th','Fr','Sa'],
                                dayNamesMin: ['Su','Mo','Tu','We','Th','Fr','Sa'],
                              showMonthAfterYear: false,
                              dateFormat:'yy-mm-dd'
                            } 
                          );
$(document).ready(function(){
      
     $("#updatepayment").click(function(e){
          var chkArray = [];
            
            /* look for all checkboes that have a class 'chk' attached to it and check if it was checked */
            $(".del-check:checked").each(function() {
                chkArray.push($(this).val());
            });
            if (chkArray === undefined || chkArray.length == 0) {
                alert("Please select payment to delete ");
            }
            else{
             $.post("<?php echo $this->getUrl("receivableinvoices/payment/delete"); ?>",
                {
                  arr:chkArray,
                  delete: 'true'
                },
            
            function(data,status){
                alert("Delete  " + "\nStatus: " + status);
                window.location.reload();
                });
           }
    });

               
    });
    $("#addpayment").click(function(e){
      if( $('#total').val() && $('#received_date').val() && $('#paymentselect').val()!=="free"){
         var $btn = $(this);
    $btn.hide();
    $('#loadingbutton').show();
         $.post("<?php echo $this->getUrl("receivableinvoices/payment/save"); ?>",
        {
          payment_code: $('#paymentselect').val(),
          note: $('#note').val(),
          total: $('#total').val(),
          received_at: $('#received_date').val(),
          invoice_id: "<?php echo $invoice_id ?>",
          email: "<?php echo $email ?>",
          billing_name: "<?php echo $name ?>",
        },

        function(data,status){
            alert("Add Suscess " + data + "\nStatus: " + status);
            window.location.reload();
        });
      }
      else{
       alert("Please enter payment data");
      }
    });
});

</script>
<?php endif 


?>