<table class="listmethod">
  <thead>
    <tr>
        <th class="quote-info item-info">
            <?php echo __('Quote for:');?>
        </th>
        <th class="shipping-info item-info">
             <?php echo __('Ship to:');?>
        </th>

    </tr>
</thead>
<tbody>
      <tr>
        <td><?php echo $this->getChildHtml('items.print.quote.billing');?></td>
        <td><?php echo $this->getChildHtml('items.print.quote.shipping');?></td>  
      </tr>
 
</tbody>
</table>
