<?php
/**
 *  CART2QUOTE CONFIDENTIAL
 *  __________________
 *  [2009] - [2018] Cart2Quote B.V.
 *  All Rights Reserved.
 *  NOTICE OF LICENSE
 *  All information contained herein is, and remains
 *  the property of Cart2Quote B.V. and its suppliers,
 *  if any.  The intellectual and technical concepts contained
 *  herein are proprietary to Cart2Quote B.V.
 *  and its suppliers and may be covered by European and Foreign Patents,
 *  patents in process, and are protected by trade secret or copyright law.
 *  Dissemination of this information or reproduction of this material
 *  is strictly forbidden unless prior written permission is obtained
 *  from Cart2Quote B.V.
 * @category    Cart2Quote
 * @package     Quotation
 * @copyright   Copyright (c) 2018. Cart2Quote B.V. (https://www.cart2quote.com)
 * @license     https://www.cart2quote.com/ordering-licenses(https://www.cart2quote.com)
 */


/** @var $block \Cart2Quote\Quotation\Block\Adminhtml\Quote\View\Items\GridItems */
?>
    <div class="admin__table-wrapper" id="quote-items_grid">

        <?php foreach ($block->getSections() as $section) : ?>
            <table id="section-table-id-<?php echo $section->getSectionId() ?>"
                   class="data-table admin__table-primary quote-tables order-tables sortable-quote-item-table">
                <thead>
                <?php $itemCount = 0;
                $columns = $block->getColumns();
                $lastItemNumber = count($columns) ?>
                <tr class="headings">
                    <?php foreach ($columns as $columnName => $columnTitle) : ?>
                        <?php $itemCount++; ?>
                        <?php $class = $columnName . ($itemCount === $lastItemNumber ? ' last' : ''); ?>
                        <th class="col-<?php echo $class ?>">
                            <span><?php echo $columnTitle ?></span>
                        </th>
                    <?php endforeach; ?>
                </tr>
                </thead>
                <?php $itemCount = 0; ?>
                <?php foreach ($block->getQuote()->getSectionItems($section->getSectionId()) as $item) : ?>
                    <?php $itemCount++; ?>
                    <tbody class="<?php echo $itemCount % 2 ? 'even' : 'odd' ?>">
                    <?php echo $block->getTierItemsHtml($item) ?>
                    </tbody>
                    
                <?php endforeach; ?>
                <tfoot>
                <?php echo $block->getItemFooterHtml() ?>
                </tfoot>
            </table>
        <?php endforeach; ?>
    </div>
