<?php $taxHelper = $this->helper('Magento\Tax\Helper\Data'); ?>

<table class="listmethod">
      <thead>
        <tr>
            <th class="payment-method item-info">
                <?php echo __("Payment Method:");?>
            </th>
            <th class="shipping-method item-info">
                <?php echo __("Shipping Method:");?>  
            </th>

        </tr>
    </thead>
    <tbody>
          <tr>
            <td><?php if(!is_null($block->getShip()->getPayment()->getMethod())) echo $block->getShip()->getPayment()->getMethodInstance()->getTitle();?></td>
            <td>
            	<?php 
            	if ($_rate = $block->getActiveMethodRate()) : 
			        if ($_rate->getMethodTitle()) {
			            $methodTitle = $block->escapeHtml($_rate->getMethodTitle());
			        } else {
			            $methodTitle = $block->escapeHtml($_rate->getMethodDescription());
			        }
			      $carrierTitle = $block->escapeHtml($block->getCarrierName($_rate->getCarrier()));
					echo $carrierTitle.' - '.$methodTitle.'<br/>';
				?>
				<span>
				    <?php $_excl = $block->getShippingPrice(
				        $_rate->getPrice(),
				        $taxHelper->displayShippingPriceIncludingTax()
				    ); ?>
				    <?php $_incl = $block->getShippingPrice($_rate->getPrice(), true); ?>

				    <?php echo __('(Total Shipping Charges ').$_excl.')'; ?>
				    <?php if ($taxHelper->displayShippingBothPrices() && $_incl != $_excl) : ?>
				        (<?php echo __('Incl. Tax'); ?><?php echo $_incl; ?>)
				    <?php endif; ?>
				</span>
				<?php 
				endif;
				?>
				
			</td>  
          </tr>    
    </tbody>
    </table>
