<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<?php
/** @var \Magento\Framework\Pricing\Render\PriceBox $block */

/** @var \Magento\Bundle\Pricing\Price\TierPrice $tierPriceModel */
$tierPriceModel = $block->getPrice();
$tierPrices = $tierPriceModel->getTierPriceList();
?>
<?php if (count($tierPrices)) : ?>
    <div class="bulk-order-savings">
        <div class="bulk-label"><?php echo __('Bulk order savings');?></div>
            <div class="bulk-main">
                <ul class="tier-prices product-pricing">
                    <?php foreach ($tierPrices as $index => $price) : ?>
                        <li class="item tier-price">
                            <label>
                                <span><?php echo __('Buy');?></span>
                                <span><?php echo $price['price_qty'];?></span>
                            </label>
                            <label>
                                <span><?php echo __('save');?></span> 
                                <span><?php echo round($price['percentage_value']);?></span>%
                            </label>
                        </li>
                    <?php endforeach; ?>
                </ul>
            </div>
        </div>
<?php endif; ?>
