<div class="product-options">
	<div class="qty-holder selection-bundle-qty">
	    <div class="qty-box">
	    	<div class="product-qty-wrapper">
		        <span class="bundle-minus incr-btn">–</span>
		        <input id="bundle-option-243-qty-input" class="input-text qty" type="number" name="bundle_option_qty[243]" data-selector="bundle_option_qty[243]" value="1">
		        <span class="bundle-plus incr-btn">+</span>
	        </div>
	    </div>
	    <div class="add-to-quote">
	    	<button type="submit" title="Add to Cart" class="c-product-detail__add-to-cart btn btn-lg btn-block btn-primary u-margin-bottom-small show_minicart" id="product-addtocart-button">
	            <span><?php echo __("ADD TO QUOTATION");?></span>
	        </button>
	    </div>
	</div>
</div>
