// /**
//  * Copyright © 2016 SW-THEMES. All rights reserved.
//  */

//
//    Common
//  _____________________________________________

& when (@media-common = true) {

.bundle-actions {
    margin: 0 0 @indent__l;
    .action.primary.customize {
        &:extend(.abs-button-l all);
        &:extend(.abs-button-responsive all);
    }
}
div.product-add-form{
    #bundleSummary{
        .moved-add-to-links{
            padding:20px 0px 20px 0px;
        }
       .action.mailto.friend{
            width:32px;
            height:32px;
            line-height:32px;
       }
    }
}

.bundle-options-container {
    clear: both;
    margin-bottom: 0px;

    .legend.title {
        .lib-heading(h1);
        border: 0;
        padding: 0;
    }
    .input-text.qty {
        &:extend(.abs-input-qty all);
    }

    .product-options-wrapper {
        margin-bottom: 0px;
        .fieldset > .field {
            padding-top: @form-field__vertical-indent;
            &:first-of-type {
                border-top: 0;
                padding-top: 0;
            }
        }
            .fieldset-bundle-options {
                .field.choice {
                    .price-notice {
                        &:extend(.abs-adjustment-incl-excl-tax all);
                    }
                }
            }
        .field.choice {
            input {
                float: left;
            }
            .label {
                    &:extend(.abs-add-clearfix all);
                    display: block;
                margin-left: 24px;
                display: block;
            }

            .product-name {
                display: block;
            }

            .label {
                &:extend(.abs-add-clearfix all);
            }

            .price-notice {
                float: left;
                &:extend(.abs-adjustment-incl-excl-tax all);
            }
                
            .price-excluding-tax {
                display: inline-block;
            }
        }
    }

    .action.back {
        &:extend(.abs-action-button-as-link all);
        margin-bottom: @indent__l;
    }

    .block-bundle-summary {
        > .title {
            margin-bottom: 15px;
            > strong {
                .lib-heading(h2);
            }
        }
        > .title,
        .bundle-summary .subtitle {
            border-bottom: 1px @color-gray-middle1 solid;
                margin-bottom: @indent__m;
            padding-bottom: 16px;
        }
        .price-box {
            margin-bottom: @indent__base;
            .price-label {
                display: block;
                margin-bottom: @indent__xs;
            }
        }

        .bundle-summary {
            margin-top: @indent__l;
            &.empty {
                display: none;
            }
            > .subtitle {
                .lib-heading(h2);
                display: block;
            }
        }

        .bundle.items {
            &:extend(.abs-reset-list all);
            > li {
                margin-bottom: @indent__base;
            }
        }

        .box-tocart {
            &:extend(.abs-box-tocart all);
            .action.primary {
                &:extend(.abs-button-l all);
                &:extend(.abs-button-responsive all);
            }
        }
            .product-addto-links {
                text-align: center;
                > .action {
                    &:extend(.abs-actions-addto all);
                    margin-right: 5%;
                    &.tocompare {
                        .lib-icon-font-symbol(
                            @_icon-font-content: @icon-compare-full,
                            @_icon-font-position: before
                        );
                    }
                }
            }

        .product-image-container,
        .product.name,
        .stock {
            &:extend(.abs-visually-hidden all);
        }
    }
    p.required {
        .lib-css(color, @form-field-label-asterisk__color);
    }
    .nested {
        .field label {
            font-weight: 400;
        }
        .product-name {
            font-weight: 400;
            font-size:14px;
        }
        .field.qty {
            .lib-form-field-type(@_type: block);
            .label {
                font-weight: @form-field-label__font-weight;
            }
            &:last-child {
                margin-bottom: 0;
            }
            margin-top: @form-field__vertical-indent;
        }
    }
    .price {
        font-weight: 400;
        font-size:14px;
    }
}

.fieldset-bundle-options {
    .nested.options-list {
            border:1px solid #ccc;
        .field.qty {
            display: block;
            margin-top: 9px;
        }
    }
}
}
.product-options{
    dl{
        dd{
            .input-box{
                margin-bottom:20px;
                 .info-circle {
                    display: inline-block;
                    width: 24px;
                    height: 22px;
                    background: url("../images/bundle_product/info.png") no-repeat;
                    vertical-align: top;
                    margin-left: 5px
                }

            }
        } 
    } 
    .select-dropdown-option{
        float: left;
        width: 72%;
        margin-right: 4%;
        label {
            font-size: 1.4rem;
            color:#000;
            display:inline-block;
            margin-bottom:11px;
        }
        select {
            width: 100%;
            height: 48px;
            padding: 10px;
            background: #fff url('../images/bundle_product/arrow-down.png') no-repeat 97% 45%;
            border: 1px solid #2ba8db;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-appearance: none !important;
            appearance: none !important;
            option {
                min-width: 160px;
                padding: 5px 0;
                margin: 2px 0 0;
                list-style: none;
                font-size: 16px;
                text-align: left;
                background-color: #fff;
                border: 1px solid #ccc;
                border: 1px solid rgba(0,0,0,0.15);
                border-radius: 5px;
                -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
                box-shadow: 0 6px 12px rgba(0,0,0,0.175);
                background-clip: padding-box
            }
        }
    }
    .selection-bundle-qty {
        float: left;
        width: 24%;
        margin-bottom: 21px;
        label {
            width: 100%;
            font-size: 1.4rem;
            color:#000;
            display:inline-block;
            margin-bottom:10px;
        }
        .qty-box {
            border: 1px solid #27a7de;
            border-radius: 3px;
            width: 100%;
            display: inline-block;
            overflow: hidden;
            text-align: center;
            input {
                text-align: center;
                height: 46px;
                border-left: 1px solid #eaeaee;
                border-right: 1px solid #eaeaee;
                border-bottom: none;
                border-top: none;
                width: 38%;
                float: left
            }
            span {
                width: 31%;
                background: #27a7de;
                color: #fff;
                cursor: pointer;
                font-size: 24px;
                line-height: 46px;
                float: left;
                height: 46px
            }

        }

    }

} 
.product-wrapper{
     .wrapper-availables{
        .wrapper-scroll{
           table{
                th.th-three{
                    text-align:center;
                }  
                tbody{
                    td.td-three{
                        text-align:center;
                        vertical-align:middle;
                    }
                }
           } 
        }   
     } 
     .product-op-below{
        > h3{
            text-overflow:ellipsis;
            white-space:nowrap;
            overflow:hidden;
         }
     } 
} 

.fieldset-bundle-options{
    padding:15px;
    margin-bottom:0px;
    .field-radio{
        clear:both;
        .price-excluding-tax{
            display:none;
        }
        .price-including-tax{
            display:inline-block;
        }
    }
}
.product-wrapper{
    .wrapper-availables,.bundle-option-table{
        .wrapper-scroll{
            table{
                tbody{
                    tr.active,tr:hover{
                        background:none!important;
                        td{
                            color:#21293c!important;
                        }
                    }
                } 
            } 
        } 
    }     
} 
//
//    Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .bundle-actions {
        .action.primary.customize {
            width: auto;
        }
    }
    .bundle-options-container {
        .legend.title {
            font-size: 25px;
        }
       
        .block-bundle-summary {
            padding: @indent__s @indent__base;
            &:extend(.abs-add-box-sizing-desktop all);
            width: 100%;
            position: relative;
            .price-box {
                .price-wrapper,
                .price-wrapper > .price {
                    font-size: @price-size-desktop;
                    line-height: @price-size-desktop;
                    font-weight: @font-weight__semibold;
                    .lib-css(color, @price-color);
                }
            }
            .price-container {
                .weee {
                    .lib-css(color, @price-color);
                    .price {
                        .lib-font-size(12);
                        font-weight: @font-weight__bold;
                    }
                }
            }
            .price-including-tax + .price-excluding-tax {
                .price {
                    .lib-font-size(14);
                    line-height: 16px;
                }
            }
        }
        .bundle-options-wrapper,
        .block-bundle-summary {
            .page-layout-2columns-left &,
            .page-layout-2columns-right &,
            .page-layout-3columns & {
                width: 48%;
            }
        }
    }
}
