<?php
/**
* Copyright © Magento, Inc. All rights reserved.
* See COPYING.txt for license details.
*/

// @codingStandardsIgnoreFile

?>

<?php
/** @var \Magento\ConfigurableProduct\Pricing\Render\FinalPriceBox$block */

/** @var \Magento\Framework\Pricing\Price\PriceInterface $priceModel */
$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
$currency = $objectManager->get('\Magento\Directory\Model\Currency');
$symbol  = $currency->getCurrencySymbol();
$priceModel = $block->getPriceType('regular_price');
$currencyFormat = $objectManager->get('\Magento\Framework\Pricing\PriceCurrencyInterface');
$product = $block->getSaleableItem();
$configProduct = $objectManager->create('Magento\Catalog\Model\Product')->load($product->getId());
$showMinPrice = $product->getPriceInfo()->getPrice('final_price')->getAmount()->getBaseAmount();
$_children = $configProduct->getTypeInstance()->getUsedProducts($configProduct);
$listMinPrice =[];
foreach ($_children as $child){
    if(!empty($child->getspecialPrice())){
      $listMinPrice[] = $child->getspecialPrice();
    }   
}
if(!empty($listMinPrice)){
  $minPrice =(float)min($listMinPrice);
}
/** @var \Magento\Framework\Pricing\Price\PriceInterface $finalPriceModel */
$finalPriceModel = $block->getPriceType('final_price');
$idSuffix = $block->getIdSuffix() ? $block->getIdSuffix() : '';
$schema = ($block->getZone() == 'item_view') ? true : false;
$minimalPrice = $finalPriceModel->getMinimalPrice();

?>
<?php if(!$block->hasSpecialPrice()):?>
 <div class="price-exclude-custom" data-label="ex. VAT"><?php echo $currencyFormat->format((float)$product->getPriceInfo()->getPrice('regular_price')->getAmount()->getBaseAmount(),false,2);?></div>
 <?php endif ?>  
<?php if ($block->hasSpecialPrice()): ?>
  <?php $getspecialPrice= strip_tags($block->renderAmountMinimal($finalPriceModel->getAmount()));?>
      <?php if($minPrice ==$showMinPrice && $minPrice!==0):?> 

          <div class="show-bottom-price discount-price special-offer-left">
            <span class="label-old-price"><?php echo __('Was');?></span>
            <span class="old-price sly-old-price">
              <?php /* @escapeNotVerified */ echo $block->renderAmount($priceModel->getAmount(), [
                'price_id'          => $block->getPriceId('old-price-' . $idSuffix),
                'price_type'        => 'oldPrice',
                'include_container' => true,
                'skip_adjustments'  => false
              ]); ?>
            </span>
            <span class="special-price">
                  <?php /* @escapeNotVerified */ echo $block->renderAmount($finalPriceModel->getAmount(), [
                      'display_label'     => __('Special Price'),
                      'price_id'          => $block->getPriceId('product-price-' . $idSuffix),
                      'price_type'        => 'finalPrice',
                      'include_container' => true,
                      'schema' => $schema
                  ]); ?>
              </span>
          </div>
          <div class="special-offer-right">
            <span class=""><?php echo __('Special offer item');?></span>
          </div>
      <?php else:?>
          <div class="price-exclude-custom tierprice" data-label="ex. VAT"><?php echo $currencyFormat->format((float)$product->getPriceInfo()->getPrice('regular_price')->getAmount()->getBaseAmount(),false,2);?></div>
          <div class="show-aslowas">
              <?php /* @escapeNotVerified */ echo $block->renderAmount($priceModel->getAmount(), [
              'price_id'          => $block->getPriceId('product-price-' . $idSuffix),
              'price_type'        => 'finalPrice',
              'include_container' => true,
              'schema' => $schema
            ]); ?>
          </div>
           <div class="show-bottom-price"> <?php /* @escapeNotVerified */ echo $block->renderAmount($finalPriceModel->getAmount(), [
                      'display_label'     => __('As low as'),
                      'price_id'          => $block->getPriceId('product-price-' . $idSuffix),
                      'price_type'        => 'finalPrice',
                      'include_container' => true,
                      'schema' => $schema
                  ]); ?></div>
      <?php endif; ?>
  <?php else: ?>
      <?php if ($block->showMinimalPrice()): ?>
            <?php /* @escapeNotVerified */ echo $block->renderAmount($finalPriceModel->getAmount(), [
              'price_id'          => $block->getPriceId('product-price-' . $idSuffix),
              'price_type'        => 'finalPrice',
              'include_container' => true,
              'schema' => $schema
            ]); ?>
           <?php else: ?>
            <div class="not-show-aslowas">
              <?php /* @escapeNotVerified */ echo $block->renderAmount($finalPriceModel->getAmount(), [
              'price_id'          => $block->getPriceId('product-price-' . $idSuffix),
              'price_type'        => 'finalPrice',
              'include_container' => true,
              'schema' => $schema
            ]); ?>
          </div>
       <?php endif; ?>
  <?php endif; ?>
