<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div class="block discount col-xs-12 col-sm-6 col-lg-7" id="block-discount" data-mage-init='{"collapsible":{"openedState": "active", "saveState": false}}'>
    <div class="content" data-role="content" aria-labelledby="block-discount-heading">
        <form id="discount-coupon-form"
              action="<?= /* @escapeNotVerified */ $block->getUrl('checkout/cart/couponPost') ?>"
              method="post"
              data-mage-init='{"discountCode":{"couponCodeSelector": "#coupon_code",
                                               "removeCouponSelector": "#remove-coupon",
                                               "applyButton": "button.action.apply",
                                               "cancelButton": "button.action.cancel"}}'>
            <div class="coupon<?= strlen($block->getCouponCode()) ? ' applied' : '' ?> form-group col-md-8">
                <input type="hidden" name="remove" id="remove-coupon" value="0" />
                    <label for="coupon_code" class="label"><span><?= /* @escapeNotVerified */ __('Coupon code') ?></span></label>
                        <input type="text" class="input-text form-control" id="coupon_code" name="coupon_code" value="<?= $block->escapeHtml($block->getCouponCode()) ?>" placeholder="<?= $block->escapeHtml(__('Enter coupon code')) ?>" />
            </div>
                    <?php if (!strlen($block->getCouponCode())): ?>
                        <button class="action apply c-cart__btn-coupon btn btn-default btn-coupon" type="button" value="<?= /* @escapeNotVerified */ __('Apply Discount') ?>">
                            <span><?php echo __('Apply Code'); ?></span>
                        </button>
                    <?php else: ?>
                            <button  type="button" class="action cancel c-cart__btn-coupon btn btn-default btn-coupon" value="<?= /* @escapeNotVerified */ __('Cancel Coupon') ?>"><span><?= /* @escapeNotVerified */ __('Cancel Coupon') ?></span></button>
                    <?php endif; ?>
        </form>
    </div>
    <div class="wrapper-badget-trusted clearfix u-padding-bottom"><?php echo $this->getChildHtml('left-block-trustwave');?>

</div>