<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**  @var $block \Magento\Checkout\Block\Cart\Grid */
?>
<?php $mergedCells = ($this->helper('Magento\Tax\Helper\Data')->displayCartBothPrices() ? 2 : 1); ?>
<?= $block->getChildHtml('form_before') ?>
<section class="c-cart__cart">
    <form action="<?= /* @escapeNotVerified */ $block->getUrl('checkout/cart/updatePost') ?>"
              method="post"
              id="form-validate"
              data-mage-init='{"validation":{}}'
              class="form form-cart">
        <?= $block->getBlockHtml('formkey') ?>
        <div class="cart table-wrapper<?= $mergedCells == 2 ? ' detailed' : '' ?>">
            <?php if ($block->getPagerHtml()): ?>
                <div class="cart-products-toolbar cart-products-toolbar-top toolbar" data-attribute="cart-products-toolbar-top"><?= $block->getPagerHtml() ?></div>
            <?php endif ?>
            <table id="shopping-cart-table"
                   class="cart items data table c-cart__table data-table cart-table"
                   data-mage-init='{"shoppingCart":{"emptyCartButton": "action.clear",
                   "updateCartActionContainer": "#update_cart_action_container"}}'>
                <caption role="heading" aria-level="2" class="table-caption"><?= /* @escapeNotVerified */ __('Shopping Cart Items') ?></caption>
                <thead>
                    <tr>
                        <th class="col item" rowspan="1"></th>
                        <th class="col item" rowspan="1"><?= /* @escapeNotVerified */ __('Product Name') ?></th>
                        <th class="col price" rowspan="1"><?= /* @escapeNotVerified */ __('Unit Price') ?></th>
                        <th class="col qty" rowspan="1"><?= /* @escapeNotVerified */ __('Quantity') ?></th>
                        <th class="col subtotal" rowspan="1"><?= /* @escapeNotVerified */ __('Subtotal') ?></th>
                        <th class="col item" rowspan="1"></th>
                    </tr>
                </thead>
                <?php foreach ($block->getItems() as $_item): ?>
                    <?= $block->getItemHtml($_item) ?>
                <?php endforeach ?>
            </table>
            <?php if ($block->getPagerHtml()): ?>
                <div class="cart-products-toolbar cart-products-toolbar-bottom toolbar" data-attribute="cart-products-toolbar-bottom"><?= $block->getPagerHtml() ?></div>
            <?php endif ?>
        </div>


            <div class="u-divide-bottom u-padding-top u-padding-bottom-small">
                <div class="row cart main actions">
                    <div class="col-sm-6 col-sm-push-6">
                        <button type="submit"
                                name="update_cart_action"
                                data-cart-item-update=""
                                value="update_qty"
                                title="<?= $block->escapeHtml(__('Update Shopping Cart')) ?>"
                                class="action update btn btn-default u-margin-bottom-small u-pull-right-sm">
                            <span><?= /* @escapeNotVerified */ __('Update') ?></span>
                        </button>
                        <input type="hidden" value="" id="update_cart_action_container" data-cart-item-update=""/>
                    </div>
                     <?php if ($block->getContinueShoppingUrl()): ?>
                        <div class="col-sm-6 col-sm-pull-6">
                            <a class="action continues btn btn-default u-margin-bottom-small"
                                   href="<?= $block->escapeUrl($block->getContinueShoppingUrl()) ?>"
                                   title="<?= $block->escapeHtml(__('Continue Shopping')) ?>">
                                    <span><?= /* @escapeNotVerified */ __('Continue Shopping') ?></span>
                                </a>
                        </div>
                    <?php endif; ?>
                </div>
            </div>
    </form>
</section>
<?= $block->getChildHtml('checkout.cart.order.actions') ?>
<?= $block->getChildHtml('shopping.cart.table.after') ?>

