<section class="title-cart__summary">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="text-center"><?php echo __('Cart Summary');?></h2>
        </div>
    </div>
</section>