/*Start Style Base*/
a,a:hover{
    text-decoration: none;
}
li{
    list-style: none;
}
p{
    font-size:15px;
    line-height:1.7;
    font-weight: 300;
}
h1,h2,h3,h4,h5,h6{
    color:#ab8550;
    font-weight: 400;
    line-height: 1.5;
}
h1{
    font-size:44px;
}
h2{
    font-size:32px;
}
h3{
    font-size:28px;
}
a.btn-submit{
    color:#ab8550;
    display:  inline-block;
    padding:10px  26px;
    border: 1px solid #cfbca1;
    font-size:15px;
    text-transform: uppercase;
}
input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="datetime"], input[type="email"]{
    border-radius: initial;
    border:1px solid #eae1d4;
    padding:10px;
    height:36px;
}
textarea{
    border:1px solid #eae1d4;
}

h1.page-title{
    width: 100%;
    text-align: center;
} 
.page-title >span.base{
    color: #ab8550;
    font-size: 34px;
    margin: 30px 0 10px;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
}
.cms-page-view .page-title-wrapper{
    display: none;
}
/*End Style Base*/

/*Start Header*/
header#header{
    background: #231f20;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 88px;
    top:0px;
    left: 0px;
}
header#header .menu-header >.container{
    position: static;
}
#header ul{
    text-align: center;
    margin:0px;
    padding:0px;

}
#header .wrap-sublist{
    background: #ffffff;
    position: absolute;
    top: 100%;
    z-index: 999999;
    display: block;
    width: 100%;
    left: 0px;
    overflow: hidden;
    height:0px; 
}
#header .wrap-sublist li a span{
    color:#aa8652;
    display: inline-block;
    border-bottom: 1px solid #fff;
    text-align: center;
}
#header ul li{
    display: inline-block;
    list-style: none;
    margin:0px;
    padding: 30px 35px;
}
#header ul li.lookbook{
    padding-right: 158px;
}
#header ul li.about-us{
    padding-left: 175px;
}
#header ul li a:hover{
    text-decoration: none;
    border-bottom:1px solid #45392d;
}
#header ul li:hover .wrap-sublist{
    height:auto;
    border-bottom: 1px solid #ccc;
}
#header .wrap-sublist .container{
    max-width: 863px;   
}
#header .wrap-sublist .container li a img{
    display: block;   
}
#header ul li .wrap-sublist .sublist-menu{
    text-align: left;
}
#header ul li .wrap-sublist .sublist-menu li{
    text-align: center;
    padding:18px 10px;
}
#header .wrap-sublist li a:hover{
    border: none;
}
#header .wrap-sublist li a:hover span{
    border-bottom: 1px solid #aa8652;
}
.wrap-sublist .owl-nav .arrow-left,.wrap-sublist .owl-nav .arrow-right{
   position: absolute;
   width:30px;
   height:50px;
   background: #333;
   display: inline-block;
   top:50%;
   transform: translateY(-50%);
   -webkit-transform: translateY(-50%);
   -moz-transform: translateY(-50%);
}
.wrap-sublist .owl-nav .owl-prev .arrow-left{
    left: -15px;
    background:url('../images/arrow-left.png') no-repeat;
}   
.wrap-sublist .owl-nav .owl-next .arrow-right{
    background:url('../images/arrow-right.png') no-repeat;
    right: -15px;
}
#header ul li a{
    line-height: 2.2;  
    display: inline-block;
    margin:0px;
    letter-spacing: 0.1em;
}

#header ul li .logo{
    margin:0px;
    max-width: 100%;
}
#header .logo-header .logo img{
    max-height: initial;
}
#header .logo-header{
    position: absolute;
    top:50%;
    left: 51%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
}
#header .logo-header .logo{
    max-width: 100%;
    margin:0px;
}
#header .menu-toggle{
    position: absolute;
    left: 15px;
    top: 17px;
    line-height: initial;
    display: inline-block;
    cursor: pointer;
    z-index: 1;
    display: none;
}
#header .menu-toggle i{
    display: block;
    width:25px;
    height:2px;
    background: #fff;
    margin-bottom:6px;
}
#header.open-menu,body.open-menu{
    margin-left:250px;
    transition: margin-left .5s;
}
/*End Header*/

/*Start By Desire*/
.by-desire{
    padding:70px 15px 100px;
    text-align: center;
    background: #464646;
}
#highlight{
    padding:90px 15px 50px;
    text-align: center;
}
.by-desire .row,#highlight .row{
    margin:0 auto;
    max-width: 800px;
}
.by-desire h2,#highlight h2{
    font-size:32px;
    color:#ab8550;
    margin-bottom: 25px;
    margin-top: 10px;
    font-family: 'futura';
}
#highlight p{
    font-size: 15px;
    color:#656565;
    margin-bottom: 25px;
}
.by-desire p{
    font-size:15px;
    color:#fff;
    font-falmily:'futura';
}
/*Start By Desire*/
/*******  main-upsell  *********/
.main-info{
    margin-bottom: 40px;
}
.main-upsell .left-upsell {
    background-size: 100%;
    min-height: 660px;
    margin:0px;
    box-sizing: border-box;
    padding: 0 80px;
    width:710px;
    background-repeat: no-repeat;
    float: left;
    position: relative;
}
.main-upsell .left-upsell >a.linkto,.main-upsell .upsell-right-top >a.linkto,.main-upsell .upsell-right-bottom >a.linkto,.footer-upsell-social .icons .link-social >a.linkto,.footer-upsell-links .upsell-link a.linkto{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0px;
    left: 0px;
    z-index:12;
}
.main-upsell .left-upsell  .punctuate{
    position: absolute;
    left:0px;
    bottom: 0px;
    z-index: 10;
    width: 100%;
    background:#ab8550;
    color:#fff;
    padding:24px 34px;
}
.main-upsell .left-upsell  .punctuate h2{
    color:#fff;
    margin:0px 0px 15px 0px;
    font-size:28px;
}
.main-upsell .left-upsell  .punctuate p{
    color:#fff;
}
.main-upsell .upsell-right-top {
    min-height: 360px;
    width: 419px;
    display: block;
    background-position: top center;
    margin:0px 0px 10px 10px;
    position: relative;
    background-repeat: no-repeat;
    float: left;
    position: relative;
}
.main-upsell .upsell-right-top .content{
    position: absolute;
    left:30%;
    top:50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}
.main-upsell .upsell-right-top .content h1{
    font-size:30px;
    color:#fff;
    margin:0px;
    font-family: 'garamond-italic';
    letter-spacing: 0px;
}
.main-upsell .upsell-right-top .content h2{
    font-size:28px;
    color:#ab8550;
    margin-bottom: 25px;
}
.main-upsell .upsell-right-top .content p{
    font-size:15px;
    color:#fff;
}
.main-upsell .upsell-right-bottom .content h3{
    font-family: 'garamond-italic';
    color:#fff;
    font-size:30px;
}
.main-upsell .upsell-right-bottom .content h2{
    font-size:28px;
    color:#fff;
    margin-top: 7px;
}
.main-upsell .upsell-right-bottom .content{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    text-align: center;
}
.main-upsell .upsell-right-bottom {
    min-height: 290px;
    margin:0px 0px 0px 10px;
    background-size: 115%;
    background-position: 50% center;
    background-repeat: no-repeat;
    width: 419px;
    float: left;
    position: relative;
}
/* End Left Upsell  */
/* Footer Social ==============================================================*/

.footer-upsell-social {
    background-color: #F2F2F2;
    text-align: center;
    width: 100%;
    padding: 40px 0;
}

.footer-upsell-social .icons .stacked .two:hover {
    opacity: 0.7;
}

.footer-upsell-social .row {
    margin-bottom: 0px;
    display: inline-block;
}

.footer-upsell-social a{
    display: block;
}

.footer-upsell-social p {
    margin-bottom: 0px;
    color: #ab8550;
    text-transform: uppercase;
    font-family: "lato";
    font-size: 11px;
    font-weight: normal;
    letter-spacing: 1px;
}

.footer-upsell-social .icons .name {
    color: #666666;;
    font-size: 13px;
}


.footer-upsell-social i {
    color: #ab8550;
    font-size: 25px;
    margin-bottom: 10px;
}
.footer-upsell-social .icons .columns{
    position: relative;
}
.footer-upsell-social .icons .columns:hover{
    opacity: 0.7;
}
.footer-upsell-social .subscribe-box .block-subscribe {
    float: left;
    border: none;
    width: 300px;
    margin: 0;
}

.footer-upsell-social .subscribe-box .block .block-content {
    padding: 15px 0 0;
}

.footer-upsell-social .subscribe-box .block .block-content input.input-text {
    background: #F2F2F2;
    border: 1px solid #ab8550;
    width: 100%;
    height: 28px;
    padding: 6px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.footer-upsell-social .subscribe-box .block .block-content button.button {
    background-color: transparent;
    color: #ab8550;
    border:none;
}

.footer-upsell-social .subscribe-box .block .actions {
    width: 100%;
    text-align: right;
}

.footer-upsell-social .subscribe-box .block .block-content button.button span {
    float: left;
    font-size: 14px;
    font-weight: 700;
    height: 10px;
    font-family: lato, arial;
    text-align: center;
    text-transform: uppercase;
    color: #ab8550;
    padding: 0px;    
}
/*End Footer Social ==============================================================*/

/* Footer Upsell Links ========================================================*/

.footer-upsell-links {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    background-color: #FFFFFF;
}

.footer-upsell-links .four:hover {
    background-color: #F2F2F2;
    -moz-transition: background-color 0.1s;
    -webkit-transition: background-color 0.1s;
    -o-transition: background-color 0.1s;
    transition: background-color 0.1s;
    
}

.footer-upsell-links p {
     color: #666666;
    font-size: 14px;
    font-weight: 300;
}

.footer-upsell-links .row {
    display: flex;
    display: -wekbit-flex;
    flex-wrap: wrap;
    margin: 0;
}

.footer-upsell-links .upsell-link {
    margin-left: 0px;
    margin-right: 0px;
    box-sizing: border-box;
    border-right:1px solid #D2B28C;
    padding:0px;
    font-family: 'Lato';
    cursor: pointer;
}
.footer-upsell-links .upsell-link:hover{
    background: #f2f2f2;
}
.footer-upsell-links .upsell-link:last-child{
    border:none;
}
.footer-upsell-links .upsell-link .info .content{
    display: block;
    text-decoration: none;
    padding:25px;
}
.footer-upsell-links .title {
    text-transform: uppercase;
    color: #ab8550;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
}
.footer-upsell-social #remove{
    float:left;
}

/*End Footer Upsell Links ========================================================*/

/*Start Terms and Conditions ========================================================*/
    
    .cms-page-view .page-title,.cms-page-view h1{
        position: relative;
    }
    .cms-page-view h1{
        color: #ab8550;
        font-size: 32px;
        margin: 30px 0 10px;
        padding-bottom: 10px;
        text-align: center;
        display:block;
        text-transform: uppercase;
    }
    .cms-page-view .page-title >span.base,.cms-page-view h1{
        font-family: 'futura';
        margin-top: 45px;
    }

    .cms-page-view #maincontent{
        padding:15px 15px 40px;
        font-weight: 300;
        font-family: 'Lato';
        color:#666;
    }
    .cms-page-view .content h2 {
        color: #666666;
        display: block;
        font-size: 19px;
        font-weight: 400;
        letter-spacing: 1px;
        margin-bottom: 10px;
        margin-top: 50px;
        padding-bottom: 0;
        text-transform: uppercase;
    }
    .cms-page-view .content p{
        font-weight: 300;
        font-family: 'futura-book';
        color:#666;
        margin-bottom: 15px;
    }
    .cms-page-view .page-title-wrapper .page-title:after,.cms-page-view h1:after{
        content:'';
        display: inline-block;
        height: 1px;
        width:122px;
        background:#ab8550;
        position: absolute;
        left:50%;
        margin-left: -50px;
        bottom: 0px;

    }

/*End FTerms and Conditions ========================================================*/
/*Start About Us ========================================================*/
.page-layout-layout-about-us .page-title-wrapper{
    display: none;
}
.about-navigation,.about-company{
    width: 100%;
    text-align: center;
}
.about-navigation ul {
    margin-bottom: 0px;
    padding:0px;
}
.about-navigation ul li{
    margin: 0px;
    display: inline-block;
}
.about-navigation ul li a{
    display: inline-block;
    padding:59px 37px;
    font-size: 15px;
    color: #cdb696;
    letter-spacing: 0.1em;
}

.about-navigation ul li a:hover{
    color:#c6a67b;
}

.about-navigation{
    background:#ab8550;    
}
.about-company .introduce{
    margin-top: 30px;
     -webkit-animation-name:showText;
    animation-name:showText;
    -moz-animation-name:showText;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.about-company .introduce p{
    margin: 0 auto;
    margin-bottom: 30px;
    color: #666;
    font-family: 'futura-book';
    width:76%;

}
.about-company .introduce .signature p{
    font-size: 13px;
}
.about-company .introduce .signature h4{
    letter-spacing: 0.1em;
    margin-bottom: 5px;
    font-size:15px; 
}
.about-company .hightlight .row{
    margin:0 -10px;
} 
.about-company .hightlight .col-sm-6{
    padding:10px 10px;
} 
.cms-meet-the-team .about-navigation ul li a.meet-team,.cms-meet-team .about-navigation ul li a.meet-team,.cms-about-us .about-navigation ul li a.about{
    color:#fff;
}
.cms-meet-the-team .about-navigation ul li a.meet-team:hover,.cms-meet-team .about-navigation ul li a.meet-team:hover,.cms-about-us .about-navigation ul li a.about:hover{
    color:#eee;
}

.list-item{
    margin-top:50px;
}
.list-team-info{
    background: #f2f2f2;
    text-align:left;
    font-size:15px;
    margin-bottom: 35px;
}
.list-team-info .left-inside{
    padding-left: 0px;
}
.list-team-info .img-represent img{
    max-width: 237px;
}
.list-team-info .information{
     padding:25px 30px 0px 0px;
    -webkit-animation-name:showText;
    animation-name:showText;
    -moz-animation-name:showText;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes showText{
  0%{
    opacity: 0;

  }
  100% {
    opacity: 1;
  }
}
.list-team-info .information h5{
    font-weight: 600;
    font-size:15px;
    color:#666;
}

.list-team-info .information h4{
    font-size:15px;
    letter-spacing: 1px;
}
.list-team-info .information .content{
    margin-top:20px;
}
.list-team-info .information p{
    font-family: 'futura-book';
}
.cc-revoke.cc-top{
    display: none!important;
}
/*End  About Us ========================================================*/

/*Start  Cookie ========================================================*/
    .cc-message{
        color: #fff;
        padding-left:80px;
        padding-right:25px;
        font-size:11px;
        position: relative;
        line-height: 1.4;
    }
    .cc-window .cc-message::before{
        content:'';
        position: absolute;
        width:80px;
        height:73px;
        left:0px;
        top:-13px;
        display: inline-block;
        background:url('../images/cookies-pop-up.svg') no-repeat;    
    }
    div.cc-window.cc-theme-block{
        width:480px;
        padding:1em 25px 1em 0px;
        left:auto;
        right:0px;
        z-index: 999999999999999;
    }
    .cc-window.cc-floating{
        flex-direction: row!important;
    }
     div.cc-window .cc-btn:last-child{
        min-width: 98px;
        font-size: 16px;
        text-transform:  uppercase;
        font-weight:  300;
        letter-spacing: 1px;
        line-height: 23px;
    }
    div.cc-window .cc-btn:last-child:hover,div.cc-window .cc-btn:last-child:focus{
        background: #aa8550;
        border-color: #aa8550;
    }
    div.cc-window.cc-top{
        left: auto;
    }
    .learn.more.cookies{
        color:#efb778;
    }
    #___ratingbadge_0{
        z-index: 9999!important;
    }
/*End   Cookie ========================================================*/
/* Start Message Success ========================================================*/

.cms-index-index #maincontent{
    width:100%!important;
    display: block!important;
    max-width: 100%!important;
    padding:0px;
}
.cms-index-index  .message.error{
    margin-bottom: 0px;
}
.cms-index-index  .message{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    text-align:center;
}
.message.success{
    background: #ab8550;
    color: #fff;
    margin:0px;
    padding:8px 18px 8px 18px;
}
.message.success > *:first-child,.message.error > *:first-child{
    display: inline-block;
    width:auto;
    position: relative;
    color:#fff;
}
.message.error > *:first-child{
    color:#414042;
}
.message.success > *:first-child:before{
    content:'\2713'!important;
    left:auto;
    right:-40px;
    top:10px;
    color:#fff;
    font-size:16px;
}
.message.error > *:first-child:before{
    left:-40px;
    top:10px;
}
.cc-revoke{
    display: none!important;
}
/* End  Message Success ========================================================*/
@media only screen and (min-width: 768px) {
    .footer-upsell-social .icons .seperate {
        border-left: 1px solid #D2B28C;
    }
    
    .footer-upsell-social .icons .columns {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media only screen and (max-width: 1199px) and (min-width: 768px){
    
    .footer-upsell-social .icons .two {
        width: 158px;
    }
    
    .container .nine.columns {
        width: 637px;
    }
}

@media (max-width: 1199px){
    .footer-upsell-social #remove {
        display: none;
    }
    #header ul li{
        padding:30px 23px;
    }
    #header ul li.about-us{
        padding-left: 105px;
    }
    .main-upsell .left-upsell{
        width: 100%;
        margin-bottom: 10px;
    }
    .main-upsell .upsell-right-top{
        width: 364px;
        min-height:290px;
        margin-left: 0px;
        margin-right: 5px;
    }
    .main-upsell .upsell-right-bottom{
        width: 364px;
        background-size:cover; 
        margin-left: 5px;
    }
    .list-team-info .img-represent img{
        max-width:100%;
    }
    .about-company .introduce p{
        width:100%;
    }

}
@media (max-width: 1024px){
    .menu-header{
        position: fixed;
        height:100%;
        width: 0px;
        top:0px;
        left:0px;
        z-index: 100;
        background: #231f20;
        padding-top:120px;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        overflow-x: hidden;
    }
    .menu-header.open{
        width:250px;
    }
    #header ul li.lookbook,#header ul li.about-us{
        padding:0px;
    }
    #header ul li a{
        padding:15px;
        display: block;
        border-bottom: 1px solid #fff;
        text-align: left;

    }
    #header ul li{
        display: block;
        padding:0px;
    }
    #header .menu-toggle{
        display: block;
    }
    #header ul li a:hover{
        border-bottom: 1px solid #fff;
    }
    #header .wrap-sublist,#header ul li:hover .wrap-sublist{
        position: relative;
        background:none;
        height: auto;
        border-bottom: 1px solid #fff;
    }
    #header ul li .wrap-sublist .sublist-menu li{
        padding:0px 15px;
    }
    #header .wrap-sublist .container li a,#header .wrap-sublist .container li a span{
        border:none; 
        color:#fff;
    }
    #header .wrap-sublist .container li a img{
        display: none;   
    }
    #header .wrap-sublist .container{
        width:100%;
    }
}
@media (max-width: 767px){
    #header .logo-header .logo img{
        max-width: 145px;
    }
    header#header{
        height: 64px;
    }
  .footer-upsell-social .icons .seperate {
        border-top: 1px solid #D2B28C;
    }
    
    .footer-upsell-social .columns {
        padding: 15px 0px;
    }
    
    .footer-upsell-social .stacked {
        width: 150px;
        margin: 0 auto;
        display: block;
    }
    
    .footer-upsell-social .icons .two {
        width: 100%;
    }
    
    .container .nine.columns {
        width: 100%;
    }
    .footer-upsell-links .row{
        margin:0 auto;
        width:200px;
        
    }
    .footer-upsell-links .upsell-link{
        border-right:none;
        border-bottom: 1px solid #D2B28C;
    }
    .main-upsell .left-upsell{
        min-height: 290px;
        height:100%;
    }
    .main-upsell .upsell-right-top,.main-upsell .upsell-right-bottom{
        width:100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    .by-desire{
        padding:20px;
    }
    .footer-upsell-social,.footer-upsell-links{
        padding:20px;
    }
    #highlight{
        padding:40px 15px 30px;
    }
    .main-upsell .left-upsell .punctuate{
        padding:10px 20px;
    }
    .main-upsell .upsell-right-top .content{
        left: 50%;
        padding: 20px;
        text-align: center;
        width: 100%;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
    }
    .list-team-info .information{
        padding:25px 30px 15px 15px;
    }
    .list-team-info .left-inside{
        padding-left:15px;
    }
    div.cc-window.cc-theme-block{
        width:463px;
    }
}

@media screen and (max-width: 479px){
    .about-navigation ul li a,.about-navigation ul li{
        width: 100%;
    }
     .about-navigation ul li a{
        width: 100%;
        padding:15px;
    }
    .main-upsell .upsell-right-top .content p{
        margin:0px;
    }
    .main-upsell .upsell-right-top .content h2{
        margin:10px;
    }
     div.cc-window.cc-theme-block{
        width:100%;
        display: block;
    }
    .cc-window .cc-message{
        max-width:305px;
        display: block;
    }
    .cc-window .cc-compliance{
        display: block;
        padding-left: 80px;
        max-width:90px;
        margin-top:9px;
    }

}