@font-face {
    font-family: 'ArialNarrow';
    src: url('../fonts/arialnarrow/ArialNarrow.eot');
    src: url('../fonts/arialnarrow/ArialNarrow.eot?#iefix') format('embedded-opentype'), url('../fonts/arialnarrow/ArialNarrow.woff2') format('woff2'), url('../fonts/arialnarrow/ArialNarrow.woff') format('woff'), url('../fonts/arialnarrow/ArialNarrow.ttf') format('truetype'), url('../fonts/arialnarrow/ArialNarrow.svg#Open Sans') format('svg');
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'futura';
    src: url('../fonts/futura/futura_lt_bt_light-webfont.eot');
    src: url('../fonts/futura/futura_lt_bt_light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/futura/futura_lt_bt_light-webfont.woff2') format('woff2'), url('../fonts/futura/futura_lt_bt_light-webfont.woff') format('woff'), url('../fonts/futura/futura_lt_bt_light-webfont.ttf') format('truetype'), url('../fonts/futura/futura_lt_bt_light-webfont.svg#Light BT') format('svg');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'futura-book';
    src: url('../fonts/futura/FuturaBT-Book.eot');
    src: url('../fonts/futura/FuturaBT-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/futura/FuturaBT-Book.woff2') format('woff2'), url('../fonts/futura/FuturaBT-Book.woff') format('woff'), url('../fonts/futura/FuturaBT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'garamond-italic';
    src: url('../fonts/garamond-italic/Garamond-Italic.eot');
    src: url('../fonts/garamond-italic/garamond-italic.eot?#iefix') format('embedded-opentype'),url('../fonts/garamond-italic/garamond-italic.woff') format('woff'), url('../fonts/garamond-italic/garamond-italic.ttf') format('truetype'), url('../fonts/garamond-italic/garamond-italic.svg#Gara Mond') format('svg');
    font-weight: normal;
    font-style: normal
}