/*COMMON*/
body{
    background-color: #fff;
    font-family:'futura', 'Lato'!important;
    overflow-x: hidden;
}
h1,h2{
    letter-spacing: 0.1em;
}
.btn-default {
    background-color: #000000 !important;
}
/*HEADER*/
.cms-index-index .page-header.type21{
    background-color:#231f20;
}
.page-header.type21 .header.content{
    display: flex;
    max-width: 1370px;
    padding-top: 13px;
    padding-bottom: 13px;
}
.page-header.type21{
    background: #231f20!important;
}
.social-icons > li > a.facebook-link:hover,.social-icons > li > a.twitter-link:hover{
    background: none;
}
/*HEADER LOGO*/

.page-header.type21 .logo img{
    max-height: initial;
}
.sticky-logo .logo img{
    height: unset !important;
}
/*HEADER SEARCH*/
.menu_search{
    width: calc(100% - 210px);
}
.page-layout-1column-gallery .menu_search,.page-layout-1column-new-category .menu_search,.menu_search{
    padding-top:25px;
}
.menu_search .block-search{
    position: relative;
    width: calc(100% - 75px);
    height: 58px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 75px;
}
.page-layout-1column-gallery .menu_search .block-search,.page-layout-1column-new-category .menu_search .block-search{
    display: none;
}
.menu_search .block-search .input-text{
    position: unset;
    left: 0;
    height: auto;
    padding-top: 19px;
    padding-bottom: 18px;
    margin: 0;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    font-family: 'futura';
    font-size: 15px;
    color: #a3a5a8;
}
.block-search .action.search > span{
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.menu_search .block-search .input-text::placeholder{
    color: #a3a5a8;
}
#search_mini_form .actions .search {
    display: inline-block;
    height: 100%;
    padding: 0 30px;
    position: absolute;
    right: 2px;
    top: 0;
    z-index: 1;
    background: none;
    -moz-box-sizing: content-box;
    border: 0;
    box-shadow: none;
    margin: 0;
    text-decoration: none;
    text-shadow: none;
    font-weight: 400;
    line-height: 40px;
}
.menu_search .block-search .action.search::before{
    line-height: inherit;
    font-family: 'porto-icons';
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
    content: '\f818';
    font-size: 20px;
    color: #a3a5a8;
}
/*HEADER MENU*/
.page-header.type21 .ui-menu-item.level0 > .submenu{
    position: absolute;
}
.page-header.type21 .nav-sections{
    align-self: center;
    width: auto;
    margin-left: 75px;
    padding-top: 10px;
    background-color: #231f20 !important;
}
.nav-sections-item-title{
    display: none;
}
.menu_search .navigation > ul{
    padding-top: 0 !important;
}
.page-header.type21 .navigation > ul{
    text-align: left;
    padding-right: 0;
    padding-top: 0px;
}
.page-header.header-newskin .navigation .level0{
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
}
.page-header.type21 .navigation li.level0 > .level-top{
    font-family: "futura";
    font-size: 15px;
}
.page-header.header-newskin .navigation .level0:hover > .level-top{
    background-color: transparent !important;
}
.nav-toggle{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    line-height: initial;
}
.social-icons li{
    margin:0px;
}
.social-icons li a img{
    vertical-align: initial;
}
.page-header.type21 .header.content .nav-toggle i{
    display: block;
    width:25px;
    height:2px;
    background: #fff;
    margin-bottom:6px;
}
.page-header.type21 .header.content .nav-toggle:before{
    content:'';
}
.ui-menu-item .level0.submenu{
    display: none!important;
}
.page-header.header-newskin .navigation:not(.side-megamenu) li.level0.parent:hover a.level-top:before{
    content: ''!important;
    opacity: 0;
}
.page-header .navigation .level0.parent > a:after{
    content:''!important;
}


/*Banner Header*/
.content-banner{
    position: absolute;
    top:50%;
    right: 0px;
    transform: translateY(-50%);
    z-index: 8;
    color:#fff;
    width:100%;
    padding:0px 30px;
    text-align: left;

    
}
.content-banner .summary{
    width:450px;
    float: right;
    margin:0 auto;
}
.content-banner .summary a.view{
    border: 1px solid #fff;   
    color: #fff;
    padding:15px 30px;
    height:52px;
    display: inline-block;
    font-size:15px;
    opacity: 0.8;
    transition: all 0.3s ease-in-out 0s;
    letter-spacing: 1px;
}
.content-banner .summary a.view:hover{
    background: #ab8550;
}
.content-banner h1{
    font-size:44px;
    color:#fff;
    font-family: 'garamond-italic';
    margin-bottom: 40px;
    letter-spacing: 0px;
}
.content-banner p{
    font-size:15px;
    color:#fff;
    line-height: 1.7;
    margin-bottom: 50px;
}
.content-banner p:last-child{
    margin-bottom: 0px;
}
.scroll-down{
    -webkit-animation-name:showDropDown;
    animation-name:showDropDown;
    -moz-animation-name:showDropDown;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@keyframes showDropDown{
  0%,80% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-@keyframes showDropDown{
  0%,80% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.hdmx__contact-form .action.close{
    opacity: 1;
}
.hdmx__contact-form .action.close:before{
    color:#414042;
}
.hdmx__wrapper .phone-contact{
    position: absolute;
    top:54px;
    right:85px;
    color:#414042;
}
.hdmx__wrapper .phone-contact p,.hdmx__wrapper .phone-contact a{
    font-size:13px;
    color:#414042;
    text-decoration: none;
    font-family: 'futura-book';

}
/*End Banner Header*/

/*CUSTOM BLOCK*/
.menu_search .header.panel{
    right: 15px !important;
    top: 108px !important;
}
.page-layout-1column-gallery .menu_search .header.panel,.page-layout-1column-new-category .menu_search .header.panel,.menu_search .header.panel{
    top: 25px !important;
}
.page-header.type21 .header.panel{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}
.header.panel .social-icons{
    margin-bottom:0px;
}
.social-icons > li > a{
    width:24px;
    height:24px;
}
.description_product .description{
    font-size:18px;
}
@media (min-width: 768px) {
    .page-header.type21 .header.panel {
        padding: 0;
    }
}
.social-icons > li > a{
    background-color: transparent;
    margin-left:12px;
}
/*MAINCONTENT*/

.product-item-photo {
    border-radius: 0;
    border: 0;
}
#banner-slider-demo-4 .slide1-content .content-area .text1 {
    position: relative;
    font-family:'futura';
    font-size:18px;
    letter-spacing:-0.01em;
    text-transform:uppercase;
    color:#fff;
    line-height:1;
    font-weight:400;
}
.full-screen-slider{
    background-color: #f5f5f5;
}
.full-screen-slider .item-img{
    height:600px;
}
.full-screen-slider::after{
    content: '\f813';
    color: #FFFFFF;
    opacity: 0.5;
    font-size: 150px;
    line-height: 80px;
    position: absolute;
    width: 100%;
    top: 82%;
    text-align: center;
    left: unset;
    -moz-animation: none;
    -o-animation: none;
    -webkit-animation: none;
    animation: none;
}

#banner-slider-demo-4 .overlay-cover:before {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 4;
    background-color: rgba(0,0,0,0.7);
}
#banner-slider-demo-4 .slide1-content .content-area{
    margin-left: 15px;
    margin-right: 15px;
    position: sticky;
    top:35%;
    text-align: center;
}
#banner-slider-demo-4 .slide1-content .content-area .text2 {
    font-family:'futura';font-size:60px;text-transform:uppercase;color:#fff;line-height:1;margin-top:30px;letter-spacing: 0.1em; margin-bottom: 33px;
}
#banner-slider-demo-4 .slide1-content .content-area .text3 {
    font-weight:400;color:#fff;line-height:1;text-transform: uppercase;font-size: 20px;letter-spacing: 0.075em;margin-bottom:35px;
}
/* SEARCH */
#banner-slider-demo-4 .slide1-content .content-area .block-search{
    position: relative;
    max-width: 995px;
    width: 100%;
    height: 58px;
    margin: 0;
    margin-bottom: 24px;
}
#banner-slider-demo-4 .slide1-content .content-area .block-search .input-text{
    position: unset;
    left: 0;
    height: auto;
    padding-top: 19px;
    padding-bottom: 18px;
    margin: 0;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    font-family: 'futura';
    font-size: 15px;
}
.block-search .action.search > span{
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
#banner-slider-demo-4 .slide1-content .content-area .block-search .input-text::placeholder{
    color: #a3a5a8;
}
#search_mini_form .actions .search {
    display: inline-block;
    height: 100%;
    padding: 0 30px;
    position: absolute;
    right: 2px;
    top: 0;
    z-index: 1;
    background: none;
    -moz-box-sizing: content-box;
    border: 0;
    box-shadow: none;
    margin: 0;
    text-decoration: none;
    text-shadow: none;
    font-weight: 400;
    line-height: 40px;
}
#banner-slider-demo-4 .slide1-content .content-area .block-search .action.search::before{
    line-height: inherit;
    font-family: 'porto-icons';
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
    content: '\f818';
    font-size: 20px;
    color: #a3a5a8;
}
.page-layout-1column-gallery #maincontent{
    padding:0px;
}
/* BUTTON LIST */
#banner-slider-demo-4 .slide1-content .content-area .btn-default {
    text-transform:uppercase;padding:17px 23px 13px 23px;margin: 0 6px;border:1px solid #a3a5a8;border-radius:5px;font-family:'futura';font-size:16px;color:#fff;line-height: 12px; background-color: rgba(0,0,0,0.5); margin-bottom: 10px;
}
#banner-slider-demo-4 .slide2-content .content-area .text1 {
    font-family:'futura';font-size:80px;font-weight:700;text-transform:uppercase;color:#fff;line-height:1;margin-bottom:25px;
}
#banner-slider-demo-4 .slide2-content .content-area .text2 {
    font-family:'Poppins';font-weight:600;color:#fff;line-height:1;text-transform: uppercase;font-size: 64px;letter-spacing: -0.01em;text-shadow: 5px 3px #92a9b3;margin: 0 0 25px;
}
#banner-slider-demo-4 .slide2-content .content-area .text3 {
    font-family:'futura';font-size:18px;font-weight:400;letter-spacing:-0.01em;color:#fff;margin:0;text-transform:uppercase;margin: 0 0 35px;
}
#banner-slider-demo-4 .slide2-content .content-area .btn-default {
    text-transform:uppercase;padding:14px 20px;border-radius:2px;font-family:'futura';letter-spacing:0.05em;font-size:14px;width:auto;height:auto;line-height:1;color:#fff;
}
/* GALLERY ROW*/
.gallery-row .col-md-3, .gallery-row .col-sm-6, .gallery-row .col-xs-6{
    padding-right: 5px;
    padding-left: 5px;
}
.page-wrapper .gallery-row{
    margin-top: 10px;
    margin-bottom: 10px;
}
/* RECOMMEND PRODUCTS*/
.product-list{
    display: flex;
}
.recommend-products .title{
    margin-bottom: 50px;
    font-family: 'futura';
    font-size: 36px;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.owl-carousel .owl-item{

}
.recommend-products .product-list .recommend-product{
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: #FFFFFF;
}
.recommend-products .product-list .recommend-product .image-link{
    padding: 12px;
}
.recommend-products .product-list .recommend-product .image-link:before{
    content: none;
}
.recommend-products .product-list .recommend-product .product-info{
    padding-bottom: 20px;
    text-align: center;
}
.recommend-products .product-list .recommend-product .product-info .product-name{
    font-family: 'futura';
    font-size: 18px;
    text-transform: uppercase;
    color: black;
    letter-spacing: 0.1em;
    line-height: 18px;
}
.recommend-products .product-list .recommend-product .product-info .product-name a:hover{
    text-decoration: none;
}
.recommend-products .product-list .recommend-product .product-info a:hover{
    color: #FFFFFF;
}
.recommend-products .product-list .recommend-product .product-info .product-name a{
    color: #000000;
}
.recommend-products .product-list .recommend-product .product-info .product-category{
    font-family: 'futura';
    font-size: 12px;
    color: #a3a5a8;
    letter-spacing: 0.1em;
    line-height: 12px;
}
.recommend-products .product-list .recommend-product .product-info .btn{
    width: 95px;
    margin-top: 16px;
    border-radius: 4px;
    font-family: 'futura';
    font-size: 15px;
    text-transform: uppercase;
}
/* SUBCRIBE BANNER*/
.subcribe-banner{
    height: 525px;
    background: #070707 url("../images/statue.gif") no-repeat;
}
.subcribe-banner .overlay-cover{
    width: 100%;
    height: 100%;
    background-color: rgba(7,7,7,0.59);
}
.subcribe-banner .block.newsletter {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.subcribe-banner .block.newsletter .content{
    width: 100%;
}
.subcribe-banner .block.newsletter .content .title{
    margin: 0;
    font-family: 'futura';
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.block.newsletter .title{
    display: block;
}
.subcribe-banner .block.newsletter .content .sub-title{
    margin-bottom: 20px;
    font-family: 'futura';
    font-size: 18px;
    color: #edeeee;
}
.block.newsletter .field{
    display: table-cell;
    width: 64%;
}
.block.newsletter input{
    height: 59px;
    border-radius: 5px 0 0 5px;
    border: 2px solid #a3a5a8;
    background-color: transparent;
    width: 100%;
}
.block.newsletter input::placeholder{
    font-family: 'futura';
    font-size: 15px;
    color: white;
}
.block.newsletter .field .control::before{
    content: none;
}
.block.newsletter .actions{
    width: 36%;
}
.block.newsletter .action.subscribe{
    width: 100%;
    height: 59px;
    border: 2px solid #a3a5a8;
    border-left: 1px solid #a3a5a8;
    border-radius: 0 5px 5px 0;
    background-color: #58595b;
    text-align: left;
    padding-left: 45px;
    font-family: 'futura';
    font-size: 16px;
    color: #a3a5a8;
}
.block.newsletter input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a3a5a8;
}
.block.newsletter input::-moz-placeholder { /* Firefox 19+ */
  color: #a3a5a8;
}
.block.newsletter input:-ms-input-placeholder { /* IE 10+ */
  color: #a3a5a8;
}
.block.newsletter input:-moz-placeholder { /* Firefox 18- */
  color: #a3a5a8;
}
/*PROJECT ROW*/
.project-row{
    padding-top: 80px;
    padding-bottom: 18px;
}
.project-row .title{
    padding-left: 110px;
    margin-bottom: 70px;
    font-family: 'futura';
    font-size: 36px;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.project-row .col-sm-3, .project-row .col-xs-6{
    padding-left: 5px;
    padding-right: 5px;
}
/*FOOTER*/
.page-footer .footer{
    background: #353535;
    padding: 60px 0 50px;
    clear: both;
    position: relative;
    color: white;
    font-size: 14px;
    font-family: 'Lato';
}
.page-footer .footer-middle {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    background: none;
}
.page-footer .footer-bottom{
    background: none;
    text-align: center;
}
.page-footer .footer-middle,.page-footer .footer-middle p,.page-footer .footer-middle li a{
    color: #d3d3d3;
}
.page-footer .footer-middle li a{
    text-decoration: none;
}
.page-footer .footer-middle li:hover a{
    color:#fff;
}
.page-footer .footer-middle .about{
    padding-left:40px;
}
.page-footer .footer-middle .contact{
    padding-left:68px;
}
.page-footer .footer-bottom .container:before{
    background: none!important;
    height: 0px;
}

footer li {
    line-height: 1.9em;
}

footer a:visited,
footer a {
    color: #d3d3d3;
    font-size: 14px;
    line-height: 1.3em;
    font-weight: 300;
}

footer a:hover,
footer a:active {
    color: #ffffff;
}

footer h3 {
    text-transform:uppercase;
    letter-spacing: 2px;
    float: none;
    color: #ab8550;
    font-size: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    margin-bottom: 20px;
}

footer h3#connect {
    position: absolute;
    width: auto;
    margin-top: 30px;
    font-size: 20px;
}

footer #address {
    margin-bottom: 20px;
    display: block;
    color: #d3d3d3;
    font-size: 15px;
    line-height: 1.7em;
    font-weight: 300;
}
footer #address p{
    font-size:15px;
    font-weight: 300;
}
footer .footer-social {
    margin-top: 30px;
    font-size: 25px;
}

footer .footer-social i {
    padding: 0 7px;
    margin-top: 7px;
    color: #d3d3d3;
    font-size: 25px !important;
    -webkit-transition: color 0.25s; / Safari /
    transition: color 0.25s;   
    -moz-transition: color 0.25s; 
    -o-transition: color 0.25s;
}

footer .footer-social i:hover {
    color: #ab8550;
    cursor: pointer;
    -webkit-transition: color 0.25s; / Safari /
    transition: color 0.25s;   
    -moz-transition: color 0.25s; 
    -o-transition: color 0.25s;
} 
footer .footer-seal {
    margin-top: 50px;
    position: relative;
}
footer .footer-seal img{
    width:210px;
}
footer .footer-seal p {
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #aeaeae;
    font-size: 16px;
    margin-top: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

/*New page category*/

.page-layout-1column-new-category .products-grid .over-infor-product,.page-layout-1column-collections .products-grid .over-infor-product{
    opacity: 0.5;
    background: #58595b;
}
.page-layout-1column-new-category li.product-item:hover .over-infor-product,.page-layout-1column-collections li.product-item:hover .over-infor-product{
    background: none;
}
.page-layout-1column-new-category .products-grid .product-item,.page-layout-1column-collections .products-grid .product-item{
    width:33.3333%;
}

.page-layout-1column-new-category div.products-grid:not(.side-list):not(.products-related) .product-item:hover .product-item-photo,.page-layout-1column-collections div.products-grid:not(.side-list):not(.products-related) .product-item:hover .product-item-photo{
    box-shadow:initial;
}
.scroll-down{
    position: absolute;
    left:50%!important;
    top: 82%;
    margin-left:-49px;
    text-align: center;
    left: unset;
    z-index:8;
}
.full-screen-slider::after{
    content:''!important;
}
.page-layout-1column-new-category .columns .column.main,.page-layout-1column-new-category .columns{
    padding-bottom: 0px;
    margin: 0px;
}
.page-layout-1column-new-category .banner-category{
    position: relative;
}
.page-layout-1column-new-category .banner-category .category-image .image{
    height: 100vh;
}
.page-layout-1column-new-category .products-grid .product-item,.page-layout-1column-collections .products-grid .product-item{
    padding:10px;
}
.snize-sticky-searchbox.bottom-right{
    display: none;
}
.page-layout-1column-new-category .page-header.type21{
     position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9;
    border: 0;
}

/*Page Meetting Team*/
.wrap-place-meeting .place-meeting{
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    padding-bottom: 12px;
    margin-left:-6px;
    margin-right: -6px;
}
.wrap-place-meeting .place-meeting .items{
    width: 25%;
    padding:0px 6px 0px 6px;
}
.banner-team{
    position: relative;
}
.banner-team .category-image{
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0px;
}
.banner-team .wrap-list-team{
    text-align: center;

}
.banner-team .wrap-list-team .wrap-team{
    width: 88%;
    margin: 0 auto;
}
.banner-team .wrap-list-team .list-team{
    display: inline-block;
    padding-bottom: 40px;
    position: relative;
    height:274px;
}
.banner-team .wrap-list-team .list-team.active:after{
    content:'';
    position: absolute;
    bottom:-6px;
    left: 50%;
    margin-left:-26px;
    display: inline-block;
    background: url('/media/wysiwyg/Categories/metting_team/bottom-icon.png');
    width: 52px;
    height: 32px;

}
.banner-team .wrap-list-team .list-team .people{
    padding:20px 10px;
}
.banner-team .wrap-list-team .list-team .people img{
    max-width: 129px;

}
.banner-team .wrap-list-team .list-team .people a{
    display: inline-block;
    position: relative;
}
.banner-team .wrap-list-team .list-team .people a:before{
    content:'';
    width:100%;
    display: inline-block;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background: #fff;
    opacity: 0.5;
    z-index: 10;
}
.banner-team .wrap-list-team .list-team .people  a.active:before{
    opacity: 0;
}
.banner-team .wrap-list-team .list-team .info p{
    font-size: 18px;
}
.banner-team .wrap-list-team h1{
    font-size: 60px;
    color: #fff;
    text-align: center;
    padding: 90px 15px 60px 15px;
    margin: 0px;
    letter-spacing: 0.1em;
    font-family: "futura";
}
.wrap-info-people{
    padding:104px 0px;
}
.wrap-info-people .tabcontent{
    display: none;
}

.wrap-info-people .tabcontent.active{
    display: block;
    -webkit-animation-name:slideInRight;
    animation-name:slideInRight;
    animation-duration: 1s;
}
.wrap-info-people .information{
    padding-left: 40px;
    color:#58595b;
}
.wrap-info-people .information h4{
    font-size: 36px;
    color:#58595b;
    margin:0px;
    letter-spacing: 0.1em;
}

.wrap-info-people .information h5{
    font-size: 18px;
    color:#58595b;
    margin-bottom: 20px;
}
.wrap-info-people .information p{
    font-size: 15px;
    color:#000;
    line-height: 35px;
}

@keyframes slideInRight{
    0%{
        opacity:0;
        -webkit-transform:translateX(2000px);
        transform:translateX(2000px);
        -moz-transform:translateX(2000px);
    }
    100%{
        -webkit-transform:translateX(0px);
        transform:translateX(0px);
        -moz-transform:translateX(0px);
    }
    
}
.page-layout-layout-metting-team .page-main{
    padding: 0px!important;
}
.page-layout-layout-metting-team header.page-header{
    margin: 0px!important;
}

.banner-team .wrap-list-team .wrap-team .owl-nav .owl-prev,.banner-team .wrap-list-team .wrap-team .owl-nav .owl-next{
    position: absolute;
    top: 32%;
    transform: translateY(-50%);
    font-size:0px;
    width:30px;
    height:43px;
    cursor: pointer;
}
.banner-team .wrap-list-team .wrap-team .owl-nav .owl-prev{
    left: -30px;
    background: url('/media/wysiwyg/Categories/metting_team/prev-icon-des.png') no-repeat;
}

.banner-team .wrap-list-team .wrap-team .owl-nav .owl-next{
    right: -30px;
     background: url('/media/wysiwyg/Categories/metting_team/next-icon-des.png') no-repeat;
}
.wrap-sku-option{
    color:#242021;
    text-align: center;
}
.wrap-sku-option .list-option li{
    display: inline-block;
    font-size:24px;
}
.wrap-sku-option .list-option li span{
    display: none;
}
.wrap-sku-option .list-option li i{
    font-style:normal;
    display: inline-block;
    color: #999;
    min-width:28px;
}
.wrap-sku-option .list-option{
    padding-left: 0px;
}  
.product-options-wrapper .swatch-opt{
    margin:20px 0 40px 0px;
}     
.products-grid .over-infor-product>a div.infor h4{
    font-size:36px;
    letter-spacing: 0.1em;
}
.products-grid .over-infor-product>a div.infor p{
    font-size:15px;
}
/*Start Product Page*/
    .catalog-product-view #maincontent .page-title span{
        font-size:36px;
        letter-spacing: 0.1em;
    }
    .product-info-main .product.sku .type,.product-info-main .product.sku .value,.make-contact .title-request h3, .download .title-request h3{
        font-size:15px;
    }
    .bundle-actions{
        display: none;
    }
/*End Product Page*/
/*RESPONSIVE*/
@media(min-width:1200px){
    /*RECOMMEND PRODUCT*/
    .recommend-products{
        padding: 65px 100px;
    }
    .recommend-products .title, .project-row .title{
        font-size: 36px;
    }

    /*SUBCRIBE BANNER*/
    .subcribe-banner{
        background-position: 65px 0 !important;
    }
    .subcribe-banner .block.newsletter{
        left: 46%;
    }
    .page-layout-1column-new-category.catalog-category-view .page-main{
        padding:0px;
    }

}

@media(max-width:1200px){
    /*RECOMMEND PRODUCT*/
    .recommend-products{
        padding: 65px 80px;
    }
    .recommend-products .title, .project-row .title{
        font-size: 30px;
    }
    /*SUBCRIBE BANNER*/
    .subcribe-banner{
        background-position: -180px 0 !important;
    }
    .subcribe-banner .block.newsletter{
        width: 50%;
        left: 40%;
    }
    /*FOOTER*/
    footer.page-footer .footer-middle{
        padding-left: 15px;
        padding-right:15px;
    }
    .page-footer .footer-middle .contact,.page-footer .footer-middle .about{
        padding-left: 84px;
    }
    .page-footer .footer-middle .colection,.page-footer .footer-middle .help-info{
        padding-left:40px;
    }
    .page-footer .footer-middle .contact-us{
        position: static;
    }
    footer .footer-social{
        position: absolute;
        left: 55px;
    }
    footer .footer-seal{
        margin-top: 180px;
    }
    .page-footer .clearfix{
        clear:both;
    }
    /*End Footer*/
    .wrapper-gallery .items-gallery{
        width: 25%;
    }
    .wrapper-gallery{
        padding:30px 20px;
    }
    .wrap-info-people{
        padding: 64px 0px
    }
    #maincontent{
        max-width:100%;
        padding-left:0px;
        padding-right:0px;
        margin:0px auto;
    }
    .page-layout-1column-new-category .page-main{
        padding:0px;
    }
    .page-header.header-newskin .navigation .level0{
        margin-left:0px;
        margin-right:0px;
    }
}
@media(max-width:1100px) and (orientation: landscape){
    .full-screen-slider::after{
        content: none;
    }
}
@media(max-width:1024px){
    .page-header.header-newskin .navigation .level0{
        margin-left: 7px;
        margin-right: 7px;
    }
    .page-header.type21 .header.panel{
        right:105px!important;
    }
    .page-header.type21 .header.content .nav-toggle{
        display: block!important;
    }
    .page-header.type21 div.nav-sections{
         margin-left: 0;
        width: 250px;
    }
    .navigation .parent .level-top {
        position: relative;
        display: block;
        text-decoration: none;
        color: #777
    }

    .navigation .parent .level-top:after {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 42px;
        line-height: inherit;
        color: inherit;
        content: '\f807';
        font-family: 'porto-icons';
        vertical-align: middle;
        display: inline-block;
        font-weight: normal;
        overflow: hidden;
        speak: none;
        text-align: center
    }
    .page-header.header-newskin .navigation .level0{
        display: block;
        border-radius: 0px!important;
        border-top: 1px solid #ddd;
    }
    .page-header.header-newskin .navigation .level0:first-child{
        border-top:0px;
    }
    .page-header .navigation .level0 > .level-top{
        display: block!important;
        
    }
    .navigation .parent .level-top:after {
        position: absolute;
        right: 7px;
        top: -8px
    }

    .navigation .parent .level-top.ui-state-active:after {
        content: '\f804'
    }

    .nav-sections {
        -webkit-transition: left .3s;
        -moz-transition: left .3s;
        -ms-transition: left .3s;
        transition: left .3s;
        height: 100%;
        left: -80%;
        left: calc(-1 * (100% - 54px));
        overflow: auto;
        position: fixed!important;
        top: 0;
        width: 80%;
        width: calc(100% - 54px);
        background-color: #f6f6f6
    }

    .nav-sections .switcher {
        border-bottom: 1px solid #ddd;
        font-size: 1.4rem;
        font-weight: 400;
        margin: 0;
        padding: 12px 20px;
        height: auto;
        color: #777
    }

    .nav-sections .switcher strong {
        font-size: 13px
    }

    .nav-sections .switcher .label {
        display: block;
        margin-bottom: 4.5px
    }

    .nav-sections .switcher-trigger strong {
        display: inline-block !important;
        position: relative
    }

    .nav-sections .switcher-dropdown {
        margin: 0;
        padding: 0;
        list-style: none none;
        padding: 9px 0
    }

    .nav-sections .header.links {
        margin: 0;
        padding: 0;
        list-style: none none;
        color: #777
    }

    .nav-sections .header.links li {
        border-bottom: 1px solid #ddd;
        font-size: 1.3rem;
        margin: 0
    }

    .nav-sections .header.links li.greet.welcome {
        font-weight: 400;
        padding: 12px 20px
    }

    .nav-sections .header.links a,.nav-sections .header.links a:hover {
        color: #777;
        text-decoration: none;
        display: block;
        font-weight: 400;
        padding: 12px 20px
    }

    .nav-sections .header.links a:hover {
        color: #08c !important
    }

    .nav-before-open {
        height: 100%;
        width: 100%
    }

    .nav-before-open .page-wrapper {
        -webkit-transition: left .3s;
        -moz-transition: left .3s;
        -ms-transition: left .3s;
        transition: left .3s;
        height: 100%;
        left: 0;
        overflow: hidden;
        position: relative
    }

    .nav-before-open body {
        height: 100%;
        overflow: hidden;
        position: relative;
        width: 100%
    }

    .nav-open .page-wrapper {
        left: 0px;
        overflow: visible
    }

    .nav-open .nav-sections {
        -webkit-box-shadow: 0 0 5px 0 rgba(50,50,50,0.75);
        -moz-box-shadow: 0 0 5px 0 rgba(50,50,50,0.75);
        -ms-box-shadow: 0 0 5px 0 rgba(50,50,50,0.75);
        box-shadow: 0 0 5px 0 rgba(50,50,50,0.75);
        left: 0;
        z-index: 99!important;
    }

    .nav-open .nav-toggle:after {
        background: rgba(0,0,0,0.01);
        content: '';
        display: block;
        height: 100%;
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 1
    }
    .page-header.type21 .nav-sections{

    }

    header.page-header .nav-sections-items {
        position: relative;
        z-index: 1
    }

    header.page-header .nav-sections-items:before,header.page-header .nav-sections-items:after {
        content: '';
        display: table
    }

    header.page-header .nav-sections-items:after {
        clear: both
    }

    header.page-header .nav-sections-item-title {
        background: #08c;
        border: solid rgba(255,255,255,0.3);
        border-width: 0 0 1px 1px;
        box-sizing: border-box;
        float: left;
        height: 71px;
        padding-top: 24px;
        text-align: center;
        width: 33.33%
    }

    header.page-header .nav-sections-item-title.active {
        background: transparent;
        border-bottom: 0
    }

    header.page-header .nav-sections-item-title.active>a,header.page-header .nav-sections-item-title.active>a:hover,header.page-header .nav-sections-item-title.active>a:focus {
        color: #08c
    }

    header.page-header .nav-sections-item-title>a,header.page-header .nav-sections-item-title>a:hover,header.page-header .nav-sections-item-title>a:focus {
        color: #fff
    }

    header.page-header .nav-sections-item-content {
        box-sizing: border-box;
        float: right;
        margin-left: -100%;
        margin-top: 71px;
        width: 100%
    }

    header.page-header .nav-sections-item-content:before,header.page-header .nav-sections-item-content:after {
        content: '';
        display: table
    }

    header.page-header .nav-sections-item-content:after {
        clear: both
    }

    header.page-header .nav-sections-item-content.active {
        display: block
    }

    .navigation {
        background: transparent;
        box-sizing: border-box
    }

    .navigation ul {
        margin: 0;
        padding: 0
    }

    .navigation li {
        margin: 0
    }

    .navigation a {
        display: block;
        padding-top: 9px;
        padding-right: 0;
        padding-bottom: 9px;
        padding-left: 15px
    }

    .navigation a,.navigation a:hover {
        color: #777;
        text-decoration: none
    }

    .navigation .level0 {
        border-top: 1px solid #ddd;
        font-size: 1.3rem
    }

    .navigation .level0>.level-top {
        font-weight: 400;
        padding: 8px 36px 8px 15px;
        text-transform: uppercase;
        word-wrap: break-word
    }

    .navigation .level0.active .all-category .ui-state-focus {
        border-color: #ff5501;
        border-style: solid;
        border-width: 0 0 0 8px;
        padding-left: 7px;
        display: inline-block
    }

    .navigation .level0>.level1 {
        font-weight: 600
    }

    .navigation .level0.active>a:not(.ui-state-active),.navigation .level0.has-active>a:not(.ui-state-active) {
        border-color: #ff5501;
        border-style: solid;
        border-width: 0 0 0 8px
    }

    .navigation .level0.active>a:not(.ui-state-active) span:not(.ui-menu-icon),.navigation .level0.has-active>a:not(.ui-state-active) span:not(.ui-menu-icon) {
        margin-left: -8px
    }

    .navigation li.level0:last-child {
        border-bottom: 1px solid #ddd
    }

    .navigation .submenu>li {
        word-wrap: break-word
    }

    .navigation .submenu:not(:first-child) {
        font-weight: 400;
        line-height: 1.3;
        left: auto !important;
        overflow-x: hidden;
        padding: 0;
        position: relative;
        top: auto !important;
        transition: left .3s ease-out
    }

    .navigation .submenu:not(:first-child)>li>a {
        padding-left: 15px
    }

    .navigation .submenu:not(:first-child)>li:last-child {
        margin-bottom: 0
    }

    .navigation .submenu:not(:first-child) ul {
        display: block;
        padding-left: 15px
    }

    .navigation .submenu:not(:first-child) ul>li {
        margin: 0
    }

    .navigation .submenu:not(:first-child) ul>li a {
        color: #777;
        display: block;
        line-height: normal
    }

    .navigation .submenu:not(:first-child).expanded {
        display: block !important;
        padding-right: 0;
        top: 0 !important
    }

    .navigation .submenu:not(:first-child) .active>a {
        border-color: #ff5501;
        border-style: solid;
        border-width: 0 0 0 8px;
        padding-left: 7px
    }

    .navigation .submenu:not(:first-child) .level1.active>a {
        padding-left: 7px
    }

    .navigation a {
        padding-top: 10px;
        padding-bottom: 10px
    }

    .navigation a:hover {
        color: #08c !important
    }

    .navigation li.level0 {
        line-height: 16px
    }

    .navigation li.level0:first-child {
        border-top: 0
    }

    .navigation li.level0>a.level-top {
        padding: 13px 36px 13px 15px
    }

    .navigation li.level0>a.ui-state-active {
        color: #000;
        font-weight: 600
    }

    .navigation li.level0>a.ui-state-active,.navigation li.level0>a.ui-state-active+.submenu {
        background-color: #eee
    }

    .navigation li.level0.active .all-category .ui-state-focus,.navigation li.level0.active>a:not(.ui-state-active),.navigation li.level0.has-active>a:not(.ui-state-active),.navigation li.level0.active>a:not(.ui-state-active) span:not(.ui-menu-icon),.navigation li.level0.has-active>a:not(.ui-state-active) span:not(.ui-menu-icon) {
        border-left: 0;
        margin-left: 0
    }

    .navigation li.level0>.ui-menu-item>a {
        font-weight: 400
    }

    .navigation li.level0 .ui-menu-item>a:before {
        content: '\f801';
        display: inline;
        font-family: 'porto-icons';
        margin-right: 10px;
        font-size: 16px;
        vertical-align: top;
        color: #aaa
    }

    .navigation li.level0 ul.level0>.level1 {
        font-weight: 400
    }

    .navigation ul.submenu,.navigation ul.submenu:not(:first-child) {
        padding-left: 15px
    }

    .navigation ul.submenu .active>a,.navigation ul.submenu:not(:first-child) .active>a,.navigation ul.submenu .level1.active>a,.navigation ul.submenu:not(:first-child) .level1.active>a {
        padding-left: 15px;
        border: 0;
        font-weight: 600
    }

    .navigation ul.submenu>li {
        line-height: 16px
    }
    
    .content-banner h2{
        font-size: 52px;
        margin-bottom: 40px
    }
    .content-banner p{
        font-size:17px;
        margin-bottom: 40px
    }
    .catalog-product-view #maincontent .page-title span,.subcribe-banner .block.newsletter .content .title,.hdmx__contact-form .fieldset .legend,.products-grid .over-infor-product>a div.infor h4{
        font-size: 34px;
    }
    .description_product .description,.why-register p b,.login-container .block-content .detail,section.achievement p.signature,.banner-content-bottom .warehouse p,.wrap-info-people .information h5,.banner-team .wrap-list-team .list-team .info p,.subcribe-banner .block.newsletter .content .sub-title,.footer-middle .block .block-title,.block.newsletter .action.subscribe span{
        font-size: 17px;
    }
    .products-grid .over-infor-product>a div.infor p,section.achievement p.signature,.wrap-info-people .information p,.footer-middle .block .block-content.about-fide p,.footer-middle .contact-info b,.footer-middle ul.contact-info p,.block.newsletter input::placeholder,{
        font-size: 14px !important;
    }
    .make-contact .content ul li, .download .content ul li,.make-contact .title-request h3, .download .title-request h3,.product-info-main .product.sku .type, .product-info-main .product.sku .value, .make-contact .title-request h3, .download .title-request h3,.why-register p,div.login-container .actions-toolbar >.primary .action.create span,div.login-container .actions-toolbar > .secondary .remind span,div.login-container .actions-toolbar .action.login span{
        font-size: 14px;
    }
    div.login-container .fieldset > .field > .control .input-text::-webkit-input-placeholder{
      font-size: 14px; 
    }
    div.login-container .fieldset > .field > .control .input-text::-moz-placeholder{
        font-size: 14px; 
    }
    div.login-container .fieldset > .field > .control .input-text:-ms-input-placeholder{
        font-size: 14px;
    }
    .product-info-main .box-tocart .wrap-project #product-addtoproject-button span, .product-info-main .box-tocart .wrap-quote #product-addtoquote-button span,.table-wrapper.additional-attributes-wrapper table.additional-attributes tr th, .additional-attributes-wrapper table.additional-attributes tr td{
        font-size:14px;
    }
    .table-wrapper.additional-attributes-wrapper h5,.detail-description h2.title-des,.recommend-products .title, .project-row .title,.wrap-info-people .information h4,.banner-content-bottom .warehouse h3,div.login-container .block .block-title strong{
        font-size: 34px;
    }
   .banner-team .wrap-list-team h1{
        font-size:52px;
   }
   .product-info-main .product.sku .type, .product-info-main .product.sku .value, .make-contact .title-request h3, .download .title-request h3{
        height:56px;
        line-height: 56px;
   }
}
@media(max-width:991px){

    .project-row .image-link img,.gallery-row .image-link img{
            margin-bottom: 10px;
    }
    .wrapper-gallery .items-gallery{
        width: 33.3333%;
    }
    .page-wrapper .gallery-row{
        margin-bottom: 0px;
    }
    .wrap-info-people .information{
        padding-left: 0px;
    }
}
@media(max-width:970px){
    /*BANNER*/
    .full-screen-slider::after{
        display: none;
    }
}
@media(max-width:767px){
    .top-panel .social-icons{
        display: flex;
    }
    .header.panel .social-icons li{
        display: none
    }
    .top-panel .social-icons li:first-child{
        order:3;
        margin-left:10px;
        display: inline-block;
    }
    .page-header.type21 .header.panel{
        right:47px!important;
    }
    .page-header.type21 .header.content{
        padding-top:11px;
        padding-bottom: 11px;
    }
    .content-banner h2,.content-banner h1{
        font-size:40px;
    }
    .content-banner p{
        font-size: 16px;
    }
    .page-header.type21 .logo img{
        width:145px;
    }
    #fixed-header-padding{
        height: 64px;
    }
    /*MENU*/
    .page-header.type21 .nav-sections{
        margin-left: 0;
        width: 250px;
    }
    .nav-open .page-wrapper{
        left: 0;
    }
    .sticky-logo{
        display: none;
    }
    .navigation > ul > li > a:hover{
        color: rgb(119, 119, 119) !important;
    }
    /*BANNER*/
    #banner-slider-demo-4 .slide1-content .content-area .text1 {
        font-size:10px;
    }
    #banner-slider-demo-4 .slide1-content .content-area .text1 .inner1 {
        font-size: 35px;
    }
    #banner-slider-demo-4 .slide1-content .content-area .text1 .inner2 {
        top: 18px;
        font-size: 13px;
    }
    #banner-slider-demo-4 .slide1-content .content-area .text1 .inner3 {
        font-size: 10px;
    }
    #banner-slider-demo-4 .slide1-content .content-area .text3 {
        font-size: 10px;
        margin-bottom: 15px;
    }
    #banner-slider-demo-4 .slide2-content .content-area .text1 {
        font-size: 40px;
        margin-bottom: 10px;
    }
    #banner-slider-demo-4 .slide2-content .content-area .text2 {
        font-size: 33px;
        margin: 0 0 7px;
    }
    #banner-slider-demo-4 .slide2-content .content-area .text3 {
        font-size: 10px;
        margin: 0 0 13px;
    }
    #banner-slider-demo-4 .slide2-content .content-area .btn-default {
        padding: 8px 10px;
        font-size: 11px;
    }
    #banner-slider-demo-4 .owl-controls {
        display:none!important;
    }
    /*RECOMMEND PRODUCT*/
    .recommend-products{
        padding: 65px 50px;
    }
    .recommend-products .title, .project-row .title{
        font-size: 30px;
    }
    /*SUBCRIBE BANNER*/
    .subcribe-banner{
        background-position: -250px 0 !important;
    }
    .footer-middle .col-sm-2, .footer-middle .col-sm-4{
        width: 100%;
    }
    .header .navigation a{
        color:#fff!important;
    }
    .wrapper-gallery .items-gallery{
        width: 50%;
    }
    .page-layout-1column-gallery .page-header{
        margin-bottom: 0px;
    }
    .project-row .title{
        padding-left: 0px;
        text-align: center;
    }
    .wrap-place-meeting .place-meeting .items{
        width:50%;
    }
    .wrap-place-meeting .place-meeting{
        margin:0px;
        padding:0px;
    }
    .wrap-place-meeting .place-meeting .items:nth-of-type(2n+1){
        padding:0px 6px 12px 0px;
    }
    .wrap-place-meeting .place-meeting .items:nth-of-type(2n){
        padding:0px 0px 12px 6px;
    }
    .banner-team .wrap-list-team h1{
        
        display: none;

    }
    .banner-team .wrap-list-team .wrap-team{
        padding-top: 40px;
    }
    .wrap-info-people .tabcontent.active .img-represent{
            text-align: center;
    }
    .wrap-info-people .information{
        padding:15px;
        text-align: center;
    }
    .banner-team .wrap-list-team .list-team .people img{
        max-width: 300px;
    }
    .wrap-info-people .tabcontent.active .img-represent{
        display: none;
    }
    .wrap-info-people{
        padding:10px 0px;
    }
    
    .banner-team .wrap-list-team .list-team .info{
        display: none;
    }
    .banner-team .wrap-list-team .wrap-team{
        width: 100%;
    }
    .banner-team .wrap-list-team .wrap-team .owl-nav{
        display: block;
    }
    .wrap-info-people .information .content{
        width: 90%;
        margin: 0 auto;
        text-align: left;
    }
    
    .banner-team .wrap-list-team .list-team .people a:before{
        opacity: 0;
    }
    .banner-team .wrap-list-team .list-team.active:after{
        background: none;
    }
    .banner-team .wrap-list-team .wrap-team .owl-nav .owl-prev,.banner-team .wrap-list-team .wrap-team .owl-nav .owl-next{
        width:86px;
        height:122px;
        top: 50%;
    }
    .banner-team .wrap-list-team .wrap-team .owl-nav .owl-prev{
        left: 0px;
        background: url('/media/wysiwyg/Categories/metting_team/prev-icon.png') no-repeat;
    }

    .banner-team .wrap-list-team .wrap-team .owl-nav .owl-next{
        right: 0px;
         background: url('/media/wysiwyg/Categories/metting_team/next-icon.png') no-repeat;
    }
    .banner-team .wrap-list-team .list-team{
        height:auto;
        max-width:300px;
    }
   .hdmx__wrapper .phone-contact{
        right:35px;
    }
   .catalog-product-view .detail-description h2.title-des,.table-wrapper.additional-attributes-wrapper h5,.catalog-product-view #maincontent .page-title span,div.login-container .block .block-title strong,.products-grid .over-infor-product>a div.infor h4,.subcribe-banner .block.newsletter .content .title,.hdmx__contact-form .fieldset .legend,.wrap-info-people .information h4,.banner-content-bottom .warehouse h3{
        font-size: 30px;
    }
   .description_product .description,.why-register p b,.login-container .block-content .detail,.banner-content-bottom .warehouse p,section.achievement p, section.advantages p,.subcribe-banner .block.newsletter .content .sub-title,.footer-middle .block .block-title,.block.newsletter .action.subscribe span,.wrap-info-people .information h5{
        font-size: 16px;
    }
    .block.newsletter input::placeholder,.products-grid .over-infor-product>a div.infor p,.wrap-info-people .information p,.footer-middle .block .block-content.about-fide p,.footer-middle .contact-info b,.footer-middle ul.contact-info p,.block.newsletter input::placeholder{
        font-size: 13px !important;
    }
    .make-contact .content ul li, .download .content ul li,.product-info-main .product.sku .type, .product-info-main .product.sku .value, .make-contact .title-request h3, .download .title-request h3,.why-register p,div.login-container .actions-toolbar .action.login span,div.login-container .actions-toolbar > .secondary .remind span,div.login-container .actions-toolbar >.primary .action.create span{
        font-size: 13px;
    }
    div.login-container .fieldset > .field > .control .input-text::-webkit-input-placeholder{
      font-size: 13px; 
    }
    div.login-container .fieldset > .field > .control .input-text::-moz-placeholder{
        font-size: 13px; 
    }
    div.login-container .fieldset > .field > .control .input-text:-ms-input-placeholder{
        font-size: 13px;
    }
    .product-info-main .box-tocart .wrap-project #product-addtoproject-button span, .product-info-main .box-tocart .wrap-quote #product-addtoquote-button span,.table-wrapper.additional-attributes-wrapper table.additional-attributes tr th, .additional-attributes-wrapper table.additional-attributes tr td{
        font-size:13px;
    }
    section.advantages h3{
        font-size: 40px;
    }
    .page-footer .footer-middle .colection, .page-footer .footer-middle .help-info{
        padding-left: 0px;
    }
    footer .footer-social{
        left: 15px;
    }
    .page-footer .footer-middle .contact, .page-footer .footer-middle .about{
        padding-left: 0px;
    }
    .content-banner .summary{
        width:100%;
        text-align: center;
        float: none;
    }
    .full-screen-slider .item-img{
        height:400px;
    }
    .hdmx__contact-popup .fieldset div.control input{
        width:100%;
    }
}
@media(max-width:640px){
    .page-layout-1column-new-category .products-grid .product-item,.page-layout-1column-collections .products-grid .product-item{
        width:100%;
    }
}
@media(max-width:555px){
    /*BANNER*/
    #banner-slider-demo-4 .slide1-content .content-area .text2{
        font-size: 50px;
    }
    #banner-slider-demo-4 .slide1-content .content-area .btn-default{
        font-size: 14px;
    }
    /*SUBCRIBE BANNER*/
    .subcribe-banner .block.newsletter{
        width: calc(100% - 10px);
        left: 5px;
    }
}
@media(max-width:479px){
    .wrapper-gallery .items-gallery{
        width: 100%;
    }
    .wrapper-gallery .items-gallery .title-cate{
        padding:15px 10px;
    }
    .wrapper-gallery .items-gallery{
        padding:0px;
    }
    .subcribe-banner .block.newsletter .content{
        padding:10px;
    }
    .wrap-place-meeting .place-meeting .items{
        width:100%;
    }
    .wrap-place-meeting .place-meeting .items:nth-of-type(2n+1){
        padding:7px 15px;
    }
    .wrap-place-meeting .place-meeting .items:nth-of-type(2n){
        padding:7px 15px;
    }
    .banner-team .wrap-list-team h1{
        font-size: 40px;
    }
    .wrap-info-people .information p{
        font-size:15px;
        line-height: 35px;
    }
    .make-contact .title-request h3, .download .title-request h3{
        font-size:20px;
    }
     .content-banner h2{
        font-size:40px;
        margin-bottom: 30px;
    }

    .wrap-scroll-down{
        display: none;
    }
    .hdmx__wrapper .phone-contact{
        top:93px;
        right:35px;
   }
   .content-banner .summary{
        padding:0px 15px;
   }
   footer.page-footer .footer-middle{
        padding-left:0px;
        padding-right:0px;
   }
   .page-layout-1column-new-category #fixed-header-padding, .cms-index-index #fixed-header-padding, .page-layout-layout-about-us #fixed-header-padding{
        height:64px!important;
   }
   .content-banner p{
        margin-bottom: 30px;
   }
}
@media(max-width:450px){
    /*BANNER*/
    .full-screen-slider::after{
        content: none;
    }
    #banner-slider-demo-4 .slide1-content .content-area{
        top: 25%;
    }
    #banner-slider-demo-4 .slide1-content .content-area .text2{
        font-size: 40px;
    }
    #banner-slider-demo-4 .slide1-content .content-area .btn-default{
        font-size: 12px;
    }
}
@media(max-width:320px){
    #banner-slider-demo-4 .slide1-content .content-area .text1 .inner1 {
        font-size: 33px;
    }
    #banner-slider-demo-4 .slide1-content .content-area .text2 {
        font-size: 34px;
        margin-top: 7px;
    }
    #banner-slider-demo-4 .slide1-content .content-area .text3 {
        font-size: 9px;
        margin-bottom: 12px;
    }
    #banner-slider-demo-4 .slide1-content .content-area .btn-default {
        padding: 7px 9px;
        font-size: 10px;
    }
    #banner-slider-demo-4 .slide2-content .content-area .text1 {
        font-size: 33px;
        margin-bottom: 10px;
    }
    #banner-slider-demo-4 .slide2-content .content-area .text2 {
        font-size: 30px;
        margin: 0 0 7px;
        text-shadow: 3px 2px #92a9b3;
    }
    #banner-slider-demo-4 .slide2-content .content-area .btn-default {
        padding: 7px 9px;
        font-size: 10px;

    }
}