<?php
/**
 * @var $block \Lof\Gallery\Block\Album\AlbumList
 */

$galleryHelper = $this->helper("Lof\Gallery\Helper\Data");
$imageHelper = $this->helper("Lof\Gallery\Helper\Image");
$collection = $this->getCollection();
$total = $collection->count();

$xs_column = $block->getConfig('xs_column');
$sm_column = $block->getConfig('sm_column');
$md_column = $block->getConfig('md_column');
$lg_column = $block->getConfig('lg_column');
$type = $block->getConfig('layout_type');
$lightbox = $block->getConfig('lightbox');
$numberItem = $block->getConfig('gallery_page/items_per_silde');
$showName = $block->getConfig('general_settings/show_name');
$showThumbnail = $block->getConfig('general_settings/show_thumbnail');
$thumbnailHeight = $block->getConfig('general_settings/thumbnail_height');
$thumbnailWidth = $block->getConfig('general_settings/thumbnail_width');
$showDate = $block->getConfig('general_settings/show_date');
$showCategory = $block->getConfig('general_settings/show_category');
$showImagecount = $block->getConfig('general_settings/show_imagecount');
$showViewcount = $block->getConfig('general_settings/show_viewcount');
$showDescription = $block->getConfig('general_settings/show_description');
$showSocialnetworks = $block->getConfig('general_settings/show_socialnetworks');
$shortdescriptionCount = (int)$block->getConfig('general_settings/shortdescription_count');
$show_album_link = $block->getConfig('general_settings/show_album_link');
$show_album_link = ($show_album_link !== null && $show_album_link !='')?(int)$show_album_link:1;
$style = $block->getConfig('general_settings/style');
$skin = $block->getConfig('general_settings/skin');
$customClass = '';
if ($style == 'style3' || $style == 'style4' || $style == 'style5' || $style == 'style6' || $style == 'style7' || $style == 'style8' || $style == 'style9' || $style == 'style10' || $style == 'style11' || $style == 'style12' || $style == 'style13') {
    $customClass .= ' gallery-style-common';
}

if ($style == 'style13') {
    $customClass .= ' gallery-widget-style7';
}
?>
<?php if ($collection && ($total = $collection->count())) { ?>
    <?php $i = 0; ?>
    <?php foreach ($collection as $album) { ?>
        <?php if ($type == 'grid') { ?>
            <?php if ($lg_column == 1 || $i % $lg_column == 0) { ?>
                <div class="row">
            <?php } ?>
            <div class="col-lg-<?php echo 12 / $lg_column ?> col-md-<?php echo 12 / $md_column ?> col-sm-<?php echo 12 / $sm_column ?> col-xs-<?php echo 12 / $xs_column ?>">
        <?php } ?>
        <?php
        $classes = '';
        $categories = $album->getCategoryCollection();
        if ($type == 'masonry') {
            foreach ($categories as $category) {
                $classes .= ' gallery-filter-' . $category->getIdentifier();
            }
        }
        ?>
        <div class="lgl-item <?php echo $classes ?>" data-type="<?php echo $type; ?>">
            <div class="lgl-item-inner">
                <?php $thumbnail = $album->getThumbnail(); ?>
                <?php if ($thumbnail) { ?>
                    <div class="lgl-item-media">
                        <div class="lgl-item-media-inner">
                            <?php

                            if ($thumbnailWidth || $thumbnailHeight) {
                                $imageSrc = $imageHelper->resizeImage($thumbnail['filelink'], $thumbnailWidth, $thumbnailHeight);
                            } else {
                                $imageSrc = $thumbnail['filelink'];
                            }
                            ?>
                            <img src="<?php echo $imageSrc ?>" alt="<?php echo $block->escapeHtml($thumbnail['label']) ?>" title="<?php echo $block->escapeHtml($thumbnail['label']) ?>"/>

                            <?php
                            $images = $album->getImages();
                            ?>
                            <?php if (count($images)) { ?>
                                <div class="lgl-hidden">
                                    <?php $x = 0; ?>
                                    <?php foreach ($images as $image) { ?>
                                        <?php if ($x < $numberItem && !$image['thumbnail']) { ?>
                                            <a data-size="1000x600" data-rel="gallery<?php echo $i ?>" class="gallery[<?php echo $i ?>] lgl-<?php echo $lightbox ?>-item <?php if ($image['video_url'] != '' && $lightbox == 'magnific') { ?>mfp-iframe<?php } ?>"
                                               <?php if ($image['video_url'] != '') { ?>data-fancybox-type="iframe"<?php } ?> rel="gallery[<?php echo $i ?>]" href="<?php echo $galleryHelper->getPopupUrl($image, $lightbox) ?>" title="<?php echo $block->escapeHtml($image['title']) ?>">
                                            </a>
                                            <?php $x++; ?>
                                        <?php } ?>
                                    <?php } ?>
                                </div>
                            <?php } ?>
                        </div>
                        <div class="lgl-item-links">
                            <div class="lgl-item-link lgl-item-popup">
                                <a data-size="1000x600" class="gallery<?php echo $i ?> lgl-<?php echo $lightbox ?>-item <?php if ($image['video_url'] != '' && $lightbox == 'magnific') { ?>mfp-iframe<?php } ?>" <?php if ($thumbnail['video_url'] != '') { ?>data-fancybox-type="iframe"<?php } ?>
                                   data-rel="gallery<?php echo $i ?>" rel="gallery[<?php echo $i ?>]" alt="<?php echo $block->escapeHtml($thumbnail['label']) ?>" title="<?php echo $block->escapeHtml($thumbnail['video_title'] ? $thumbnail['video_title'] : $thumbnail['title']) ?>"
                                   href="<?php echo $galleryHelper->getPopupUrl($thumbnail, $lightbox) ?>">
                                    <?php if ($thumbnail['video_url'] != '') { ?>
                                        <i class="fa fa-play"></i>
                                    <?php } else { ?>
                                        <i class="fa fa-picture-o"></i>
                                    <?php } ?>
                                </a>
                            </div>
                            <?php if ($show_album_link && $album->getAlbumLink()) { ?>
                                <div class="lgl-item-link lgl-item-link-detail">
                                    <a class="tg-link-button" href="<?php echo $album->getAlbumLink(); ?>" target="_self">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </div>
                            <?php } ?>
                        </div>
                    </div>
                <?php } ?>
                <?php if ($showName || $showSocialnetworks || $showImagecount || $showDate || $showViewcount || $showDescription) { ?>
                    <div class="lgl-item-content">
                        <?php if ($showName) { ?>
                            <h2 class="lgl-item-title">
                                <a href="<?php echo $album->getAlbumLink(); ?>" title="<?php echo $block->escapeHtml($album->getName()); ?>" class="gallery-zoom album-title">
                                    <?php echo $album->getName(); ?>
                                </a>
                            </h2>
                        <?php } ?>
                        <div class="lgl-hidden">
                            <span class="album-id"><?php echo $album->getAlbumId() ?></span>
                            <span class="album-imagecount"><?php echo $album->getImageCount() ?></span>
                        </div>
                        <?php if ($showSocialnetworks) { ?>
                            <div class="lgl-socials">
                                <div class="addthis_toolbox addthis_default_style" data-title="<?php echo $block->escapeHtml($album->getName()); ?>" addthis:url="<?php echo $album->getAlbumLink(); ?>">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_google"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_pinterest_share"></a>
                                    <a class="addthis_button_compact"></a>
                                </div>
                            </div>
                        <?php } ?>

                        <?php if ($showImagecount || $showDate || ($showCategory && ($categoryCount = $categories->count())) || $showViewcount) { ?>
                            <div class="lgl-item-info">
                                <?php if ($showImagecount) { ?>
                                    <div class="lgl-item-numimages lgl-item-info-item"><i class="fa fa-picture-o"></i><span><?php echo $album->getImageCount(); ?></span></div>
                                <?php } ?>
                                <?php if ($showDate) { ?>
                                    <?php $createdTime = $galleryHelper->getFormatDate($album->getCreatedAt(), 'long'); ?>
                                    <div class="lgl-item-date lgl-item-info-item"><i class="fa fa-clock-o"></i><span><?php echo $createdTime; ?></span></div>
                                <?php } ?>
                                <?php if ($showCategory && ($categoryCount = $categories->count())) { ?>
                                    <div class="lgl-item-cat lgl-item-info-item"><i class="fa fa-folder" aria-hidden="true"></i>
                                        <?php $z = 0; ?>
                                        <?php foreach ($categories as $_cat) { ?>
                                            <a href="<?php echo $_cat->getUrl() ?>" title="<?php echo $block->escapeHtml($_cat->getName()) ?>"><?php echo $_cat->getName() ?></a><?php if ($z < ($categoryCount - 1)) echo __(', '); ?>
                                            <?php $z++; ?>
                                        <?php } ?>
                                    </div>
                                <?php } ?>
                                <?php if ($showViewcount) { ?>
                                    <div class="lgl-item-hits lgl-item-info-item"><i class="fa fa-eye"></i><span><?php echo (int)$album->getHits() ?></span></div>
                                <?php } ?>
                            </div>
                        <?php } ?>

                        <?php $shortDescription = $galleryHelper->subString($album->getDescription(), $shortdescriptionCount); ?>
                        <?php if ($showDescription && $shortDescription) { ?>
                            <p class="lgl-item-shortdescription">
                                <?php echo $shortDescription; ?>
                            </p>
                            <div class="lgl-item-read-more">
                                <a href="<?php echo $album->getAlbumLink(); ?>" target="_self"><?php echo __('Read More '); ?><i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        <?php } ?>
                    </div>
                <?php } ?>
            </div>
        </div>

        <?php if ($type == 'grid') { ?>
            </div>

            <?php if ($lg_column == 1 || ($i + 1) % $lg_column == 0 || ($i == $total - 1)) { ?>
                </div>
            <?php } ?>
        <?php } ?>

        <?php $i++; ?>
    <?php } ?>
<?php } ?>
