<?php
/**
 * @var $block \Lof\Gallery\Block\Album\ProductsRelated
 */

$showRelated     = $block->getConfig('album_page/show_related');
$showName        = $block->getConfig('album_page/show_product_name');
$showPrice       = $block->getConfig('album_page/show_product_price');
$showCart        = $block->getConfig('album_page/show_product_addtocart');
$showWishlist    = $block->getConfig('album_page/show_product_wishlist');
$showCompare     = $block->getConfig('album_page/show_product_compare');
$showReview      = $block->getConfig('album_page/show_product_review');
$showImage       = $block->getConfig('album_page/show_product_image');

$rtl             = $block->getConfig('album_page/rtl');
$loop            = $block->getConfig('album_page/loop');
$autoplay        = $block->getConfig('album_page/autoplay');
$autoplayTimeout = (int) $block->getConfig('album_page/autoplay_timeout');
$dots            = $block->getConfig('album_page/dots');
$nav             = $block->getConfig('album_page/nav');
$nav_prev        = $block->getConfig('album_page/nav_prev');
$nav_next        = $block->getConfig('album_page/nav_next');


$large_max_items    = (int) $block->getConfig('album_page/large_max_items');
$large_items        = (int) $block->getConfig('album_page/large_items');
$portrait_items     = (int) $block->getConfig('album_page/portrait_items');
$tablet_items       = (int) $block->getConfig('album_page/tablet_items');
$tablet_small_items = (int) $block->getConfig('album_page/tablet_small_items');
$mobile_items       = (int) $block->getConfig('album_page/mobile_items');

if ($exist = ($block->getCollection() && $block->getCollection()->getSize())) {
	$type         = 'widget-new-grid';
	$mode         = 'grid';
	$image        = 'new_products_content_widget_grid';
	$items        = $block->getCollection()->getItems();
	$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
	$description  = false;
	$blockId      = time() . rand();
}
?>

<?php if ($exist && $showRelated):?>
	<div class="gallery-block block widget products-related gallery-widget">
		<div class="block-title">
			<strong><?php echo __('Related Products'); ?></strong>
		</div>
		<div class="block-content">
			<?php echo '<!-- ' . $image . '-->' ?>
			<div class="products-<?php echo $mode; ?>" style="float: left; width: 100%">
				<ol class="product-items products-related product-items<?php echo $blockId ?> owl-carousel owl-theme <?php echo $type; ?>"
					data-large-max-items="<?php echo $large_max_items ?>"
					data-large-items="<?php echo $large_items ?>"
					data-portrait-items="<?php echo $portrait_items ?>"
					data-tablet-items="<?php echo $tablet_items ?>"
					data-tablet-small-items="<?php echo $tablet_small_items ?>"
					data-mobile-items="<?php echo $mobile_items ?>"
					<?php if ($autoplayTimeout) { ?>
					data-autoplay-timeout="<?php echo $autoplayTimeout ?>"<?php } ?>
					data-autoplay-pauonhover="true"
					data-autoplay="<?php echo $autoplay?'true':'false' ?>"
					data-responsive-refresh-rate="false"
					data-dots="<?php echo $dots?'true':'false' ?>"
					data-nav="<?php echo $nav?'true':'false' ?>"
					data-loop="<?php echo $loop?'true':'false' ?>"
					data-rtl="<?php echo $rtl?'true':'false' ?>"
					data-nav-text-owlpre="<?php echo $nav_prev ?>"
					data-nav-text-owlnext="<?php echo $nav_next ?>">
					<?php $iterator = 1; ?>
					<?php foreach ($items as $_item): ?>
						<?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="product-item">' : '</li><li class="product-item">' ?>
						<div class="product-item-info">
							<?php if ($showImage) { ?>
							<a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>" class="product-item-photo">
								<?php echo $block->getImage($_item, $image)->toHtml(); ?>
							</a>
							<?php } ?>
							<div class="product-item-details">
								<?php if ($showName) { ?>
								<strong class="product-item-name">
									<a title="<?php echo $block->escapeHtml($_item->getName()) ?>"
										href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>"
										class="product-item-link">
										<?php echo $block->escapeHtml($_item->getName()) ?>
									</a>
								</strong>
								<?php } ?>

								<?php
								
								if ($showPrice) {
									// echo $block->getLofProductPriceHtml($_item);
								}
								?>

								<?php if ($templateType && $showReview): ?>
									<?php echo $block->getReviewsSummaryHtml($_item, $templateType, true) ?>
								<?php endif; ?>

								<?php if ($showWishlist || $showCompare || $showCart): ?>
									<div class="product-item-actions">
										<?php if ($showCart): ?>
											<div class="actions-primary">
												<?php if ($_item->isSaleable()): ?>
													<?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)): ?>
														<button class="action tocart primary"
														data-mage-init='{"redirectUrl":{"url":"<?php /* @escapeNotVerified */ echo $block->getAddToCartUrl($_item) ?>"}}'
														type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
														<span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
													</button>
												<?php else: ?>
													<?php
													$postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
													$postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()])
													?>
													<button class="action tocart primary"
													data-post='<?php /* @escapeNotVerified */ echo $postData; ?>'
													type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
													<span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
												</button>
											<?php endif; ?>
										<?php else: ?>
											<?php if ($_item->getIsSalable()): ?>
												<div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
											<?php else: ?>
												<div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
											<?php endif; ?>
										<?php endif; ?>
									</div>
								<?php endif; ?>
								<?php if ($showWishlist || $showCompare): ?>
									<div class="actions-secondary" data-role="add-to-links">
										<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
											<a href="#"
											data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_item); ?>'
											class="action towishlist" data-action="add-to-wishlist"
											title="<?php /* @escapeNotVerified */ echo __('Add to Wish List') ?>">
											<span><?php /* @escapeNotVerified */ echo __('Add to Wish List') ?></span>
										</a>
									<?php endif; ?>
									<?php if ($block->getAddToCompareUrl() && $showCompare): ?>
										<?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');?>
										<a href="#" class="action tocompare"
										data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_item);?>'
										title="<?php /* @escapeNotVerified */ echo __('Add to Compare') ?>">
										<span><?php /* @escapeNotVerified */ echo __('Add to Compare') ?></span>
									</a>
								<?php endif; ?>
							</div>
						<?php endif; ?>
					</div>
				<?php endif; ?>
			</div>
		</div>
		<?php echo($iterator == count($items)+1) ? '</li>' : '' ?>
	<?php endforeach ?>
</ol>
</div>
</div>
</div>
<?php endif;?>
