<?php
/**
 * @var $block \Lof\Gallery\Block\Album\View
 */

$helper = $this->helper("Lof\Gallery\Helper\Data");
$imageHelper = $this->helper("Lof\Gallery\Helper\Image");
$album = $block->getAlbum();
$lightbox = $album->getLightbox();
$enableComment = $album->getEnableComment();
$type = $album->getLayoutType();
$images = $block->getImages();
$total = count($images);
$xs_column = $album->getXsColumn();
$sm_column = $album->getSmColumn();
$md_column = $album->getMdColumn();
$lg_column = $album->getLgColumn();
$showTopToolbar = $album->getShowToptoolbar();
$showBottomToolbar = $album->getShowBottomtoolbar();

$showSocialnetworks = $block->getConfig('general_settings/enable_networks');
$show_album_link = $block->getConfig('general_settings/show_album_link');
$show_album_link = ($show_album_link !== null && $show_album_link !='')?(int)$show_album_link:1;
$showTagBlock = $block->getConfig('album_page/show_tag_block');
$showImagecount = $block->getConfig('album_page/show_imagecount');
$showDate = $block->getConfig('album_page/show_date');
$showCategories = $block->getConfig('album_page/show_categories');
$showHits = $block->getConfig('album_page/show_hits');
$showShareToFriend = $block->getConfig('album_page/show_share_to_friend');
$commentType = $block->getConfig('album_page/comment_type');
$facebookcommentWidth = $block->getConfig('album_page/facebookcomment_width');
$numberCommentPerpage = $block->getConfig('album_page/numbercomment_perpage');
$disqusShortname = $block->getConfig('album_page/disqus_shortname');

$categoryCollection = $album->getCategoryCollection();
$categoryCount = $categoryCollection->count();

/** INFINITE SCROLL */
$loading_image = $block->getConfig('infinitescroll/loading_image');
$loading_text = $block->getConfig('infinitescroll/loading_text');
$done_text = $block->getConfig('infinitescroll/done_text');
$load_more_text = $block->getConfig('infinitescroll/load_more_text');
$load_pre_text = $block->getConfig('infinitescroll/load_pre_text');
$delay = (int)$block->getConfig('infinitescroll/delay');
$buffer = (int)$block->getConfig('infinitescroll/buffer');
$load_more = (int)$block->getConfig('infinitescroll/load_more');

$masonryBlockId = 'gallery-albums';
$id = time() . rand();
$blockId = 'lgl-items' . $id;

$image = $album->getAlbumImage();

if ($lightbox == '' || $lightbox == '0') {
    $lightbox = 'fancybox';
}
$style = $block->getConfig('general_settings/style');
$skin = $block->getConfig('general_settings/skin');
$customClass = '';
if ($style == 'style3' || $style == 'style4' || $style == 'style5' || $style == 'style6' || $style == 'style7' || $style == 'style8' || $style == 'style9' || $style == 'style10' || $style == 'style11' || $style == 'style12' || $style == 'style13') {
    $customClass .= ' gallery-style-common';
}

if ($style == 'style13') {
    $customClass .= ' gallery-widget-style7';
}

?>
<!-- START -->
<div id="album-<?php echo $album->getIdentifier() ?>"
     class="gallery-page gallery-block album-<?php echo $type ?> gallery-lightbox-<?php echo $lightbox ?> gallery-widget gallery-<?php echo $type ?> block gallery-album gallery-skin-<?php echo $skin ?> gallery-widget-<?php echo $style ?>"
     data-masonry-id="<?php echo $masonryBlockId ?>"
     data-xs-column="<?php echo $xs_column ?>"
     data-sm-column="<?php echo $sm_column ?>"
     data-md-column="<?php echo $md_column ?>"
     data-lg-column="<?php echo $lg_column ?>"
     data-margin="10">

    <?php if (!empty($image)) { ?>
        <div class="album-image">
            <?php echo $mainImage = $helper->getAlbumImageHtml($image); ?>
        </div>
    <?php } ?>

    <?php if ($showSocialnetworks) { ?>
        <div class="lgl-socials">
            <div class="addthis_toolbox addthis_default_style addthis_32x32_style"
                 data-title="<?php echo $block->escapeHtml($album->getName()); ?>"
                 addthis:url="<?php echo $album->getAlbumLink(); ?>">
                <a class="addthis_button_facebook"></a>
                <a class="addthis_button_twitter"></a>
                <a class="addthis_button_google"></a>
                <a class="addthis_button_email"></a>
                <a class="addthis_button_pinterest_share"></a>
                <a class="addthis_button_compact"></a>
            </div>
        </div>
    <?php } ?>
    <div class="album-info">
        <?php if ($showImagecount) { ?>
            <div class="lgl-item-numimages album-info-item">
                <i class="fa fa-picture-o"></i>
                <span><?php echo $album->getImageCount(); ?></span>
            </div>
        <?php } ?>
        <?php if ($showDate) { ?>
            <?php $createdTime = $helper->getFormatDate($album->getCreatedAt(), 'long'); ?>
            <div class="lgl-item-date album-info-item">
                <i class="fa fa-clock-o"></i>
                <span><?php echo $createdTime; ?></span>
            </div>
        <?php } ?>
        <?php if ($showHits) { ?>
            <div class="lgl-item-hits album-info-item">
                <i class="fa fa-eye"></i>
                <span><?php echo (int)$album->getHits() ?></span>
            </div>
        <?php } ?>
        <?php if ($showShareToFriend) { ?>
        <div class="authentication-wrapper pnf-form pnf-stock" data-block="authentication">
            <button
                    type="button"
                    class="action action-auth-toggle"
                    data-trigger="authentication">
                <span><?php echo __('Share Gallery To Friend') ?></span>
            </button>
            <div class="block-authentication"
                 style="display: none"
                 data-bind="mageInit: {
            'Magento_Ui/js/modal/modal':{
                'type': 'custom',
                'modalClass': 'authentication-dropdown',
                'trigger': '[data-trigger=authentication]',
                'wrapperClass': 'authentication-wrapper',
                'parentModalClass': '_has-modal-custom _has-stock-form _has-auth-shown',
                'responsive': true,
                'responsiveClass': 'custom-slide',
                'overlayClass': 'dropdown-overlay modal-custom-overlay',
                'buttons': []
            }}">

                <div class="block">
                    <div class="block-title">
                        <strong role="heading" aria-level="2"><?php echo __('Share Gallery To Friend') ?></strong>
                    </div>
                    <div class="block-content">
                        <?php $postParams = $this->getBaseUrl() . 'lofgallery/album/share'; ?>
                        <form id="gallery-share" method="post" data-mage-init='{"validation":{}}' action="<?php /* @escapeNotVerified */
                        echo $postParams; ?>">

                            <input name="context" type="hidden" value="product"/>
                            <input type="hidden" name="name_gallery" value="<?php echo $album['name'] ?>">
                            <input type="hidden" name="url_gallery" value="<?php echo $album->getAlbumLink(); ?>">
                            <?php if (!empty($image)) { ?>
                                <input type="hidden" name="image_gallery" value="<?php echo $helper->getAlbumImageSrc($image); ?>">
                            <?php } ?>
                            <input type="hidden" name="id_gallery" value="<?php echo $album['identifier']; ?>">

                            <?php echo $block->getBlockHtml('formkey') ?>
                            <div class="fieldset">
                                <div class="field field-email">
                                    <label for="email-share" class="label"><span><?php echo __('Email Share') ?></span></label>
                                    <div class="control">
                                        <input data-validate="{required:true, 'validate-email':true}" type="email" id="email-share" class="input-email" name="email_share"/>
                                    </div>
                                </div>
                                <div class="field field-name">
                                    <label for="name-share" class="label"><span><?php echo __('Name Sharer') ?></span></label>
                                    <div class="control">
                                        <input data-validate="{required:true}" type="text" id="name-share" class="input-name" name="name_sharer"/>
                                    </div>
                                </div>
                                <div class="field field-email">
                                    <label for="email-of-friend" class="label"><span><?php echo __('Email of Friend') ?></span></label>
                                    <div class="control">
                                        <input data-validate="{required:true, 'validate-email':true}" type="email" id="email-of-friend" class="input-email" name="email_of_friend"/>
                                    </div>
                                </div>
                                <div class="field field-title">
                                    <label for="title-email" class="label"><span><?php echo __('Title Email') ?></span></label>
                                    <div class="control">
                                        <input data-validate="{required:true}" id="title-email" type="text" class="input-textarea" name="title_email"/>
                                    </div>
                                </div>
                                <div class="field field-message">
                                    <label for="pn-message" class="label"><span><?php echo __('Message') ?></span></label>
                                    <div class="control">
                                        <textarea id="pn-message" rows="4" class="input-textarea" name="message"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="actions-toolbar">
                                <div class="primary">
                                    <button type="submit" class="action primary"><span><?php echo __('Submit') ?></span></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <?php } ?>
        <?php if ($showCategories && $categoryCount) { ?>
            <div class="lgl-item-categories album-info-item">
                <i class="fa fa-folder"></i>
                <?php $z = 0; ?>
                <?php foreach ($categoryCollection as $category) { ?>
                    <a href="<?php echo $category->getUrl() ?>"
                       title="<?php echo $block->escapeHtml($category->getName()) ?>"><?php echo $category->getName() ?></a>
                    <?php if ($z < ($categoryCount - 1)) {
                        echo ', ';
                    } ?>
                    <?php $z++; ?>
                <?php } ?>
            </div>
        <?php } ?>
    </div>

    <?php $albumDescription = $album->getDescription(); ?>
    <?php if ($albumDescription) { ?>
        <div class="album-description"><?php echo $helper->filter($albumDescription); ?></div>
    <?php } ?>

    <?php if ($showTopToolbar && ($topToolbarHtml = $block->getChildHtml('toolbar'))) { ?>
        <div class="gallery-toolbar gallery-toptoolbar" style="display:block">
            <?php echo $topToolbarHtml; ?>
        </div>
    <?php } ?>
    <div class="album-content-inner">
        <div id="gallery-loading<?php echo $id ?>" class="gallery-loading">
            <span><?php echo __('Loading'); ?></span>
            <div class="r1"></div>
            <div class="r2"></div>
            <div class="r3"></div>
            <div class="r4"></div>
            <div class="r5"></div>
        </div>
        <div id="<?php echo $masonryBlockId ?>"
             class="lgl-items <?php if ($type == 'masonry') { ?>lgl-masonry<?php } ?>">
            <?php $i = 0; ?>
            <?php foreach ($images as $image) { ?>
                <?php if(!$image) continue; ?>
                <?php if (isset($image['disabled']) && $image['disabled']) continue; ?>
                <?php if ($type == 'grid') { ?>
                    <?php if ($lg_column == 1 || $i % $lg_column == 0) { ?>
                        <div class="row">
                    <?php } ?>
                    <div class="col-lg-<?php echo 12 / $lg_column ?> col-md-<?php echo 12 / $md_column ?> col-sm-<?php echo 12 / $sm_column ?> col-xs-<?php echo 12 / $xs_column ?>">
                <?php } ?>

                <?php
                $imageUrl = $album->getAlbumLink() . '/' . $helper->getImageIdentifier($image);
                if (isset($image['customurl']) && $image['customurl']) {
                    $imageUrl = $image['customurl'];
                }
                ?>
                <div class="lgl-item">
                    <div class="lgl-item-inner">
                        <div class="lgl-item-media">
                            <img src="<?php echo $image['filelink'] ?>"
                                 alt="<?php echo $block->escapeHtml($image['label']) ?>"
                                 title="<?php echo $block->escapeHtml($image['label']) ?>"/>
                            <div class="lgl-item-links">
                                <div class="lgl-item-link lgl-item-popup">
                                    <a data-size="1000x600" data-rel="gallery<?php echo $i ?>"
                                       class="gallery[<?php echo $i ?>] lgl-<?php echo $lightbox ?>-item <?php if ($image['video_url'] != '' && $lightbox == 'magnific') { ?>mfp-iframe<?php } ?>"
                                       <?php if ($image['video_url'] != '') { ?>data-fancybox-type="iframe"<?php } ?>
                                       rel="gallery[<?php echo $blockId . $album->getId(); ?>]"
                                       href="<?php echo $helper->getPopupUrl($image) ?>">
                                        <?php if ($image['video_url'] != '') { ?>
                                            <i class="fa fa-play"></i>
                                        <?php } else { ?>
                                            <i class="fa fa-picture-o"></i>
                                        <?php } ?>
                                    </a>
                                </div>
                                <?php if($show_album_link) { ?>
                                <div class="lgl-item-link lgl-item-link-detail">
                                    <a class="tg-link-button" href="<?php echo $imageUrl; ?>" target="_self">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </div>
                                <?php } ?>
                            </div>
                        </div>
                        <div class="lgl-item-content">
                            <h2 class="lgl-item-title">
                                <a href="<?php echo $imageUrl; ?>"
                                   title="<?php echo $block->escapeHtml($album->getName()); ?>"
                                   class="gallery-zoom album-title"
                                   <?php if (isset($image['linktargetblank']) && $image['linktargetblank']) { ?>target="_blank"<?php } ?>>
                                    <?php echo $image['video_title'] ? $image['video_title'] : $image['title']; ?>
                                </a>
                            </h2>

                            <?php if ($showSocialnetworks) { ?>
                                <div class="lgl-socials">
                                    <div class="addthis_toolbox addthis_default_style"
                                         data-title="<?php $image['video_title'] ? $image['video_title'] : $image['title']; ?>"
                                         addthis:url="<?php echo $imageUrl; ?>">
                                        <a class="addthis_button_facebook"></a>
                                        <a class="addthis_button_twitter"></a>
                                        <a class="addthis_button_google"></a>
                                        <a class="addthis_button_email"></a>
                                        <a class="addthis_button_pinterest_share"></a>
                                        <a class="addthis_button_compact"></a>
                                    </div>
                                </div>
                            <?php } ?>

                            <?php
                            $description = $image['video_description'] ? $image['video_description'] : $image['description'];
                            $description = $helper->subString($description, 150);
                            ?>
                            <?php if ($description) { ?>
                                <p class="lgl-item-shortdescription">
                                    <?php echo $description; ?>
                                </p>
                            <?php } ?>
                        </div>
                    </div>
                </div>
                <?php if ($type == 'grid') { ?>
                    </div>
                    <?php if ($lg_column == 1 || ($i + 1) % $lg_column == 0 || ($i == $total - 1)) { ?>
                        </div>
                    <?php } ?>
                <?php } ?>
                <?php $i++; ?>
            <?php } ?>
        </div>
    </div>

    <?php if ($showBottomToolbar && ($bottomToolbarHtml = $block->getChildHtml('toolbar'))) { ?>
        <div class="gallery-toolbar gallery-toptoolbar" style="display:block">
            <?php echo $bottomToolbarHtml; ?>
        </div>
    <?php } ?>

    <?php if ($showTagBlock) { ?>
        <?php $tags = $album->getTagCollection() ?>
        <?php if ($tags->count()) { ?>
            <div class="album-tags">
                <span><?php echo __('Tags:'); ?></span>
                <?php foreach ($tags as $tag) { ?>
                    <a href="<?php echo $tag->getUrl(); ?>"
                       title="<?php echo $block->escapeHtml($tag->getName()); ?>"><?php echo '#' . $tag->getName(); ?></a>
                <?php } ?>
            </div>
        <?php } ?>
    <?php } ?>

    <?php echo $this->getChildHtml('products_related'); ?>

    <?php if ($enableComment) { ?>
        <div class="album-comments">
            <?php if ($commentType == 'facebook') { ?>
                <div id="fb-root"></div>
                <script>(function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));</script>
                <div class="fb-comments" data-href="<?php echo $album->getUrl() ?>"
                     data-width="<?php echo $facebookcommentWidth ?>"
                     data-numposts="<?php echo $numberCommentPerpage ?>"></div>
            <?php } ?>
            <?php if ($commentType == 'disqus') { ?>
                <div id="disqus_thread"></div>
                <script>
                    var disqus_config = function () {
                        this.page.url = '<?php echo $album->getUrl() ?>';
                        this.page.identifier = '<?php echo $album->getIdenfitier() ?>';
                    };
                    (function () {  // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');

                        s.src = '//<?php echo $disqusShortname; ?>.disqus.com/embed.js';

                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript><?php echo __('Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.'); ?></a></noscript>
            <?php } ?>
        </div>
    <?php } ?>
</div>
<!-- END -->