<?php
/**
 *
 * CART2QUOTE CONFIDENTIAL
 * __________________
 *
 *  [2009] - [2017] Cart2Quote B.V.
 *  All Rights Reserved.
 *
 * NOTICE OF LICENSE
 *
 * All information contained herein is, and remains
 * the property of Cart2Quote B.V. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Cart2Quote B.V.
 * and its suppliers and may be covered by European and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Cart2Quote B.V.
 *
 * @category    Cart2Quote
 * @package     SalesRep
 * @copyright   Copyright (c) 2017 Cart2Quote B.V. (https://www.cart2quote.com)
 * @license     https://www.cart2quote.com/ordering-licenses(https://www.cart2quote.com)
 */
?>
<?php /** @var \Cart2Quote\SalesRep\Block\Adminhtml\SalesRep\User $block */ ?>
<span class="salesrep-details" style="<?php echo $block->getShowSalesRep() ?>">
    <span class="salesrep-name">
        <?php echo $block->getName() ?>
    </span>
    <span class="salesrep-role">
        <?php echo $block->getRole() ?>
    </span>
</span>
<span class="salesrep-assign">
    <a  href="#"><?php echo $block->getActionLabel() ?></a>
</span>
