// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@import 'module/_listings.less';
@import 'module/_toolbar.less';

//
//  Variables
//  _____________________________________________

@product-info-price: @color-gray34;
@product-h1-margin-bottom-desktop: @indent__s + @indent__xs;
@product-price__muted__color: @color-gray40;

//
//  Common
//  _____________________________________________
.infor-contact{
    span{
        color:#27a6dd;
        font-weight:600;
    }
}
.product-info-price .price-box{
    display:none;
}
.page-title-wrapper.product{
    clear:both;
    h1{
        font-size:26px;
    }
}
.price-including-tax{
      .gav_reprice{
        font-weight: 400;
    }  
} 
.price-including-tax,.price-including-tax{
     .gavs_symbol,.after_comma{
        font-weight:400;
     }
}
.wrap-gallery-placeholder{
    .badges {
        position: absolute;
        background: #2ba8db;
        border-radius: 50%;
        left: 15px;
        top: -15px;
        width: 81px;
        height: 81px;
        color: #fff;
        text-align:center;
        z-index:10;
        .sale{
            padding-left:0px;
            .text-replacement {
                font-size: 11px;
                margin-top: 20px;
                text-transform: uppercase;
                font-weight: 300;
            }
            li{
                &:before{
                    content:'';
                }
            }
            .text-led-sale {
                font-size: 25px;
                line-height: 2.5px;
                margin-top: 11px
            }
        } 
    }
}
.page-main .yotpo ul li::before{
   content:''; 
}
& when (@media-common = true) {

    //  Category view
    #narrow-by-list{
        .Category{
            display:none;
        }
    }
    .old-price,
    .old.price {
        .lib-css(color, @product-price__muted__color);
    }

    .prices-tier {
        .price-container {
            .price-including-tax {
                + .price-excluding-tax {
                    &:before {
                        content: '(' attr(data-label) ':';
                    }

                    &:last-child:after {
                        content: ')';
                    }
                }
            }

            .weee[data-label] {
                display: inline;

                &:before {
                    content: ' +' attr(data-label) ':';
                }
            }
        }
    }

    .actual-price {
        font-weight: @font-weight__bold;
    }

    .product.name a {
        &:extend(.abs-product-link all);
    }

    .special-price {
        .price-label {
            &:extend(.abs-visually-hidden all);
        }
    }

    .category-image {
        .image {
            display: block;
            height: auto;
            max-width: 100%;
        }
    }

    .category-cms,
    .category-image,
    .category-description {
        margin-bottom: @indent__base;
    }

    //
    //  Product images general container
    //  -----------------------------------------

    .product-image-container {
        display: inline-block;
        max-width: 100%;
    }

    .product-image-wrapper {
        display: block;
        height: 0;
        overflow: hidden;
        position: relative;
        z-index: 1;
    }
    .product-img-wrapper{
        display: table;
        width: 100%;
        min-height: 250px;
        >a{
            min-height: 250px;
            width: 100%;
            display: table-cell !important;
            height:100%;
            vertical-align: middle;
            text-align: center;
        }
        >.sku-product-mobie{
            display:none;
        }
    }
    .product-item-info{
        .footer{
            border-top: 1px solid #b2b2b2;
            padding: 24px 12px 60px 12px;
            -webkit-border-radius: 0 0 5px 5px;
            -moz-border-radius: 0 0 5px 5px;
            border-radius: 0 0 5px 5px;
            font-family: "Open Sans";
            >a {
                overflow: hidden;
                width: 100%;
                float: left;
                display: inline-block;
                clear: both;
                color: #2f303a;
                font-size: 16px;
                font-weight: 400;
            }
            > span {
                padding-top: 10px;
                width: 100%;
                min-height: 25px;
                clear: both;
                font-size: 14px;
                color:#a4a6a9;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display:inline-block;
            }
            .tools {
                position: absolute;
                left:0px;
                bottom:18px;
                width: 100%;
                height:38px;
                padding:10px 12px;
                .btn-detail {
                  display: block;
                  right: 15px;
                  top: 0;
                  text-decoration: none;
                  overflow: hidden;
                  padding: 4px 12px 6px 12px;
                  background: #2ba8db;
                  -webkit-border-radius: 24px;
                  -moz-border-radius: 24px;
                  border-radius: 24px;
                  z-index: 1;
                  color: #fff;
                  font-size: 1.25em !important;
                  font-weight: 300;
                  white-space: nowrap;
                  -webkit-transition: width 0.25s ease;
                  -moz-transition: width 0.25s ease;
                  transition: width 0.25s ease;
                  position:absolute;
                  text-lign:center;
                  span{
                      color: #fff;
                      display: inline-block;
                      font-size:15px;
                      font-weight:400;
                  }
                  .icon_nofication{
                        background: url("../images/icon-nofication.png") no-repeat;
                        width: 32px;
                        height: 32px;
                        display: inline-block;
                        background-position: center 0;
                        display:none;
                        vertical-align:middle;
                        font-size:1.1em;
                  }
                }
                .yotpo{
                    .text-m{
                        display:none;
                    }
                    .yotpo-bottomline{
                        .yotpo-stars{
                            .yotpo-icon-star,.yotpo-icon-empty-star{
                                padding:0px 2px;
                                font-size:15px;
                            }
                        }
                    }
                }
            }
             span.sku-product {
                color: #999;
                font-weight: 400;
                font-family: "Open Sans";
                margin-top: 0px;
                margin-bottom: 5px
            }

        }
    }
    //
    //  Product view
    //  -----------------------------------------
    .down-pdf-left {
        float: left;
        margin-right: 50px
    }

    .down-pdf-left.right {
        margin-right: 0
    }

    .down-pdf-left img {
        display: block;
        margin: 0 auto;
        margin-bottom: 15px
    }

    .down-pdf-left a {
        text-transform: capitalize;
        font-weight: 600;
        font-family: 'Open Sans';
        padding: 10px 0 10px 15px
    }

    .wrap-attach-pdf .clear {
        clear: both
    }
    .product.media {
        .product.photo .photo.image {
            &:extend(.abs-adaptive-images-centered);
        }

        .placeholder .photo.container {
            max-width: 100%;
        }

        .notice {
            margin: @indent__s 0;
            .lib-css(color, @text__color__muted);
            .lib-font-size(@font-size__s);
        }

        .product.thumbs {
            margin: @indent__s 0 @indent__m;
        }

        .items.thumbs {
            .lib-list-inline();
            > li {
                margin: 1rem 0 0;
            }

            img {
                display: block;
            }

            .active {
                display: block;
                line-height: 1;
            }
        }
    }

    .product.info.detailed {
        clear: both;
        margin-bottom: 30px;

        .additional-attributes {
            width: auto;
            .lib-table-bordered(
                @_table_type: clear
            );
            .lib-table-resize(
                @_th-padding-left: 0,
                @_th-padding-right: @indent__l,
                @_th-padding-bottom: @indent__s,
                @_td-padding-bottom: @indent__s
            );
        }
    }
    .product.attribute.sku {
        word-break: break-all;
        word-wrap: break-word;
        float:left;
        padding-top:5px;
    }
    .product {
        &.attribute {
            &.sku {
                .type {
                    font-weight: normal;
                    margin-right: @indent__xs;

                    &:after {
                        content: ':';
                    }
                }

                .value {
                    display: inline-block;
                }
            }
        }
    }
    .product-info-main {
        .wholesale{
            display:table-cell;
            vertical-align:top;
            width:1px;
            margin-top: -44px;
            background-size: 100% auto;
            text-align: center;
            min-width:170px;
            .wholesale-content {
                background: url(../images/wholesale/bg-wholesale.jpg) no-repeat top left;
                background-size: 100% 38px;
                color: #fff;
                padding: 5px 5px 17px 5px;
                text-transform: uppercase;
                font-size: 14px;
            }
            >.price-box{
                padding:0px 10px;
            }
            .special-offer-left .special-price span.price-excluding-tax:after{
                position:relative;
            }
        }
        .product-info-price {
            .lib-css(color, @product-info-price);
            display: table;
            margin-bottom: @indent__s + @indent__xs;
            width: 100%;

            .price-box {
                display: table-cell;
                vertical-align: top;
                width: 1px;

                .price-container {
                    > span {
                        display: block;
                        margin-bottom: @indent__xs;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            .price-including-tax + .price-excluding-tax,
            .weee + .price-excluding-tax,
            .weee {
                .lib-font-size(14);
                .price {
                    .lib-font-size(14);
                    font-weight: @font-weight__semibold;
                    line-height: 16px;
                }
            }

            .price-wrapper .price {
                .lib-font-size(22);
                font-weight: @font-weight__semibold;
                line-height: 22px;
            }

            .old-price {
                .price-wrapper .price {
                    .lib-font-size(20);
                    font-weight: @font-weight__light;
                }
            }

            .special-price {
                .price-label {
                    &:after {
                        content: ': ';
                    }
                }
            }

            .price {
                white-space: nowrap;
            }
            .attr_dimmable_price{
                .attr_dimmable {
                    float: left;
                    display: inline-block;
                    padding-left: 20px;
                    li{
                        margin-bottom:0px;
                        font-size:16px;
                        &:before{
                            color:#575757;
                        }
                    }
                }
            }
            .c-product-detail__download-pdf{
                float:left;
                margin-left:-18px;
                display:inline-block;
                span{   
                    margin-left:3px;
                    font-size:15px;
                    line-height:1.6;
                    color:#9395a3;
                }
                svg{
                    vertical-align:middle;
                }
            }
            .price-exclude-custom{
                display:none;
            }
        }

        .product-info-stock-sku {
            display: table-cell;
            padding-bottom: @indent__s;
            padding-left: 10%;
            text-align: right;
            vertical-align: top;
        }

        .stock {
            margin: 0 0 3px;

            &.available,
            &.unavailable {
                font-weight: @font-weight__bold;
                text-transform: uppercase;
            }
        }
        .product {
            &.attribute {
                &.overview {
                    margin: @indent__base 0;
                }
            }

            &.alert {
                margin: @indent__s 0;
            }
        }

        .product-add-form {
            clear: both;
            padding-top: @indent__s + @indent__xs;
        }

        .product-reviews-summary {
            float: right;
        }

        .product-options-bottom {
            .box-tocart {
                margin-top: @form-field__vertical-indent;
            }
        }
        .yotpo{
            clear:none;
            float:right;
            .yotpo-display-wrapper{
                .yotpo-stars{
                    .yotpo-icon-star,.yotpo-icon-empty-star{
                    
                        padding:2px;
                        font-size:13px;
                    }
                }
                .text-m{
                    font-size:13px;
                    margin-left:5px;
                    font-weight:600;
                }
            }
        }
        .QABottomLine{
            .standalone-bottomline{
                display:none;
            }
        }
    }
    .u-row--small {
        margin-left: -6px !important;
        margin-right: -6px !important;
        &:after{
            clear:both;
        }
        [class*='col-'] {
            padding-left: 6px !important;
            padding-right: 6px !important
        }

    }
    .u-row--small:after {
        content: " ";
        display: table
    }
    .c-promo {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 12px;
        .c-promo__item-wrapper{
            display:flex;
            a{
                color:#45485c;
            }
        }
        .u-col-lg-1-5{
            width:20%;
        }
    }
    .c-promo__item {
        display: block !important;
        flex: 1 0 auto;
        width: 100%;
        margin-bottom: 12px;
        padding-top: 12px;
        padding-right: 6px;
        padding-bottom: 12px;
        padding-left: 6px;
        border: 1px solid #c2c4cc;
        border-radius: 5px;
        font-size: 11px;
        text-align: center;
        transition: background 0.25s, color 0.25s
    }
    .free-return{
        .text-center{
            text-align:center;
        }
    }
    .c-promo__item--popover{
        cursor:help;
    }
    .c-promo--primary{
        .c-promo__item{
            border-color:#2ba8db;
        }
    } 
    .c-promo--large{
        .c-promo__item{
            font-size:13px;
        }
    } 
    .c-promo__img{
        width: 100%;
        min-height: 36px;
        display: inline-block;
        border: none;
        padding: 0;
    }
    .c-promo--small{
        .c-promo__item{
            padding:6px;
        }
    } 
    .c-promo--default{
        .c-promo__item{
            color:#56596b;
        }
    } 
    .c-product-detail__description{
        .full-description{
            width:100%;
        }
    }
    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 24px;
    }
    .table-striped{
        >tbody{
            >tr:nth-of-type(odd){
                background-color: #f8f9fd;
            }
        }
    }
    .table>thead>tr>th,.table>thead>tr>td,.table>tbody>tr>th,.table>tbody>tr>td,.table>tfoot>tr>th,.table>tfoot>tr>td {
        padding: 8px;
        line-height: 1.5;
        vertical-align: middle;
        border-top: 1px solid #e9eaee;
        text-align:left;
    }
    .c-product-detail__review{
        padding-top:50px;
        margin-top:20px;
        border-top:1px solid #999;
        legend.review-legend{
            span{
                font-size:26px;

            }
            strong{
                font-weight:400;
                font-size:20px;
            }
        }
        .review-field-rating{
            margin-bottom:30px!important;
        }
        input,textarea{
            width:100%;
        }
        .fieldset{
            margin-bottom:30px;
        }
    }
    .wrap-add-qty {
        width: 100%;
        overflow: hidden;
        margin-bottom: 15px;
        .add-to-cart {
            width: 220px;
            float: right!important;
            margin-bottom: 10px;
            .sp-quantity {
                width: 100%;
                label.lb-qty {
                    float: left;
                    margin-right: 30px;
                    padding: 10px 0;
                    font-size: 15px;
                    font-family: 'Open Sans';
                    font-weight: 600;
                    .hidden-qty-cart {
                        overflow: hidden;
                    }
                    
                }
                .quantity-input {
                    width: 48px;
                    height: 48px!important;
                    text-align: center
                }
                .qty-addon {
                    display: inline-block;width: 38px;
                    text-align: center;
                    float: left;
                    height: 48px;
                    line-height: 48px;
                    border: 1px solid #2ba8db;
                    background: #2ba8db;
                    color: #fff;
                    font-weight: 700;
                    padding: 0;
                    cursor: pointer;
                }
            }
            .input-group {
                position: relative;
                display: table;
                border-collapse: separate
            }
            .qty {
                padding: 6px 5px;
            }

        }

    }
    .u-margin-bottom-small{
        margin-bottom:20px;
    }
    .wrap-add-cart{
            .btn-align {
                padding-right: 0;
                float:right;
            }
    } 
    .input-group-addon:not(:first-child):not(:last-child),.input-group-btn:not(:first-child):not(:last-child),.input-group .form-control:not(:first-child):not(:last-child) {
        border-radius: 0;
    }
    .input-group .form-control {
        position: relative;
        z-index: 2;
        float: left;
        width: 100%;
        margin-bottom: 0
    }
    .input-group-addon,.input-group-btn,.input-group .form-control {
        display: table-cell;
    }
    .input-group-addon{
        border-radius:5px;
    }
    .input-group .form-control:first-child,.input-group-addon:first-child,.input-group-btn:first-child>.btn,.input-group-btn:first-child>.btn-group>.btn,.input-group-btn:first-child>.dropdown-toggle,.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle),.input-group-btn:last-child>.btn-group:not(:last-child)>.btn {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
    .input-group .form-control:last-child,.input-group-addon:last-child,.input-group-btn:last-child>.btn,.input-group-btn:last-child>.btn-group>.btn,.input-group-btn:last-child>.dropdown-toggle,.input-group-btn:first-child>.btn:not(:first-child),.input-group-btn:first-child>.btn-group:not(:first-child)>.btn {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0
    }
    .btn-outlined.btn-lg,.btn-group-lg>.btn-outlined.btn {
        padding-top: 11px;
        padding-bottom: 11px;
    }
    .wrap-add-cart a:hover svg g g:nth-of-type(1){
        stroke:#fff;
      
    }
    .wrap-add-cart a:hover svg >g > path{
        stroke:#fff;
    }
    .wrap-add-cart a:hover svg >g > path:nth-of-type(2){
        fill:#fff;
        
    }
    .btn-primary {
        background: #2ba8db;
        color: #fff;
        &:hover {
            background: #1f89b4
        }
    }
    .btn-outlined {
        font-weight: 700;
        text-align: center;
        background: none;
        vertical-align: middle;
        cursor: pointer;
        border-radius: 5px;
        white-space: nowrap;
        transition: all 0.4s ease;
        outline: 0;
        border: 1px solid #2ba8db;
        color: #2ba8db;

    }
    .btn-lg,.btn-group-lg>.btn {
        padding: 12px 24px;
        font-size: 18px;
        line-height: 36px;
        border-radius: 5px
    }
    .btn{
        svg {
            margin-right: 6px;
            vertical-align:middle;
            margin-top:-6px;
        }
    } 

    .btn-block {
        display: block;
        width: 100%
    }
    .btn-outlined.btn-primary:hover,.btn-outlined.btn-primary:focus {
        border-color: transparent;
        background: #2ba8db;
        color: #fff
    }
    .product-info-main{
        .table-save-price {
            display: inline-block;
            width: 100%;
            margin: 20px 0;
            .tierpries-wapper {
                width: 60%;
                padding-right: 10px;
                float: left;
                .table-tierprice-title {
                    color: #5c5f71;
                    font-weight: 700;
                    text-transform: capitalize;
                    font-size: 16px
                }
                .prices-saving {
                    width: 100%;
                    max-width: 100%;
                    overflow-y: auto;
                    tr{
                        border-bottom: 1px solid #e8e9ed;

                        th{
                            color: #45485c;
                        }
                        th,td{
                            border: none;
                            text-align: left;
                            padding: 5px 0;
                        }
                        td{
                            span{
                                font-size:16px;
                            }
                        }
                    }
                }
            }
            .energy-saving-notice {
                border: 1px solid #fadc23;
                border-radius: 3px;
                background-color: #fefae4;
                padding: 15px;
                float: right;
                width: 40%;
                 h3 {
                        color: #ff574f;
                        text-transform: uppercase;
                        font-size: 22px;
                        font-weight: 700;
                        margin: 5px 0
                    }
                    h4 {
                        color: #56596b;
                        font-weight: 700;
                        margin-bottom: 0
                    }
                    p {
                        margin-bottom: 0;
                        color: #56596b;
                        font-size: 14px
                    }
            }
        }

    }
    .product-options-wrapper {
        .fieldset-product-options-inner {
            .legend {
                .lib-css(font-weight, @font-weight__semibold);
                .lib-font-size(14px);
                border: none;
                display: inline-block;
                float: none;
                margin: 0 0 8px;
                padding: 0;
            }

            //  Date & Time custom option (Affect Time that goes only after Date)
            input.datetime-picker {
                ~ select.datetime-picker {
                    margin-top: @indent__s;
                }
            }

            &.required,
            &._required {
                .legend {
                    &:after {
                        content: '*';
                        .lib-typography(
                        @_font-size: @form-field-label-asterisk__font-size,
                        @_color: @form-field-label-asterisk__color,
                        @_font-family: @form-field-label-asterisk__font-family,
                        @_font-weight: @form-field-label-asterisk__font-weight,
                        @_line-height: @form-field-label-asterisk__line-height,
                        @_font-style: @form-field-label-asterisk__font-style
                        );
                    }
                }
            }
        }

        .field {
            .note {
                display: block;
                .lib-css(margin-top, @indent__xs);
            }
        }
    }

    .product-options-bottom .price-box,
    .product-info-price .price-box {
        .lib-css(color, @product-info-price);
        display: table-cell;
        padding-bottom: @indent__s;
        vertical-align: top;

        .old-price {
            font-size: 20px;
            font-weight: @font-weight__light;

            .price-container > span {
                display: inline-block;
            }
        }

        .price-container {
            > span {
                display: block;
                margin-bottom: @indent__xs;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .price {
                font-size: 22px;
                font-weight: @font-weight__semibold;
                line-height: 22px;
            }

            .price-including-tax + .price-excluding-tax,
            .weee + .price-excluding-tax,
            .weee {
                .lib-font-size(12);
                line-height: 14px;

                .price {
                    .lib-font-size(12);
                    font-weight: @font-weight__bold;
                }
            }
        }
    }

    .box-tocart {
        &:extend(.abs-box-tocart all);
        .field.qty {
        }

        .input-text.qty {
            &:extend(.abs-input-qty all);
        }

        .actions {
        }

        .action.tocart {
            &:extend(.abs-button-l all);
            &:extend(.abs-button-responsive all);

            &:not(:last-child) {
                margin-bottom: 15px;
            }

            vertical-align: top;
        }
    }

    .product-addto-links {
        display: inline;

        .action {
            margin-right: 5%;
        }
    }

    .product-social-links {
        margin: 0 0 20px;
        text-align: center;

        .action.tocompare {
            &:extend(.abs-actions-addto all);
            .lib-icon-font-symbol(
                @_icon-font-content: @icon-compare-full,
                @_icon-font-position: before
            );
        }
    }

    .prices-tier {
        &:extend(.abs-reset-list all);
        margin-bottom: @indent__s + @indent__xs;

        .item {
            margin-bottom: @indent__s;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .price-excluding-tax,
        .price-including-tax {
            display: inline-block;
        }
    }

    .minimal-price-link,
    .price-excluding-tax,
    .price-including-tax {
        display: block;
        white-space: nowrap;
    }

    .ui-dialog-titlebar-close {
        .lib-button-as-link();
    }

    //
    //  Sidebar product view
    //  -----------------------------------------

    .sidebar {
        .product-items {
            .product-item {
                margin-bottom: @indent__base;
                position: relative;
            }

            .product-item-info {
                position: relative;
                width: auto;

                .product-item-photo {
                    left: 0;
                    position: absolute;
                    top: 0;
                }
            }

            .product-item-name {
                margin-top: 0;
            }

            .product-item-details {
                margin: 0 0 0 85px;
            }

            .product-item-actions {
                display: block;
                margin-top: @indent__s;
            }

            .price-box {
                display: block;
                margin: 7px 0;
            }

            .text {
                margin-right: 8px;
            }

            .counter {
                .lib-css(color, @primary__color__lighter);
                font-size: 12px;
                white-space: nowrap;
            }

            .minilist {
                .price {
                    display: inline;
                    padding: 0;
                }

                .weee:before {
                    display: inline-block;
                }
            }

            .action {
                &.delete {
                    &:extend(.abs-remove-button-for-blocks all);
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }

        .action.tocart {
            border-radius: 0;
        }

        .subtitle {
            &:extend(.abs-no-display all);
        }

        //
        //  Product images only
        //  -------------------------------------

        .product-items-images {
            &:extend(.abs-add-clearfix all);
            margin-left: -@indent__xs;

            .product-item {
                &:extend(.abs-add-box-sizing all);
                float: left;
                padding-left: @indent__xs;
            }
        }

        //
        //  Product names only
        //  -------------------------------------

        .product-items-names {
            .product-item {
                margin-bottom: @indent__s;
            }

            .product-item-name {
                margin: 0;
            }
        }
    }

    // Option product
    .product-options-wrapper{
        .select-pro{
            color: #000;
            margin-bottom: 20px;
        } 
    } 

    .table>thead>tr>th,.table>thead>tr>td,.table>tbody>tr>th,.table>tbody>tr>td,.table>tfoot>tr>th,.table>tfoot>tr>td {
        padding: 8px;
        line-height: 1.5;
        vertical-align: top;
        border-top: 1px solid #e9eaee
    }
    .table>thead>tr>th {
        border-bottom: none
    }

    .table>tbody>tr>td,.table>tbody>tr>th,.table>tfoot>tr>td,.table>tfoot>tr>th,.table>thead>tr>td,.table>thead>tr>th {
        vertical-align: middle
    }
    .table>caption+thead>tr:first-child>th,.table>caption+thead>tr:first-child>td,.table>colgroup+thead>tr:first-child>th,.table>colgroup+thead>tr:first-child>td,.table>thead:first-child>tr:first-child>th,.table>thead:first-child>tr:first-child>td {
        border-top: 0
    }

    .c-stepper__minus,.new-quantity .minus,.c-stepper__plus,.new-quantity .plus {
        position: absolute;
        top: 50%;
        width: 22px;
        margin-top: -12.5px;
        padding: 0 6px;
        background-color: #f8f9fd;
        font-size: 14px;
        line-height: 23px;
        text-align: center;
        border: 1px solid #2ba8db;
        border-radius: 3px 0 0 3px;
        transition: background-color 0.2s ease
    }
    .c-stepper__plus,.new-quantity .plus {
        left: 56px;
        border-radius: 0 3px 3px 0
    }
    .c-stepper__input,.new-quantity .quantity-input {
        height: 25px;
        width: 70px;
        text-align: center;
        padding: 0px 20px;
        background: #fff;
        border: 1px solid #2ba8db;
        border-radius: 3px
    }
    .c-stepper, .new-quantity{
        position:relative;
    }

    .product-options{
        dl{
            dd{
                .input-box {
                    margin-bottom: 20px;
                    .info-circle {
                        display: inline-block;
                        width: 24px;
                        height: 22px;
                        background: url("../images/bundle_product/info.png") no-repeat;
                        vertical-align: top;
                        margin-left: 5px
                    }
                } 
            }
            dt{
                label.bundle-multi-title {
                    font-size: 15px;
                    color: #a4a6a9;
                    font-weight: 300
                }
            } 
        } 
        .select-dropdown-option {
            float: left;
            width: 72%;
            margin-right: 4%;
            label {
                font-size: 1em
            }
            select{
                width:100%;
                height:48px;
                padding:10px;
                background: #fff url('../images/bundle_product/arrow-down.png') no-repeat 97% 45%;
                border:1px solid #2BA8DB;
                border-radius:5px;
                -webkit-border-radius:5px;
                -moz-border-radius:5px;
                -webkit-appearance:none!important;
                appearance:none!important;
                
                option{
                    min-width: 160px;
                    padding: 5px 0;
                    margin: 2px 0 0;
                    list-style: none;
                    font-size: 16px;
                    text-align: left;
                    background-color: #fff;
                    border: 1px solid #ccc;
                    border: 1px solid rgba(0,0,0,0.15);
                    border-radius: 5px;
                    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
                    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
                    background-clip: padding-box
                }
            }
        }
        .selection-bundle-qty {
            float: left;
            width: 24%;
            margin-bottom: 21px;
            label {
                width: 100%;
                font-size: 1em
            }
            .qty-box {
                border: 1px solid #27a7de;
                border-radius: 3px;
                width: 100%;
                display: inline-block;
                overflow: hidden;
                text-align: center;
                input {
                    text-align: center;
                    height: 46px;
                    border-left: 1px solid #eaeaee;
                    border-right: 1px solid #eaeaee;
                    border-bottom: none;
                    border-top: none;
                    width: 38%;
                    float: left
                }
                span {
                    width: 31%;
                    background: #27a7de;
                    color: #fff;
                    cursor: pointer;
                    font-size: 24px;
                    line-height: 46px;
                    float: left;
                    height: 46px
                }

            }
        }
        .qty-box{
            display: inline-block;
            width: 90px;
            border: 1px solid #27a7de;
            border-radius: 3px;
            overflow: hidden;
            text-align: center;
            vertical-align: middle;
            span.bundle-plus {
                float: right
            }
            input {
                text-align: center;
                height: 48px;
                border-left: 1px solid #eaeaee;
                border-right: 1px solid #eaeaee;
                border-bottom: none;
                border-top: none;
                width: 38%;
                float: left
            }
            span {
                width: 31%;
                background: #27a7de;
                color: #fff;
                cursor: pointer;
                font-size: 18px;
                line-height: 48px;
                float: left;
                height: 48px
            }
        }
        .bundle-radio-dt {
            margin-top: 10px;
            label {
                vertical-align: top
            }
        } 
        .radio-bundle-qty {
            display: inline-block;
            width: 100%;
            label {
                display: inline-block;
                margin-right: 10px;
                vertical-align: top
            }
        }
        .bundle-radio-options,.bundle-checkbox-options {
            padding: 12px 18px 24px;
            border: 1px solid #c2c3cc;
            border-radius: 3px
        }
    } 
    .bundle-option-multi {
        border: 1px solid #27a7de;
        border-radius: 3px;
        padding: 0px!important;
        margin: 10px 0;
        table{
            width:100%;
        }
        tr{
            td {
                border-bottom: 1px solid #27a7de;
                padding: 6px
            }
        }
        .col-name {
            width: 70%;
            .label {
                white-space: normal;
                position: relative;
                display: block;
                img {
                    position: absolute;
                    top: 50%;
                    margin-top: -25px;
                    width:50px;
                }
                .info-circle {
                    position: absolute;
                    left: -7px;
                    top: -4px;
                    z-index: 99
                }
                label {
                    text-align: left;
                    padding-left: 60px;
                    font-weight: 400
                }

            }
        }
        .col-price,.col-qty {
            width: 15%;
            position: relative;
            .info-item-product{
                display: none;
                box-shadow: 0 0 10px rgba(47,48,58,.77);
                padding: 25px 15px;
                width: 700px;
                position: absolute;
                top: -20px;
                right: -1px;
                border: 1px solid #27a7de;
                border-radisus: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                background: #fff;
                z-index: 999;
                .info-left{
                    float: left;
                    width: 15%;
                }
                .info-right-content{
                    float: left;
                    width: 85%;
                    padding:0px 5px;
                    h3.name-pro{
                        font-size: 23px;
                        padding-left:15px;
                    }
                    .info-product{
                        .gavs_symbol,.after_comma{
                            font-size: 30px;
                            font-weight: 300;
                        }
                        .gav_reprice{
                            font-size: 48px;
                            font-weight: 300;
                        }
                        .price-including-tax{
                            .gav_reprice,.gavs_symbol,.after_comma{
                                font-size: 13px;
                                color:red;
                                font-weight:300;
                            }
                        }
                        .inc-vat{
                            display: inline;
                        }
                        .c-product-detail__saved-price{
                            display: block;
                            padding-left: 0px;
                            .price{
                                color: red;
                                font-size: 13px;
                            }
                        }
                        .c-product-detail__review{
                            float: left;
                            width: 100%;
                            .yotpo-icon{
                                font-size: 12px;
                                margin-top: 3px
                            }
                            .text-m{
                                display: inline-block;
                                font-size: 13px;
                                margin-left: 5px
                            }
                        }
                         .yotpo{
                            clear:both;
                            float:none;
                            .yotpo-display-wrapper{
                                .text-m{
                                    font-weight:300;
                                }
                            } 
                        }
                        .info-price-product{
                            padding:0px;
                        }
                    }
                }
            }
        }
        .bundle-multi-title {
            font-weight: 700
        }
        td{
            .bundle-input-qty{
                input {
                    font-size: 16px;
                    padding: 0;
                    span{
                        padding: 0;
                         width: 25px;
                    }
                }
            }   
        } 
        tr:last-child{
            td {
                border-bottom: none;
            }
        } 
    }
    .product-options .bundle-radio-options .options-list,.product-options .bundle-radio-options tr.checkbox-list,.product-options .bundle-checkbox-options .options-list,.product-options .bundle-checkbox-options tr.checkbox-list {
        margin: 0
    }

    .product-options .bundle-radio-options .options-list li,.product-options .bundle-radio-options .options-list td,.product-options .bundle-radio-options tr.checkbox-list li,.product-options .bundle-radio-options tr.checkbox-list td,.product-options .bundle-checkbox-options .options-list li,.product-options .bundle-checkbox-options .options-list td,.product-options .bundle-checkbox-options tr.checkbox-list li,.product-options .bundle-checkbox-options tr.checkbox-list td {
        position: relative
    }

    .product-options .bundle-radio-options .options-list li input.checkbox,.product-options .bundle-radio-options .options-list li input.radio,.product-options .bundle-radio-options .options-list td input.checkbox,.product-options .bundle-radio-options .options-list td input.radio,.product-options .bundle-radio-options tr.checkbox-list li input.checkbox,.product-options .bundle-radio-options tr.checkbox-list li input.radio,.product-options .bundle-radio-options tr.checkbox-list td input.checkbox,.product-options .bundle-radio-options tr.checkbox-list td input.radio,.product-options .bundle-checkbox-options .options-list li input.checkbox,.product-options .bundle-checkbox-options .options-list li input.radio,.product-options .bundle-checkbox-options .options-list td input.checkbox,.product-options .bundle-checkbox-options .options-list td input.radio,.product-options .bundle-checkbox-options tr.checkbox-list li input.checkbox,.product-options .bundle-checkbox-options tr.checkbox-list li input.radio,.product-options .bundle-checkbox-options tr.checkbox-list td input.checkbox,.product-options .bundle-checkbox-options tr.checkbox-list td input.radio {
        opacity: 0 !important;
        position: absolute !important;
        left: 0px;
        top: 0px;
        width: 60px;
        height: 60px;
        z-index: 20
    }

    .product-options .bundle-radio-options .options-list li input.checkbox:checked+.label:after,.product-options .bundle-radio-options .options-list li input.radio:checked+.label:after,.product-options .bundle-radio-options .options-list td input.checkbox:checked+.label:after,.product-options .bundle-radio-options .options-list td input.radio:checked+.label:after,.product-options .bundle-radio-options tr.checkbox-list li input.checkbox:checked+.label:after,.product-options .bundle-radio-options tr.checkbox-list li input.radio:checked+.label:after,.product-options .bundle-radio-options tr.checkbox-list td input.checkbox:checked+.label:after,.product-options .bundle-radio-options tr.checkbox-list td input.radio:checked+.label:after,.product-options .bundle-checkbox-options .options-list li input.checkbox:checked+.label:after,.product-options .bundle-checkbox-options .options-list li input.radio:checked+.label:after,.product-options .bundle-checkbox-options .options-list td input.checkbox:checked+.label:after,.product-options .bundle-checkbox-options .options-list td input.radio:checked+.label:after,.product-options .bundle-checkbox-options tr.checkbox-list li input.checkbox:checked+.label:after,.product-options .bundle-checkbox-options tr.checkbox-list li input.radio:checked+.label:after,.product-options .bundle-checkbox-options tr.checkbox-list td input.checkbox:checked+.label:after,.product-options .bundle-checkbox-options tr.checkbox-list td input.radio:checked+.label:after {
        border-color: #1f89b4
    }

    .product-options .bundle-radio-options .options-list li input.checkbox:checked+.label.checkbox-style:after,.product-options .bundle-radio-options .options-list li input.radio:checked+.label.checkbox-style:after,.product-options .bundle-radio-options .options-list td input.checkbox:checked+.label.checkbox-style:after,.product-options .bundle-radio-options .options-list td input.radio:checked+.label.checkbox-style:after,.product-options .bundle-radio-options tr.checkbox-list li input.checkbox:checked+.label.checkbox-style:after,.product-options .bundle-radio-options tr.checkbox-list li input.radio:checked+.label.checkbox-style:after,.product-options .bundle-radio-options tr.checkbox-list td input.checkbox:checked+.label.checkbox-style:after,.product-options .bundle-radio-options tr.checkbox-list td input.radio:checked+.label.checkbox-style:after,.product-options .bundle-checkbox-options .options-list li input.checkbox:checked+.label.checkbox-style:after,.product-options .bundle-checkbox-options .options-list li input.radio:checked+.label.checkbox-style:after,.product-options .bundle-checkbox-options .options-list td input.checkbox:checked+.label.checkbox-style:after,.product-options .bundle-checkbox-options .options-list td input.radio:checked+.label.checkbox-style:after,.product-options .bundle-checkbox-options tr.checkbox-list li input.checkbox:checked+.label.checkbox-style:after,.product-options .bundle-checkbox-options tr.checkbox-list li input.radio:checked+.label.checkbox-style:after,.product-options .bundle-checkbox-options tr.checkbox-list td input.checkbox:checked+.label.checkbox-style:after,.product-options .bundle-checkbox-options tr.checkbox-list td input.radio:checked+.label.checkbox-style:after {
        background: #1f89b4
    }

    .product-options .bundle-radio-options .options-list li .label,.product-options .bundle-radio-options .options-list td .label,.product-options .bundle-radio-options tr.checkbox-list li .label,.product-options .bundle-radio-options tr.checkbox-list td .label,.product-options .bundle-checkbox-options .options-list li .label,.product-options .bundle-checkbox-options .options-list td .label,.product-options .bundle-checkbox-options tr.checkbox-list li .label,.product-options .bundle-checkbox-options tr.checkbox-list td .label {
        padding-left: 35px;
        position: relative;
        white-space: inherit;
        text-align: left;
        display: block;
        padding: 0px
    }

    .product-options .bundle-radio-options .options-list li .label.checkbox-style:after,.product-options .bundle-radio-options .options-list td .label.checkbox-style:after,.product-options .bundle-radio-options tr.checkbox-list li .label.checkbox-style:after,.product-options .bundle-radio-options tr.checkbox-list td .label.checkbox-style:after,.product-options .bundle-checkbox-options .options-list li .label.checkbox-style:after,.product-options .bundle-checkbox-options .options-list td .label.checkbox-style:after,.product-options .bundle-checkbox-options tr.checkbox-list li .label.checkbox-style:after,.product-options .bundle-checkbox-options tr.checkbox-list td .label.checkbox-style:after {
        background: #e6e6e6;
        border-radius: 0;
        border: 0
    }

    .product-options .bundle-radio-options .options-list li .label.checkbox-style:before,.product-options .bundle-radio-options .options-list td .label.checkbox-style:before,.product-options .bundle-radio-options tr.checkbox-list li .label.checkbox-style:before,.product-options .bundle-radio-options tr.checkbox-list td .label.checkbox-style:before,.product-options .bundle-checkbox-options .options-list li .label.checkbox-style:before,.product-options .bundle-checkbox-options .options-list td .label.checkbox-style:before,.product-options .bundle-checkbox-options tr.checkbox-list li .label.checkbox-style:before,.product-options .bundle-checkbox-options tr.checkbox-list td .label.checkbox-style:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        border-color: #fff;
        border-image: none;
        border-style: solid;
        border-width: 0 2px 2px 0;
        height: 12px;
        left: 8px;
        top: 8px;
        transform: rotate(45deg);
        width: 5px;
        z-index: 10
    }

    .product-options .bundle-radio-options .options-list li .label img,.product-options .bundle-radio-options .options-list td .label img,.product-options .bundle-radio-options tr.checkbox-list li .label img,.product-options .bundle-radio-options tr.checkbox-list td .label img,.product-options .bundle-checkbox-options .options-list li .label img,.product-options .bundle-checkbox-options .options-list td .label img,.product-options .bundle-checkbox-options tr.checkbox-list li .label img,.product-options .bundle-checkbox-options tr.checkbox-list td .label img {
        position: absolute
    }

    .product-options .bundle-radio-options .options-list li:hover .label:after,.product-options .bundle-radio-options .options-list td:hover .label:after,.product-options .bundle-radio-options tr.checkbox-list li:hover .label:after,.product-options .bundle-radio-options tr.checkbox-list td:hover .label:after,.product-options .bundle-checkbox-options .options-list li:hover .label:after,.product-options .bundle-checkbox-options .options-list td:hover .label:after,.product-options .bundle-checkbox-options tr.checkbox-list li:hover .label:after,.product-options .bundle-checkbox-options tr.checkbox-list td:hover .label:after {
        border-color: #1f89b4
    }

    .product-options .bundle-checkbox-options {
        border: none;
        padding: 0;
        border-radius: 0
    }

    .product-options .product-options .bundle-radio-options .options-list td .label,.product-options .product-options .bundle-radio-options tr.checkbox-list td .label,.product-options .product-options .bundle-checkbox-options tr.checkbox-list td .label,.product-options .product-options .bundle-checkbox-options .options-list td .label {
        padding-left: 0px
    }

    .product-options .product-options .bundle-radio-options .options-list td .label label,.product-options .product-options .bundle-radio-options tr.checkbox-list td .label label,.product-options .product-options .bundle-checkbox-options tr.checkbox-list td .label label,.product-options .product-options .bundle-checkbox-options .options-list td .label label {
        padding-left: 35px
    }
    .block__upsell__product,.block__related__product{
        clear:both;
        .block-title{
           h2{
                color: #2ba8db;
                margin: 0;
           } 
        }
    }
    .c-product-detail__product-photo{
        text-align:center;
    }
    .product-detail{
            .product-photo{
                .badges {
                    position: absolute;
                    background: #2ba8db;
                    border-radius: 50%;
                    left: 15px;
                    top: -15px;
                    width: 81px;
                    height: 81px;
                    color: #fff;
                    .sale{
                        .text-replacement {
                            font-size: 11px;
                            margin-top: 20px;
                            text-transform: uppercase;
                            font-weight: 300
                        } 
                        .text-led-sale {
                            font-size: 25px;
                            line-height: 2.5px;
                            margin-top: 11px
                        }

                    } 
                } 
                .color-options{
                    .click-thumb{
                        img.img-thumb {
                            opacity: 0.5
                        } 
                        img.img-thumb.active {
                            opacity: 1
                        }
                    } 
                } 
            } 
        .modal {
            display: none;
            position: fixed;
            z-index: 9999;
            padding-top: 50px;
            padding-bottom: 50px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: #000;
            background-color: rgba(0,0,0,0.9)
        } 
        .modal-content {
            margin: auto;
            display: block;
            width: 70%;
            max-width: 670px;
            padding: 0
        }
        #caption {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
            text-align: center;
            color: #ccc;
            padding: 10px 0;
            height: 150px
        }
        .close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #f1f1f1;
            font-size: 40px;
            font-weight: 300;
            transition: 0.3s;
            opacity: 1;
            &:hover,&:focus{
                color: #bbb;
                text-decoration: none;
                cursor: pointer
            }
        }
        .product-img-box{
            .more-views{
                padding-top:20px;
                .color-options {
                    position: relative;
                    .prev {
                        left: 0
                    }
                    .next {
                        right: 0
                    }
                    .prev.next{
                        position: absolute;
                        top: 50%;
                        margin-top: -12.5px;
                        z-index: 1
                    }
                }   
                .owl-item{
                    li{
                        float:left;
                    }
                } 
            } 
        } 
    } 
    .gallery{
        .modal-navigation {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 840px;
            height: 90px;
            margin-left: -420px;
            margin-top: -45px;
            position: absolute;
            cursor: pointer;
            color: #fff;
            i {
                font-size: 6em;
                position: absolute;
                cursor: pointer;
                color: #fff
            }

            i.fa-angle-left {
                left: 0
            }
            i.fa-angle-right {
                right: 0
            }
        }  
    } 

       .description {
            margin-top: 20px;
        }
        .star_attributes{
            ul{
                li{
                    font-size:14px;
                }
            } 
        } 
        .description_product{
            p{
                font-size:14px;
            }
        } 
        .key-benefits{
            ul{
               li{
                    float: left;
                    width: 16.666666%;
                    margin-bottom: 0;
                    padding: 5px;
                    img {
                        margin-bottom: 15px
                    }
                    p {
                        margin-bottom: 0
                    }
                }    
            } 
        } 
    .industrial-page{
        .content-page{
            .trade-img-left {
                display: none;
            }
        } 
    } 
    .key-benefits {
        float: left;
        width: 100%;
         h3 {
            margin-top: 0;
            color: #a4a6a9;
        }
    }
    .most-products-used {
        display: block;
        float: left;
        margin: 20px 0;
        ul{
            li {
                float: left;
                width: 25%;
                a {
                    display: block;
                    width: 100%;
                    padding: 10px;
                    border: 1px solid transparent;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                    color: #2f343b;
                    margin-bottom: 0px;
                    text-align: center;
                    font-size: 1.125em;
                    -webkit-transition: border 0.25s ease;
                    -moz-transition: border 0.25s ease;
                    transition: border 0.25s ease;
                    &:hover {
                        border-color: #2ba8db;
                        text-decoration: none
                    }
                    span {
                        font-size: 16px;
                        color: #2f343b;
                        margin: 10px 0
                    }

                }
            }
        } 
    }
    .bottom-description,.most-products-used,.main-products-used{
        h3{
            margin-top: 0;
            color: #a4a6a9;
        }
    }
    .left-commercial {
        padding-left: 0
    }
    .right-commercial{
        .main-products-used{
            float: left;
            margin-top: 20px
        }
    } 
    .commercial-sectors{
        li {
            width: 14.27%;
            float: left;
            text-align: center;
            border: none;
            background: none !important;
            a {
                color: #000;
                padding: 70px 0 0 !important;
                background: url("../images/bg-trade-nav.png") no-repeat;
                white-space: nowrap;
                float: left;
                width: 100%;
                font-size: 14px;
                transition: all 0.2s ease;
                &:hover{
                    background: url("../images/bg-trade-nav-hover.png") no-repeat;
                }
            }
        }
        .trade-sub-1 a,.trade-sub-1 a:hover {
            background-position: 25px 0 !important;
        }
        .trade-sub-8 a,.trade-sub-8 a:hover {
            background-position: 25px -130px !important
        }

        .trade-sub-15 a,.trade-sub-15 a:hover {
            background-position: 25px -253px !important
        }

        .trade-sub-13 a,.trade-sub-13 a:hover {
            background-position: -524px -130px !important
        }

        .trade-sub-20 a,.trade-sub-20 a:hover {
            background-position: -524px -253px !important
        }

        .trade-sub-6 a,.trade-sub-6 a:hover {
            background-position: -524px 0 !important
        }

        .trade-sub-16 a,.trade-sub-16 a:hover {
            background-position: -84px -253px !important
        }

        .trade-sub-9 a,.trade-sub-9 a:hover {
            background-position: -84px -130px !important
        }

        .trade-sub-2 a,.trade-sub-2 a:hover {
            background-position: -84px 0 !important
        }
    } 
    .catalog-category-view{
        .home_choose_products{
            .choose_product_contents{
                ul{
                    display:block!important;
                }
            } 
        }
        .class-base-selector{
            width: 100vw;
            position: relative;
            left: 33%;
            right: 67%;
            margin-left: -50vw;
            margin-right: 67vw;
            .base-unsure-box{
                display:block;
                margin:0 auto;
                 width:100%;
                &:after{
                    content:'';
                    display:table;
                    clear:both;
                   
                }
            }
            .home_choose_products{
                width:100%;
                margin:0 auto;
                display:block;
            }
        } 
    }
    .shop-filters {
        width: 100%;
        position: relative;
        .filter-section{
            &:last-child{
                padding-bottom:0px; 
            }
            h3 {
                font-size: 1.125em;
                font-weight: 400
            }
            .categories {
                list-style: none;
                margin: 0;
                padding: 0;
                font-size: 1em;
                font-weight: 300;
                li{
                    a{
                         color: #2f343b;
                    }
                    &:hover{
                        >a{
                            text-decoration: none;
                            color: #2ba8db
                        }
                    }
                }
                >li {
                    line-height: 1;
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    width: 100%;
                    padding: 9px 20px;
                    background: #e1e2e2;
                    a {
                        width: 100%;
                        display: inline-block
                    }
                }
            }
        }
    }
    .c-mini-cart__total{
        .actions{
            .primary{
                .btn-proceed-checkout{
                    display:inline-block;
                    width:100%;
                    &:hover{
                        color:#fff;
                    }
                    &:focus{
                        color:#fff;
                    }
                }
            }
        }
    }
    div.fotorama__thumb-border{
        border:none;

    }
    div.fotorama__thumb{
        background:none;
    }
    .fotorama__stage.fotorama__shadows--left:before,
    .fotorama__nav.fotorama__shadows--left:before{
        background:none!important;
    }
    .fotorama__stage.fotorama__shadows--right:after,
    .fotorama__nav.fotorama__shadows--right:after{
         background:none!important;
    }
}

//
//  Mobile @screen__m
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .catalog-product-view {
        .column.main {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-direction(column);
        }

        .product.media {
            .lib-vendor-prefix-order(-1);
        }
    }
}

//
//  Mobile @screen__s
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .product-social-links {
        .action.tocompare {
            display: none;
        }
    }

    .product-info-price {
        margin: 0 -@indent__s 0;
        width: ~'calc(100% + 2*@{indent__s})' !important;

        > *:first-child {
            padding-left: @indent__s;
        }

        > *:last-child {
            padding-right: 0;
        }
    }

    .product.info.detailed {
        .additional-attributes-wrapper {
            &:extend(.abs-no-border-top all);
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .product-info-main {
        .page-title-wrapper {
            h1 {
                .lib-css(margin-bottom, @product-h1-margin-bottom-desktop);
            }
        }

        .product-add-form {
            padding-top: @indent__base;
        }
    }

    .box-tocart {
        .action.tocart {
            margin-bottom: 0;
            margin-right: 1%;
            width: 49%;
        }
    }

    .product-social-links {
        text-align: left;
    }

    .product-options-bottom,
    .product-info-price {
        .price-box {
            .price-container {
                font-size: @font-size__xl;

                .price {
                    font-size: 36px;
                    line-height: 36px;
                }
            }

            .price-including-tax + .price-excluding-tax {
                .price {
                    .lib-font-size(14);
                    line-height: 16px;
                }
            }
        }
    }

    //
    //  Category page layout
    //  -----------------------------------------

    .product-info-main {
        float: right;
    }

    .product.media {
        float: left;
        margin-bottom: @indent__m;
    }

    .page-layout-1column {
        .product-info-main {
            width: 50%;
            padding-top:40px;
            padding-bottom:40px;
        }

        .product.media {
            width: 50%;
            .embed-frame{
                min-height:360px;
                margin-top:15px;
            }
        }
    }
    .c-product-detail__description{
        .embed-frame-mobie{
            display:none;
        }
    }

    .page-layout-2columns-left,
    .page-layout-2columns-right,
    .page-layout-3columns {
        .product-info-main {
            width: 48%;
        }

        .product.media {
            width: 50%;
        }
    }

    .product-add-form {
        .product-options-wrapper {
            .field {
                .control {
                    width: 80%;
                }
            }
        }
    }

    .sidebar {
        .product-items {
            .product-item-info {
                .product-item-photo {
                    float: left;
                    left: auto;
                    margin: 0 @indent__s @indent__s 0;
                    position: relative;
                    top: auto;
                }
            }

            .product-item-details {
                margin: 0;
            }

            .product-item-actions {
                clear: left;
            }
        }
    }
}

//
//  Desktop large
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .sidebar {
        .product-items {
            .product-item-info {
                .product-item-photo {
                    float: none;
                    left: 0;
                    margin: 0;
                    position: absolute;
                    top: 0;
                }
            }

            .product-item-details {
                margin-left: 85px;
            }
        }
    }
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Compare Products Page
    //  -----------------------------------------

    body.catalog-product-compare-index {
        .action.print {
            float: right;
            margin: 15px 0;
        }
    }

    .table-wrapper.comparison {
        clear: both;
        max-width: 100%;
        overflow-x: auto;
        position: relative; // Needed for Safari(iOS) to properly render "overflow-x" rule.

        .table-comparison > tbody > tr {
            > th,
            > td {
                border-top: 0;
            }
        }
    }

    .table-comparison {
        table-layout: fixed;

        .cell {
            padding: 15px;
            width: 180px;

            &.label {
                border-right: @table__border-width @table__border-style @table__border-color;

                &.remove,
                &.product {
                    span {
                        &:extend(.abs-visually-hidden all);
                    }
                }

                .attribute.label {
                    display: block;
                    width: 100%;
                    word-wrap: break-word;
                }
            }

            &.product {
                &.info,
                &.label {
                    border-bottom: @table__border-width @table__border-style @table__border-color;
                }
            }

            &.attribute {
                .lib-font-size(13);

                img {
                    height: auto;
                    max-width: 100%;
                }
            }

            &.remove {
                padding-bottom: 0;
                padding-top: 0;
                text-align: right;

                .action.delete {
                    &:extend(.abs-remove-button-for-blocks all);
                    margin-right: .6rem;
                }
            }

            .attribute.value {
                overflow: hidden;
                width: 100%;
            }
        }

        td {
            &:last-child {
                border-right: @table__border-width @table__border-style @table__border-color;
            }
        }

        .product-item-photo {
            display: block;
            margin: 0 auto 15px;
        }

        .product-image-photo {
            margin-left: 0;
        }

        .product-item-actions,
        .price-box,
        .product.rating,
        .product-item-name {
            display: block;
            margin: 15px 0;
        }

        .product-addto-links {
            margin-top: 15px;

            .action {
                &.toggle {
                    padding: 0;
                }

                &.split,
                &.toggle {
                    .lib-button-s();
                }
            }
        }

        .action {
            &.tocart {
                white-space: nowrap;
            }
        }
    }

    .comparison.headings {
        .lib-css(background, @color-white);
        left: 0;
        position: absolute;
        top: 0;
        width: auto;
        z-index: 2;
    }

    .block-compare {
        .block-title {
            &:extend(.abs-block-widget-title all);
        }

        .product-item .product-item-name {
            margin-left: 22px;
        }

        .action.delete {
            &:extend(.abs-remove-button-for-blocks all);
            left: 0;
            position: absolute;
            top: 0;
        }

        .counter {
            &:extend(.abs-block-items-counter all);
        }

        .actions-toolbar {
            margin: 17px 0 0;
        }

        .action.primary {
            &:extend(.abs-revert-to-action-secondary all);
        }
    }
    .wrap-add-cart,.bundle-options-wrapper{
        &:after{
            content:'';
            display:table;
            clear:both;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .table-wrapper.comparison {
        .table-comparison > tbody > tr {
            > th,
            > td {
                display: table-cell;
                &:extend(.abs-col-no-prefix all);
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .compare.wrapper,
    [class*='block-compare'] {
        display: none;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .compare.wrapper {
        float: right;
        .lib-list-reset-styles();

        .action.compare {
            line-height: @form-element-input__height;
            .lib-link(
                @_link-color: @primary__color,
                @_link-text-decoration: none,
                @_link-color-visited: @primary__color,
                @_link-text-decoration-visited: none,
                @_link-color-hover: @primary__color,
                @_link-text-decoration-hover: underline,
                @_link-color-active: @primary__color,
                @_link-text-decoration-active: underline
            );
        }

        .counter.qty {
            .lib-css(color, @primary__color__lighter);

            &:before {
                content: '(';
            }

            &:after {
                content: ')';
            }
        }
    }
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .block.related {
        .action.select {
            &:extend(.abs-action-button-as-link all);
            vertical-align: top;
        }

        .product-item-details {
            position: relative;
            z-index: 1;
        }

        .related-available .product-item-name {
            margin-left: 20px;
        }

        .field.choice {
            left: 0;
            position: absolute;
            top: 2px;

            .label {
                &:extend(.abs-visually-hidden all);
            }
        }
    }
}

//
//  Desktop large
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .box-tocart {
        .paypal:first-of-type {
            margin-top: 13px;
        }
    }
}

@media (min-width: 1200px){
    .u-col-lg-1-5{
        width:20%;
    }
    .c-promo__item{
        font-size:13px;
    }
    .wrap-gallery-placeholder{
            .badges {
                left:0
            }  
    } 
}
@media (max-width: 992px){
   .wrap-add-cart{
        .col-sm-12{
            padding:0px;
        }
   } 
   .commercial-sectors{
        li{
            width:25%;
       }
   } 
   .catalog-category-view{
        .class-base-selector{
                left:23%;
                .home_choose_products .select_products > li.start_here .big{
                    font-size:26px;
                }
        }
   } 
}
@media (max-width: 768px){
   .page-title-wrapper.product{
        h1{
            font-size:21px;
            text-align:left;
        }
   } 
   .hidden-phone{
        display:none;
   }

   .bundle-option-multi{
        .col-qty{
            .info-item-product{
                width:90vw;
            }
        } 
   } 
   .column.main{
        .product-info-main{
            .page-title-wrapper{
                text-align:left;
                padding-top:8px;
           }
        }
   } 
   .filters-mobile{
        display:none;
   }
   .commercial-sector{
        .hidden-desktop{
            display:block;
        }
   }
    .right-commercial{
       .title {
            line-height: 50px;
            text-align: center;
            margin: 0;
            font-size: 24px
        } 
    } 
    .right-commercial{
        .key-benefits{
             ul{
                li {
                    width: 33.3333333%;
                    padding: 5px;
                    p {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        width: 100%
                    }
                }   
             } 
        }
    } 
     .most-products-used,.right-commercial .main-products-used, .key-benefits{
            text-align: center;
            font-size: 20px
     }
        .product.attribute.sku{
            float:none;
            padding-top:15px;
        }
        .product-info-main{
            
            .product-info-price{
                .attr_dimmable_price{
                    display:none;
                }
                .price-box{
                    .price-container{
                        > span{
                            float:none;
                        }
                        .price-excluding-tax{
                            padding-left:10px;
                            padding-top:2px;
                        }
                    } 
                } 
                .special-offer-left .special-price span.price-excluding-tax{
                    padding-left:0px;
                }
            } 
        } 
        .product-info-main{
            .yotpo{
                float:none;
                padding-bottom:5px;
            }
        } 
        .wrap-add-cart{
            .col-sm-12{
                width:100%;
            }
        } 
        .fotorama__nav--dots{
           .fotorama__nav__frame{
                display:none
           }  
        }
        .product-info-main {
             .page-title-wrapper{
                h1{
                    margin-bottom:5px;
                }
             } 
        } 
        .wrap-gallery-placeholder{
            .badges{
                top:5px;
            }
        } 
        .page-layout-1column{
            .product.media{
                .embed-frame{
                    display:none;
                }
            } 
        } 
        .c-product-detail__description{
            .embed-frame-mobie{
                min-height:360px;
                margin:10px 0px;
                display:block;
            }
        }
        .down-pdf-left{
            margin-right:20px;
        }
        .commercial-sectors{
            li{
                width:16.27%;
           }
       } 
       .catalog-category-view{
            .class-base-selector{
                    left:50%;
            }
       } 
    .product-info-main{
        .product-info-price{
            width:184px!important;
        }
    } 
}
@media (max-width: 640px){
    .down-pdf-left {
        width:100%;
        text-align: center;
        margin-bottom: 20px;
        float: none
    }

    .down-pdf-left a {
        display: inline-block
    }   
    div.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--prev:not(:focus),.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--next:not(:focus){
        transform:initial;
        -webkit-transform:initial;
    }  
    div.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr, .fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon{
        opacity:1;

    }
    .fotorama__arr, .fotorama__thumb__arr{
        background:none!important;
    }
    .fotorama__arr.fotorama__arr--next,.fotorama__arr.fotorama__arr--prev{
        display:block!important;
    }
    .fotorama__arr--prev{
        left:-18px!important;
    }
    .fotorama__arr--next{
        right:-18px!important;
    }
    .commercial-sectors{
            li{
                width:19.10%;
           }
       } 
}
@media (max-width: 480px){
    .commercial-sectors{
        li{
            width:50%;
            a{
                background: none;
                padding: 0 !important;
                color: #2ba8db;
            }
         } 
    } 
    .catalog-product-view{
        #maincontent{
            padding:0px;
        }
    }
}
@media (max-width: 400px){
    .product-options{
        .qty-box{
            width:59px;
        }
    }  
}
@media (max-width: 360px){
    .bundle-option-multi tr td{
        padding-left:0px;
    }
}