<?php 
$_objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
$projectCollection = $this->getProjectOfCustomer();
    $_product=$this->getProduct();
?>
<?php
    if($_product){
        if($_product->getTypeId() == \Magento\ConfigurableProduct\Model\Product\Type\Configurable::TYPE_CODE) {
           $attributes = $_product->getTypeInstance(true)->getConfigurableAttributes($_product);
            $_allSubProducts = $_product->getTypeInstance(true)->getUsedProducts($_product);
        }

?>
<?php
if($_product->getTypeId() == \Magento\Catalog\Model\Product\Type::TYPE_BUNDLE) {
    $productType = $_product->getTypeInstance();
    $stripSelection = $_product->getConfigureMode() ? true : false;
    $optionCollection = $productType->getOptionsCollection($_product);
    $selectionCollection = $productType->getSelectionsCollection(
        $productType->getOptionsIds($_product), $_product );
    $_options = $optionCollection->appendSelections($selectionCollection, $stripSelection, true);
  }
?>

<div class="add-project">
    <div class="page-title">
        <h1><?php echo __('Add to Project') ?></h1>
    </div>
    <form action="<?php echo $this->getUrl('*/*/saveadd/');?>" method="post" id="form-add-project" enctype="multipart/form-data">
        <div class="row form-add-project">
            <div class="form-group col-sm-8 col-md-8 col-lg-8">
                <div class="form-group">
                      <select class="form-control change-drop validate-select required" id="select-new-project" name="id">
                        <option value=""><?php echo __('CHOOSE A PROJECT')?></option>
                        <?php foreach($projectCollection as $key =>$value){?>
                        <option value="<?php echo $value['id']?>"><?php echo $value['title']?></option>
                        <?php } ?>
                        <option value="create-pro"><?php echo __('Create New Project')?></option>
                      </select>
                </div>
                <div class="form-group">
                    <div class="input-box">
                        <input type="text" id="title-project" name="title-project" value="" title="Title Project" class="required validation-failed form-control" placeholder="TITLE PROJECT">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-box">
                        <textarea id="description-project" class="form-control" rows="4" name="description-project" placeholder="DESCRIPTION"></textarea>   
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-box">
                        <input type="hidden" id="customerId" name="customerId" value="<?php echo $this->getCustomer();?>" title="Customer Id" class="input-text form-control">
                    </div>
                </div>
                <?php  if($_product->getTypeId() == \Magento\ConfigurableProduct\Model\Product\Type\Configurable::TYPE_CODE) {?>

                 <div class="form-group">
                      <select class="form-control change-drop required validation-passed"  name="varation">
                      <option value=""><?php echo __('PRODUCT VARIATION')?></option>
                     <?php foreach ($_allSubProducts as $sProduct){
                            if($sProduct->isSaleable()){
                                $label = "";
                                foreach ($attributes as $attribute){
                                    $attributeCode = $attribute->getProductAttribute()->getAttributeCode();
                                    $label .= $sProduct->getAttributeText($attributeCode) . " ";
                                    $data[$attribute->getAttributeId()] = $sProduct->getData($attributeCode);
                                }
                              
                    ?>

                        <option value='<?php echo json_encode($data); ?>'><?php echo $label;?></option>
                    <?php } }?>
                      </select>
                </div>
            <?php }?>

                <?php   if($_product->getTypeId() == \Magento\Catalog\Model\Product\Type::TYPE_BUNDLE) {?>
                 <input type="hidden"  class="form-control" name="quantity" title="Quantity" value="1"/>   
                 <?php foreach ($_options as $key => $value) {

                    $default_title = $value->getData('default_title');
                    $option_id = $value->getData('product_id');
                    $required = $value->getData('required');

                 ?>
                  <?php if($value->getData('type')=='select'){?>
                            <div class="form-group col-sm-10 col-md-10 col-lg-10 left-padding">
                                <div class="form-group">
                                    <select class="form-control change-drop <?php if($required) echo 'required';?> validation-passed"  name="bundle_option[<?php echo $value->getData('option_id');?>]">
                                        <option value=""><?php echo $default_title;?></option>
                                        <?php   foreach ($value->getSelections() as $selKey => $selection) {?>
                                          <?php $id = $selection->getProductId();

                                          $child_product = $_objectManager->create('\Magento\Catalog\Model\Product')->load($id);
                                          if($child_product->isSaleable()){
                                          ?>

                                            <option value="<?php echo $selection->getSelectionId();?>"><?php echo $selection->getName();?></option>
                                        <?php }}?>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-sm-2 col-md-2 col-lg-2 right-padding">
                                <div class="form-group">
                                    <div class="input-box">
                                        <input type="text"  class="form-control selection-qty-item required number <?php if($required) echo 'check-qty-drop';?>"  placeholder="Quantity" value="0" name="bundle_option_qty[<?php echo $value->getData('option_id');?>]" title="Quantity">
                                    </div>
                                </div>
                            </div>
                  <?php }
                  elseif($value->getData('type')=='radio'){ ?>
                    <div class="form-group col-sm-10 col-md-10 col-lg-10 bundle-items-radio-change left-padding">
                      <div class="form-group">
                          <select class="form-control radio-option change-drop <?php if($required) echo 'required';?> validation-passed"  name="bundle_option[<?php echo $value->getData('option_id');?>]">
                          <option value=""><?php echo $default_title;?></option>
                      <?php
                        foreach ($value['selections'] as $selKey => $selection) {?>
                              <option value="<?php echo $selection->getSelectionId();?>"><?php echo $selection->getName();?></option> 
                        
                       <?php }?>
                          </select>
                      </div>
                    </div>
                   <div class="form-group col-sm-2 col-md-2 col-lg-2 right-padding">
                      <div class="form-group">
                          <div class="input-box">
                              <input type="text" class="form-control define-qty-radio selection-qty-item required number <?php if($required) echo 'check-qty-radio';?>"  placeholder="Quantity" name="bundle_option_qty[<?php echo $value->getData('option_id');?>]" title="Quantity" value="0"/>
                              <input type="hidden" class="define-radio-option" name="bundle_option[<?php echo $value->getData('option_id');?>]">
                          </div>
                      </div>
                   </div>
                    <?php }else{?>
                  <div class="form-option-item">
                       <?php foreach ($value['selections'] as $selKey => $selection) {?>
                        <?php $id = $selection->getProductId();
                          $child_product = $_objectManager->create('\Magento\Catalog\Model\Product')->load($id);
                          if($child_product->isSaleable()){
                          ?>
                        <div class="form-group col-sm-10 col-md-10 col-lg-10 col-xs-10 left-padding">
                          <div class="form-group">
                                 <?php echo $selection->getName();?>
                          </div>
                       </div>
                       <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xs-2 right-padding">
                          <div class="form-group">
                              <div class="input-box">
                                  <input type="text" class="form-control selection-qty-item <?php if($required) echo 'check-qty';?> number"  placeholder="Quantity" value="0" name="bundle_option_qty[<?php echo $value->getData('option_id');?>][<?php echo $selection->getSelectionId();?>]">
                                  <input type="hidden" name="bundle_option[<?php echo $value->getData('option_id');?>][]" value="<?php echo $selection->getSelectionId();?>">
                              </div>
                          </div>
                       </div>
                    <?php }}?>
                      <div class="clear-fix-float"></div>
                    </div>
                  <?php
                  }
                }
              }
            ?>
               <?php if($_product->getTypeId() != \Magento\Catalog\Model\Product\Type::TYPE_BUNDLE) {?>
                <div class="form-group">
                    <div class="input-box">
                        <input type="text"  id="quantity"  class="form-control required number"  placeholder="Quantity" name="quantity" title="Quantity"/>
                    </div>
                </div>
                <?php }?>
                <div class="form-group">
                    <div class="input-box">
                        <input type="text" id="reference" placeholder="REFERENCE"  name="reference" title="reference" maxlength="255" class="input-text form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-box">
                        <input type="hidden" id="product_id" name="product_id" class="input-text form-control" value="<?php echo $_product->getId()?>">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-box">
                        <input type="hidden" id="created_date" name="created_date" class="input-text form-control" value="<?php echo date("Y/m/d H:m:s")?>">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-box">
                        <textarea id="notes" class="form-control input-text" placeholder="NOTES" name="notes" title="notes" rows="5"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success" title="Submit">&#43;<?php echo __(' Add to Project') ?></button>
                </div>

            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
            </div>

        </div>

    </form>
</div>
<?php }?>
<script type="text/javascript">
    require([
        'jquery'
    ],function ($) {
        $(document).ready(function () {
           var check_val = jQuery('#select-new-project').val();
          if(check_val=="create-pro"){
              jQuery('#form-add-project #title-project').css({"display":"block"});
              jQuery('#form-add-project #description-project').css({"display":"block"});
              jQuery('#form-add-project #title-project').addClass('required');
            }
          jQuery('#select-new-project').change(function(){ 
            var value = jQuery(this).val();
            if(value=="create-pro"){
              jQuery('#form-add-project #title-project').css({"display":"block"});
              jQuery('#form-add-project #description-project').css({"display":"block"});
              jQuery('#form-add-project #title-project').addClass('required');
            }else{
              jQuery('#form-add-project #title-project').css({"display":"none"});
              jQuery('#form-add-project #description-project').css({"display":"none"});
              jQuery('#form-add-project #title-project').removeClass('required');
            }
          });
          jQuery('.bundle-items-radio-change .radio-option').change(function(){
              var radio_name = jQuery('.define-qty-radio').attr('name');
              var value = jQuery(this).val();
              var option_item = radio_name +'['+ value +']';
            jQuery('.define-qty-radio').attr('name',option_item);
            jQuery('.define-radio-option').val(value);
            
          });
          jQuery("#form-add-project").submit(function(e){
                if(jQuery(this).find('.selection-qty-item').hasClass("check-qty-drop")){
                  var qty= jQuery(this).find('.check-qty-drop').val();
                  if(qty<=0){
                    jQuery(this).find('.check-qty-drop').addClass('error-selection');
                    e.preventDefault(); 
                  }
            }
            if(jQuery(this).find('.selection-qty-item').hasClass("check-qty-radio")){
                  var qty= jQuery(this).find('.check-qty-radio').val();
                  if(qty<=0){
                    jQuery(this).find('.check-qty-radio').addClass('error-selection');
                    e.preventDefault(); 
                  }
            }
            if(jQuery(this).find('.selection-qty-item').hasClass("check-qty")){
              var check_val =false;
              jQuery('.selection-qty-item.check-qty').each(function(){
                  var qty= jQuery(this).val();
                  if(qty !=0){
                        check_val = true;
                        return false;
                      }
              });
                if(!check_val){
                    jQuery('.selection-qty-item.check-qty').closest('.form-option-item').addClass('error-selection');
                      e.preventDefault();
                }
            }
            });
            jQuery(".selection-qty-item").change(function(ex){
              if(jQuery(this).hasClass("check-qty-drop")){
                var qty= jQuery(this).val();
                if(qty > 0){
                  if(jQuery(this).hasClass("error-selection")){
                    jQuery(this).removeClass('error-selection');
                  }
                }else{
                  jQuery(this).addClass('error-selection');
                }
              }
              if(jQuery(this).hasClass("check-qty-radio")){
                var qty= jQuery(this).val();
                if(qty > 0){
                  if(jQuery(this).hasClass("error-selection")){
                    jQuery(this).removeClass('error-selection');
                  }
                }else{
                  jQuery(this).addClass('error-selection');
                }
              }
              if(jQuery(this).hasClass("check-qty")){
                var check_val =false;
                jQuery('.selection-qty-item.check-qty').each(function(){
                  var qty= jQuery(this).val();
                  if(qty !=0){
                        check_val = true;
                        return false;
                      }
              });
                if(check_val){
                    jQuery(this).closest('.form-option-item').removeClass('error-selection');
                }else{
                  jQuery(this).closest('.form-option-item').addClass('error-selection');
                }
              }
            });
        })
    });
</script>
<script type="text/x-magento-init">
    {
        "#form-add-project": {
            "validation": {}
        }
    }
</script>