<div class="project-create">
    <div class="page-title">
        <h1><?php echo __('Create New Project') ?></h1>
    </div>
    <form action="<?php echo $this->getUrl('*/*/save/');?>" method="post" id="form-create-project" enctype="multipart/form-data">
        <div class="row form-create-project">
            <div class="form-group col-sm-6">
                <div class="form-group">
                    <div class="input-box">
                        <input type="text" id="title-project" name="title-project" value="" title="Title Project" class="required validation-failed form-control" placeholder="TITLE">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-box">
                        <textarea id="description-project" class="form-control" rows="9" name="description-project" placeholder="DESCRIPTION"></textarea>   
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-box">
                        <input type="hidden" id="customerId" name="customerId" value="<?php echo $this->getCustomer();?>" title="Customer Id" class="input-text form-control">
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-save-project" title="Submit"><?php echo __('Save') ?></button>
                </div>

            </div>
            <div class="col-sm-6 des-right">
                <h4><?php echo __('LightRabbit Projects') ?></h4>
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-12">
                         <p><?php echo __('By Creating a new project you will be able to select and add products to your project collection') ?></p>
                    </div>
                     <div class="col-lg-2 col-md-2">
                    </div>
                </div>
            </div>

        </div>

    </form>
</div>
<script type="text/javascript">
    require([
        'jquery'
    ],function ($) {
        $('#form-create-project').validate();
    });
</script>