<?php $currentProduct = $this->getCurrentProject();?>
<div class="project-edit">
    <div class="page-title">
        <h1>Edit Project</h1>
    </div>
    <form action="<?php echo $this->getUrl('*/*/save/',array('id' => $currentProduct['id']));?>" method="post" id="form-validate" enctype="multipart/form-data">
         <div class="row form-add-project">
                <div class="form-group col-sm-8 col-md-8 col-lg-8">
                     <div class="form-group">
                        <div class="input-box">
                            <input type="text" id="title-project" name="title-project" value="<?php echo $currentProduct['title']?>" title="Title Project" placeholder="TITLE" class="form-control required-entry validation-failed"/>
                        </div>
                    </div>
                     <div class="form-group">    
                            <div class="input-box">
                                <textarea id="description-project" class="form-control" placeholder="DESCRIPTION" rows="9" name="description-project"><?php echo $currentProduct['description']?></textarea>   
                            </div>
                    </div>
                    <div class="form-group">
                       <div class="input-box">
                            <input type="hidden" id="customerId" name="customerId" value="<?php echo $this->getCustomer();?>" title="Customer Id"  class="form-control">
                        </div>
                    </div>
                     <div class="form-group">
                           <button type="submit" class="btn btn-success" title="Save"><?php echo __('Save') ?></button>
                     </div>
                </div>

        </div>
    </form>
</div>