<?php $collection = $this->_updateqtyProduct();?>
<?php
$_product=$this->getProduct();
    if($_product){
        if($_product->getTypeId() == \Magento\ConfigurableProduct\Model\Product\Type\Configurable::TYPE_CODE) {
           $attributes = $_product->getTypeInstance(true)->getConfigurableAttributes($_product);
            $_allSubProducts = $_product->getTypeInstance(true)->getUsedProducts($_product);
        }
    }
?>
<?php foreach($collection as $key => $value){?>
    <?php $product =$this->getParentProduct($value['product_id'])?>
<div class="project-edit">
    <div class="page-title">
        <h1><?php echo __('Edit Product') ?></h1>
    </div>
    <form action="<?php echo $this->getUrl('*/*/saveproduct/');?>" method="post" id="form-edit-pro" enctype="multipart/form-data">
         <div class="row form-edit-product">
                <div class="form-group col-sm-8 col-md-8 col-lg-8">
                     <div class="form-group">
                        <div class="input-box">
                            <input type="text" id="title-product" name="title-product" disabled value="<?php echo $product->getName()?>" title="Title Product" placeholder="TITLE" class="form-control required-entry validation-failed"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-box">
                            <input type="text"  value="<?php echo $value['quantity']?>"  class="form-control number required validation-failed "  placeholder="Quantity" name="quantity" title="Quantity">
                        </div>
                    </div>
             <?php  if($_product->getTypeId() == \Magento\ConfigurableProduct\Model\Product\Type\Configurable::TYPE_CODE) {?>
                 <div class="form-group">
                      <select class="form-control change-drop required validate-select validation-passed" name="varation">
                     <?php foreach ($_allSubProducts as $sProduct){
                                $label = "";
                                foreach ($attributes as $attribute){
                                    $attributeCode = $attribute->getProductAttribute()->getAttributeCode();
                                    $label .= $sProduct->getAttributeText($attributeCode) . " ";
                                    $data[$attribute->getAttributeId()] = $sProduct->getData($attributeCode);
                                }
                    ?>
                        <option value='<?php echo json_encode($data); ?>' <?php if($value['varation']==json_encode($data)){echo 'selected';}?>><?php echo $label;?></option>
                    <?php }?>
                      </select>
                </div>
            <?php }?>
                    <div class="form-group">
                       <div class="input-box">
                            <input type="hidden" name="id" value="<?php echo $value['id']?>"  class="form-control">
                        </div>
                    </div>
                     <div class="form-group">
                           <button type="submit" class="btn btn-success" title="Save"><?php echo __('Save') ?></button>
                     </div>
                </div>

        </div>
    </form>
</div>
<?php }?>
<script type="text/javascript">
    jQuery(function($){
        $('#form-edit-pro').validate();
    });
</script>
