<?php
$project = $this->getProjectForCustomer();
$id_pro = $this->getRequest()->getParam('id');

?>
	<?php //echo $this->getMessagesBlock()->getGroupedHtml() ?>

	<?php 
	if(!isset($id_pro)|| $id_pro ==''){
	foreach($project->getData() as $key => $value){
		$j=0;
		$id = $value['id'];
		$currentUrl = $this->_urlHelper->getCurrentUrl();
		$allproduct = $this->getProducttoProject($id);
	?>
	<div class="wrap-product-project">
		<div class="row project-information">
			<div class="col-md-5 col-lg-5">
				<div class="row">
					<div class="col-md-9 col-lg-9">
						<h3><?php echo $value['title']?></h3>
					</div>
					<div class="col-md-3 col-lg-3">
						<h3><?php echo __('Project')?></h3>
					</div>
				</div>
				<h4><?php echo __('Create By: ').$this->_projectHelper->getCustomerName();?></h4>
				<div>
					<p class="title-des"><?php echo __('Description')?></p>
					<p><?php echo $value['description']?></p>
				</div>
			</div>
			<div class="col-md-7 col-lg-7 btn-project">
			<?php if($this->getCustomer()==$value['customer_id']){?>
				<a href="<?php echo $this->getUrl('*/*/printproject/',array('id' => $value['id'])); ?>" class="btn btn-pdf"><i class="fa fa-print" aria-hidden="true"></i><?php echo __('Print')?></a>
				<a href="<?php echo $this->getUrl('*/*/requestquote/',array('id' => $value['id'])); ?>" class="btn btn-quote">&#163;<?php echo __(' Get Quote')?></a>
				<div class="share-social">
					<a  class="btn btn-share"><i class="share-icon"></i><?php echo __('Share')?></a>
					<div class="addthis_sharing_toolbox addthis_default_style"  addthis:url="<?php echo $currentUrl;?>" addthis:title="<?php echo $value['title']; ?>">
						<a class="addthis_button_facebook" style="cursor:pointer"></a> 
					    <a class="addthis_button_twitter" style="cursor:pointer"></a> 
					    <a class="addthis_button_email" style="cursor:pointer"></a>
					    <a class="addthis_button_compact"></a> 
					</div>
				</div>
				<a href="<?php echo $this->getBaseUrl().'bulbs-led.html';?>" class="btn btn-add">&#43;<?php echo __(' Add Products')?></a>
			<?php }?>
			</div>
		</div>

		<?php
		foreach($allproduct->getData() as $k => $val){
			$attribute_value = "";
			$j++;
			$varation=json_decode($val['varation'],true);
			$product=$this->getParentProduct($val['product_id']);
			if($product->getTypeId() == \Magento\ConfigurableProduct\Model\Product\Type\Configurable::TYPE_CODE) {
				$attributes = $product->getTypeInstance(true)->getConfigurableAttributes($product);
				$_product = $this->getProductforProject($val['product_id'],$varation);
			}
			if($product->getTypeId() == \Magento\Catalog\Model\Product\Type::TYPE_BUNDLE){
				$bundleOptionsIds = json_decode($val['bundle_option'],true);
				$bundleOptionsIds =	array_keys($bundleOptionsIds);
				$bundleSelectIds = json_decode($val['bundle_option'],true);
				$bundleSelectIds = array_values($bundleSelectIds);
				$qty_SelectIds = json_decode($val['bundle_option_qty'],true);
				 $optionsCollection= $product->getTypeInstance(true)->getOptionsByIds($bundleOptionsIds, $product);
				    $selectionsCollection = $product->getTypeInstance(true)->getSelectionsByIds($bundleSelectIds,$product);
				    $bundleOptions = $optionsCollection->appendSelections($selectionsCollection,true);
			}
				
		?>
			<div class="row product-for-project">
				<div class="col-md-4 col-lg-4 img">
					<img src="<?php echo $this->_imageHelper->init($product, 'category_page_grid')->getUrl();?>"/>
					 
				</div>
				<div class="col-md-8 col-lg-8">
					<div class="product-information">
						<h2><a href="<?php echo $product->getProductUrl() ?>"><?php echo $product->getName()?></a></h2>
						<?php
						if($product->getTypeId() == \Magento\ConfigurableProduct\Model\Product\Type\Configurable::TYPE_CODE) {
						foreach ($attributes as $attribute){
								$attributeCode = $attribute->getProductAttribute()->getAttributeCode();
								$attribute_value .= $_product->getAttributeText($attributeCode) . " ";
								$label = $_product->getResource()->getAttribute($attributeCode)->getFrontendLabel();
						?>
						<p class="varation"><span><?php echo $label.': '.$attribute_value;?></span></p>	
						<?php } }?>
						<p class="qty"><span><?php echo __('Quantity: ').$val['qty'];?></span></p>
						<?php
							if($product->getTypeId() == \Magento\Catalog\Model\Product\Type::TYPE_BUNDLE){?>
							<dl>
							<?php foreach($bundleOptions as $bundleOption){
							       if($bundleOption->getSelections()){
							        $label = $bundleOption->getTitle();
							        $bundleSelections = $bundleOption->getSelections();
							        ?>
							        <dt><?php echo $label.':';?></dt>
							    	<dd>
							 <?php  foreach($bundleSelections as $bundleSelection){
							 		$checkOption = 	$bundleSelection->getOptionId();
							 		if(array_key_exists($checkOption,$qty_SelectIds)){
							 			$qty_select = $qty_SelectIds[$checkOption];
							 			if(is_array($qty_select)){
							 				$checkSelect = 	$bundleSelection->getSelectionId();
							 				if(array_key_exists($checkSelect,$qty_select)){
							 					$qty = $qty_select[$checkSelect];
							 				}
							 			}else{
							 				$qty = $qty_select; 
							 			}
							 		}
							         $sName = $bundleSelection->getName();
							         echo $qty.' x '.$sName.'<br/>';
							     	 }?>
							    	</dd>
						<?php   }
							  }?>
							 </dl>
							<?php }?>
					</div>
					<?php if($this->getCustomer()==$value['customer_id']){?>
					<div class="action">
						<div class="">
							<h2><?php echo __('Actions')?></h2>
						</div>
						<div class="row">
							<div class="col-lg-2 text-center">
								<a href="<?php echo $product->getProductUrl() ?>"><i class="fa fa-eye" aria-hidden="true"></i><?php echo __('View Product')?></a>
							</div>
							<div class="col-lg-2 text-center">
								<a href="<?php echo $this->getUrl('*/*/printproduct', array('product_id' => $val['product_id'])); ?>"><i class="fa fa-file-pdf-o" aria-hidden="true"></i><?php echo __('Download Spec')?></a>
							</div>
							<div class="col-lg-2 text-center">
								<a href="<?php echo $this->getUrl('*/*/editproduct',array('id' => $value['id'],'product_id'=>$val['product_id'],'varation'=>$val['varation'],'bundle_option'=>$val['bundle_option'],'bundle_option_qty'=>$val['bundle_option_qty']));?>"><i class="fa fa-pencil" aria-hidden="true"></i><?php echo __('Edit Detail')?></a>
							</div>
							<div class="col-lg-2 text-center">
							<form action="<?php echo $this->getUrl('*/*/addtoCart/');?>" method="post" enctype="multipart/form-data" class="submit-form-cart-<?php echo $value['id']?>-<?php echo $j;?>">
								<input type="hidden" name ="id" value="<?php echo $value['id'];?>"/>
								<input type="hidden" name ="qty" value="<?php echo $val['qty'];?>"/>
								<input type="hidden" name ="product_id" value="<?php echo $val['product_id'];?>"/>
								<input type="hidden" name ="varation" value='<?php echo $val['varation'];?>'/>
								<input type="hidden" name ="bundle_option" value='<?php echo $val['bundle_option'];?>'/>
								<input type="hidden" name ="bundle_option_qty" value='<?php echo $val['bundle_option_qty'];?>'/>
								<a href="javascript:void()" onclick="document.getElementsByClassName('submit-form-cart-<?php echo $value['id']?>-<?php echo $j;?>')[0].submit();"><i class="fa fa-shopping-cart" aria-hidden="true"></i><?php echo __('Add Cart')?></a>
								
							</form>
								
							</div>
							<?php if($product->getTypeId() == \Magento\ConfigurableProduct\Model\Product\Type\Configurable::TYPE_CODE) {?>
							<div class="col-lg-2 text-center icon-del">
								<a href="<?php echo $this->getUrl('*/*/deleteproduct',array('id' => $value['id'],'product_id'=>$val['product_id'],'varation'=>$val['varation']));?>"><i class="icon-remove-sign"></i><?php echo __('Delete')?></a>
							</div>
							<?php }else{ ?>
							<div class="col-lg-2 text-center icon-del">
								<a href="<?php echo $this->getUrl('*/*/deleteproduct',array('id' => $value['id'],'product_id'=>$val['product_id']));?>"><i class="icon-remove-sign"></i><?php echo __('Delete')?></a>
							</div>
							<?php }?>
						</div>
					</div>
					<?php }?>
				</div>
			</div>
			
<?php }?>
	</div>
<?php }?>
<?php }else{?>
	<?php
	$j=0;
	$value=$project;
		$id = $value['id'];
	if($id !=''){
		$allproduct = $this->getProducttoProject($id);
		$currentUrl = $this->_urlHelper->getCurrentUrl();
	?>
	<div class="wrap-product-project">
		<div class="row project-information">
			<div class="col-md-5 col-lg-5">
				<div class="row">
					<div class="col-md-9 col-lg-9">
						<h3><?php echo $value['title']?></h3>
					</div>
					<div class="col-md-3 col-lg-3">
					<?php if($this->getCustomer()==$value['customer_id']){?>
						<h3><?php echo __('Project')?></h3>
					<?php }?>
					</div>
				</div>
				<h4><?php echo __('Create By: ').$this->_projectHelper->getCustomerName();?></h4>
				<div>
					<p class="title-des"><?php echo __('Description')?></p>
					<p><?php echo $value['description']?></p>
				</div>
			</div>
			<div class="col-md-7 col-lg-7 btn-project">
			<?php if($this->getCustomer()==$value['customer_id']){?>
				<a href="<?php echo $block->getUrl('*/*/printproject',array('id' => $value['id'])); ?>" class="btn btn-pdf"><i class="fa fa-print" aria-hidden="true"></i><?php echo __('Print')?></a>
				<a href="<?php echo $block->getUrl('*/*/requestquote/',array('id' => $value['id'])); ?>" class="btn btn-quote">&#163;<?php echo __(' Get Quote')?></a>
				<div class="share-social">
					<a  class="btn btn-share"><i class="share-icon"></i><?php echo __('Share')?></a>
					<div class="addthis_sharing_toolbox addthis_default_style"  addthis:url="<?php echo $currentUrl;?>" addthis:title="<?php echo $value['title']; ?>">
						<a class="addthis_button_facebook" style="cursor:pointer"></a> 
					    <a class="addthis_button_twitter" style="cursor:pointer"></a> 
					    <a class="addthis_button_email" style="cursor:pointer"></a>
					    <a class="addthis_button_compact"></a> 
					</div>
                    <script type="text/javascript">
                        var addthis_config = {
                            "ui_language": '<?php echo $this->getAddThisLanguage(); ?>',
                            "data_track_clickback":false
                        }
                    </script>
                    <script type="text/javascript" async src="<?php echo '/' . '/' ?>s7.addthis.com/js/250/addthis_widget.js#pubid=<?php echo $this->getAddThisPubId(); ?>"></script>

                </div>
				<a href="<?php echo $block->getBaseUrl().'bulbs-led.html';?>" class="btn btn-add">&#43;<?php echo __(' Add Products')?></a>
			<?php }?>
			</div>
		</div>

		<?php
		foreach($allproduct->getData() as $k => $val){
			$j++;
			$attribute_value = "";
			$varation=json_decode($val['varation'],true);
			$product=$this->getParentProduct($val['product_id']);
			if($product->getTypeId() == \Magento\ConfigurableProduct\Model\Product\Type\Configurable::TYPE_CODE) {
				$attributes = $product->getTypeInstance(true)->getConfigurableAttributes($product);
				$_product = $this->getProductforProject($val['product_id'],$varation);
			}
			if($product->getTypeId() == \Magento\Catalog\Model\Product\Type::TYPE_BUNDLE){
				$bundleOptionsIds = json_decode($val['bundle_option'],true);
				$bundleOptionsIds =	array_keys($bundleOptionsIds);
				$bundleSelectIds = json_decode($val['bundle_option'],true);
				$bundleSelectIds = array_values($bundleSelectIds);
				$qty_SelectIds = json_decode($val['bundle_option_qty'],true);
				 $optionsCollection= $product->getTypeInstance(true)->getOptionsByIds($bundleOptionsIds, $product);
				    $selectionsCollection = $product->getTypeInstance(true)->getSelectionsByIds($bundleSelectIds,$product);
				    $bundleOptions = $optionsCollection->appendSelections($selectionsCollection,true);
			}

		?>
			<div class="row product-for-project">
				<div class="col-md-4 col-lg-4 img">
					<img src="<?php echo $this->_imageHelper->init($product,'category_page_grid')->resize(250,250)->getUrl();?>"/>
				</div>
				<div class="col-md-8 col-lg-8">
					<div class="product-information">
						<h2><a href="<?php echo $product->getProductUrl() ?>"><?php echo $product->getName()?></a></h2>
						<?php
						if($product->getTypeId() == \Magento\ConfigurableProduct\Model\Product\Type\Configurable::TYPE_CODE) {
						foreach ($attributes as $attribute){
								$attributeCode = $attribute->getProductAttribute()->getAttributeCode();
								$attribute_value .= $_product->getAttributeText($attributeCode) . " ";
								$label = $_product->getResource()->getAttribute($attributeCode)->getFrontendLabel();
						?>
						<p class="varation"><span><?php echo $label.': '.$attribute_value;?></span></p>	
						<?php } }?>
						<p class="qty"><span><?php echo __('Quantity: ').$val['qty'];?></span></p>
						<?php
							if($product->getTypeId() == \Magento\Catalog\Model\Product\Type::TYPE_BUNDLE){?>
							<dl>
							<?php foreach($bundleOptions as $bundleOption){
							       if($bundleOption->getSelections()){
							        $label = $bundleOption->getTitle();
							        $bundleSelections = $bundleOption->getSelections();
							        ?>
							        <dt><?php echo $label.':';?></dt>
							    	<dd>
							 <?php  foreach($bundleSelections as $bundleSelection){
							 		$checkOption = 	$bundleSelection->getOptionId();
							 		if(array_key_exists($checkOption,$qty_SelectIds)){
							 			$qty_select = $qty_SelectIds[$checkOption];
							 			if(is_array($qty_select)){
							 				$checkSelect = 	$bundleSelection->getSelectionId();
							 				if(array_key_exists($checkSelect,$qty_select)){
							 					$qty = $qty_select[$checkSelect];
							 				}
							 			}else{
							 				$qty = $qty_select; 
							 			}
							 		}
							         $sName = $bundleSelection->getName();
							         echo $qty.' x '.$sName.'<br/>';
							     	 }?>
							    	</dd>
						<?php   }
							  }?>
							 </dl>
							<?php }?>
					</div>
					<?php if($this->getCustomer()==$value['customer_id']){?>
					<div class="action">
						<div class="">
							<h2><?php echo __('Actions')?></h2>
						</div>
						<div class="row">
							<div class="col-lg-2 text-center">
								<a href="<?php echo $product->getProductUrl() ?>"><i class="fa fa-eye" aria-hidden="true"></i><?php echo __('View Product')?></a>
							</div>
							<div class="col-lg-2 text-center">
								<a href="<?php echo $block->getUrl('*/*/printproduct', array('product_id' => $val['product_id'])); ?>"><i class="fa fa-file-pdf-o" aria-hidden="true"></i><?php echo __('Download Spec')?></a>
							</div>
							<div class="col-lg-2 text-center">
								<a href="<?php echo $this->getUrl('*/*/editproduct',array('id' => $value['id'],'product_id'=>$val['product_id'],'varation'=>$val['varation'],'bundle_option'=>$val['bundle_option'],'bundle_option_qty'=>$val['bundle_option_qty']));?>"><i class="fa fa-pencil" aria-hidden="true"></i><?php echo __('Edit Detail')?></a>
							</div>

							<div class="col-lg-2 text-center">
								<form action="<?php echo $this->getUrl('*/*/addtoCart/');?>" method="post" enctype="multipart/form-data" class="submit-form-cart-<?php echo $value['id']?>-<?php echo $j;?>">
									<input type="hidden" name ="id" value="<?php echo $value['id'];?>"/>
									<input type="hidden" name ="qty" value="<?php echo $val['qty'];?>"/>
									<input type="hidden" name ="product_id" value="<?php echo $val['product_id'];?>"/>
									<input type="hidden" name ="varation" value='<?php echo $val['varation'];?>'/>
									<input type="hidden" name ="bundle_option" value='<?php echo $val['bundle_option'];?>'/>
									<input type="hidden" name ="bundle_option_qty" value='<?php echo $val['bundle_option_qty'];?>'/>
									<a href="javascript:void()" onclick="document.getElementsByClassName('submit-form-cart-<?php echo $value['id']?>-<?php echo $j;?>')[0].submit();"><i class="fa fa-shopping-cart" aria-hidden="true"></i><?php echo __('Add Cart')?></a>
									
								</form>
							</div>
							<?php if($product->getTypeId() == \Magento\ConfigurableProduct\Model\Product\Type\Configurable::TYPE_CODE) {?>
							<div class="col-lg-2 text-center icon-del">
								<a href="<?php echo $this->getUrl('*/*/deleteproduct',array('id' => $value['id'],'product_id'=>$val['product_id'],'varation'=>$val['varation']));?>"><i class="icon-remove-sign"></i><?php echo __('Delete')?></a>
							</div>
							<?php }else{ ?>
							<div class="col-lg-2 text-center icon-del">
								<a href="<?php echo $this->getUrl('*/*/deleteproduct',array('id' => $value['id'],'product_id'=>$val['product_id']));?>"><i class="icon-remove-sign"></i><?php echo __('Delete')?></a>
							</div>
							<?php }?>
						</div>
					</div>
					<?php }?>
				</div>
			</div>
			
<?php }?>
	</div>
<?php }else{
        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
        $redirect = $objectManager->get('\Magento\Framework\App\Response\Http');
        $redirect->setRedirect($this->getBaseUrl());
	}?>
<?php }?>
<?php if(!isset($value['customer_id'])):?>
<?php $value['customer_id']='';?>
<?php  endif;?>
<?php if($this->getCustomer()==$value['customer_id']){?>
<div class="link-project-bottom">
	<div class="row">
		<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
			<div class="btn-link-pro">
				<a href="<?php echo $this->getUrl('*/*/create');?>" title="Create new project" class="btn btn-yellow"><?php echo __('Create new project')?></a>
				<a href="<?php echo $this->getUrl('*/*/summary');?>" title="My projects" class="btn btn-transparent"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><?php echo __('My Projects')?></a>
			</div>
		</div>
	</div>
</div>
<?php }?>
<script type="text/javascript">
    require([
        'jquery'
    ],function ($) {
        $(document).ready(function () {
            $('.share-social').click(function(){
                if($( ".addthis_sharing_toolbox" ).hasClass( "active" )){
                    $('.addthis_sharing_toolbox').removeClass('active');
                }else{
                    $( ".addthis_sharing_toolbox" ).addClass( "active" );
                }

            });
        })
    });
	var addthis_share = {
     url_transforms : {
         add: {
             customer_id :<?php echo "'".$this->getCustomer()."'";?>
         }
     } 
	} 
</script>