<?php
    $_productId = $this->getIdProduct();
    $_product = $this->getProductById($_productId);
    $productUrl = $_product->getProductUrl();
    $imgUrl = $this->getImageUrl($_product);
?>
<table width="100%" cellspacing="0" cellpadding="5">
    <tr>
        <td colspan="2" valign="top">
            <a href="<?php echo $productUrl; ?>"><img src="<?php echo $this->getViewFileUrl('images/header-logo.png'); ?>" width="200"/></a>
        </td>
    </tr>

    <tr>
        <td width="70%" align="left">
            <table width="100%" cellspacing="0" cellpadding="5">
                <tr>
                    <td>
                        <a href="<?php echo $productUrl; ?>" style="text-decoration:none; color: #000;"><?php echo $this->convert_str($_product->getName()); ?></a>
                        <br />
                        <br />
                    </td>
                </tr>
                
                <tr>
                    <td align="left">
                        <br />
                        <table width="100%" cellspacing="0" cellpadding="5">
                            <tr>
                                <td colspan="2"><?php echo __('ELECTRICAL') ?></td>
                            </tr>
                            <?php if(!empty($_product->getdata('equivalent'))):?>
                            <tr>
                                <td style="width:40%"><?php echo __('Replacement for') ?></td>
                                <td style="width:60%">: <?php echo $_product->getdata('equivalent') ?></td>
                            </tr>
                            <?php endif;?>
                            <?php if(!empty($_product->getdata('consumption'))):?>
                            <tr>
                                <td><?php echo __('Wattage') ?></td>
                                <td>: <?php echo $_product->getdata('consumption') ?></td>
                            </tr>
                            <?php endif;?>
                            <?php if(!empty($_product->getdata('input'))):?>
                            <tr>
                                <td><?php echo __('Input Voltage') ?></td>
                                <td>: <?php echo $_product->getdata('input') ?></td>
                            </tr>
                            <?php endif;?>
                            <?php if(!empty($_product->getdata('certified'))):?>
                            <tr>
                                <td><?php echo __('Certification') ?></td>
                                <td>: <?php echo $_product->getdata('certified') ?></td>
                            </tr>
                            <?php endif;?>
                        </table>
                        <br />
                        <br />
                        <table width="100%" cellspacing="0" cellpadding="5">
                            <tr>
                                <td colspan="2"><?php echo __('OPTICAL') ?></td>
                            </tr>
                            <?php if(!empty($_product->getdata('colour'))):?>
                            <tr>
                                <td  style="width:40%"><?php echo __('Colour Temperature') ?></td>
                                <td style="width:60%">: <?php echo $_product->getdata('colour') ?></td>
                            </tr>
                            <?php endif;?>
                            <?php if(!empty($_product->getdata('wattage'))):?>
                            <tr>
                                <td><?php echo __('Lumens') ?></td>
                                <td >: <?php echo $_product->getdata('wattage') ?></td>
                            </tr>
                            <?php endif;?>
                            <?php if(!empty($_product->getdata('beam'))):?>
                            <tr>
                                <td><?php echo __('Beam Angle') ?></td>
                                <td>: <?php echo $_product->getdata('beam') ?></td>
                            </tr>
                            <?php endif;?>
                            <?php if(!empty($_product->getdata('material'))):?>
                            <tr>
                                <td><?php echo __('Finish') ?></td>
                                <td>: <?php echo $_product->getdata('material') ?></td>
                            </tr>
                            <?php endif;?>
                        </table>
                        <br />
                        <br />
                        <table width="100%" cellspacing="0" cellpadding="5">
                            <tr>
                                <td colspan="2"><?php echo __('PHYSICAL') ?></td>
                            </tr>
                            <?php if(!empty($_product->getdata('base'))):?>
                            <tr>
                                <td style="width:40%"><?php echo __('Base') ?></td>
                                <td style="width:60%">: <?php echo $_product->getdata('base') ?></td>
                            </tr>
                            <?php endif;?>
                            <?php if(!empty($_product->getdata('bulb_shape'))):?>
                            <tr>
                                <td><?php echo __('Bulb Type') ?></td>
                                <td>: <?php echo $_product->getdata('bulb_shape') ?></td>
                            </tr>
                            <?php endif;?>
                            <?php if(!empty($_product->getdata('dimmable_dropdown'))):?>
                            <tr>
                                <td><?php echo __('Dimmable') ?></td>
                                <td>: <?php echo $_product->getdata('dimmable_dropdown') ?></td>
                            </tr>
                            <?php endif;?>
                            <?php if(!empty($_product->getdata('life'))):?>
                            <tr>
                                <td><?php echo __('Average Life') ?></td>
                                <td>: <?php echo $_product->getdata('life') ?></td>
                            </tr>
                            <?php endif;?>
                            <?php if(!empty($_product->getmanufprice())):?>
                            <tr>
                                <td><?php echo __('RRP') ?></td>
                                <td>: <?php echo $_product->getmanufprice(); ?></td>
                            </tr>
                            <?php endif;?>
                        </table>
                        <br />

                        <table width="100%" cellspacing="0" cellpadding="5">
                            <tr>
                                <td>
                                    <br />
                                    <?php echo $this->convert_str($_product->getdata('offsite_description')); ?>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>


        <td valign="top" align="left">
            <table width="100%" cellspacing="0" cellpadding="5">
                <tr>
                    <td align="left" valign="top">
                        <a href="<?php echo $productUrl; ?>"><img src="<?php echo $imgUrl;?>" width="200"/></a>
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="top">
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="<?php  echo $this->getViewFileUrl('images/product_pdf02.png'); ?>" width="140"/></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2" valign="top">
            <a href="<?php echo $productUrl; ?>" style="text-decoration:none; color: #000;"><?php echo $productUrl; ?></a>
        </td>
    </tr>
</table>