<?php 
$project = $this->getProjectForCustomer();
$id_pro = $this->getIdProject();
$id = $project['id'];
$allproduct = $this->getProducttoProject($id);
?>
<table width="100%" cellspacing="0" cellpadding="5">
    <tr>
        <td valign="top" style="padding-bottom: 25px;">
            <a><img src="<?php echo $this->getViewFileUrl('images/header-logo.png'); ?>" width="200"/></a>
        </td>
    </tr>

    <tr>
        <td>
             <h3><?php echo $project['title']?></h3>
        </td>
    <tr>
        <td>
             <h4><?php  if($this->getCustomerName()!==false){ echo __('Create By: '). $this->getCustomerName();}?></h4>
        </td>
    </tr>
    <tr>
        <td>
           <p class="title-des"><?php echo __('Description')?></p>
           <p><?php echo $project['description']?></p>
           <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </td>
    </tr>

</table>
<div class="content" style="width:100%">
	
		<?php 
			foreach($allproduct->getData() as $k => $val){
			$attribute_value = "";
			$varation=json_decode($val['varation'],true);
			$product=$this->getParentProduct($val['product_id']);
			if($product->getTypeId() == \Magento\ConfigurableProduct\Model\Product\Type\Configurable::TYPE_CODE) {
				$attributes = $product->getTypeInstance(true)->getConfigurableAttributes($product);
				$_product = $this->getProductforProject($val['product_id'],$varation);
			}
			if($product->getTypeId() == \Magento\Catalog\Model\Product\Type::TYPE_BUNDLE){
				$bundleOptionsIds = json_decode($val['bundle_option'],true);
				$bundleOptionsIds =	array_keys($bundleOptionsIds);
				$bundleSelectIds = json_decode($val['bundle_option'],true);
				$bundleSelectIds = array_values($bundleSelectIds);
				$qty_SelectIds = json_decode($val['bundle_option_qty'],true);
				 $optionsCollection= $product->getTypeInstance(true)->getOptionsByIds($bundleOptionsIds, $product);
				    $selectionsCollection = $product->getTypeInstance(true)->getSelectionsByIds($bundleSelectIds,$product);
				    $bundleOptions = $optionsCollection->appendSelections($selectionsCollection,true);
			}
		
		?>
		<div class="content-left" style="float:left;width:50%; margin-bottom: 150px;"><img src="<?php echo $this->_imageHelper->init($product,'category_page_grid')->resize(250,250)->getUrl();?>"/></div>
		<div class="content-right" style="float:left;width:50%;">
			<h2><a href="<?php echo $product->getProductUrl() ?>" style="font-weight: 400"><?php echo $product->getName()?></a></h2>
			<?php
	            if($product->getTypeId() == \Magento\ConfigurableProduct\Model\Product\Type\Configurable::TYPE_CODE) {
				foreach ($attributes as $attribute){
						$attributeCode = $attribute->getProductAttribute()->getAttributeCode();
						$attribute_value .= $_product->getAttributeText($attributeCode) . " ";
						$label = $_product->getResource()->getAttribute($attributeCode)->getFrontendLabel();
				?>
	            <p class="varation"><span><?php echo $label.': '.$attribute_value;?></span></p>	
				<?php } }?>
				<p class="qty"><span><?php echo __('Quantity: ').$val['qty'];?></span></p>
				<?php
					if($product->getTypeId() == \Magento\Catalog\Model\Product\Type::TYPE_BUNDLE){?>
					<dl>
					<?php foreach($bundleOptions as $bundleOption){
					       if($bundleOption->getSelections()){
					        $label = $bundleOption->getTitle();
					        $bundleSelections = $bundleOption->getSelections();
					        ?>
					        <dt><?php echo $label.':';?></dt>
					    	<dd>
					 <?php  foreach($bundleSelections as $bundleSelection){
					 		$checkOption = 	$bundleSelection->getOptionId();
					 		if(array_key_exists($checkOption,$qty_SelectIds)){
					 			$qty_select = $qty_SelectIds[$checkOption];
					 			if(is_array($qty_select)){
					 				$checkSelect = 	$bundleSelection->getSelectionId();
					 				if(array_key_exists($checkSelect,$qty_select)){
					 					$qty = $qty_select[$checkSelect];
					 				}
					 			}else{
					 				$qty = $qty_select; 
					 			}
					 		}
					         $sName = $bundleSelection->getName();
					         echo $qty.' x '.$sName.'<br/>';
					     	 }?>
					    	</dd>
				<?php   }
					  }?>
					 </dl>
					<?php }?>
					</div>
					<div class="clear" style="clear:both"></div>
		<?php }?>
	
</div>