<?php  $id = $this->getRequest()->getParam('id');?>
<?php $url_link=$this->getUrl('*/*/myproject/',array('id' => $id))?>
<?php //echo $this->getMessagesBlock()->getGroupedHtml() ?>
<form action="<?php echo $this->getUrl('*/*/sendquote/');?>" method="post" id="form-request" enctype="multipart/form-data">
    <?php echo $this->getBlockHtml('formkey')?>
        <h2 class="legend"><?php echo __('Get A Quote') ?></h2>
        <div class="row">
            <div class="form-group col-sm-8 col-md-8 col-lg-8">
                <div class="form-group">
                    <label class="required"><?php echo __('Your name') ?> <em>*</em></label>
                    <div class="input-box">
                        <input type="text" name="name" id="name" title="<?php echo __('Your name') ?>" value="" class="form-control required validation-failed" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="required"><?php echo __('Your Email') ?> <em>*</em></label>
                    <div class="input-box">
                        <input type="text" name="email" id="email" title="<?php echo __('Your Email') ?>" value="" class="form-control email required validation-failed" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="required"><?php echo __('Your Phone') ?> <em>*</em></label>
                    <div class="input-box">
                        <input type="text" name="phone" id="phone" title="<?php echo __('Your Phone') ?>" value="" class="form-control required" />
                    </div>
                </div>
                <div class="form-group">
                    <label><?php echo __('Subject') ?> </label>
                    <div class="input-box">
                        <input type="text" name="subject" id="subject" title="<?php echo __('Subject') ?>" value="" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label><?php echo __('Link Project') ?> </label>
                    <div class="input-box">
                        <input type="text" name="link_project" id="link_project" title="<?php echo __('Link Project') ?>" value="<?php echo $url_link?>" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label><?php echo __('Tell us what we can do for you') ?></label>
                    <div class="input-box">
                        <textarea class="form-control" rows="9" name="request_quote"></textarea>   
                    </div>
                </div>
                <div class="form-group request-quote">
                    <button type="submit" class="btn btn-yellow btn-success" title="Submit"><?php echo __('Send') ?></button>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4"></div>
        </div>     
</form>
<script type="text/javascript">
    jQuery(function($){
        $('#form-request').validate();
    });
</script>
