<?php
$projectCollection=$this->getSummaryProject();
?>
<?php //echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="col-wrapper">
    <div class="wrap-link-project">
        <div class="row link-project">
            <div class="col-lg-3 col-md-3 cod-sm-12 col-xs-12">
                <div class="title-summary"><?php echo __('My Projects');?></div>
            </div>
            <div class="col-lg-9 col-md-9 cod-sm-12 col-xs-12 link">
                <a href="<?php echo $this->getUrl('customer/account');?>" title="My account" class="btn btn-primary btn-sm"><?php echo __('My account')?></a>
                <a href="<?php echo $this->getUrl('*/*/create');?>" title="Create new project" class="btn btn-transparent btn-sm"><i class="fa fa-plus" aria-hidden="true"></i><?php echo __('Create new project')?></a>
            </div>
        </div>
        <div class="summary-detail">
            <p><?php echo __('Organise you favourite LightRabbit products into “Projects” folders. Collect the products you like from our range of lighting by clicking the “Add to Project” button on the product pages. Your projects can be downloaded or shared, you can also request a quote for each project.')?></p>
        </div>

    </div>
    <?php if($projectCollection->getData()){?>
        <div id="summary-project">
            <table class="table table-responsive">
                <thead>
                <tr>
                    <th><?php echo __('Project Name')?></th>
                    <th colspan="2"><?php echo __('No. of Product')?></th>
                    <th ><?php echo __('Action')?></th>
                </tr>
                </thead>
                <tbody>

                <?php foreach($projectCollection->getData() as $key =>$value){?>
                    <tr>
                        <td><a href="<?php echo $this->getUrl('*/*/index',array('id' => $value['id']));?>"><?php echo $value['title']?></a></td>
                        <td><?php if(is_null($value['qty'])){ echo '0';}else{ echo $value['qty'];}?></td>
                        <td></td>
                        <td>
                            <a href="<?php echo $this->getUrl('*/*/addcart',array('id' => $value['id'],'qty'=>$value['qty']));?>"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                            <a href="<?php echo $this->getUrl('*/*/index',array('id' => $value['id']));?>"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a href="<?php echo $this->getUrl('*/*/delete', array('id' => $value['id']));?>"><i class="icon-remove-sign icon-3"></i></a></td>
                    </tr>
                <?php }?>
                </tbody>
            </table>
            <div class="new-project">
                <a href="<?php echo $this->getUrl('*/*/create');?>" class="btn btn-yellow"><?php echo __('Create new project')?></a>
            </div>

        </div>
    <?php } ?>
</div>