<?php if ($this->_getHelper()->isEnabled()): ?>
  <div id="onlinebizsoft-product-coundown-event"></div>
  <script type="text/javascript">
    require(['jquery', 'OnlineBiz_Countdown/js/timer'], function ($) {
      OnlineBizCountdown.getEventTime('<?php echo $block->escapeUrl('/obcountdown/ajax/timer') ?>', '#onlinebizsoft-product-coundown-event');
    });
  </script>
<?php endif; ?>
