<div class="block-most-view">
<h3><?php echo __('Most Popular Products');?></h3>
<?php
    $items = $this->getCollection();

    foreach($items as $item) {
    	$_product = $block->getProductBySku($item['sku']);
    		$resizedImageUrl = $block->resizeImage($_product, 'category_page_sidebar', 300, null)->getUrl();?>
    		<a href="<?php echo $_product->getProductUrl();?>" alt="<?php echo $_product->getName();?>"><img src="<?php echo $resizedImageUrl;?>"></a> 
<?php
}
?>
	
</div>