// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-wrapper__margin: @indent__base;
@checkout-wrapper__columns: 16;

@checkout-step-title__border: @border-width__base solid @color-gray80;
@checkout-step-title__font-size: 26px;
@checkout-step-title__font-weight: @font-weight__light;
@checkout-step-title__padding: @indent__s;

@checkout-step-title-mobile__font-size: 18px;

@checkout-step-content-mobile__background: @color-gray-light01;
@checkout-step-content-mobile__margin-s: 15px;
@checkout-step-content-mobile__margin: @indent__base -(@checkout-step-content-mobile__margin-s) @checkout-step-content-mobile__margin-s;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .checkout-index-index {
        .page-title-wrapper {
            &:extend(.abs-visually-hidden all);
        }
    }

    .checkout-container {
        &:extend(.abs-add-clearfix all);
        .lib-css(margin, 0 0 @checkout-wrapper__margin);
    }

    .opc-wrapper {
        .lib-css(margin, 0 0 @checkout-wrapper__margin);

        .opc {
            &:extend(.abs-reset-list all);
        }

        .step-title {
            &:extend(.abs-checkout-title all);
            .lib-css(border-bottom, @checkout-step-title__border);
        }

        .step-content {
            margin: 0 0 @indent__xl;
        }
    }

    .checkout-index-index {
        .nav-sections,
        .nav-toggle {
            display: none;
        }

        .logo {
            margin-left: 0;
        }
        .newsletter{
            display:none;
        }
        .brand-carousel-all{
            display:none;
        }
        .actions-toolbar{
            .checkout{
                float:none;
                background:#1bc758;
                padding:10px 20px;
                span{
                    font-size:20px;
                    font-weight:400;
                    text-transform:uppercase;
                }
            }
            >.primary{
                float:none;
            }
        } 
        .opc-estimated-wrapper{
            background:#f8f9fd;
            padding-top:35px;
            border-bottom:1px solid #e9eaee;
            .minicart-wrapper{
                display:none;
            }
        }
    }

    .checkout-onepage-success {
        &:extend(.abs-add-clearfix all);

        .print {
            display: none;
        }
    }
    #discount-form{
        .action.action-apply{
            font-weight:400;
        }
    }
    .opc-wrapper{
        .form-discount{
            max-width:100%!important;
        }
    } 
    .checkout-payment-method{
        .payment-option-title{
            .action-toggle{
                color:#27a6dd;
            } 
        } 
    } 
    .checkout-agreements-block .action-show{
        text-align:left;
    }
    .checkout-agreements-block .action-show span{
        white-space:normal;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .opc-wrapper {
        .step-title {
            .lib-css(font-size, @checkout-step-title-mobile__font-size);
            border-bottom: 0;
            padding-bottom: 0;
        }

        .step-content {
            .lib-css(margin, 0 0 @checkout-step-content-mobile__margin-s);
        }
    }
    .checkout-index-index .actions-toolbar .checkout span{
        font-size:18px;
    }
    .checkout-payment-method .payment-method-title label{
        font-size:13px;
    }
    #checkoutSteps input#discount-code{
        font-size:13px;   
    }
    .checkout-agreements-block .action-show{
        text-align:left;
        font-size:13px;
    }
}
@media only screen and (max-width: 460px){
    .payment-method .checkout-agreements-block .checkout-agreements{
        margin-bottom:6px;
    }
}
//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .opc-wrapper {
        &:extend(.abs-add-box-sizing-desktop-m all);
        .lib-layout-column(2, 1, @checkout-wrapper__columns);
        padding-right: @indent__l;
    }

    .checkout-onepage-success {
        .print {
            display: block;
            float: right;
            margin: 23px 0 0;
        }
    }
}
