// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-progress-bar__font-size: 18px;
@checkout-progress-bar__font-weight: @font-weight__light;
@checkout-progress-bar__margin: @indent__base;

@checkout-progress-bar-item__background-color: #fff;
@checkout-progress-bar-item__border-radius: 6px;
@checkout-progress-bar-item__color: @color-gray40;
@checkout-progress-bar-item__margin: @indent__s;
@checkout-progress-bar-item__transition: background .3s;
@checkout-progress-bar-item__width: 185px;

@checkout-progress-bar-item__active__background-color: @color-orange-red1;
@checkout-progress-bar-item__active__color: @primary__color;
@checkout-progress-bar-item__active__font-weight: @font-weight__semibold;
@checkout-progress-bar-item__complete__color: @link__color;
@checkout-progress-bar-item__hover__background-color: darken(@checkout-progress-bar-item__background-color, 5%);

@checkout-progress-bar-item-element__height: @checkout-progress-bar-item-element__width;
@checkout-progress-bar-item-element__width: 38px;

@checkout-progress-bar-item-element-inner__background-color: @page__background-color;
@checkout-progress-bar-item-element-inner__border-color: @color-gray80;
@checkout-progress-bar-item-element-inner__color: @primary__color;
@checkout-progress-bar-item-element-inner__height: @checkout-progress-bar-item-element-inner__width;
@checkout-progress-bar-item-element-inner__width: @checkout-progress-bar-item-element__width - ( @checkout-progress-bar-item-element-outer-radius__width*2 );
@checkout-progress-bar-item-element-inner__active__border-color: @color-orange-red1;
@checkout-progress-bar-item-element-inner__active__content: @icon-checkmark;

@checkout-progress-bar-item-element-outer-radius__width: 6px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Checkout Progress Bar
    //  ---------------------------------------------

    .opc-progress-bar {
        &:extend(.abs-reset-list all);
        display: none;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .opc-progress-bar {
        .lib-css(margin, 0 0 @checkout-progress-bar__margin);
        counter-reset: i;
        display: block;
        font-size: 0;
        padding-top:20px;
        text-align:center;
    }

    .opc-progress-bar-item {
        .lib-css(margin, 0 0 @checkout-progress-bar-item__margin);
        .lib-css(width, @checkout-progress-bar-item__width);
        display: inline-block;
        position: relative;
        text-align: center;
        vertical-align: top;

        &:before { // Horizontal line
            .lib-css(background, @checkout-progress-bar-item__background-color);
            .lib-css(border, 1px solid @checkout-progress-bar-item-element-inner__border-color);
            .lib-css(top, @checkout-progress-bar-item-element__width/2);
            .lib-css(transition, @checkout-progress-bar-item__transition);
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
            width: 100%;
        }

        &:first-child {
            &:before {
                .lib-css(border-radius, @checkout-progress-bar-item__border-radius 0 0 @checkout-progress-bar-item__border-radius);
            }
        }

        &:last-child {
            &:before {
                .lib-css(border-radius, 0 @checkout-progress-bar-item__border-radius @checkout-progress-bar-item__border-radius 0);
            }
        }

        > span {
            display: inline-block;
            padding-top: 45px;
            width: 100%;
            word-wrap: break-word;
            color:#9395a3;
            font-weight:700;
            line-height:24px;
            &:before, // Item element
            &:after {
                .lib-css(background, @checkout-progress-bar-item__background-color);
                .lib-css(border, 1px solid @checkout-progress-bar-item-element-inner__border-color);
                .lib-css(height, @checkout-progress-bar-item-element__height);
                .lib-css(margin-left, -(@checkout-progress-bar-item-element__width/2));
                .lib-css(transition, @checkout-progress-bar-item__transition);
                .lib-css(width, @checkout-progress-bar-item-element__width);
                border-radius: 50%;
                content: '';
                left: 50%;
                position: absolute;
                top: 0;
            }
            &:after {
                 content: counter(i);
                counter-increment: i;
                padding-top:5px;
            }

        }

        &._complete {
            cursor: pointer;

            &:hover {
                &:before {
                    .lib-css(background, @checkout-progress-bar-item__hover__background-color);
                }
            }

            > span {
                color:#27a6dd;

                &:after {
                    content: '';
                      display: block;
                      /*Make it a small rectangle so the border will create an L-shape*/
                      width: 5px;
                      height: 18px;
                      /*Add a white border on the bottom and left, creating that 'L' */
                      border: solid #27a6dd;
                      border-width: 0 2px 2px 0;
                      /*Rotate the L 45 degrees to turn it into a checkmark*/
                      transform: rotate(45deg); 
                      border-radius:0px;
                      top:6px;
                      left:111px;
                      z-index:10;
                }
            }
        }

        &._active {
            color:#45485c;
            > span {
                
                &:after{
                    border:1px solid #2ba8db;
                }
            }
        }
    }
}
