<?php

$order = $block->getOrder();

?>

<div data-findify-event="purchase" data-findify-order-id="<?php echo $order->getIncrementId(); ?>" data-findify-currency="<?php echo $order->getOrderCurrencyCode(); ?>" data-findify-revenue="<?php echo $order->getGrandTotal(); ?>" style="display:none;">

<?php 

$prodarr = array();
$i = 0;

$items = $order->getAllItems();

foreach ($items as $item) {

    $isconfigurable = 0;
    $eachProductId = $item->getProductId();
    $eachProductType = $item->getProductType();
    $eachProductPrice = $item->getPrice();
    $eachProductQty = $item->getQtyOrdered();

    if ($eachProductType == "simple") {

        $parentIds = $this->getGroupedParentIds($eachProductId);
        if (!$parentIds) {
            $parentIds = $this->getConfigurableParentIds($eachProductId);
        }

        if (isset($parentIds[0]) && $prodarr[$i-1] && $prodarr[$i-1]['type'] == "configurable") {
            $isconfigurable = 1;
            $childId = $eachProductId;
            $prid = $parentIds[0];
        } else {
	    $prid = $eachProductId;
	}
    } else {
        $prid = $eachProductId;
    }

    $prodarr[$i]['id'] = $prid;
    $prodarr[$i]['type'] = $eachProductType;
    $prodarr[$i]['qty'] = $eachProductQty;
    $prodarr[$i]['price'] = $eachProductPrice;
    $qty = $eachProductQty;

    if ($eachProductType != "configurable") {
        if ($i > 0 && $prodarr[$i-1] && $prodarr[$i-1]['type'] == "configurable") {
                $pric = $prodarr[$i-1]['price'];
                $prid = $prodarr[$i-1]['id'];
                $qty = $prodarr[$i-1]['qty'];
        } else {
                $pric = $eachProductPrice;
                $qty = $eachProductQty;
        }

        ?>

        <div data-findify-item-id="<?php echo $prid; ?>"<?php if ($isconfigurable): ?> data-findify-variant-item-id="<?php echo $childId; ?>"<?php endif; ?> data-findify-unit-price="<?php echo $pric; ?>" data-findify-quantity="<?php echo $qty; ?>"></div>

        <?php

    } // end if ($eachProductType != "configurable")

    $i++;

} ?>
</div>
