<?php
/**
* Copyright © Magento, Inc. All rights reserved.
* See COPYING.txt for license details.
*/

// @codingStandardsIgnoreFile

?>
<?php
/**
* Category layered navigation
*
* @var $block \Magento\LayeredNavigation\Block\Navigation
*/
?>

<?php if ($block->canShowBlock()): ?>
  <div class="block filter">
    <div class="block-title filter-title">
      <strong><?= /* @escapeNotVerified */ __('Shop By') ?></strong>
    </div>

    <div class="block-content filter-content">
      <?= $block->getChildHtml('state') ?>

      <?php if ($block->getLayer()->getState()->getFilters()): ?>
        <div class="block-actions filter-actions">
          <a href="<?= /* @escapeNotVerified */ $block->getClearUrl() ?>" class="action clear filter-clear"><span><?= /* @escapeNotVerified */ __('Clear All') ?></span></a>
        </div>
      <?php endif; ?>
      <?php $wrapOptions = false; ?>
      <?php foreach ($block->getFilters() as $filter): ?>
        <?php if (!$wrapOptions): ?>
          <dl class="filter-options" id="narrow-by-list">
            <?php $wrapOptions = true; endif; ?>
            <?php // Quick fix for move catalog layer after all filter attribute, Need find a better solution soon. #52319 Category page - Make price slider filter same as live site, filter not working http://prntscr.com/hvwqlm ?>
            <?php if ($filter->getName() != __('Category')): ?>
              <?php if ($filter->getItemsCount()): ?>
                <dt role="heading" aria-level="3" class="filter-options-title"><?= $block->escapeHtml(__($filter->getName())) ?></dt>
                <dd class="filter-options-content <?= $block->escapeHtml(__($filter->getName())) ?>"><?= /* @escapeNotVerified */ $block->getChildBlock('renderer')->render($filter) ?></dd>
              <?php endif; ?>
            <?php endif; ?>
          <?php endforeach; ?>
          <?php if ($wrapOptions): ?>
          </dl>
        <?php endif; ?>
      </div>
    </div>
  <?php endif; ?>
