.catalog-category-view .page-title-wrapper{
	display: block;
	text-align: center;
}
.catalog-category-view .page-title-wrapper .page-title{
	margin-top:20px;
	margin-bottom: 50px;
	position: relative;
}
.catalog-category-view .page-title-wrapper .page-title span{
	font-size:32px;
	color:#ab8550;
	text-transform: uppercase;
	display: inline-block;
	padding:10px 10px 3px;
}
.catalog-category-view .page-title-wrapper .page-title:after{
	content:'';
	display: inline-block;
	height: 1px;
	width:101px;
	background:#ab8550;
	position: absolute;
	left:50%;
	margin-left: -50px;
	bottom: 0px;

}
.page-layout-1column-new-category .columns .column.main .products-grid{
	margin:0px -10px;
}
.products-grid .product-item .product-item-info .product-name .title{
	font-size:15px;
	text-transform: uppercase;
	color: #656565;
	padding-top: 20px;
	margin: 0px;
	font-family: 'futura-book';
	letter-spacing: 0.1em;
}
.products-grid .product-item .product-item-info .product-item-photo{
	background: #f2f2f2;
}
.products-grid .product-item .product-item-info .product-item-photo:hover{
	background: #e8e8e8;
}
.page-layout-1column-collections .products-grid .product-item .product-item-info .product-item-photo{
	background: none;
}
.page-layout-1column-collections .products-grid .product-item .product-item-info .product-item-photo:hover{
	background: none;
	opacity: 0.9;
}
.page-layout-1column-collections .product-image-photo.default_image{
	width: auto;
}
.catalog-category-view #maincontent{
	margin-bottom: 70px;
}

.banner-collection{
	height:300px;
	background-position: center;
	background-size:cover;
}
/*RESPONSIVE */
@media  (max-width: 1024px){
	.page-layout-1column-new-category .columns .column.main .products-grid{
		margin: 0px;
	}
	.footer-upsell-links .upsell-link .info .content{
		padding:10px 14px;
	}
	.page-layout-1column-new-category .products-grid .product-item,.page-layout-1column-collections .products-grid .product-item{
		width:50%;
	}
}
@media  (max-width: 767px){
	.page-layout-1column-new-category .products-grid .product-item,.page-layout-1column-collections .products-grid .product-item{
		width:100%;
	}
}
