.detail-option:after,.link-social:after{
	content:'';
	display: table;
	clear: both;
}
 a.btn-submit:hover{
	background:#ab8550;
	color: #fff!important;
}
.catalog-product-view #maincontent{
	padding-bottom: 70px;
}
.wrap-media{
	width:100%;
	background: #f2f2f2;
	padding:80px 20px 40px;
}
.wrap-media .main-images{
	text-align: center;
}
.wrap-media .main-images img{
	max-width: 450px;
}
.wrap-media .right-content .description{
	font-size:15px;
	font-family: 'futura-book';
	margin-bottom: 45px;
	max-width: 485px;
}
.wrap-media  .name-product h1{
	font-size: 32px;
	margin-top: 0px;
	text-transform: uppercase;
}
.wrap-media .link-social .social-block a{
	margin-right:17px;
}
.wrap-media .link-social a i{
	color:#c6c6c6;
	font-size:21px;
}
.wrap-media .link-social a i:hover{
	color: #353535;
}
.wrap-media .link-social .enquire,.wrap-media .link-social .social-block{
	float: left;
}
.wrap-media .link-social  .social-block .addthis_button_twitter{
	display: initial;
}
.wrap-media .link-social .social-block{
	margin-left: 24px;
	padding-top:20px;	
}
.wrap-media .link-social .social-block{
	color:#353535;
}
.wrap-media .link-social .enquire a{
	color:#ab8550;
	display:  inline-block;
	padding:10px  24px;
	border: 1px solid #cfbca1;
	font-size:15px;
	text-transform: uppercase;
	cursor: pointer;
}
.product-main p{
	font-family: 'futura-book';
	font-size:15px;
	margin-bottom: 25px;
}
.product-main h3{
	font-size:19px;
	margin-bottom: 21px;
	letter-spacing: 0.1em;
}
.toolbar-product{
	background: #eee;
	text-align: center;
}
.toolbar-product a{
	color:#666!important;
	display: inline-block;
	padding:13px 36px;
	font-family: 'futura-book';
}
.toolbar-product a:hover{
	color: #000;
}
.detail-option{
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;	
}
.detail-option  a.btn-submit{
	color:#ab8550;
	margin-top: 10px;
	cursor: pointer;
}
.detail-option  a.btn-submit:hover{
	color:#fff;
	
}

.detail-option .first-col,.detail-option .second-col{
	width:36%;
	border-right: 1px solid #ab8550;
	padding:0px 35px 20px 15px;
}
.detail-option .second-col{
	width:38%;
	padding:0px 35px 20px;
}
.detail-option .content-left,.detail-option .content-right{
	float:left;
	width:50%;
}

.product-main .list-gallery{
	width:26%;
	position: relative;
	padding:0px 20px;
}
.product-main .list-gallery .click-zoom{
	position: absolute;
	left: 50%;
	top: 100%	;
	transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
.fotorama__nav--thumbs{
	text-align: center;
}
.fotorama__arr, .fotorama__thumb__arr,.fotorama__arr:hover, .fotorama__thumb__arr:hover{
	background: none;
}
.fotorama__arr:active, .fotorama__thumb__arr:active{
	background: none;
}
.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--prev:not(:focus),.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--next:not(:focus){
	transform: initial;
}
.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr, .fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon{
	opacity: 1;
}
.fotorama__arr .fotorama__arr__arr{
	height:28px;
	width:20px;
}
.fotorama__arr--prev .fotorama__arr__arr{
	background-position: -150px -320px;
}
.fotorama__arr--next .fotorama__arr__arr{
	background-position: -208px -321px;
}
.fotorama__active .fotorama__dot{
	background: #ab8550;
	border-color: #ab8550;
}
.fotorama__stage.fotorama__shadows--right:after,
.fotorama__nav.fotorama__shadows--right:after {
  background: none
}
.fotorama__stage.fotorama__shadows--left:before, .fotorama__nav.fotorama__shadows--left:before{
	background: none;
}
.fotorama__arr--prev{
	left: -15px;
}
.fotorama__arr--next{
	right:-15px;
}
.fotorama__arr{
	width:47px;
}
.product-main .list-gallery h3{
	text-align: center;
	margin-bottom: 0px;
}
.product-main .wrap-delivery{
	clear:both;
	width:64%;
	float:left;
	margin-left:36%;
	padding:0 35px;
	border-left:1px solid #ab8550;
}
.product-main .wrap-options{
	padding: 85px 0px 60px;
	border-bottom:1px solid #ab8550;
	margin-bottom: 25px;
}

@media (max-width:1199px){
	.wrap-media{
		padding-top: 20px;
	}
	.wrap-media .name-product h1{
		margin-top: 10px;	
	}
	.wrap-media .right-content .description{
		max-width: 100%;
	}
	.wrap-media .main-images img{
		max-width: 600px;
	}
	.wrap-media .link-social .enquire, .wrap-media .link-social .social-block{
		float:none;
		margin-left: 0px;
	}
	.wrap-media .link-social .social-block a{
		float: none;
	}
	.detail-option .first-col, .detail-option .second-col{
		width:100%;
		border-right:none;
		border-bottom: 1px solid #ab8550;
		padding:0px 0px 20px;
	}
	.detail-option .second-col{
		padding:15px 0px 35px;
	}
	.product-main .list-gallery{
		width:100%;
		border-right:none;	
		padding-top:20px;
	}
	.product-main .wrap-options{
		border-bottom: none;
		padding:0px;
		margin-bottom: 0px;
	}
	.product-main .wrap-delivery{
		width:100%;
		margin-left:0px;
		border-left:0px;
		border-bottom:1px solid #ab8550;
		margin-bottom: 30px;
		padding:10px 0px;
	}
	.product-main{
		padding:15px;
	}
	.catalog-product-view #maincontent{
		width:100%;
	}
	.wrap-media .right-content{
		text-align:center;
	}

}
@media (max-width:767px){
	.wrap-media .main-images img{
		max-width: 100%;
	}
	.fotorama__arr--next,.fotorama__arr--prev{
		display: none!important;
	}
	
}