<?php
/**
 * @var $block \Lof\Gallery\Block\Widget\Gallery
 */

$helper       = $this->helper("Lof\Gallery\Helper\Data");
$imageHelper  = $this->helper("Lof\Gallery\Helper\Image");
$images       = $block->getImages();
$title        = $this->getData('widget_title');
$pretext      = $this->getData('widget_pretext');
$customClass  = $this->getData('widget_class');
$blockId      = 'lgl-carousel' . time() . rand();
$id           = time() . rand();
$xs_column    = $this->getData('xs_column');
$sm_column    = $this->getData('sm_column');
$md_column    = $this->getData('md_column');
$lg_column    = $this->getData('lg_column');
$total        = count($images);
$type         = $this->getData('layout_mode');
$lightbox     = $this->getData('lightbox');
$enableZoom   = $this->getData('enable_zoom');
$zommOn       = $this->getData('zomm_on');
$zommDuration = (int)$this->getData('zomm_duration');
$skin         = $this->getData('skin');
$style        = $this->getData('style');
$equal_height = $this->getData('equal_height');

/** ALBUM SETTINGS */
$showName              = $this->getData('show_name');
$showThumbnail         = $this->getData('show_thumbnail');
$thumbnailHeight       = $this->getData('thumbnail_height');
$thumbnailWidth        = $this->getData('thumbnail_width');
$keepRatio             = $this->getData('keep_ratio');
$keepFrame             = $this->getData('keep_frame');

$showDate              = $this->getData('show_date');
$showCategory          = $this->getData('show_category');
$showImagecount        = $this->getData('show_imagecount');
$showViewcount         = $this->getData('show_viewcount');
$showDescription       = $this->getData('show_description');
$shortdescriptionCount = $this->getData('shortdescription_count');
$showSocialnetworks    = $this->getData('show_social_networks');

/** OWL CAROUSEL */
$item_height           = (int) $this->getData("item_height");
$number_item_percolumn = $this->getData('number_item_percolumn');
$large_max_items       = (int) $this->getData('large_max_items');
$large_items           = (int) $this->getData('large_items');
$portrait_items        = (int) $this->getData('portrait_items');
$tablet_items          = (int) $this->getData('tablet_items');
$tablet_small_items    = (int) $this->getData('tablet_small_items');
$mobile_items          = (int) $this->getData('mobile_items');

$rtl                   = $this->getData('rtl');
$loop                  = $this->getData('loop');
$autoplay              = $this->getData('autoplay');
$autoplayTimeout       = (int) $this->getData('autoplay_timeout');
$autoplay_hoverpause   = $this->getData('autoplay_hoverpause');
$dots                  = $this->getData('dots');
$nav                   = $this->getData('nav');
$nav_prev              = $this->getData('nav_prev');
$nav_next              = $this->getData('nav_next');

/** ALBUM SETTINGS */
$showTitle               = $this->getData('show_title');
$showShortDescription    = $this->getData('show_shortdescription');
$shortdescriptionCount   = $this->getData('shortdescription_count');
$showReadmore            = $this->getData('show_readmore');
$show_album_link 		 = $this->getData('show_album_link');

/** Multiple Row */
if (!$number_item_percolumn) {
	$number_item_percolumn = 1;
}
if ($total%$number_item_percolumn == 0) {
	$column = $total/$number_item_percolumn;
}else{
	$column = floor($total/$number_item_percolumn)+1;
}



$albumCollection = [];
$i               = $x = 0;
foreach ($images as $image) {
	if ($i<$column) {
		$i++;
	} else {
		$i = 1;
		$x++;
	}
	$albumCollection[$i][$x] = $image;
}

if ($type=='list') {
	$xs_column  = $sm_column = $md_column = $lg_column = 1;
}

$tabs = $block->getTabs();

if ($style == 'style3' || $style == 'style4' || $style == 'style5' || $style == 'style6' || $style == 'style7' || $style == 'style8' || $style == 'style9' || $style == 'style10' || $style == 'style11' || $style == 'style12' || $style == 'style13') {
	$customClass .= ' gallery-style-common';
}

if ($style == 'style13') {
	$customClass .= ' gallery-widget-style7';
}
?>

<div id="<?php echo $blockId ?>" class="gallery-block block widget gallery-widget <?php if ($type=='list') { ?>
album-list<?php } ?> gallery-lightbox-<?php echo $lightbox ?> gallery-skin-<?php echo $skin ?>
 gallery-widget-<?php echo $style ?> <?php echo $this->getData('addition_class') ?>" >
	<?php if ($title) { ?>
	<div class="block-title">
		<strong><?php echo __($title); ?></strong>
	</div>
	<?php } ?>
	<div class="block-content">
		<?php if ($type == 'grid' || $type=='list') { ?>
		<div id="gallery-loading<?php echo $id ?>" class="gallery-loading">
			<div class="r1"></div>
			<div class="r2"></div>
			<div class="r3"></div>
			<div class="r4"></div>
			<div class="r5"></div>
		</div>
		<?php } ?>
		<div class="lgl-items lgl-<?php echo $type ?> <?php if ($type=='owl') { ?>owl-theme owl-carousel<?php } ?>"
			data-margin="10"
			data-large-max-items="<?php echo $large_max_items ?>"
			data-large-items="<?php echo $large_items ?>"
			data-portrait-items="<?php echo $portrait_items ?>"
			data-tablet-items="<?php echo $tablet_items ?>"
			data-tablet-small-items="<?php echo $tablet_small_items ?>"
			data-mobile-items="<?php echo $mobile_items ?>"
			<?php if ($autoplayTimeout) { ?>
			data-autoplay-timeout="<?php echo $autoplayTimeout ?>"<?php } ?>
			data-autoplay-pauonhover="<?php echo $autoplay_hoverpause?'true':'false' ?>"
			data-autoplay="<?php echo $autoplay?'true':'false' ?>"
			data-responsive-refresh-rate="false"
			data-dots="<?php echo $dots?'true':'false' ?>"	
			data-nav="<?php echo $nav?'true':'false' ?>"
			data-loop="<?php echo $loop?'true':'false' ?>"
			data-rtl="<?php echo $rtl?'true':'false' ?>"
			data-nav-text-owlpre="<?php echo $nav_prev ?>"
			data-nav-text-owlnext="<?php echo $nav_next ?>">
			<?php $i = 0; ?>
			<?php $r = 0; ?>
			<?php foreach ($albumCollection as $_columnCollection) { ?>
			<?php if ($type=='grid' || $type=='list') { ?>

			<?php
			if(isset($tabs[$r])) {
				$lg_column = $tabs[$r]["large_desktop"];
				if ($tabs[$r]["large_desktop"] == $i) {
					$i=0;
					$r++;
				}
			}
			?>

			<?php if( $lg_column == 1 || $i%$lg_column == 0) { ?>
			<!-- START ROW -->
			<div class="row">
				<?php } ?>

				<div class="<?php echo $block->getCustomColClass($r); ?>">

					<?php } ?>
					<div class="lgl-item <?php if (count($_columnCollection)>1) { ?>lgl-item-multi<?php } ?>">
						<?php foreach ($_columnCollection as $image) { ?>
						
						<?php if ($style == '3d') { ?>
						<div class="lgl-3d out-left" data-mage-init='{"redirectUrl":{"url":"<?php echo $image['link'] ?>"}}'>
							<?php } ?>
							
							<!--ITEM INNER-->
							<div class="lgl-item-inner" <?php if ($item_height) { ?>style="height: <?php echo $item_height ?>px"<?php } ?>>


								<div class="lgl-item-media">
									<div class="lgl-item-media-inner">
										<?php
										if ($thumbnailWidth || $thumbnailHeight) {
											$imageSrc = $imageHelper->setKeepFrame($keepFrame?true:false)->resizeImage($image['filelink'], $thumbnailWidth, $thumbnailHeight, 100, $keepRatio?true:false);
										} else {
											$imageSrc = $image['filelink'];
										}
										?>
										<?php if (!$lightbox && $enableZoom) { ?>
										<a class="lgl-zoom-fancybox" href="<?php echo $image['filelink'] ?>" title="<?php echo $block->escapeHtml($image['title']) ?>">
										<?php } ?>
											<img href="<?php echo $image['filelink'] ?>" data-zoom-url="<?php echo $image['filelink'] ?>" src="<?php echo $imageSrc ?>" alt="<?php echo $block->escapeHtml($image['label']) ?>" title="<?php echo $block->escapeHtml($image['label']) ?>"/>
										<?php if (!$lightbox && $enableZoom) { ?>
										</a>
										<?php } ?>
									</div>
									<?php if ($lightbox) { ?>
									<div class="lgl-item-links">
										<div class="lgl-item-link lgl-item-popup">
											<a data-size="1000x600" class="gallery<?php echo $i ?> lgl-<?php echo $lightbox ?>-item <?php if ($image['video_url']!='' && $lightbox=='magnific') { ?>mfp-iframe<?php } ?>" <?php if ($image['video_url']!='') { ?>data-fancybox-type="iframe"<?php } ?> data-rel="gallery<?php echo $i ?>" rel="gallery[<?php echo $i ?>]" alt="<?php echo $block->escapeHtml($image['label']) ?>"  title="<?php echo $block->escapeHtml($image['video_title']?$image['video_title']:$image['title']) ?>" href="<?php echo $helper->getPopupUrl($image, $lightbox) ?>">
												<?php if ($image['video_url']!='') { ?>
												<i class="fa fa-play"></i>
												<?php } else { ?>
												<i class="fa fa-picture-o"></i>
												<?php } ?>
											</a>
										</div>
										<?php if($show_album_link && isset($image['link']) && $image['link']) { ?>
										<div class="lgl-item-link lgl-item-link-detail">
											<a class="tg-link-button" href="<?php echo $image['link']; ?>" target="_self">
												<i class="fa fa-link"></i>
											</a>
										</div>
										<?php } ?>
									</div>
									<?php } ?>
								</div>
								
								<div class="mask mask-1"></div>
								<div class="mask mask-2"></div>
								<?php if ($showName || $showSocialnetworks || $showImagecount || $showDate || $showViewcount || $showDescription) { ?>
								<div class="lgl-item-content" >
									<?php if ($showName) { ?>
									<h2 class="lgl-item-title">
										<a href="<?php echo $image['link']; ?>" title="<?php echo $block->escapeHtml($image['title']); ?>" label="<?php echo $block->escapeHtml($image['label']); ?>" class="gallery-zoom album-title">
											<?php echo $image['title']; ?>
										</a>
									</h2>
									<?php } ?>
									<div class="lgl-hidden">
										<span class="album-id"><?php echo $image['image_id'] ?></span>
									</div>
									<?php if ($showSocialnetworks) { ?>
									<div class="lgl-socials">
										<div class="addthis_toolbox addthis_default_style" data-title="<?php echo $block->escapeHtml($image['title']); ?>" addthis:url="<?php echo $image['link']; ?>">
											<a class="addthis_button_facebook"></a>
											<a class="addthis_button_twitter"></a>
											<a class="addthis_button_google"></a>
											<a class="addthis_button_email"></a>
											<a class="addthis_button_pinterest_share"></a>
											<a class="addthis_button_compact"></a>
										</div>
									</div>
									<?php } ?>

									<?php $shortDescription = $helper->subString(strip_tags($image['description']?$image['description']:$image['video_description']), $shortdescriptionCount); ?>
									<?php if ($showDescription && $shortDescription) { ?>
									<p class="lgl-item-shortdescription">
										<?php echo $shortDescription; ?>
									</p>
									<div class="lgl-item-read-more">
										<a href="<?php echo $image['link']; ?>" target="_self"><?php echo __('Read More '); ?><i class="fa fa-angle-right"></i>
										</a>
									</div>
									<?php } ?>
								</div>
								<?php } ?>
							</div>
							<!-- END ITEM INNER -->
							<?php if ($style == '3d') { ?>
						</div>
						<?php } ?>
						<?php } ?>
					</div>

					<?php if ($type=='grid' || $type=='list') { ?>
				</div>

				<?php if( $lg_column == 1 || ($i+1)%$lg_column == 0 || ($i == $total-1) ) {  ?>
			</div>
			<!-- END ROW -->
			<?php } ?>

			<?php $i++; ?>
			<?php } ?>
			<?php } ?>
		</div>

		<script>
			require([
				'jquery'
				<?php if (!$lightbox && $enableZoom) { ?>
					,'Lof_Gallery/js/jquery.zoom.min',
					'Lof_All/lib/fancybox/jquery.fancybox'
					<?php } ?>
					], function($<?php if (!$lightbox && $enableZoom) { ?>, zoom<?php } ?>) {
						jQuery(document).ready(function() {
							setTimeout(function(){
								$('#<?php echo $blockId; ?> .lgl-items').css({"visibility": "visible", "height": ""});
								$('#gallery-loading<?php echo $id ?>').hide();
								var itemHeigth = 0;

								<?php if ($type=='grid' && $equal_height) { ?>
									$('#<?php echo $blockId; ?> .lgl-items').find('.row').each(function(index, el) {
										$(this).find('.lgl-item-inner').each(function() {
											var newHeight = $(this).height();
											if (newHeight>itemHeigth) {
												itemHeigth = newHeight;
											}
										});
										setTimeout(function(){
											$(this).find('.lgl-item-inner').css({"height":  itemHeigth + "px"});
										}, 1000);
									});
									<?php } ?>
								}, 500);

							<?php if (!$lightbox && $enableZoom) { ?>
								$('#<?php echo $blockId; ?> .lgl-item-media-inner img').each(function() {
									var original_img_url = $(this).attr('data-zoom-url');
									$(this).parent().zoom({
										url: original_img_url,
										on: '<?php echo $zommOn ?>',
										duration: <?php echo $zommDuration ?>
									});
								});

								$('#<?php echo $blockId; ?> .lgl-zoom-fancybox').click(function(e) {
									var self = $(this);
									jQuery.fancybox.open({
										wrapCSS 	: 'lgl-popup',
										padding		: 2,
										maxWidth	: '80%',
										maxHeight	: '100%',
										fitToView	: false,
										width		: '80%',
										autoSize	: false,
										closeClick	: false,
										openEffect	: 'elastic',
										closeEffect	: 'none',
										href: self.attr('href'),
										title: self.attr('title'),
										helpers: {
											overlay: {
												locked: false
											}
										}
									});
									return false;
								});
								<?php } ?>
							});
					});
				</script>

			</div>
</div>