<?php
/**
 * @var $block \Lof\Gallery\Block\Widget\Gallery
 */

$helper = $this->helper("Lof\Gallery\Helper\Data");
$imageHelper = $this->helper("Lof\Gallery\Helper\Image");
//$album                = $block->getAlbum();
$image = $block->getImages();
asort($image);
$title = $this->getData('widget_title');
$pretext = $this->getData('widget_pretext');
$customClass = $this->getData('widget_class');
$blockId = 'lgl-carousel' . time() . rand();
$id = time() . rand();
$xs_column = $this->getData('xs_column');
$sm_column = $this->getData('sm_column');
$md_column = $this->getData('md_column');
$lg_column = $this->getData('lg_column');
$total = count($image);
$type = $this->getData('layout_mode');
$lightbox = $this->getData('lightbox');
$enableZoom = $this->getData('enable_zoom');
$zommOn = $this->getData('zomm_on');
$zommDuration = (int)$this->getData('zomm_duration');
$skin = $this->getData('skin');
$style = $this->getData('style');
$equal_height = $this->getData('equal_height');

/** ALBUM SETTINGS */
$showName = $this->getData('show_name');
$showThumbnail = $this->getData('show_thumbnail');
$thumbnailHeight = $this->getData('thumbnail_height');
$thumbnailWidth = $this->getData('thumbnail_width');
$keepRatio = $this->getData('keep_ratio');
$keepFrame = $this->getData('keep_frame');

$showDate = $this->getData('show_date');
$showCategory = $this->getData('show_category');
$showImagecount = $this->getData('show_imagecount');
$showViewcount = $this->getData('show_viewcount');
$showDescription = $this->getData('show_description');
$shortdescriptionCount = $this->getData('shortdescription_count');
$showSocialnetworks = $this->getData('show_social_networks');

/** OWL CAROUSEL */
$item_height = (int)$this->getData("item_height");
$number_item_percolumn = $this->getData('number_item_percolumn');
$large_max_items = (int)$this->getData('large_max_items');
$large_items = (int)$this->getData('large_items');
$portrait_items = (int)$this->getData('portrait_items');
$tablet_items = (int)$this->getData('tablet_items');
$tablet_small_items = (int)$this->getData('tablet_small_items');
$mobile_items = (int)$this->getData('mobile_items');

$rtl = $this->getData('rtl');
$loop = $this->getData('loop');
$autoplay = $this->getData('autoplay');
$autoplayTimeout = (int)$this->getData('autoplay_timeout');
$autoplay_hoverpause = $this->getData('autoplay_hoverpause');
$dots = $this->getData('dots');
$nav = $this->getData('nav');
$nav_prev = $this->getData('nav_prev');
$nav_next = $this->getData('nav_next');

/** ALBUM SETTINGS */
$showTitle = $this->getData('show_title');
$showShortDescription = $this->getData('show_shortdescription');
$shortdescriptionCount = $this->getData('shortdescription_count');
$showReadmore = $this->getData('show_readmore');
$show_album_link         = $this->getData('show_album_link');


$masonryBlockId = 'gallery-albums';
$id = time() . rand();
$blockId = 'lgl-items' . $id;


if ($lightbox == '') {
    $lightbox = 'fancybox';
}
?>
<?php //var_dump($block->getAlbumId());die; ?>
<!-- START -->
<div id="album-<?php echo $block->getAlbumId() ?>"
     class="gallery-page gallery-block album-<?php echo $type ?>
      gallery-lightbox-<?php echo $lightbox ?> gallery-widget gallery-<?php echo $type ?>
       gallery-skin-<?php echo $skin ?> gallery-widget-<?php echo $style ?> block gallery-album"
     data-masonry-id="<?php echo $masonryBlockId ?>"
     data-xs-column="<?php echo $xs_column ?>"
     data-sm-column="<?php echo $sm_column ?>"
     data-md-column="<?php echo $md_column ?>"
     data-lg-column="<?php echo $lg_column ?>"
     data-margin="10">
    <?php if ($title) { ?>
        <div class="block-title">
            <strong><?php echo __($title); ?></strong>
        </div>
    <?php } ?>
    <div class="album-content-inner">
        <div id="gallery-albums" class="lgl-items lgl-masonry">
            <?php $i = 0; ?>
            <?php foreach ($image as $images): ?>
                <?php //var_dump($images);?>
                <div class="lgl-item">
                    <div class="lgl-item-inner">
                        <div class="lgl-item-media">
                            <?php
                            if ($thumbnailWidth || $thumbnailHeight) {
                                $imageSrc = $imageHelper->setKeepFrame($keepFrame?true:false)->resizeImage($images['filelink'], $thumbnailWidth, $thumbnailHeight, 100, $keepRatio?true:false);
                            } else {
                                $imageSrc = $images['filelink'];
                            }
                            ?>
                            <?php if (!$lightbox && $enableZoom) { ?>
                            <a class="lgl-zoom-fancybox" href="<?php echo $images['filelink'] ?>" title="<?php echo $block->escapeHtml($images['title']) ?>">
                                <?php } ?>
                                <img href="<?php echo $images['filelink'] ?>" data-zoom-url="<?php echo $images['filelink'] ?>" src="<?php echo $imageSrc ?>" alt="<?php echo $block->escapeHtml($images['label']) ?>" title="<?php echo $block->escapeHtml($images['label']) ?>"/>
                                <?php if (!$lightbox && $enableZoom) { ?>
                            </a>
                            <?php } ?>
                            <div class="lgl-item-links">
                                <div class="lgl-item-link lgl-item-popup">
                                    <a data-size="1000x600" data-rel="gallery<?php echo $i ?>"
                                       class="gallery[<?php echo $i ?>] lgl-<?php echo $lightbox ?>-item <?php if ($images['video_url'] != '' && $lightbox == 'magnific') { ?>mfp-iframe<?php } ?>"
                                       <?php if ($images['video_url'] != '') { ?>data-fancybox-type="iframe"<?php } ?>
                                       rel="gallery[<?php echo $blockId . $block->getAlbumId(); ?>]"
                                       href="<?php echo $helper->getPopupUrl($images) ?>">
                                        <?php if ($images['video_url'] != '') { ?>
                                            <i class="fa fa-play"></i>
                                        <?php } else { ?>
                                            <i class="fa fa-picture-o"></i>
                                        <?php } ?>
                                    </a>
                                </div>
                                <?php if($show_album_link && isset($images['link']) && $images['link']) { ?>
                                <div class="lgl-item-link lgl-item-link-detail">
                                    <a class="tg-link-button" href="<?php echo $images['link']; ?>" target="_self">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </div>
                                <?php } ?>
                            </div>
                        </div>
                        <div class="lgl-item-content">
                            <h2 class="lgl-item-title">
                                <a href="<?php echo $images['link']; ?>" class="gallery-zoom album-title"
                                   <?php if (isset($images['linktargetblank']) && $images['linktargetblank']) { ?>target="_blank"<?php } ?>>
                                    <?php echo $images['video_title'] ? $images['video_title'] : $images['title']; ?>
                                </a>
                            </h2>

                            <?php
                            $description = $images['video_description'] ? $images['video_description'] : $images['description'];
                            $description = $helper->subString($description, 150);
                            ?>
                            <?php if ($description) { ?>
                                <p class="lgl-item-shortdescription">
                                    <?php echo $description; ?>
                                </p>
                            <?php } ?>
                        </div>
                    </div>
                </div>
            <?php endforeach; ?>

        </div>
    </div>
</div>
<!-- END -->
<script>
    require([
        'jquery'
        <?php if (!$lightbox && $enableZoom) { ?>
        ,'Lof_Gallery/js/jquery.zoom.min',
        'Lof_All/lib/fancybox/jquery.fancybox'
        <?php } ?>
    ], function($<?php if (!$lightbox && $enableZoom) { ?>, zoom<?php } ?>) {
        jQuery(document).ready(function() {
            setTimeout(function(){
                $('#<?php echo $blockId; ?> .lgl-items').css({"visibility": "visible", "height": ""});
                $('#gallery-loading<?php echo $id ?>').hide();
                var itemHeigth = 0;

                <?php if ($type=='grid' && $equal_height) { ?>
                $('#<?php echo $blockId; ?> .lgl-items').find('.row').each(function(index, el) {
                    $(this).find('.lgl-item-inner').each(function() {
                        var newHeight = $(this).height();
                        if (newHeight>itemHeigth) {
                            itemHeigth = newHeight;
                        }
                    });
                    setTimeout(function(){
                        $(this).find('.lgl-item-inner').css({"height":  itemHeigth + "px"});
                    }, 1000);
                });
                <?php } ?>
            }, 500);

            <?php if (!$lightbox && $enableZoom) { ?>
            $('#<?php echo $blockId; ?> .lgl-item-media-inner img').each(function() {
                var original_img_url = $(this).attr('data-zoom-url');
                $(this).parent().zoom({
                    url: original_img_url,
                    on: '<?php echo $zommOn ?>',
                    duration: <?php echo $zommDuration ?>
                });
            });

            $('#<?php echo $blockId; ?> .lgl-zoom-fancybox').click(function(e) {
                var self = $(this);
                jQuery.fancybox.open({
                    wrapCSS 	: 'lgl-popup',
                    padding		: 2,
                    maxWidth	: '80%',
                    maxHeight	: '100%',
                    fitToView	: false,
                    width		: '80%',
                    autoSize	: false,
                    closeClick	: false,
                    openEffect	: 'elastic',
                    closeEffect	: 'none',
                    href: self.attr('href'),
                    title: self.attr('title'),
                    helpers: {
                        overlay: {
                            locked: false
                        }
                    }
                });
                return false;
            });
            <?php } ?>
        });
    });
</script>