<?php
/**
 * @var $block \Lof\Gallery\Block\Widget\BoxSlider
 */

$helper      = $this->helper("Lof\Gallery\Helper\Data");
$imageHelper = $this->helper("Lof\Gallery\Helper\Image");
$collection  = $block->getCollection();
$title       = $this->getData('widget_title');
$pretext     = $this->getData('pretext');
$id          = time() . rand();
$blockId     = 'lgl-boxslider' . $id;

/** SLIDER SETTINGS */
$responsive   = $this->getData('responsive');
$speed        = (int) $this->getData('speed');
$autoScroll   = $this->getData('autoScroll');
$timeout      = (int) $this->getData('timeout');
$pauseOnHover = $this->getData('pauseOnHover');
$effect       = $this->getData('effect');

/** ALBUM SETTINGS */
$imageWidth    = (int) $this->getData('image_width');
$imageHeight   = (int) $this->getData('image_height');

$imageWidth = 800;
$imageHeight = 500;
$style = '';
if ($imageWidth) {
	$style .= 'width: ' . $imageWidth . 'px;';
}
if ($imageHeight) {
	$style .= 'height: ' . $imageHeight . 'px;';
}
if ($style) {
	$style = 'style="' . $style . '"';
}
?>
<?php if ($collection->count()) { ?>
<div id="<?php echo $blockId ?>" class="gallery-block block widget gallery-widget lgl-boxslider <?php echo $this->getData('addition_class') ?>">
	<?php if ($title) { ?>
	<div class="block-title">
		<strong><?php echo __($title); ?></strong>
	</div>
	<?php } ?>
	<?php if ($pretext = $helper->filter($pretext)) { ?>
	<div class="lgl-pretext">
		<p><?php echo $pretext?></p>
	</div>
	<?php } ?>
	<div class="block-content">
		<div class="time-indicator-wrapper" <?php if ($imageWidth) { ?>style="width: <?php echo $imageWidth ?>px"<?php } ?>>
			<div id="time-indicator<?php echo $id ?>" class="time-indicator"></div>
		</div>
		<div class="lgl-boxslider-wrapper" <?php echo $style ?>>
			<div class="lgl-box">
				<?php foreach ($collection as  $album){ ?>
				<?php $thumbnail = $album->getThumbnail(); ?>
				<?php if ($thumbnail){ ?>
				<?php
				$imageSrc  = $thumbnail['filelink'];
				$iframeUrl = $helper->getPopupUrl($thumbnail); ?>
				<div class="lgl-slide">
					<?php if (strpos($iframeUrl, 'youtube') !== false || strpos($iframeUrl, 'vimeo') !== false) { ?>
					<iframe src="<?php echo $iframeUrl ?>" width="<?php echo $imageWidth ?>" height="<?php echo $imageHeight ?>" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
					<?php } else { ?>
					<?php
					if ($imageWidth) {
						$src = $imageHelper->setKeepFrame(true)->resizeImage($imageSrc, $imageWidth, $imageHeight, 100, false);
					} else {
						$src = $thumbnail['filelink'];
					}
					?>
					<img src="<?php echo $src; ?>"/>
					<?php } ?>
				</div> 
				<?php } ?>
				<?php } ?>
			</div>
		</div>
		<nav class="slider-controls" <?php if ($imageWidth) { ?>style="width: <?php echo $imageWidth ?>px"<?php } ?>>
			<a class="increment-control" href="#" id="lgl-prev<?php echo $id ?>" title="go to the next slide"><i class="fa fa-angle-double-left" aria-hidden="true"></i> <?php echo __('Prev'); ?></a>
			<a class="increment-control" href="#" id="lgl-next<?php echo $id ?>" title="go to the next slide"><?php echo __('Next'); ?> <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
			<ul class="lgl-boxslider-indicators<?php echo $id ?>">
				<?php $i = 0; ?>
				<?php foreach ($collection as $album) { ?>
				<?php
				$class = '';
				if ($i==0) {
					$class = 'active';
				}
				?>
				<li><a class="goto-slide <?php echo $class ?>" href="#" data-slideindex="<?php echo $i ?>"></a></li>
				<?php $i++; ?>
				<?php } ?>
			</ul>
		</nav>
	</div>
	<script>
		require([
			'jquery',
			'lgl.boxSlider'
			], function($){
				jQuery(document).ready(function($) {
					var $timeIndicator = $('#time-indicator<?php echo $id ?>')
					var $box = $('#<?php echo $blockId ?> .lgl-box');
					var $indicators = $('.lgl-boxslider-indicators<?php echo $id ?> .goto-slide');
					var slideInterval = <?php echo $timeout ?>;
					var switchIndicator = function ($c, $n, currIndex, nextIndex) {
						$timeIndicator.stop().css('width', 0);
						$indicators.removeClass('active').eq(nextIndex).addClass('active');
					};
					var startTimeIndicator = function () {
						$timeIndicator.animate({width: '100%'}, slideInterval);
					};
					$box.boxSlider({
						next: '#lgl-next<?php echo $id ?>',
						prev: '#lgl-prev<?php echo $id ?>',
						timeout: slideInterval,
						speed: <?php echo $speed ?>,
						responsive: <?php echo $responsive?'true':'false'; ?>,
						autoScroll: <?php echo $autoScroll?'true':'false'; ?>,
						effect: '<?php echo $effect ?>',
						pauseOnHover: <?php echo $pauseOnHover?'true':'false' ?>,
						onbefore: switchIndicator,
						onafter: startTimeIndicator,
					});
					startTimeIndicator();
					$('.lgl-boxslider-indicators<?php echo $id ?>').on('click', '.goto-slide', function (ev) {
						$box.boxSlider('showSlide', $(this).data('slideindex'));
						ev.preventDefault();
					});

				});
			});
		</script>
	</div>
	<?php } ?>