<?php
/**
 * @var $block \Lof\Gallery\Block\Widget\CameraSlider
 */

$helper      = $this->helper("Lof\Gallery\Helper\Data");
$imageHelper = $this->helper("Lof\Gallery\Helper\Image");
$collection  = $block->getCollection();
$title       = $this->getData('widget_title');
$pretext     = $this->getData('pretext');
$blockId     = 'lgl-camera' . time() . rand();

/** SLIDER SETTINGS */
$sliderAlignment         = $this->getData('slider_alignment');
$sliderAutoAdvance       = $this->getData('slider_autoAdvance');
$sliderMobileAutoAdvance = $this->getData('slider_mobileAutoAdvance');
$sliderBarDirection      = $this->getData('slider_barDirection');
$sliderBarPosition       = $this->getData('slider_barPosition');
$sliderCols              = (int) $this->getData('slider_cols');
$sliderRows              = (int) $this->getData('slider_rows');
$sliderEasing            = $this->getData('slider_easing');
$sliderEffect            = $this->getData('slider_effect');
$sliderGridDifference    = $this->getData('slider_gridDifference');
$sliderHeight            = $this->getData('slider_height');
$sliderMinHeight         = $this->getData('slider_minHeight');
$sliderHover             = $this->getData('slider_hover');
$sliderLoader            = $this->getData('slider_loader');
$sliderNavigation        = $this->getData('slider_navigation');
$sliderNavigationHover   = $this->getData('slider_navigationHover');
$sliderOverlayer         = $this->getData('slider_overlayer');
$sliderOpacityOnGrid     = $this->getData('slider_opacityOnGrid');
$sliderPagination        = $this->getData('slider_pagination');
$sliderPlayPause         = $this->getData('slider_playPause');
$sliderPauseOnClick      = $this->getData('slider_pauseOnClick');
$sliderPiePosition       = $this->getData('slider_piePosition');
$sliderPortrait          = $this->getData('slider_portrait');
$sliderSlideOn           = $this->getData('slider_slideOn');
$sliderThumbnails        = $this->getData('slider_thumbnails');
$sliderThumbnailWidth    = (int) $this->getData('thumbnail_width');
$sliderThumbnailHeight   = (int) $this->getData('thumbnail_height');
$sliderTime              = $this->getData('slider_time');
$sliderTransPeriod       = $this->getData('slider_transPeriod');

/** ALBUM SETTINGS */
$showTitle               = $this->getData('show_title');
$showShortDescription    = $this->getData('show_shortdescription');
$shortdescriptionCount   = 300;
$showReadmore            = $this->getData('show_readmore');
?>
<?php if ($collection->count()) { ?>
<div id="<?php echo $blockId ?>" class="block widget gallery-widget <?php echo $this->getData('addition_class') ?>">
	<?php if ($title) { ?>
	<div class="block-title">
		<strong><?php echo __($title); ?></strong>
	</div>
	<?php } ?>
	<?php if ($pretext = $helper->filter($pretext)) { ?>
	<div class="lgl-pretext">
		<p><?php echo $pretext?></p>
	</div>
	<?php } ?>
	<div class="block-content">
		<div class="lgl-camera">
			<?php foreach ($collection as  $album){ ?>
			<?php $thumbnail = $album->getThumbnail(); ?>
			<?php if ($thumbnail){ ?>
			<?php
			$imageSrc  = $thumbnail['filelink'];
			$iframeUrl = $helper->getPopupUrl($thumbnail); ?>
			<?php
			$thumbnailUrl = $imageSrc;
			if ($sliderThumbnailWidth) {
				$thumbnailUrl = $imageHelper->resizeImage($imageSrc, $sliderThumbnailWidth, $sliderThumbnailHeight);
			}
			?>
			<div data-thumb="<?php echo $thumbnailUrl ?>" data-src="<?php echo $imageSrc; ?>">
				<?php if (strpos($iframeUrl, 'youtube') !== false || strpos($iframeUrl, 'vimeo') !== false) { ?>
				<iframe src="<?php echo $iframeUrl ?>" width="100%" height="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
				<?php } ?>

				<?php if ($showTitle || $showShortDescription) { ?>
				<div class="camera_caption fadeFromBottom">
					<?php if ($showTitle) { ?>
					<h2 class="lgl-item-title">
						<a href="<?php echo $album->getAlbumLink(); ?>" title="<?php echo $block->escapeHtml($album->getName()); ?>" class="gallery-zoom album-title">
							<?php echo $album->getName(); ?>
						</a>
					</h2>
					<?php } ?>
					<?php $shortDescription = $helper->subString($album->getDescription(), $shortdescriptionCount); ?>
					<?php if ($showShortDescription && $shortDescription) { ?>
					<?php echo $shortDescription; ?>
					<?php } ?>
					<a href="<?php echo $album->getAlbumLink(); ?>" class="lgl-camera-readmore" target="_self"><?php echo __('Read More '); ?><i class="fa fa-angle-right"></i>
					</a>
				</div>
				<?php } ?>
			</div> 
			<?php } ?>
			<?php } ?>
		</div>
	</div>
	<script>
		require([
			'jquery',
			'Lof_Gallery/js/jquery.easing.1.3',
			'Lof_Gallery/js/camera.min'
			], function($){
				jQuery(document).ready(function() {
					jQuery('#<?php echo $blockId ?> .lgl-camera').camera({
						<?php if ($sliderAlignment) { ?>
							alignment: '<?php echo $sliderAlignment ?>',
							<?php } ?>
							autoAdvance: <?php echo $sliderAutoAdvance?'true':'false' ?>,
							mobileAutoAdvance: <?php echo $sliderMobileAutoAdvance?'true':'false' ?>,
							<?php if ($sliderBarDirection) { ?>
								barDirection: '<?php echo $sliderBarDirection ?>',
								<?php } ?>
								<?php if ($sliderBarPosition) { ?>
									barPosition: '<?php echo $sliderBarPosition ?>',
									<?php } ?>
									<?php if ($sliderCols) { ?>
										cols: '<?php echo $sliderCols ?>',
										<?php } ?>
										<?php if ($sliderEasing) { ?>
											easing: '<?php echo $sliderEasing ?>',
											<?php } ?>
											<?php if ($sliderEffect) { ?>
												fx: '<?php echo $sliderEffect ?>',
												<?php } ?>
												<?php if ($sliderGridDifference) { ?>
													gridDifference: '<?php echo $sliderGridDifference ?>',
													<?php } ?>
													<?php if ($sliderHeight) { ?>
														height: '<?php echo $sliderHeight ?>',
														<?php } ?>
														hover: <?php echo $sliderHover?'true':'false' ?>,
														<?php if ($sliderLoader) { ?>
															loader: '<?php echo $sliderLoader ?>',
															<?php } ?>
															<?php if ($sliderMinHeight) { ?>
																minHeight: '<?php echo $sliderMinHeight ?>',
																<?php } ?>
																navigation: <?php echo $sliderNavigation?'true':'false' ?>,
																navigationHover: <?php echo $sliderNavigationHover?'true':'false' ?>,
																opacityOnGrid: <?php echo $sliderOpacityOnGrid?'true':'false' ?>,
																overlayer: <?php echo $sliderOverlayer?'true':'false' ?>,
																pagination: <?php echo $sliderPagination?'true':'false' ?>,
																playPause: <?php echo $sliderPlayPause?'true':'false' ?>,
																pauseOnClick: <?php echo $sliderPauseOnClick?'true':'false' ?>,
																<?php if ($sliderPiePosition) { ?>
																	piePosition: '<?php echo $sliderPiePosition ?>',
																	<?php } ?>
																	portrait: <?php echo $sliderPortrait?'true':'false' ?>,
																	<?php if ($sliderRows) { ?>
																		rows: '<?php echo $sliderRows ?>',
																		<?php } ?>
																		<?php if ($sliderSlideOn) { ?>
																			slideOn: '<?php echo $sliderSlideOn ?>',
																			<?php } ?>
																			thumbnails: <?php echo $sliderThumbnails?'true':'false' ?>,
																			<?php if ($sliderTime) { ?>
																				time: '<?php echo $sliderTime ?>',
																				<?php } ?>
																				<?php if ($sliderTime) { ?>
																					transPeriod: '<?php echo $sliderTransPeriod ?>'
																					<?php } ?>
																				})
				});
			});
		</script>
	</div>
	<?php } ?>