<?php
/**
 * @var $block \Lof\Gallery\Block\Widget\Gallery
 */

$helper       = $this->helper("Lof\Gallery\Helper\Data");
$imageHelper  = $this->helper("Lof\Gallery\Helper\Image");
$collection   = $block->getCollection(); 
$title        = $this->getData('widget_title');
$pretext      = $this->getData('widget_pretext');
$customClass  = $this->getData('widget_class');
$blockId      = 'lgl-carousel' . time() . rand();
$id           = time() . rand();
$xs_column    = $this->getData('xs_column');
$sm_column    = $this->getData('sm_column');
$md_column    = $this->getData('md_column');
$lg_column    = $this->getData('lg_column');
$total        = $collection->count();
$type         = $this->getData('layout_mode');
$lightbox     = $this->getData('lightbox');
$style        = $this->getData('style');
$equal_height = $this->getData('equal_height');

/** ALBUM SETTINGS */
$showName              = $this->getData('show_name');
$showThumbnail         = $this->getData('show_thumbnail');
$thumbnailHeight       = $this->getData('thumbnail_height');
$thumbnailWidth        = $this->getData('thumbnail_width');
$showDate              = $this->getData('show_date');
$showCategory          = $this->getData('show_category');
$showImagecount        = $this->getData('show_imagecount');
$showViewcount         = $this->getData('show_viewcount');
$showDescription       = $this->getData('show_description');
$shortdescriptionCount = $this->getData('shortdescription_count');
$showSocialnetworks    = $this->getData('show_social_networks');

/** OWL CAROUSEL */
$item_height           = (int) $this->getData("item_height");
$number_item_percolumn = $this->getData('number_item_percolumn');
$large_max_items       = (int) $this->getData('large_max_items');
$large_items           = (int) $this->getData('large_items');
$portrait_items        = (int) $this->getData('portrait_items');
$tablet_items          = (int) $this->getData('tablet_items');
$tablet_small_items    = (int) $this->getData('tablet_small_items');
$mobile_items          = (int) $this->getData('mobile_items');

$rtl                   = $this->getData('rtl');
$loop                  = $this->getData('loop');
$autoplay              = $this->getData('autoplay');
$autoplayTimeout       = (int) $this->getData('autoplay_timeout');
$autoplay_hoverpause   = $this->getData('autoplay_hoverpause');
$dots                  = $this->getData('dots');
$nav                   = $this->getData('nav');
$nav_prev              = $this->getData('nav_prev');
$nav_next              = $this->getData('nav_next');

/** ALBUM SETTINGS */
$showTitle               = $this->getData('show_title');
$showShortDescription    = $this->getData('show_shortdescription');
$shortdescriptionCount   = $this->getData('shortdescription_count');
$showReadmore            = $this->getData('show_readmore');

/** Multiple Row */
if (!$number_item_percolumn) {
	$number_item_percolumn = 1;
}
if ($total%$number_item_percolumn == 0) {
	$column = $total/$number_item_percolumn;
}else{
	$column = floor($total/$number_item_percolumn)+1;
}

$albumCollection = [];
$i = $x = 0;
foreach ($collection as $album) {
	if ($i<$column) {
		$i++;
	} else {
		$i = 1;
		$x++;
	}
	$albumCollection[$i][$x] = $album;
}

if ($type=='list') {
	$xs_column  = $sm_column = $md_column = $lg_column = 1;
}

$tabs = $block->getTabs();

if ($style == 'style3' || $style == 'style4' || $style == 'style5' || $style == 'style6' || $style == 'style7' || $style == 'style8' || $style == 'style9' || $style == 'style10' || $style == 'style11' || $style == 'style12' || $style == 'style13') {
	$customClass .= ' gallery-style-common';
}

if ($style == 'style13') {
	$customClass .= ' gallery-widget-style7';
}

$categoryCollection = $block->getCategoryCollection();
?>
<?php if ($total) { ?>
<div id="<?php echo $blockId ?>" class="gallery-block block widget gallery-widget <?php if ($type=='list') { ?>album-list<?php } ?> gallery-lightbox-<?php echo $lightbox ?> gallery-widget-<?php echo $style ?> <?php echo $customClass ?> <?php echo $this->getData('addition_class') ?>">
	<?php if ($title) { ?>
	<div class="block-title">
		<strong><?php echo __($title); ?></strong>
	</div>
	<?php } ?>
	<?php if ($pretext = $helper->filter($pretext)) { ?>
	<div class="lgl-pretext">
		<p><?php echo $pretext?></p>
	</div>
	<?php } ?>
	<div class="block-content">
		<div class="lgl-items lgl-<?php echo $type ?> <?php if ($type=='owl') { ?>owl-theme owl-carousel<?php } ?>"?>


		</div>
	</div>
	<?php } ?>