<?php
/**
 * @var $block \Lof\Gallery\Block\Widget\Gallery
 */

$_helper      = $this->helper('Magento\Catalog\Helper\Output');
$helper       = $this->helper("Lof\Gallery\Helper\Data");
$imageHelper  = $this->helper("Lof\Gallery\Helper\Image");
$collection   = $block->getCollection(); 
$title        = $this->getData('widget_title');
$pretext      = $this->getData('widget_pretext');
$customClass  = $this->getData('widget_class');
$blockId      = 'lgl-carousel' . time() . rand();
$id           = time() . rand();
$xs_column    = $this->getData('xs_column');
$sm_column    = $this->getData('sm_column');
$md_column    = $this->getData('md_column');
$lg_column    = $this->getData('lg_column');
$total        = $collection->count();
$layout_mode  = $this->getData('layout_mode');
$lightbox     = $this->getData('lightbox');
$equal_height = $this->getData('equal_height');
$type         = 'grid';
$skin         = $this->getData('skin');
$skin         = $this->getData('items_per_silde');

/** ALBUM SETTINGS */
$showName              = $this->getData('show_name');
$showThumbnail         = $this->getData('show_thumbnail');
$thumbnailHeight       = $this->getData('thumbnail_height');
$thumbnailWidth        = $this->getData('thumbnail_width');
$showDate              = $this->getData('show_date');
$showCategory          = $this->getData('show_category');
$showImagecount        = $this->getData('show_imagecount');
$showViewcount         = $this->getData('show_viewcount');
$showDescription       = $this->getData('show_description');
$shortdescriptionCount = $this->getData('shortdescription_count');
$showSocialnetworks    = $this->getData('show_social_networks');
$numberItem            = $this->getData('items_per_silde');

/** OWL CAROUSEL */
$item_height           = (int) $this->getData("item_height");
$numberItemsPerColumn = $this->getData('numberItemsPerColumn');
$large_max_items       = 1;
$large_items           = 1;
$portrait_items        = 1;
$tablet_items          = 1;
$tablet_small_items    = 1;
$mobile_items          = 1;

$rtl                   = $this->getData('rtl');
$loop                  = $this->getData('loop');
$autoplay              = $this->getData('autoplay');
$autoplayTimeout       = (int) $this->getData('autoplay_timeout');
$autoplay_hoverpause   = $this->getData('autoplay_hoverpause');
$dots                  = $this->getData('dots');
$nav                   = $this->getData('nav');
$nav_prev              = $this->getData('nav_prev');
$nav_next              = $this->getData('nav_next');

/** ALBUM SETTINGS */
$showTitle             = $this->getData('show_title');
$showShortDescription  = $this->getData('show_shortdescription');
$shortdescriptionCount = $this->getData('shortdescription_count');
$showReadmore          = $this->getData('show_readmore');
$show_album_link 		 = $this->getData('show_album_link');

/** LOOK BOOK OPTIONS */
$easing_type     = $this->getData('lookbok_easing');
$effect          = $this->getData('lookbok_effect');	
$effect_duration = (int) $this->getData('lookbok_effectduration');

/** PRODUCT OPTIONS */
$show_productname    = $this->getData('show_productname');
$show_productprice   = $this->getData('show_productprice');
$show_productimage   = $this->getData('show_productimage');
$productimage_width  = (int) $this->getData('productimage_width');
$productimage_height = (int) $this->getData('productimage_height');
$show_productreview  = $this->getData('show_productreview');

/** Multiple Row */
$numberItemsPerColumn = 1;
if ($total%$numberItemsPerColumn == 0) {
	$column = $total/$numberItemsPerColumn;
}else{
	$column = floor($total/$numberItemsPerColumn)+1;
}

$albumCollection = [];
$i = $x = 0;
foreach ($collection as $album) {
	if ($i<$column) {
		$i++;
	} else {
		$i = 1;
		$x++;
	}
	$albumCollection[$i][$x] = $album;
}

if ($type=='list') {
	$xs_column  = $sm_column = $md_column = $lg_column = 1;
}

$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
$tabs = $block->getTabs();


?>
<?php if ($total) { ?>
<div id="<?php echo $blockId; ?>" class="gallery-block block widget gallery-widget gallery-lookbook lightbox-<?php echo $lightbox ?> gallery-skin-<?php echo $skin ?> gallery-widget-<?php echo $this->getData('style') ?>  <?php if ($type=='list') { ?>album-list<?php } ?> <?php echo $customClass ?> <?php echo $this->getData('addition_class') ?>">
	<?php if ($title) { ?>
	<div class="block-title">
		<strong><?php echo __($title); ?></strong>
	</div>
	<?php } ?>
	<?php if ($pretext = $helper->filter($pretext)) { ?>
	<div class="lgl-pretext">
		<p><?php echo $pretext?></p>
	</div>
	<?php } ?>
	<div class="block-content">
		<?php if ($type == 'masonry' || $type == 'grid' || $type=='list') { ?>
		<div id="gallery-loading<?php echo $id ?>" class="gallery-loading">
			<div class="r1"></div>
			<div class="r2"></div>
			<div class="r3"></div>
			<div class="r4"></div>
			<div class="r5"></div>
		</div>
		<?php } ?>
		<div class="lgl-items lgl-<?php echo $type ?>">
			<?php $i = 0; ?>
			<?php $r = 0; ?>
			<?php foreach ($albumCollection as $_columnCollection) { ?>
			<?php if ($type=='grid' || $type=='list') { ?>
			<?php
			if(isset($tabs[$r])) {
				$lg_column = $tabs[$r]["large_desktop"];
				if ($tabs[$r]["large_desktop"] == $i) {
					$i=0;
					$r++;
				}
			}
			?>
			<?php if( $lg_column == 1 || $i%$lg_column == 0) { ?>
			<div class="row">
				<?php } ?>
				<div class="<?php echo $block->getCustomColClass($r); ?>">
					<?php } ?>
					<div class="lgl-item">
						<?php foreach ($_columnCollection as $k => $album) { ?>
						<?php $categories = $album->getCategoryCollection(); ?>
						<?php
						$classes = '';
						if ($type=='masonry') {
							$categories = $_columnCollection->getCategoryCollection();
							foreach ($categories as $category) {
								$classes .= ' gallery-filter-' . $category->getIdentifier();
							}
						}
						?>
						<div class="lgl-item-inner <?php echo $classes ?>" <?php if ($item_height) { ?>style="height: <?php echo $item_height ?>px"<?php } ?>>

							<?php $thumbnail = $album->getThumbnail(); ?>
							<?php if($thumbnail) { ?>
							<div class="lgl-item-media">
								<div class="lgl-item-media-inner">
									<?php
									if ($thumbnailWidth || $thumbnailHeight) {
										$imageSrc = $imageHelper->resizeImage($thumbnail['filelink'], $thumbnailWidth, $thumbnailHeight);
									} else {
										$imageSrc = $thumbnail['filelink'];
									}
									?>
									<img src="<?php echo $imageSrc ?>" alt="<?php echo $block->escapeHtml($thumbnail['label']) ?>" title="<?php echo $block->escapeHtml($thumbnail['label']) ?>"/>

									<?php
									$images = $album->getImages();
									?>
									<?php if (count($images)) { ?>
									<div class="lgl-hidden">
										<?php $x = 0; ?>
										<?php foreach ($images as $image) { ?>
										<?php if ($x< $numberItem && !$image['thumbnail']) { ?>
										<a data-size="1000x800" data-author="Folkert Gorter"
										class="lgl-<?php echo $lightbox ?>-item <?php if ($image['video_url']!='' && $lightbox=='magnific') { ?>mfp-iframe<?php } ?>"
										<?php if ($image['video_url']!='') { ?>data-fancybox-type="iframe"<?php } ?>
										rel="gallery<?php echo $i ?>"
										href="<?php echo $helper->getPopupUrl($image, $lightbox) ?>"
										title="<?php echo $block->escapeHtml($image['title']) ?>">
									</a>
									<?php $x++; ?>
									<?php } ?>
									<?php } ?>
								</div>
								<?php } ?>
								<!-- PRODUCTS -->
								<?php $products = $album->getProductCollection(); ?>
								<?php if($totalProducts = $products->count()) { ?>
								<?php
								$itemsPerColumn = 2;
								$productTotal = $products->count();
								if ($productTotal%$itemsPerColumn == 0) {
									$productColumn = $productTotal/$itemsPerColumn;
								}else{
									$productColumn = floor($productTotal/$itemsPerColumn)+1;
								}

								$productCollection = [];
								$y = $z = 0;
								foreach ($products as $product) {
									if ($y<$productColumn) {
										$y++;
									} else {
										$y = 1;
										$z++;
									}
									$productCollection[$y][$z] = $product;
								}
								?>

								<div class="gallery-accordion">
									<div id="accordion<?php echo $album->getAlbumId() . $k;?>" class="panel-group">
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion<?php echo $album->getAlbumId();?>" href="#"> <?php echo __('Shop the look'); ?> </a>
												</h4>
											</div>
											<?php if($totalProducts < 3) {
												$height = 360/$totalProducts;
												$style = 'style="height:'.$height.'px;"';
											}else{
												$style = 'style="height:360px;"';
											} ?>
											<div id="collapseAc<?php echo $album->getAlbumId() . $k; ?>" class="panel-collapse collapse gallery-<?php echo $layout_mode ?>" <?php echo $style; ?>>
												<div class="panel-body">
													<div class="products-lookbook" >
														<div class="product-items products-related <?php if ($layout_mode=='lookbook-slider') { ?>owl-theme owl-carousel<?php } ?>"
															data-margin="10"
															data-large-max-items="<?php echo $large_max_items ?>"
															data-large-items="<?php echo $large_items ?>"
															data-portrait-items="<?php echo $portrait_items ?>"
															data-tablet-items="<?php echo $tablet_items ?>"
															data-tablet-small-items="<?php echo $tablet_small_items ?>"
															data-mobile-items="<?php echo $mobile_items ?>"
															<?php if ($autoplayTimeout) { ?>
															data-autoplay-timeout="<?php echo $autoplayTimeout ?>"<?php } ?>
															data-autoplay-pauonhover="<?php echo $autoplay_hoverpause?'true':'false' ?>"
															data-autoplay="<?php echo $autoplay?'true':'false' ?>"
															data-responsive-refresh-rate="false"
															data-dots="<?php echo $dots?'true':'false' ?>"	
															data-nav="<?php echo $nav?'true':'false' ?>"
															data-loop="<?php echo $loop?'true':'false' ?>"
															data-rtl="<?php echo $rtl?'true':'false' ?>"
															data-nav-text-owlpre="<?php echo $nav_prev ?>"
															data-nav-text-owlnext="<?php echo $nav_next ?>">

															<?php foreach ($productCollection as $key => $columnCollection) {  ?>
															<div class="product-block-wrapper">
																<?php foreach ($columnCollection as $key => $product) {  ?>
																<div class="product-block">
																	<div class="product-item-info">
																		<?php if ($show_productimage) { ?>
																		<?php $_image = $imageHelper->getImg($product, $productimage_width, $productimage_height, 'category_page_grid'); ?>
																		<div class="product-image">
																			<a class="product-item-photo" title="<?php echo $_image->getLabel() ?>" href="<?php echo $product->getProductUrl();   ?>">
																				<img src="<?php echo $_image->getUrl(); ?>" alt="<?php echo $_image->getLabel(); ?>" />
																			</a>
																		</div>
																		<?php } ?>
																		<div class="product-item-details">
																			<?php if ($show_productname) { ?>
																			<div class="product-item-name">
																				<a class="product-item-link" href="<?php echo $product->getProductUrl();   ?>"><?php echo $_helper->productAttribute($product, $product->getName(), 'name'); ?></a>
																			</div>
																			<?php } ?>
																			<?php if ($show_productreview) { ?>
																			<?php echo $block->getReviewsSummaryHtml($product, $templateType, false); ?>
																			<?php } ?>
																			<?php if ($show_productprice) { ?>
																			<?php echo $block->getLofProductPriceHtml($product); ?>
																			<?php } ?>					
																		</div>
																	</div>
																</div>
																<?php } ?>
															</div>
															<?php } ?>
														</div>
													</div>    
												</div>
											</div>
										</div>
									</div>
								</div>	
								<?php } ?>
								<!-- PRODUCTS -->
							</div>
							<div class="lgl-item-links">
								<div class="lgl-item-link lgl-item-popup">
									<a data-size="1000x800" data-author="Folkert Gorter" class="lgl-<?php echo $lightbox ?>-item <?php if ($image['video_url']!='' && $lightbox=='magnific') { ?>mfp-iframe<?php } ?>" <?php if ($thumbnail['video_url']!='') { ?>data-fancybox-type="iframe"<?php } ?> rel="gallery<?php echo $i ?>" alt="<?php echo $block->escapeHtml($thumbnail['label']) ?>"  title="<?php echo $block->escapeHtml($thumbnail['video_title']?$thumbnail['video_title']:$thumbnail['title']) ?>" href="<?php echo $helper->getPopupUrl($thumbnail) ?>">
										<?php if ($thumbnail['video_url']!='') { ?>
										<i class="fa fa-play"></i>
										<?php } else { ?>
										<i class="fa fa-picture-o"></i>
										<?php } ?>
									</a>
								</div>
								<?php if($show_album_link && $album->getAlbumLink()) { ?>
								<div class="lgl-item-link lgl-item-link-detail">
									<a class="tg-link-button" href="<?php echo $album->getAlbumLink(); ?>" target="_self">
										<i class="fa fa-link"></i>
									</a>
								</div>
								<?php } ?>
							</div>
						</div>
						<?php } ?>
						<?php if ($showName || $showSocialnetworks || $showImagecount || $showDate || $showViewcount || $showDescription) { ?>
						<div class="lgl-item-content">
							<?php if ($showName) { ?>
							<h2 class="lgl-item-title">
								<a href="<?php echo $album->getAlbumLink(); ?>" title="<?php echo $block->escapeHtml($album->getName()); ?>" class="gallery-zoom album-title">
									<?php echo $album->getName(); ?>
								</a>
							</h2>
							<?php } ?>
							<div class="lgl-hidden">
								<span class="album-id"><?php echo $album->getAlbumId() ?></span>
								<span class="album-imagecount"><?php echo $album->getImageCount() ?></span>
							</div>
							<?php if ($showSocialnetworks) { ?>
							<div class="lgl-socials">
								<div class="addthis_toolbox addthis_default_style" data-title="<?php echo $block->escapeHtml($album->getName()); ?>" addthis:url="<?php echo $album->getAlbumLink(); ?>">
									<a class="addthis_button_facebook"></a>
									<a class="addthis_button_twitter"></a>
									<a class="addthis_button_google"></a>
									<a class="addthis_button_email"></a>
									<a class="addthis_button_pinterest_share"></a>
									<a class="addthis_button_compact"></a>
								</div>
							</div>
							<?php } ?>

							<div class="lgl-item-info">
								<?php if ($showImagecount) { ?>
								<div class="lgl-item-numimages lgl-item-info-item"><i class="fa fa-picture-o"></i><span><?php echo $album->getImageCount(); ?></span></div>
								<?php } ?>
								<?php if ($showDate) { ?>
								<?php $createdTime = $helper->getFormatDate($album->getCreatedAt(), 'long'); ?>
								<div class="lgl-item-date lgl-item-info-item"><i class="fa fa-clock-o"></i><span><?php echo $createdTime; ?></span></div>
								<?php } ?>
								<?php if ($showCategory && ($categoryCount = $categories->count())) { ?>
								<div class="lgl-item-cat lgl-item-info-item"><i class="fa fa-folder" aria-hidden="true"></i>
									<?php $z = 0; ?>
									<?php foreach ($categories as $_cat) { ?>
									<a href="<?php echo $_cat->getUrl()  ?>" title="<?php echo $block->escapeHtml($_cat->getName()) ?>"><?php echo $_cat->getName() ?></a><?php if ($z<($categoryCount-1)) echo __(', '); ?>
									<?php $z++; ?>
									<?php } ?>
								</div>
								<?php } ?>
								<?php if ($showViewcount) { ?>
								<div class="lgl-item-hits lgl-item-info-item"><i class="fa fa-eye"></i><span><?php echo (int) $album->getHits() ?></span></div>
								<?php } ?>
							</div>

							<?php $shortDescription = $helper->subString($album->getDescription(), $shortdescriptionCount); ?>
							<?php if ($showDescription && $shortDescription) { ?>
							<p class="lgl-item-shortdescription">
								<?php echo $shortDescription; ?>
							</p>
							<div class="lgl-item-read-more">
								<a href="<?php echo $album->getAlbumLink(); ?>" target="_self"><?php echo __('Read More '); ?><i class="fa fa-angle-right"></i>
								</a>
							</div>
							<?php } ?>
						</div>
						<?php } ?>
					</div>
					<?php } ?>
				</div>

				<?php if ($type=='grid' || $type=='list') { ?>
			</div>

			<?php if( $lg_column == 1 || ($i+1)%$lg_column == 0 || ($i == $total-1) ) {  ?>
		</div>
		<?php } ?>

		<?php $i++; ?>
		<?php } ?>
		<?php } ?>
	</div>

	<script>
		require([
			'jquery',
			'jquery.Fakescroll'
			], function($){
				jQuery(document).ready(function() {
					jQuery('#<?php echo $blockId; ?> a.accordion-toggle.collapsed').each(function() {
						var panel = $(this).parents('.panel.panel-default');
						var panelCollapseBlock = panel.find('.panel-collapse').eq(0);
						var mediaBlockHeight = panel.closest(".lgl-item-media").height();
						if (panelCollapseBlock.height() > mediaBlockHeight) {
							mediaBlockHeight = mediaBlockHeight / 100 * 80;
							panelCollapseBlock.css({"height": mediaBlockHeight + "px"});
						}
						var mediaBlockWidth = panel.closest(".lgl-item-media").width();
						mediaBlockWidth = mediaBlockWidth / 100 * 80;
						panelCollapseBlock.css({"width": mediaBlockWidth + "px"});

						<?php if ($layout_mode == 'lookbook-list') { ?>
							jQuery(this).fakeScroll();
							<?php } ?>
							jQuery(this).click(function() {
								panel.toggleClass('active');
								panelCollapseBlock.<?php echo $effect; ?>(<?php echo $effect_duration;?>,'<?php echo $easing_type; ?>');
								return false;
							});
						});
					$('#<?php echo $blockId; ?> .lgl-items').css({"visibility": "visible", "height": ""});
					<?php if ($type=='grid' && $equal_height) { ?>
						var itemHeigth = 0;
						$('#<?php echo $blockId; ?> .lgl-items').find('.row').each(function(index, el) {
							$(this).find('.lgl-item-inner').each(function() {
								var newHeight = $(this).height();
								if (newHeight>itemHeigth) {
									itemHeigth = newHeight;
								}
							});
							$(this).find('.lgl-item-inner').css({"height":  itemHeigth + "px"});
						});
						<?php } ?>
					});
			});
		</script>
	</div>
</div>
<?php } ?>