<?php
/**
 * @var $block \Lof\Gallery\Block\Widget\Gallery
 */

$helper         = $this->helper("Lof\Gallery\Helper\Data");
$imageHelper    = $this->helper("Lof\Gallery\Helper\Image");
$collection     = $block->getCollection(); 
$title          = $this->getData('widget_title');
$pretext        = $this->getData('widget_pretext');
$customClass    = $this->getData('widget_class');
$blockId        = 'lgl-carousel' . time() . rand();
$id             = time() . rand();
$xs_column      = $this->getData('xs_column');
$sm_column      = $this->getData('sm_column');
$md_column      = $this->getData('md_column');
$lg_column      = $this->getData('lg_column');
$total          = $collection->count();
$type           = $this->getData('layout_mode');
$limit           = (int) $this->getData('limit');
$items_per_page = (int) $this->getData('items_per_page');
$show_filter    = (int) $this->getData('show_filter');
$lightbox       = $this->getData('lightbox');
$show_loadmore  = $this->getData('show_loadmore');
$skin           = $this->getData('skin');
$style          = $this->getData('style');

/** ALBUM SETTINGS */
$showName              = $this->getData('show_name');
$showThumbnail         = $this->getData('show_thumbnail');
$thumbnailHeight       = $this->getData('thumbnail_height');
$thumbnailWidth        = $this->getData('thumbnail_width');
$showDate              = $this->getData('show_date');
$showCategory          = $this->getData('show_category');
$showImagecount        = $this->getData('show_imagecount');
$showViewcount         = $this->getData('show_viewcount');
$showDescription       = $this->getData('show_description');
$shortdescriptionCount = $this->getData('shortdescription_count');
$showSocialnetworks    = $this->getData('show_social_networks');

/** OWL CAROUSEL */
$item_height           = (int) $this->getData("item_height");
$number_item_percolumn = $this->getData('number_item_percolumn');
$large_max_items       = (int) $this->getData('large_max_items');
$large_items           = (int) $this->getData('large_items');
$portrait_items        = (int) $this->getData('portrait_items');
$tablet_items          = (int) $this->getData('tablet_items');
$tablet_small_items    = (int) $this->getData('tablet_small_items');
$mobile_items          = (int) $this->getData('mobile_items');

$rtl                   = $this->getData('rtl');
$loop                  = $this->getData('loop');
$autoplay              = $this->getData('autoplay');
$autoplayTimeout       = (int) $this->getData('autoplay_timeout');
$autoplay_hoverpause   = $this->getData('autoplay_hoverpause');
$dots                  = $this->getData('dots');
$nav                   = $this->getData('nav');
$nav_prev              = $this->getData('nav_prev');
$nav_next              = $this->getData('nav_next');

/** ALBUM SETTINGS */
$show_name              = $this->getData('show_name');
$show_thumbnail         = $this->getData('show_thumbnail');
$thumbnail_height       = (int) $this->getData('thumbnail_height');
$thumbnail_weight       = (int) $this->getData('thumbnail_weight');
$show_date              = $this->getData('show_date');
$show_category          = $this->getData('show_category');
$show_imagecount        = $this->getData('show_imagecount');
$show_viewcount         = $this->getData('show_viewcount');
$show_social_networks   = $this->getData('show_social_networks');
$show_description       = $this->getData('show_description');
$shortdescription_count = (int) $this->getData('shortdescription_count');
$categories             = $helper->getCategoryCollection();
$masonryBlockId         = 'lgl_masonry_' . $id;

$options = [
	'layout_type'            => $type,
	'lg_column'              => $lg_column,
	'md_column'              => $md_column,
	'sm_column'              => $sm_column,
	'xs_column'              => $xs_column,
	'lightbox'               => $lightbox,
	'show_name'              => $showName,
	'show_thumbnail'         => $showThumbnail,
	'thumbnail_height'       => $thumbnailHeight,
	'thumbnail_weight'       => $thumbnailWidth,
	'show_imagecount'        => $showImagecount,
	'show_date'              => $showDate,
	'show_category'          => $showCategory,
	'show_viewcount'         => $showViewcount,
	'show_socialnetworks'    => $showSocialnetworks,
	'show_description'       => $showDescription,
	'shortdescription_count' => $shortdescriptionCount
];

?>
<?php if ($total) { ?>
<div id="<?php echo $blockId; ?>" class="gallery-block block widget gallery-widget gallery-masonry gallery-lightbox-<?php echo $lightbox ?> gallery-skin-<?php echo $skin ?> gallery-widget-<?php echo $style ?> <?php echo $customClass ?> <?php echo $this->getData('addition_class') ?>"
	data-masonry-id="<?php echo $masonryBlockId ?>"
	data-xs-column="<?php echo $xs_column ?>"
	data-sm-column="<?php echo $sm_column ?>"
	data-md-column="<?php echo $md_column ?>"
	data-lg-column="<?php echo $lg_column ?>"
	data-margin="10">
	<?php if ($title) { ?>
	<div class="block-title">
		<strong><?php echo __($title); ?></strong>
	</div>
	<?php } ?>
	<?php if ($pretext = $helper->filter($pretext)) { ?>
	<div class="lgl-pretext">
		<p><?php echo $pretext?></p>
	</div>
	<?php } ?>
	<div class="block-content">
		<?php if ($categories->count() && $show_filter) { ?>
		<div class="gallery-filter">
			<div class="gallery-filter-cat">
				<span class="album-all active" data-filter="*"><?php echo __('All'); ?> (<span class="album-imagecount"></span>)</span>
				<?php foreach($categories as $category) { ?>
				<span class="album-cat" data-filter=".gallery-filter-<?php echo $category->getIdentifier() ?>"><?php echo $category->getName() ?> (<span class="album-imagecount"></span>)</span>
				<?php } ?>
			</div>
			<div class="gallery-sorters">
				<div class="gallery-sortlist" data-asc="true">
					<span><?php echo __('Sort By'); ?></span>
					<ul class="gallery-sortlist-item">
						<li class="gallery-dropdown-item" data-sort-by="original-order"><?php echo __('None'); ?></li>
						<li class="gallery-dropdown-item" data-sort-by="id"><?php echo __('ID'); ?></li>
						<li class="gallery-dropdown-item" data-sort-by="date"><?php echo __('Date'); ?></li>
						<li class="gallery-dropdown-item" data-sort-by="name"><?php echo __('Title'); ?></li>
						<li class="gallery-dropdown-item" data-sort-by="description"><?php echo __('Description'); ?></li>
						<li class="gallery-dropdown-item" data-sort-by="imagecount"><?php echo __('Image Count'); ?></li>
					</ul>
				</div>
				<div class="gallery-sortdirection">
					<i class="fa fa-angle-down active"></i>
					<i class="fa fa-angle-up"></i>
				</div>
				<?php $dropdownId = 'dropdown' . time(); ?>
				<div id="gallery-<?php echo $dropdownId?>" class="gallery-searchfilter">
					<div class="actions dropdown options">
						<div id="gallery-trigger<?php echo $dropdownId ?>"><i class="fa fa-search"></i></div>
						<div class="dropdown switcher-dropdown" data-mage-init='{"dropdownDialog":{
						"appendTo":"#gallery-<?php echo $dropdownId?> > .options",
						"triggerTarget":"#gallery-trigger<?php echo $dropdownId ?>",
						"closeOnMouseLeave": false,
						"parentClass": "active"}}'>
						<div class="header-search-wrap">
							<div class="dropdown header-search">
								<div class="gallery-head-form-search-wrap">
									<input class="gallery-quicksearch" type="text" autocomplete="off" placeholder="<?php echo __('Search...'); ?>">
								</div>
							</div>
						</div>
					</div>
				</div> 
			</div>
		</div>
	</div>
	<?php } ?>
	<div id="gallery-loading<?php echo $id ?>" class="gallery-loading">
		<div class="r1"></div>
		<div class="r2"></div>
		<div class="r3"></div>
		<div class="r4"></div>
		<div class="r5"></div>
	</div>
	<?php if ($show_loadmore) { ?>
	<div class="lgl-ajax-loadmore">
		<a href="#" id="lgl-ajax-loadmore<?php echo $id ?>"
		data-options="<?php echo $block->escapeHtml($this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($options)) ?>"
		data-categories="<?php echo $this->getData('categories') ?>"
		data-block-id="<?php echo $masonryBlockId ?>"
		data-cur-page="1"
		data-lightbox="<?php echo $lightbox ?>"
		data-page-size="<?php echo $items_per_page ?>"
		data-limit="<?php echo $limit ?>"
		data-masonry-id="<?php echo $masonryBlockId ?>"><?php echo __('Load more') ?><i class="fa fa-angle-down"></i></a>
	</div>
	<?php } ?>
	<div class="lgl-items lgl-<?php echo $type ?>" id="<?php echo $masonryBlockId ?>">
		<?php echo $block->getAlbumListHtml($options); ?>
	</div>
</div>
</div>
<?php } ?>