<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Form\Login\Info $block */
?>
<?php if ($block->getRegistration()->isAllowed()): ?>
<div class="block block-new-customer">
    <div class="block-title">
        <strong id="block-new-customer-heading" role="heading" aria-level="2"><?= $block->escapeHtml(__('Not yet registered?')) ?></strong>
    </div>
    <div class="block-content" aria-labelledby="block-new-customer-heading">
        <div class="actions-toolbar">
            <div class="primary">
                <a href="<?= $block->escapeUrl($block->getCreateAccountUrl()) ?>" class="action create primary"><span><?= $block->escapeHtml(__('Sign up')) ?></span></a>
            </div>
        </div>
        <div class="why-register">
            <p><b><?= $block->escapeHtml(__('Why register?.')) ?></b></p>
            <p><?= $block->escapeHtml(__('Creating an account only take a minute and gives you access to your project list and allows you to quickly get a quote.')) ?></p>
        </div>
        
    </div>
</div>
<?php endif; ?>
