 <?php
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance(); // Instance of Object Manager
    $priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data'); // Instance of Pricing Helper
    //$formattedPrice = $priceHelper->currency($price, true, false);
?>
 <thead>
    <tr>
        <th class="item-info">
            <?= /* @escapeNotVerified */  __('Products') ?>
        </th>
        <th>
            <?= /* @escapeNotVerified */  __('SKU') ?>
        </th>
        <th  class="bg-blue br-qty">
            <?= /* @escapeNotVerified */  __('Qty') ?>
        </th>
        <th class="unit-price txt-right">
            <?= /* @escapeNotVerified */  __('Unit Price') ?>
        </th>
        <th class="total txt-right">
            <?= /* @escapeNotVerified */  __('Total') ?>
        </th>
    </tr>
</thead>
<tbody>
<?php foreach($this->getPurchaseOrder()->getAllItems() as $item): ?>
    <tr>
    	<td><?php echo $item->getpop_name(); ?></td>
    	<td><?php echo $item->getpop_sku();?></td>  
        <td class="br-qty"><?php echo $item->getpop_qty(); ?></td>
        <td class="unit-price txt-right"><?php echo $priceHelper->currency($item->getPopPrice(),true,false);?> </td>
        <td class="total txt-right"><?php echo $priceHelper->currency($item->getPopSubtotal(),true,false);?></td>
    </tr>
<?php endforeach; ?>
</tbody>
<tfoot class="order-totals">
	<tr class="">
        <th colspan="3"><?php echo __('Subtotal:');?></th>
        <td colspan="2"><?php echo $priceHelper->currency($this->getPurchaseOrder()->getPoSubtotal(),true,false);?></td>         
    </tr>
    <tr class="">
        <th colspan="3"><?php echo __('Tax:');?></th>
        <td colspan="2"><?php echo $priceHelper->currency($this->getPurchaseOrder()->getPoTax(),true,false);?></td>
    </tr>
    <tr class="">
        <th colspan="3" class="bg-blue"><?php echo __('Total:');?></th>      
        <td colspan="2" class="color-total"><?php echo $priceHelper->currency($this->getPurchaseOrder()->getPoGrandtotal(),true,false);?></td>       
    </tr>
</tfoot>