<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<?php
/** @var $block \Magento\Framework\View\Element\Template */
/** @var $helper \Magento\Search\Helper\Data */
$helper = $this->helper('Magento\Search\Helper\Data');
?>
        <form class="c-search-box search-form" id="search_mini_form" action="<?= /* @escapeNotVerified */ $helper->getResultUrl() ?>" method="get">
                    <input id="search"
                           data-mage-init='{"quickSearch":{
                                "formSelector":"#search_mini_form",
                                "url":"<?= /* @escapeNotVerified */ $block->getUrl('search/ajax/suggest', ['_secure' => $block->getRequest()->isSecure()]) ?>",
                                "destinationSelector":"#search_autocomplete"}
                           }'
                           type="text"
                           name="<?= /* @escapeNotVerified */ $helper->getQueryParamName() ?>"
                           value="<?= /* @escapeNotVerified */ $helper->getEscapedQueryText() ?>"
                           placeholder="<?= /* @escapeNotVerified */ __('Search') ?>"
                           class="input-text c-search-box__input form-control"
                           maxlength="<?= /* @escapeNotVerified */ $helper->getMaxQueryLength() ?>"
                           role="combobox"
                           aria-haspopup="false"
                           aria-autocomplete="both"
                           autocomplete="off"/>
                    <!---<div id="search_autocomplete" class="search-autocomplete"></div>-->
                    <?= $block->getChildHtml() ?>
            <div class="actions">
                <button type="submit"
                        title="<?= $block->escapeHtml(__('Search')) ?>"
                        class="action search c-search-box__btn .primary">
                    <svg width="30" height="30" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="header-search-icon">
                      <title id="header-search-icon">search-icon</title>
                      <path d="M15.766 14.633l-4.33-4.33C12.275 9.222 12.8 7.878 12.8 6.4 12.8 2.872 9.93 0 6.4 0 2.87 0 0 2.872 0 6.4c0 3.53 2.87 6.4 6.4 6.4 1.477 0 2.82-.522 3.904-1.363l4.33 4.327c.313.312.82.312 1.132 0 .312-.31.312-.817 0-1.13zM1.6 6.4c0-2.646 2.154-4.8 4.8-4.8s4.8 2.154 4.8 4.8-2.154 4.8-4.8 4.8-4.8-2.154-4.8-4.8z" fill="#393f4f" fill-rule="evenodd"/>
                    </svg>
                </button>
            </div>
        </form>

