<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<?php
/** @var \Magento\Catalog\Pricing\Render\PriceBox $block */

/** @var \Magento\Catalog\Pricing\Price\TierPrice $tierPriceModel */
$tierPriceModel = $block->getPrice();
$tierPrices = $tierPriceModel->getTierPriceList();
$msrpShowOnGesture = $block->getPriceType('msrp_price')->isShowPriceOnGesture();
$product = $block->getSaleableItem();

?>
<?php if (count($tierPrices)) : ?>
<div class="table-save-price">
    <div class="tierpries-wapper">
        <div class="table-tierprice"> 
            <h4 class="table-tierprice-title"><?php echo __('Bulk Buy Savings!');?></h4>
        </div>
    <table class="prices-saving">
        <tbody>
            <tr>
                <th><?php echo __('Buy');?></th>
                <th><?php echo __('Pay');?></th>
                <th><?php echo __('Save');?></th>
            </tr>
    <?php foreach ($tierPrices as $index => $price) : ?>
        <tr class="item">
            <?php
                $productId = $product->getId();
                $isSaleable = $product->isSaleable();
                $popupId = 'msrp-popup-' . $productId . $block->getRandomString(20);
                if ($msrpShowOnGesture && $price['price']->getValue() < $product->getMsrp()):
                    $addToCartUrl = '';
                    if ($isSaleable) {
                        $addToCartUrl = $this->helper('\Magento\Checkout\Helper\Cart')
                            ->getAddUrl($product, ['qty' => $price['price_qty']]);
                    }
                    $tierPriceData = [
                        'addToCartUrl' => $addToCartUrl,
                        'name' => $product->getName(),
                        'realPrice' => $block->renderAmount(
                            $price['price'],
                            [
                                'price_id'          => $index,
                                'id_suffix'         => '-' . $index,
                                'include_container' => true
                            ]
                        ),
                        'msrpPrice' => $block->renderAmount(
                            $block->getPriceType('msrp_price')->getAmount(),
                            [
                                'price_id'          => $index,
                                'id_suffix'         => '-' . $index,
                                'include_container' => true
                            ]
                        ),
                    ];
                    if ($block->getCanDisplayQty($product)) {
                        $tierPriceData['qty'] = $price['price_qty'];
                    }
                ?>
                <?= /* @escapeNotVerified */ __('Buy %1 for: ', $price['price_qty']) ?>
                <a href="javascript:void(0);"
                   id="<?= /* @escapeNotVerified */ ($popupId) ?>"
                   data-tier-price="<?= $block->escapeHtml($block->jsonEncode($tierPriceData)) ?>">
                    <?= /* @escapeNotVerified */ __('Click for price') ?></a>
                <?php else:
                    $priceAmountBlock = $block->renderAmount(
                        $price['price'],
                        [
                            'price_id'          => $index,
                            'id_suffix'         => '-' . $index,
                            'include_container' => true,
                            'zone' => \Magento\Framework\Pricing\Render::ZONE_ITEM_OPTION
                        ]
                    );
                ?>
                <?php /* @escapeNotVerified */ if($block->getShowDetailedPrice() !== false):
                        ?>
                        <td><?php echo '> '. ($price['price_qty']-1).' ';echo __('items');?></td>
                        <td><?php echo $priceAmountBlock;?></td>
                        <td> <?php echo $tierPriceModel->getSavePercent($price['price']);echo '%';?></td>
                        <?php else: 
                        echo __('Buy %1 for %2 each', $price['price_qty'], $priceAmountBlock);
                ?>
                <?php endif; ?>
            <?php endif; ?>
        </tr>
    <?php endforeach; ?>
    </tbody>
    </table>

</div>
<?php $objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
$currency = $objectManager->get('\Magento\Directory\Model\Currency');
?>

<br style="clear:both"/>
</div>
    <?php if ($msrpShowOnGesture):?>
        <script type="text/x-magento-init">
            {
                ".product-info-main": {
                    "addToCart": {
                        "origin": "tier",
                        "addToCartButton": "#product_addtocart_form [type=submit]",
                        "inputQty": "#qty",
                        "attr": "[data-tier-price]",
                        "productForm": "#product_addtocart_form",
                        "productId": "<?= /* @escapeNotVerified */ $productId ?>",
                        "productIdInput": "input[type=hidden][name=product]",
                        "isSaleable": "<?= /* @escapeNotVerified */ $isSaleable ?>"
                    }
                }
            }
        </script>
    <?php endif;?>
<?php endif; ?>
