<?php
/**
 * @var $block \Lof\Gallery\Block\Image\View
 */

$helper               = $this->helper("Lof\Gallery\Helper\Data");
$album                = $block->getAlbum();
$images               = $album->getImages();
$image                = $block->getImage(); 
$enableComment        = $album->getEnableComment();
$commentType          = $block->getConfig('album_page/comment_type');
$facebookcommentWidth = $block->getConfig('album_page/facebookcomment_width');
$numberCommentPerpage = $block->getConfig('album_page/numbercomment_perpage');
$disqusShortname      = $block->getConfig('album_page/disqus_shortname');
foreach ($images as $k => $_image) {
	if ($helper->getImageIdentifier($_image) == $helper->getImageIdentifier($image)) {
		unset($images[$k]);
		break;
	}
}

$albumDescription = $image['description'];
if ($image['video_description']) {
	$albumDescription = $image['video_description'];
}
$showSocialnetworks = $block->getConfig('general_settings/show_socialnetworks');
?>
<div class="gallery-album-image item-inner-social">
	<div class="album-image">
		<?php echo $helper->getAlbumImageHtml($image); ?>
	</div>
	
	<?php if($showSocialnetworks) { ?>
	<div class="lgl-socials postion-socials">
		<div class="addthis_toolbox addthis_default_style addthis_32x32_style" data-title="<?php echo $image['video_title']?$image['video_title']:$image['title']; ?>" addthis:url="<?php echo $album->getAlbumLink() . '/' . $helper->getImageIdentifier($image); ?>">
			<a class="addthis_button_facebook"><span class="icon-facebook icon-social"></span></a>
             <a class="addthis_button_pinterest_share"><span class="icon-pinterest icon-social"></span></a>
            <a class="addthis_button_email"><span class="icon-email icon-social"></span></a>
		</div>
	</div>
	<?php } ?>

	<div class="gallery-block block widget images-related gallery-widget">
		<div class="block-title">
			<strong><?php echo __('Related Images'); ?></strong>
		</div>
		<div class="block-content">
			<ul class="owl-carousel owl-theme lgl-items"
			data-large-max-items="4"
			data-large-items="4"
			data-portrait-items="3"
			data-tablet-items="3"
			data-tablet-small-items="2"
			data-mobile-items="1"
			data-autoplay-timeout="10000"
			data-autoplay-pauonhover="true"
			data-autoplay="false"
			data-responsive-refresh-rate="false"
			data-dots="false"
			data-nav="false"
			data-loop="false"
			data-margin="10"
			data-rtl="false">
			<?php foreach ($images as $image) { ?>
			<?php $name = $image['video_title']?$image['video_title']:$image['title']; ?>
			<li class="lgl-item">
				<?php
				$imageUrl = $album->getAlbumLink() . '/' . $helper->getImageIdentifier($image);
				if (isset($image['customurl']) && $image['customurl']) {
					$imageUrl = $image['customurl'];
				}
				?>
				<a href="<?php echo $imageUrl; ?>" title="<?php echo $block->escapeHtml($name) ?>"
					<?php if (isset($image['linktargetblank']) && $image['linktargetblank']) { ?>target="_blank"<?php } ?>
					>
					<?php echo $helper->getAlbumImageHtml($image, 300, 400); ?>
				</a>
				<div class="lgl-item-content">
					<h2 class="lgl-item-title">
						<a href="<?php echo $imageUrl; ?>" title="<?php echo $block->escapeHtml($name) ?>"
							<?php if (isset($image['linktargetblank']) && $image['linktargetblank']) { ?>target="_blank"<?php } ?>><?php echo $name; ?></a>
						</h2>
					</div>
				</li>
				<?php } ?>
			</ul>
		</div>
	</div>

	<?php if ($enableComment) { ?>
	<div class="album-comments">
		<?php if ($commentType == 'facebook') { ?>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<div class="fb-comments" data-href="<?php echo $album->getUrl() ?>" data-width="<?php echo $facebookcommentWidth ?>" data-numposts="<?php echo $numberCommentPerpage ?>"></div>
		<?php } ?>
		<?php if ($commentType == 'disqus') { ?>
		<div id="disqus_thread"></div>
		<script>
			var disqus_config = function () {
				this.page.url = '<?php echo $album->getUrl() ?>';
				this.page.identifier = '<?php echo $album->getIdenfitier() ?>';
			};
						(function() {  // DON'T EDIT BELOW THIS LINE
							var d = document, s = d.createElement('script');
							
							s.src = '//<?php echo $disqusShortname; ?>.disqus.com/embed.js';
							
							s.setAttribute('data-timestamp', +new Date());
							(d.head || d.body).appendChild(s);
						})();
					</script>
					<noscript><?php echo __('Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.'); ?></a></noscript>
					<?php } ?>
				</div>
				<?php } ?>
			</div>