<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
 <?php
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance(); // Instance of Object Manager
    $priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data'); // Instance of Pricing Helper
?>
<?php $_creditmemo = $block->getCreditmemo() ?>
<?php $_order      = $block->getOrder() ?>
<?php if ($_creditmemo && $_order): ?>
    <table class="print-items">
        <thead>
            <tr>
                <th class="item-info">
                    <?= /* @escapeNotVerified */  __('Product') ?>
                </th>
                <th>
                    <?= /* @escapeNotVerified */  __('SKU') ?>
                </th>
                <th class="item-qty txt-right">
                    <?= /* @escapeNotVerified */  __('Qty') ?>
                </th>
                <th class="txt-right">
                    <?= /* @escapeNotVerified */  __('Unit Price') ?>
                </th>
                <th class="txt-right">
                    <?= /* @escapeNotVerified */  __('Total') ?>
                </th>
            </tr>
        </thead>
        <?php foreach ($_creditmemo->getAllItems() as $_item): ?>
            <?php
                if ($_item->getOrderItem()->getParentItem()) {
                    continue;
                }
            ?>
            <tbody>
               <tr>    
                  <td><?php echo  $_item->getSku();?></td>
                  <td><?php echo  $_item->getName();?></td>
                  <td class="txt-right item-qty"><?php echo  $_item->getQty()*1;?></td>
                  <td class="txt-right"><?php echo $priceHelper->currency($_item->getPrice(),true,false);?></td>
                  <td class="txt-right"><?php echo $priceHelper->currency($_item->getRowTotal(),true,false);?></td>
                </tr>
            </tbody>
        <?php endforeach; ?>
        <tfoot class="order-totals">
            <?= $block->getChildHtml('creditmemo_print_totals') ?>
        </tfoot>
    </table>
<?php endif; ?>
