<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MagentoChatSystem
 * @author    Webkul
 * @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<script id="chat_window_template" type="text/x-magento-template">
     <div id="live-chat-<%- data.customerId %>" class="chat-window">
        <header class="clearfix">
            <a  id="close-chat" href="" class="chat-close">&times;</a>
            <span id="minim-chat" href="" class="minim-button">&minus;</span>
            <span id="maxi-chat" href="" class="maxi-button">&plus;</span>
            <span class='user-status <%- data.class %>'></span>
            <h4><%- data.name %></h4>
            <!-- <span class="chat-message-counter">3</span> -->
        </header>
        <div class="chat" data-block="chat-reply-block">
            <div id="chat-history-<%- data.customerId %>" class="chat-history">
            </div> <!-- end chat-history -->
            <form data-role="reply"
                  method="post"
                  id="form-reply-<%- data.customerId %>" class ="chat-form">
                  <span class="attachment-img">
                    <img src="<?php echo $block->getAttachementImage(); ?>">
                    <input id="send-attachment-<%- data.customerId %>" class="send-attachment" type="file" name="send-attachment"/>
                </span>
                    <textarea class="form-control type_message" name="reply" value="" placeholder="<?php echo __('Type your message...') ?>" ></textarea>
                    <!-- <input id="reply-data" name="reply" type="text" placeholder="Type your message…" autofocus autocomplete="off"> -->
                    <input type="hidden" name="customerId" value="<%- data.customerId %>">
                <div class="primary">
                    <button id="reply-<%- data.customerId %>" type="submit" class="action action-reply secondary"><span><?php echo __('Reply') ?></span></button>
                </div>
            </form>
        </div> <!-- end chat -->
    </div> <!-- end live-chat -->
</script>
<script id="reply_client_template" type="text/x-magento-template">
    <div class="chat-message-client message_container">
        <img src="<%- data.adminImage %>" alt="" width="32" height="32">
        <div class="chat-message-client-content triangle-right left clearfix">
            <span class="chat-time"><%- data.time %></span>
            <h5><%- data.adminName %></h5>
            <% if(data.type == 'image') { %>
                <p><a href="<%- data.message %>" target="_blank"><img src="<%- data.message %>" width="100" height="100"></a></p>
            <% } if(data.type == 'file'){ %>
                <p><a href="<%- data.message %>" ><img width="30" height="30" src="<?php echo $block->getDownloadImage(); ?>"><span style="display: block;"><?php echo __('Download File'); ?></span></a></p>
            <% } if(data.type != 'file' && data.type != 'image') { %>
                 <p><%= data.message %></p>
            <% } %>
            <span class="chat-date"><%- data.date %></span>
        </div>
    </div>
    <% if (data.statusError == 1) { %>
    <p class="status-error"><?php echo __('Client is not available for chat.') ?></p>
    <% } %>
</script>
<script id="reply_admin_template" type="text/x-magento-template">
    <div class="chat-message-admin message_container">
        <img src="<%- data.image %>" alt="" width="32" height="32">
        <div class="chat-message-admin-content triangle-right right clearfix">
            <span class="chat-time"><%- data.time %></span>
            <h5><%- data.customerName %></h5>
            <% if(data.type == 'image') { %>
                <p><a href="<%- data.message %>" target="_blank"><img src="<%- data.message %>" width="100" height="100"></a></p>
            <% } if(data.type == 'file'){ %>
                <p><a href="<%- data.message %>" ><img width="30" height="30" src="<?php echo $block->getDownloadImage(); ?>"><span style="display: block;"><?php echo __('Download File'); ?></span></a></p>
            <% } if(data.type != 'file' && data.type != 'image') { %>
                 <p><%= data.message %></p>
            <% } %>
            <span class="chat-date"><%- data.date %></span>
        </div>
    </div>
</script>
