<?php
/**
 *  CART2QUOTE CONFIDENTIAL
 *  __________________
 *  [2009] - [2018] Cart2Quote B.V.
 *  All Rights Reserved.
 *  NOTICE OF LICENSE
 *  All information contained herein is, and remains
 *  the property of Cart2Quote B.V. and its suppliers,
 *  if any.  The intellectual and technical concepts contained
 *  herein are proprietary to Cart2Quote B.V.
 *  and its suppliers and may be covered by European and Foreign Patents,
 *  patents in process, and are protected by trade secret or copyright law.
 *  Dissemination of this information or reproduction of this material
 *  is strictly forbidden unless prior written permission is obtained
 *  from Cart2Quote B.V.
 * @category    Cart2Quote
 * @package     Quotation
 * @copyright   Copyright (c) 2018. Cart2Quote B.V. (https://www.cart2quote.com)
 * @license     https://www.cart2quote.com/ordering-licenses(https://www.cart2quote.com)
 */


?>
<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();  
        $request = $objectManager->get('Magento\Framework\App\Request\Http');   
$quote_id ='';
$params_quote ='';
$quote_id = $request->getParam('quote_id');   
if($quote_id!=''){
    $params_quote = "/quote_id/".$quote_id.'/';
}        
?>
<?php /** @var $block \Cart2Quote\Quotation\Block\Adminhtml\Quote\View\Totals */ ?>
<legend class="admin__legend"><span><?php echo __('Quote Totals') ?></span></legend>
<br>

<table class="admin__table-secondary data-table">
    <tbody>
    <?php echo $block->renderTotals(); ?>
    <?php echo $block->renderTotals('footer'); ?>
    </tbody>
</table>

<div class="quote-totals-actions">
    <div class="admin__field admin__field-option field-append-comments">
        <input type="checkbox" id="notify_customer" name="quote[comment][customer_note_notify]"
               value="1"<?php if ($block->getNoteNotify()) : ?> checked="checked"<?php endif; ?>
               class="admin__control-checkbox"/>
        <label for="notify_customer" class="admin__field-label"><?php echo __('Append Comments') ?></label>
    </div>
    <?php if ($block->canSendNewQuoteConfirmationEmail()) : ?>
        <div class="admin__field admin__field-option field-email-quote-confirmation">
            <input type="checkbox" id="send_confirmation" name="quote[send_confirmation]" value="1" checked="checked"
                   class="admin__control-checkbox"/>
            <label for="send_confirmation"
                   class="admin__field-label"><?php echo __('Email quote Confirmation') ?></label>
        </div>
    <?php endif; ?>
    <div class="actions">
        <?php echo $block->getButtonHtml(__('Submit Quote'),
            'jQuery("#edit_form").attr("action", jQuery("#edit_form").attr("data-send-action")); quote.submit()',
            'save primary'); ?>

        <?php echo $block->getButtonHtml(__('Preview Quote PDF'),
            'location.href="' . $this->getUrl('quotation/quote/pdf/quote_id/'.$params_quote) . '"', 'action-default scalable', 'quote-pdf'); ?>
        <fieldset id="quote-convert" class="admin__fieldset quote-convert">
            <?php echo $block->getChildHtml('convert') ?>
        </fieldset>
    </div>
</div>

<script>
    require(['prototype'], function () {

//<![CDATA[
        var sendEmailCheckbox = $('send_confirmation');
        if (sendEmailCheckbox) {
            Event.observe(sendEmailCheckbox, 'change', notifyCustomerUpdate);
            notifyCustomerUpdate();
        }

        function notifyCustomerUpdate() {
            var sendEmailCheckbox = $('send_confirmation');
            var notifyCustomerCheckbox = $('notify_customer');
            if (!sendEmailCheckbox || !notifyCustomerCheckbox)
                return;
            notifyCustomerCheckbox.disabled = !sendEmailCheckbox.checked;
        }

//]]>

        window.notifyCustomerUpdate = notifyCustomerUpdate;
        window.sendEmailCheckbox = sendEmailCheckbox;

    });
</script>
