<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MagentoChatSystem
 * @author    Webkul
 * @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
 -->
 	<div class="chat-loading-mask" data-role="chat-loader" data-bind="visible: showLoader">
 		<div class="chat-loader">
	 		<img alt="Loading..." data-bind="attr: {'src': getLoaderImage()}">
 		</div>
 		<span class="loading-state" data-bind="text: getLoadingState()"></span>
	</div>
	<header class="clearfix chatbox-header" data-bind="click: _openChatWindow">
		<!-- <a  id="close-chat" href="#" class="chat-close">&times;</a> -->
		<a id="minim-chat" href="" class="minim-button">&minus;</a>
		<a id="maxi-chat" href="" class="maxi-button" data-bind="click: _openChatWindow">&plus;</a>
		<!--ko if: isActive() && isChatEnable() !== false -->
		<!-- <span class="load_history" data-bind="click: showLoadMessagePanel">
            <div class="wk_chat_history_options list-group">
                <span class="status_point"></span>
                <div class="list-group-item chathistory" id="1"><span data-bind="i18n: 'Last 24 Hours'"></span></div>
                <div class="list-group-item chathistory" id="2"><span data-bind="i18n: 'Last 7 Days'"></span></div>
                <div class="list-group-item chathistory" id="3"><span data-bind="i18n: 'Forever'"></span></div>
            </div>
        </span> -->
        <!--/ko-->
		<span class="support_status" data-bind="style: { 'background-color': getAdminStatus()}"></span>
		<h4 data-bind="text: getSuppertName()"></h4>
		<!-- <span class="chat-message-counter">3</span> -->

	</header>
	<!--ko if: isActive() && isChatEnable() !== false -->
	<header class="clearfix customer-controls">
		<div class="user-info">
			<img id="user_profile" data-bind="attr: {'src': getProfileImage()}">
			<h4 data-bind="text: customerName"></h4>
			<span class="customer_status" data-bind="style: { 'background-color': getCustomerStatus()}"></span>
		</div>
		<div class="controls">
			<span class="attachment-img">
				<img data-bind="attr: {'src': getAttachmentImage()}">
				<input id="send-attachment" type="file" name="send-attachment" />
			</span>
			<span class="chat_status" data-bind="click: showStatus">
                <div class="wk_chat_status_options list-group"><span class="status_point"></span>
                    <div class="list-group-item chatStatus" id="1"><span class="online_status" data-bind="i18n: 'Online'"></span></div>
                    <div class="list-group-item chatStatus" id="2"><span class="busy_status" data-bind="i18n: 'Busy'"></span></div>
                    <div class="list-group-item chatStatus" id="0"><span class="idle_status" data-bind="i18n: 'Offline'"></span></div>
                </div>
            </span>
            <span class="wk_chat_setting" data-bind="click: showSettingPanel">
                <div class="wk_chat_setting_options list-group" style="display: none;"><span class="status_point"></span>
                    <!-- <div class="list-group-item" id="wk_report_manager">Report To Manager</div> -->
                    <div class="list-group-item chatStatus" id="0" data="10" data-bind="i18n: 'End Chat'"></div>
                    <div class="list-group-item" id="wk_profile_setting" data-bind="i18n: 'Profile Setting'"></div>
                </div>
            </span>
            <span class="wk_chat_sound enable">
                <audio controls="controls" class="wk_sound_play hide" id="myAudio">
                    <source data-bind="attr: {'src': getSoundUrl()}" type="audio/ogg">
                </audio>
            </span>
		</div>
	</header>
	<!--/ko-->
	<div class="chat" data-block="chat-reply-block">
		<!--ko if: !isActive() -->
			<div class="detailed">
		        <div class="product data items">
	                <div class="data item title login-tab"
	                     aria-labeledby="tab-label-title"
	                     data-role="collapsible" id="tab-label">
	                    <a class="data switch"
	                       tabindex="-1"
	                       data-toggle="switch"
	                       href="#"
	                       id="tab-label-1-title">
	                        <span data-bind="i18n: 'Log in'"></span>
	                    </a>
	                </div>
	                <div class="data item content login-tab-data" id="1" data-role="content">
	                    <form id="login-form" data-role="login"
		                      data-bind="submit:login"
		                      method="post">
		                    <div class="fieldset"
		                              data-bind="attr: {'data-hasrequired': $t('* Required Fields')}">
		                        <div class="field field-email required">
		                            <label class="label" for="login-email"><span data-bind="i18n: 'Email Address'"></span></label>
		                            <div class="control">
		                                <input type="email"
		                                       class="input-text"
		                                       id="login-email"
		                                       name="username"
		                                       data-validate="{required:true, 'validate-email':true}"
		                                       autocomplete="off" />
		                            </div>
		                        </div>
		                        <div class="field field-password required">
		                            <label for="login-password" class="label"><span data-bind="i18n: 'Password'"></span></label>
		                            <div class="control">
		                                <input type="password"
		                                       class="input-text"
		                                       id="login-password"
		                                       name="password"
		                                       data-validate="{required:true}"
		                                       autocomplete="off"/>
		                            </div>
		                        </div>
		                        <div class="field field-password">
		                        	<label for="login-password" class="label"><span data-bind="i18n: 'Message'"></span></label>
		                        	<div class="control">
		                        		<textarea class="type_message" name="message" value="" placeholder="Type your message..."></textarea>
	                        		</div>
	                        	</div>
		                    </div>
		                    <div class="actions-toolbar">
		                        <input name="context" type="hidden" value="checkout" />
		                        <div class="primary">
		                            <button type="submit" class="action action-login secondary"><span data-bind="i18n: 'Sign In'"></span></button>
		                        </div>
		                    </div>
		                </form>
	                </div>
	                <div class="data item title register-tab"
	                     aria-labeledby="tab-label-title"
	                     data-role="collapsible" id="tab-label">
	                    <a class="data switch"
	                       tabindex="-1"
	                       data-toggle="switch"
	                       href="#"
	                       id="tab-label-1-title">
	                        <span data-bind="i18n: 'Register'"></span>
	                    </a>
	                </div>
	                <div class="data item content register-tab-data" id="1" data-role="content" style="display: none">
	                	<form id="login-form" data-role="login"
		                      data-bind="submit:register"
		                      method="post">
		                    <div class="fieldset"
		                              data-bind="attr: {'data-hasrequired': $t('* Required Fields')}">
		                        <div class="field field-namemessage required">
		                            <label for="login-namemessage" class="label"><span data-bind="i18n: 'Name'"></span></label>
		                            <div class="control">
		                                <input type="text"
		                                       class="input-text"
		                                       id="login-name"
		                                       name="name"
		                                       data-validate="{required:true}"
		                                       autocomplete="off"/>
		                            </div>
		                        </div>
		                        <div class="field field-email required">
		                            <label class="label" for="login-email"><span data-bind="i18n: 'Email Address'"></span></label>
		                            <div class="control">
		                                <input type="email"
		                                       class="input-text"
		                                       id="login-email"
		                                       name="username"
		                                       data-validate="{required:true, 'validate-email':true}" />
		                            </div>
		                        </div>

		                        <div class="field field-message">
		                        	<label for="login-message" class="label"><span data-bind="i18n: 'Message'"></span></label>
		                        	<div class="control">
		                        		<textarea class="type_message" name="message" value="" placeholder="Type your message..."></textarea>
	                        		</div>
	                        	</div>
		                    </div>
		                    <div class="actions-toolbar">
		                        <input name="context" type="hidden" value="checkout" />
		                        <div class="primary">
		                            <button type="submit" class="action action-login secondary"><span data-bind="i18n: 'Create an Account'"></span></button>
		                        </div>
		                    </div>
		                </form>
	                </div>
		        </div>
		    </div>
	    <!-- /ko -->
	    <!--ko if: isChatEnable() === false && isActive() -->
	    	<div class="detailed">
		        <div class="product data items">
		        	<span class="agent-error status-error" data-bind="visible: isAgentOff(), text: getAgentError()"></span>
		        	<div class="data item content" id="1" data-role="content">
	                	<form id="start-chat-form"
		                      data-bind="submit:startChat"
		                      method="post">
		                    <div class="fieldset"
		                              data-bind="attr: {'data-hasrequired': $t('* Required Fields')}">
		                        <div class="field field-message required">
		                        	<input name="username" type="hidden" value="" />
		                        	<div class="control">
		                        		<textarea class="start_message" name="message" value="" placeholder="Type your message..." data-validate="{required:true}"></textarea>
	                        		</div>
	                        	</div>
                          	</div>
                          	<div class="actions-toolbar">
		                        <input name="context" type="hidden" value="checkout" />
		                        <div class="primary" style="width: 100%">
		                            <button type="submit" class="action primary action-start-chat secondary" style="width: 100%; height: 50px;"><span data-bind="i18n: 'Start Chat'"></span></button>
		                        </div>
		                    </div>
                      	</form>
                  	</div>
		        </div>
	        </div>
	    <!-- /ko -->
	    <!--ko if: isActive() && isChatEnable() !== false -->
		<div class="chat-history">
			<!--ko if: isHistoryAvialable() -->
			<!--ko foreach: { data: getChatHistory(), as: 'data'}-->
			<!--ko if: data.changeDate === true -->
			<span class='chat-date' data-bind="text: data.date"></span>
			<!-- /ko -->
			<!--ko if: data.sender === 'customer' -->
			<div class="chat-message-client message_container">
		        <img data-bind="attr: {'src': $parent.getProfileImage()}" alt="" width="32" height="32">
		        <div class="chat-message-client-content triangle-right left clearfix">
					<span class="chat-time" data-bind="text: data.time"></span>
					<h5 data-bind="text: data.customerName"></h5>
					<!--ko if: data.type === 'image' -->
						<p class="image-msg"><a data-bind="attr: {'href': data.message}" target="_blank"><img data-bind="attr: {'src': data.message}" width="100" height="100" class="image-type"></a></p>
					<!-- /ko -->
					<!--ko if: data.type === 'file' -->
						<p class="file-msg"><a data-bind="attr: {'href': data.message}"><img data-bind="attr: {'src': $parent.getDownloadImage()}" width="30" height="20" class="file-type"><span data-bind="i18n: 'Download File'"></span></a></p>
					<!-- /ko -->
					<!--ko ifnot: data.type === 'image' -->
						<!--ko ifnot: data.type === 'file' -->
							<p data-bind="html: data.message"></p>
						<!-- /ko -->
					<!-- /ko -->
				</div>
		    </div>
		    <!-- /ko -->
		    <!--ko if: data.sender === 'admin' -->
		    <div class="chat-message-admin message_container">
		        <img data-bind="attr: {'src': $parent.getAdminImage()}" alt="" width="32" height="32">
		        <div class="chat-message-admin-content triangle-right right clearfix">
					<span class="chat-time" data-bind="text: data.time"></span>
					<h5 data-bind="text: data.customerName"></h5>
					<!--ko if: data.type === 'image' -->
						<p class="image-msg"><a data-bind="attr: {'href': data.message}" target="_blank"><img data-bind="attr: {'src': data.message}" width="100" height="100" class="image-type"></a></p>
					<!-- /ko -->
					<!--ko if: data.type === 'file' -->
						<p class="file-msg" style="text-align: left;"><a data-bind="attr: {'href': data.message, 'title': 'Download file'}"><img data-bind="attr: {'src': $parent.getDownloadImage()}" width="30" height="20"><span data-bind="i18n: 'Download File'"></span></a></p>
					<!-- /ko -->
					<!--ko ifnot: data.type === 'image' -->
						<!--ko ifnot: data.type === 'file' -->
							<p data-bind="html: data.message"></p>
						<!-- /ko -->
					<!-- /ko -->
				</div>
		    </div>
		    <!-- /ko -->
		    <!-- /ko -->
			<!-- /ko -->
		</div> <!-- end chat-history -->
		<form id="chat-form" data-role="reply"
              data-bind="submit:reply"
              method="post">
			<fieldset>
				<textarea class="form-control type_message" name="message" value="" placeholder="Type your message..." data-bind="hasFocus: _refreshPopup(), event:{keypress: replyByEnter}"></textarea>
			</fieldset>
			<div class="primary">
				<img data-bind="attr: {'src': getSendImage()}" class="send-image" />
	            <button type="submit" class="action action-login secondary send-button"></button>
	        </div>
		</form>
		<!-- /ko -->
		<div class="profile-setting-box">
			<form id="profile-form"
	              data-bind="submit:uploadProfileImage"
	              method="post"
	              enctype="multipart/form-data">
                <div class="image_block">
                	<img id="user-profile-image" data-bind="attr: {'src': getProfileImage()}">
                </div>
                <input id="profile_image" type="file" name="profile_image" class="profile_image" data-bind="event:{ change: showSelectedImage}">
				<div class="actions-toolbar">
	                <div class="primary">
	                    <button type="button" class="action action-login secondary"><span data-bind="i18n: 'Cancel', click: _refreshPopup()"></span></button>
	                    <button type="submit" class="action action-login primary"><span data-bind="i18n: 'Upload'"></span></button>
	                </div>
	            </div>
            </form>
		</div>
	</div> <!-- end chat -->

	<!-- <div class="wk_hidden_view">
		<img data-bind="attr:{src: imagePath}" />
	</div> -->
