<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\CatalogWidget\Block\Product\ProductsList $block */
?>
<?php $objectManager = \Magento\Framework\App\ObjectManager::getInstance();?>
<?php if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())): ?>
<?php
    $type = 'widget-product-grid';

    $mode = 'grid';

    $image = 'new_products_content_widget_grid';
    $items = $block->getProductCollection()->getItems();

    $showWishlist = true;
    $showCompare = true;
    $showCart = true;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
    $description = false;
?>
<?php 
$currencyFormat = $objectManager->get('\Magento\Framework\Pricing\PriceCurrencyInterface');
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$store_code =  $storeManager->getStore()->getCode();
?>
<?php if($store_code == "lightrabbit_es"):?>
<div>
    <link rel="stylesheet" type="text/css" href="<?php echo $block->getViewFileUrl('Magento_Catalog::css/styles_es.css')?>"/>
</div>
<?php endif;?>
<div class="container">
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <section class="catalog-grid home-product-list">
            <?php if ($block->getTitle()): ?>
            <h2 class="primary-color"><div class="container"><span><?= $block->escapeHtml(__($block->getTitle())) ?></span></div></h2>
             <?php endif ?>
             <div class="products wrapper grid products-grid">
                    <ol class="products list items product-items">
                    <?php foreach ($items as $_item): ?>
                    <li class="item product product-item">
                        <div class="tile">
                            <div class="badges">
                                <?php if ($_item->getEquivalent()) : ?>
                                    <ul class="sale" id="sale">
                                        <li class="text-replacement"><?php echo __('Replaces') ?></span></li>
                                        <li class="text-led-sale"><?php echo $_item->getEquivalent() ? $_item->getEquivalent() : "&nbsp;"; ?></li>
                                    </ul>
                                <?php endif; ?>
                            </div>
                            <?php if($_item->isSaleable()): ?>
                            <div class="price-label">
                                <div class="head-price">
                                    <?php
                                        echo $block->getProductPrice($_item);
                                        ?>
                                </div>
                            </div>
                            <?php endif;?>
                        <div class="product-item-info">
                             <div class="product-img-wrapper">
                                     <a href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>" class="product-item-photo">
                                        <?= $block->getImage($_item, $image)->toHtml() ?>
                                    </a>
                                    
                            </div>
                           
                            <div class="product details product-item-details footer">
                                    <a title="<?= $block->escapeHtml($_item->getName()) ?>"
                                       href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>"
                                       class="product-item-link">
                                        <?= $block->escapeHtml($_item->getName()) ?>
                                    </a>
                                    <span class="blur_name"><?php if($_item->getNameDes()){ echo $_item->getNameDes();}?></span>
                                     <div class="tools">
                                        <div class="yotpo bottomLine"
                                          data-product-id="<?php echo $_item->getId() ?>">
                                        </div>
                                        <a href="<?= /* @escapeNotVerified */ $_item->getProductUrl() ?>" class="btn-detail" tabindex="-1">
                                        <span><?php echo __("More Info");?></span><i class="icon_nofication"></i>
                                        </a>
                                    </div>
                                <?php if ($showWishlist || $showCompare || $showCart): ?>
                                    <div class="product-item-actions">
                                        <?php if ($showCart): ?>
                                            <div class="actions-primary">
                                                <?php if ($_item->isSaleable()): ?>
                                                    <?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)): ?>
                                                        <button class="action tocart primary" data-mage-init='{"redirectUrl":{"url":"<?= $block->escapeUrl($block->getAddToCartUrl($_item)) ?>"}}' type="button" title="<?= $block->escapeHtmlAttr(__('Add to Cart')) ?>">
                                                            <span><?= $block->escapeHtml(__('Add to Cart')) ?></span>
                                                        </button>
                                                    <?php else: ?>
                                                        <?php
                                                            $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                                            $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()])
                                                        ?>
                                                        <button class="action tocart primary" data-post='<?= /* @noEscape */ $postData ?>' type="button" title="<?= $block->escapeHtmlAttr(__('Add to Cart')) ?>">
                                                            <span><?= $block->escapeHtml(__('Add to Cart')) ?></span>
                                                        </button>
                                                    <?php endif; ?>
                                                <?php else: ?>
                                                    <?php if ($_item->getIsSalable()): ?>
                                                        <div class="stock available"><span><?= $block->escapeHtml(__('In stock')) ?></span></div>
                                                    <?php else: ?>
                                                        <div class="stock unavailable"><span><?= $block->escapeHtml(__('Out of stock')) ?></span></div>
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                            </div>
                                        <?php endif; ?>
                                        <?php if ($showWishlist || $showCompare): ?>
                                            <div class="actions-secondary" data-role="add-to-links">
                                                <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
                                                    <a href="#"
                                                       data-post='<?= /* @noEscape */ $block->getAddToWishlistParams($_item) ?>' class="action towishlist" data-action="add-to-wishlist" title="<?= $block->escapeHtmlAttr(__('Add to Wish List')) ?>">
                                                        <span><?= $block->escapeHtml(__('Add to Wish List')) ?></span>
                                                    </a>
                                                <?php endif; ?>
                                                <?php if ($block->getAddToCompareUrl() && $showCompare): ?>
                                                    <?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');?>
                                                    <a href="#" class="action tocompare" data-post='<?= /* @noEscape */ $compareHelper->getPostDataParams($_item) ?>' title="<?= $block->escapeHtmlAttr(__('Add to Compare')) ?>">
                                                        <span><?= $block->escapeHtml(__('Add to Compare')) ?></span>
                                                    </a>
                                                <?php endif; ?>
                                            </div>
                                        <?php endif; ?>
                                    </div>
                                <?php endif; ?>
                            </div>
                        </div>
                        </div>
                    </li>    
                    <?php endforeach ?>
                    </ol>
                </div>
        </section>
    </div>
</div>
</div>
<?php endif;?>

