& when (@media-common = true) {
    form#rma-new-form{
        font-family:'Open Sans';
    }
    form.rma-customer-new {
        width: 50%;
        min-width: 400px;
        font-family:'Open Sans';
    }
    .rma-customer-new .block .title strong{
        font-weight:400;
    }
    .rma-customer-new select{
        height:45px;
        background:none!important;
    }
    // Clearfix
    // --------
    // For clearing floats like a boss h5bp.com/q
    .clearfix {
        *zoom: 1;
        &:before,
        &:after {
            display: table;
            content: "";
            line-height: 0;
        }
        &:after {
            clear: both;
        }
    }

    .rma-rma-list {
        .column.main {
            .page-title-wrapper {
                float: left;
            }
        }

        .request-rma {
            float: right;
            margin-bottom: 2rem;
        }
    }

    .italic {
        font-style: italic;
    }

    .rma-view, .rma-new-step2 {
        .box-rma-information {
            table {
                width: auto;

                th, td {
                    padding: .5rem 1rem;
                }

                th {
                    padding-left: 0;
                    font-weight: 600;
                }
            }
        }
    }

    .rma-view {
        .rma-control-buttons {
            float: right;
        }

        .rma-message {
            padding: 1rem;
            margin-top: 20px;
            position: relative;
            margin-bottom: 50px;

            &.user {
                border-left: 3px solid #EFA5A5;
                background: #ffeee7;
            }
            &.customer {
                background: #f7ffec;
                border-left: 3px solid #98cb4b;
            }

            .rma-message-title {
                position: absolute;
                top: -25px;
                left: 3px;
                color: #adadad;

                strong {
                    font-weight: 600;
                    color: #333;
                    margin-right: 1.5rem
                }
            }
        }
    }

    .rma-new-step2 {
        .rma-one-item {
            .clearfix();
            margin-bottom: 1rem;
            border: 2px dashed #e8e8e8;
            padding: 1rem;

            .item-description {
                .clearfix();
                position: relative;
                float: left;
                width: 50%;

                .image {
                    float: left;
                    margin: 0 1.5rem;
                }

                input[type=checkbox] {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }

            .item-options {
                float: left;
                width: 40%;
                padding-left: 10%;
            }
        }

        .form-list {
            list-style: none;
        }
    }

    .ui-widget-overlay {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100000px;
        height: 100000px;
        background: rgba(0, 0, 0, 0.1);
    }
}