<table class="data-grid">
    <thead>
        <tr>
            <th class="data-grid-th"><?php echo __('Operation') ?></th>
            <th class="data-grid-th"><?php echo __('Request') ?></th>
        </tr>
    </thead>
    <tbody>
        <?php $i=0; ?>
        <?php foreach($this->getFiles() as $type => $files): ?>
            <?php foreach($files as $filename => $file): ?>
                <?php $class = ($i++%2) ? 'data-row' : 'data-row _odd-row'; ?>
                <tr class="<?php echo $class; ?>">
                <td><?php echo $type; ?></td>
                <td>
                    <a href="<?php echo $this->getUrl('amazon/batch_file/download', ['filename' => base64_encode($this->getBatch()->getOperationType().'/'.$this->getBatch()->getBatchId().$filename)]); ?>"><?php echo $file; ?></a><br/>
                </td>
                </tr>
            <?php endforeach; ?>
        <?php endforeach; ?>
    </tbody>
</table>
