<style type="text/css">

    .batch-info
    {
        display: block;
        width: 80%;
        float: right;
        border: 1px solid #E0F2F7;
        background-color: #E0F2F7;
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
    }

</style>

<div class="entry-edit form-inline">
    <fieldset class="fieldset admin__fieldset user-defined">
        <legend class="admin__legend legend"><span><?php echo __('Main'); ?></span></legend>
        <div class="admin__field field field-name">
            <label class="label admin__field-label"><?php echo __('Country'); ?></label>
            <div class="admin__field-control control">
                <span><a target="_blanck" href="<?php echo $this->getUrl('amazon/account/edit', ['id' => $this->getBatch()->getCountry()->getAccount()->getId(), 'active_tab' => $this->getBatch()->getCountry()->getId()]); ?>"><?php echo $this->getBatch()->getCountry()->getLabel(); ?></a></span>
            </div>
        </div>
        <div class="admin__field field field-name">
            <label class="label admin__field-label"><?php echo __('Batch ID'); ?></label>
            <div class="admin__field-control control">
                <span><?php echo $this->getBatch()->getBatchId(); ?></span>
            </div>
        </div>
        <div class="admin__field field field-name">
            <label class="label admin__field-label"><?php echo __('Scope'); ?></label>
            <div class="admin__field-control control">
                <span><?php echo $this->getBatch()->getOperationType(); ?></span>
            </div>
        </div>
        <div class="admin__field field field-name">
            <label class="label admin__field-label"><?php echo __('Status'); ?></label>
            <div class="admin__field-control control">
                <?php echo$this->getBatch()->getStatus(); ?>
            </div>
        </div>
        <div class="admin__field field field-name">
            <label class="label admin__field-label"><?php echo __('Created At'); ?></label>
            <div class="admin__field-control control">
                <span><?php echo $this->getBatch()->getCreatedAt(); ?></span>
            </div>
        </div>
        <div class="admin__field field field-name">
            <label class="label admin__field-label"><?php echo __('Summary'); ?></label>
            <div class="admin__field-control control batch-info">
                <p>
                <?php foreach(explode(',', $this->getBatch()->getSummary()) as $info): ?>
                    <?php echo trim($info); ?><br/>
                <?php endforeach; ?>
                </p>
            </div>
        </div>
    </fieldset>
</div>