.main-content ul li{
	position: relative;
	padding-left: 22px;
}
.main-content ul li:before{
	color:#39b14a;
	content:"\2022";
	font-size:27px;
	position: absolute;
	left:0px;
	top:50%;
	transform: translateY(-50%);

}
.main-content ul.checkmark{
	list-style:none;
	position: relative;
}
.main-content ul.checkmark{
	list-style:none;
	position: relative;
}
.main-content ul.checkmark li{
	position: relative;
	padding-left:22px;
}
.main-content ul.checkmark li:before {
  content:"\2714\0020";
  position: absolute;
  left: 0px;
  top:50%;
  transform:translateY(-50%);
  color:#39b14a;
  font-size:16px;
}
	#contact-form:after{
		clear:both;
		display: table;
		content:'';
	}
	.banner-category .banner-content .category-button a{
		margin-bottom: 0px;
	}
	.case-study .product-item-photo{
		height: 222px;
	}

	.case-study .product-image-photo.default_image{
		position: absolute;
		bottom: 0;
	}

	.catalog-category-view .products-grid .case-study .product-item-name .product-item-link{
		font-size: 15px;
		font-weight: 300;
	}

	.catalog-category-view .case-study .equivalent{
		display: none;
	}

	.case-study .product-item-photo:before{
		content: "";
	    background-color: rgba(57,177,74,0.6);
	    background-image: url(../images/power-icon.png);
	    background-repeat: no-repeat;
	    width: 100%;
	    height: 100%;
	    display: block;
	    position: absolute;
	    z-index: 3;
	    background-position: center;
	    opacity: 0;
	    cursor: pointer;
	}

	.case-study .product-item:hover .product-item-photo:before{
		opacity: 1;
	}
	.catalog-category-view .product-item-photo .new-items{
		background: rgba(255,255,255,0.8);
	}
	.catalog-category-view.page-layout-case_study_layout .page-title-wrapper{
		display: block;
	}

	/* CASE STUDY */
	.catalog-category-view.page-layout-case_study_layout .page-title{
		color: #39b14a;
		font-size: 28px;
		font-weight: 600;
		margin-top: 46px;
    	letter-spacing: 2.7px;
    	margin-bottom: 9px;
	}
	.catalog-category-view.page-layout-case_study_layout .sub-name-product{
		font-size: 17px;
		color: #414042;
		font-weight: 300;
		    letter-spacing: 1.7px;
	}
	.catalog-category-view.page-layout-case_study_layout .sub-name{
		margin-bottom: 24px;
	}
	.catalog-category-view.page-layout-case_study_layout .desc-product{
		font-size: 15px;
		font-weight: 300;
		line-height: 39px;
		color: #414042;
	}

	.catalog-category-view.page-layout-case_study_layout .product-attachment.downloads{
		font-size: 15px;
		font-weight: 600;
		text-transform: uppercase;
		display: block;
		background: #39b14a;
		color: #fff;
		height: 48px;
		width: 287px;
		line-height: 48px;
		text-align: center;
		border-radius: 4px;
		margin-top: 54px;
	}

	.catalog-category-view.page-layout-case_study_layout .two-study-content{
		background-color: #39b14a;
	}

	.catalog-category-view.page-layout-case_study_layout .two-study-content .item,
	.catalog-category-view.page-layout-case_study_layout .product-attachment.downloads a{
		color: #FFF;
	}
	
	.catalog-category-view.page-layout-case_study_layout .two-study-content .item .title{
		font-size: 28px;
		font-weight: 600;
	}

	.catalog-category-view.page-layout-case_study_layout .two-study-content .item span{
		font-size: 15px;
		font-weight: 300;
	}

	.catalog-category-view.page-layout-case_study_layout .product.info.detailed .product.data.items .data.item.title .data.switch{
		font-size: 17px;
		letter-spacing: 1.8px;
	}

	.catalog-category-view.page-layout-case_study_layout .infor-contact,
	.catalog-category-view.page-layout-case_study_layout .page-main{
		display: none;
	}
	
	.catalog-category-view.page-layout-case_study_layout #opportunity p:first-child{
		font-weight: 600;
	}
	.catalog-category-view.page-layout-case_study_layout #opportunity{
		font-size: 15px;
		font-weight: 300;
		line-height: 29px;
		color: #414042;
	}

	.catalog-category-view.page-layout-case_study_layout .case-study-wrapper .container{
		width: 1392px;
	}
	.catalog-category-view.page-layout-case_study_layout .two-study-content .block-content{
		display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    -ms-flex: 0 1 auto;
	    -webkit-flex: 0 1 auto;
	    flex: 0 1 auto;
	    -webkit-flex-direction: row;
	    -ms-flex-direction: row;
	    flex-direction: row;
	    -webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	}
	
	.catalog-category-view.page-layout-case_study_layout .two-study-content{
		padding: 27px 0 21px;
		margin-top: 40px;
	}
	.catalog-category-view.page-layout-case_study_layout .two-study-content .block-content .item{
		-moz-flex-basis: 33.3333333333%;
	    -ms-flex-basis: 33.3333333333%;
	    flex-basis: 33.3333333333%;
	    max-width: 33.3333333333%;
	    text-align: center;
	    border-right: 1px solid #83ce8d;
	}

	.catalog-category-view.page-layout-case_study_layout .two-study-content .block-content .item:last-child{
		border-right: 0;
	}
	.catalog-category-view.page-layout-case_study_layout .product.info.detailed{
		width: 100%;
		margin-top: 65px;
	}

	.catalog-category-view.page-layout-case_study_layout .three-study-content{
		margin-bottom: 20px;
	}
	
	.slider-wrapper{
		float: right;
		margin-top: 45px;
	}
	#thumbnail-slider{
		margin-left: 18px;
	}
	#thumbnail-slider ul li{
		margin-bottom: 5.6px;
	}
	.wrap-sidebar{
		display: none;
	}
	.three-study-content .sub-name,.three-study-content .info_desc{
		display: none;
	}
	.one-study-content .col-right{
		max-width: 749px;
		padding-top:50px;
	}
	.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover{
		border-radius: 0px;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
	}
	.lSSlideOuter .lSPager.lSpg>li.active a, .lSSlideOuter .lSPager.lSpg>li:hover a{
		background-color:#39b14a;
	}
	.new-brand-certification{
		display: none;
	}
@media only screen and (max-width : 1200px) {
	.catalog-category-view.page-layout-2columns-left .sidebar-main .sidebar-content .contact.custom-cate .control.telephone,.catalog-category-view.page-layout-2columns-left .sidebar-main .sidebar-content .contact.custom-cate .control.industry{
		width:50%;
	}
	.catalog-category-view.page-layout-2columns-left .sidebar-main .sidebar-content .contact.custom-cate .legend{
		left:73%;
	}
	
}
@media only screen and (max-width : 1024px) {
		.banner-category .title-category .sub-name-product{
			color:#fff;
			font-size:13px;
		}
		.page-layout-case_study_layout .banner-category .title-category h1{
				color:#39b14a;
		}
		.catalog-category-view.page-layout-case_study_layout .page-title-wrapper,.catalog-category-view.page-layout-case_study_layout .sub-name{
			display: none;
		}
		.slider-wrapper{
			margin-top: 25px;
		}
		.catalog-category-view.page-layout-case_study_layout .desc-product{
			margin-top: 40px;
		}
		.catalog-category-view.page-layout-case_study_layout .product-attachment.downloads{
			margin-top: 120px;
		}
		.catalog-category-view.page-layout-case_study_layout .desc-product p{
			font-size:13px;
			line-height: 30px;
		}
		.catalog-category-view.page-layout-case_study_layout .desc-product .downloads a{
			font-size:15px;
		}
		.catalog-category-view.page-layout-case_study_layout .two-study-content .item .title{
			font-size:24px;
		}
		.catalog-category-view.page-layout-case_study_layout .two-study-content .item span{
			font-size:13px;
		}
		.case-study-wrapper .product.data.items > .item.title{
			float: none;
			clear: both;
			
		}
		.catalog-category-view.page-layout-case_study_layout .product.info.detailed{
			margin-top:30px;
			margin-bottom: 35px;
		}
		.catalog-category-view.page-layout-case_study_layout .product.info.detailed .product.data.items .data.item.title .data.switch{
			display: inline-block;
			font-size:15px;
			padding-right:26px;
			min-width: 130px!important;
			height:40px;
			border-top: none;
			border-bottom: 2px solid #39b14a;
		}

		.catalog-category-view.page-layout-case_study_layout  .product.info.detailed .product.data.items .data.item.content{
			padding-top: 10px;
		}
		.catalog-category-view.page-layout-case_study_layout   .product.data.items > .item.content{
			margin-top: 0px;
		}
		.catalog-category-view.page-layout-case_study_layout .product.info.detailed .product.data.items .data.item.title .data.switch i:before{
			font-size:25px;
			height: 22px;
			line-height: 31px;
			vertical-align: top;
			color:#9a9a9a;
			width:13px;
		}
		.block.related .block-title #block-related-heading{
			font-size:24px;
		}
		.catalog-category-view.page-layout-case_study_layout .case-study-wrapper .container{
			padding:0px;
		}
		.catalog-category-view.page-layout-2columns-left .sidebar-main .sidebar-content .contact div.content-right{
			padding-top:48px;
		}
		.wrap-sidebar{
			padding-top:30px;
			display: block;
		}
		.three-study-content .wrap-infor-product{
			display: none;
		}
		.slider-wrapper #thumbnail-slider{
			display: none;
		}
		.catalog-category-view.page-layout-case_study_layout #opportunity p:first-child{
			font-weight: 300;
		}
		.product.data.items .item.title a:after {
		    -webkit-font-smoothing: antialiased;
		    -moz-osx-font-smoothing: grayscale;
		    font-size: 30px;
		    line-height: inherit;
		    color:#aaa;
		    content: '\f807'!important;
		    font-family: 'porto-icons';
		    vertical-align: middle;
		    display: inline-block!important;
		    font-weight: normal;
		    overflow: hidden;
		    speak: none;
		    text-align: center
		}
		.product.data.items .item.title a:after {
		    position: absolute;
		    right: 2px;
		    top: 2px;
		    content:'';
		}
		.product.data.items{
			border: none;
		}
		.one-study-content .col-right{
			padding-right:30px;
			padding-top: 25px;
		}
		.catalog-category-view.page-layout-case_study_layout .page-title{
			margin-top: 25px;
		}
		.lSSlideOuter .lSPager.lSpg>li a{
			background-color:#939598;
			z-index: 1;
		}
		.page-wrapper-subcate .banner-category{
			display: none;
		}
		

}
@media only screen and (max-width : 1024px) and (min-width: 480px) {
	.catalog-category-view.page-layout-2columns-left .sidebar-main .sidebar-content .contact.custom-cate div.fieldset{
		width:100%;
		display: flex;
		flex-wrap: wrap;
	}
	.catalog-category-view.page-layout-2columns-left .sidebar-main .sidebar-content .contact.custom-cate .wrap-field-name{
		order:1;
		width:50%;
	}
	.catalog-category-view.page-layout-2columns-left .sidebar-main .sidebar-content .contact.custom-cate .field.telephone{
		order:3;
		width:50%;
	}	
	.catalog-category-view.page-layout-2columns-left .sidebar-main .sidebar-content .contact.custom-cate div.content-right{
		order:2;
		padding-top:0px;
	}	

}
@media only screen and (max-width : 768px) {
	.catalog-category-view.page-layout-case_study_layout .product-attachment.downloads{
		margin-top: 45px;
	}
	.catalog-category-view.page-layout-case_study_layout .product.info.detailed .product.data.items .data.item.title .data.switch{
		text-transform: uppercase;
	}
	.one-study-content .col-right{
		padding-right:15px;
	}
	.artwork-sub-category .main-content .btn-base a,.artwork-sub-category .top-content .page-title a.btn-base{
		max-width:288px;
	}
	.artwork-sub-category .wrapper-info-product .products-grid li:nth-of-type(3n+1){
		clear: initial!important;
	}
}
@media only screen and (max-width : 479px) {
	.page-layout-case_study_layout .banner-category .title-category h1{
			font-size:19px;
	}
	.catalog-category-view.page-layout-case_study_layout .two-study-content .item .title{
		font-size:19px;
	}
	.catalog-category-view.page-layout-case_study_layout .two-study-content .item span{
		font-size:12px;
	}
	.catalog-category-view.page-layout-case_study_layout .desc-product p{
		font-size:12px;
	}
	.catalog-category-view.page-layout-case_study_layout .product.info  p{
		font-size:12px;
	}
	.block.related .block-title #block-related-heading{
		font-size:19px;
	}
	.catalog-category-view.page-layout-case_study_layout .two-study-content .block-content .item{
		-moz-flex-basis: 100%;
		-ms-flex-basis: 100%;
		flex-basis: 100%;
		max-width: 100%;

	}
	.two-study-content .wrap-items{
			padding:15px 0px;
			text-align: center;
			position: relative;
		}
	.two-study-content .wrap-items:after{
		width:75px;
		height: 1px;
		background: #fff;
		display: inline-block;
		content:'';
		position:  absolute;
		left: 50%;
		bottom: 0px;
		margin-left: -37px;
	}
	.two-study-content .lifetime .wrap-items:after{
		height: 0px;
	}
	.catalog-category-view.page-layout-case_study_layout .two-study-content{
		padding: 0px;
	}
	.catalog-category-view.page-layout-case_study_layout .case-study-wrapper .col-left,.catalog-category-view.page-layout-case_study_layout .case-study-wrapper .col-right {
		width: 100%;
	}
	.catalog-category-view.page-layout-case_study_layout .info_desc{
		display: none;
		margin-top:0px;
	}
	.catalog-category-view.page-layout-case_study_layout .three-study-content .info_desc{
		display: block;
	}
	.catalog-category-view.page-layout-case_study_layout .desc-product{
		margin-top:30px;
		padding:0px 15px;
	}
	.catalog-category-view.page-layout-case_study_layout .product-attachment.downloads{
		margin: 0 auto;
		margin-top:20px;
	}
	.catalog-category-view.page-layout-2columns-left .sidebar-main .sidebar-content .contact div.content-right{
		padding-top:0px;
	}
	.catalog-category-view.page-layout-2columns-left .sidebar-main .sidebar-content .contact .control input{
		font-size:12px;
	}
	.catalog-category-view.page-layout-2columns-left .sidebar-main .sidebar-content .contact.custom-cate div.content-right{
		clear:both;
	}
	.artwork-sub-category .main-content .btn-base a,.artwork-sub-category .top-content .page-title a.btn-base{
		max-width:100%;
	}

}
@media only screen and (min-width : 1400px) {
	.artwork-category,.artwork-sub-category{
		max-width: 1330px;
		width:100%;
		margin:0 auto;
	}
	
}	
@media only screen and (min-width : 320px) {
	.artwork-category .wrap-policy-our .policy{
		padding:25px 20px;
		padding-bottom: 0px;
		margin:0 auto;
		width:100%;
		display: flex;
		display: -webkit-flex;
		flex-wrap: wrap;
		-webkit-flex-wrap:wrap;
	}
	.artwork-category .wrap-policy-our{
		padding-bottom: 45px;
	}
	.artwork-category .wrap-policy-our .intension-left{
		text-align: center;
		width:100%;
	}
	.artwork-category .wrap-policy-our .intension-left img{
		width: 100%;
	}
	.artwork-category .wrap-policy-our .intension-right{
		background: #39b14a;
		color:#fff;
		padding:20px;
		position: relative;
	}
	.artwork-category .wrap-policy-our .intension-right h3{
		color:#fff;
		font-size:21px;
		font-weight: 600;
		text-transform: uppercase;
	}
	.artwork-category .wrap-policy-our .intension-right p{
		color:#fff;
		font-size:13px;
		line-height: 28px;
		font-weight: 300;
	}
	.artwork-category .wrap-policy-our .intension-right a.view-policy{
			width:100%;
			display: inline-block;
			background: #fff;
			color:#39b14a;
			padding:15px 10px;
			text-align: center;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			font-weight: 600;
			margin-top:20px;
			font-size: 15px;
	}	
	.artwork-category .wrap-policy-our .intension-right a:hover{
		text-decoration: none;
	}
	.artwork-sub-category .top-content .page-title{
		padding:25px;
		background: #39b14a;
	}
	.artwork-sub-category .top-content h1{
		font-size: 21px;
		color:#fff;	
		font-weight: 600;
		text-transform: uppercase;

	}
	.artwork-sub-category .top-content h3{
		font-size: 14px;
		color:#fff;	
		font-weight: 300;
		text-transform: uppercase;
		margin-top:10px;
	}
	.artwork-sub-category .top-content .page-title a.btn-base{
		width:100%;
		height:48px;
		line-height: 48px;
		text-align: center;
		border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		font-size:15px;
		margin-top:15px;
		text-transform: uppercase;
		display: inline-block;
		color:#39b14a;
		background: #fff;
	}
	.artwork-sub-category .main-content{
		padding:35px 25px;
	}
	.artwork-sub-category .main-content h3{
		color:#39b14a;
		font-size:24px;
		font-weight: 300;
		margin:0px;
		padding:10px 0px 15px 0px;
		position: relative;
		display: inline-block;
	}	
	.artwork-sub-category .main-content h3:after{
		content:'';
		width:100%;
		position: absolute;
		display: inline-block;
		left: 0px;
		bottom: 0px;
		border:1px solid #39b14a;
	}
	.artwork-sub-category .main-content h4{
		color:#231f20;
		font-size:14px;
		font-weight: 600;
		margin-top:15px;
	}
	.artwork-sub-category .main-content .description,.artwork-sub-category .main-content .description p,.artwork-sub-category .main-content .description a,.artwork-sub-category .main-content .description span{
		font-size:12px;
		color:#231f20;
		font-weight: 300;
	}

	.artwork-sub-category a,.artwork-sub-category a:hover{
		border:none;
		text-decoration: none;

	}
	.artwork-sub-category .main-content .btn-base a{
		width:100%;
		text-transform: uppercase;
		font-size:15px;
		height: 48px;
		line-height: 48px;
		text-align: center;
		border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		display: inline-block;
		background:#39b14a;
		color: #fff;
		margin-top:40px;
	}
	.artwork-sub-category .wrapper-info-product h1{
			font-size: 21px;
			font-weight: 600;
			color: #231f20;
			text-align: center;
			margin-top:10px;
			text-transform: uppercase;
	}
	.catalog-category-view.page-layout-case_study_layout .product.info.detailed .product.data.items .data.item.content{
		display: block!important;
	}
	.product.info.detailed .product.data.items .data.item.title.active .data.switch{
		color:#6f6f71;
	}
	.product.data.items .item.title a:after{
		display: none!important;
	}
	.case-study-wrapper .product.data.items > .item.title{
		clear: both;
		float:none;
	}
	.catalog-category-view.page-layout-case_study_layout .product.info.detailed .product.data.items .data.item.title .data.switch{
		border-bottom: 2px solid #39b14a;
		display: inline-block;
		padding-right:15px;
		min-width: 153px;
		height:40px;
		border-top: none;
	}
}
@media only screen and (min-width : 320px) and (max-width:400px) {
	.catalog-category-view.page-layout-case_study_layout .product-attachment.downloads{
		width:100%;
	}
}
@media only screen and (min-width : 400px) {
	.artwork-category .wrap-policy-our .policy{
		width:80%;
	}
}
@media only screen and (min-width : 480px) {
	.artwork-category .wrap-policy-our .policy{
		width:356px;
	}
}
@media only screen and (min-width : 640px) {
	.artwork-category .wrap-policy-our .policy{
		width:100%;
	}
	.artwork-category .wrap-policy-our .intension-left{
		width:50%;
		float:right;
		order:2;
	}
	.artwork-category .wrap-policy-our .intension-right{
		width:50%;
		float:left;
		padding:35px;
		order:1;
	}
	.artwork-category .wrap-policy-our .intension-right h3{
		font-size:24px;
	}
	.artwork-category .wrap-policy-our .intension-right p{
		font-size:14px;
	}
	.artwork-category .wrap-policy-our .intension-right a.view-policy{
		font-size:15px;
		margin-top: 20px;
	}
	.artwork-category .wrap-policy-our .intension-left img{
		height: 100%;
	}
	.artwork-category .wrap-policy-our .intension-right a.view-policy{
		margin-top: 80px;
	}
	.artwork-category .wrap-policy-our .policy{
		width:640px;
	}
	.artwork-sub-category .top-content .page-title{
		width:50%;
	}
	.artwork-sub-category .top-content .content-top-right{
		display: none;
	}
}

@media only screen and (min-width : 768px) {
	.artwork-category .wrap-policy-our .policy{
		width:680px;
	}
	.artwork-sub-category .top-content h1{
		font-size: 24px;
		margin-bottom:10px;
	}
	.artwork-sub-category .top-content h3{
		font-size: 17px;	
	}
	.artwork-sub-category .top-content .page-title a.btn-base,.artwork-sub-category .main-content .btn-base a{
		width:288px;
	}
	.artwork-sub-category .main-content h3{
		font-size:30px;
	}
	.artwork-sub-category .main-content h4{
		font-size:16px;
	}
	.artwork-sub-category .main-content .description, .artwork-sub-category .main-content .description p, .artwork-sub-category .main-content .description a, .artwork-sub-category .main-content .description span{
		font-size:13px;
		margin-top:15px;
	}
	.artwork-sub-category .main-content h4{
		margin-top:20px;
	}
	.artwork-sub-category .wrapper-info-product .products-grid{
		padding:10px;
	}
	.artwork-sub-category .wrapper-info-product .products-grid li:nth-of-type(3n+1){
		clear:both;
	}
	.artwork-sub-category .wrapper-info-product h1{
		font-size:24px;
	}


}
@media only screen and (min-width : 1025px) {
	.artwork-category .wrap-policy-our{
		display: flex;
		flex-wrap: wrap;
		display: -webkit-flex;
		-webkit-flex-wrap:wrap;
	}
	.artwork-category .wrap-policy-our .policy{
		width:50%;
		float: left;
		padding:25px;
		padding-bottom: 0px;
		margin:0px;
	}
	.artwork-category{
		padding-top:30px;
	}
	.artwork-category .wrap-policy-our .intension-right .wrap-info{
		position: relative;
		height:100%;
	}
	.artwork-category .wrap-policy-our .intension-right h3{
		font-size:27px;
	}
	.artwork-category .wrap-policy-our .intension-right p{
		font-size:15px;
	}
	.artwork-category .wrap-policy-our .intension-right a.view-policy{
		font-size:15px;
		
	}
	.artwork-category .catalog-category-view.page-layout-2columns-left .sidebar-main{
		width:100%;
		padding:25px;
	}
	.artwork-category .catalog-category-view.page-layout-2columns-left .sidebar-main .sidebar-content .brand-certification .show-category{
		display: none;
	}
	.artwork-category .catalog-category-view.page-layout-2columns-left .sidebar-main .sidebar-content .brand-certification{
		padding:0px;
	}
	.category-image .image{
		min-height: 180px;
	}
	.artwork-category  .catalog-category-view.page-layout-2columns-left .sidebar-main .sidebar-content{
		text-align: center;
		margin-top: 15px;
		padding:30px;
	}
	.catalog-category-view.page-layout-2columns-left .sidebar-main .sidebar-content .contact{
		padding:0px;
		max-width: 1070px;
		margin:0 auto;
	}
	.catalog-category-view.page-layout-2columns-left .sidebar-main .sidebar-content .contact.custom-cate .fieldset{
		float:left;
		width:100%;
		position: relative;
	}
	 .catalog-category-view.page-layout-2columns-left .sidebar-main .sidebar-content .contact.custom-cate  .fieldset .wrap-field-name{
		float:left;
		width:36%;
		margin-bottom: 0px;
		padding-right: 10px;
	}
	.catalog-category-view.page-layout-2columns-left .sidebar-main .sidebar-content .contact.custom-cate div.content-right{
		float:left;
		width:64%;
		padding-top:0px;
		padding:0px 5px 0px 8px;
		
	}

	.catalog-category-view.page-layout-2columns-left .sidebar-main .sidebar-content .contact.custom-cate div.content-right >fieldset{
		width:56%;
		float:left;
		padding:0px 4px 0px 0px;
	}
	.catalog-category-view.page-layout-2columns-left .sidebar-main .sidebar-content .contact.custom-cate div.content-right .actions-toolbar{
		width:44%;
		float:left;
		padding-left: 15px;
	}
	.catalog-category-view.page-layout-2columns-left .sidebar-main .sidebar-content .contact.custom-cate .control.telephone{
		padding-left: 8px;
		padding-right:2px;
	}	
	.catalog-category-view.page-layout-2columns-left .sidebar-main .sidebar-content .contact.custom-cate .control.industry{
		padding-left: 5px;
		padding-right:5px;
	}
	.catalog-category-view.page-layout-2columns-left .sidebar-main .sidebar-content .contact.custom-cate .field.telephone{
		width:36%;
		float: left;
		margin-bottom: 0px;
	}
	.catalog-category-view.page-layout-2columns-left .sidebar-main .sidebar-content .contact.custom-cate .legend{
		text-align: left;
		position: absolute;
		right:81px;
		top:24px;
		width:auto;
	}
	.catalog-category-view.page-layout-2columns-left .sidebar-main .sidebar-content .contact.custom-cate .actions-toolbar .primary{
		width:100%;
	}
	.catalog-category-view.page-layout-2columns-left .sidebar-main .sidebar-content .contact.custom-cate .actions-toolbar .action.primary{
		width:100%;
		text-align: left;
		font-size:15px;
	}
	.new-brand-certification{
		display: block;
	}
	.artwork-sub-category .catalog-category-view.page-layout-2columns-left .sidebar-main,.artwork-category .catalog-category-view.page-layout-2columns-left .sidebar-main{
		width:100%;
		padding:0px;
		padding-bottom: 45px;

	}
	.artwork-sub-category .catalog-category-view.page-layout-2columns-left .sidebar-main .sidebar-content .brand-certification{
		display: none;
	}
	.artwork-sub-category .top-content .page-title{
		width:52%;
	}
	.artwork-sub-category .top-content h1{
		font-size:28px;
		margin-top:10px;
		margin-bottom: 10px;
	}
	.artwork-sub-category .main-content h3{
		font-size:36px;
	}
	.artwork-sub-category .main-content h4{
		font-size:18px;
	}
	.artwork-sub-category .main-content .description, .artwork-sub-category .main-content .description p, .artwork-sub-category .main-content .description a, .artwork-sub-category .main-content .description span{
		font-size:14px;
	}
	.artwork-sub-category .wrapper-info-product h1{
		font-size:28px;
	}
	.artwork-sub-category .products-grid .product-item .product-item-details .product-item-name .product-item-link{
		font-size:15px;
	}
	.artwork-sub-category .top-content .page-title{
		padding:60px 60px 46px 60px;
	}
	.artwork-sub-category .top-content .page-title a.btn-base, .artwork-sub-category .main-content .btn-base a{
		margin-top:16px;
	}
	.artwork-sub-category .main-content{
		padding:30px 10px 45px 10px;
	}
	.artwork-sub-category{
		margin-top: 45px;
	}
	.catalog-category-view.page-layout-case_study_layout .product.info.detailed .product.data.items .data.item.content{
		padding-top:10px;
	}
}
@media only screen and (min-width : 1025px) and (max-width : 1200px){
	.artwork-category .wrap-policy-our .intension-right{
		padding:10px 15px;
	}
	.artwork-category .wrap-policy-our .intension-right a.view-policy{
		margin-top:20px;
	}
}
@media only screen and (min-width : 1201px) {
	.artwork-category .wrap-policy-our .intension-right{
		padding:25px;
	}
	.artwork-category{
		padding-bottom: 20px;
	}
	.artwork-category .wrap-policy-our .intension-right .wrap-info{
		position: relative;
		height:100%;
	}
	.artwork-category .wrap-policy-our .intension-right a.view-policy{
		font-size:15px;
		position: absolute;
		left: 0px;
		bottom: 55px;
	}
	.artwork-sub-category .wrapper-info-product .products-grid li:nth-of-type(4n+1){
		clear:both;
	}
	.artwork-sub-category .wrapper-info-product .products-grid li:nth-of-type(3n+1){
		clear:initial;
	}
	.artwork-sub-category .wrapper-info-product .products-grid{
		margin:0px;
	}
}