@media only screen and (max-width : 1199px) {
	.sub-dropdown-menu {
		display: none;
	}
}

@media only screen and (min-width : 1200px) {
	/* 	MAIN MENU NAVIGATION */

	.menu-header{
		position: relative !important;
	}
	.menu-header li:hover > a{
		color: #39b14a !important;
		cursor: pointer;
	}
	
	.menu-header li:hover > .sub-dropdown-menu{
		display: block !important;
	}
	.sub-dropdown-menu {
	    position: absolute;
	    top: 60%;
    	left: 15px;
	    z-index: 1000;
	    display: none;
	    float: left;
	    min-width: 398px;
	    padding: 5px 0;
	    margin: 2px 0 0;
	    font-size: 14px;
	    text-align: left;
	    list-style: none;
	    background-color: #fff;
	    -webkit-background-clip: padding-box;
	    background-clip: padding-box;
	    border: 1px solid #ededed !important;
	    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,.175);
	    box-shadow: 2px 2px 5px rgba(0,0,0,.175);
	    -moz-column-count: 2;
		-moz-column-gap: 60px;
		-webkit-column-count: 2;
		-webkit-column-gap: 60px;
		column-count: 2;
		column-gap: 50px;
		line-height: 37px !important;
		padding: 45px 23px !important;
	}

	.sub-dropdown-menu:before{
		content: "";
	    width: 100%;
	    height: 3px;
	    background: #39b14a;
	    position: absolute;
	    top: 0;
	    left: 0;
	}

	.sub-dropdown-menu:after{
		content: "";
	    width: 100%;
	    height: 3px;
	    background: #39b14a;
	    position: absolute;
	    bottom: 0;
	    left: 0;
	}
	
	.sub-dropdown-menu li{
		line-height: 37px !important;
	}
	.sub-dropdown-menu a{
		font-size: 15px !important;
		color: #000 !important;
		font-weight: 300 !important;
		font-family: "Open Sans";
	}
}
	