	.products-grid.products-related .product-item .new-items a:hover{
		text-decoration: none;
	}
	.catalog-product-view.page-layout-2columns-right .column.main .wrap-infor-product{
			width:50%;
			float: right;
			padding:0px 20px;
	}
	.catalog-product-view .wrap-infor-product .product.info.detailed{
		display:none;
	}
 	.banner-product .title-product{
		display: none;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left:30px;
		max-width: 450px
 	}
 	.banner-product .title-product h1{
 		font-size:24px;
 		margin: 0px 0px 15px 0px;
 		text-transform: uppercase;
 		color: #fff
 	}
 	.catalog-product-view .category-image img.image{
 		height:auto;
 		min-height: 206px;
 	}
 	.banner-product .title-product .sku-product{
 		font-size:13px;
 		text-transform: uppercase;
 		color: #fff
 	}
 	div.page-wrapper>.breadcrumbs{
		margin:0 auto;
		max-width:1345px;
	}

	div.product-info-main .page-title-wrapper h1{
		font-size: 28.59px;
		letter-spacing: 2.98px;
		margin-bottom: 6px;
	}
	div.product-info-main .product.sku .value{
	    letter-spacing: 1.5px;
	}
	.catalog-product-view .wrap-infor-product .desc-product{
		line-height: 31px ;
	}
	
	.catalog-product-view .wrap-infor-product .desc-product,
	.catalog-product-view .infor-contact p{
		font-size: 14px !important;
		color: #414042 !important;
		font-weight: 300 !important;
		font-family: 'Open Sans' !important;
		word-spacing: -1px;
	}
	
	.catalog-product-view .wrap-infor-product .infor-contact p span,.catalog-product-view .product-info-main .infor-contact p span{
		font-weight: 600;
		color: #39b14a;
		font-size: 24px;
	}
	.catalog-product-view .product-info-main .infor-contact{
		display: none;
	}
	
	.wrap-infor-product .sidebar-content .contact .legend{
		font-size: 28.59px;
	}

	.page-footer .footer-top .custom-block h3{
		font-weight: 600;
		text-transform: uppercase;
	}

	.page-footer .footer-top .custom-block ul li a{
		font-size: 17px;
		font-weight: 300;
	}

	.block.related .block-title #block-related-heading{
		font-size: 28.59px;
		letter-spacing: 3px;
	}

	.products-grid .product-item .product-item-info .consumption,
	.products-grid .product-item .product-item-details .product-item-name .product-item-link{
		font-weight: 300;
		font-size: 15px;
	}

	.catalog-product-view .product-brand-logo{
		margin-bottom: 33px;
    	margin-top: 16px;
	}

	.catalog-product-view .product.media{
		margin-bottom: 51px;
	}

	.product.info.detailed .product.data.items .data.item.title.active .data.switch{
		line-height: 10px;
	}

	.product.info.detailed .product.data.items .data.item.content{
		padding-top: 71px;
	}

	.wrap-infor-product .sidebar-content{
		border-radius: 4px;
		padding: 40px 47px 76px;
	}

	.wrap-infor-product .sidebar-content .contact .legend{
		letter-spacing: 2.8px;
	}

	.wrap-infor-product .sidebar-content .contact .control input{
		padding: 10px 19px;
	}

	.catalog-product-view .wrap-infor-product .sidebar-content .fieldset{
		margin-bottom: 1px;
	}

	.wrap-infor-product .sidebar-content .contact .actions-toolbar .action.primary{
		padding: 0 182px 0px 20px;
		letter-spacing: -0.5px;
	}

	.catalog-product-view .product.info.detailed{
		margin-bottom: 0;
		display: inline-block;
		width: 46% !important;
	}

	.catalog-product-view .products-grid .product-item .product-item-details{
		padding-top:0; 
	}

	.catalog-product-view .block.related{
		margin-bottom: 53px;
	}

	.page-footer .footer-top{
		padding: 19px 0px;
	}

	.page-footer .footer-top .second-col-content h3,
	.page-footer .footer-top .last-col-content h3{
		margin-top: 28px;
		margin-bottom: 17px;
		letter-spacing: 2.4px;
    	word-spacing: -1px;
	}
	.catalog-product-view .product-info-main .multiple-option-custom{
		display: none!important;
		margin:0px!important;
	}
	.catalog-product-view .product-info-main .field,
	.catalog-product-view .product-info-main .field.required{
		display: flex;
		display: -ms-flexbox;
    	display: -webkit-flex;
    	align-items: center;
    	margin-bottom: 17px;
	}
	.catalog-product-view .product-info-main .field label,
	.catalog-product-view .product-info-main .field.required label{
		-webkit-flex-basis: 27%;
	    -ms-flex-preferred-size: 27%;
	    flex-basis: 27%;
	    max-width: 27%;
	    padding-right: 20px;
	    font-size: 15px;
	    font-weight: 300;
	    color: #414042;
	}
	
	.catalog-product-view .product-info-main .field select,
	.catalog-product-view .product-info-main .field.required select{
	    line-height: 39px;
	    height: 39px;
	    border-color: #6ac176;
	    padding-top: 0;
	    padding-bottom: 0;
	    color: #414042;
	    padding-left: 10px;
	    font-size: 15px;
	    font-weight: 300;
	}
	
	.catalog-product-view .product-options{
		margin-top: 0;
    	margin-bottom: 0;
	}
	
	.catalog-product-view .product-options .selection-bundle-qty{
		display: flex;
		display: -ms-flexbox;
    	display: -webkit-flex;
    	align-items: center;
	}
	.catalog-product-view .product-options .selection-bundle-qty .qty-box {
	    
	    text-align: center;
	    -webkit-flex-basis: 27%;
	    -ms-flex-preferred-size: 27%;
	    flex-basis: 27%;
	    max-width: 27%;
	    padding-right: 20px;
	    font-size: 15px;
	    font-weight: 300;
	    color: #414042;
	}
	.catalog-product-view .product-options .selection-bundle-qty .product-qty-wrapper{
		border: 1px solid #39b14a;
	    border-radius: 3px;
	    overflow: hidden;
	    width: 149px;
	    display: -ms-flexbox;
    	display: -webkit-flex;
	    display: flex;
	}
	.catalog-product-view .product-options .selection-bundle-qty .qty-box span {
	    width: 31%;
	    background: #27a7de;
	    color: #fff;
	    cursor: pointer;
	    font-size: 24px;
	    line-height: 40px;
	    float: left;
	    height: 40px;
	}

	.catalog-product-view .product-options .selection-bundle-qty .qty-box input {
	    text-align: center;
	    height: 40px;
	    border-left: 1px solid #eaeaee;
	    border-right: 1px solid #eaeaee;
	    border-bottom: none;
	    border-top: none;
	    width: 51%;
	    float: left;
	}

	.catalog-product-view .product-options .qty-box span.bundle-plus {
	    float: right;
	}

	.catalog-product-view .product-options .selection-bundle-qty .qty-box span {
	    width: 24%;
	    background: #edeeee;
	    color: #414042;
	    cursor: pointer;
	    font-size: 15px;
	    line-height: 40px;
	    float: left;
	    height: 40px;
	}

	.catalog-product-view .product-options .add-to-quote button#product-addtoquote-button{
		height: 48px;
		background-color: #39b14a;
		border: 0;
		color: #FFF;
		font-size: 15px;
		font-weight: 600;
		font-family: 'Open Sans';
		text-transform: uppercase;
		width: 260px;
	}

	.catalog-product-view .products-grid .owl-carousel .product-item{
		padding: 0 10px;
	}


	div.page-wrapper > .breadcrumbs strong,
	div.page-wrapper > .breadcrumbs li a{
	    font-weight: 300 !important;
	    color: #000 !important;
	    font-family: 'Open Sans' !important;
	}
	div.page-wrapper > .breadcrumbs strong{
		text-transform: lowercase !important;
	}
	
	.product.data.items > .item.title > .switch{
		line-height: 11px !important;
	}

	.product.data.items > .item.title {
	    padding: 10px 64px 10px 0 !important;
	}
	
	.sidebar-content .contact .control{
		width: 100%;
	}

	.catalog-product-view .product-options-wrapper{
		border-bottom: 0;
		padding-bottom: 0;
	}

	.catalog-product-view.page-layout-2columns-right .column.main .product-info-main .wrap-infor-product .infor-contact {
	    padding: 0 0 30px 0 !important;
	}

	.catalog-product-view.page-layout-2columns-right .wrap-infor-product .sidebar-content{
		margin-top: 0;
	}

	.catalog-product-view.page-layout-2columns-right .product.info.detailed .product.data.items .additional-attributes-wrapper #product-attribute-specs-table tbody tr th, 
	.catalog-product-view.page-layout-2columns-right .product.info.detailed .product.data.items .additional-attributes-wrapper #product-attribute-specs-table tbody tr td{
		font-size: 14px;
	}

	.catalog-product-view.page-layout-2columns-right .bundle-options-container {
	    clear: inherit;
	}


.new-block-attach .c-product-detail__download-pdf{
    background-color: #39b14a;
    width: 129px;
    height: 49px;
    border-radius: 5px;
    display: block;
    color: #fff;
    margin: 0 auto;
    line-height: 49px;
    text-transform: uppercase;
}
.new-block-attach .downloads{
	float:left;
	width:50%;
	display: none;
}
.new-block-attach{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
}
.new-block-attach .title-attach h3{
    font-size: 14px;
    margin-top: 10px;
    color: #333;
}
.new-block-attach .downloads h3{
    font-size: 12px;
    margin-top: 10px;
    color: #39b14a;
}

.new-block-attach .thumbnail-attach img{
    box-shadow: 3px 3px 3px #ddd;
    -moz-box-shadow: 3px 3px 3px #ddd;
    -webkit-box-shadow: 3px 3px 3px #ddd;
    width: 88px;
    height: 125px;
}

.product.info.detailed .product.data.items #additional_downloads{
	padding-left: 0 !important;
}
.main-upsell-product-detail{
	display: none;
}
@media only screen and (min-width : 320px) {
    .new-block-attach .item{
        -moz-flex-basis: 50%;
        -ms-flex-basis: 50%;
        flex-basis: 50%;
        max-width: 50%;
        text-align: center;
        margin-bottom: 50px;
    }

    .catalog-product-view .product-info-main .field select, .catalog-product-view .product-info-main .field.required select{
    	width: 100%;
    }
}

@media only screen and (min-width : 768px) {
	.catalog-product-view .product-info-main .product.attribute.overview{
		display: none;
	}

	.catalog-product-view.page-layout-2columns-right .column.main .product.media .wrap-gallery-placeholder .new-items{
		background: rgba(255,255,255,0.8);
	}
}

@media only screen and (min-width : 1025px) {
	.product-options-wrapper .control{
		-webkit-flex-basis: 73%;
    	-ms-flex-preferred-size: 73%;
		flex-basis: 73%;
    	max-width: 73%;
	}
}

@media only screen and (min-width : 1200px) {
    .new-block-attach .item{
	    -moz-flex-basis: 25%;
	    -ms-flex-basis: 25%;
	    flex-basis: 25%;
	    max-width: 25%;
	    text-align: center;
	    margin-bottom: 50px;
	}
}

@media (max-width: 1800px) and (min-width: 1201px){
	.catalog-product-view.page-layout-2columns-right .column.main .wrap-infor-product{
		padding:0px;
	}
}
@media only screen and (min-width: 1600px){
	.catalog-product-view .product.info.detailed {
	    width: 50% !important;
	}
}

@media only screen and (max-width : 1200px) {
	.product.info.detailed .product.data.items #additional_downloads .downloads{
		width:33.3333%;
	}
	.catalog-product-view.page-layout-2columns-right .column.main .wrap-infor-product{
		width:53%;
		padding:0px 10px;
	}
	.catalog-product-view.page-layout-2columns-right .column.main div.product-info-main{
		padding:0px 10px;
	}
}
@media only screen and (max-width : 1024px) {
	.catalog-product-view.page-layout-2columns-right .column.main{ 
		  -ms-box-orient: horizontal;
		  display: -webkit-box;
		  display: -moz-box;
		  display: -ms-flexbox;
		  display: -moz-flex;
		  display: -webkit-flex;
		  display: flex;
		  -webkit-flex-flow: row wrap;
		  flex-flow: row wrap;
	}
	.catalog-product-view .wrap-infor-product .infor-contact{
		display: none;
	}
	.catalog-product-view .product-info-main .infor-contact{
		display: block;
		margin-top: 50px;
	}
	.catalog-product-view.page-layout-2columns-right .column.main .product-info-main{
		order:3;
	}
	.catalog-product-view.page-layout-2columns-right .column.main div.product.media{
		order:1;
		padding: 0px 20px 15px;
		padding-bottom:0px;
		width:50%;
		margin-bottom: 10px;
	}
	.catalog-product-view .product.info.detailed{
		padding:0px 15px 0px 15px;
		margin-bottom: 20px;
		width:70%!important;
		display: none;
	}
	.catalog-product-view .wrap-infor-product .product.info.detailed{
		display: block;
	}
	.catalog-product-view.page-layout-2columns-right .column.main .wrap-infor-product{
		order:3;
		width:100%;
	}
	.catalog-product-view.page-layout-2columns-right  .column.main > .custom-block{
		display: none;
	}
	.product-info-main .page-title-wrapper.product,.product-info-main div.product-info-stock-sku{
		display: none;
	}
	.catalog-product-view.page-layout-2columns-right .column.main div.product-info-main{
		width:50%;
		margin:0px;
		padding:0px 20px;
	}
	
	.catalog-product-view .product-options .selection-bundle-qty{
		display: block;
	}
	.catalog-product-view .product-options .selection-bundle-qty .add-to-quote{
		margin-top: 15px;
	}
	.catalog-product-view .product-info-main #product-options-wrapper  .field, .catalog-product-view .product-info-main #product-options-wrapper .field.required{
		display: block;
		max-width: 288px;
		width: 288px;
	}
	.catalog-product-view .product-info-main #product-options-wrapper  .field label, .catalog-product-view .product-info-main #product-options-wrapper .field.required label{
		display: block;
		max-width: 100%;
		font-size:13px;
	}
	.product-info-main .wrap-infor-product{
		clear:both;
	}
	.catalog-product-view.page-layout-2columns-right .column.main .product-info-main .wrap-infor-product .desc-product{
		padding:30px 15px 0px 30px;
	}
	.catalog-product-view .product-options .add-to-quote button#product-addtoquote-button{
		max-width: 288px;
		width:288px;
	}
	.wrap-infor-product .sidebar-content{
		padding:20px 30px 25px;
		border-radius: 0px;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
	}
	.wrap-infor-product .sidebar-content .brand-certification{
		display: block;
		padding-bottom: 25px;
		text-align:center;
	}
	.wrap-infor-product .sidebar-content .brand-certification .show-category,.wrap-infor-product .sidebar-content .brand-certification .show-mobie{
		display: none;
	}
	.wrap-infor-product .sidebar-content .contact .legend{
		font-size:24px;
	}
	.wrap-infor-product .sidebar-content .contact{
		max-width: 610px;
		margin:0 auto;
	}
	.wrap-infor-product .sidebar-content .contact .content-right {
        float: right;
        width: 50%;
        padding-left: 8px;
        padding-top: 48px
    }
    .catalog-product-view .wrap-infor-product .sidebar-content .fieldset{
    	float:left;
    	width:50%;
    }
    #contact-form:after{
		clear:both;
		display: table;
		content:'';
    }
    .wrap-infor-product .sidebar-content .contact .actions-toolbar .action.primary{
    	padding: 0px;
		width: 100%;
		text-align: left;
		padding-left: 20px;
    }
    .wrap-infor-product .sidebar-content .contact .actions-toolbar .action.primary span{
    	font-size:13px;
    }
    .wrap-infor-product .sidebar-content .contact .actions-toolbar .primary{ 
    	width:100%;
    }
  .catalog-product-view .product-info-main  .wrap-infor-product .sidebar-content .contact  .field{
		margin-bottom: 8px;
    }
    .catalog-product-view.page-layout-2columns-right .column.main{
    	padding-bottom: 0px;
    }
    .block.related .block-title #block-related-heading{
    	font-size:24px;
    }
    .catalog-product-view.page-layout-2columns-right .column.main .product-info-main .wrap-infor-product .infor-contact{
    	padding-left: 30px!important;
    }
    .catalog-product-view .wrap-infor-product .desc-product{
    	padding:20px;
    }
    .catalog-product-view .wrap-infor-product .desc-product, .catalog-product-view .infor-contact p{
    	font-size:13px;
    }
    .catalog-product-view .block.related{
    	margin-bottom: 40px;
    }
    .product.info.detailed .product.data.items .data.item.title .data.switch{
    	text-align: center;
    	font-size:15px;
    	height:25px;
    	display: inline-block;
    	border-top:none;
    	font-weight: 400;
    }
    .product.info.detailed .product.data.items .data.item.content{
    	padding-top: 20px;
    }
    .catalog-product-view.page-layout-2columns-right .product.info.detailed .product.data.items .additional-attributes-wrapper #product-attribute-specs-table tbody tr th, .catalog-product-view.page-layout-2columns-right .product.info.detailed .product.data.items .additional-attributes-wrapper #product-attribute-specs-table tbody tr td{
    	font-size:13px;
    }
    .banner-product .title-product{
		display: block;
 	}
 	.catalog-product-view .category-image img.image{
 		display: block;
 		min-height: 110px;
 	}
 	 .catalog-product-view #maincontent{
		padding-left:0px;
		padding-right:0px;
		padding-bottom:30px;
 	}
 	.catalog-product-view .product-info-main .field select, .catalog-product-view .product-info-main .field.required select{
 		padding-right: 0px;
 	}
 	.catalog-product-view.page-layout-2columns-right .breadcrumbs{
		display: none;
 	}
 	.catalog-product-view .wrap-infor-product .desc-product, .catalog-product-view .infor-contact p{
 		font-size:13px!important;
 	}
 	.catalog-product-view .product-brand-logo{
 		margin-top:0px;
 		margin-bottom: 15px;
 	}
 	.catalog-product-view.page-layout-2columns-right .column.main .wrap-infor-product{
 		padding:0px;
 	}
 	.products-grid .product-item .product-item-details .product-item-name a.product-item-link{
 		font-size:13px;
 	}
}
@media only screen and (max-width : 992px) {
    .product.info.detailed .product.data.items #additional_downloads .downloads{
    	width:50%;
    }
}
@media only screen and (max-width : 768px) {
	.product.data.items>.item.title{
		float:left;
		width:auto;
	}
	.product.data.items:before, .product.data.items:after{
		content:'';
		display: table;
	}
	.product.data.items:after{
		clear: both;
	}
	
	.product.info.detailed .product.data.items .data.item.title.active .data.switch{
		border-top: none;
	}
	.product.data.items .item.title a:after{
		display: none;
	}
	.product.info.detailed .product.data.items .data.item.content{
		padding-top:36px;
		padding-bottom: 10px;
	}
	.product.data.items{
		border-bottom: none;
	}
	.catalog-product-view .product-info-main #product-options-wrapper .field, .catalog-product-view .product-info-main #product-options-wrapper .field.required{
		width: 100%;
		max-width: 100%;
	}
	.catalog-product-view .product-options .add-to-quote button#product-addtoquote-button{
		width: 100%;
		max-width: 100%;
	}
	div.product-info-main .product.overview{
		display: none;
	}
	.catalog-product-view .product-info-main .infor-contact{
		margin-top:30px;
	}
	.catalog-product-view .product-info-main .infor-contact p span{
		font-size:21px;
	}
	.product.info.detailed .product.data.items .data.item.title .data.switch{
		text-transform: uppercase;
	}
}

@media only screen and (max-width: 768px) and (min-width: 700px){
	.product.data.items>.item.content{
		margin-top: 18px;
        box-sizing: border-box;
        float: right;
        margin-left: -100%;
        width: 100%
	}

}
@media only screen and (max-width : 700px) {
	.catalog-product-view .product-brand-logo{
		width:100%;
		text-align: center;
	}
	.catalog-product-view .product-info-main #product-options-wrapper .field, .catalog-product-view .product-info-main #product-options-wrapper .field.required{
		width:100%;
		max-width: 100%;
	}
	.catalog-product-view .product-options .add-to-quote button#product-addtoquote-button{
		width:100%;
		max-width: 100%;
	}
	.catalog-product-view .product-options .selection-bundle-qty .product-qty-wrapper{
		width:200px;
	}
	.catalog-product-view .product-brand-logo{
		padding:0px;
	}
	div.product-info-main .product-add-form{
		padding:0px;
		width:100%;
	}
	.catalog-product-view.page-layout-2columns-right .column.main .product-info-main .wrap-infor-product .desc-product{
		padding:20px 15px 0px 15px;
	}
	.catalog-product-view.page-layout-2columns-right .column.main div.product.media{
		width:100%;
		margin-bottom: 0px;
	}
	.catalog-product-view.page-layout-2columns-right .column.main .product-info-main .wrap-infor-product .infor-contact{
		padding-left: 15px!important;
	}
	.catalog-product-view .wrap-infor-product .product.info.detailed{
		display:block;
	}
	.catalog-product-view .product.info.detailed{
		width:100%!important;
		padding:0px;
	}
	#maincontent .product.data.items > .item.title:first-of-type{
		width:100%;
	}
	#maincontent .product.data.items > .item.title:nth-of-type(3){
		text-align: left;
		width:100%;
	}
	.catalog-product-view.page-layout-2columns-right .column.main .product-info-main .wrap-infor-product .infor-contact{
		padding-bottom: 20px!important;
	}
	
	.new-block-attach .downloads{
    	width:50%;
    	text-align: center;
    	float: left;
    }
    .table-wrapper .table:not(.totals):not(.cart):not(.table-comparison)>tbody>tr td:before, .table-wrapper .table:not(.totals):not(.cart):not(.table-comparison)>tbody>tr th:before{
    	color:#414042!important;
    }
    
    .catalog-product-view .product-brand-logo{
    	margin-bottom: 20px;
    }
    #maincontent .product.data.items > .item.title{
    	padding:10px!important;
    	text-transform: uppercase;
    }
    .product.info.detailed .product.data.items .data.item.title .data.switch{
    	padding:0px;
    	border-bottom:2px solid #39b14a;
    }
    .product.info.detailed .product.data.items .data.item.title.active .data.switch{
    	color:#6f6f71;
    }
	.banner-product .title-product{
		left:15px;
	}
	.new-block-attach{
		display: block;
	}
	.new-block-attach .downloads{
		display: block;
	}
	.new-block-attach .item{
		display: none;
	}
	.new-block-attach .downloads:nth-of-type(4n+6){
		clear:both;
	}
	.catalog-product-view .product-info-main .infor-contact{
		display: none;
	}
	.catalog-product-view .wrap-infor-product .infor-contact{
		display: block;
		padding:0px 20px;
	}
	.catalog-product-view.page-layout-2columns-right .column.main div.product-info-main{
		width:100%;
		padding:0 20px;
	}
	.product.info.detailed .product.data.items .data.item.content{
		display: block!important;
	}
}
@media only screen and (max-width : 640px) {
	.table-wrapper .table:not(.totals):not(.cart):not(.table-comparison)>tbody>tr td:before, .table-wrapper .table:not(.totals):not(.cart):not(.table-comparison)>tbody>tr th:before{
		display: none;
	}
	.table-wrapper .table:not(.totals):not(.cart):not(.table-comparison)>tbody>tr td, .table-wrapper .table:not(.totals):not(.cart):not(.table-comparison)>tbody>tr th{
		display: table-cell!important;
	}
	.table-wrapper .table:not(.totals):not(.cart):not(.table-comparison)>tbody>tr>th{
		background:  none;
	}
	.table-wrapper .table:not(.totals):not(.cart):not(.table-comparison)>tbody>tr{
		display: table-row;
	}
	.table-wrapper .table:not(.totals):not(.cart):not(.table-comparison){
		display: table;
	}
	.table-wrapper .table:not(.totals):not(.cart):not(.table-comparison)>tbody{
		display: table-row-group;
	}
}
@media only screen and (max-width : 479px) {
	.wrap-infor-product .sidebar-content .brand-certification .show-mobie{
		display: inline-block;
	}
	.wrap-infor-product .sidebar-content .brand-certification .show-tablet{
		display: none;
	}
	.banner-product .title-product h1{
    	font-size:19px;
    }
    .banner-product .title-product .sku-product{
    	font-size:12px;
    }
    .catalog-product-view.page-layout-2columns-right .column.main .product-info-main .wrap-infor-product .desc-product p,.catalog-product-view.page-layout-2columns-right .column.main .product-info-main .wrap-infor-product .infor-contact p{
    	font-size:12px!important;
    }
    .catalog-product-view.page-layout-2columns-right .column.main .product-info-main .wrap-infor-product .infor-contact p span,.wrap-infor-product .sidebar-content .contact .legend{
    	font-size: 19px;
    }
    .catalog-product-view .wrap-infor-product .sidebar-content .fieldset{
    	width:100%;
    }
    .wrap-infor-product .sidebar-content .contact .content-right{
    	padding-left:0px;
    	padding-top: 0px;
    	width:100%;
    }
    /*.wrap-infor-product .sidebar-content .contact .control.industry,.wrap-infor-product .sidebar-content .contact .control.telephone{
    	padding-bottom: 0px;
    }*/
    .new-block-attach .downloads h3{
    	font-size:15px;
    }
    .block.related .block-title #block-related-heading{
    	font-size:19px;
    }
    .products-grid .product-item .product-item-info .consumption, .products-grid .product-item .product-item-details .product-item-name .product-item-link{
    	font-size:12px;
    }
}
@media only screen and (max-width : 400px) {

    .catalog-product-view .product-info-main .field select, .catalog-product-view .product-info-main .field.required select{
    	font-size:13px;
    }
}

.bundle-option-multi {
    border: 1px solid #27a7de;
    border-radius: 3px;
    padding: 0px !important;
    margin: 10px 0;
}

.bundle-option-multi .col-name .label img {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    width: 40px;
}

select.multiselect{
	height: 85px !important;
	line-height: 85px !important;
}