#banner-slider-demo-4 .slide1-content .content-area{
    width: calc(100% - 30px) !important;
}
@media (max-width: 1200px ) {
    #banner-slider-demo-4 .owl-stage-outer .container .content-area{
        top: 45% !important;
    }
    #banner-slider-demo-4 .owl-stage-outer .container .content-area h2{
        font-size: 7vw !important;
    }
    #banner-slider-demo-4 .owl-stage-outer .container .content-area h2 b{
        font-size: 7vw !important;
    }
    #banner-slider-demo-4 .slide1-content .content-area .text3{
        font-size: 2vw !important;
    }
}
@media (max-width: 768px) {
    #banner-slider-demo-4 .slide1-content .content-area .text3{
        font-size: 2.5vw !important;
    }
}

@media (max-width: 576px) {
    #banner-slider-demo-4 .owl-stage-outer .container .content-area h2{
        font-size: 9vw !important;
        font-weight: bold !important;
    }
    #banner-slider-demo-4 .owl-stage-outer .container .content-area h2 b{
        font-size: 9vw !important;
        font-weight: 600 !important;
    }
    #banner-slider-demo-4 .slide1-content .content-area .text3{
        font-size: 4vw !important;
    }
}