<?php $total = $block->getTotalOfOrders() ?>
<?php $credit_limit = $block->getCreditLimit() ?>


<?php // echo get_class($this); ?>
<div class="creditlimit_total">
<h2 class="sub-title"><?php echo $block->escapeHtml(__('Total Credit Limit')); ?></h2>
<?php echo $block->escapeHtml(__('Your total credit limit is: ')); ?>
<?php echo $this->helper(
    'Magento\Framework\Pricing\Helper\Data'
)->currency($credit_limit, true, false); ?>
</div>
<br/>
<div class="creditlimit_used">
<h2 class="sub-title"><?php echo $block->escapeHtml(__('Used Credit Limit')); ?></h2>
<?php echo $block->escapeHtml(__('Your used credit limit is: ')); ?>
<?php echo $this->helper(
    'Magento\Framework\Pricing\Helper\Data'
)->currency($total, true, false); ?>
</div>
<br/>
<div class="creditlimit_available">
<h2 class="sub-title"><?php echo $block->escapeHtml(__('Available Credit Limit')); ?></h2>
<?php echo $block->escapeHtml(__('Your available credit limit is: ')); ?>
<?php
    $credit_left = $credit_limit - $total;
    $credit_left = ($credit_left > 0)? $credit_left : 0;
?> 
<?php echo $this->helper(
	'Magento\Framework\Pricing\Helper\Data')->currency($credit_left, true, false); ?>
</div>
<br/>
