<?php $_objectManager = \Magento\Framework\App\ObjectManager::getInstance(); //instance of\Magento\Framework\App\ObjectManager
$storeManager = $_objectManager->get('Magento\Store\Model\StoreManagerInterface');
$currentStore = $storeManager->getStore();
$media_url = $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
$store_url = $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);
?>
<div class="home-slider" style="padding: 15px 0 15px;">
    <div class="container">
        <div class="slider-with-side">  
        <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('slider-homepage')->toHtml();?> 

        </div>
        <script type="text/javascript" xml="space">// <![CDATA[
            require([
                'jquery'
            ],function ($) {
                $(document).ready(function () {
                    $('.section-root .choose-by-base .vg-icon').click(function () {
                        $('.section-root').css('left', '970px');
                        $('.section-base').css('left', '0px');
                        $('.block-lighting-selector .start-here').css('display', 'none');
                        $('.block-lighting-selector .start-again').css('display', 'inline-block');
                        $('.block-lighting-selector .selector-left').css('padding', '24px 20px 22px 80px');
                    });
                    $('.section-root .choose-by-shape .vg-icon').click(function () {
                        $('.section-root').css('left', '970px');
                        $('.section-shape').css('left', '0px');
                        $('.block-lighting-selector .start-here').css('display', 'none');
                        $('.block-lighting-selector .start-again').css('display', 'inline-block');
                        $('.block-lighting-selector .selector-left').css('padding', '24px 20px 22px 80px');
                    });
                    $('.section-root .choose-by-room .vg-icon').click(function () {
                        $('.section-root').css('left', '970px');
                        $('.section-room').css('left', '0px');
                        $('.block-lighting-selector .start-here').css('display', 'none');
                        $('.block-lighting-selector .start-again').css('display', 'inline-block');
                        $('.block-lighting-selector .selector-left').css('padding', '24px 20px 22px 80px');
                    });
                    $('.block-lighting-selector .selector-left').click(function () {
                        $('.section-root').css('left', '0px');
                        $('.section-base').css('left', '-110%');
                        $('.section-shape').css('left', '-110%');
                        $('.section-room').css('left', '-110%');
                        $('.block-lighting-selector .start-here').css('display', 'inline-block');
                        $('.block-lighting-selector .start-again').css('display', 'none');
                        $('.block-lighting-selector .selector-left').css('padding', '24px 40px 22px 20px');
                    });
                })
            });

            // ]]></script>
    </div>
</div>
<?php 
    echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('warranty-advice')->toHtml();
?>
