<?php $_objectManager = \Magento\Framework\App\ObjectManager::getInstance(); //instance of\Magento\Framework\App\ObjectManager
$storeManager = $_objectManager->get('Magento\Store\Model\StoreManagerInterface');
$currentStore = $storeManager->getStore();
$media_url = $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
$store_url = $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);
?>
<div class="container">
    <div class="row" style="margin-top: 40px;">
        <div class="col-md-9 col-sm-8 tablet-full">
            <div class="filterproducts-tab" style="padding-top: 25px;">
                <div class="data items" data-mage-init='{"tabs":{"openedState":"active"}}'>
                    <div class="data item title" aria-labeledby="tab-label-featured-title" data-role="collapsible" id="tab-label-featured">
                        <a id="tab-label-featured-title" class="data switch" tabindex="-1" href="#featured" data-toggle="switch">Featured</a>
                    </div>
                    <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('featured_product_ledlights')->toHtml() ?>
                    <div class="data item title" aria-labeledby="tab-label-latest-title" data-role="collapsible" id="tab-label-latest">
                        <a id="tab-label-latest-title" class="data switch" tabindex="-1" href="#latest" data-toggle="switch">Latest</a>
                    </div>
                    <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('latest_product_ledlights')->toHtml() ?>
                </div>
            </div>
            <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('ledlight-footer')->toHtml() ?>
        </div>
        <div class="col-md-3 col-sm-4 sidebar">
            <div class="custom-block" style="padding-bottom: 0; margin-bottom: 0;">
                <div class="block block-border block-category-nav">
                    <div class="block-title">Category</div>
                    <div class="block-content">
                        <?php echo $this->getLayout()->createBlock('Smartwave\Porto\Block\CategoryCollection')->setTemplate('Smartwave_Porto::category_side.phtml')->toHtml() ?>
                    </div>
                </div>
            </div>
            <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('blog_home_ledlights')->toHtml() ?>
        </div>
    </div>
</div>
<div class="brands-slide" style="background-color: #ffffff; padding: 30px 0; margin-top: 100px;">
    <div class="container">
        <div class="owl-side-narrow">
            <div id="brands-slider-demo-8" class="brands-slider">
                <h2 class="filter-title"><span class="content"><strong>SOME OF OUR CLIENTS</strong></span></h2>
                <div class="owl-carousel">
                    <div class="item" style="padding-top: 10px;"><img src="<?php echo $media_url."wysiwyg/nhs_logo.jpg"?>" alt="" /></div>
                    <div class="item" style="padding-top: 10px;"><img src="<?php echo $media_url."wysiwyg/RAF_logo.jpg"?>" alt="" /></div>
                    <div class="item" style="padding-top: 10px;"><img src="<?php echo $media_url."wysiwyg/v-and-a-logo.jpg"?>" alt="" /></div>
                    <div class="item" style="padding-top: 10px;"><img src="<?php echo $media_url."wysiwyg/National-Trust-logo.jpg"?>" alt="" /></div>
                    <div class="item" style="padding-top: 10px;"><img src="<?php echo $media_url."wysiwyg/GMP-Police-Logo.jpg"?>" alt="" /></div>
                    <div class="item" style="padding-top: 10px;"><img src="<?php echo $media_url."wysiwyg/portsmouth-cc-logo.jpg"?>" alt="" /></div>
                    <div class="item" style="padding-top: 10px;"><img src="<?php echo $media_url."wysiwyg/mnh-logo.jpg"?>" alt="" /></div>
                </div>
                <script type="text/javascript" xml="space">
                    require([
                        'jquery',
                        'owl.carousel/owl.carousel'
                    ], function ($) {
                        $(document).ready(function () {
                            $("#brands-slider-demo-8 .owl-carousel").owlCarousel({
                                autoplay: true,
                                autoplayTimeout: 5000,
                                autoplayHoverPause: true,
                                margin: 30,
                                nav: true,
                                navText: ["<em class='porto-icon-chevron-left'></em>","<em class='porto-icon-chevron-right'></em>"],
                                dots: false,
                                loop: true,
                                responsive: {
                                    0: {
                                        items:2
                                    },
                                    640: {
                                        items:3
                                    },
                                    768: {
                                        items:4
                                    },
                                    992: {
                                        items:5
                                    },
                                    1200: {
                                        items:5
                                    }
                                }
                            });
                        });
                    });

                </script>
            </div>
        </div>
    </div>
</div>