<div class="banner banner-product">
	<?php echo $block->getChildHtml("banner-product");?>
	<div class="banner-content container">
		
		<div class="category-button">
			<?php  echo $block->getChildHtml("category_button");?>	
		</div>
	</div>
	<?php echo $block->getChildHtml("product.info.sku.top");?>
	
</div>