<?php
    $_helper = $this->helper('Magento\Catalog\Helper\Output');
    $_product = $block->getProduct();

?>
<div class="title-product">
		<h1><?php echo $_product->getName();?></h1>
        <div class="sku-product">
        	<?php echo $_product->getSku();?>  
        </div>
</div>