<?php 
	$energy = $block->getCurrentCategory()->getCaseStudyEnergy();
	$payback = $block->getCurrentCategory()->getCaseStudyPayback();
	$lifetime = $block->getCurrentCategory()->getCaseStudyLifetime();
?>
<div class="container">
<div class="block-content">
	<div class="item energy">
		<div class="wrap-items">
			<?php if($energy):?>
				<div class="title energy-saving">
					<?php echo $this->helper('Magento\Catalog\Helper\Output')->categoryAttribute($block->getCurrentCategory(), $energy, 'case_study_energy'); ?>
				</div>
			<?php endif;?>
			<span><?php echo __("ANNUAL ENERGY SAVINGS");?></span>
		</div>
	</div>
	<div class="item payback">
		<div class="wrap-items">
			<?php if($payback):?>
				<div class="title payback-saving">
					<?php echo $this->helper('Magento\Catalog\Helper\Output')->categoryAttribute($block->getCurrentCategory(), $payback, 'case_study_payback'); ?>
				</div>
			<?php endif;?>
			<span><?php echo __("PAYBACK");?></span>
		</div>
	</div>
	<div class="item lifetime">
		<div class="wrap-items">
			<?php if($lifetime):?>
				<div class="title lifetime-saving">
					<?php echo $this->helper('Magento\Catalog\Helper\Output')->categoryAttribute($block->getCurrentCategory(), $lifetime, 'case_study_lifetime'); ?>
				</div>
			<?php endif;?>
			<span><?php echo __("LIFETIME SAVINGS");?></span>
		</div>
	</div>
	</div>
</div>
