<?php
    $_helper = $this->helper('Magento\Catalog\Helper\Output');
    $_product = $block->getProduct();
    $columns = "col-md-4 col-md-4 col-xs-4 col-sm-4 col-lg-4";
?>
<?php if(!$_product->getConsumption()|| !$_product->getLumens()|| !$_product->getLife()):
		  $columns = "col-md-6 col-md-6 col-xs-6 col-sm-6 col-lg-6";?>
		  <?php endif;?>
<?php	if((!$_product->getConsumption() && !$_product->getLumens()) || (!$_product->getConsumption() && !$_product->getLife()) ||(!$_product->getLumens() && !$_product->getLife())):
		  $columns = "col-lg-12 col-md-12 col-xs-12 col-sm-12 col-lg-12";		  
?>
<?php endif;?>	
<div class="wrap-infor-product">
	<!-- <div class="attribute-product">
		<div class="container">
			<div class="row">
				<?php if($_product->getConsumption()):?>
				<div class="<?php echo  $columns ?>"><p class="watt"><span><?php echo $_product->getConsumption();?></span></p></div>
				<?php endif;?>
				<?php if($_product->getLumens()):?>
				<div class="<?php echo  $columns ?>"><p class="lumens"><span><?php echo $_product->getLumens();?></span></p></div>
				<?php endif;?>
				<?php if($_product->getLife()):?>
				<div class="<?php echo  $columns ?>"><p class="life"><span><?php echo $_product->getLife();?></span></p></div>
				<?php endif;?>
			</div>
		</div>
	</div> -->
	<?php if($_product->getDescription()):?>
	<div class="desc-product">
		<?php echo $_product->getDescription(); ?>
	</div>
	<?php endif;?>
	<?php echo $this->getChildHtml("contact_infor");?>
	<?php echo $this->getChildHtml("product.info.details.right");?>
	<?php echo $this->getChildHtml("product_view_custom_block");?>
</div>
