/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
.wrap-attr-product{
    border:1px solid #7d7d7d;
    border-bottom: none;
    border-radius:5px;
    margin-bottom: 10px;
    position: relative;
}
.wrap-attr-product .fa-angle-down,.wrap-attr-product .fa-angle-up{
    position: absolute;
    top:50%;
    right: 20px;
    margin-top:-10px;
    font-size:20px;
}
.swatch-attribute-options{
    padding: 0px 10px 10px 35px;
}
.swatch-attribute-label {
    font-weight: bold;
    position: relative;
    padding:15px;
    border-bottom:1px solid #7d7d7d;
    background: #eee;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color:#242021;
       
}
.wrap-attr-product.open{
    border-bottom:1px solid #7d7d7d;
}
.swatch-attribute{
    display: none;
}
.swatch-attribute.open{
    display: block;
}
.swatch-attribute-label.required {
    padding-right: 10px;
}

.swatch-attribute-label[data-required="1"]:after {
    content: '*';
    color: red;
    position: absolute;
    right: -11px;
    top: -2px;
    font-weight: bold;
    font-size: 1em;
}

.swatch-attribute-selected-option {
    color: #646464;
    padding-left: 17px;
}

.swatch-option {
    width: 104px;
    padding: 1px 2px;
    min-width: 60px;
    max-width: 104px;
    height: 104px;
    float: left;
    margin: 10px 10px 0px 0px;
    text-align: center;
    cursor: pointer;
    position: relative;
    border: 1px solid rgb(218, 218, 218);
    overflow: hidden;
    text-overflow: ellipsis;
}
.swatch-option .wrap-position-label{
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 7px;
    font-weight: 600;
    color:#242021;
}
.swatch-option.text {
    background: #F0F0F0;
    color: #686868;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    padding: 4px 8px;
    min-width: 22px;
    margin-right: 7px;
}
.swatch-option.text.selected {
    background-color: #FFF !important;
}

.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.swatch-attribute.size .swatch-option, .swatch-attribute.manufacturer .swatch-option {
    background: rgb(240, 240, 240);
    color: rgb(148, 148, 148);
}

.swatch-attribute.size .swatch-option.selected, .swatch-attribute.manufacturer .swatch-option.selected {
    color: black;
    background: #fff;
    border: 1px solid #fff;
}

.swatch-option:not(.disabled):hover {
    outline: 1px solid #999;
    border: 1px solid #fff;
    color: #333;
}

.swatch-option.image:not(.disabled):hover,
.swatch-option.color:not(.disabled):hover {
    opacity: 0.7;
    outline: none;
}

.swatch-option.disabled {
    cursor: default;
}

.swatch-option.disabled:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    background: -moz-linear-gradient(to left top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 42%, rgba(255,255,255,1) 43%, rgba(255,255,255,1) 46%, rgba(255,82,22,1) 47%, rgba(255,82,22,1) 53%, rgba(255,255,255,1) 54%, rgba(255,255,255,1) 57%, rgba(255,255,255,0) 58%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(42%,rgba(255,255,255,0)), color-stop(43%,rgba(255,255,255,1)), color-stop(46%,rgba(255,255,255,1)), color-stop(47%,rgba(255,82,22,1)), color-stop(53%,rgba(255,82,22,1)), color-stop(54%,rgba(255,255,255,1)), color-stop(57%,rgba(255,255,255,1)), color-stop(58%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(to left top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 42%,rgba(255,255,255,1) 43%,rgba(255,255,255,1) 46%,rgba(255,82,22,1) 47%,rgba(255,82,22,1) 53%,rgba(255,255,255,1) 54%,rgba(255,255,255,1) 57%,rgba(255,255,255,0) 58%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(to left top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 42%,rgba(255,255,255,1) 43%,rgba(255,255,255,1) 46%,rgba(255,82,22,1) 47%,rgba(255,82,22,1) 53%,rgba(255,255,255,1) 54%,rgba(255,255,255,1) 57%,rgba(255,255,255,0) 58%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(to left top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 42%,rgba(255,255,255,1) 43%,rgba(255,255,255,1) 46%,rgba(255,82,22,1) 47%,rgba(255,82,22,1) 53%,rgba(255,255,255,1) 54%,rgba(255,255,255,1) 57%,rgba(255,255,255,0) 58%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to left top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 42%,rgba(255,255,255,1) 43%,rgba(255,255,255,1) 46%,rgba(255,82,22,1) 47%,rgba(255,82,22,1) 53%,rgba(255,255,255,1) 54%,rgba(255,255,255,1) 57%,rgba(255,255,255,0) 58%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
}

.swatch-option-tooltip {
    max-width: 140px;
    /*max-height: 160px;*/
    max-height: 100%;
    min-height: 20px;
    min-width: 20px;
    position: absolute;
    padding: 5px;
    background: #fff;
    color: rgb(148, 148, 148);
    border: 1px solid #adadad;
    display: none!important;
    z-index: 999;
    text-align: center;
}

.swatch-option-tooltip .corner,
.swatch-option-tooltip-layered .corner {
    left: 40%;
    position: absolute;
    bottom: 0;
    height: 8px;
}

.swatch-option-tooltip .corner:after,
.swatch-option-tooltip-layered .corner:after {
    content: '';
    position: relative;
    top: 1px;
    left: -15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 7.5px 0 7.5px;
    border-color: #fff transparent transparent transparent;
    font-size: 1px;
}

.swatch-option-tooltip .corner:before,
.swatch-option-tooltip-layered .corner:before {
    content: '';
    position: relative;
    top: 2px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8.5px 0 8.5px;
    border-color: #adadad transparent transparent transparent;
    font-size: 1px;
}

.swatch-option-tooltip .image,
.swatch-option-tooltip-layered .image {
    display: block;
    height: 130px;
    width: 130px;
    /*margin: 0 0 5px;*/
    margin: 0 auto;
}

.swatch-option-tooltip .title {
    max-width: 140px;
    min-height: 20px;
    max-height: 200px;
    color: rgb(40, 40, 40);
    text-align: center;
    display: block;
    overflow: hidden;
}

.swatch-opt {
    margin: 20px 0;
}

.swatch-more {
    display: inline-block;
    margin: 2px 0;
    text-decoration: none !important;
    position: static;
    z-index: 1;
}

/* Layered Features */
.swatch-option-link-layered {
    position: relative;
    margin: 0 !important;
    padding: 0 !important;
}

.swatch-option-link-layered:focus > div {
    box-shadow: 0 0 3px 1px #68a8e0;
}

.swatch-option-tooltip-layered {
    width: 140px;
    position: absolute;
    background: #fff;
    color: rgb(148, 148, 148);
    border: 1px solid #adadad;
    display: none;
    z-index: 999;
    left: -47px;
}

.swatch-visual-tooltip-layered {
    height: 160px;
    top: -170px;
}

.swatch-textual-tooltip-layered {
    height: 30px;
    top: -40px;
}

/*.swatch-option-link-layered:hover > .swatch-option-tooltip-layered {
    display: block;
}*/

.swatch-attribute-options .swatch-option-tooltip-layered .title {
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: -5px;
    left: 0;
    color: rgb(40, 40, 40);
    text-align: center;
    margin-bottom: 10px;
}

.swatch-option-disabled:after {
    content: '';
    position: absolute;
    width: 42px;
    height: 2px;
    background: red;
    transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    z-index: 995;
    left: -4px;
    top: 10px;
}

.swatch-option-disabled {
    outline: none !important;
    cursor: default;
    border: 0;
}

/* Bugfix for Add To Cart button */
.swatch-opt-listing {
    margin-bottom: 10px;
}

.swatch-option-loading {
    content: url("../images/loader-2.gif");
}

.swatch-input {
    left: -1000px;
    position: absolute;
    visibility: hidden;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.wrap-header-option{
    background: #414042;
    position: relative;
    height: 50px;
    line-height: 50px;
    padding:0px 25px;
    margin-bottom: 10px;
    border-radius: 5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}
.wrap-header-option .extra-info{
    position: absolute;
    right: 25px;
    top: 0px;
}
.wrap-header-option .extra-info a{
   display: inline-block;
   padding:0px 7px;
}
.wrap-header-option .extra-info a.click-question{
    cursor: help;
}
.wrap-header-option .wrap-info-help{
    display: none;
    position: absolute;
    z-index: 9;
    border:5px solid #414042;
    background: #fff;
    width: 320px;
    padding: 25px;
    padding-bottom: 10px;
    line-height: 22px;
    right:-40px;
    top:120%;
    
}
.wrap-header-option .wrap-info-help .close-popup{
    position: absolute;
    right: 15px;
    top: 10px;
    border:1px solid #a3a5a8;
    cursor: pointer;
}
.wrap-header-option .wrap-info-help .close-popup i{
    color:#a3a5a8;
    padding-top:4px;
    display: inline-block;
    font-size:20px;
}
.wrap-header-option .wrap-info-help h4{
    font-size:18px;
    color:#a3a5a8;
    margin-bottom: 20px;
}

.wrap-header-option .wrap-info-help p{
    font-size:16px;
    margin-bottom: 25px;
}
.wrap-header-option i,.wrap-header-option span{
    color: #fff;
    font-size:18px;
}
.wrap-header-option .wrap-refresh,.wrap-header-option .wrap-question {
    display: inline-block;
}
.wrap-header-option .wrap-refresh .tooltip-restart{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 125%;
    right:-25px;
    transition: all 0.3s;
    color: #414042;
     background: #eee;
    min-width:212px;
    padding: 0px 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    line-height: 40px;
    font-size: 16px;
    
}
.wrap-header-option .wrap-refresh .tooltip-restart:after{
    content:'';
    position: absolute;
    display: inline-block;
    border-style: solid;
    border-color: #eee transparent transparent transparent;
    border-width: 7px;
    top: 100%;
    right: 62px;   
}

.wrap-header-option .wrap-refresh:hover .tooltip-restart{
    opacity: 1;
    visibility: visible;
    
}
.wrap-attr-product .option-begin{
    display: none;
}
.wrap-attr-product.open .option-begin{
    display: block;
    position: absolute;
    right: 102%;
    top: 50%;
    width: 163px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius:  5px;
    background: #eee;
    transform: translateY(-50%);
    z-index: 9;
    font-size:16px;
}
.wrap-attr-product.open .option-begin:after{
    content:'';
    position: absolute;
    display: inline-block;
    border-style: solid;
    border-color:  transparent transparent transparent #eee;
    border-width: 7px;
    left: 100%;
    top:50%; 
    transform: translateY(-50%);  
}
.select-option-success{
    display: none;
    border:1px solid #7d7d7d;
    background: #eee url('../images/tick-select.png') 98% center  no-repeat;
    padding:10px 45px 10px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.select-option-success p{
    font-size:16px;
    letter-spacing: 1.5px;
    margin:0px;
}

@media only screen and (max-width: 1200px) {
    .swatch-attribute-options{
        padding: 0px 10px 10px 10px;
    }
    .wrap-header-option .wrap-info-help{
        right: 40px;
    }
}
@media only screen and (max-width: 992px) {
   .wrap-attr-product.open .option-begin{
        display: none;
   }
}


@media only screen and (max-width: 479px) {
    .wrap-header-option .wrap-info-help{
        right: 0px;
    }
}