<!-- ToDo: move to styles.css -->
<style type="text/css">

    #snize_container .nav {
        display: block;
    }
    #snize_container.snize .hidden {
        visibility: initial;
    }

</style>

<?php 

    // ToDo: move to 'Controller/Block'
    $ApiSeHelper = $this->helper('Searchanise\SearchAutocomplete\Helper\ApiSe');

?>
<div id="searchanise-settings-wrapper">
<div class="snize" id="snize_container"></div>

<?php
    $searchaniseOptions = $ApiSeHelper->getAddonOptions();

    $searchaniseOptions['options_link'] = $this->getUrl($ApiSeHelper->getOptionsLink());
    $searchaniseOptions['re_sync_link'] = $this->getUrl($ApiSeHelper->getReSyncLink());
    $searchaniseOptions['connect_link'] = $this->getUrl($ApiSeHelper->getConnectLink());

    $seServiceUrl = $ApiSeHelper->getServiceUrl(false);
?>

<script type="text/javascript">
//<![CDATA[
    SearchaniseAdmin = {};

    SearchaniseAdmin.host        = '<?php echo $seServiceUrl;?>';
    SearchaniseAdmin.PrivateKey  = '<?php echo $searchaniseOptions['parent_private_key'];?>';
    SearchaniseAdmin.OptionsLink = '<?php echo $searchaniseOptions['options_link'];?>';
    SearchaniseAdmin.ReSyncLink  = '<?php echo $searchaniseOptions['re_sync_link'];?>';
    SearchaniseAdmin.LastRequest = '<?php echo $searchaniseOptions['last_request'];?>';
    SearchaniseAdmin.LastResync  = '<?php echo $searchaniseOptions['last_resync'];?>';
    SearchaniseAdmin.ConnectLink = '<?php echo $searchaniseOptions['connect_link'];?>';
    SearchaniseAdmin.ShowResultsControlPanel = true;

    SearchaniseAdmin.AddonStatus = '<?php echo $searchaniseOptions['addon_status'];?>';
    SearchaniseAdmin.AddonVersion = '<?php echo $searchaniseOptions['addon_version'];?>';

    SearchaniseAdmin.Platform = 'magento2';
    SearchaniseAdmin.PlatformEdition = '<?php echo $searchaniseOptions['core_edition'];?>';
    SearchaniseAdmin.PlatformVersion = '<?php echo $searchaniseOptions['core_version'];?>';
    
    SearchaniseAdmin.Engines = [];
    
    <?php
        if (!empty($searchaniseOptions['parent_private_key'])) {
            $stores = $ApiSeHelper->getStores();
            
            if (!empty($stores)) {
                foreach($stores as $keyStore => $store) {
                    $priceFormat = $ApiSeHelper->getPriceFormat($store);
                    $privateKey = $searchaniseOptions['private_key'][$store->getId()];
                    $exportStatus = empty($searchaniseOptions['export_status'][$store->getId()]) ? 'none' : $searchaniseOptions['export_status'][$store->getId()];
                    $priceFormat['after'] = $priceFormat['after'] ? 'true' : 'false';

                    echo 'SearchaniseAdmin.Engines.push({';
                        echo 'Name:"' . addslashes($store->getName()) . '",';
                        echo "PrivateKey:   '{$privateKey}',";
                        echo "LangCode:     '{$store->getCode()}',";
                        echo "ExportStatus: '{$exportStatus}',";
                        echo 'PriceFormat: {';
                            echo "decimals_separator:  '" . addslashes($priceFormat['decimals_separator'])  . "',";
                            echo "thousands_separator: '" . addslashes($priceFormat['thousands_separator']) . "',";
                            echo 'symbol:              "' . addslashes($priceFormat['symbol']) . '",';
                            
                            echo "decimals: '{$priceFormat['decimals']}',";
                            echo "rate:     '{$priceFormat['rate']}',";
                            echo "after:     {$priceFormat['after']}";
                        echo '}';
                    echo '});';
                }
            }
        }
    ?>
//]]>
</script>

<script type="text/javascript" src="<?php echo $seServiceUrl;?>/js/init.js"></script>

</div>

