<header id="header">
    <span class="action menu-toggle"><i></i><i></i><i></i></span>
    <?php  $menu_header = $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('fidelity-menu-header');
        echo $menu_header->toHtml();
    ?>
    <div class="logo-header">
         <?php echo $this->getChildHtml("logo");?>
    </div>
   
</header>