<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');

?>
<?php echo $this->getChildHtml('popup'); ?>
 <nav class="c-navigation bg-middle-header" role="navigation">
        <div class="container-fluid o-wrapper">
            <div class="c-navigation__home">
                    <?php echo $this->getChildHtml("logo"); ?>
                <!--Search Form-->
                <div id="navigation-search-form" class="c-navigation__search collapse">
                    <?php echo $this->getChildHtml('topSearch') ?>
                </div>
                 <div class="c-navigation__toolbar-right show-tool-cart">
                    <?php //echo $this->getChildHtml('contact-with-us') ?>
                     <a class="c-navigation__toolbar-item toolbar-project" href=" <?php if (!$customerSession->isLoggedIn()){ echo $this->getUrl('customer/account/login/'); }else{ echo $this->getUrl('ledproject/project/summary/');} ?>">
                        <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="header-project-icon" class="c-navigation__toolbar-icon">
                            <title id="header-project-icon">project-icon</title>
                            <g fill="none" fill-rule="evenodd"><g stroke-width="2" stroke="#393f4f"><path d="M21.333 30l-4.666 1.333L18 26.667l10.003-10.003 3.333 3.333zM25.336 19.33l3.333 3.334M18 26.667L21.333 30"/></g><path stroke="#393f4f" stroke-width="2" d="M12.667 27.333h-12V.667H26v12"/><path d="M5.333 2v2-2zM6.667.667H4v4.666h2.667V.667zM10.667 2v2-2zM12 .667H9.333v4.666H12V.667zM21.333 2v2-2zM22.667.667H20v4.666h2.667V.667zM16 2v2-2zM17.333.667h-2.666v4.666h2.666V.667z" fill="#393f4f"/><g><path d="M0 0h32v32H0z"/></g></g>
                        </svg>
                        <span class="c-navigation__toolbar-label"><?php echo __('Project')?></span>
                    </a>
                        <?php echo $this->getChildHtml('minicart'); ?>
                </div>
            </div>
        </div>
    </nav>
    <nav class="c-navigation bg-navi-menu" role="navigation">
        <div class="container-fluid o-wrapper">
        <!--Main Menu-->
            <div class="c-navigation__menu menu">
                <?php echo $this->getChildHtml('main_navi_custom'); ?>
            </div>
            <!--Toolbar-->
            <div class="c-navigation__toolbar toolbar group">
                <div class="c-navigation__toolbar-left">
                    <!-- Mobile Menu Toggle -->
                    <button type="button" class="c-navigation__toolbar-item c-navigation__menu-toggle menu-toggle visible-xs-block visible-sm-block">
                        <div class="c-navigation__toolbar-icon">
                            <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="header-menu-icon">
                                <title id="header-menu-icon"><?php echo __('menu-icon')?></title>
                                <g fill="#FFF" fill-rule="evenodd"><path d="M3 7h26v2H3zM3 15h26v2H3zM3 23h26v2H3z"/></g>
                            </svg>
                        </div>
                        <span class="c-navigation__toolbar-label"><?php echo __('Menu')?></span>
                    </button>
                    <a href="javascript:void(0);" class="c-navigation__toolbar-item c-navigation__search-toggle visible-xs-block" role="button" data-toggle="collapse" href="#navigation-search-form" aria-expanded="false" aria-controls="navigation-search-form">
                        <div class="c-navigation__toolbar-icon">
                            <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="search-icon-mobile">
                                <title id="search-icon-mobile"><?php echo __('Search toggle')?></title>
                                <path d="M28.62 26.78l-7.038-7.036C22.95 17.984 23.8 15.8 23.8 13.4 23.8 7.667 19.134 3 13.4 3 7.664 3 3 7.667 3 13.4c0 5.735 4.664 10.4 10.4 10.4 2.4 0 4.58-.848 6.344-2.216l7.038 7.033c.507.507 1.33.507 1.838 0 .507-.504.507-1.328 0-1.838zM5.6 13.4c0-4.3 3.5-7.8 7.8-7.8s7.8 3.5 7.8 7.8-3.5 7.8-7.8 7.8-7.8-3.5-7.8-7.8z" fill="#FFF" fill-rule="evenodd"/>
                            </svg>
                        </div>
                        <span class="c-navigation__toolbar-label sr-only"><?php echo __('Search')?></span>
                    </a>
                    <a href="tel:+442033272931" class="call-us"><i class="icon-phone"></i></a>
                </div>
            </div>
        </div>
    </nav>