<div id="back-to-top-act" class="show"></div>
<div class="container-fluid">
<div class="row">
			<div class="col-sm-12">
			    <a class="c-footer__logo u-margin-bottom" href="<?php echo $block->getBaseUrl(); ?>">
					<svg width="207" height="38" viewBox="0 0 207 38" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="c-footer__logo-title">
						<title id="c-footer__logo-title">Light Rabbit</title>
						<g fill="none" fill-rule="evenodd"><path d="M121.324 20.352v8.398h-1.345V9.476h4.587c2.39 0 4.157.44 5.3 1.325 1.142.884 1.714 2.213 1.714 3.99 0 1.29-.34 2.38-1.02 3.268-.682.888-1.717 1.525-3.106 1.912l5.234 8.78h-1.608l-4.97-8.398h-4.786zm0-1.16h3.678c1.626 0 2.887-.363 3.784-1.088.896-.725 1.344-1.795 1.344-3.21 0-1.468-.44-2.536-1.318-3.204-.88-.668-2.312-1.002-4.298-1.002h-3.19v8.504zm24.506 2.755H138l-2.69 6.803h-1.49l7.75-19.354h.858l7.594 19.354h-1.516l-2.676-6.803zm-7.344-1.213h6.895l-2.622-6.947c-.22-.545-.483-1.3-.79-2.268-.238.843-.498 1.607-.78 2.293l-2.702 6.92zm14.79-11.258h5.287c2.382 0 4.13.404 5.247 1.212 1.116.81 1.674 2.03 1.674 3.666 0 1.116-.34 2.045-1.022 2.788-.68.743-1.676 1.22-2.986 1.43v.08c1.538.228 2.67.713 3.395 1.456.726.743 1.09 1.778 1.09 3.105 0 1.775-.59 3.142-1.768 4.1-1.178.958-2.848 1.437-5.01 1.437h-5.906V9.476zm1.345 8.582h4.246c1.81 0 3.127-.3 3.948-.903.822-.602 1.233-1.545 1.233-2.828s-.464-2.215-1.39-2.795c-.928-.58-2.31-.87-4.147-.87h-3.89v7.396zm0 1.187v8.318h4.536c3.568 0 5.352-1.45 5.352-4.35 0-2.646-1.88-3.968-5.642-3.968h-4.245zm16.11-9.77h5.285c2.382 0 4.13.405 5.248 1.213 1.116.81 1.674 2.03 1.674 3.666 0 1.116-.34 2.045-1.022 2.788-.68.743-1.676 1.22-2.986 1.43v.08c1.537.228 2.67.713 3.394 1.456.725.743 1.087 1.778 1.087 3.105 0 1.775-.587 3.142-1.765 4.1-1.178.958-2.848 1.437-5.01 1.437h-5.906V9.476zm1.344 8.583h4.245c1.81 0 3.125-.3 3.947-.903.822-.602 1.233-1.545 1.233-2.828s-.464-2.215-1.39-2.795c-.928-.58-2.31-.87-4.147-.87h-3.89v7.396zm0 1.187v8.318h4.535c3.567 0 5.35-1.45 5.35-4.35 0-2.646-1.88-3.968-5.64-3.968h-4.246zm16.108 9.505V9.476h1.344V28.75h-1.344zm12.35 0h-1.358V10.74h-6.262V9.477h13.882v1.265h-6.262v18.01z" fill="#FFF"></path><path d="M43.48 28.75V9.476h1.344v18.008h9.19v1.266H43.478zm14.38 0V9.476h1.345V28.75H57.86zm14.908-9.716h7.106v8.793c-1.863.79-3.96 1.187-6.288 1.187-3.04 0-5.373-.86-6.994-2.578-1.622-1.718-2.433-4.15-2.433-7.297 0-1.96.4-3.7 1.206-5.215.804-1.516 1.955-2.687 3.454-3.513 1.498-.827 3.22-1.24 5.16-1.24 2.102 0 3.987.387 5.657 1.16l-.54 1.213c-1.67-.773-3.402-1.16-5.195-1.16-2.54 0-4.555.785-6.045 2.354-1.49 1.567-2.234 3.683-2.234 6.346 0 2.9.707 5.083 2.122 6.546s3.494 2.195 6.236 2.195c1.777 0 3.284-.25 4.523-.75v-6.778h-5.735v-1.266zm26.43 9.716h-1.357v-9.48H86.583v9.48h-1.344V9.476h1.344v8.556h11.26V9.476h1.357V28.75zm11.007 0h-1.358V10.74h-6.262V9.477h13.882v1.265h-6.262v18.01z" fill="#FADC23"></path><path d="M11.5 10v18.75h9c3 0 7.125-2.25 7.125-6 0-1.5-.043-2.225-.375-3-1.125-2.625-4.253-3.503-4.253-3.503l5.256-6.006M19 37c9.94 0 18-8.06 18-18S28.94 1 19 1 1 9.06 1 19s8.06 18 18 18z" stroke="#FFF" stroke-width="1.5"></path></g>
						<image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="<?php echo $block->getViewFileUrl('images/lightrabbit-logo@2x.png'); ?>" src="<?php echo $block->getViewFileUrl('images/lightrabbit-logo@2x.png'); ?>" width="207" height="38" alt="Light Rabbit logo" class="logo__img hidden u-visible-no-svg"></image>
					</svg>
			    </a>
			</div>
		</div>
<div class="col-sm-12 sale-support">
	<?php if($this->getChildHtml('sale_support')):?>
    <h2 class="h2"><?php echo __('Need help?'); ?></h2>
	<?php endif;?>
    <?php echo $this->getChildHtml('sale_support');?>
</div>
<div class="row">
	<div class="c-footer c-footer__popular col-xs-12 col-sm-6 col-lg-3">
		<a class="click-dropdown hidden-desktop" href="javascript:void(0)"><i class="fa fa-angle-down"></i></a>
		<?php echo $this->getChildHtml('footer_links_2');?>
	</div>
	<div class="c-footer c-footer__help col-xs-12 col-sm-6 col-lg-3">
		<a class="click-dropdown hidden-desktop" href="javascript:void(0)"><i class="fa fa-angle-down"></i></a>
		<?php echo $this->getChildHtml('footer_links_3');?>
	</div>
	<div class="c-footer c-footer__support col-xs-12 col-sm-6 col-lg-3">
		<a class="click-dropdown hidden-desktop" href="javascript:void(0)"><i class="fa fa-angle-down"></i></a>
		<?php echo $this->getChildHtml('footer_link4');?>
	</div>
	<div class="c-footer contacts col-xs-12 col-sm-6 col-lg-3">
		<a class="click-dropdown hidden-desktop" href="javascript:void(0)"><i class="fa fa-angle-down"></i></a>
		<?php echo $this->getChildHtml('contacts');?>
		<div class="c-footer__social">
				<ul class="list-inline">
					<li>
						<a href="https://www.facebook.com/LightRabbit" target="_blank">
							<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="facebook-icon-circle">
								<title id="facebook-icon-circle">Facebook logo</title>
								<g fill="none" fill-rule="evenodd"><path d="M12 0C5.383 0 0 5.383 0 12s5.383 12 12 12 12-5.383 12-12S18.617 0 12 0zm3.595 11.5H13.5v7h-3v-7h-2v-2h2V8.336c0-1.1.352-2.82 2.65-2.82l2.35.008V7.83h-1.408c-.244 0-.592.123-.592.647V9.5h2.34l-.245 2z" fill="#FFF"/><path d="M0 0h24v24H0z"/></g>
							</svg>
						</a>
					</li>
					<li>
						<a href="https://twitter.com/light_rabbit" target="_blank">
							<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="twitter-icon-circle">
								<title id="twitter-icon-circle">Twitter logo</title>
								<g fill="none" fill-rule="evenodd"><path d="M12 0C5.383 0 0 5.383 0 12s5.383 12 12 12 12-5.383 12-12S18.617 0 12 0zm5.262 9.385c.006.113.008.226.008.34 0 3.477-2.647 7.49-7.488 7.49-1.486 0-2.87-.438-4.035-1.185 1.374.16 2.772-.207 3.897-1.09-1.15-.022-2.123-.782-2.458-1.828.397.075.803.06 1.188-.046-1.204-.24-2.11-1.305-2.11-2.58v-.034c.354.197.76.315 1.19.33-.705-.473-1.17-1.277-1.17-2.19 0-.482.13-.934.356-1.324 1.298 1.593 3.237 2.642 5.425 2.75-.045-.192-.068-.394-.068-.6 0-1.453 1.18-2.63 2.633-2.63.757 0 1.44.318 1.92.83.6-.118 1.95-.265 1.95-.265-.353.53-.724 1.66-1.238 2.032z" fill="#FFF"/><path d="M0 0h24v24H0z"/></g>
							</svg>
						</a>
					</li>
				</ul>
			</div>
	</div>
</div>

<div class="c-footer__copyright">
<?php echo $this->getChildHtml('footer_contact_info');?>
</div>
<script>
			var acc = document.getElementsByClassName("click-dropdown");
			var i;

			for (i = 0; i < acc.length; i++) {
				acc[i].onclick = function () {
					this.classList.toggle("active");
				}
			}
		</script>
</div>