<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
//$customerSession = $objectManager->get('Magento\Customer\Model\Session');
$customerSession = $objectManager->create('Magento\Customer\Model\SessionFactory')->create(); 
?>
<li class="user-login <?php if (!$customerSession->isLoggedIn()){ echo 'user-login-popup';}?>">
    <?php if (!$customerSession->isLoggedIn()): ?>
        <a class="login-btn" href="#" onclick="event.preventDefault()" data-toggle="modal" data-target="#onestepcheckout-login-popup"><i class="user-icon"></i>
            <?php echo __("Login <span class='text-muted'>/</span> Register") ?>
        </a>
    <?php else: ?>
        <a class="login-btn" href="<?php echo $this->getUrl('customer/account/') ?>">
            <span><?php echo __('My Account') ?></span><i class="user-icon user-icon-login"></i>
        </a>
    <?php endif; ?>
</li>
<li class="flag-country">
                    <!-- Language / Currency Switcher -->
                    <ul class="c-banner__country-switcher switchers">
                                

<?php
$all_store = array();
$storeManager = $objectManager->create("\Magento\Store\Model\StoreManagerInterface");
$stores = $storeManager->getStores(true, false);
foreach($stores as $store){
    $all_store[$store->getId()]['lang_code'] =  $store->getCode();
}
?>
<?php if (count($all_store) > 1): ?>
    <?php
    $current_store = $storeManager->getStore()->getCode();
    $data = array(
        'lightrabbit_en' => array(
            'title' => __('Uk store'),
            'src' => $block->getViewFileUrl('images/flags/lightrabbit_en.png'),
            'link' => 'https://www.lightrabbit.co.uk/'
        ),
        'lightrabbit_fr' => array(
            'title' => __('French store'),
            'src' => $block->getViewFileUrl('images/flags/lightrabbit_fr.png'),
            'link' => 'https://www.lightrabbit.fr/'
        ),
        'lightrabbit_de' => array(
            'title' => __('German store'),
            'src' => $block->getViewFileUrl('images/flags/lightrabbit_de.png'),
            'link' => 'https://www.lightrabbit.de/'
        ),
        'lightrabbit_ie' => array(
            'title' => __('Irish store'),
            'src' => $block->getViewFileUrl('images/flags/lightrabbit_ie.png'),
            'link' => 'https://www.lightrabbit.ie/'
        ),
        'lightrabbit_es' => array(
            'title' => __('Spain store'),
            'src' => $block->getViewFileUrl('images/flags/lightrabbit_es.png'),
            'link' => 'https://www.lightrabbit.es/'
        ),
        'lightrabbit_us' => array(
            'title' => __('USA store'),
            'src' => $block->getViewFileUrl('images/flags/lightrabbit_us.png'),
            'link' => 'https://www.lightrabbitusa.com/'
        ),
        'lightrabbit_it' => array(
            'title' => __('Italia store'),
            'src' => $block->getViewFileUrl('images/flags/lightrabbit_it.png'),
            'link' => 'https://www.lightrabbit.it/'
        )
    );
    ?>
    <li>
        <img src="<?php echo $data[$current_store]['src'] ?>"/>
    </li>
<?php endif; ?>
</ul>
</li>