<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 
$FormKey = $objectManager->get('Magento\Framework\Data\Form\FormKey'); 
?>
<input name="form_key" type="hidden" value="<?php echo $FormKey->getFormKey();?>">
<div class="modal fade in" id="onestepcheckout-login-popup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                    <h2><?php echo __('Login or ');?><a href="<?php echo $this->getUrl('customer/account/create')?>"><?php echo __('Register');?></a></h2>                   
				<div class="social-login social-login-container">
					    <?php echo $this->getChildHtml('social_login'); ?>
                </div>
    </div>
            <div class="modal-body" id="onestepcheckout-login-popup-contents-login"> 
                <form class="login-form" id="onestepcheckout-login-form" method="post" novalidate="novalidate" action="<?php echo $this->getUrl('customer/account/loginPost')?>">
                <input name="form_key" type="hidden" value="<?php echo $block->getFormKey();?>">
                    <div id="onestepcheckout-login-loading" style="display: none;" class="loading-ajax-login">&nbsp;</div>
                    <div id="onestepcheckout-login-error" class="onestepcheckout-error" style="display: none;">&nbsp;</div>
                    <div id="onestepcheckout-login-table">
                        <div class="form-group group">
                            <label for="id_onestepcheckout_username"><?php echo __('Email');?></label>
                         <input name="login[username]" value="" autocomplete="off" id="email" type="email" class="input-text form-control required required-entry" title="Email" >
                            <!--a class="help-link" href="#"></a-->
                        </div>
                        <div class="form-group group">
                            <label for="id_onestepcheckout_password"><?php echo __('Password');?></label>
                            <input name="login[password]" type="password" autocomplete="off" class="input-text form-control required required-entry" id="pass" title="Password" >
                            <a class="help-link" href="<?php echo $this->getUrl('customer/account/forgotpassword') ?>"><?php echo __('Forgotten your password?');?></a>
                        </div>

                    </div>
                        <button type="button" class="btn btn-success" title="Login" name="send" id="onestepcheckout-login-button"><?php echo __('Login');?></button>				

                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<script type="text/javascript">

require([
    'jquery',
    'mage/mage'
], function($){

    var dataForm = $('#onestepcheckout-login-form');
    var ignore = null;

    dataForm.mage('validation', {
            ignore: ignore ? ':hidden:not(' + ignore + ')' : ':hidden'
        }).find('input:text').attr('autocomplete', 'off');

});

</script>