<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 @author : jordan
 */
?>
<script type="text/javascript">
require([
        'jquery',
        'jquery/jquery.cookie',
        'fancybox'
    ], function ($) {
        $(document).ready(function(){
                var check_cookie = $.cookie('stop_website_popup');
                if(window.location!=window.parent.location){
                    $('#stop_website_popup').remove();
                } else {
                    if(check_cookie == null || check_cookie == 'shown') {
                        setTimeout(function(){
                            beginStopWebsiteForm();
                        }, 1500);
                    }
                    $('#stop_website_popup_dont_show_again').on('click', function(){
                        if($(this).length){        
                            var check_cookie = $.cookie('stop_website_popup');
                            if(check_cookie == null || check_cookie == 'shown') {
                                $.cookie('stop_website_popup','dontshowitagain');            
                            }
                            else
                            {
                                $.cookie('stop_website_popup','shown');
                                beginStopWebsiteForm();
                            }
                        } else {
                            $.cookie('stop_website_popup','shown');
                        }
                    });
                }

        });
        
        function beginStopWebsiteForm() {
            $.fancybox({
                'padding': '0px',
                'autoScale': true,
                'transitionIn': 'fade',
                'transitionOut': 'fade',
                'type': 'inline',
                'href': '#stop_website_popup',
                'onComplete': function() {
                    $.cookie('stop_website_popup', 'shown');
                },
                'tpl': { 
                    closeBtn: '<a title="Close" class="fancybox-item fancybox-close fancybox-block-close" href="javascript:;"></a>' 
                },
                'helpers': {
                    overlay: {
                        locked: false
                    }
                }
            });
            $('#stop_website_popup').trigger('click');
        }
});
</script>
<style type="text/css">
@media only screen and (min-width : 320px) {
    #stop_website_popup{
        width: 100%;
        padding: 15px;
        text-align: center;
    }
    #stop_website_popup h2 {
        font-weight: 600;
        color: #009de0;
        font-size: 28px;
        line-height: 47px;
        margin: 0;
        font-family: "Open Sans";
    }
    #stop_website_popup p{ font-size:15px;color:#000; }
    #stop_website_popup .field.block .control{
        position: relative;
    }
    #stop_website_popup .bottom{
       color: #27a6dd;
    }
    #stop_website_popup .bottom label{
        vertical-align: middle;
    }
}
@media only screen and (max-width : 480px) {
    #stop_website_popup h2 {
        font-size: 20px;
        line-height: 30px;
    }
     #stop_website_popup p{
        font-size: 14px;
    }
}
@media only screen and (min-width : 1200px) {
    #stop_website_popup h2 {
        font-size: 42px;
    }
    #stop_website_popup{
        width: 670px;
    }
    #stop_website_popup p{ font-size:18px; }
}
</style>
<div class="block" id="stop_website_popup" style="display: none;">
    <div class="block-content">
        <h2><?php echo __("This website is now closed");?></h2>
        <p><?php echo __("Led Supplies (UK) Limited has ceased trading");?></p>
        <div class="bottom">
            <input type="checkbox" id="stop_website_popup_dont_show_again"/>
            <label for="stop_website_popup_dont_show_again"><?php echo __("Don't show this popup again"); ?></label>
        </div>
    </div>
</div>
