/** AQUA **/
.gallery-widget.gallery-skin-aqua .block-content {
    border-bottom-color: #00FFFF !important
}

.gallery-widget.gallery-skin-aqua .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover {
    background-color: #00b3b3 !important
}

.gallery-widget.gallery-skin-aqua .block-title strong, .gallery-widget.gallery-skin-aqua .lgl-item-cat a:hover, .gallery-widget.gallery-skin-aqua .lgl-items .lgl-item .lgl-item-title a:hover {
    color: #00FFFF !important
}
.gallery-block .owl-theme .owl-dots .owl-dot:hover span,
.gallery-widget.gallery-skin-aqua .lgl-items .lgl-item .lgl-item-media .lgl-item-link, .gallery-widget.gallery-skin-aqua .owl-theme .owl-dots .owl-dot.active span {
    background-color: #00FFFF !important
}

.gallery-widget.gallery-skin-aqua .owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #00FFFF !important
}

/** CORAL **/
.gallery-widget.gallery-skin-coral .block-content {
    border-bottom-color: #FF7F50 !important
}

.gallery-widget.gallery-skin-coral .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover {
    background-color: #ff571a !important
}

.gallery-widget.gallery-skin-coral .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover a {
    color: #FFF !important
}

.gallery-widget.gallery-skin-coral .block-title strong, .gallery-widget.gallery-skin-coral .lgl-item-cat a:hover, .gallery-widget.gallery-skin-coral .lgl-items .lgl-item .lgl-item-title a:hover {
    color: #FF7F50 !important
}

.gallery-block .owl-theme .owl-dots .owl-dot:hover span,
.gallery-widget.gallery-skin-coral .lgl-items .lgl-item .lgl-item-media .lgl-item-link, .gallery-widget.gallery-skin-coral .owl-theme .owl-dots .owl-dot.active span {
    background-color: #FF7F50 !important
}

.gallery-widget.gallery-skin-coral .owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #FF7F50 !important
}

/** GREEN **/
.gallery-widget.gallery-skin-green .block-content {
    border-bottom-color: #008000 !important
}

.gallery-widget.gallery-skin-green .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover {
    background-color: #003300 !important
}

.gallery-widget.gallery-skin-green .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover a {
    color: #FFF !important
}

.gallery-widget.gallery-skin-green .block-title strong, .gallery-widget.gallery-skin-green .lgl-item-cat a:hover, .gallery-widget.gallery-skin-green .lgl-items .lgl-item .lgl-item-title a:hover {
    color: #008000 !important
}

.gallery-block .owl-theme .owl-dots .owl-dot:hover span,
.gallery-widget.gallery-skin-green .lgl-items .lgl-item .lgl-item-media .lgl-item-link, .gallery-widget.gallery-skin-green .owl-theme .owl-dots .owl-dot.active span {
    background-color: #008000 !important
}

.gallery-widget.gallery-skin-green .owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #008000 !important
}

/** PURPLE **/
.gallery-widget.gallery-skin-purple .block-content {
    border-bottom-color: #800080 !important
}

.gallery-widget.gallery-skin-purple .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover {
    background-color: #330033 !important
}

.gallery-widget.gallery-skin-purple .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover a {
    color: #FFF !important
}

.gallery-widget.gallery-skin-purple .block-title strong, .gallery-widget.gallery-skin-purple .lgl-item-cat a:hover, .gallery-widget.gallery-skin-purple .lgl-items .lgl-item .lgl-item-title a:hover {
    color: #800080 !important
}

.gallery-block .owl-theme .owl-dots .owl-dot:hover span,
.gallery-widget.gallery-skin-purple .lgl-items .lgl-item .lgl-item-media .lgl-item-link, .gallery-widget.gallery-skin-purple .owl-theme .owl-dots .owl-dot.active span {
    background-color: #800080 !important
}

.gallery-widget.gallery-skin-purple .owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #800080 !important
}

/** INDIGO **/
.gallery-widget.gallery-skin-indigo .block-content {
    border-bottom-color: #4B0082 !important
}

.gallery-widget.gallery-skin-indigo .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover {
    background-color: #1e0033 !important
}

.gallery-widget.gallery-skin-indigo .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover a {
    color: #FFF !important
}

.gallery-widget.gallery-skin-indigo .block-title strong, .gallery-widget.gallery-skin-indigo .lgl-item-cat a:hover, .gallery-widget.gallery-skin-indigo .lgl-items .lgl-item .lgl-item-title a:hover {
    color: #4B0082 !important
}

.gallery-block .owl-theme .owl-dots .owl-dot:hover span,
.gallery-widget.gallery-skin-indigo .lgl-items .lgl-item .lgl-item-media .lgl-item-link, .gallery-widget.gallery-skin-indigo .owl-theme .owl-dots .owl-dot.active span {
    background-color: #4B0082 !important
}

.gallery-widget.gallery-skin-indigo .owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #4B0082 !important
}

/** SALMON **/
.gallery-widget.gallery-skin-salmon .block-content {
    border-bottom-color: #FA8072 !important
}

.gallery-widget.gallery-skin-salmon .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover {
    background-color: #f84d3a !important
}

.gallery-widget.gallery-skin-salmon .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover a {
    color: #FFF !important
}

.gallery-widget.gallery-skin-salmon .block-title strong, .gallery-widget.gallery-skin-salmon .lgl-item-cat a:hover, .gallery-widget.gallery-skin-salmon .lgl-items .lgl-item .lgl-item-title a:hover {
    color: #FA8072 !important
}

.gallery-block .owl-theme .owl-dots .owl-dot:hover span,
.gallery-widget.gallery-skin-salmon .lgl-items .lgl-item .lgl-item-media .lgl-item-link, .gallery-widget.gallery-skin-salmon .owl-theme .owl-dots .owl-dot.active span {
    background-color: #FA8072 !important
}

.gallery-widget.gallery-skin-salmon .owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #FA8072 !important
}

/** TEAL **/
.gallery-widget.gallery-skin-teal .block-content {
    border-bottom-color: #008080 !important
}

.gallery-widget.gallery-skin-teal .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover {
    background-color: #003333 !important
}

.gallery-widget.gallery-skin-teal .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover a {
    color: #FFF !important
}

.gallery-widget.gallery-skin-teal .block-title strong, .gallery-widget.gallery-skin-teal .lgl-item-cat a:hover, .gallery-widget.gallery-skin-teal .lgl-items .lgl-item .lgl-item-title a:hover {
    color: #008080 !important
}

.gallery-block .owl-theme .owl-dots .owl-dot:hover span,
.gallery-widget.gallery-skin-teal .lgl-items .lgl-item .lgl-item-media .lgl-item-link, .gallery-widget.gallery-skin-teal .owl-theme .owl-dots .owl-dot.active span {
    background-color: #008080 !important
}

.gallery-widget.gallery-skin-teal .owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #008080 !important
}

/** TURQUOISE **/
.gallery-widget.gallery-skin-turquoise .block-content {
    border-bottom-color: #40E0D0 !important
}

.gallery-widget.gallery-skin-turquoise .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover {
    background-color: #20c5b5 !important
}

.gallery-block .owl-theme .owl-dots .owl-dot:hover span,
.gallery-widget.gallery-skin-turquoise .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover a {
    color: #FFF !important
}

.gallery-widget.gallery-skin-turquoise .block-title strong, .gallery-widget.gallery-skin-turquoise .lgl-item-cat a:hover, .gallery-widget.gallery-skin-turquoise .lgl-items .lgl-item .lgl-item-title a:hover {
    color: #40E0D0 !important
}

.gallery-widget.gallery-skin-turquoise .lgl-items .lgl-item .lgl-item-media .lgl-item-link, .gallery-widget.gallery-skin-turquoise .owl-theme .owl-dots .owl-dot.active span {
    background-color: #40E0D0 !important
}

.gallery-widget.gallery-skin-turquoise .owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #40E0D0 !important
}

/** VIOLET **/
.gallery-widget.gallery-skin-violet .block-content {
    border-bottom-color: #EE82EE !important
}

.gallery-widget.gallery-skin-violet .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover {
    background-color: #e74be7 !important
}

.gallery-widget.gallery-skin-violet .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover a {
    color: #FFF !important
}

.gallery-widget.gallery-skin-violet .block-title strong, .gallery-widget.gallery-skin-violet .lgl-item-cat a:hover, .gallery-widget.gallery-skin-violet .lgl-items .lgl-item .lgl-item-title a:hover {
    color: #EE82EE !important
}

.gallery-block .owl-theme .owl-dots .owl-dot:hover span,
.gallery-widget.gallery-skin-violet .lgl-items .lgl-item .lgl-item-media .lgl-item-link, .gallery-widget.gallery-skin-violet .owl-theme .owl-dots .owl-dot.active span {
    background-color: #EE82EE !important
}

.gallery-widget.gallery-skin-violet .owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #EE82EE !important
}

/** YELLOWGREEN **/
.gallery-widget.gallery-skin-yellowgreen .block-content {
    border-bottom-color: #9ACD32 !important
}

.gallery-widget.gallery-skin-yellowgreen .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover {
    background-color: #6b9023 !important
}

.gallery-widget.gallery-skin-yellowgreen .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover a {
    color: #FFF !important
}

.gallery-widget.gallery-skin-yellowgreen .block-title strong, .gallery-widget.gallery-skin-yellowgreen .lgl-item-cat a:hover, .gallery-widget.gallery-skin-yellowgreen .lgl-items .lgl-item .lgl-item-title a:hover {
    color: #9ACD32 !important
}

.gallery-block .owl-theme .owl-dots .owl-dot:hover span,
.gallery-widget.gallery-skin-yellowgreen .lgl-items .lgl-item .lgl-item-media .lgl-item-link, .gallery-widget.gallery-skin-yellowgreen .owl-theme .owl-dots .owl-dot.active span {
    background-color: #9ACD32 !important
}

.gallery-widget.gallery-skin-yellowgreen .owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #9ACD32 !important
}

/** TAN **/
.gallery-widget.gallery-skin-tan .block-content {
    border-bottom-color: #D2B48C !important
}

.gallery-widget.gallery-skin-tan .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover {
    background-color: #bf935a !important
}

.gallery-widget.gallery-skin-tan .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover a {
    color: #FFF !important
}

.gallery-widget.gallery-skin-tan .block-title strong, .gallery-widget.gallery-skin-tan .lgl-item-cat a:hover, .gallery-widget.gallery-skin-tan .lgl-items .lgl-item .lgl-item-title a:hover {
    color: #D2B48C !important
}

.gallery-block .owl-theme .owl-dots .owl-dot:hover span,
.gallery-widget.gallery-skin-tan .lgl-items .lgl-item .lgl-item-media .lgl-item-link, .gallery-widget.gallery-skin-tan .owl-theme .owl-dots .owl-dot.active span {
    background-color: #D2B48C !important
}

.gallery-widget.gallery-skin-tan .owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #D2B48C !important
}

/** SLATEBLUE **/
.gallery-widget.gallery-skin-slateblue .block-content {
    border-bottom-color: #6A5ACD !important
}

.gallery-widget.gallery-skin-slateblue .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover {
    background-color: #4636b0 !important
}

.gallery-widget.gallery-skin-slateblue .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover a {
    color: #FFF !important
}

.gallery-widget.gallery-skin-slateblue .block-title strong, .gallery-widget.gallery-skin-slateblue .lgl-item-cat a:hover, .gallery-widget.gallery-skin-slateblue .lgl-items .lgl-item .lgl-item-title a:hover {
    color: #6A5ACD !important
}

.gallery-block .owl-theme .owl-dots .owl-dot:hover span,
.gallery-widget.gallery-skin-slateblue .lgl-items .lgl-item .lgl-item-media .lgl-item-link, .gallery-widget.gallery-skin-slateblue .owl-theme .owl-dots .owl-dot.active span {
    background-color: #6A5ACD !important
}

.gallery-widget.gallery-skin-slateblue .owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #6A5ACD !important
}

/** SKYBLUE **/
.gallery-widget.gallery-skin-skyblue .block-content {
    border-bottom-color: #87CEEB !important
}

.gallery-widget.gallery-skin-skyblue .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover {
    background-color: #51b8e1 !important
}

.gallery-widget.gallery-skin-skyblue .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover a {
    color: #FFF !important
}

.gallery-widget.gallery-skin-skyblue .block-title strong, .gallery-widget.gallery-skin-skyblue .lgl-item-cat a:hover, .gallery-widget.gallery-skin-skyblue .lgl-items .lgl-item .lgl-item-title a:hover {
    color: #87CEEB !important
}

.gallery-block .owl-theme .owl-dots .owl-dot:hover span,
.gallery-widget.gallery-skin-skyblue .lgl-items .lgl-item .lgl-item-media .lgl-item-link, .gallery-widget.gallery-skin-skyblue .owl-theme .owl-dots .owl-dot.active span {
    background-color: #87CEEB !important
}

.gallery-widget.gallery-skin-skyblue .owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #87CEEB !important
}

/** SEAGREEN **/
.gallery-widget.gallery-skin-seagreen .block-content {
    border-bottom-color: #2E8B57 !important
}

.gallery-widget.gallery-skin-seagreen .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover {
    background-color: #20603b !important
}

.gallery-widget.gallery-skin-seagreen .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover a {
    color: #FFF !important
}

.gallery-widget.gallery-skin-seagreen .block-title strong, .gallery-widget.gallery-skin-seagreen .lgl-item-cat a:hover, .gallery-widget.gallery-skin-seagreen .lgl-items .lgl-item .lgl-item-title a:hover {
    color: #2E8B57 !important
}

.gallery-block .owl-theme .owl-dots .owl-dot:hover span,
.gallery-widget.gallery-skin-seagreen .lgl-items .lgl-item .lgl-item-media .lgl-item-link, .gallery-widget.gallery-skin-seagreen .owl-theme .owl-dots .owl-dot.active span {
    background-color: #2E8B57 !important
}

.gallery-widget.gallery-skin-seagreen .owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #2E8B57 !important
}

/** REBECCAPURPLE **/
.gallery-widget.gallery-skin-rebeccapurple .block-content {
    border-bottom-color: #663399 !important
}

.gallery-widget.gallery-skin-rebeccapurple .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover {
    background-color: #402060 !important
}

.gallery-widget.gallery-skin-rebeccapurple .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover a {
    color: #FFF !important
}

.gallery-widget.gallery-skin-rebeccapurple .block-title strong, .gallery-widget.gallery-skin-rebeccapurple .lgl-item-cat a:hover, .gallery-widget.gallery-skin-rebeccapurple .lgl-items .lgl-item .lgl-item-title a:hover {
    color: #663399 !important
}

.gallery-block .owl-theme .owl-dots .owl-dot:hover span,
.gallery-widget.gallery-skin-rebeccapurple .lgl-items .lgl-item .lgl-item-media .lgl-item-link, .gallery-widget.gallery-skin-rebeccapurple .owl-theme .owl-dots .owl-dot.active span {
    background-color: #663399 !important
}

.gallery-widget.gallery-skin-rebeccapurple .owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #663399 !important
}

/** CORNFLOWERBLUE **/
.gallery-widget.gallery-skin-cornflowerblue .block-content {
    border-bottom-color: #6495ED !important
}

.gallery-widget.gallery-skin-cornflowerblue .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover {
    background-color: #3271e7 !important
}

.gallery-widget.gallery-skin-cornflowerblue .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover a {
    color: #FFF !important
}

.gallery-widget.gallery-skin-cornflowerblue .block-title strong, .gallery-widget.gallery-skin-cornflowerblue .lgl-item-cat a:hover, .gallery-widget.gallery-skin-cornflowerblue .lgl-items .lgl-item .lgl-item-title a:hover {
    color: #6495ED !important
}

.gallery-block .owl-theme .owl-dots .owl-dot:hover span,
.gallery-widget.gallery-skin-cornflowerblue .lgl-items .lgl-item .lgl-item-media .lgl-item-link, .gallery-widget.gallery-skin-cornflowerblue .owl-theme .owl-dots .owl-dot.active span {
    background-color: #6495ED !important
}

.gallery-widget.gallery-skin-cornflowerblue .owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #6495ED !important
}

/** LIGHTSALMON **/
.gallery-widget.gallery-skin-lightsalmon .block-content {
    border-bottom-color: #FFA07A !important
}

.gallery-widget.gallery-skin-lightsalmon .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover {
    background-color: #ff6d33 !important
}

.gallery-widget.gallery-skin-lightsalmon .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover a {
    color: #FFF !important
}

.gallery-widget.gallery-skin-lightsalmon .block-title strong, .gallery-widget.gallery-skin-lightsalmon .lgl-item-cat a:hover, .gallery-widget.gallery-skin-lightsalmon .lgl-items .lgl-item .lgl-item-title a:hover {
    color: #FFA07A !important
}

.gallery-block .owl-theme .owl-dots .owl-dot:hover span,
.gallery-widget.gallery-skin-lightsalmon .lgl-items .lgl-item .lgl-item-media .lgl-item-link, .gallery-widget.gallery-skin-lightsalmon .owl-theme .owl-dots .owl-dot.active span {
    background-color: #FFA07A !important
}

.gallery-widget.gallery-skin-lightsalmon .owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #FFA07A !important
}

/** ORCHID **/
.gallery-widget.gallery-skin-orchid .block-content {
    border-bottom-color: #DA70D6 !important
}

.gallery-widget.gallery-skin-orchid .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover {
    background-color: #cb34c6 !important
}

.gallery-widget.gallery-skin-orchid .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover a {
    color: #FFF !important
}

.gallery-widget.gallery-skin-orchid .block-title strong, .gallery-widget.gallery-skin-orchid .lgl-item-cat a:hover, .gallery-widget.gallery-skin-orchid .lgl-items .lgl-item .lgl-item-title a:hover {
    color: #DA70D6 !important
}

.gallery-block .owl-theme .owl-dots .owl-dot:hover span,
.gallery-widget.gallery-skin-orchid .lgl-items .lgl-item .lgl-item-media .lgl-item-link, .gallery-widget.gallery-skin-orchid .owl-theme .owl-dots .owl-dot.active span {
    background-color: #DA70D6 !important
}

.gallery-widget.gallery-skin-orchid .owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #DA70D6 !important
}

/** MEDIUMVIOLETRED **/
.gallery-widget.gallery-skin-mediumvioletRed .block-content {
    border-bottom-color: #C71585 !important
}

.gallery-widget.gallery-skin-mediumvioletRed .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover {
    background-color: #8a0f5d !important
}

.gallery-widget.gallery-skin-mediumvioletRed .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover a {
    color: #FFF !important
}

.gallery-widget.gallery-skin-mediumvioletRed .block-title strong, .gallery-widget.gallery-skin-mediumvioletRed .lgl-item-cat a:hover, .gallery-widget.gallery-skin-mediumvioletRed .lgl-items .lgl-item .lgl-item-title a:hover {
    color: #C71585 !important
}

.gallery-block .owl-theme .owl-dots .owl-dot:hover span,
.gallery-widget.gallery-skin-mediumvioletRed .lgl-items .lgl-item .lgl-item-media .lgl-item-link, .gallery-widget.gallery-skin-mediumvioletRed .owl-theme .owl-dots .owl-dot.active span {
    background-color: #C71585 !important
}

.gallery-widget.gallery-skin-mediumvioletRed .owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #C71585 !important
}

/** ORANGERED **/
.gallery-widget.gallery-skin-orangered .block-content {
    border-bottom-color: #FF4500 !important
}

.gallery-widget.gallery-skin-orangered .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover {
    background-color: #b33000 !important
}

.gallery-widget.gallery-skin-orangered .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover a {
    color: #FFF !important
}

.gallery-widget.gallery-skin-orangered .block-title strong, .gallery-widget.gallery-skin-orangered .lgl-item-cat a:hover, .gallery-widget.gallery-skin-orangered .lgl-items .lgl-item .lgl-item-title a:hover {
    color: #FF4500 !important
}

.gallery-block .owl-theme .owl-dots .owl-dot:hover span,
.gallery-widget.gallery-skin-orangered .lgl-items .lgl-item .lgl-item-media .lgl-item-link, .gallery-widget.gallery-skin-orangered .owl-theme .owl-dots .owl-dot.active span {
    background-color: #FF4500 !important
}

.gallery-widget.gallery-skin-orangered .owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #FF4500 !important
}

/** CORNSILK **/
.gallery-widget.gallery-skin-cornsilk .block-content {
    border-bottom-color: #FFF8DC !important
}

.gallery-widget.gallery-skin-cornsilk .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover {
    background-color: #ffeb99 !important
}

.gallery-widget.gallery-skin-cornsilk .lgl-items .lgl-item .lgl-item-media .lgl-item-link a {
    color: #000 !important
}

.gallery-widget.gallery-skin-cornsilk .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover a {
    color: #000 !important
}

.gallery-widget.gallery-skin-cornsilk .block-title strong, .gallery-widget.gallery-skin-cornsilk .lgl-item-cat a:hover, .gallery-widget.gallery-skin-cornsilk .lgl-items .lgl-item .lgl-item-title a:hover {
    color: #FFF8DC !important
}

.gallery-block .owl-theme .owl-dots .owl-dot:hover span,
.gallery-widget.gallery-skin-cornsilk .lgl-items .lgl-item .lgl-item-media .lgl-item-link, .gallery-widget.gallery-skin-cornsilk .owl-theme .owl-dots .owl-dot.active span {
    background-color: #FFF8DC !important
}

.gallery-widget.gallery-skin-cornsilk .owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #FFF8DC !important
}

/** BLUE **/
.gallery-widget.gallery-skin-blue .block-content {
    border-bottom-color: #0000FF !important
}

.gallery-widget.gallery-skin-blue .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover {
    background-color: #0000b3 !important
}

.gallery-widget.gallery-skin-blue .lgl-items .lgl-item .lgl-item-media .lgl-item-link a {
    color: #FFF !important
}

.gallery-widget.gallery-skin-blue .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover a {
    color: #FFF !important
}

.gallery-widget.gallery-skin-blue .block-title strong, .gallery-widget.gallery-skin-blue .lgl-item-cat a:hover, .gallery-widget.gallery-skin-blue .lgl-items .lgl-item .lgl-item-title a:hover {
    color: #0000FF !important
}

.gallery-block .owl-theme .owl-dots .owl-dot:hover span,
.gallery-widget.gallery-skin-blue .lgl-items .lgl-item .lgl-item-media .lgl-item-link, .gallery-widget.gallery-skin-blue .owl-theme .owl-dots .owl-dot.active span {
    background-color: #0000FF !important
}

.gallery-widget.gallery-skin-blue .owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #0000FF !important
}

/** CHOCOLATE **/
.gallery-widget.gallery-skin-chocolate .block-content {
    border-bottom-color: #D2691E !important
}

.gallery-widget.gallery-skin-chocolate .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover {
    background-color: #9c4e16 !important
}

.gallery-widget.gallery-skin-chocolate .lgl-items .lgl-item .lgl-item-media .lgl-item-link a {
    color: #FFF !important
}

.gallery-widget.gallery-skin-chocolate .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover a {
    color: #FFF !important
}

.gallery-widget.gallery-skin-chocolate .block-title strong, .gallery-widget.gallery-skin-chocolate .lgl-item-cat a:hover, .gallery-widget.gallery-skin-chocolate .lgl-items .lgl-item .lgl-item-title a:hover {
    color: #D2691E !important
}

.gallery-block .owl-theme .owl-dots .owl-dot:hover span,
.gallery-widget.gallery-skin-chocolate .lgl-items .lgl-item .lgl-item-media .lgl-item-link, .gallery-widget.gallery-skin-chocolate .owl-theme .owl-dots .owl-dot.active span {
    background-color: #D2691E !important
}

.gallery-widget.gallery-skin-green .owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #D2691E !important
}

/** LIME **/
.gallery-widget.gallery-skin-lime .block-content {
    border-bottom-color: #00FF00 !important
}

.gallery-widget.gallery-skin-lime .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover {
    background-color: #00b300 !important
}

.gallery-widget.gallery-skin-lime .lgl-items .lgl-item .lgl-item-media .lgl-item-link a {
    color: #FFF !important
}

.gallery-widget.gallery-skin-lime .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover a {
    color: #FFF !important
}

.gallery-widget.gallery-skin-lime .block-title strong, .gallery-widget.gallery-skin-lime .lgl-item-cat a:hover, .gallery-widget.gallery-skin-lime .lgl-items .lgl-item .lgl-item-title a:hover {
    color: #00FF00 !important
}

.gallery-block .owl-theme .owl-dots .owl-dot:hover span,
.gallery-widget.gallery-skin-lime .lgl-items .lgl-item .lgl-item-media .lgl-item-link, .gallery-widget.gallery-skin-lime .owl-theme .owl-dots .owl-dot.active span {
    background-color: #00FF00 !important
}

.gallery-widget.gallery-skin-lime .owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #00FF00 !important
}

/** LIGHTCORAL **/
.gallery-widget.gallery-skin-lightcoral .block-content {
    border-bottom-color: #F08080 !important
}

.gallery-widget.gallery-skin-lightcoral .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover {
    background-color: #ea4848 !important
}

.gallery-widget.gallery-skin-lightcoral .lgl-items .lgl-item .lgl-item-media .lgl-item-link a {
    color: #FFF !important
}

.gallery-widget.gallery-skin-lightcoral .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover a {
    color: #FFF !important
}

.gallery-widget.gallery-skin-lightcoral .block-title strong, .gallery-widget.gallery-skin-lightcoral .lgl-item-cat a:hover, .gallery-widget.gallery-skin-lightcoral .lgl-items .lgl-item .lgl-item-title a:hover {
    color: #F08080 !important
}

.gallery-block .owl-theme .owl-dots .owl-dot:hover span,
.gallery-widget.gallery-skin-lightcoral .lgl-items .lgl-item .lgl-item-media .lgl-item-link, .gallery-widget.gallery-skin-lightcoral .owl-theme .owl-dots .owl-dot.active span {
    background-color: #F08080 !important
}

.gallery-widget.gallery-skin-lightcoral .owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #F08080 !important
}

/** INDIANRED **/
.gallery-widget.gallery-skin-indianred .block-content {
    border-bottom-color: #CD5C5C !important
}

.gallery-widget.gallery-skin-indianred .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover {
    background-color: #b03636 !important
}

.gallery-widget.gallery-skin-indianred .lgl-items .lgl-item .lgl-item-media .lgl-item-link a {
    color: #FFF !important
}

.gallery-widget.gallery-skin-indianred .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover a {
    color: #FFF !important
}

.gallery-widget.gallery-skin-indianred .block-title strong, .gallery-widget.gallery-skin-indianred .lgl-item-cat a:hover, .gallery-widget.gallery-skin-indianred .lgl-items .lgl-item .lgl-item-title a:hover {
    color: #CD5C5C !important
}

.gallery-block .owl-theme .owl-dots .owl-dot:hover span,
.gallery-widget.gallery-skin-indianred .lgl-items .lgl-item .lgl-item-media .lgl-item-link, .gallery-widget.gallery-skin-indianred .owl-theme .owl-dots .owl-dot.active span {
    background-color: #CD5C5C !important
}

.gallery-widget.gallery-skin-indianred .owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #CD5C5C !important
}

/** HOTPINK **/
.gallery-widget.gallery-skin-hotpink .block-content {
    border-bottom-color: #FF69B4 !important
}

.gallery-widget.gallery-skin-hotpink .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover {
    background-color: #ff3399 !important
}

.gallery-widget.gallery-skin-hotpink .lgl-items .lgl-item .lgl-item-media .lgl-item-link a {
    color: #FFF !important
}

.gallery-widget.gallery-skin-hotpink .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover a {
    color: #FFF !important
}

.gallery-widget.gallery-skin-hotpink .block-title strong, .gallery-widget.gallery-skin-hotpink .lgl-item-cat a:hover, .gallery-widget.gallery-skin-hotpink .lgl-items .lgl-item .lgl-item-title a:hover {
    color: #FF69B4 !important
}

.gallery-block .owl-theme .owl-dots .owl-dot:hover span,
.gallery-widget.gallery-skin-hotpink .lgl-items .lgl-item .lgl-item-media .lgl-item-link, .gallery-widget.gallery-skin-hotpink .owl-theme .owl-dots .owl-dot.active span {
    background-color: #FF69B4 !important
}

.gallery-widget.gallery-skin-hotpink .owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #FF69B4 !important
}

/** DARKORANGE **/
.gallery-widget.gallery-skin-darkorange .block-content {
    border-bottom-color: #FF8C00 !important
}

.gallery-widget.gallery-skin-darkorange .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover {
    background-color: #b36200 !important
}

.gallery-widget.gallery-skin-darkorange .lgl-items .lgl-item .lgl-item-media .lgl-item-link a {
    color: #FFF !important
}

.gallery-widget.gallery-skin-darkorange .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover a {
    color: #FFF !important
}

.gallery-widget.gallery-skin-darkorange .block-title strong, .gallery-widget.gallery-skin-darkorange .lgl-item-cat a:hover, .gallery-widget.gallery-skin-darkorange .lgl-items .lgl-item .lgl-item-title a:hover {
    color: #FF8C00 !important
}

.gallery-block .owl-theme .owl-dots .owl-dot:hover span,
.gallery-widget.gallery-skin-darkorange .lgl-items .lgl-item .lgl-item-media .lgl-item-link, .gallery-widget.gallery-skin-darkorange .owl-theme .owl-dots .owl-dot.active span {
    background-color: #FF8C00 !important
}

.gallery-widget.gallery-skin-darkorange .owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #FF8C00 !important
}

/** ORANGE **/
.gallery-widget.gallery-skin-orange .block-content {
    border-bottom-color: #FFA500 !important
}

.gallery-widget.gallery-skin-orange .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover {
    background-color: #FFA500 !important
}

.gallery-widget.gallery-skin-orange .lgl-items .lgl-item .lgl-item-media .lgl-item-link a {
    color: #FFF !important
}

.gallery-widget.gallery-skin-orange .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover a {
    color: #FFF !important
}

.gallery-widget.gallery-skin-orange .block-title strong, .gallery-widget.gallery-skin-orange .lgl-item-cat a:hover, .gallery-widget.gallery-skin-darkorange .lgl-items .lgl-item .lgl-item-title a:hover {
    color: #FFA500 !important
}

.gallery-block .owl-theme .owl-dots .owl-dot:hover span,
.gallery-widget.gallery-skin-orange .lgl-items .lgl-item .lgl-item-media .lgl-item-link, .gallery-widget.gallery-skin-darkorange .owl-theme .owl-dots .owl-dot.active span {
    background-color: #FFA500 !important
}

.gallery-widget.gallery-skin-orange .owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #FFA500 !important
}

/** AQUAMARINE **/
.gallery-widget.gallery-skin-aquamarine .block-content {
    border-bottom-color: #7FFFD4 !important
}

.gallery-widget.gallery-skin-aquamarine .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover {
    background-color: #33ffbb !important
}

.gallery-widget.gallery-skin-aquamarine .lgl-items .lgl-item .lgl-item-media .lgl-item-link a {
    color: #FFF !important
}

.gallery-widget.gallery-skin-aquamarine .lgl-items .lgl-item .lgl-item-media .lgl-item-link:hover a {
    color: #FFF !important
}

.gallery-widget.gallery-skin-aquamarine .block-title strong, .gallery-widget.gallery-skin-aquamarine .lgl-item-cat a:hover, .gallery-widget.gallery-skin-aquamarine .lgl-items .lgl-item .lgl-item-title a:hover {
    color: #7FFFD4 !important
}

.gallery-block .owl-theme .owl-dots .owl-dot:hover span,
.gallery-widget.gallery-skin-aquamarine .lgl-items .lgl-item .lgl-item-media .lgl-item-link, .gallery-widget.gallery-skin-aquamarine .owl-theme .owl-dots .owl-dot.active span {
    background-color: #7FFFD4 !important
}

.gallery-widget.gallery-skin-aquamarine .owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #7FFFD4 !important
}
