/** GENERAL */
.gallery-sorters {
    display: inline-block;
    margin-left: 20px;
}

.gallery-searchfilter, .gallery-sorters .gallery-sortlist {
    border: 2px solid #C0C0C0;
    z-index: 99;
    cursor: pointer;
    padding: 7px 40px;
    text-align: left;
    display: inline-block;
    position: relative;
    -webkit-transition: backgroundF .3s linear,color .3s linear,border .3s linear,opacity .3s linear;
    -moz-transition: background .3s linear,color .3s linear,border .3s linear,opacity .3s linear;
    -ms-transition: background .3s linear,color .3s linear,border .3s linear,opacity .3s linear;
    -o-transition: background .3s linear,color .3s linear,border .3s linear,opacity .3s linear;
    transition: background .3s linear,color .3s linear,border .3s linear,opacity .3s linear;
}

.gallery-searchfilter .switcher-dropdown {
    display: none
}

.gallery-searchfilter.active .switcher-dropdown {
    display: block;
}

.gallery-searchfilter:hover, .gallery-sorters .gallery-sortlist:hover > span {
    color: #eb5202
}

.gallery-searchfilter {
    padding: 0;
}

.gallery-searchfilter i {
    padding: 0 14px;
}

.gallery-searchfilter i:before {
    line-height: 34px;
}

.gallery-searchfilter .ui-dialog-buttonpane {
    display: none;
}

.gallery-searchfilter .ui-dialog {
    position: absolute;
    right: 0;
    top: 45px;
    display: none;
}

.gallery-searchfilter .gallery-head-form-search-wrap {
    border-radius: 0;
    border: none;
    width: 342px;
    background: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.gallery-searchfilter .gallery-head-form-search-wrap:before {
    position: absolute;
    top: -10px;
    right: 19px;
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5.5px 6px 5.5px;
    border-color: transparent transparent #eb5202 transparent;
}

.gallery-searchfilter .gallery-head-form-search-wrap:after {
    position: absolute;
    top: -4px;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    background-color: #eb5202;
    left: 0
}

.gallery-filter-cat {
    display: inline-block;
    line-height: 48px;
}

.gallery-sorters .gallery-sortlist ul {
    display: none;
    position: absolute;
    background: #FFF;
    left: 0;
    width: 100%;
    top: 35px;
    -webkit-box-shadow: 0 5px 20px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 5px 20px 0 rgba(0,0,0,.1);
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.1);
}

.gallery-block .lgl-item-read-more a {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    padding: 0;
    color: #444444;
}

.gallery-block .owl-dots {
    cursor: pointer;
}

.gallery-block .owl-theme .owl-dots .owl-dot:hover span {
    background: #eb5202;
}

.gallery-sortdirection i.active {
    display: block
}

.gallery-sortdirection i {
    border: 2px solid #C0C0C0;
    padding: 10px 12px;
    display: inline-block;
    line-height: 30px;
    cursor: pointer;
}

.gallery-sortdirection:hover i {
    color: #eb5202;
}

.gallery-sortdirection {
    display: inline-block
}

.gallery-sortdirection i:before {
    line-height: 34px
}

.gallery-sortdirection i {
    display: none;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: background .3s linear,color .3s linear,border .3s linear,opacity .3s linear;
    -moz-transition: background .3s linear,color .3s linear,border .3s linear,opacity .3s linear;
    -ms-transition: background .3s linear,color .3s linear,border .3s linear,opacity .3s linear;
    -o-transition: background .3s linear,color .3s linear,border .3s linear,opacity .3s linear;
    transition: background .3s linear,color .3s linear,border .3s linear,opacity .3s linear;
    padding: 0 14px;
    line-height: 30px;
}

.gallery-sortdirection i.active {
    display: block
}

.gallery-sorters .gallery-sortlist:hover ul {
    display: block;
}

.gallery-dropdown-item {
    display: block;
    list-style: none;
    padding: 10px 24px;
    margin: 0;
    height: auto;
    font-size: 13px;
    line-height: 14px;
    cursor: pointer;
    text-align: left;
    border: none;
    font-weight: 400;
    border-top: 1px solid rgba(175,175,175,.16);
}

.gallery-dropdown-item:hover {
    background: #eb5202;
    color: #FFF;
}

.gallery-block.block {
    position: relative;
}

.gallery-block.block .row {
    margin-bottom: 15px;
    margin-right: -5px;
    margin-left: -5px;
}

.gallery-block.block .row > div {
    padding-right: 5px;
    padding-left: 5px;
}

.gallery-block.block .gallery-toptoolbar, .gallery-block.block .gallery-bottomtoolbar {
    display: none;
}

#gallery-albums {
    padding-bottom: 80px;
    float: left;
    width: 100%;
}

#gallery-albums.lgl-items .lgl-item .lgl-item-inner {
    float: left;
    width: 100%;
}

.gallery-block ul.albumtags li {
    display: inline-block;
    margin-right: 5px;
}

.lgl-grid, .lgl-masonry {
    visibility: hidden;
}

.lgl-hidden {
    display: none
}

.gallery-toptoolbar {
    margin-bottom: 30px;
}

.gallery-bottomtoolbar {
    margin-top: 30px;
}

.lgl-popup .fancybox-nav {
    width: 5%;
    height: 30%;
    top: 35%;
}

.lgl-popup .fancybox-title-float-wrap {
    bottom: -5px;
}

.lgl-popup .fancybox-title-float-wrap .child {
    background: transparent;
    font-weight: normal;
    font-size: 15px;
}

.gallery-block.block-tags .active, .gallery-block.block-tags .active a {
    color: #eb5202
}

.gallery-filter {
    text-align: center;
    margin-bottom: 40px;
    display: none;
}

.gallery-filter .album-all, .gallery-filter .album-cat {
    cursor: pointer;
    line-height: 30px;
    padding: 2px 15px;
    -webkit-transition: background .3s linear,color .3s linear,border .3s linear,opacity .3s linear;
    -moz-transition: background .3s linear,color .3s linear,border .3s linear,opacity .3s linear;
    -ms-transition: background .3s linear,color .3s linear,border .3s linear,opacity .3s linear;
    -o-transition: background .3s linear,color .3s linear,border .3s linear,opacity .3s linear;
    transition: background .3s linear,color .3s linear,border .3s linear,opacity .3s linear;
    position: relative;
    margin-right: 5px;
    margin-bottom: 6px;
}

.gallery-filter .album-cat:hover:before {
    color: #333
}

.gallery-filter .album-all.active, .gallery-filter .album-cat.active, .gallery-filter .album-cat:hover {
    color: #eb5202
}

.gallery-filter .album-cat:first-child:before {
    display: none;
}

.gallery-filter .album-cat {
    display: none;
    border: 2px solid #C0C0C0;
}

.gallery-filter .album-cat:last-child {
    margin-right: 0;
}

.gallery-filter .album-all {
    padding: 7px 15px;
    border: 2px solid #C0C0C0;
}

.gallery-filter .album-all.active, .gallery-filter .album-all:hover, .gallery-filter .album-cat.active, .gallery-filter .album-cat:hover {
    border-color: #eb5202;
    color: #eb5202;
}

/** IAS */
#gallery-albums .ias-spinner {
    display: none !important;
}

.gallery-album .ias-noneleft, #gallery-albums .ias-noneleft {
    position: absolute;
    width: 100%;
    margin-left: -16px;
    color: #eb5202;
    bottom: 40px;
    font-size: 16px;
}

#gallery-albums .ias-trigger.ias-trigger-next {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
}

#gallery-albums .ias-trigger.ias-trigger-prev a {
    color: #eb5202;
    font-size: 14px;
}

#gallery-albums .ias-trigger.ias-trigger-next a {
    background: #eb5202;
    color: #FFF;
    padding: 10px 8px;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
}

#gallery-albums .ias-trigger.ias-trigger-prev a:hover {
    color: #ba4000;
}

#gallery-albums .ias-trigger.ias-trigger-next a:hover {
    background-color: #ba4000;
    border-color: #b84002;
    color: #fff;
    text-decoration: none;
}

#gallery-albums .ias-trigger.ias-trigger-prev {
    position: absolute;
    left: 0;
    right: 0;
    top: -25px;
}

/** CATEGORY BLOCK */
.block .opener {
    position: absolute;
    right: 0;
    top: 0px;
    display: block;
    cursor: pointer;
    text-align: center;
    width: 30px;
    height: 30px;
}

.block-cats .opener {
    position: absolute;
    right: 0;
}

.block-cats .opener.item-active i:before {
    content: "\f147";
}

.block-cats .children {
    display: none;
    padding-left: 15px;
    margin: 10px;
    margin-right: 0;
}

.block-cats ul li {
    border-bottom: 0;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.block-cats li {
    display: inline-block;
}

/** OWL CAROUSEL NAV **/
.gallery-block .block-content:hover .owl-nav .owl-prev {
    opacity: 0.8;
    left: 5px;
}

.gallery-block .block-content:hover .owl-nav .owl-next {
    opacity: 0.8;
    right: 5px;
}

.gallery-block .owl-theme .owl-nav {
    text-align: center
}

.gallery-block .owl-theme .owl-nav [class*=owl-] {
    color: #fff;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #d6d6d6;
    display: inline-block;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    z-index: 88;
}

.gallery-block .owl-theme .owl-nav [class*=owl-]:hover {
    background: #eb5202 !important;
    color: #fff;
    text-decoration: none;
}

.gallery-block .owl-nav > div {
    width: 30px;
    height: 30px;
    margin: -15px 0 0;
    color: #FFF;
    display: block;
    position: absolute;
    top: 50%;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.gallery-block .owl-nav .owl-prev {
    left: -30px;
}

.gallery-block .owl-nav .owl-next {
    right: -30px;
}

.gallery-block .owl-theme .owl-dots .owl-dot.active span {
    background: #eb5202;
}

/** GALLERY ITEM **/
.lgl-items {
    position: relative;
    margin: 0;
    padding: 0
}

.lgl-items img, .lgl-items iframe {
    height: auto;
    max-width: 100%;
}

.lgl-items .lgl-item {
    float: left;
    width: 100%;
    position: relative;
    /* overflow: hidden; */
    /* box-sizing: border-box; */
}

.lgl-items .lgl-item .lgl-item-inner {
    -webkit-box-shadow: 0 0 3px #CACACA;
    -moz-box-shadow: 0 0 3px #cacaca;
    box-shadow: 0 0 3px #CACACA;
    margin-bottom: 20px;
    background: #FFF;
}

.lgl-pretext {
    margin-bottom: 5px;
}

.lgl-items .lgl-item .lgl-item-title {
    position: relative;
    display: block;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1px;
    margin: 6px 0 0 0;
    padding: 0;
    font-weight: normal;
}

.lgl-items .lgl-item .lgl-item-title a {
    color: #111111;
}

.lgl-items .lgl-item .lgl-item-title a:hover {
    color: #eb5202
}

.lgl-items .lgl-item .lgl-item-content {
    position: relative;
    padding: 22px 24px 14px 24px;
    text-align: left;
}

.gallery-widget.gallery-lookbook .lgl-items .lgl-item .lgl-item-media {
    overflow: visible;
}

.lgl-items .lgl-item .lgl-item-media {
    z-index: 89;
    overflow: hidden;
    position: relative;
}

.lgl-items .lgl-item .lgl-item-links {
    top: 50%;
    max-width: 100%;
    padding: 0;
    margin: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    line-height: normal;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    z-index: 99;
}

.lgl-items .lgl-item .lgl-item-media .lgl-item-link {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 10px;
    cursor: pointer;
    opacity: 0;
    font-size: 20px;
    border-radius: 50%;
    -webkit-transition: opacity 0.3s ease-in-out,-webkit-transform 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out,-moz-transform 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out,-ms-transform 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out,-o-transform 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out,transform 0.3s ease-in-out;
    padding: 10px;
}

.lgl-items .lgl-item .lgl-item-media .lgl-item-link a {
    color: #FFF
}

.lgl-items .lgl-item .lgl-item-media:hover .lgl-item-link {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out,-webkit-transform 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out,-moz-transform 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out,-ms-transform 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out,-o-transform 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out,transform 0.3s ease-in-out;
    background: #eb5202;
}

.gallery-block .lgl-items .lgl-item-shortdescription {
    position: relative;
    display: inline-block;
    margin: 18px 0;
    padding: 0;
    font-size: 13px;
    line-height: 23px;
    color: #777;
}

.lgl-items .lgl-item .lgl-socials {
    margin-top: 15px;
}

.album-info i, .lgl-items .lgl-item .lgl-item-info i {
    margin-right: 3px;
}

.lgl-items .lgl-item .lgl-item-info {
    margin-top: 10px;
}

.album-info .album-info-item, .lgl-items .lgl-item .lgl-item-info .lgl-item-info-item {
    position: relative;
    display: inline;
    font-size: 13px;
    font-weight: normal;
    line-height: 16px;
    color: #888;
}

.lgl-item-info .lgl-item-cat:before, .lgl-item-info .lgl-item-hits:before, .lgl-item-info .lgl-item-date:before {
    position: relative;
    display: inline-block;
    padding: 0 7px 0 5px;
    content: '/';
    line-height: 22px;
}

/** GALLERY BLOCK */
.gallery-block {
    float: left;
    width: 100%;
}

.gallery-block .block-title strong {
    background: #fff;
    font-weight: normal;
    padding: 0 20px;
    font-size: 1.6em;
}

.gallery-block ul {
    margin: 0;
    padding: 0;
    width: 100% !important;
}

.gallery-block ul li {
    position: relative;
    list-style: none;
    display: block;
}

.gallery-block .block-title {
    background: #fff url(../images/bg_divider.png) left center repeat-x;
    padding: 0;
    width: 100%;
    text-transform: uppercase;
    margin: 0;
    float: left;
    margin-bottom: 10px;
}

.gallery-block.block .block-content {
    background: #FFF;
    border-bottom: 4px solid #eb5202;
    -webkit-box-shadow: 0 0 3px #CACACA;
    -moz-box-shadow: 0 0 3px #cacaca;
    box-shadow: 0 0 3px #CACACA;
    float: left;
    width: 100%;
    padding: 10px;
}

.gallery-block a {
    color: #888;
}

.gallery-block a:hover {
    text-decoration: none;
    border-color: #eb5202;
}

.gallery-block .product-item {
    width: 100%;
    padding: 20px;
    text-align: center;
}

.gallery-block .owl-dots.disabled, .gallery-block .owl-nav.disabled {
    display: none
}

.gallery-block .owl-dots {
    text-align: center;
    margin-top: 20px;
}

.gallery-block .product-item {
    width: 100% !important;
    padding: 10px !important;
}

/** SEARCH BLOCK **/
.gallery-block.block-gallerysearch .gallerysearch-inner {
    position: relative;
}

.gallery-block.block-gallerysearch .gallerysearch-inner button {
    background: #eb5202;
    cursor: pointer;
    float: right;
    height: 32px;
    width: 32px;
    display: block;
    border: 0 none;
    box-shadow: none;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
    color: #FFF
}

.gallery-block.block-gallerysearch .gallerysearch-inner button:hover {
    background: #ba4000
}

.gallery-block input:focus {
    box-shadow: none;
    border-color: #eb5202
}

.gallery-block .owl-carousel .owl-stage-outer {
    padding: 0 2px;
}

/** MASONRY */
.gallery-mamasonry {
    position: relative;
    overflow: hidden;
}

.gallery-design-1 .album-thumbnail img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.gallery-design-1 .album-thumbnail:hover img {
}

/** CATEGORY PAGE **/
.gallery-category-description {
    margin-bottom: 30px
}

/** ALBUM PAGE **/
.gallery-album .album-description {
    margin: 10px 0 30px;
}

.gallery-widget.gallery-masonry.gallery-album .lgl-item {
    margin-bottom: 10px;
}

.gallery-album .album-image {
    margin-bottom: 10px;
}

.gallery-album .album-tags {
    margin-bottom: 20px;
    float: left;
    width: 100%;
}

.gallery-album .album-tags a {
    background-color: #eb5202;
    color: #fff;
    padding: 4px 8px;
    margin-bottom: 5px;
    display: inline-block;
    font-size: 1.2em;
}

.gallery-album .album-tags a:hover {
    color: #FFF;
    background: #ba4000
}

.gallery-album .album-tags span {
    background: #111111;
    color: #FFF;
    padding: 4px 8px;
    font-size: 1.2em;
    margin-right: 5px;
}

.album-content-inner {
    position: relative;
    float: left;
}

.album-list .lgl-item-media {
    width: 400px;
    float: left;
    margin-right: 20px;
}

.album-list .lgl-items .lgl-item .lgl-item-content {
    padding: 0
}

.album-list .lgl-items .lgl-item {
    float: left;
    width: 100%;
}

.album-list .lgl-items .lgl-item .lgl-socials {
    display: inline-block;
}

.album-list .lgl-items .lgl-item .lgl-item-title {
    font-size: 22px;
    margin-bottom: 20px
}

.gallery-block.album-list .lgl-items .lgl-item-shortdescription {
    display: block;
    margin-top: 0
}

/** IAMGE PAGE **/
.images-related {
    margin-top: 80px
}

.images-related .lgl-item .lgl-item-content {
    padding: 10px;
}

.images-related .lgl-item .lgl-item-title {
    font-size: 18px;
}

.gallery-widget.images-related .lgl-items .lgl-item .lgl-item-content {
    padding: 10px;
}

.gallery-album-image .single-title {
    margin-bottom: 30px;
}

/** CAMERA SLIDER */
.lgl-camera .lgl-item-title a {
    color: #FFF
}

.lgl-camera .camera_thumbs_cont ul li {
    display: inline-block;
}

.lgl-camera .lgl-camera-readmore {
    color: #FFF;
    text-decoration: underline;
}

.lgl-camera .camera_thumbs_cont ul {
    width: 100% !important
}

/** LOADING */
.gallery-loading {
    display: none;
    height: 9rem;
    text-align: center;
    font-size: 1.3rem;
    position: absolute;
    left: 50%;
    margin-left: -40px;
    top: 10rem;
    z-index: 999;
}

.gallery-loading > span {
    display: block;
    margin-bottom: 1rem;
    color: #eb5202;
    font-size: 20px;
    display: none;
}

.gallery-loading > div {
    background-color: #eb5202;
    height: 100%;
    width: 12px !important;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.gallery-loading.gallery-loading-next > div {
    width: 10px !important;
}

.gallery-loading.gallery-loading-next {
    display: block;
    bottom: 0;
    top: auto;
    z-index: 999;
}

.gallery-loading > div.r2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.gallery-loading > div.r3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.gallery-loading > div.r4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.gallery-loading > div.r5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.gallery-loading > div.r6 {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.gallery-loading > div.r7 {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.gallery-loading > div.r8 {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.gallery-loading > div.r9 {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.gallery-loading > div.r10 {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
    }

    20% {
        -webkit-transform: scaleY(1);
    }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }

    20% {
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
    }
}

/** LOOK BOOK **/
.gallery-lookbook .gallery-accordion .panel-group {
    margin-bottom: 0;
}

.gallery-lookbook .gallery-accordion .panel-heading a.collapsed::before {
    content: "+";
    font-size: 26px;
    margin-right: 5px;
}

.gallery-lookbook .gallery-accordion .owl-controls {
    left: -18px;
    position: relative;
}

.gallery-lookbook .gallery-accordion .active .panel-heading a.collapsed:before {
    content: "x";
}

.gallery-lookbook .gallery-accordion .panel-default > .panel-heading {
    padding: 0;
}

.gallery-lookbook .gallery-accordion .panel-default > .panel-heading:hover {
    background: #eb5202
}

.gallery-lookbook .gallery-accordion .panel-collapse {
    background: #fff none repeat scroll 0 0;
    bottom: 36px;
    width: 290px !important;
    position: absolute;
    z-index: 199;
    overflow: hidden;
    height: 220px !important;
}

.gallery-lookbook .gallery-accordion .panel-collapse.gallery-lookbook-slider {
    height: 220px !important;
}

.gallery-lookbook .gallery-accordion .panel-collapse.gallery-lookbook-slider .product-block .product-item-details .price-box {
    display: block
}

.gallery-lookbook .gallery-accordion .panel-body {
    padding-left: 0;
}

.gallery-lookbook .gallery-accordion .product-block .product-item-info {
    border-bottom: 1px solid #e4d4d4;
    margin-bottom: 14px !important;
    padding-bottom: 22px;
    display: block;
    width: 100%;
    float: left;
}

.gallery-lookbook .gallery-accordion .product-block .product-item-info .product-image {
    float: left;
    padding-right: 16px;
}

.gallery-lookbook .gallery-accordion .product-block .product-item-info .product-item-details {
    text-align: left;
}

.gallery-lookbook .gallery-accordion .owl-carousel .product-block .product-item-info .product-item-details {
    width: 100%
}

.gallery-lookbook .products-lookbook .product-items {
    margin: 0px;
    width: 290px;
}

.gallery-lookbook .products-lookbook a:hover {
    color: #eb5202
}

.gallery-lookbook .product-block .product-item-details .price-box {
    display: inline-block;
    height: 40px;
    margin: 0 0 10px;
    position: relative;
    width: 100%;
}

.gallery-lookbook .gallery-accordion .product-block .product-item-details .price-box {
    display: inline-block;
    height: 40px;
    margin: 0 0 10px;
    position: relative;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
}

.gallery-lookbook .gallery-accordion .gallery-lookbook-list .product-block .product-item-details .price-box {
    display: block;
}

.gallery-lookbook .gallery-accordion .panel-heading a.accordion-toggle {
    display: inline-block;
    font-weight: 300;
    padding: 5px 15px;
    width: 100%;
    background: #eb5202;
    color: #FFF;
}

.gallery-lookbook .gallery_content .look_book {
    position: relative;
}

.gallery-lookbook .look_book a img {
    width: 100%;
}

.gallery-lookbook .scrollWrap {
    overflow : hidden;
    display: inline-block;
}

.gallery-lookbook .scrollContent {
    height : 100%;
    width : 100%;
    position : relative;
    -moz-box-sizing : border-box;
    box-sizing : border-box;
}

.gallery-lookbook .fakeScrollBar {
    position : absolute;
    background : rgba(255,255,255,.5);
    width : 9px;
    border-radius : 4px;
    right : -15px;
    top : 0;
    z-index : 0;
    cursor : -moz-grab;
    cursor : -webkit-grab;
}

.gallery-lookbook .gallery-accordion {
    bottom: -15px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 290px;
}

.gallery-lookbook .gallery-lookbook .gallery-accordion .panel-heading a.collapsed::before {
    content: "-";
}

.fakeScroll:hover .fakeScrollBar.fakescroll-grabbed {
    cursor : -moz-grabbing;
    cursor : -webkit-grabbing;
    background : #FFF;
}

.gallery-lookbook .product-item-photo img:hover {
    -webkit-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -o-transform: scale(1.04);
    transform: scale(1.04);
    -webkit-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}

body.fakescroll-grabbed {
    cursor : -moz-grabbing;
    cursor : -webkit-grabbing;
}

/** MAGNIFIC POPUP */
/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
    padding: 0;
}

/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
    top: 0;
    bottom: 0;
}

/* padding for main container */
.mfp-no-margins .mfp-container {
    padding: 0;
}

.mfp-with-zoom .mfp-container, .mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, .mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}

/** PHOTO SWIPE */
.pswp--has_mouse .pswp__button--arrow--left, .pswp--has_mouse .pswp__button--arrow--right {
    box-shadow: none;
    border: 0;
}

.pswp button {
    border: 0 !important;
    box-shadow: none !important;
}

.pswp .pswp__img {
    height: auto !important;
}

.pswp--animated-in .pswp__bg, .pswp--animated-in .pswp__zoom-wrap {
    text-align: center;
}

.pswp iframe {
    max-width: 100%;
}

/** WIDGET */
.gallery-widget .block-title {
    text-align: center;
}

.gallery-widget .lgl-pretext {
    text-align: center;
}

.gallery-widget .lgl-item .lgl-item-inner {
    margin-bottom: 20px;
}

.gallery-widget .lgl-items .lgl-item .lgl-item-content {
    padding: 18px 16px 14px 16px;
}

.gallery-widget .lgl-items .lgl-item:last-child .lgl-item-inner {
    margin-bottom: 10px;
    width: 100%;
}

.gallery-widget .lgl-ajax-loadmore {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 99;
}

.gallery-widget .lgl-ajax-loadmore a {
    display: inline-block;
    padding: 7px 10px;
    border: 1px solid #C9C9C9;
    background: #FFF;
}

.gallery-widget .lgl-ajax-loadmore a:hover {
    background: #eb5202;
    border-color: #eb5202;
    color: #FFF;
}

.gallery-widget .lgl-ajax-loadmore a i {
    margin-left: 5px;
}

.gallery-widget.gallery-masonry .lgl-item .lgl-item-inner {
    margin-bottom: 0
}

.gallery-widget.gallery-masonry .block-content {
    padding-bottom: 30px
}

.gallery-widget .lgl-items .lgl-item .lgl-item-inner {
    position: relative;
    /* float: left; */
    /* width: 100%; */
}

/** BOX SLIDER */
.lgl-boxslider .lgl-slide {
    display: none
}

.lgl-boxslider .lgl-slide img {
    width: 100%;
    height: auto;
    display: block
}

.lgl-boxslider .lgl-slide.jbs-current {
    display: block
}

.lgl-boxslider .slider-controls {
    padding: 10px 0;
}

.lgl-boxslider .slider-controls .increment-control {
    color: #eb5202;
    margin-right: 5px;
    float: left;
}

.lgl-boxslider .slider-controls .increment-control:hover {
    color: #ba4000
}

.lgl-boxslider .slider-controls ul {
    float: right;
    width: auto !important;
}

.lgl-boxslider .slider-controls ul li {
    float: left;
}

.lgl-boxslider .slider-controls .goto-slide {
    margin-left: 10px;
    width: 15px;
    height: 15px;
    display: block;
    float: left;
    background-color: #efefef;
    border-radius: 50px;
}

.lgl-boxslider .slider-controls .goto-slide.active {
    background-color: #eb5202;
}

.gallery-block .time-indicator {
    margin: 20px 0;
    width: 0px;
    height: 3px;
    background-color: #eb5202
}

/** ZOOM */
.widget.gallery-widget .zoom {
    display:inline-block;
    position: relative;
}

/* magnifying glass icon */
.widget.gallery-widget .zoom:after {
    content:'';
    display:block; 
    width:33px; 
    height:33px; 
    position:absolute; 
    top:0;
    right:0;
    background:url(../images/icon.png);
}

.widget.gallery-widget .zoom img {
    display: block;
}

.widget.gallery-widget .zoom img::selection { background-color: transparent; }

.lgl-zoom-fancybox {
    float: left;
}