.ob_countdown_timer_container_default {
    display: inline-block;
    width: 100%;
    background: #fefae4;
    border: 1px solid #fadc23;
    display: inline-block;
    width: 100%;
    border-radius: 3px;
    .title {
      width: 57%;
      float: left;
      padding: 14px 0 14px 20px;
      font-weight: 500;
      margin: 0;
      position: relative;
      line-height: 25px;
      color: #2f303a;
  }
  .timer-row {
    width: 43%;
    float: right;
    padding-top: 7px;
  }
}
