<div class="full-screen-slider">
    <div id="banner-slider-demo-4" class="owl-carousel owl-bottom-narrow owl-banner-carousel">
        <div class="item transparent" style="background: url('{{view url='images/banner.jpg'}}') 80% center no-repeat; background-size: cover;"><img src="{{view url='images/banner.jpg'}}" alt="" />
            <div class="slide1-content content">
                <div class="container">
                    <div class="content-area">{{block class="Magento\Framework\View\Element\Template" template="Magento_Search::form.mini.phtml"}}
                        <div class="category-button">{{block class="Magento\Cms\Block\Block" block_id="category_button"}}</div>
                    </div>
                    <div class="push-down"><a class="scroll-down" href="#wrap-gallery"> <img src="{{view url='images/home/push_down.png'}}"/></a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gallery-row" id ="wrap-gallery">
    <div class="col-md-3 col-sm-6 col-xs-6"><a class="image-link" href="#"> <img src="{{view url='images/home/image1.jpg'}}" alt="" /> </a></div>
    <div class="col-md-3 col-sm-6 col-xs-6"><a class="image-link" href="#"> <img src="{{view url='images/home/image2.png'}}" alt="" /> </a></div>
    <div class="col-md-3 col-sm-6 col-xs-6"><a class="image-link" href="#"> <img src="{{view url='images/home/image3.png'}}" alt="" /> </a></div>
    <div class="col-md-3 col-sm-6 col-xs-6 last-item"><a class="image-link" href="#"> <img src="{{view url='images/home/image4.png'}}" alt="" /> </a></div>
</div>
<div class="banner-logo">
    <div class="content">
        <ul class="logo-items owl-carousel owl-theme">
            <li><img src="{{view url='images/home/rohs.png'}}" /></li>
            <li><img src="{{view url='images/home/ce.png'}}" /></li>
            <li><img src="{{view url='images/home/bsi.png'}}" /></li>
            <li><img src="{{view url='images/home/sgs.png'}}" /></li>
            <li><img src="{{view url='images/home/industrial.png'}}" /></li>
            <li><img src="{{view url='images/home/compliant.png'}}" /></li>
            <li><img src="{{view url='images/home/british.png'}}" /></li>
            <li><img src="{{view url='images/home/ukgreen.png'}}" /></li>
            <li><img src="{{view url='images/home/electrical.png'}}" /></li>
        </ul>
    </div>
</div>
<div class="wrap-infor-lightwell">
    <div class="container">
        <h3>LIGHTWELL IN THE UK</h3>
        <p class="bold">Lightwell Group is a British manufacturer and distributor of LED lighting products, we pride ourselves on developing cutting edge lighting products for commercial and residential use, using the latest technologies to develop sustainable products.</p>
        <p>Lightwell Group has partnerships with some of the largest component manufacturers in the world, including Philips, Samsung, Meanwell and Cree,to name a few, We work closely with our manufacturing partner to develop new products and constantly seek to improve our current range.</p>
        <p>Our aim to support local businesses in the UK and Europe, to ensure a strong supply chain that gives our customers peace of mind and confidence in our ever increasing range of products, our UK based team works closely with our customers to provide award winning support and service, with an emphasis on our technical support services.</p>
    </div>
</div>
<div class="stockist">
    <div class="content">
        <h3>Over 1100 Stockists in the uk and Europe</h3>
        <ul class="logo stockist-logo owl-carousel owl-theme">
            <li class="min-image-stockist"><img src="{{view url='images/home/yes_electrical.png'}}" /></li>
            <li class="min-image-stockist"><img src="{{view url='images/home/cef.png'}}" /></li>
            <li class="min-image-stockist"><img src="{{view url='images/home/edmundson.png'}}" /></li>
            <li><img src="{{view url='images/home/lightrabbit.png'}}" /></li>
            <li><img src="{{view url='images/home/ledlight.png'}}" /></li>
            <li class="min-image-stockist"><img src="{{view url='images/home/amazon.png'}}" /></li>
        </ul>
    </div>
</div>
<section class="our-support">
    <h3>SECTORS WE SUPPORT</h3>
    <div class="content-support">
        <div class="particular first"><a><img src="{{view url='images/home/medium-installer.jpg'}}" /></a>
            <p>SMALL /MEDIUM INSTALLERS</p>
        </div>
        <div class="particular second"><a><img src="{{view url='images/home/large-electrical-install.jpg'}}" /></a>
            <p>LARGE ELECTRICAL INSTALLERS</p>
        </div>
        <div class="particular three"><a><img src="{{view url='images/home/industrial.jpg'}}" /></a>
            <p>INDUSTRIAL</p>
        </div>
        <div class="particular four"><a><img src="{{view url='images/home/commercial.jpg'}}" /></a>
            <p>COMMERCIAL</p>
        </div>
        <div class="particular three"><a><img src="{{view url='images/home/retail.jpg'}}" /></a>
            <p>RETAIL</p>
        </div>
        <div class="particular four"><a><img src="{{view url='images/home/public-sector.jpg'}}" /></a>
            <p>PUBLIC SECTOR</p>
        </div>
        <div class="particular second"><a><img src="{{view url='images/home/architectural.jpg'}}" /></a>
            <p>ARCHITECTURAL</p>
        </div>
        <div class="particular first"><a><img src="{{view url='images/home/residential.jpg'}}" /></a>
            <p>RESIDENTIAL</p>
        </div>
    </div>
</section>
<div class="wrap-specialists">
    <div class="specialists-light">
        <h3>Lighting Specialists you can trust</h3>
        <ul class="content-left">
            <li>Unrivalled stock availability</li>
            <li>Same day / next day deliveries</li>
            <li>Multi-channel service</li>
        </ul>
        <ul class="content-right">
            <li>Industry leading technology</li>
            <li>Robust supply chain</li>
            <li>Friendly knowledgeable staff</li>
        </ul>
    </div>
</div>
<div class="subcribe-banner">
    <div class="overlay-cover">{{block class="Magento\Newsletter\Block\Subscribe" name="home.newsletter" template="Magento_Newsletter::subscribe.phtml"}}</div>
</div>