<?php 
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $mediaPath = $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
?>
<?php if($block->isEnable()): ?>
    <?php $productId = $block->getCurrentId(); ?>
    <?php $attachments = $block->getAttachment($productId); ?>
    <?php $isSize = $block->getConfig('productattach/general/attachmentsize'); ?>
    <div class="new-block-attach">
    <?php foreach ($attachments as $attachment) : ?>
        <?php if ($attachment->getActive()) : ?>
            <?php if ($attachment->getFile()) : ?>
                <div class="item">
                    <div class="thumbnail-attach">
                        <?php if($attachment->getImage()): ?>
                            <img src="<?php echo $mediaPath.$attachment->getImage() ?>" alt=""/>
                        <?php endif; ?>
                    </div>
                    <div class="title-attach">
                        <h3><?php echo $attachment->getName() ?></h3>
                    </div>
                    <a class="c-product-detail__download-pdf" href="<?php echo $block->getAttachmentUrl($attachment->getFile()); ?>" download title="<?php echo __('Download Product As Pdf');?>">
                        <span><?php echo __('Download');?></span>
                    </a>
                </div>    
                <div class="downloads">
                   <a href="<?php echo $block->getAttachmentUrl($attachment->getFile()); ?>" download title="<?php echo __('Download Product As Pdf');?>"><img src="<?php echo $this->getViewFileUrl('images/product/icon-download.png'); ?>"></a>
                   <h3><?php echo $attachment->getName() ?></h3>
                </div>
            <?php elseif ($attachment->getUrl()) : ?>
                <a class="c-product-detail__download-pdf" href="<?php echo $attachment->getUrl(); ?>" download title="<?php echo __('Download Product As Pdf');?>">
                    <span><?php echo __('Download');?></span>
                </a>
            <?php endif; ?>
        <?php endif; ?>
    <?php endforeach; ?>
    </div>
<?php endif; ?>