<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_imagehelper = $this->helper('Magento\Catalog\Helper\Image');
$image = 'category_page_grid';
$hover_image = 'category_page_grid-hover';
$_category_config = $this->helper('Smartwave\Porto\Helper\Data')->getConfig('porto_settings/category');
$_category_grid_config = $this->helper('Smartwave\Porto\Helper\Data')->getConfig('porto_settings/category_grid');
$_product_label_config = $this->helper('Smartwave\Porto\Helper\Data')->getConfig('porto_settings/product_label');
$move_actions = "";
$flex_grid = "";
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?php echo __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
    <?php
    $image_width = ($_category_config['ratio_width'])?$_category_config['ratio_width']:300;
    $image_height = ($_category_config['ratio_height'])?$_category_config['ratio_height']:300;
    ?>
    <div class="recommend-products">
        <div class="title">Product Recommendations</div>
        <div id="recommend-product">
            <div class="product-list owl-carousel">
            <?php foreach ($_productCollection as $_product): ?>
                <div class="recommend-product">
                    <a class="image-link" href="<?php echo $_product->getProductUrl() ?>">
                        <?php
                        if($_category_config['aspect_ratio']){
                            $productImage = $_imagehelper->init($_product, $image)->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize($image_width);
                        } else {
                            $productImage = $_imagehelper->init($_product, $image)->resize($image_width, $image_height);
                            $productImageUrl = $productImage->getUrl();
                        }
                        ?>
                        <img src="<?php echo $productImageUrl;?>" alt="<?php echo $productImage->getLabel(); ?>"/>
                    </a>
                    <div class="product-info">
                        <div class="product-name"><a class="image-link" href="<?php echo $_product->getProductUrl() ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?></a></div>
                        <div class="product-category"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'aka'); ?></div>
                        <a class="btn btn-default" href="<?php echo $_product->getProductUrl() ?>">More</a>
                    </div>
                </div>
            <?php endforeach; ?>
            </div>
        </div>
    </div>
<?php endif; ?>
    <script type="text/javascript">
        require([
            'jquery',
            'owl.carousel/owl.carousel.min'
        ], function ($) {
            $("#recommend-product .owl-carousel").owlCarousel({
                loop: true,
                margin: 10,
                autoplay: true,
                autoplayTimeout: 5000,
                autoplayHoverPause: true,
                navRewind: true,
                nav: true,
                dots: false,
                navText: ["<em class='porto-icon-angle-left'></em>","<em class='porto-icon-angle-right'></em>"],
                responsive: {
                    0: {
                        items:1
                    },
                    420: {
                        items:2
                    },
                    719: {
                        items:3
                    },
                    970: {
                        items:4
                    },
                    1170: {
                        items:5
                    }
                }
            });
        });
    </script>

