<div class="main container">
    <div class="row">
    	<div class="col-main col-sm-9">
    		<?php
				echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId("case-study-feature")->toHtml();
			?>
			<div class="category-description std">
				<?php echo $block->getChildHtml("case.study.tabs"); ?>
			</div>
			<?php echo $block->getChildHtml("case.study.category.products.list"); ?>
    	</div>
    	<div class="col-right sidebar col-sm-3">
    		<?php echo $block->getChildHtml("case.study.right.bar"); ?>
    	</div>
    </div>
</div>