<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$category = $objectManager->get('Magento\Framework\Registry')->registry('current_category');

if(!$category->getChildren()){
 $category = $category->getParentCategory();
}

$categories = $category->getCollection()
        ->addAttributeToSelect(array('name', 'thumbnail', 'custom_design_from', 'updated_at'))
        ->addAttributeToFilter('is_active', 1)
        ->addIdFilter($category->getChildren());
?>
<div class="block">
	<div class="block-content clearfix case-subcategories">
		<ul class="subcategories">
			<?php foreach ($categories as $category): ?>
				<li><?php 
				$dateValue = $category->getUpdatedAt();
				$time=strtotime($dateValue);
				$month=date("F",$time);//print_r($month);
				$y=date("Y",$time);//print_r($y);
				$day=date("d",$time);//print_r($day);
				?>
					<div class="post-date" style="margin-right: 10px; float: left; text-align: center;">
						<span class="day" style="color: rgb(57, 181, 74); font-size: 18px;"><?php echo $day; ?></span>
						<span class="month" style="display: block; background-color: rgb(57, 181, 74); color: rgb(255, 255, 255); font-size: 12px; line-height: 20px; box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.07) inset; padding: 0px 6px 2px;"><?php echo $month; ?></span>
					</div>
					<a href="<?php echo $category->getUrl() ?>">
						<span style="font-size: 18px;"><?php echo $category->getName() ?>
						<?php
							$productCollection = $objectManager->create('Magento\Catalog\Model\ResourceModel\Product\Collection');
							/** Apply filters here */
							$collection = $productCollection->addCategoryFilter($category)->load();
							echo "(".count($collection).")"; 
						?>
					   </span>
					</a>
					<p style="margin-top: 35px">Exclusive Automotive is breaking new ground as one of the first businesses to incorporate almost all LED lighting from LEDLights.co.uk</p>
					<a href="<?php echo $category->getUrl() ?>">
						<span style="font-size: 16px;font-weight: 300;"><?php echo __("Read case study >"); ?></span>
					</a>
					<p style="border-bottom: 1px solid #c3c3c4;margin-top: 20px;"></p>
				</li>
			<?php endforeach; ?>
		</ul>
	</div>
</div>
