<?php 
    $opportunity = $block->getCurrentCategory()->getCaseStudyOpportunity();
    $solution = $block->getCurrentCategory()->getCaseStudySolution();
    $benefit = $block->getCurrentCategory()->getCaseStudyBenefits();
?>
<div class="case-study-des">
	<h3>Opportunity</h3>
	<?php if($opportunity): ?>
        <?php echo $this->helper('Magento\Catalog\Helper\Output')->categoryAttribute($block->getCurrentCategory(), $opportunity, 'case_study_opportunity'); ?>
    <?php endif; ?>
	<h3>Solution</h3>
	 <?php if($solution): ?>
        <?php echo $this->helper('Magento\Catalog\Helper\Output')->categoryAttribute($block->getCurrentCategory(), $solution, 'case_study_solution'); ?>
    <?php endif; ?>
	<h3>Benefits</h3>
	<?php if($benefit): ?>
        <?php echo $this->helper('Magento\Catalog\Helper\Output')->categoryAttribute($block->getCurrentCategory(), $benefit, 'case_study_benefits'); ?>
    <?php endif; ?>
</div>