<?php
    $_helper = $this->helper('Magento\Catalog\Helper\Output');
    $_product = $block->getProduct();
    $_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $resource = $_objectManager->get('Magento\Framework\App\ResourceConnection');
    $tableName = $resource->getTableName('eav_attribute_option_swatch');
    $connection = $resource->getConnection();
    $sku_configurable = $_product->getSku();
    
    $productTypeInstance = $_objectManager->get('Magento\ConfigurableProduct\Model\Product\Type\Configurable');
    $productAttributeOptions = $productTypeInstance->getConfigurableAttributesAsArray($_product);
?>
<div class="wrap-sku-option">
	<ul class="list-option">
		<li><?php echo $sku_configurable;?></li>
<?
         foreach($productAttributeOptions as $key =>$value){
         	?>
         	<li>-</li>
         	<li class="attribute-id-<?php echo $value['attribute_id'];?>"><i>00</i>
         	<?php
         	foreach($value['values'] as $k =>$val){
         			$option_id = $val['value_index'];			      
			        $sql = "Select sku_option FROM " . $tableName. " WHERE option_id = ".$option_id;
			        $result = $connection->fetchAll($sql);
			        foreach($result as $ks =>$vals){?>
			        <span class="option-id-<?php echo $option_id;?>"><?php if(!is_null($vals['sku_option'])){  echo $vals['sku_option'];}else{ echo '00';}?></span>
			        <?php
			            
			        }
         	}?>	
         	</li>
     	<?php
     	}
     	
?>
	</ul>
</div>
<div class="select-option-success">
    <p><?php echo __('All of the details required to build your downlight are completed.');?></p>
    <p><?php echo __('You can now add to project or add to quote by clicking');?> </p>
</div>

