<?php
$galleryHelper         = $this->helper("Lof\Gallery\Helper\Data");
$imageHelper           = $this->helper("Lof\Gallery\Helper\Image");
$collection            = $block->getCollection();
$total                 = $collection->count();

$style                 = $block->getConfig('general_settings/style');
$skin                  = $block->getConfig('general_settings/skin');

$title                 = $block->getConfig('product_page/title');
$showName              = $block->getConfig('general_settings/show_name');
$showThumbnail         = $block->getConfig('general_settings/show_thumbnail');
$thumbnailHeight       = $block->getConfig('general_settings/thumbnail_height');
$thumbnailWidth        = $block->getConfig('general_settings/thumbnail_width');
$showDate              = $block->getConfig('general_settings/show_date');
$showImagecount        = $block->getConfig('general_settings/show_imagecount');
$showViewcount         = $block->getConfig('general_settings/show_viewcount');
$showSocialnetworks    = $block->getConfig('general_settings/show_socialnetworks');
$addthis_pub_id    	   = $block->getConfig('general_settings/addthis_pub_id');$showDescription       = $block->getConfig('general_settings/show_description');
$show_album_link = $block->getConfig('general_settings/show_album_link');
$show_album_link = ($show_album_link !== null && $show_album_link !='')?(int)$show_album_link:1;
$shortdescriptionCount = (int) $block->getConfig('general_settings/shortdescription_count');
$showCategory          = $block->getConfig('general_settings/show_category');

$rtl                   = $block->getConfig('product_page/rtl');
$loop                  = $block->getConfig('product_page/loop');
$autoplay              = $block->getConfig('product_page/autoplay');
$autoplayTimeout       = (int) $block->getConfig('product_page/autoplay_timeout');
$dots                  = $block->getConfig('product_page/dots');
$nav                   = $block->getConfig('product_page/nav');
$nav_prev              = $block->getConfig('product_page/nav_prev');
$nav_next              = $block->getConfig('product_page/nav_next');
$numberItem            = $block->getConfig('gallery_page/items_per_silde');
$large_max_items       = (int) $block->getConfig('product_page/large_max_items');
$large_items           = (int) $block->getConfig('product_page/large_items');
$portrait_items        = (int) $block->getConfig('product_page/portrait_items');
$tablet_items          = (int) $block->getConfig('product_page/tablet_items');
$tablet_small_items    = (int) $block->getConfig('product_page/tablet_small_items');
$mobile_items          = (int) $block->getConfig('product_page/mobile_items');
$blockId               = time() . rand();
?>
<?php if ($total) { ?>
<div class="gallery-block block widget gallery-widget gallery-lightbox-fancybox gallery-skin-<?php echo $skin ?> gallery-widget-<?php echo $style ?>">
	<?php if($title) { ?>
	<div class="block-title">
		<strong><?php echo $title ?></strong>
	</div>
	<?php } ?>
	<div class="block-content block-widget-content lgl-items">

		<ul class="albums-related owl-carousel owl-theme"
		data-large-max-items="<?php echo $large_max_items ?>"
		data-large-items="<?php echo $large_items ?>"
		data-portrait-items="<?php echo $portrait_items ?>"
		data-tablet-items="<?php echo $tablet_items ?>"
		data-tablet-small-items="<?php echo $tablet_small_items ?>"
		data-mobile-items="<?php echo $mobile_items ?>"
		<?php if ($autoplayTimeout) { ?>
		data-autoplay-timeout="<?php echo $autoplayTimeout ?>"<?php } ?>
		data-autoplay-pauonhover="true"
		data-autoplay="<?php echo $autoplay?'true':'false' ?>"
		data-responsive-refresh-rate="false"
		data-dots="<?php echo $dots?'true':'false' ?>"
		data-nav="<?php echo $nav?'true':'false' ?>"
		data-loop="<?php echo $loop?'true':'false' ?>"
		data-rtl="<?php echo $rtl?'true':'false' ?>"
		data-margin="10"
		data-nav-text-owlpre="<?php echo $nav_prev ?>"
		data-nav-text-owlnext="<?php echo $nav_next ?>">

		<?php if ($total) { ?>
		<?php $i = 0; ?>
		<?php foreach ($collection as $album) { ?>
		<div class="lgl-item">
			<div class="lgl-item-inner">
				<?php $thumbnail = $album->getThumbnail(); ?>
				<?php if($showThumbnail && $thumbnail) { ?>
				<?php $categories = $album->getCategoryCollection(); ?>
				<div class="lgl-item-media">
					<div class="lgl-item-media-inner">
						<?php
						if ($thumbnailWidth || $thumbnailHeight) {
							$imageSrc = $imageHelper->resizeImage($thumbnail['filelink'], $thumbnailWidth, $thumbnailHeight);
						} else {
							$imageSrc = $thumbnail['filelink'];
						}
						?>
						<img src="<?php echo $imageSrc ?>" alt="<?php echo $block->escapeHtml($thumbnail['label']) ?>" title="<?php echo $block->escapeHtml($thumbnail['label']) ?>"/>

						<?php
						$images = $album->getImages();
						?>
						<?php if (count($images)) { ?>
						<div class="lgl-hidden">
							<?php $x = 0; ?>
							<?php foreach ($images as $image) { ?>
							<?php if ($x < $numberItem && !$image['thumbnail']) { ?>
							<a class="lgl-fancybox" <?php if ($image['video_url']!='') { ?>data-fancybox-type="iframe"<?php } ?> rel="gallery<?php echo $i ?>" href="<?php echo $galleryHelper->getPopupUrl($image) ?>" title="<?php echo $block->escapeHtml($image['title']) ?>">
							</a>
							<?php $x++; ?>
							<?php } ?>
							<?php } ?>
						</div>
						<?php } ?>
					</div>
					<div class="lgl-item-links">
						<div class="lgl-item-link lgl-item-popup">
							<a class="lgl-fancybox" <?php if ($thumbnail['video_url']!='') { ?>data-fancybox-type="iframe"<?php } ?> rel="gallery<?php echo $i ?>" alt="<?php echo $block->escapeHtml($thumbnail['label']) ?>"  title="<?php echo $block->escapeHtml($thumbnail['video_title']?$thumbnail['video_title']:$thumbnail['title']) ?>" href="<?php echo $galleryHelper->getPopupUrl($thumbnail) ?>">
								<?php if ($thumbnail['video_url']!='') { ?>
								<i class="fa fa-play"></i>
								<?php } else { ?>
								<i class="fa fa-picture-o"></i>
								<?php } ?>
							</a>
						</div>
						<?php if($show_album_link && $album->getAlbumLink()) { ?>
						<div class="lgl-item-link lgl-item-link-detail">
							<a class="tg-link-button" href="<?php echo $album->getAlbumLink(); ?>" target="_self">
								<i class="fa fa-link"></i>
							</a>
						</div>
						<?php } ?>
					</div>
				</div>
				<?php } ?>
				<?php if ($showName || $showSocialnetworks || $showImagecount || $showDate || $showViewcount || $showDescription) { ?>
				<div class="lgl-item-content">
					<?php if ($showName) { ?>
					<h2 class="lgl-item-title">
						<a href="<?php echo $album->getAlbumLink(); ?>" title="<?php echo $block->escapeHtml($album->getName()); ?>" class="gallery-zoom album-title">
							<?php echo $album->getName(); ?>
						</a>
					</h2>
					<?php } ?>

					<?php if($showSocialnetworks && $addthis_pub_id) { ?>
					<div class="lgl-socials">
						<div class="addthis_toolbox addthis_default_style" data-title="<?php echo $block->escapeHtml($album->getName()); ?>" addthis:url="<?php echo $album->getAlbumLink(); ?>">
							<a class="addthis_button_facebook"></a>
							<a class="addthis_button_twitter"></a>
							<a class="addthis_button_google"></a>
							<a class="addthis_button_email"></a>
							<a class="addthis_button_pinterest_share"></a>
							<a class="addthis_button_compact"></a>
						</div>
					</div>
					<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=<?php echo $addthis_pub_id; ?>"></script>
					<?php } ?>

					<?php if ($showImagecount || $showDate || ($showCategory && ($categoryCount = $categories->count())) || $showViewcount) { ?>
					<div class="lgl-item-info">
						<?php if ($showImagecount) { ?>
						<div class="lgl-item-numimages lgl-item-info-item"><i class="fa fa-picture-o"></i><span><?php echo $album->getImageCount(); ?></span></div>
						<?php } ?>
						<?php if ($showDate) { ?>
						<?php $createdTime = $galleryHelper->getFormatDate($album->getCreatedAt(), 'long'); ?>
						<div class="lgl-item-date lgl-item-info-item"><i class="fa fa-clock-o"></i><span><?php echo $createdTime; ?></span></div>
						<?php } ?>
						<?php if ($showCategory && ($categoryCount = $categories->count())) { ?>
						<div class="lgl-item-cat lgl-item-info-item"><i class="fa fa-folder" aria-hidden="true"></i>
							<?php $z = 0; ?>
							<?php foreach ($categories as $_cat) { ?>
							<a href="<?php echo $_cat->getUrl()  ?>" title="<?php echo $block->escapeHtml($_cat->getName()) ?>"><?php echo $_cat->getName() ?></a><?php if ($z<($categoryCount-1)) echo __(', '); ?>
							<?php $z++; ?>
							<?php } ?>
						</div>
						<?php } ?>
						<?php if ($showViewcount) { ?>
						<div class="lgl-item-hits lgl-item-info-item"><i class="fa fa-eye"></i><span><?php echo (int) $album->getHits() ?></span></div>
						<?php } ?>
					</div>
					<?php } ?>

					<?php $shortDescription = $galleryHelper->subString($galleryHelper->filter($album->getDescription()), $shortdescriptionCount); ?>
					<?php if ($showDescription && $shortDescription) { ?>
					<p class="lgl-item-shortdescription">
						<?php echo $shortDescription; ?>
					</p>
					<?php } ?>
				</div>
				<?php } ?>
			</div>
		</div>
		<?php } ?>
		<?php } ?>
	</ul>
</div>
</div>
<?php } ?>