<?php
/**
 *  CART2QUOTE CONFIDENTIAL
 *  __________________
 *  [2009] - [2018] Cart2Quote B.V.
 *  All Rights Reserved.
 *  NOTICE OF LICENSE
 *  All information contained herein is, and remains
 *  the property of Cart2Quote B.V. and its suppliers,
 *  if any.  The intellectual and technical concepts contained
 *  herein are proprietary to Cart2Quote B.V.
 *  and its suppliers and may be covered by European and Foreign Patents,
 *  patents in process, and are protected by trade secret or copyright law.
 *  Dissemination of this information or reproduction of this material
 *  is strictly forbidden unless prior written permission is obtained
 *  from Cart2Quote B.V.
 * @category    Cart2Quote
 * @package     Quotation
 * @copyright   Copyright (c) 2018. Cart2Quote B.V. (https://www.cart2quote.com)
 * @license     https://www.cart2quote.com/ordering-licenses(https://www.cart2quote.com)
 */


/** @var $block \Magento\Catalog\Block\Product\View */
/** @var $quoteButton \Cart2Quote\Quotation\Block\Button */
?>
<?php $quoteButton = $block->addChild('quote_button', 'Cart2Quote\Quotation\Block\Button'); ?>
<?php $_product = $block->getProduct(); ?>
<?php $cartButtonTitle = __('Add to Cart'); ?>
<?php $quoteButtonTitle = __('Add to Quote'); ?>
<?php $validators = $block->escapeHtml(json_encode($block->getQuantityValidators())); ?>

<?php if ($_product->isSaleable() || $quoteButton->showQuoteButton()) : ?>
    <div class="box-tocart">
        <fieldset class="fieldset">

            <?php if ($block->shouldRenderQuantity()) : ?>
                <!-- Qty start -->
                <div class="field qty">
                    <label class="label" for="qty"><span><?php echo __('Qty') ?></span></label>

                    <div class="control">
                        <?php if ($_product->getTypeId() == \Magento\Bundle\Model\Product\Type::TYPE_CODE):?>
                        <input type="hidden"
                               name="qty"
                               id="qty"
                               maxlength="12"
                               value="<?php echo $block->getProductDefaultQty() * 1 ?>"
                               title="<?php echo __('Qty') ?>" class="input-text qty"
                               data-validate="<?php echo $validators ?>"
                        />
                         <?php else:?>
                         <input type="number"
                               name="qty"
                               id="qty"
                               maxlength="12"
                               value="<?php echo $block->getProductDefaultQty() * 1 ?>"
                               title="<?php echo __('Qty') ?>" class="input-text qty"
                               data-validate="<?php echo $validators ?>"
                        />   
                    <?php endif;?>
                    </div>
                </div>
                <!-- Qty stop -->
            <?php endif; ?>

            <div class="actions">

                <?php if ($_product->isSaleable()) : ?>
                    <!-- Cart button start -->
                    <button type="submit"
                            title="<?php echo $cartButtonTitle ?>"
                            class="action primary tocart"
                            data-role="addToCartButton"
                            id="product-addtocart-button">
                        <span><?php echo $cartButtonTitle ?></span>
                    </button>
                    <!-- Cart button stop -->
                <?php endif; ?>

                <?php if ($quoteButton->showQuoteButton() && !$quoteButton->showMessageNotLoggedIn()) : ?>
                    <!-- Quote button start -->
                    <button type="submit"
                            title="<?php echo $quoteButtonTitle ?>"
                            class="action tocart"
                            data-role="addToQuoteButton"
                            id="product-addtoquote-button">
                        <span><?php echo $quoteButtonTitle ?></span>
                    </button>
                    <!-- Quote button stop -->
                <?php elseif ($quoteButton->showMessageNotLoggedIn()) : ?>
                    <button id="product-addtoquote-button" disabled="disabled" class="action tocart">
                        <span><?php echo __('Please login to add to Quote.'); ?></span>
                    </button>
                <?php endif; ?>

                <?php echo $block->getChildHtml('', true) ?>
            </div>
        </fieldset>
    </div>
<?php endif; ?>


<?php if ($block->isRedirectToCartEnabled()) : ?>
    <script>
        require([
            'jquery',
            'mage/mage',
            'Magento_Catalog/product/view/validation',
            'Cart2Quote_Quotation/js/catalog-add-to-cart'
        ], function ($) {
            'use strict';
            var addToQuote = false;
            $('#product-addtoquote-button').click(function (e) {
                addToQuote = "<?php echo $block->getUrl('quotation/quote/add')?>";
            });

            $('#product_addtocart_form').mage('validation', {
                radioCheckboxClosest: '.nested',
                submitHandler: function (form) {
                    var widget = $(form).quotationAddToCart({
                        quoteFormUrl: addToQuote,
                        bindSubmit: false,
                        noAjax: false
                    });

                    widget.quotationAddToCart('submitForm', $(form));
                    addToQuote = false;
                    return false;
                }
            });
        });
    </script>
<?php else : ?>
    <script>
        require([
            'jquery',
            'mage/mage',
            'Magento_Catalog/product/view/validation',
            'Cart2Quote_Quotation/js/catalog-add-to-cart'
        ], function ($) {
            'use strict';
            var addToQuote = false;
            $('#product-addtoquote-button').click(function (e) {
                addToQuote = "<?php echo $block->getUrl('quotation/quote/add') ?>";
            });

            $('#product_addtocart_form').mage('validation', {
                radioCheckboxClosest: '.nested',
                submitHandler: function (form) {
                    var widget = $(form).quotationAddToCart({
                        quoteFormUrl: addToQuote,
                        bindSubmit: false
                    });

                    widget.quotationAddToCart('submitForm', $(form));
                    addToQuote = false;
                    return false;
                }
            });
        });
    </script>
<?php endif; ?>
<?php if ($_product->getTypeId() != \Magento\Bundle\Model\Product\Type::TYPE_CODE):?>
<?php
  $icon1 = $_product->getWattage();
  $icon2 = $_product->getDimmable();
  $icon4 = $_product->getConsumption();
  $icon5 = $_product->getBeam();
  $icon7 = $_product->getLife();
?>
  <div class="product-icon-attributes">
    <ul>
    <?php if(!is_null($icon1)):?>
      <li class="icon-1"><label><span><?php echo __('%1 Lumens', $icon1);?></span></label><i class="icon-attr">i</i></li>
    <?php endif;?>
    <?php if(!is_null($icon2)&& $icon2==13):?>
      <li class="icon-2" ><label>
          <span>
           <?php echo __('Dimmable Yes');?></span>
          </label>
        <i class="icon-attr">i</i>
      </li>
    <?php endif;?>
    <?php if(!is_null($icon4)):?>
      <li class="icon-4"><label><span><?php echo __('%1 Watts', $icon4);?></span></label><i class="icon-attr">i</i></li>
    <?php endif;?> 
     <?php if(!is_null($icon5)):?> 
      <li class="icon-5"><label><span><?php echo __('%1 Beam', $icon5);?></span></label><i class="icon-attr">i</i></li>
    <?php endif;?>
    <?php if(!is_null($icon7)):?> 
      <li class="icon-7"><label><span><?php echo __('%1', $icon7);?></span></label><i class="icon-attr">i</i></li>
    <?php endif;?> 
      <li class="icon-8"><label><span><?php echo __('5yr Warranty');?></span></label><i class="icon-attr">i</i></li>
      <li class="icon-9"><label><span><?php echo __('0.0mg Mercury');?></span></label><i class="icon-attr">i</i></li>
      <li class="icon-10"><label><span><?php echo __('&gt;80 CRI')?></span></label><i class="icon-attr">i</i></li>
  </ul>
</div>
<?php endif;?>