<?php
/**
 * Copyright © 2016 SW-THEMES. All rights reserved.
 */

?>
<?php
/**
 * Top menu for store
 *
 * @see \Smartwave\Megamenu\Block\Topmenu
 */
?>
<?php
    $_helper = $this->helper('Smartwave\Megamenu\Helper\Data');
    $_config = $_helper->getConfig('sw_megamenu');
    $columnsLimit = 0;
    $header_type = $_helper->getConfig('porto_settings/header/header_type');
?>
<?php $_menu = $block->getMegamenuHtml(); ?>

<nav class="desktop-nav" role="navigation">
    <?php echo $this->getChildHtml('custom.mega.menu'); ?>
</nav>
<nav class="mobile-nav" role="navigation">
    <?php echo $this->getChildHtml('custom.mega.menu'); ?>
</nav>
<script type="text/javascript">
    require([
        'jquery'
    ],function ($) {
        $(document).ready(function () {
            $(window).resize(function () {
                var width = $(window).width();
                if (width > 768){
                    $('.desktop-nav').addClass('sw-megamenu navigation');
                    $('.mobile-nav').removeClass('sw-megamenu navigation');
                } else {
                    $('.mobile-nav').addClass('sw-megamenu navigation');
                    $('.desktop-nav').removeClass('sw-megamenu navigation');
                     $('.extend-menu  ul > li').on('click',function(){
                        $(this).children('span').addClass('hightlight');
                     });
                }
            });
            var width = $(window).width();
            if (width > 768){
                $('.desktop-nav').addClass('sw-megamenu navigation');
                $('.mobile-nav').removeClass('sw-megamenu navigation');
            } else {
                $('.mobile-nav').addClass('sw-megamenu navigation');
                $('.desktop-nav').removeClass('sw-megamenu navigation');
            }
            $('.extend-menu  ul > li').on('click',function(){
                if (width <= 768){
                    $('.extend-menu  ul > li').children().find('span').removeClass('hightlight');   
                    $(this).children().find('span').addClass('hightlight');      
                }
                
             });
        })
    });
    require([
        'jquery',
        'Smartwave_Megamenu/js/sw_megamenu'
    ], function ($) {
        $(document).ready(function () {
            $(".sw-megamenu").swMegamenu();
        });
    });
</script>