@media only screen and (min-width: 320px){
	.page-layout-2columns-left .category-page-study{
	    width: 100% !important;
	    float: none !important;
	    -ms-flex-order: 2;
	    -webkit-order: 2;
	    order: 2;
	}

	.category-case-studies.page-layout-2columns-left #category-title h1{
	    text-transform: none;
	}

	.category-case-study.page-layout-2columns-left #category-title h1{
	    text-transform: none;
	}

	.catalog-category-view .case-study,
	.page-layout-case-study-layout .product-used{
		display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    position: relative;
	}

	.catalog-category-view .case-study .product-item{
		-moz-flex-basis: 100%;
	    -ms-flex-basis: 100%;
	    flex-basis: 100%;
	    max-width: 100%;
	}

	.page-layout-case-study-layout .product-used .product-item{
		-moz-flex-basis: 50%;
	    -ms-flex-basis: 50%;
	    flex-basis: 50%;
	    max-width: 50%;
	}
	.page-layout-case-study-layout .page-wrapper .container .sidebar{
		padding-right: 15px;
	}
	.catalog-category-view .case-study div.product-item-photo{
	    display: block;
	    position: relative;
	    overflow: hidden;
	    padding: 0;
	    border: 0;
	    border-radius: 0;
	}
	
	.catalog-category-view .products-grid .case-study .product-item-name,
	.catalog-category-view .products-grid .case-study .child-sub-name{
		 text-align: left;
		
	}
	.catalog-category-view .products-grid .case-study .product-item-name{
		 margin-top: 20px;
	}
	
	.catalog-category-view .products-grid .case-study .product-item-name .product-item-link{
		color: #000;
	    font-size: 18px;
	    font-weight: bold;
	     
	}
	
	.catalog-category-view .products-grid .case-study .product-item-name .product-item-link:hover{
		color: #39b54a;
	}

	.catalog-category-view .products-grid .case-study .location-icon {
	    background: url('../images/location.png') no-repeat;
	    padding: 0 8px;
	}

	.catalog-category-view .products-grid .case-study .child-sub-name{
		font-size: 16px;
	}

	.case-study .product-item-photo:before {
	    content: "";
	    background-color: rgba(57,177,74,0.6);
	    background-image: url('../images/icon-hidden.png');
	    background-repeat: no-repeat;
	    width: 100%;
	    height: 100%;
	    display: block;
	    position: absolute;
	    z-index: 3;
	    background-position: center;
	    opacity: 0;
	    cursor: pointer;
	}

	.case-study .product-item:hover .product-item-photo:before {
	    opacity: 1;
	}

	.catalog-category-view.page-layout-case-study-layout .page-main{
		display: none;
	}
	
	/*** This is Case Study ***/
	.case-study-icon{margin-bottom: 0px;margin-top: 28px;}
	.case-study-icon .case-img-area{float: left; width: 20%;}
	.case-study-icon .case-text-area h4{font-weight: 300; line-height: 1.45;font-size: 14px;}
	.case-study-icon .case-text-area h2{font-size: 34px; font-weight: 300; line-height: 0.85;margin: 0 0 5px;}
	.case-study-des h3{
		font-size: 16px;
		font-weight: 600;
		margin: 0 0 5px;
	    line-height: 1.35;
	    color: #777;
	}
	.case-study-banner{background-color: #00a9ea; min-height: 418px;}
	.case-study-banner .column-12{padding: 50px 0px;}
	.case-study-banner .case-img-area{float: left;clear: both;}
	.case-study-banner .case-img-area h2{
		text-align: left; 
		color: #ffffff; 
		font-size: 38px; 
		font-weight: 300; 
		padding: 40px 0px 20px;}
	.case-study-banner .case-img-area h4{
		text-align: left;
		font-weight: 300; 
		float: left; 
		margin-left: 10px; 
		line-height: 26px; 
		color: #ffffff;font-size: 14px;    
		margin: 0 0 5px;}
	.case-study-banner .case-img-area .text-area img{float: left;clear: both;}
	.case-study-banner .case-img-area p{color: #ffffff; margin-top: 60px; text-align: left; font-size: 16px;}

	
	/*** this slideshow ***/

	#thumbnail-slider { 
		overflow: hidden;
	    height:320px; 
	    display:inline-block;
	    padding:0px 0; /*Increse its value if want to move the arrows out of the div.inner */
	    position:relative;
	    -webkit-user-select: none;
	    user-select:none;
	}

	#thumbnail-slider div.inner {
	    border-radius:3px;
	   /* background-color:#444;*/
	    padding:0 12px;

	    /*the followings should not be changed */    
	    height:100%;  box-sizing:border-box;
	    position:relative;
	    overflow:hidden;
	    margin:0;
	}
	 
	#thumbnail-slider div.inner ul {    
	    /*the followings should not be changed */
	    position:relative;
	    left:0; top:0;
	    list-style:none;
	    font-size:0;
	    padding:0;
	    margin:0;
	    float:left!important;
	    width:auto!important;
	    height:auto!important;
	}
	#thumbnail-slider-next, #thumbnail-slider-prev, #thumbnail-slider-pause-play{display: none;}

	#thumbnail-slider ul li {
	    opacity:1;
	    display:block;
	  /*  border:3px solid transparent;*/
	    margin:16px 0; /* Spacing between thumbs*/

	    transition:all 0.5s;

	    text-align:center;
	    padding:0;
	    position:relative;
	    list-style:none;
	    box-sizing:content-box;
	    backface-visibility:hidden;

	    
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
	}

	#thumbnail-slider ul li.active {
	    border-color:white;    
		-webkit-filter: initial;
		filter: initial;
	}
	#thumbnail-slider li:hover {
	    border-color:rgba(255,255,255,0.5);   
		-webkit-filter: grayscale(50%);
		filter: grayscale(50%);
	}

	#thumbnail-slider .thumb {
	    width:100%;
	    height: 100%;
	    background-size:contain;
	    background-repeat:no-repeat;
	    background-position:center center;
	    display:block;
	    position:absolute;
	    font-size:0;
	}

	/* --------- navigation controls ------- */   
	/* The nav id should be: slider id + ("-prev", "-next", and "-pause-play") */  

	#thumbnail-slider-pause-play {display:none;} /*.pause*/

	#thumbnail-slider-prev, #thumbnail-slider-next
	{
	    position: absolute;
	    background-color:rgba(0,0,0,0.4);
	    width:100%;
	    height:30px;
	    line-height:30px;
	    text-align:center;
	    margin:0;
	    color:white;
	    z-index:10;
	    cursor:pointer;
	    transition:opacity 0.6s;
	    *background-color:#ccc;/*IE7 hack*/
	    backface-visibility:hidden;
	}

	#thumbnail-slider-prev {
	    top:0;
	}

	#thumbnail-slider-next {
	    bottom:0;
	}
	#thumbnail-slider-next.disabled, #thumbnail-slider-prev.disabled {
	    opacity:0.1;
	    cursor:default;
	}


	/* arrows */
	#thumbnail-slider-prev::before, #thumbnail-slider-next::before {
	    position:absolute;
	    content: "";
	    display: inline-block;
	    width: 10px;
	    height: 10px;
	    margin-left:-5px;
	    border-left: 4px solid white;
	    border-top: 4px solid white;
	}

	#thumbnail-slider-prev::before {
	    top:12px;
	    -ms-transform:rotate(-45deg);/*IE9*/
	    -webkit-transform:rotate(45deg);
	    transform: rotate(45deg);
	}

	#thumbnail-slider-next::before {
	    bottom:12px;
	    -ms-transform:rotate(135deg);/*IE9*/
	    -webkit-transform:rotate(-135deg);
	    transform: rotate(-135deg);
	}
	#ninja-slider {
	    width:580px;
	  /*  background:#333; */
	    padding: 0px;
		max-width:100%;
	    margin:0 auto;
	    overflow:hidden;
	    box-sizing:border-box;
	}

	#ninja-slider.fullscreen {
	    background:black;
	}

	#ninja-slider div.fs-icon {
	    top:10px;
	    right:6px;
	    width:60px;
	    height:26px;
	    background: rgba(0,0,0,0.3);
	    z-index:2;
	    color:white;
	    text-align:center;
	    font:bold 11px/26px arial;
	    border:1px solid rgba(255,255,255,0.3);
	    border-radius:2px;
	    opacity:0;
	    -webkit-transition:opacity 0.8s;
	    transition:opacity 0.8s;
	}

	#ninja-slider .slider-inner:hover div.fs-icon,
	#ninja-slider.fullscreen div.fs-icon {
	    opacity: 1;
	}

	#ninja-slider div.fs-icon::before {    
	    content:"EXPAND";
	    display:block;
	}

	#ninja-slider.fullscreen div.fs-icon::before {
	    content:"CLOSE";
	}

	#ninja-slider .slider-inner {
	    margin:0 auto;/*center-aligned */
	    font-size:0px;
	    position:relative;
	    box-sizing:border-box;
	}

	#ninja-slider.fullscreen .slider-inner {
	    width:100%;
	    max-width:950px;
	}

	#ninja-slider ul {
	    /*width:100%;*/
		height: 320px !important;
	    /*overflow:hidden;*/
	    position:relative;
	    list-style:none;
	    padding:0;
	    box-sizing:border-box;
	    touch-action:pan-y;
	}

	#ninja-slider li {
	    
	    width:100%;
	    height:100%;
	    top:0;
	    left:0;
	    position: absolute;
	    font-size:12px;
	    list-style:none;
	    margin:0;
	    padding:0;
	    opacity:0;
	    overflow:hidden;
	    box-sizing:border-box;
	    text-align: center;
	}

	#ninja-slider li.ns-show {
	    opacity:1;
	}


	/* --------- slider image ------- */  
	#ninja-slider .ns-img {
	    background-color:rgba(0,0,0,0.3);
	    background-size:contain;/*Note: If transitionType is zoom, it will be overridden to cover.*/

	    /*decorate border*/
	    box-shadow: 0 1px 5px rgba(0,0,0,.8),inset 0 0 2px rgba(255,255,255,.4);

	    cursor:default;
	    display:block;
	    position: absolute;
	    width:100%;
	    height:100%;
	    background-repeat:no-repeat;
	    background-position:center center;
	}


	/* ---------If there are videos ------- */ 
	#ninja-slider .video, .video-playbutton-layer 
	{
	    top:0; left:0; border:0;
	    width: 100%;height: 100%;
	    text-align: center;
	    background: black;
	    position: absolute;    
	}

	/* And if you have added the HTML: <div class="video-playbutton-layer"></div> */
	.video-playbutton-layer {
	    background: transparent url(../css-img/video.png) no-repeat center center;
	}

	/* And if you have YouTube or Vimeo */
	#ninja-slider div.stopVideoIcon 
	{
	    position:absolute;
	    width:30px;height:30px;
	    top:0;right:0px;
	    margin:0 0 6px 6px;
	    background:rgba(0,0,0,0.7);
	    border-bottom-left-radius:4px;
	    cursor:pointer;
	}
	#ninja-slider div.stopVideoIcon::before {
	    content:"+";
	    color:white;
	    font:bold 30px/30px arial;
	    -webkit-transform:rotate(45deg);
	    transform: rotate(45deg);
	    display:block;
	}


	/* ---------Arrow buttons ------- */   
	/* The arrow button id should be: slider id + ("-prev", "-next", and "-pause-play") */   
	#ninja-slider-pause-play { display:none;} 

	#ninja-slider-prev, #ninja-slider-next
	{
	    position: absolute;
	    display:inline-block;
	    width:42px;
	    height:56px;
	    line-height:56px;
	    top: 33%;
	    margin-top:-28px;
	   /* background-color:rgba(0,0,0,0.4);
	    background-color:#ccc\9;/*IE8 hack*/
	    backface-visibility:hidden;
	    color:white;
	    overflow:hidden;
	    white-space:nowrap;
	    -webkit-user-select: none;
	    user-select:none;
	    border-radius:2px;
	    z-index:10;
	    opacity:0.3; 
	    font-family:sans-serif;   
	    font-size:13px;
	    cursor:pointer;
	    -webkit-transition:all 0.7s;
	    transition:all 0.7s;
	}
	#ninja-slider-prev:hover, #ninja-slider-next:hover {
	    opacity:1;
	}

	#ninja-slider.fullscreen #ninja-slider-prev:hover, #ninja-slider.fullscreen #ninja-slider-next:hover {
	    width:90px;
	}

	#ninja-slider-prev {
	    left: 0;
	}

	#ninja-slider-next {
	    right: 0;
	}

	#ninja-slider.fullscreen #ninja-slider-prev {
	    left: -50px; 
	    opacity:1; 
	}
	#ninja-slider.fullscreen #ninja-slider-next {
	    right: -50px;
	    opacity:1; 
	}

	/*pagination within the prev/next buttons*/
	#ninja-slider-prev div {opacity:0;margin-left:30px;transition:opacity 0.7s;}
	#ninja-slider-next div {opacity:0;margin-right:30px;transition:opacity 0.7s;}
	#ninja-slider.fullscreen #ninja-slider-prev:hover div {opacity:1;}
	#ninja-slider.fullscreen #ninja-slider-next:hover div {opacity:1;}
	/* arrows */
	#ninja-slider-prev::before, #ninja-slider-next::before {
	    position: absolute;
	    top: 17px;
	    content: "";
	    display: inline-block;
	    width: 20px;
	    height: 20px;
	    border-left: 2px solid white;
	    border-top: 2px solid white;
	}

	#ninja-slider-prev::before {
	    -ms-transform:rotate(-45deg);/*IE 9*/
	    -webkit-transform:rotate(-45deg);
	    transform: rotate(-45deg);
	    backface-visibility:hidden;
	    left:14px;
	}

	#ninja-slider-next::before {
	    -ms-transform:rotate(135deg);/*IE 9*/
	    -webkit-transform:rotate(135deg);
	    transform: rotate(135deg);
	    backface-visibility:hidden;
	    right:14px;
	}



	/*------ pager(nav bullets) ------*/      
	/* The pager id should be: slider id + "-pager" */

	#ninja-slider-pager { display:none;}
	   

	#ninja-slider-pager, #ninja-slider-prev, #ninja-slider-next, #ninja-slider-pause-play
	{
	    -webkit-touch-callout: none;
	    -webkit-user-select: none;
	    user-select: none;
	}


	.page-title-study h1{
		color: #39b54a;
		font-size: 20px;
    	margin: 0 0 15px;
    	font-weight: 400;
    	line-height: 1.35;
	}

	.case-subcategories {
	    background: #e1e2e3;
	    margin-top: 30px;
	}

	.subcategories {
	    padding: 32px 16px;
	}

	.subcategories li{
		list-style: none;
	}

	.subcategories li a{
		color: #39b54a;
	}

	.three-study-content .artwork-top-container,
	.three-study-content .artwork-banner-img,
	.three-study-content .artwork-container,
	.three-study-content #artwork-form
	{
		display: none;
	}
}

@media only screen and (min-width: 480px){
	#ninja-slider-prev, #ninja-slider-next
	{
	    top: 50%;
	}
}

@media only screen and (min-width: 680px){
	.catalog-category-view .case-study .product-item{
		-moz-flex-basis: 50%;
	    -ms-flex-basis: 50%;
	    flex-basis: 50%;
	    max-width: 50%;
	}

	#ninja-slider-prev, #ninja-slider-next
	{
	    top: 33%;
	}
}

@media only screen and (min-width: 768px){
	.catalog-category-view .case-study .product-item{
		-moz-flex-basis: 33.33333333%;
	    -ms-flex-basis: 33.33333333%;
	    flex-basis: 33.33333333%;
	    max-width: 33.33333333%;
	}
}

@media screen and (max-width: 1200px){
	#thumbnail-slider {
	    display: none;
	}
}

