.ledlight-guide .spacing{
	margin-top:15px;
	margin-bottom:15px;
	text-align: center;
}
.modal-slide._show, .modal-popup._show{
	z-index: 9999!important;
}
.block-authentication .actions-toolbar>.primary .action{
	padding-top:10px!important;
}
.cart.table-wrapper .product-item-name{
	font-size:14px;
	color:#39B54A;
}
.product-item .old-price{
	display:none;
}
.filter-options-item.Price{
	display: none;
}
.product-add-form .product-options .select-dropdown-option select option{
	font-size:14px!important;
}
#layered-filter-block{
	display: none!important;
}
.search .hidden-label{
    display: none;
}
.entry-content a.btn.btn-primary.push-top{
	color: #fff !important;
}
.btn-primary{
	background-image:none!important;
	background-color:#39B54A!important;
	color:#fff!important;
	border:none!important;
}
.btn-primary:hover{
	opacity: 1;
}
@media (max-width: 768px){
	.page-wrapper .container .sidebar{
		display: none;
	}	
	#maincontent .tablet-full{
		width:100%;
	}
	.ledlight-guide .spacing{
		width: 50%;
		float: left;
	}
}
@media (max-width: 480px){
	.products-grid .product-item{
		width:100%;
	}
	.ledlight-guide .spacing{
		width: 100%;
	}
}

