body{
    overflow-x: hidden;
}
.cms-porto-home-5 .container{
    max-width: unset !important;
}
/*HEADER*/
.page-header{
    z-index: 999;
}
.page-header.type17 .container{
    max-width: unset !important;
}
.header.panel .header.links {
    margin: 0;
    padding: 0;
    list-style: none none;
    float: right;
    margin-left: auto;
    font-size: 0;
}
.header.panel .header.links > li.welcome, .header.panel .header.links > li > a {
    display: inline-block;
    line-height: 1.4;
    font-weight: 400 !important;
}
.header.panel .header.links > li{
    margin-bottom: 0;
    vertical-align: top;
    font-size: 11px;
    text-transform: uppercase;
    display: inline-block;
}
.header.panel .header.links > li:first-child > a, .header.panel .header.links > li:first-child > span {
    padding-left: 0;
    border-left: 0;
}
.header.panel .header.links > li > a, .header.panel .header.links > li > span {
    padding: 0 15px;
}
.logo{
    margin-right: 40px;
}
.page-header.type17 .block-search{
    position: static;
    margin: 0;
}
#search_mini_form{
    position: relative;
}
#search{
    height: 38px;
    border: 1px solid #6d6e71;
    border-radius: 20px;
}
#search::placeholder{
    color: rgb(51,51,51);
}
.page-header.type17 .block-search #search_mini_form .action.search{
    height: 38px;
    border-left: 1px solid #6d6e71;
}
.page-header.type17 .block-search #search_mini_form .action.search::before{
    color: rgb(51,51,51);
}
.page-header.type17 .nav-sections{
    color: #FFFFFF;
}
.page-header.type17 .custom-block > *{
    font-size: 14px;
    margin: 0;
    margin-top: 5px;
    font-weight: 400;
}
.cart-area{
    position: absolute;
    top: 50%;
    margin-top: -20px;
    z-index: 9;
    display: inline-block;
    height: 40px;
    right: 15px;
    text-align: right;
    vertical-align: middle;
}
.minicart-items .product-item-name a{
    color: #000000 !important;
}
.page-header.type17 .custom-block{
    position: unset;
    margin: 0;
    margin-right: 10px;
    top: unset;
    display: inline-block;
}
.page-header.type17 .minicart-wrapper{
    position: relative;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    left: 0;
    top: -3px;
    background: none;
    border: none;
    box-shadow: none;
    width: auto;
}
.page-header.header-newskin .minicart-wrapper .action.showcart{
    padding-right: 16px;
}
.icon-mini-cart{
    background-image: url(../images/icon-cart.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 40px;
    width: 40px;
    display: inline-block;
}
.page-header.header-newskin .minicart-wrapper .action.showcart::before, .page-header.header-newskin .minicart-wrapper .action.showcart.active::before{
    content: none;
}
.page-header.type17 .minicart-wrapper .action.showcart .counter.qty{
    background: none;
    color: white;
    position: absolute;
    top: 11%;
    margin: 0;
    left: 13px;
    font-size: 14px;
}
.page-header.type17 .minicart-wrapper .action.showcart::after{
    content: none;
}
/*MENU*/
#categories {
    background-color: transparent !important;
    padding:0;
    box-shadow: unset;
}
#categories > ul {
    width: 33.5%;
    background-color: #FFFFFF !important;
    box-shadow: 0 7px 10px -2px rgba(0,0,0,0.25);
}
header.page-header.sticky-header .navigation li.level0.parent > a::after{
    line-height: 48px !important;
}
header.page-header.sticky-header #showall > a:after{ line-height: 30px !important;}
#showall { background-color: rgb(0, 171, 236); border-radius: unset !important;}
#showall:hover > a { color: #FFFFFF !important;}
.sw-megamenu > ul > li > a { font-size: 14px !important; font-weight: 600!important; color: #ffffff !important;}
.sw-megamenu ul li div { padding: 0 !important;}
#categories ul:hover{ border-right:none}
.page-header.type17 .navigation .level0:hover > .level-top{
    background-color: transparent !important;
}
.page-header.type17 .navigation .level0{
    margin: 0;
}
.sw-megamenu ul li .subchildmenu{
    padding-top:15px;
    padding-bottom:15px;
}
.sw-megamenu ul li .subchildmenu .level2{
    width: 50% !important;
    display: inline-block;
}
.sw-megamenu ul li ul li {
    position: unset !important;
    width: 100%;
    padding: 0 10px !important;
    padding-bottom: 0px !important;
    margin: 0px !important;
    border-radius: unset !important;
    color: #39b24a !important;
}
#categories > ul > li {
    padding: 0 10px;
    border-bottom: 1px solid #ceecd2;
}
#categories .image_hover{ display: none !important; }
#categories > .black_image{ display: inline-block }
#categories > ul > li:hover .image_hover{ display: inline-block !important;}
#categories > ul > li:hover .black_image{ display: none !important;}
#categories > ul > li > a{
    width: 100%;
    padding-right: 0px !important;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    padding:7px 5px;
}
#categories .parent .level-top:after{
    content: '\f821';
    font-family: 'porto-icons';
    color: #39b24a !important;
    font-size: 14px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    line-height: 58px;
}
#categories .parent:hover .level-top:after{
    color: #FFFFFF !important;
}
.menu-slide-manager{
    width:50%;
    float:right;
}
.menu-slide-manager ul.slides li{
    padding:0px!important;
}
.menu-slide-manager ul.slides li a{ 
    padding:0px!important;
}
.menu-slide-manager  .flex-direction-nav{
    display: none;
}
.menu-slide-manager .flexslider .slides img{
    min-height: 130px;
}
.hdmx__contact-button{
    z-index: 99;
}
@media (min-width: 768px)
{
    #categories > ul > li > a > span{
        color: #39b24a;
        text-transform: uppercase;
    }
    #categories > ul > li > a:hover > span{
        text-decoration: none;
    }
    #categories > ul > li:hover > a > span{
        color: #FFFFFF;
    }
    #categories > ul > li:hover{
        background-color: #39b24a !important;
        color: #FFFFFF !important;
    }
    #categories > ul > li:hover > a {
        background-color: #39b24a !important;
        border: none;
    }
    #categories ul li div ul li:hover{ background-color: transparent !important;}
    #categories ul li div ul li:hover a{ background-color: transparent !important;}
    .sw-megamenu.navigation .subchildmenu.mega-columns.columns2 > li.level-first{
        width:28%;
    }
    .sw-megamenu .minicart-wrapper{
        display: none!important;
    }
    .sw-megamenu li.extend-menu{
        padding:12px 22px;
    }
    .sw-megamenu.navigation li.level0.fullwidth > .submenu, .sw-megamenu.navigation li.level0.staticwidth > .submenu{
        top:100%;
    }
}

.sw-megamenu ul li ul li .row {
    width: 200% !important;
    box-shadow: unset !important;
    padding: 0 !important;
    margin: 0 !important;
    background-color: transparent !important;
}

.sw-megamenu ul li ul li div .row {
    width:100% !important;
}
.sw-megamenu > ul > li:hover > a{
    color: #39b24a !important;
}
#categories ul li div ul{
    width: 100%;
    border: none !important;
    box-shadow: unset;
}
.sw-megamenu ul li ul li div ul li{
    border: none;
    display: inline-block;
    width: 50% !important;
    margin: 0px;
}
.sw-megamenu ul li ul li div ul li:hover{ background-color: transparent }
.sw-megamenu ul li ul li div ul li a{
    border: none;
    color: #000000 !important;
    font-size: 14px !important;
    font-weight: 600 !important;
}
.sw-megamenu ul li ul li div ul li a:hover{
    color: #000000 !important;
}
#categories ul li .submenu {
    width: 200% !important;
    padding: 0 !important;
    padding-bottom: 25px !important;
    padding-top: 15px !important;
    margin: 0 !important;
    height: 100%;
    margin-left: 3px !important;
}
.extend-menu .submenu .title{
    display: none;
}
#categories ul li .submenu .title{
    width: 100%;
    margin-left: 17px;
    font-size: 18px;
    color: #39b44a;
    font-weight: 600;
}
#categories ul li .level2 a{
    font-weight: 400!important;
    color: #303030;
}
#categories .menu-bottom-block{
    width: 100%;
    padding-bottom: 25px !important;
    position: absolute;
    bottom: 0;
}
.sw-megamenu ul li .menu-thumb-img{
    float: left;
}
.sw-megamenu ul li .menu-thumb-img a{
    padding: 0px !important;
}
#categories .menu-bottom-block .featured .product-image{
    display: inline-block;
    float: left;
}
#categories .menu-bottom-block .featured .product-info{

}

.sw-megamenu .row {
    width: 50%;
    display: inline-block;
    float: left;
}
.extend-menu .menu-bottom-block{
    position: absolute;
    right: 0;
    height: 100%;
}
.menu-bottom-block {
    background: #EAEAEA;
    padding-bottom: 55px;
    float: left;
    width: 50%;
}
.menu-bottom-block .featured {
    margin-left: 20px;
    margin-top: 25px;
}
.menu-bottom-block .featured .product-image{
    display: inline-block;
    float: left;
    padding: 10px !important;
    background-color: #FFFFFF;
    border: 2px solid #c9caca;
    border-radius: 8px;
}
.menu-bottom-block .featured .heading {
    font-size: 20px;
    font-weight: bold;
}
.menu-bottom-block .featured .product-info  {
    display: block;
    margin-left: 4%;
    float: left;
    width: 57%;
}
.menu-bottom-block .featured .product-info ul li{
    color: rgb(119, 119, 119)!important;
}
.menu-bottom-block .featured .product-info ul li:hover{
    color: rgb(119, 119, 119)!important;
}
.menu-bottom-block .featured .product-info .best-seller {
    color: #39b44a;
    font-size: 21px;
    font-weight: 600;
}
.menu-bottom-block .featured .product-info .product-name {
    color: #393f4f;
    font-size: 18px;
    line-height: 1;
    padding: 0;
    margin: 0;
}
.menu-bottom-block .prod-title {
    font-size: 15px;
    font-weight: bold;
}
.menu-bottom-block .product-info .list-tick {
    font-size: 13px;
    margin-top: 15px;
}
.menu-bottom-block .product-info .list-tick li {
    margin-top: 8px;
}
.menu-bottom-block a:hover {
    text-decoration: none;
}
.menu-bottom-block .featured .price {
    margin-top: 20px;
    font-size: 32px;
    color: #39b44a;
    width: 40%;
    float: left;
}
.menu-bottom-block .featured .more-info {
    width: 145px;
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background: #39b24a;
    color: #fff !important;
    border-radius: 5px;
    float: right;
    margin-top: 22px;
    margin-right: 25px;
}
.menu-bottom-block .featured .more-info:hover {
    line-height: 32px;
}
.menu-bottom-block .featured .more {
    display: block;
    clear: both;
}
.mobile-nav{
    display: none !important;
}
header.page-header.sticky-header .minicart-wrapper{
    text-align: right;
    right: -70px !important;
}
.page-header.type17.sticky-header .nav-sections{
    background-color: #393f4f;
}
header.page-header.sticky-header .sections.nav-sections{
    padding: 0 !important;
}
header.page-header.sticky-header #showall{
    line-height: 56px;
}
.page-header.type17 .panel.header li.compare{
    list-style: none;
    float: left;
}
.page-header.type17 .panel.header li.compare a{
    display: inline-block !important;
    color: #FFFFFF;
}
@media (max-width:1200px) {
    .page-header.type17 .custom-block{
        display: none;
    }
    .page-header.type17 > .main-panel-top .container{
        max-width: 970px !important;
    }
    .header.content, .navigation, .container{
        max-width: 970px !important;
    }
}
@media (max-width: 991px) and (min-width: 769px) {
    .page-header.type17 .block-search{
        width: calc(100% - 450px) !important;
        max-width: none;
    }
}
.top-links-icon{
    display: none;
}
@media (max-width: 768px) {
    nav.mobile-nav .level0{
        font-size: 13px;
    }
    .navigation .level0 .level-top img{
        width: 35%;
    }
    .page-header .panel.wrapper .top-links-area{
        display: inline-block;
        float: right;
    }
    .top-links-icon a{
        color: #FFFFFF !important;
    }
    .header.panel .header.links{
        margin: 0;
        position: absolute;
        right: 15px;
        border: 1px solid #777777;
        top: 28px;
        text-align: right;
        z-index: 1000;
        background-color: white;
        display: none;
    }
    .header.panel .header.links .greet.welcome{
        display: none;
    }
    .header.panel .header.links > li{
        display: block;
    }
    .header.panel .header.links > .link.wishlist{
        margin: 0;
    }
    .header.panel .header.links > li > a{
        color: #777777;
    }
    .top-links-icon{
        display: inline-block;
        float: right;
    }
    .page-header.type17{
        background-color: #FFFFFF;
    }
    .page-header.type17 .panel.header{
        max-width: 100%;
        padding: 10px 0;
        background-color: #39b24a;
    }
    .page-header .panel.wrapper{
        color: #FFFFFF;
    }
    .page-header .header.panel::before, .page-header .header.panel::after{
        content: '';
        display: table;
    }
    .panel.header .links, .panel.header .switcher{
        display: inline-block;
    }
    .page-header a, .page-header .panel.header .header.links > li > a{
        padding: 0 15px;
    }
    .main-panel-top .container{
        background-color: #39b24a;
    }
    .page-header.type17 .logo {
        position: absolute;
        left: 15px;
        order: 0;
        height: 65px;
        margin-top:-4px;
    }
    .header.content{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .cart-area{
        position: unset;
        margin-top: 0;
        order: 3;
    }
    .page-header.type17 .block-search .label::before, .page-header.type17 .nav-toggle::before {
        color: #000000;
    }
    .nav-toggle{
        order: 1;
    }
    .page-header.type17 .block-search{
        order: 2;
    }
    header.page-header .nav-sections-item-title, header.page-header .nav-sections-item-title{
        display: none;
    }
    header.page-header .nav-sections-item-content{
        margin-top: 0px;
    }
    .page-header.type17 .nav-sections, .page-header.header-newskin .nav-sections{
        background-color: #000000 !important;
    }
    .desktop-nav{
        display: none !important;
    }
    .mobile-nav{
        display: block !important;
    }
    .nav-toggle{
        display: inline-block !important;
    }
    .page-wrapper {
        display: block;
    }
    .nav-sections {
        -webkit-transition: left 0.3s;
        -moz-transition: left 0.3s;
        -ms-transition: left 0.3s;
        transition: left 0.3s;
        height: 100%;
        left: calc(-1 * (100% - 54px));
        overflow: auto;
        position: fixed;
        top: 0;
        width: 224px !important;
        background-color: #f6f6f6;
    }
    .nav-open .nav-sections{
        left: 0;
        z-index: 99;
    }
    .nav-open .page-wrapper {
        position: fixed;
        z-index: 3;
        left: 224px !important;
        overflow: visible;
    }
    .navigation .level0{
        display: block !important;
    }
    #categories > ul{
        width: 100%;
        background: none!important;
    }
    .navigation .submenu:not(:first-child) {
        font-weight: 400;
        line-height: 1.3;
        left: auto !important;
        overflow-x: hidden;
        padding: 0;
        position: relative;
        top: auto !important;
        transition: left 0.3s ease-out;
    }
    .menu-bottom-block{
        display: none;
    }
    .sw-megamenu.navigation li.ui-menu-item > .open-children-toggle{
        display: block;
        position: absolute;
        width: 42px;
        height: 100%;
        right: 0;
        top: 0;
        z-index: 1;
        cursor: pointer;
    }
    .sw-megamenu.navigation li.ui-menu-item.active > .open-children-toggle{
        right: auto;
        left: 0px;
    }
    .page-header.type17 .navigation .parent .level-top::after {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        line-height: inherit;
        color: inherit;
        content: '\f801';
        font-family: 'porto-icons';
        vertical-align: middle;
        display: inline-block;
        font-weight: normal;
        overflow: hidden;
        speak: none;
        text-align: center;
        position: absolute;
        font-size: 2.2rem;
        right: 22px;
        top: 0;
    }
    .navigation li.level0 > a.ui-state-active, .navigation li.level0 > a.ui-state-active + .submenu{
        background-color: #000000;
    }
    .navigation li.level0{
        border-top: none;
    }
    .sw-megamenu.navigation li.ui-menu-item{
        border:none;
        position: relative!important;
    }
    .level1 .subchildmenu{
        display: none !important;
    }
    .page-header.type17 .navigation li.level0:hover{
        color: #FFFFFF !important;
    }
    .page-header.header-newskin .navigation .level0 > .level-top{
        width: 100%;
    }
    .page-header.header-newskin .navigation .level0 > .level-top .black_image{
        display: none !important;
    }
    .sw-megamenu.navigation .submenu.level0 {
        height: 0;
        visibility: hidden;
        padding: 0 !important;
    }
    .sw-megamenu.navigation .submenu.level0.opened {
        visibility: visible;
        height: auto;
        border:none;
    }
    .page-header.type17 .nav-sections .navigation li a{
        color: #FFFFFF !important;
        font-weight: 400;
    }
    .page-header.type17 .navigation .level0 > .level-top{
        font-weight: 400;
        line-height: 60px;
        padding-top: 0;
        padding-bottom: 0;
        display: flex;
    }
    #categories > ul > li{
        border-bottom: none;
    }
    .page-header.type17 .navigation #categories .level0 .level-top{
        line-height: 1!important;
        padding:23px 6px 2px 5px;
    }
    .page-header.type17 .navigation #categories .level0:last-child .level-top{
        padding-bottom: 20px;
    }
    .page-header.type17 .navigation .level0 > .level-top.ui-state-active{
        background: #39b54a!important;
        padding-left:44px;
    }
    .page-header.type17 .navigation .level0:hover > .level-top.ui-state-active{
        background: #39b54a!important;
    }
    .navigation li.level0 .ui-menu-item > a:before{
        content:'';
        margin:0px;
    }
    .navigation .submenu:not(:first-child) ul > li{
        padding:0px!important;
    }
    .navigation .submenu:not(:first-child) ul{
        padding-left:0px!important;
        padding-top: 0px;
    }
    .sw-megamenu.navigation .level0.parent:hover > .submenu{
        overflow:hidden!important;
    }
    .sw-megamenu.navigation li.level0.fullwidth > .submenu, .sw-megamenu.navigation li.level0.staticwidth > .submenu{
        opacity: 1;
        background:none!important;
    }
    .page-header .sw-megamenu.navigation .subchildmenu.mega-columns.columns3 > li{
        width:100%;
    }
    .sw-megamenu li.extend-menu{
        padding:0px;
    }
    .page-header.type17 .navigation .level0 > .level-top span{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        text-transform: uppercase;
        font-weight: 600;
    }
    #categories > ul > li > a > span{
        color:#fff;
    }
    #categories > ul > li:hover,#categories > ul > li:hover > a{
        background:none!important;

    }
    .extend-menu  ul > li > a span.hightlight{
        color:#39b24a;
    }
    .sw-megamenu.navigation li.level0 .row{
        margin-left: 0px !important;
        width: 100%;
    }
    .sw-megamenu.navigation li.level0 .row .title{
        display: none;
    }
    .sw-megamenu.navigation .subchildmenu.mega-columns.columns2 > li{
        width: 100% !important;
    }
    .sw-megamenu.navigation .subchildmenu.mega-columns.columns4 > li{
        width: 100% !important;
    }
    .menu-slide-manager{
        display: none;
    }
    #showall{
        background: none;
    }
    #showall #categories .level-top::after{
        content:'';
    }
    #showall #categories{
        padding:0px 15px!important;
    }
    .page-header.type17 .navigation .parent .level-top.ui-state-active:after{
        right: auto;
        left: 20px;
        content:'\f802';
        margin-left:0px;
    }
    .navigation li.level0 > a.level-top{
        padding:13px 36px 13px 20px;  
    }
    .page-header.type17  .navigation li.level0 > a.level-top{
        padding-left:20px;
        
    }
    .navigation .level0 .submenu{
        position: unset !important;
    }
    .page-header.header-newskin .navigation li.level0.fullwidth .submenu li.level1 > a{
        color: #FFFFFF !important;
        font-weight: 600;
        font-size:14px;
        padding:19px 20px 0px 20px;
    }
    .page-header.type17 .block-search{
        width: unset;
    }
    #search{
        width: calc(100% - 30px);
        left: 15px;
        position: absolute;
        margin: 15px 0;
        top: 100%;
    }
    #search_mini_form{
        position: unset;
    }
    .page-header.type17 .block-search #search_mini_form .action.search{
        display: none;
    }
    /*#search::placeholder{
        color: transparent;
    }
    #search{
        left: 0;
        background: url("../images/search.png") no-repeat scroll;
        background-size: 30px;
        border: none;
        position: relative;
        margin: 0;
        padding: 0;
        color: transparent;
        width: 30px;
        border-radius: unset;
    }
    #search_mini_form .label{
        display: none;
    }
    .block-search .control{
        margin: 0 15px;
        padding: 0;
    }
    .nav-toggle{
        margin: 0;
    }*/
    .block-search .label{
        height: unset !important;
        position: unset !important;
        width: unset !important;
    }

}
@media (max-width:520px)
{
    .header.content{
        flex-wrap: wrap;
        margin-bottom: 0;
    }
    .nav-toggle{
        position: absolute;
        left: 15px;
        bottom: 0;
    }
    .page-header.type17 .logo{
        position: relative;
        margin-right: calc(100% - 250px);
        left: 0;
        max-width:unset;
    }
    .page-header.type17 .logo img{
        height: 65px;
        max-width: unset;
    }
}
.page-wrapper > .breadcrumbs{
    margin-bottom: 0 !important;
}
#category-title h1{
    color: #171717;
    font-size: 58px;
    font-weight: 200;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 20px;
}
.category-description{
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.home-slider .container{
    padding: 0;
}

.slider-with-side .side-area .item4{
    position: relative;
    overflow: hidden;
}
.hidden-img{
    display: none;
}
.slider-with-side .side-area .item1, .slider-with-side .side-area .item2, .slider-with-side .side-area .item3, .slider-with-side .side-area .item4{
    height: 40px;
    margin-bottom: 0!important;
    background-color: #d1d2d4;
    border-bottom: 1px solid #FFFFFF;
    display: table;
    width: 24.75%;
}
.slider-with-side .side-area .item1 label, .slider-with-side .side-area .item2 label, .slider-with-side .side-area .item3 label, .slider-with-side .side-area .item4 label{
    display: table-cell;
    vertical-align: middle;
    font-weight: 300;
     color: #000;

}
.slider-with-side .side-area .item1 img, .slider-with-side .side-area .item2 img, .slider-with-side .side-area .item3 img, .slider-with-side .side-area .item4 img{
    margin: 4px 5px 0px 35px;
    width: 31px;
}
.slider-with-side .side-area .item3 img, .slider-with-side .side-area .item4 img{
    margin: 4px -12px 0px 35px;
}
#banner-slider-demo-5 .owl-controls{
    display: none;
}
#banner-slider-demo-5 .owl-stage-outer .owl-item img{
    width: 100%;
}
@media (max-width: 1200px) {
    .slider-with-side .slider-area{
        width: 100%;
    }
}
.block-lighting-selector {
    margin-top: 20px;
}
.block-lighting-selector .lighting-selector-wrapper {
    width: 100%;
    height: 110px;
    display: inline-block;
    background-color: #36aae1;
}
.block-lighting-selector .lighting-selector-main {
    width: 100%;
    height: 110px;
    display: inline-block;
    -webkit-transition: width 0.4s ease-in-out;
    -moz-transition: width 0.4s ease-in-out;
    -o-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.block-lighting-selector .lighting-selector-main.active.active-room {
    width: 760px;
}
.block-lighting-selector .lighting-selector-main.active.active-room .section-room {
    left: 0px;
}
.block-lighting-selector .lighting-selector-main.active.active-base .section-base {
    left: 0px;
}
.block-lighting-selector .lighting-selector-main.active.active-shape .section-shape {
    left: 0px;
}
.block-lighting-selector .lighting-selector-main.active .selector-left {
    padding: 24px 20px 22px 80px;
    cursor: pointer;
}
.block-lighting-selector .lighting-selector-main.active .selector-left label {
    cursor: pointer;
}
.block-lighting-selector .lighting-selector-main.active .start-here {
    display: none;
}
.block-lighting-selector .lighting-selector-main.active .start-again {
    display: inline-block;
}
.block-lighting-selector .lighting-selector-main.active .selector-right .section-root {
    left: 100%;
}
.block-lighting-selector .start-here {
    position: relative;
}
.block-lighting-selector .start-here::after {
    content: "";
    width: 70px;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 5px;
    right: -65px;
    z-index: 2;
    background-image: url('../images/icon-black-start-here.png');
    background-repeat: no-repeat;
    background-size: auto 50px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.block-lighting-selector .start-again {
    display: none;
    position: relative;
}
.block-lighting-selector .start-again::after {
    content: "";
    width: 70px;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 5px;
    left: -65px;
    z-index: 99;
    background-image: url('../images/icon-black-start-again.png');
    background-repeat: no-repeat;
    background-size: auto 50px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.block-lighting-selector .start-again label {
    font-weight: 100;
}
.block-lighting-selector .selector-left {
    float: left;
    padding: 24px 40px 22px 20px;
    text-align: left;
    width: 200px;
}
.block-lighting-selector .selector-left:hover .start-here::after {
    background-image: url('../images/icon-white-start-here.png');
}
.block-lighting-selector .selector-left:hover .start-again::after {
    background-image: url('../images/icon-white-start-again.png');
}
.block-lighting-selector .selector-left:hover .start-again label {
    font-weight: 100;
}
.block-lighting-selector .selector-left label {
    width: 100%;
    display: inline-block;
    font-size: 28px;
    font-weight: 100;
    color: #000000;
    padding-bottom: 7px;
}
.block-lighting-selector .selector-left span {
    width: 100%;
    display: inline-block;
    font-size: 14px;
    font-weight: 100;
    color: #000000;
}
.block-lighting-selector .selector-right {
    float: left;
    width: calc(100% - 200px);
    width: -o-calc(100% - 200px);
    width: -moz-calc(100% - 200px);
    width: -webkit-calc(100% - 200px);
    overflow: hidden;
    position: relative;
    height: 110px;
    display: inline-block;
}
.block-lighting-selector .selector-right .section-root {
    position: relative;
    left: 0px;
    -webkit-transition: left 0.45s ease-in-out;
    -moz-transition: left 0.45s ease-in-out;
    -o-transition: left 0.45s ease-in-out;
    transition: left 0.45s ease-in-out;
}
.block-lighting-selector .selector-right .section-base,
.block-lighting-selector .selector-right .section-shape,
.block-lighting-selector .selector-right .section-room {
    display: inline-block;
    left: -110%;
    position: absolute;
    top: 0;
    z-index: 9;
    width: 100%;
    overflow: hidden;
    -webkit-transition: left 0.45s ease-in-out;
    -moz-transition: left 0.45s ease-in-out;
    -o-transition: left 0.45s ease-in-out;
    transition: left 0.45s ease-in-out;
}
.block-lighting-selector .selector-right .section-base li::after,
.block-lighting-selector .selector-right .section-shape li::after,
.block-lighting-selector .selector-right .section-room li::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    z-index: 999;
    cursor: pointer;
}
.block-lighting-selector .selector-right .section-base li a label,
.block-lighting-selector .selector-right .section-shape li a label,
.block-lighting-selector .selector-right .section-room li a label {
    font-family: arial;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 0px 0px 0px;
    position: absolute;
    left: 0px;
    right: 0px;
    display: inline-block;
}
.block-lighting-selector .selector-right .section-base li,
.block-lighting-selector .selector-right .section-shape li {
    width: calc(100% / 10);
    width: -o-calc(100% / 10);
    width: -moz-calc(100% / 10);
    width: -webkit-calc(100% / 10);
    float: left;
}
.block-lighting-selector .selector-right .section-room li {
    padding-left: 5px;
    padding-right: 5px;
}
.block-lighting-selector .selector-right ul {
    display: inline-block;
    left: 0;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
    white-space: nowrap;
}
.block-lighting-selector .selector-right ul > li {
    display: inline-block;
    position: relative;
    background: transparent;
    border: none;
    height: 110px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 0px;
}
.block-lighting-selector .selector-right ul > li.choose-by-shape::before {
    content: "";
    width: 1px;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 90;
    background-color: #FFFFFF;
}
.block-lighting-selector .selector-right ul > li.choose-by-shape::after {
    background-color: #36aae1;
    color: #000;
    content: "OR";
    font-size: 24px;
    font-weight: 100;
    left: 0;
    line-height: 100%;
    padding: 5px;
    position: absolute;
    top: 40px;
    z-index: 92;
    margin-left: -20px;
}
.block-lighting-selector .selector-right ul > li.choose-by-shape > a span.vg-icon {
    background-position: -463px -14px;
}
.block-lighting-selector .selector-right ul > li.choose-by-room::before {
    content: "";
    width: 1px;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 90;
    background-color: #FFFFFF;
}
.block-lighting-selector .selector-right ul > li.choose-by-room::after {
    background-color: #36aae1;
    color: #000;
    content: "OR";
    font-size: 24px;
    font-weight: 100;
    left: 0;
    line-height: 100%;
    padding: 5px;
    position: absolute;
    top: 40px;
    z-index: 92;
    margin-left: -20px;
}
.block-lighting-selector .selector-right ul > li.choose-by-room ul {
    width: auto;
}
.block-lighting-selector .selector-right ul > li.choose-by-room ul li {
    padding-left: 5px;
    padding-right: 5px;
}
.block-lighting-selector .selector-right ul > li.choose-by-room > a span.vg-icon {
    background-position: -564px -14px;
}
.block-lighting-selector .selector-right ul > li.gu10 a span.vg-icon {
    background-position: -33px -90px;
}
.block-lighting-selector .selector-right ul > li.mr16 a span.vg-icon {
    background-position: -128px -90px;
}
.block-lighting-selector .selector-right ul > li.mr11 a span.vg-icon {
    background-position: -225px -90px;
}
.block-lighting-selector .selector-right ul > li.t5-t8 a span.vg-icon {
    background-position: -322px -90px;
}
.block-lighting-selector .selector-right ul > li.g9 a span.vg-icon {
    background-position: -418px -90px;
}
.block-lighting-selector .selector-right ul > li.g4 a span.vg-icon {
    background-position: -514px -90px;
}
.block-lighting-selector .selector-right ul > li.e27 a span.vg-icon {
    background-position: -610px -90px;
}
.block-lighting-selector .selector-right ul > li.e14 a span.vg-icon {
    background-position: -705px -90px;
}
.block-lighting-selector .selector-right ul > li.b22 a span.vg-icon {
    background-position: -799px -90px;
}
.block-lighting-selector .selector-right ul > li.b15 a span.vg-icon {
    background-position: -896px -90px;
}
.block-lighting-selector .selector-right ul > li.spotlight a span.vg-icon {
    background-position: -33px -180px;
}
.block-lighting-selector .selector-right ul > li.standard a span.vg-icon {
    background-position: -128px -180px;
}
.block-lighting-selector .selector-right ul > li.candle a span.vg-icon {
    background-position: -225px -180px;
}
.block-lighting-selector .selector-right ul > li.golf-ball a span.vg-icon {
    background-position: -322px -180px;
}
.block-lighting-selector .selector-right ul > li.reflector a span.vg-icon {
    background-position: -418px -180px;
}
.block-lighting-selector .selector-right ul > li.capsule a span.vg-icon {
    background-position: -514px -180px;
}
.block-lighting-selector .selector-right ul > li.strip a span.vg-icon {
    background-position: -610px -180px;
}
.block-lighting-selector .selector-right ul > li.bar a span.vg-icon {
    background-position: -705px -180px;
}
.block-lighting-selector .selector-right ul > li.panel a span.vg-icon {
    background-position: -799px -180px;
}
.block-lighting-selector .selector-right ul > li.flood a span.vg-icon {
    background-position: -896px -180px;
}
.block-lighting-selector .selector-right ul > li.kitchen a span.vg-icon {
    background-position: -270px -255px;
}
.block-lighting-selector .selector-right ul > li.bathroom a span.vg-icon {
    background-position: -367px -255px;
}
.block-lighting-selector .selector-right ul > li.bedroom a span.vg-icon {
    background-position: -462px -255px;
}
.block-lighting-selector .selector-right ul > li.living a span.vg-icon {
    background-position: -558px -255px;
}
.block-lighting-selector .selector-right ul > li.outdoors a span.vg-icon {
    background-position: -655px -255px;
}
.block-lighting-selector .selector-right ul > li.commercial a label {
    font-size: 12px;
}
.block-lighting-selector .selector-right ul > li.commercial a span.vg-icon {
    background-position: -750px -255px;
}
.block-lighting-selector .selector-right ul > li a {
    color: #000000;
    display: inline-block;
    font-size: 14px;
    line-height: 100%;
    padding-top: 18px;
    position: relative;
    font-weight: 100;
    height: 100%;
}
.block-lighting-selector .selector-right ul > li a label {
    font-size: 14px;
    line-height: 100%;
    font-weight: 100;
    text-align: left;
    color: #000000;
    padding: 10px 0px 0px 15px;
    cursor: pointer;
}
.block-lighting-selector .selector-right ul > li a label i {
    font-style: normal;
}
.block-lighting-selector .selector-right ul > li a span {
    font-weight: 100;
    font-size: 24px;
    color: #000000;
    display: flex;
    line-height: 100%;
    padding-top: 2px;
    padding-left: 15px;
}
.block-lighting-selector .selector-right ul > li a span.vg-icon {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    background-image: url(../images/icon-lighting-selector.png);
    background-repeat: no-repeat;
    background-position: -365px -10px;
    border: 2px solid #FFFFFF;
    width: 75px;
    height: 75px;
    display: inline-block;
    color: #FFFFFF;
    text-indent: -999px;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    float: left;
}
.block-lighting-selector .selector-right ul li:hover > a,
.block-lighting-selector .selector-right ul li.is-click > a {
    text-decoration: none;
}
.block-lighting-selector .selector-right ul li:hover > a span.vg-icon,
.block-lighting-selector .selector-right ul li.is-click > a span.vg-icon {
    background-color: #00aeef;
}
.block-lighting-selector .selector-right ul li a:active span.vg-icon {
    background-color: #00aeef;
}
@media screen and (max-width: 1280px) {
    .block-lighting-selector .selector-right .section-base ul,
    .block-lighting-selector .selector-right .section-shape ul {
        width: 940px;
    }
}
@media screen and (max-width: 990px) {
    .block-lighting-selector .lighting-selector-main.active.active-room {
        width: 100%;
    }
    .block-lighting-selector .selector-left {
        display: none;
    }
    .block-lighting-selector .selector-right {
        width: 100%;
    }
    .block-lighting-selector .selector-right .section-base ul > li a,
    .block-lighting-selector .selector-right .section-shape ul > li a,
    .block-lighting-selector .selector-right .section-room ul > li a {
        padding-top: 20px;
    }
    .block-lighting-selector .selector-right .section-room ul {
        width: 540px;
    }
    .block-lighting-selector .selector-right ul > li.choose-by-shape::before,
    .block-lighting-selector .selector-right ul > li.choose-by-room::before,
    .block-lighting-selector .selector-right ul > li.choose-by-shape::after,
    .block-lighting-selector .selector-right ul > li.choose-by-room::after {
        display: none;
    }
    .block-lighting-selector .selector-right ul > li a {
        text-align: center;
        padding-top: 10px;
    }
    .block-lighting-selector .selector-right ul > li a span.vg-icon {
        float: none;
        height: 72px;
    }
    .block-lighting-selector .selector-right ul > li a label {
        font-size: 13px;
        display: block;
        padding: 2px 0px 0px;
    }
    .block-lighting-selector .selector-right ul > li a label i {
        display: none;
    }
    .block-lighting-selector .selector-right ul > li a label span {
        font-size: 13px;
        font-weight: 100;
        display: inline-block;
    }
}
@media screen and (max-width: 380px) {
    .block-lighting-selector .selector-right .section-root ul > li.col-xs-4 {
        padding-left: 0px;
        padding-right: 0px;
    }
}
header.page-header.sticky-header .minicart-wrapper{
    left: unset;
}
header.page-header.sticky-header .navigation{
    padding: 0!important;
}
.category_sidebar-promise {
    display: flex;
}
.category_sidebar-promise .col-md-12 {
    background-color: #e3e4e5;
    margin-bottom: 2px;
    padding: 0;
}
.category_sidebar-promise .col-md-12 img {
    float: left;
    margin-left: 20px;
}
.category_sidebar-promise .col-md-12 .text-area {
    float: left;
    padding: 20px 0;
    width: 65%;
}
.category_sidebar-promise .col-md-12 .text-area h3 {
    font-size: 18px;
    font-weight: 600;
    color: #58595b;
}
.category_sidebar-promise .col-md-12 .text-area p {
    color: #58595b;
    font-size: 12px;
    margin-bottom: 0;
    margin-left: 10px;
}
.asidebar-payment-mothod .category-payment-box {
    margin-bottom: 12px;
    border: 1px solid #c7c8ca;
    padding: 25px 10px;
}

.asidebar-payment-mothod .category-payment-box:first-child img {
    margin-top: 10px;
}
.asidebar-payment-mothod .category-payment-box:last-child img {
    margin-top: 10px;
}
.asidebar-payment-mothod {
    margin-top: 12px;
}
.asidebar-payment-mothod .payment-box {
    margin-bottom: 12px;
    border: 1px solid #c7c8ca;
    padding: 25px 10px;
    text-align: center;
}
.asidebar-payment-mothod .payment-box:first-child {
    background-color: #ecf7ed;
}
.asidebar-payment-mothod .payment-box:first-child img {
    margin-bottom: 40px;
}
.asidebar-payment-mothod .payment-box:first-child p img {
    margin-left: 10px;
    margin-bottom: 0px;
}
.asidebar-payment-mothod .payment-box:last-child img {
    margin-top: 45px;
}
.asidebar-payment-mothod .payment-box p {
    margin-bottom: 0px;
    font-size: 12px;
    color: #231f20;
    font-weight: 500;
    font-family: arial;
}
.sidebar.sidebar-main::before{
    content: none !important;
}
.sidebar.sidebar-main #layered-filter-block-container{
    margin-top: 14px;
    border: solid 1px #dae2e6;
    margin-bottom: 40px;
}
.sidebar.sidebar-main #layered-filter-block-container #layered-filter-block{
    margin-bottom: 0;
}
.sidebar.sidebar-main #layered-filter-block-container .filter-options-content{
    border: none;
    padding-top: 30px;
}
.sidebar.sidebar-main .sidebar-filterproducts{
    border: none;
    margin: 0;
}
.sidebar.sidebar-main .block-category-list{
    border: solid 1px #dae2e6;
}
.sidebar .product-items .product-item-info .product-item-photo{
    border: 1px solid #ddd;
    border-radius: 7px;
}
.block-minicart .block-content > .actions{
    margin-top: 34px;
}
.block-minicart .block-content > .actions .action.viewcart{
    background-color: #39B54A;
}

.block-minicart .block-content > .actions .action.viewcart span{
    font-family: "Oswald";
}
.page-wrapper .container .sidebar{
    padding-right: 0;
}
.page-wrapper .container .sidebar .custom-block{
    padding: 0;
}


.artwork-banner{
    background: url(../images/artworks-banner.png);

}
.artwork-text-banner{
    text-align: left; color:#fff;
}
.artwork-title-banner{
    color: #fff;
    font-size: 38px;
    font-weight: 300;
    padding-bottom: 20px;
    text-align: left;
}

ul.cate_links li{
    color: #171717;
    font-size: 14px;
}
ul.cate_links li h3{
    color: #171717; margin-bottom: 12px;
}
.artwork-bottom{
    width:80%;float: right; color: #fff;
}
.artwork-bottom .title{
    font-size: 16px;font-weight: 600;
}
.artwork-bottom ul.cate_links_bot li{
    font-size: 11px;
}
ul.cate_links_top li{
    color: #fff;
}
.category_sidebar-promise .col-md-12 {
    background-color: #e3e4e5;
    margin-bottom: 2px;
    padding: 0;
}
.category_sidebar-promise .col-md-12 img {
    float: left;
    margin-left: 20px;
}
.category_sidebar-promise .col-md-12 .text-area {
    float: left;
    padding: 20px 0;
    width: 65%;
}
.category_sidebar-promise .col-md-12 .text-area h3 {
    font-size: 18px;
    font-weight: 600;
    color: #58595b;
}
.category_sidebar-promise .col-md-12 .text-area p {
    color: #58595b;
    font-size: 12px;
    margin-bottom: 0;
    margin-left: 10px;
}
.banner-title{
    height:112px;background: #39b24a;
}
.banner-title h2{
    color:#fff;font-size: 90px;font-weight: 200;line-height: 112px;
}
.product-information .product-text h1{
    color: #171717;
    font-size: 58px;
    font-weight: 200;
}
.artwork-form{
    text-align: left;font-size: 14px;color: #ffffff;line-height: 30px;
}
.artwork-price-save{
    width:30%;float:left;position: relative; right: 348px;top:32px;
}
.product-information .product-text{
    float: left;
    position: relative;
    z-index: 10;
}
.category-products .toolbar .sorter .sort-by{width:100%;line-height: 20px;}
.toolbar .art-product-sort{
    position: unset; left: 50%; top: 30px; line-height: 30px; width: 170px;float:left;
}
.toolbar .art-product-sort .product-sort-by{
    position: relative; left: 0; top: 0;
    padding-right: 25px;
}
.toolbar .art-product-sort .product-sort-by i{
    height: 25px;
    width: 25px;
    position: absolute;
    right: -54px;
    top: 3px;
    background: url(../images/sort-arrow.png) center center no-repeat;
}
.toolbar .art-product-sort .product-sort-by span{
    color: rgb(57, 178, 74); font-weight: 200; font-size: 17px; line-height: 25px;text-overflow: ellipsis;
    white-space: nowrap;position: absolute;
    overflow: hidden;
    /*  max-width: 170px; */
}
.toolbar .art-product-sort select{
    opacity: 0;
    position: unset;
    z-index: 10;
    width: 220px;left:0px;
    height: 30px;position:relative;top:-5px;
}
.toolbar .product-sort-info{
    position: unset; top: 25px;float: right; font-size: 24px; color: rgb(23, 23, 23); font-weight: 200;
}
.toolbar .product-sort-info img, .toolbar .product-sort-info span{
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
}
#artwork-top-bl{
    text-align:left; border-left: 1px solid #fff; border-right: 1px solid #fff;
}
.artwork-top-bl{
    width:69%;float: left; padding-top: 20px; margin-left: 15px;
}
.i-advice-bottom{
    text-align:left; border-left:1px solid #fff; border-right:1px solid #fff; padding: 15px 15px 15px 40px;
}
.artwork-less-energy{
    position: relative; top: 58px; float: right; right: -44px;
}
.artwork-last-up{
    position: relative;top: 394px; float: left; left: 64px;
}
.artwork-form-info{
    width:70%;float:left;
}
.asidebar-payment-mothod .category-payment-box {
    margin-bottom: 12px;
    border: 1px solid #c7c8ca;
    padding: 25px 10px;
}

.asidebar-payment-mothod .category-payment-box:first-child img {
    margin-top: 10px;
}
.asidebar-payment-mothod .category-payment-box:last-child img {
    margin-top: 10px;
}
.banner-overview-info {
    height:158px;background: #e9d5c4;opacity: 0.6;
}
#artwork-form .container .page-title h2{
    color: rgb(57, 178, 74); font-size: 25px; font-weight: 200;
}
.artwork-form-firt{
    margin-top: 15px;margin-bottom: 2px;
}
.artwork-form-sec{
    margin-top: 10px;margin-bottom: 10px;
}
.artwork-form-th{
    margin-top: 2px;margin-bottom: 10px;
}
.list-price-sav{
    position: absolute; text-align: left; left: 181px; padding-top: 25px; max-width: 60%; width: 350px;
}
.list-price-sav h2{
    color: rgb(57, 178, 74); font-weight: 200; font-size: 24px;
    margin-bottom: 20px;
}
.list-price-sav span.text{
    font-size: 18px;line-height: 12px;
}
.list-price-sav span.qty{
    font-size: 19px;
}
.list-room-sav{
    color: rgb(57, 178, 74); max-width: 40%; width: 275px; position: absolute; padding-top: 17px; right: 186px;font-size: 32px; text-align: left;
}
.list-room-sav span.price{
    line-height: 45px; float: left; color: rgb(57, 178, 74); font-size: 60px; font-weight: 600;
}
.living-room-save{margin: auto;max-width:100%;}
.bath-room-save{margin: auto;max-width:100%; display:none;}
.bedroom-save{margin: auto;max-width:100%; display:none;}
.kitchen-room-save{margin: auto;max-width:100%; display:none;}

.living-room-sav{}
.bath-room-sav{display:none;}
.bed-room-sav{display:none;}
.kitchen-room-sav{display:none;}
.room_img_wrapper{padding: 100px 60px 0; display: inline-block; width: 100%; text-align: center;}
.list-icon1{position: relative; display: inline-block; max-width: 100%;}
.list-icon2{position: absolute; height: 36.4%; width: 46.2%; top: 23%; left: 3.2%;}
.list-icon3{position: absolute; height: 36.4%; width: 37.7%; top: 23%; left: 49.6%;}
.list-icon4{position: absolute; height: 40.3%; width: 35.6%; bottom: 0; left: 62.2%;}
.list-icon5{position: absolute; height: 40.3%; width: 59.4%; bottom: 0; left: 3.2%;}

.col-left.artwork-res{padding-top:10px;}

.artwork-input{padding-left: 0px}
.artwork-form-firt .artwork-input .input-text{width: 100%; height: 30px;padding:0;text-indent:10px;}
.artwork-form-sec .artwork-input .input-text{width: 100%; height: 30px;padding:0;text-indent:10px;}
.artwork-form-th .artwork-input .input-text{width: 100%; height: 30px;padding:0;text-indent:10px;}
.artwork-price-save-info{color:#39b24a; text-align: left;}
.artwork-price-save-info .title{font-size:24px;}
.artwork-price-save-info .price{font-size:60px;line-height: 50px;}
.artwork-price-save-info .info{font-size: 14px; color: rgb(255, 255, 255); padding-top: 10px;}
.artwork-container-bottom .footer .footer-middle{padding: 14px; background: #171717;}
.cate_links_bot{padding-top:5px;}
.back-to-top{padding: 24px;background: #fff;}
#back-to-top-link{color: rgb(23, 23, 23); float: right; font-size: 22px; line-height: 0px; margin-right: 4px;}
#back-to-top-link img{position: relative; bottom:5px;}
#artwork-form{
    background: url(../images/quicksave.png) no-repeat bottom center;
    height: 280px;
}
#artwork-form .container{
    padding-top: 34px;
}
.banner-overview-info .cate_links{padding-top:32px;}
.artwork-banner-img{
    background: url(../images/artworks-banner.png) no-repeat bottom center;
    height: 671px;
}
.artwork-top-footer{padding: 4px; background: #fff;}
.cate_links_top{padding-top: 10px;}
.artwork-top-middle{padding: 0px; background: #393f4f;}
.ll-overview{padding: 16px;background: #39b24a;}
#ll-overview{color: rgb(255, 255, 255); float: right; font-weight: 500; font-size: 22px;}
#ll-overview img{position: relative; top:6px;margin-left: 10px;}
.overview-save{
    padding: 1px;background: url(../images/overview-save.png) no-repeat bottom center;
}
.banner-content-wrapper .container{margin-top: 124px;margin-bottom: 130px;}
.room-hover-title{background: rgb(57, 178, 74) none repeat scroll 0% 0%; padding: 0px;}
.room-hover-title .container{color:#fff;text-align:left;}
.room-hover-title .container h2 {color: rgb(255, 255, 255); font-weight: 100; font-size: 36px; margin-top: 24px;}
.room-hover-title .container p { color: rgb(255, 255, 255); font-size: 18px;font-weight: 200;}
.main .col-main .category-products .view-mode{display:none;}
.main .col-main .category-products .limiter{display:none;}
.main .col-main .category-products img.v-middle{display:none;}
.main .col-main .category-products .sort-by label{display:none;}
.main-container .main .col-main .category-description{float:left;}
.artwork-banner-content .artwork-banner-footer .footer-middle{
    padding: 1px;
    background: url(../images/overview-save.png) no-repeat bottom center;
}
.artwork-banner-middle{padding: 16px; background: #39b24a;}
.label{
    color:#000;
}
@media screen and (max-width: 1076px) {

    #artwork-top-bl{
        border-left: none; border-right: none;
    }
    .product-information .art-product-sort{
        width:100%;
    }
    .artwork-price-save{
        right: 240px;
    }
    .category_sidebar-promise .col-md-12 {
        margin-bottom: 2px;
        padding: 0 2px 0 6px;
    }
    .list-price-sav{
        left: 10px;
    }
    .list-room-sav {
        right: 6px;
    }
    .case-icon-hidden {
        padding: 17% 18%;
    }
}

@media screen and (max-width: 890px) {
    .artwork-price-save {
        right: 100px;
        top: 18px;
    }
    .f-right{
        float: none !important;
    }
    .f-left{
        float: none !important;
    }
    .artwork-res{
        float: none !important;
    }
    .list-price-sav h2 {
        font-size: 18px;
    }
    .list-price-sav span.text {
        font-size: 14px;
    }
    .list-price-sav span.qty {
        font-size: 14px;
    }
    .list-room-sav{
        font-size: 20px;
    }
    .list-room-sav span.price {
        font-size: 30px;
    }
}
@media screen and (max-width: 991px) {
    .catalog-category-view  .col-left.f-left,
    .catalog-category-view  .col-main.f-right{
        float: none !important;
    }
    .banner-overview-info {
        height:170px;
    }
    .case-study-icon .case-img-area{width: 30%;}

    .case-img-main-hidden{
        height: 78%; width: 95.8%;
    }
    .case-icon-hidden {
        padding: 21% 18%;
    }
}
@media screen and (max-width: 767px) {
    .artwork-price-save {
        right: 100px;
        top: 18px;
    }
    .toolbar .art-product-sort{
        left: auto !important;
        right: 0;
        top: 65px;
    }
    .toolbar .art-product-sort .product-sort-by span{
        display: inline-block;
    }
    .toolbar .art-product-sort .product-sort-by{
        width: 170px;
    }
    .item .details-area .actions a.comparelink,
    .item .details-area .actions a.addtowishlist{
        top: 35px;
        border:none;
        border-radius: none;
        height: auto;
        line-height: 100%;
    }
    .item .details-area .actions a.addtowishlist{right: -20px !important;}
    .item .details-area .actions a.comparelink{left: -45px !important;}
    .item .details-area .actions a.comparelink i,
    .item .details-area .actions a.addtowishlist i{
        display: none;
    }
    .item .details-area .actions a.comparelink span,
    .item .details-area .actions a.addtowishlist span{
        bottom: 0px;
        left: 0px;
    }
    .artwork-less-energy{
        position: relative; float: right; top: -70px; height: 336px; width: 118%; background: rgb(57, 178, 74) none repeat scroll 0% 0%;
    }
    .artwork-less-energy .artwork-text-banner {
        padding-left: 75px;
    }
    .artwork-less-energy .artwork-title-banner {

        padding: 100px 75px 0px;
    }
    .artwork-last-up{
        background: #00aaeb none repeat scroll 0 0;
        height: 335px;
        position: absolute;
        top: 266px;
        width:102%;
        left: 0;
    }

    .artwork-last-up .artwork-title-banner {
        width: 84%;
        padding-left: 30px;
        padding-top: 70px;

    }
    .artwork-last-up .artwork-text-banner {
        padding-left: 30px;
    }
    .i-advice-bottom{
        border-left: none ;
        border-right: none;
    }
    .artwork-price-save {
        width:30%;
        float: right;
        position: unset !important;
    }
    #artwork-form .container .page-title h2{
        font-size: 24px;
    }
    .artwork-form {
        padding: 0px;
    }
    .artwork-form-info {
        margin-left: 8px;
        width: 66%;
    }
    .case-img-main-hidden{
        height: 79.2%; width: 97.8%;
    }
    .case-icon-hidden{
        padding: 11% 18%;
    }
}
@media screen and (max-width: 680px) {
    .case-img-main-hidden{
        height: 79.2%; width: 97.5%;
    }
    .case-icon-hidden{
        padding: 12.6% 18%;
    }
}
@media screen and (max-width: 640px) {
    .case-img-main-hidden{
        height: 79.2%; width: 97.2%;
    }
    .case-icon-hidden{
        padding: 13.2% 18%;
    }
}
@media screen and (max-width: 600px) {
    .product-wrapper .swipe-op-control{
        display: block;
    }
    .case-res-banner, .case-res-title{ width: 100%;}
    .column-1, .column-2, .column-3{ width: 100%;margin: auto auto 10px;}
    .case-study-icon .case-img-area{width: 12%;}

    .case-img-main-hidden{
        height: 79.2%; width: 97%;
    }
    .case-icon-hidden{
        padding: 14.6% 18%;
    }
}
@media screen and (max-width: 540px) {
    .case-icon-hidden{
        padding: 16% 18%;
    }
}
@media screen and (max-width: 480px) {
    .list-room-sav{
        font-size: 16px;
    }
    .list-room-sav span.price {
        font-size: 20px;
    }
    .room_img_wrapper{
        padding-top: 150px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .toolbar .art-product-sort{
        position: relative;
        top: 0;
        right: auto;
    }
    .toolbar .product-sort-info{
        position: static;
    }
    .case-study-icon .case-img-area{width: 14%;}

    .case-img-main-hidden{
        height: 79%; width: 96%;
    }
    .case-icon-hidden{
        padding: 18% 18%;
    }
}

@media screen and (max-width: 420px) {
    .case-img-main-hidden{
        height: 78%; width: 95.8%;
    }
    .case-icon-hidden{
        padding: 20.8% 18%;
    }
}
@media screen and (max-width: 380px) {
    .case-img-main-hidden{
        height: 76%; width: 95.2%;
    }
    .case-icon-hidden {
        padding: 21% 18%;
    }
}

@media screen and (max-width: 365px) {
    .item .details-area .actions{position: relative;}
    .item .details-area .actions a.addtowishlist{
        left: 5px;
        position: absolute;
        right: auto !important;
        top: 40px;
    }
    .item .details-area .actions a.comparelink{
        right: 25px;
        position: absolute;
        left: auto !important;
        top: 40px;
    }
    .item .details-area .actions a.addtocart{
        display: block;
        margin: 10px;
    }
    .product-information .product-sort .product-sort-by{
        display: none;
    }
    #artwork-form .container .page-title h2{
        font-size: 24px;
    }
    .artwork-less-energy {
        width: 123%;
    }
    .artwork-less-energy .artwork-text-banner {
        padding-left: 35px;
    }
    .artwork-less-energy .artwork-title-banner {
        padding: 40px 35px 0;
    }
    .case-study-icon .case-img-area{width: 20%;}

    .case-img-main-hidden{
        height: 75%; width: 95%;
    }
    .case-icon-hidden {
        padding: 21% 18%;
    }
}
@media screen and (max-width: 340px) {
    .case-img-main-hidden{
        height: 73%; width: 94%;
    }
    .case-icon-hidden {
        padding: 21% 18%;
    }
}

#bottom_description{
    margin-top: 30px;
}
.products.wrapper ~ .toolbar .product-sort-info{
    display: none;
}
/*BLOG*/
.post-content {
    font-size: 14px;
    line-height: 1.5;
}
.post-content table td {
    padding: 0;
}
/*HOME PAGE*/
h2.filter-title{
    display: block;
    background: url(../images/slider-bar.png) right no-repeat;
    font-size: 16px;
    font-weight: 300;
    line-height: 42px;
    margin: 0;
    color: #313131;
    text-transform: uppercase;
    text-align: left;
}
h2.filter-title .content {
    font-weight: 700;
    background-color: #fff;
    padding-right: 20px;
    display: inline;
}
.homepage-bar .text-area h3, .homepage-bar .text-area p{
    color: #FFFFFF;
}
#brands-slider-demo-8 .filter-title strong{
    position: relative;
    border: none;
    box-shadow: none;
    font-weight: bold;
}
/*Check out*/
.opc-progress-bar-item._active::before, .opc-progress-bar-item._active > span::before {
    background: #39B24A !important;
}
/*Product page*/
#instant-purchase{
    margin-top: 10px;
    text-align: center;
}