// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@product-name-link__color: @text__color;
@product-name-link__color__active: @text__color;
@product-name-link__color__hover: @text__color;
@product-name-link__color__visited: @text__color;

@product-name-link__text-decoration: none;
@product-name-link__text-decoration__active: @link__hover__text-decoration;
@product-name-link__text-decoration__hover: @link__hover__text-decoration;
@product-name-link__text-decoration__visited: @link__hover__text-decoration;

@product-item__hover__background-color: @color-white;
@product-item__hover__box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, .3);

@product-price__muted__color: @color-gray40;

//
//  Common
//  _____________________________________________


.banner-company{
    .icon-bifm-corp{
        padding-top:5px;
    }
} 
.banner-payment{
    .checkout-wapper-icon{
        padding-top:5px;
        text-align:center;
    }
}
.brand-carousel-all{
    clear: both;
    padding: 30px 0 20px 0;
    h2{
        text-align:center;
        color:#b2b2b2;
    }
    .brand-our-shop-cat{
        max-width:945px;
        margin:0 auto;
        text-align:center;
    }
}
#maincontent{
    .columns{
        padding:15px 0px;       
    }
} 
.page-products{
    .products-grid{
            .mobie-delivery{
                display:none;
            }
            .mobie-googletrust{
                display:none;
            }
    }
}  
.page-products{
    .products-grid{
        .product-items{
            display: -webkit-flex; /* Safari */
            -webkit-flex-wrap: wrap; /* Safari 6.1+ */
            display: flex;   
            flex-wrap: wrap;
        }
    } 
} 
.products-grid{
        .price-excluding-tax{
            display:none;
        }
}
.page-products .products-grid .product-items{
    padding-left:0px;
}
.page-products .products-grid .product-item{
    line-height:initial;
}
.banner-payment{
    ul{
        padding-left:0px;
        li{
            &:before{
                content:'';
            }
        }
    }
}
.sidebar-main{
    ul{
        padding-left:0px;
        li{
            &:before{
                content:'';
            }
            a{
                font-size:16px;
            }
        }
    }
}
& when (@media-common = true) {
    //  Product Lists
    div.yotpo-sibar{
        padding-bottom:20px;
        #carousel-top-panel{
            display:none;
        }
        .yotpo-label.yotpo-small-box {
            display:none;
        }
        .yotpo-reviews-carousel{
             .carousel-display-wrapper{
                .yotpo-carousel{
                    .small-version{
                        .carousel-review-title{
                            width:85%;
                        }
                        .right-side{
                            width:166px;
                            padding-left:17px;
                            float:left!important;
                        }
                    } 
                } 
             } 
        }
    }

    .catalog-grid{
        .yotpo-reviews-carousel{
            .carousel-display-wrapper{
                padding-left:0px;
                padding-right:0px;
            }
        } 
    } 


    .products {
        margin: @indent__l 0;
    }
    .show-bottom-price{
        display:none;
        height:0px;
    }
    .product {
        &-items {
            &:extend(.abs-reset-list all);
        }

        &-item {
            vertical-align: top;

            .products-grid & {
                display: inline-block;
                width: 100%/2;
                position:relative;
            }

            &:extend(.abs-add-box-sizing all);

            &-name {
                &:extend(.abs-product-link all);
                -moz-hyphens: auto;
                -ms-hyphens: auto;
                -webkit-hyphens: auto;
                display: block;
                hyphens: auto;
                margin: @indent__xs 0;
                word-wrap: break-word;
            }

            &-info {
                max-width: 100%;
            }

            &-actions {
                display: none!important;

                .actions-secondary {
                    > button.action {
                        .lib-button-reset();
                    }

                    > .action {
                        &:extend(.abs-actions-addto all);
                        &:before {
                            margin: 0;
                        }

                        span {
                            &:extend(.abs-visually-hidden all);
                        }
                    }
                }
            }

            &-description {
                margin: @indent__m 0;
            }

            .product-reviews-summary {
                .rating-summary {
                    margin: 0 4px 0 0;
                }

                .reviews-actions {
                    font-size: @font-size__s;
                    margin-top: 5px;
                    text-transform: lowercase;
                    display:none;
                }
            }

            .price-box {
                .price {
                    font-weight: @font-weight__bold;
                    white-space: nowrap;
                }

                .price-label {
                    .lib-css(color, @product-price__muted__color);
                    font-size: 10px;
                }
            }

            .old-price {
                margin: @indent__xs 0;
                color:#000;
            }

            .regular-price {
                .price-label {
                    display: none;
                }
            }

            .minimal-price {
                .price-container {
                    display: block;
                }
            }

            .price-from,
            .price-to {
                margin: 0;
            }

            .tocompare {
                .lib-icon-font-symbol(
                @icon-compare-full
                );
            }

            .tocart {
                .lib-font-size(13px);
                border-radius: 0;
                line-height: 1;
                padding-bottom: @indent__s;
                padding-top: @indent__s;
                white-space: nowrap;
            }
            .badges{
                position: absolute;
                top: -17px;
                left: -8px;
                z-index:10;
                .sale{
                    display: block;
                    float: left;
                    margin-right: 2px;
                    width: 81px;
                    height: 81px;
                    background: url(../images/Path.png) no-repeat;
                    color: #fff;
                    background-position: 0 0;
                    text-align: center;
                    padding-left:0px;
                    li{
                        &:before{
                            content:'';
                        }
                    }
                    .text-replacement {
                        font-size: 11px;
                        margin-top: 20px;
                        text-transform: uppercase;
                        font-weight: 300;
                    }
                    .text-led-sale {
                        font-size: 25px;
                        line-height: 2.5px;
                        margin-top: 11px
                    }

                }
            }
            .tile>.price-label {
                min-height: 42px;
                height: auto;
                font-size: 23px;
                line-height: 1;
                position: absolute;
                top: 0px;
                right: 0px;
                color: #000;
                font-weight: 900;
                border-radius: 0 3px 0 0;
                z-index:10;
                text-align:left;
                p {
                    margin-bottom: 0;
                    line-height:1;
                }
                .head-price {
                    background: #fadc23;
                    min-width:102px;

                    .inc-vat {
                        display: block;
                        font-weight: 300;
                        font-size:11px;
                    }
                    .price-box{
                        >.price-container,.special-price .price-container,.minimal-price .price-container,.price-from .price-container,.old-price .price-container{
                            padding:0px 0px 20px 10px;
                            width:100%;
                            display:inline-block;
                        }
                        .price-including-tax{
                            &:after{
                                position:absolute;
                                bottom:38px;
                                left:7px;
                                font-weight:300;
                            }
                        }

                    }
                    a{
                        padding: 0px 10px 10px 16px;
                        background: #dd1c24;
                        span.price-label{
                            font-weight: 400;
                            color: #fff !important;
                            padding-right: 0px;
                        }
                        span.price-wrapper{
                            color: #fff;
                            font-weight: 700;
                            font-family: "Open Sans";
                            font-size: 10px;
                        }
                    }
                    .show-bottom-price{
                        height:33px;
                        background:#dd1c24;
                        display:block;
                        padding:0px 10px 4px 10px;
                        text-align:center;
                        span{
                            color:#fff;
                            font-weight:700;
                            font-size:10px;
                        }
                        span.lowest-price{
                            color:#fff;
                            font-weight:400;
                        }
                        .price-including-tax{
                            &:after{
                                display:none!important;
                            }
                        }
                        .minimal-price-link, .price-excluding-tax, .price-including-tax{
                                display:inline-block;
                        }
                    }
                }
            }
            
        }

    }
    .tile{
        max-width: 356px;
        height:100%;
        border: 1px solid #b2b2b2;
        border-radius: 5px;
        text-align: left;
        position:relative;
        .footer-deli {
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            display: none;
            .delivery-cate{
                background: #3b99d4;
                position: relative;
                padding:5px 0px 5px 65px;
                margin-top:15px;
                width:100%;
                >.logo-delivery{
                    position: absolute;
                    top:9px;
                    left:9px;
                }
                p,h6{
                    margin-bottom: 0px;
                    color:#fff;
                }
                h6{
                    font-size: 17px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
    }
    .column.main {
        .product {
            &-items {
                margin-left: -@indent__base;
            }

            &-item {
                padding-left: @indent__base;
                margin-bottom:30px;
            }
        }
    }

    .price-container {
        .price {
            .lib-font-size(14);
        }

        .price-including-tax + .price-excluding-tax,
        .weee {
            margin-top: @indent__xs;
        }

        .price-including-tax + .price-excluding-tax,
        .weee,
        .price-including-tax + .price-excluding-tax .price,
        .weee .price,
        .weee + .price-excluding-tax:before,
        .weee + .price-excluding-tax .price {
            .lib-font-size(11);
        }

        .weee {
            &:before {
                content: '(' attr(data-label) ': ';
            }

            &:after {
                content: ')';
            }

            + .price-excluding-tax {
                &:before {
                    content: attr(data-label) ': ';
                }
            }
        }
    }

    .products-list {
        .product {
            &-item {
                display: table;
                width: 100%;

                &-info {
                    display: table-row;
                }

                &-photo {
                    display: table-cell;
                    padding: 0 @indent__l @indent__l 0;
                    vertical-align: top;
                    width: 1%;
                }

                &-details {
                    display: table-cell;
                    vertical-align: top;
                }
            }
        }

        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .products-list .product {
        &-item {
            table-layout: fixed;

            &-photo {
                padding: 0 @indent__s @indent__s 0;
                width: 30%;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {


    .product-item-actions {
        display: block;

        .products-grid & {
            margin: -@indent__s 0 @indent__s;
        }

        .actions-primary + .actions-secondary {
            display: table-cell;
            padding-left: 10px;
            width: 50%;
            vertical-align: middle;

            > .action {
                margin-right: 10px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .actions-primary {
            display: table-cell;
        }
    }

    .page-products {

        .product-item-actions {
            position: relative;
            z-index: 1;
        }
    }


    .products-grid {
        .product-item {
            margin-bottom: @indent__base;
            width: 100%/3;
        }
    }

    .page-products,
    .page-layout-1column,
    .page-layout-3columns,
    .page-products.page-layout-1column,
    .page-products.page-layout-3columns {
        .products-grid {
            .product-item {
                width: 100%/3;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-products {
        .products-grid {
            .product-item {
                width: 100%/3;
            }
        }
    }

    .page-products.page-layout-1column {
        .products-grid {
            .product-item {
                width: 100%/4;
            }
        }
    }

    .page-products.page-layout-3columns {
        .products-grid {
            .product-item {
                width: 100%/2;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

    .products-grid {
        .product-item {
            width: 100%/4;
        }
    }

    .page-layout-1column {
        .products-grid {
            .product-item {
                width: 100%/5;
            }
        }
    }

    .page-layout-3columns {
        .products-grid {
            .product-item {
                width: 100%/3;
            }
        }
    }

    .page-products {
        .products-grid {
            .product-items {
                margin: 0;
                display:flex;
                display: -webkit-flex;
                flex-wrap:wrap;
                 -webkit-flex-wrap: wrap;
            }

            .product-item {
                margin-left: calc(~'(100% - 3 * 30.439%) / 2');
                padding: 0;
                width: 30.439%;

                &:nth-child(3n + 1) {
                    margin-left: 0;
                }
            }
        }
    }

    .page-products {
        &.page-layout-1column {
            .products-grid {
                .product-item {
                    margin-left: 0;
                    width: 100%/4;
                }
            }
        }

        &.page-layout-3columns {
            .products-grid {
                .product-item {
                    margin-left: 1%;
                    width: 32.667%;

                    &:nth-child(3n) {
                        margin-left: 1%;
                    }

                    &:nth-child(3n + 1) {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}
@media (max-width: 991px){
       body.page-layout-2columns-left{
            .sidebar-main,.sidebar-additional{
                display:none;
            }
            .column.main{
                width:100%;
            }
       } 
       .column.main{
            .product-item{
                padding-left:30px;
                .tile{
                    min-height:460px;
                    .footer-deli{
                        display:block;
                    }
               } 
            }
       } 
       
}
@media (max-width: 768px){
        .column.main{
            .page-title-wrapper{
                text-align:center;
            }
            .category-description{
                text-align:center;
            }

                .products-grid{
                    .product-item{
                        text-align:center;
                        padding-left:0px;
                        .tile{
                            width:100%;
                            max-width: 85%;
                            display: inline-block;
                            position: relative;
                            min-height: 420px;
                            &:after{
                                display:table;
                                content:"";
                                clear:both;
                            }
                            .footer-deli{
                                display:none;
                            }
                            .product-img-wrapper{
                                .sku-product-mobie{
                                    display:block;
                                    color: #999;
                                    font-weight: 300;
                                    font-family: 'Open Sans';
                                    padding-left: 20px;
                                    padding-bottom: 15px;
                                    font-size: 13px;
                                    padding-top: 15px;
                                }
                                >a{
                                    height:auto;
                                    display:block!important;
                                    min-height:auto !important;
                                 
                                }
                            }
                       } 
                       .product-reviews-summary{ 
                                text-align:left;
                       } 
                    } 
                    .product-items{
                        margin-left:0px;
                    }                   
                }  
        }
        .page-products{
            .products-grid{
                .product-item{
                    width:50%!important;
                }
            } 
        } 
}
@media (max-width: 640px){
        .column.main{
            .products-grid{
                .product-item{
                    margin-bottom:24px;
                    width:100%!important;
                    .tile{
                        max-width:100%;
                        .product-img-wrapper{
                            width:100% !important;
                            padding-top: 0px;
                            float: none;
                            span.sku-product-mobie{
                                display:none;
                            }
                        }
                        .footer{
                            width:100% !important;
                            text-align: left !important;
                            padding-top:15px;
                            span.sku-product{
                                display:inline-block;
                            }
                            .tools{
                                .btn-detail{
                                    padding:4px 12px 6px 12px;
                                    span{
                                        display:inline-block;
                                    }
                                    i.icon_nofication{
                                        display:none;
                                    }
                                } 
                            } 
                        }
                    }
                }
                .mobie-delivery,.mobie-googletrust{
                    display:block;
                    margin-bottom:12px;
                }
            }
        }  
}
