<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var $block \Magento\Sales\Block\Order\Totals
 * @see \Magento\Sales\Block\Order\Totals
 */
?>
<?php foreach ($block->getTotals() as $_code => $_total): ?>
    <?php if ($_total->getBlockName()): ?>
        <?= $block->getChildHtml($_total->getBlockName(), false) ?>
    <?php else:?>
    <tr class="<?= /* @escapeNotVerified */ $_code ?>">
        <th colspan="3" class="<?php if ($_total->getStrong()) echo 'bg-total'; ?>" >
            <?php if ($_total->getStrong()):?>
            <span><?php if($block->escapeHtml($_total->getLabel())=="Grand Total") echo __("Total");?></span>
            <?php else:?>
            <span class="title-label"><?= $block->escapeHtml($_total->getLabel()) ?></span>
            <?php endif?>
        </th>
        <td class="border-default" colspan="2">
            <?php if ($_total->getStrong()):?>
            <span class="color-total"><?= /* @escapeNotVerified */ $block->formatValue($_total) ?></span>
            <?php else:?>
            <?= /* @escapeNotVerified */ $block->formatValue($_total) ?>
            <?php endif?>
        </td>
    </tr>
    <?php endif?>
<?php endforeach?>