<?php
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$category = $objectManager->get('Magento\Framework\Registry')->registry('current_category');
?>
<div class="sub-name">
	<?php if($category->getCaseStudySubTitle()):?>
		<div class="sub-name-product">
			<?php echo $category->getCaseStudySubTitle(); ?>
		</div>
	<?php endif;?>
</div>
<div class="info_desc">
	<?php if($category->getDescription()):?>
	<div class="desc-product">
		 <?php /* @escapeNotVerified */ echo $this->helper('Magento\Catalog\Helper\Output')->categoryAttribute($category, $category->getDescription(), 'description'); ?>
	</div>
	<?php endif;?>
</div>

