<?php 
    $opportunity = $block->getCurrentCategory()->getCaseStudyOpportunity();
    $solution = $block->getCurrentCategory()->getCaseStudySolution();
    $benefit = $block->getCurrentCategory()->getCaseStudyBenefits();
?>
<div class="product info detailed ">
    <div class="product data items" data-mage-init='{"tabs":{"openedState":"active"}}'>
        <div class="data item title" data-role="collapsible">
            <a class="data switch" data-toggle="switch" href="#opportunity">
               <?php echo __("Opportunity");?>                  
            </a>
        </div>
        <div class="data item content" id="opportunity" data-role="content">
        <?php if($opportunity): ?>
            <?php echo $this->helper('Magento\Catalog\Helper\Output')->categoryAttribute($block->getCurrentCategory(), $opportunity, 'case_study_opportunity'); ?>
        <?php endif; ?>
        </div>
                <div class="data item title" data-role="collapsible">
            <a class="data switch" data-toggle="switch" href="#solution123">
                <?php echo __("Solution");?>                         
            </a>
        </div>
        <div class="data item content" id="solution123" data-role="content">
         <?php if($solution): ?>
            <?php echo $this->helper('Magento\Catalog\Helper\Output')->categoryAttribute($block->getCurrentCategory(), $solution, 'case_study_solution'); ?>
        <?php endif; ?>    
        </div>
         <div class="data item title" data-role="collapsible">
            <a class="data switch" data-toggle="switch" href="#benefit">
                 <?php echo __("Benefits")?>                  
            </a>
        </div>
        <div class="data item content" id="benefit" data-role="content">
        <?php if($benefit): ?>
            <?php echo $this->helper('Magento\Catalog\Helper\Output')->categoryAttribute($block->getCurrentCategory(), $benefit, 'case_study_benefits'); ?>
        <?php endif; ?>
        </div>
     </div>
</div>