// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@mobile-cart-padding: 15px;
@cart-price-color: @color-gray40;
@cart-item-cell-padding-top: 20px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Shopping cart
    //  ---------------------------------------------

    .checkout-cart-index {
        .page-main {
            padding-left: 0;
            padding-right: 0;
        }

        .page-title-wrapper {
            padding-left: @layout__width-xs-indent;
            padding-right: @layout__width-xs-indent;
            display:none;
        }
    }

    //  Cart container
    .cart-container {
        .form-cart {
            &:extend(.abs-shopping-cart-items all);
        }
    }

    //  Summary block
    .cart-summary {
        margin-bottom: @indent__m;
        padding: 1px 0 @indent__m;

        > .title {
            .lib-font-size(24);
            display: none;
            font-weight: @font-weight__light;
            margin: 12px 0;
        }

        .block {
            form:not(:last-of-type) {
                .fieldset {
                    margin: 0 0 @indent__m;
                }
            }

            .price {
                font-weight: @font-weight__bold;
            }

            .field {
                margin: 0 0 16px;

                &.note {
                    display: none;
                }
            }

            .actions-toolbar {
                > .primary {
                    text-align: left;

                    .action.primary {
                        &:extend(.abs-revert-to-action-secondary all);
                        width: auto;
                    }
                }
            }

            .fieldset.estimate {
                > .legend,
                > .legend + br {
                    &:extend(.abs-no-display all);
                }
            }

            &:extend(.abs-cart-block all);
            .title {
                strong {
                    .lib-font-size(14);
                    font-weight: @font-weight__semibold;
                }
            }

            .item-options {
                margin: 0 0 16px;

                .field {
                    .radio {
                        float: left;
                    }

                    .radio {
                        + .label {
                            display: block;
                            margin: 0;
                            overflow: hidden;
                        }
                    }
                }
            }
        }

        .page-main & {
            .block {
                margin-bottom: 0;
            }
        }

        .checkout-methods-items {
            &:extend(.abs-reset-list all);
            margin: @indent__base 0 0;
            padding: 0 @mobile-cart-padding;
            text-align: center;

            .action.primary.checkout {
                &:extend(.abs-button-l all);
                width: 100%;
            }

            .item {
                margin-bottom: @indent__m;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .message {
            padding-left: @indent__base;

            > *:first-child:before {
                display: none;
            }
        }

        &:extend(.abs-adjustment-incl-excl-tax all);

        .action {
            &.multicheckout {
                color: @color-blue2;
            }
        }
    }

    //  Totals block
    .cart-totals {
        &:extend(.abs-sidebar-totals all);
        tbody,
        tfoot {
            .mark {
                text-align: left;
            }
        }
    }

    //  Products table
    .cart {
        &.table-wrapper {
            .cart {
                thead {
                    tr th.col {
                        border-bottom: @border-width__base solid @border-color__base;
                        padding-bottom: 15px;
                        padding-top: 24px;
                    }
                }

                tbody {
                    td {
                        border: 0;
                        border-bottom:1px solid #ccc;
                    }
                }

                > .item {
                    border-bottom: @border-width__base solid @border-color__base;
                    position: relative;
                }
            }

            .col {
                padding-top: 15px;

                &.price,
                &.subtotal,
                &.msrp {
                    padding: @cart-item-cell-padding-top 11px @indent__s;
                    text-align: center;
                    &:extend(.abs-incl-excl-tax all);
                }

                &.qty {
                    padding: @indent__base 11px @indent__s;
                    text-align: center;

                    .label {
                        &:extend(.abs-visually-hidden all);
                    }
                }

                > .price {
                    .lib-css(color, @primary__color__lighter);
                    .lib-font-size(18);
                    font-weight: @font-weight__bold;
                }
            }

            .item-actions {
                td {
                    padding-bottom: 0;
                    padding-left: @mobile-cart-padding;
                    padding-right: @mobile-cart-padding;
                    white-space: normal;
                }
            }

            .item {
                .col.item {
                    min-height: 75px;
                    position: relative;
                }
            }

            .actions-toolbar {
                &:extend(.abs-add-clearfix all);
                min-height: 20px;
                padding-bottom: 15px;
                position: relative;

                > .action-edit,
                > .action-delete {
                    position: absolute;
                    right: 16px;
                    top: 0;
                    .lib-icon-font(
                    @icon-edit,
                    @_icon-font-size: 18px,
                    @_icon-font-line-height: 20px,
                    @_icon-font-text-hide: true,
                    @_icon-font-color: @minicart-icons-color,
                    @_icon-font-color-hover: @primary__color,
                    @_icon-font-color-active: @minicart-icons-color
                    );
                }

                > .action-delete {
                    &:extend(.abs-action-button-as-link all);
                    right: 0;
                    .lib-icon-font-symbol(
                    @_icon-font-content: @icon-trash
                    );
                }
            }

            .action {
                margin-right: @indent__m;

                &:last-child {
                    margin-right: 0;
                }

                &.help.map {
                    &:extend(.abs-action-button-as-link all);
                    font-weight: @font-weight__regular;
                }
            }

            .product {
                &-item-name {
                    .lib-font-size(18);
                    display: block;
                    margin: -3px 0 @indent__xs;
                }
            }

            .gift-registry-name-label {
                &:after {
                    content: ':';
                }
            }

            //  Product options
            .item-options {
                margin-bottom: 0;
                &:extend(.abs-product-options-list all);
                &:extend(.abs-add-clearfix all);
            }

            .product-item-name + .item-options {
                margin-top: @indent__base;
            }

            .cart-tax-total {
                &:extend(.abs-tax-total all);
                &-expanded {
                    &:extend(.abs-tax-total-expanded all);
                }
            }

            .product-image-wrapper {
                &:extend(.abs-reset-image-wrapper all);
            }

            .action.configure {
                display: inline-block;
                margin: @indent__s 0 0;
            }

            .item .message {
                margin-top: @indent__base;
            }
        }
    }

    //  Products pager
    .cart-products-toolbar {
        .toolbar-amount {
            left: inherit;
            margin: @indent__m 0 15px;
            padding: 0;
            position: relative;
            text-align: center;
            top: inherit;
        }
    }

    .cart-products-toolbar-top {
        border-bottom: @border-width__base solid @border-color__base;
    }

    //  Empty cart
    .cart-empty {
        padding-left: @layout__width-xs-indent;
        padding-right: @layout__width-xs-indent;
    }

    .cart-tax-info,
    .cart .cart-tax-info {
        + .cart-tax-total {
            display: block;
        }
    }

    .cart.table-wrapper,
    .order-items.table-wrapper {
        .col.price,
        .col.qty,
        .col.subtotal,
        .col.msrp {
            text-align: right;
        }
    }
    .u-divide-bottom {
        border-bottom: 1px solid #e9eaee !important
    }
    .c-steps {
        padding-top: 18px;
        padding-bottom: 18px;
        text-align: center
    }
    .c-steps__connecting-line {
        height: 2px;
        background: #e9eaee;
        position: absolute;
        width: 66.66667%;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 30%;
        z-index: -1
    }
    .c-steps__circle {
        position: relative;
        display: block;
        width: 36px;
        height: 36px;
        margin-left: auto;
        margin-right: auto;
        background-color: #e9eaee;
        border: 2px solid #e9eaee;
        border-radius: 18px;
        color: #9395a3;
        font-weight: 700;
        text-align: center;
        line-height: 2;
        vertical-align: middle;
        pointer-events: none;
        &:after{
            content: ' ';
            position: absolute;
            width: 52px;
            height: 52px;
            top: -8px;
            left: -8px;
            background: #fff;
            z-index: -1;
        }
    }
    .c-steps__label {
        font-size: 13px;
        line-height: 24px;
        font-weight: 700;
        color: #9395a3
    }
    .c-steps__step--active .c-steps__label,.c-steps__step--success .c-steps__label {
        color: #45485c
    }
    .c-steps__step--active{
        .c-steps__circle {
            background-color: #fff;
            color: #2ba8db;
            border-color: #2ba8db
        }
    } 
    .c-section {
        padding-top: 24px;
        padding-bottom: 36px
    } 
    .shopping-cart{
        font-family: 'Open Sans',sans-serif;
        .btn-checkout-cart{
            text-align:right;
        }
    }
    .u-padding-bottom-small {
        padding-bottom: 12px;
    }
    .u-inline-block {
        display: inline-block;
    }
    .u-padding-right {
        padding-right: 24px;
    }
    .btn-success {
        background: #1bc758;
        color: #fff;
        &:hover {
            background: #159a44
        }
    }
    .shopping-cart{
        .cart-container{
            .c-cart__cart{
                width:100%;
                .form-cart{
                    width:100%;
                    padding-right:0px;
                }
            }
        }
    }
    .shopping-cart{
        form{
            clear:both;
        }
    }
    .c-cart__cart{
        #shopping-cart-table{
            border-collapse:separate;
            border:none;
            .price-including-tax{
                &:after{
                    content:'';
                }
            }
            tr{
                th{
                    white-space: nowrap;
                    padding: 12px;
                }
                .qnt-count{
                    white-space:nowrap;
                }
            }
            >thead{
                >tr{
                    >th{
                        border-top:none;
                        font-size:15px;
                        font-weight:600;
                    }
                }
            }
            td.wholesale{
                position:relative;
                width:104px;
                padding-top:0px;
                .wrap-whole{
                    width:104px;
                    border:1px solid #ffb0b0;
                    border-bottom-left-radius:10px;
                    border-bottom-right-radius:10px;
                    -webkit-border-bottom-left-radius:10px;
                    -webkit-border-bottom-right-radius:10px;
                    -moz-border-bottom-left-radius:10px;
                    -moz-border-bottom-right-radius:10px;
                    .wholesale-content{
                        min-height:46px;
                        width:100%;
                        text-align: center;
                        background: url('../images/wholesale/bg-wholesale-cart.png') no-repeat;
                        background-size:100% 46px;
                        >p{
                            margin-bottom: 0px;
                            font-family: Segoe UI;
                            color:#fff;
                            font-size:14px;
                            text-transform: uppercase;
                            line-height: 1.3;
                            &:first-child{
                                padding-top:5px;
                            }
                        }

                    }
                    .wholesale-price{
                        text-align:center;
                        padding-bottom:5px;
                        .price-including-tax{
                            &:after{
                                content:'';
                            }
                        }
                    }
                }
            }
            thead{
                tr{
                    th.col{
                        background:none;

                    }
                } 
            } 
            .delete{
                .action-towishlist{
                    display:none!important;
                }
            }
        } 
    } 
    .c-cart__table{
        >tbody{
            >tr{
               >td{
                    &:first-child{
                        text-align:center;
                        width: 72px;
                        border-top: 1px solid #e9eaee;
                        padding-top: 12px;
                        padding-right: 0;
                        padding-bottom: 12px;
                        padding-left: 0
                    }
                    
               } 
               td.price,td.subtotal{
                        span.price{
                            font-size:18px;
                        }
                }
                td.delete{
                    .action-edit{
                        display:none;
                    }
                    .action-delete{
                        font-size:0px;
                    }
                }
            }
        }
    }
    .shopping-cart{
        table{
            td.qnt-count{
                .incr-btn{
                    display: inline-block;
                    width: 26px;
                    height: 38px;
                    border: 1px solid #e9eaee;
                    border-radius: 5px;
                    background: #f8f9fd;
                    color: #6a6d7d;
                    text-align: center;
                    font-size: 1.3em;
                    font-weight: normal;
                    line-height: 34px;
                    transition: background 0.3s ease
                }
                .form-control {
                    display: inline-block;
                    width: 36px;
                    height: 38px;
                    margin: 0;
                    padding-left: 3px;
                    padding-right: 3px;
                    text-align: center;
                    vertical-align: top;
                    border-color:#909295;
                }
            }
        }
    }
    .c-cart__product-name {
        margin-bottom: 0;
        font-size: 16px;
        line-height: 1.5;
        text-transform: none;
        letter-spacing: 0;
        font-weight: 700;
        text-align: left;
        a{
            color:#45485c;
        }
    }
    .u-divide-top {
        border-top: 1px solid #e9eaee
    }
    .u-padding-top {
        padding-top: 24px !important;
    }
    .u-divide-bottom {
        border-bottom: 1px solid #e9eaee !important
    }
    .btn-default {
        background: #e9eaee;
        color: #45485c;
        font-weight: 400;
        display:inline-block;
        &:hover {
            background: #cccfd8
        }
    }
    .cart-container{
        .form-cart{
            .actions.main{
                .col-sm-pull-6{
                    text-align:left;
                }
            } 
        } 
    } 
    #discount-coupon-form{
        position:relative !important;
        .c-cart__btn-coupon{
            margin-top:10px;
        }
        .coupon{
            label[for=coupon_code]{
                font-weight:bold;
            }
        }
    }
    .wrapper-badget-trusted{
        padding-bottom:30px;
    }
    .cart-summary-block{
        .list-inline{
            text-align:center;
        }
        .btn-checkout{
            width:100%;
        }
    }
    .title-cart__summary{
        h2.text-center{
            text-align:center;
        }
    }
    .u-row--small [class*='col-'] {
        padding-left: 6px !important;
        padding-right: 6px !important
    }
    #block-discount{
        padding:0px;
        .coupon{
            padding-left:0px;
        }
    }
    .checkout-cart-index, .checkout-index-index{
        .breadcrumbs{
            display:none;

        }
    } 
    .c-button__right-arrow-lg{
            display:none;
    }
    .checkout-cart-index,.checkout-index-index{

            .free-delivery-home{
                background:#27a6dd;
                 width: 100vw;
                position: relative;
                left: 50%;
                right: 50%;
                margin-left: -50vw;
                margin-right: -50vw;
                .delivery{
                    .warranty{
                        background:url('../images/cart/warranty-18.svg') no-repeat  6px 10px;
                    }
                    .fre-deli{
                        background:url('../images/cart/delivery.png') no-repeat  23px 13px;
                    }
                    .fre-irish{
                        background:url('../images/cart/delivery-irish.png') no-repeat  23px 13px;
                    }
                    .expert-advice{
                        background:url('../images/cart/expert.png') no-repeat  28px 11px;
                    }
                    .day-return{
                        background:url('../images/cart/90-day.png') no-repeat  27px 8px;
                    }
                    li{
                        color:#fff;
                        span{
                            font-size:14px;
                            color:#fff;
                        }
                    }
                }
            } 
            .sale-support{
                color:#fff;
                h2{
                    color:#fff;
                }
            }
            .bg-navi-menu{
                display:none;
            }
            #maincontent{
               .columns{
                    padding-top:0px;
               } 
            }
    }
    .opc-progress-bar{

        .opc-progress-bar-item{
            >span{
                font-size:14px;
            }
        }
    }
    .opc-wrapper .step-title, .opc-block-shipping-information .shipping-information-title, .opc-block-summary > .title, .checkout-agreements-items .checkout-agreements-item-title{
        font-weight:400;
        font-size:21px;
        line-height:1.71429;
    }
    #checkoutSteps{
        .input-text,select{
            display: block;
            width: 100%;
            height: 48px;
            padding: 6px 12px;
            font-size: 16px;
            line-height: 1.5;
            color: #45485c;
            background-color: #fff;
            background-image: none;
            border: 1px solid #c2c4cc;
            border-radius: 5px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
            -webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
            -o-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
            transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s
        }
        .field-tooltip{
            .field-tooltip-action{
                display:none;
            }
        }
        select{
            -webkit-appearance:menulist;
        } 
        .opc-block-summary{
            .items-in-cart{
                > .title{
                   strong{
                        font-size:16px;
                        font-weight:400;
                   } 
                } 
            } 
        } 
    }
    .opc-progress-bar-item._active{
        >span{
            color:#45485c;
        }
    }
    .authentication-wrapper{
        display:none;
    }
    .cart-totals{
        .grand{
            .amount,.mark{
                font-size:16px;
            }
            .mark{
                font-size:16px;
            }   
        } 
    } 
    .opc-block-summary{
        .table-totals{
            .grand{
                .mark,.amount{
                    font-size:16px;
                }  
            }  
        } 
        .items-in-cart{
            > .title{
                font-size:16px;
            }
        } 
    }
    #shipping-method-buttons-container{
        .action.continue{
                padding:10px 20px;
                float:none;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .cart {
        .table.items {
            .col.item,
            .item-actions td {
                &:extend(.abs-col-no-prefix all);
            }

            .col.qty {
                text-align: center;
            }

            tbody > tr > td:last-child {
                &:extend(.abs-no-border-bottom-top all);
            }
        }
    }
    .cart-totals {
        .totals {
            &:extend(.abs-sidebar-totals-mobile all);
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    //  Cart container
    .cart-container {
        .form-cart {
            .actions.main {
                text-align: center;
            }
        }
    }

    .cart-discount {
        border-bottom: @border-width__base solid @border-color__base;
    }

    .cart-totals {
        padding-left: @mobile-cart-padding;
        padding-right: @mobile-cart-padding;

        .table-wrapper {
            border-top: 0;
        }

        .totals {
            tbody > tr:not(:last-child) > td:last-child {
                border: 0;
            }
        }
    }
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    //  Cross sell
    .block {
        &.crosssell {
            .lib-css(padding, 0 @mobile-cart-padding);
            margin-top: 70px;

            .product-item-info {
                width: 200px;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .checkout-cart-index {
        .page-main {
            padding-left: @layout__width-xs-indent;
            padding-right: @layout__width-xs-indent;
        }

        .page-title-wrapper {
            &:extend(.abs-revert-side-paddings all);
        }
    }

    //  Cart container
    .cart-container {
        &:extend(.abs-add-clearfix-desktop all);
        .form-cart {
            &:extend(.abs-shopping-cart-items-desktop all);
            .actions.main {
                text-align: right;
            }
        }

        .widget {
            float: left;
        }
    }

    //  Summary block
    .cart-summary {

        > .title {
            display: block;
        }

        .fieldset {
            .actions-toolbar {
                margin-left: 0;

                > .secondary {
                    float: none;
                }
            }
        }

        .block {
            > .title {
                padding-left: 0;

                &:after {
                    right: 3px;
                }
            }

            .content {
                &:extend(.abs-revert-side-paddings all);
            }

            .fieldset {
                .field {
                    .lib-form-field-type-revert(@_type: block);
                    margin: 0 0 @indent__s;
                }
            }
        }

        .checkout-methods-items {
            padding: 0;
        }
    }

    //  Products table
    .cart {
        &.table-wrapper {
            .items { // Google Chrome version 44.0.2403.107 m fix
                min-width: 100%;
                width: auto;
            }

            tbody td {
                padding-top: @cart-item-cell-padding-top;
            }

            .item {
                .col.item {
                    padding: @cart-item-cell-padding-top 8px @indent__base 0;
                }
            }

            .item-actions td {
                padding: 0;
            }

            .product {
                &-item-photo {
                    display: table-cell;
                    max-width: 100%;
                    padding-right: @indent__base;
                    position: static;
                    vertical-align: top;
                    width: 1%;
                }

                &-item-details {
                    padding-bottom: 35px;
                }

                &-item-details {
                    display: table-cell;
                    vertical-align: top;
                    white-space: normal;
                    width: 99%;
                }
            }
        }
    }

    //  Products pager
    .cart-products-toolbar {
        margin: 2px 0 0;

        .toolbar-amount {
            line-height: 30px;
            margin: 0;
        }

        .pages {
            float: right;

            .item {
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .cart.table-wrapper {
        .cart-products-toolbar {
            + .cart {
                thead {
                    tr {
                        th.col {
                            padding-bottom: @indent__s;
                            padding-top: @indent__s;
                        }
                    }
                }
            }
        }

        .cart {
            + .cart-products-toolbar {
                margin-top: @indent__m;
            }
        }
    }

    //  Discount
    .cart-discount {
        .block {
            .title {
                &:after {
                    display: inline;
                    margin-left: @indent__s;
                    position: static;
                }
            }
        }
    }

    //  Empty cart
    .cart-empty {
        &:extend(.abs-revert-side-paddings all);
    }

    //  Cross sell
    .block {
        &.crosssell {
            .lib-layout-column(2, 1, @layout-column-checkout__width-main);
            &:extend(.abs-add-box-sizing-desktop all);
            padding: 0 4% 0 0;

            .products-grid .product-item {
                width: 100%/4;
            }
        }
    }
}
@media (min-width: 768px){
    .c-steps__label{
        font-size:14px;
    }
    .c-cart__table{
        >tbody{
            >tr{
                >td{
                &:first-child {
                    width:144px;
                    padding-right: 12px;
                    padding-left: 12px
                }
                }
            }
        }
    }
   .c-button__right-arrow-lg {
        display:block;
        position: absolute;
        top: 18px;
        right: 18px;
        margin-right: 0 !important
    }

}
@media (min-width: 1200px){
     .c-steps__connecting-line {
        width:50%;
    } 
    .u-col-lg-offset-1-5 {
        margin-left:12.5% !important
    }
    .c-section {
        padding-top:48px;
        padding-bottom: 48px
    }

}
@media (min-width: 991px){
    #discount-coupon-form{
        .c-cart__btn-coupon{
            margin-top:25px;
        }
    } 

}
@media (max-width: 1200px){
    .checkout-cart-index,.checkout-index-index{
        .free-delivery-home{
            padding:7px 0px;
            .delivery{
                text-align: left;
                .warranty,.day-return,.expert-advice {
                    display: none;
                }
            }
        } 
        #search_mini_form{
            display:none;
        } 

    } 
}
@media (max-width: 768px){
   .cart-container{
        .col-sm-push-6{
            text-align:left;
        }
   }
    .checkout-cart-index,.checkout-index-index{
        .free-delivery-home{
            display:block;
        }
        .page-header{
            margin-bottom:0px;
        }
        .call-us{
            .icon-phone{
                display:block;
            }
        }

    }
    


}
@media (max-width: 640px){
    .c-cart__cart{
        #shopping-cart-table{
            max-width:100%;
            border-collapse:separate;    
            thead{
                display:none;
            }
                tbody{
                    tr{
                        position:relative;
                        width:100%;
                        display:inline-block;
                        td{
                            &:first-child{
                                position:initial;
                            }
                            border:0px;
                        }
                        td.price{
                            display:none;
                        }
                        td.qnt-count{
                            display: block;
                            float: left;
                            padding-left: 84px;
                        }
                        td.subtotal{
                            float:right;
                        }
                    }
                }

        }

    } 
    .cart.table-wrapper{
        .cart{
            tbody{
                td.delete{
                    position:absolute;
                    right:0px;
                    top:0px;
                }
            } 
        } 
    } 
}
@media (max-width: 480px){
    .checkout-cart-index,.checkout-index-index{
        .toolbar-project {
            display:none;
        } 
    } 
    .checkout-cart-index,.checkout-index-index{
        .free-delivery-home {
            .delivery{
                .fre-deli{
                    background-position: 122px 20px;
                    min-height:47px;
                }
                li{
                    width:168px!important;
                    padding:5px 40px 0px 15px !important;
                }
                .fre-irish{
                    background-position: 114px 15px;
                    padding:11px 40px 0px 15px !important;
                }
            }
        }
    } 
}