// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@minicart__border-color: @color-gray80;
@minicart__padding-horizontal: @indent__base;

@minicart-qty__height: 24px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Minicart
    //  ---------------------------------------------

    .block-minicart {
        .items-total {
            float: left;
            margin: 0 @indent__s;

            .count {
                font-weight: @font-weight__bold;
            }
        }

        .subtotal {
            margin: 0 @indent__s @indent__s;
            text-align: right;

            .label {
                &:extend(.abs-colon all);
            }
        }

        .amount {
            .price-wrapper {
                &:first-child {
                    .price {
                        font-size: 15px;
                        font-weight: @font-weight__bold;
                    }
                }
            }
        }

        .subtitle {
            display: none;

            &.empty {
                display: block;
                font-size: 14px;
                padding: @indent__l 0 @indent__base;
                text-align: center;
            }
        }

        .text {
            &.empty {
                text-align: center;
            }
        }

        .block-content {
            > .actions {
                margin-top: 15px;

                > .secondary {
                    text-align: center;
                }

                > .primary {
                    margin: 0 @indent__s 15px;

                    .action {
                        &.primary {
                            &:extend(.abs-button-l all);
                            display: block;
                            width: 100%;
                        }
                    }
                }

                .paypal-logo {
                    margin-top: 15px;
                    text-align: center;
                }
            }
        }

        .block-category-link,
        .block-product-link,
        .block-cms-link,
        .block-banners {
            margin: 15px 0 0;
            text-align: center;
        }
    }

    .minicart-wrapper {
        .lib-dropdown(
        @_toggle-selector: ~'.action.showcart',
        @_options-selector: ~'.block-minicart',
        @_dropdown-toggle-icon-content: @icon-cart,
        @_dropdown-toggle-active-icon-content: @icon-cart,
        @_dropdown-list-item-padding: false,
        @_dropdown-list-item-hover: false,
        @_icon-font-position: before,
        @_icon-font-size: 22px,
        @_icon-font-line-height: 28px,
        @_icon-font-color: @minicart-icons-color,
        @_icon-font-color-hover: @minicart-icons-color-hover,
        @_icon-font-color-active: @minicart-icons-color
        );
        float: right;

        .block-minicart {
            .lib-css(padding, 25px @minicart__padding-horizontal);
            right: 0;
            width: 390px;
            z-index: 101;

            .block-title {
                display: none;
            }

            &:after {
                left: auto;
                right: 25px;
            }

            &:before {
                left: auto;
                right: 19px;
                top:-32px;
                border:16px solid;
                border-color: transparent transparent #fff transparent;
            }
        }

        .product {
            .actions {
                float: right;
                margin: -24px 0 0;

                > .primary,
                > .secondary {
                    display: inline;

                    &:not(:last-child) {
                        margin-right: 15px;
                    }
                }
            }
        }

        .action {
            &.close {
                height: 40px;
                position: absolute;
                right: 0;
                top: 0;
                width: 40px;
                .lib-button-reset();
                .lib-button-icon(
                    @icon-remove,
                    @_icon-font-color: @minicart-icons-color,
                    @_icon-font-size: 16px,
                    @_icon-font-line-height: 16px,
                    @_icon-font-text-hide: true
                );
            }

            &.showcart {
                white-space: nowrap;

                .text {
                    &:extend(.abs-visually-hidden all);
                }

                .counter.qty {
                    .lib-css(color, @page__background-color);
                    .lib-css(height, @minicart-qty__height);
                    .lib-css(line-height, @minicart-qty__height);
                    border-radius: 2px;
                    display: inline-block;
                    margin: 3px 0 0;
                    min-width: 1px;
                    overflow: hidden;
                    text-align: center;
                    white-space: normal;

                    &.empty {
                        display: none;
                    }

                    .loader {
                        > img {
                            .lib-css(max-width, @minicart-qty__height);
                        }
                    }
                }

                .counter-label {
                    &:extend(.abs-visually-hidden all);
                }
            }
        }

        .minicart-widgets {
            margin-top: 15px;
        }
    }

    .minicart-items-wrapper {
        height:auto!important;
        overflow:auto;
        .t-header{
            display:table-cell;
            padding:8px;
            font-weight:bold;
            border-bottom:1px solid #e9eaee;
            &:nth-child(1){
                width:47px;
            }
            &:nth-child(2){
                width:205px;
            }
            &:nth-child(3){
                width:75px;
            }

        }
        .lib-css(margin, 0 -@minicart__padding-horizontal);
        border-left: 0;
        border-right: 0;
        padding: 0px 15px;
    }

    .minicart-items {
        .lib-list-reset-styles();
        .product-item {
            padding: @indent__base 0;

            &:not(:first-child) {
                .lib-css(border-top, 1px solid @minicart__border-color);
            }

            &:first-child {
                padding-top: 0;
            }

            > .product {
                &:extend(.abs-add-clearfix all);
            }
        }

        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);
        }

        .product-item-pricing {
            .label {
                display: inline-block;
                width: 4.5rem;
            }
        }

        .price-minicart {
            margin-bottom: @indent__xs;
        }

        .product-item-name {
            font-weight: @font-weight__regular;
            margin: 0 0 @indent__s;

            a {
                .lib-css(color, @link__color);
            }
        }

        .product-item-details {
            padding-left: 88px;

            .price {
                font-weight: @font-weight__bold;
            }

            .price-including-tax,
            .price-excluding-tax {
                margin: @indent__xs 0;
            }

            .weee[data-label] {
                .lib-font-size(11);
                .label {
                    &:extend(.abs-no-display all);
                }
            }

            .details-qty {
                margin-top: @indent__s;
            }
        }

        .product {
            > .product-item-photo,
            > .product-image-container {
                float: left;
            }

            .toggle {
                &:extend(.abs-toggling-title all);
                &:after {
                    .lib-css(color, @color-gray56);
                    margin: 0 0 0 @indent__xs;
                    position: static;
                }
                border: 0;
                padding: 0 @indent__xl @indent__xs 0;
            }

            .active {
                > .toggle {
                    .lib-icon-font-symbol(
                        @_icon-font-content: @icon-up,
                        @_icon-font-position: after
                    );
                }
            }

            &.pricing {
                margin-top: 3px;
            }

            &.options {
                .toggle {
                    &.tooltip {
                        .lib-icon-font(
                        @icon-down,
                        @_icon-font-size: 12px,
                        @_icon-font-line-height: 12px,
                        @_icon-font-text-hide: true,
                        @_icon-font-margin: -3px 0 0 7px,
                        @_icon-font-position: after
                        );
                    }
                    > span {
                        &:extend(.abs-visually-hidden-reset all);
                    }
                }

                .details {
                    display: none;
                }
            }
        }

        .details-qty,
        .price-minicart {
            .label {
                &:extend(.abs-colon all);
            }
        }

        .item-qty {
            text-align: center;
            width: 40px;
        }

        .update-cart-item {
            .lib-font-size(11);
            vertical-align: top;
        }

        .subtitle {
            display: none;
        }

    }
    .c-mini-cart {
        position: absolute;
        top: -1px;
        right: -15px;
        display:block;
        width: 100%;
        padding-top: 12px;
        padding-right: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
        background: #fff;
        color: #45485c;
        text-align: left;
        border: 0;
        border-bottom: 1px solid #e9eaee;
        border-radius: 0;
        box-shadow: 0 5px 20px rgba(47,48,58,.2);
        transition: color 0.3s ease;
        z-index: 2;
    }
    .c-mini-cart__table{
        th{
            &:first-child {
                width: 6%;
            }
            &:nth-child(2) {
                width: 58%;
                padding-right: 12px
            }
        }
    } 
    .c-mini-cart__item{
       td{
           a {
                color: #2f303a;
                transition: opacity 0.2s ease;
                opacity: 1;
                &:hover {
                    opacity: .7
                }
            } 
            input {
                width: 46px;
                height: 34px;
                border: 1px solid #2ba8db!important;
                border-radius: 5px;
                outline: 0;
                text-align: center;
                padding-left: 6px;
                padding-right: 6px
            } 
       }
       .action.delete{
            &:before{
                content:'';
            }
       }
    } 
    #mini-cart{
        display:table;
        margin-bottom:10px;
        width:100%;
        .price-including-tax{
            &:after{
                content:'';
            }
        }
        .t-header{
            display:table-cell;
            padding:8px;
            font-weight:bold;
            border-bottom:1px solid #e9eaee;
        }
        .c-mini-cart__item{
            
            .content{
                padding:8px;
                border-bottom:1px solid #e9eaee;
                vertical-align:middle;
            }   

        }
        .price-including-tax, .price-excluding-tax{
            font-size:15px;
        }
        .price-container{
            .price{
                font-size:15px;
            }
        } 
    }
    .minicart-wrapper.active{
         .block-minicart{
            padding:0px!important;
            border:none;
         }
    }
    .c-mini-cart__total{
        .subtotal{
            >.label{
                span{
                    float:left;
                    font-weight:700;
                }
                &:after{
                    content:'';
                }
                
            }
        }
    }
    #top-cart-btn-checkout{
        width:100%;
    }
    .modal-inner-wrap{
        .modal-content{
            box-shadow:initial;
        }
        .modal-header{
            border:none!important;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .minicart-wrapper .block-minicart {
        width: 290px;
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .minicart-wrapper {
        margin-top: @indent__s;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .minicart-wrapper {
        margin-left: 13px;

        .block-minicart {
            right: -15px;
            width: 390px;
        }
    }
    .minilist .action.delete,
    .minicart-wrapper .action.edit {
        .lib-icon-font-size(
            @_icon-font-size: 16px
        );
    }
}
@media(min-width:1200px){
    .minicart-wrapper{
    
        position:relative!important;
    }
}
