 <div class="seven columns icons">
        <div class="two columns">
            <i class="fa fa-envelope-o"></i>
            <p><?php echo __('Subscribe') ?></p>
            <p class="name"> <?php echo __('Newsletter') ?></p>                        
        </div>
        <div class="subscribe-box">
          <div class="block block-subscribe">
              <form class="form subscribe"
                    novalidate
                    action="<?php echo $block->getFormActionUrl() ?>"
                    method="post"
                    data-mage-init='{"validation": {"errorClass": "mage-error"}}'
                    id="newsletter-validate-detail">
                  <div class="block-content">
                      <div class="input-box">
                         <input name="email" type="email" class="input-text required-entry validate-email" id="newsletter"
                           data-validate="{required:true, 'validate-email':true}" title="Sign up for our newsletter"/>
                      </div>
                       <div class="actions">
                          <button class="button" title="<?php echo __('Subscribe') ?>" type="submit">
                              <span><span><?php echo __('Send') ?></span></span>
                          </button>
                      </div>
                  </div>
              </form>
          </div>
        </div>
      </div>