<div class="c-mini-cart cart-dropdown minicart-update-customize">
        <div class="c-mini-cart__inner body">
            <if args="getCartParam('summary_count')">
                
            <div data-action="scroll" class="minicart-items-wrapper">
                <div class="t-header">&nbsp;</div>
                <div class="t-header"><span data-bind="i18n: 'Items'"></span></div>
                <div class="t-header"><span data-bind="i18n: 'Quantity'"></span></div>
                <div class="t-header"><span data-bind="i18n: 'Price'"></span></div>
                    <div id="mini-cart" class="minicart-items" data-bind="foreach: { data: getCartItems(), as: 'item' }">
                            
                        <each args="$parent.getRegion($parent.getItemRenderer(item.product_type))"
                              render="{name: getTemplate(), data: item, afterRender: function() {$parents[1].initSidebar()}}"
                        />
                    </div> 
            </div>        
             </if>
            <ifnot args="getCartParam('summary_count')">
                <strong class="subtitle empty"
                        data-bind="visible: closeSidebar()"
                        translate="'You have no items in your shopping cart.'"
                />
            </ifnot>    

             
    </div>
    <if args="getCartParam('summary_count')">

    <div class="c-mini-cart__total total u-margin-bottom-small">
        <div class="actions">
            <div class="primary">
                <a class="action btn btn-lg btn-success button btn-proceed-checkout btn-checkout checkout viewcart" data-bind="attr: {href: shoppingCartUrl}">
                    <span translate="'Continue to checkout'"/>
                </a>
            </div>
        </div>
    </div>
</if>
</div>