<?php 
   $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
   $_category = $objectManager->get('Magento\Framework\Registry')->registry('current_category');//get current category
  $_imgUrl = $_category->getImageUrl();
?>

<div class="hidden-phone">
			  <?php echo $this->getChildHtml('breadcrumbs') ?>
		  </div>
<section class="commercial-sector">
<?php if($_imgUrl){ ?>
	<div class="hidden-desktop">
		<img src="<?php echo $_imgUrl; ?>" alt="<?php echo $_category->getName(); ?>" title="<?php echo $_category->getName(); ?>">
	</div>
 <?php } ?>
	<div class="container">
		 <div class="filters-mobile col-lg-3 col-md-3 col-sm-4 left-commercial">
		 	<div>
		 		<?php echo $this->getChildHtml('commercial-sidebar');?>
		 	</div>
		 </div>
		 <div class="col-lg-9 col-md-9 col-sm-8 category-products right-commercial">
		 	<h1 class="title">
		 		<?php echo $_category->getName(); ?>
		 	</h1>
		 	<?php if($_imgUrl){ ?>
		 	<div class="hidden-phone">
		 			<img src="<?php echo $_imgUrl; ?>" alt="<?php echo $_category->getName(); ?>" title="<?php echo $_category->getName(); ?>">
		 	</div>
		 	<?php } ?>
		 	<?php if($_description = $_category->getDescription()): ?>
		 	<div class="description"><?php echo $objectManager->get('Magento\Cms\Model\Template\FilterProvider')->getPageFilter()->filter($_description);?></div>
		 	 <?php endif; ?>
		 	<img src="<?php echo $this->getViewFileUrl('images/organisations.png'); ?>" />
		 	 <?php if($_bottom_description = $_category->getDescriptionAttributeBottom()): ?>
				  <div class="bottom-description">
					  <?php echo $objectManager->get('Magento\Cms\Model\Template\FilterProvider')->getPageFilter()->filter($_bottom_description);?>
				  </div>
			  <?php endif; ?>
		 </div>

	</div>
</section>
