<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$categoryCollection = $objectManager->get('\Magento\Catalog\Model\ResourceModel\Category\CollectionFactory');
$categories = $categoryCollection->create();
$categories->addAttributeToSelect('*');
$categoryHelper = $objectManager->get('\Magento\Catalog\Helper\Category');
$categories = $categoryHelper->getStoreCategories();
?>

<div class="shop-filters">
    <section class="filter-section">
        <h3><?php echo __('Categories') ?></h3>
        <ul class="categories">
        <?php foreach ($categories as $category) {  ?>
            <li><a href="<?php echo $category->getUrl(); ?>"><?php echo $category->getName(); ?></a></li>
        <?php }?>
        </ul>
    </section>
</div>