<div class="wrap-policy-our">
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$category = $objectManager->get('Magento\Framework\Registry')->registry('current_category');
 $subcats = $category->getChildrenCategories();
  foreach ($subcats as $subcat):
        $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($subcat->getId()); 
        $media_path = $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
        $_imgUrl = ''; 
        $img_cat = $cat->getData('lr_cate_thumbimg');
        $_description = $cat->getDescription();
        if(null != $img_cat):
            $_imgUrl = $media_path.'catalog/category/'.$img_cat;
        endif;
 ?>
        
		<div class="policy">
            <section class="item-policy">
                <img src="<?php  echo $_imgUrl;?>" alt="<?php echo $subcat->getName();?>" />
                <div class="infor">
                    <h2><?php echo $subcat->getName();?></h2>
                    <?php echo $objectManager->get('Magento\Cms\Model\Template\FilterProvider')->getPageFilter()->filter($_description);?>
                   
                </div>
            </section>
		</div>
		
<?php         
  endforeach;
?>
</div>
