<?php
$element = $this->getElement();
$htmlId  = $element->getHtmlId();
$name    = $element->getName();
$value   = $element->getValue();
$tags    = $block->getTags();
$data    = [];
if ($value && is_array($value)) { 
	foreach ($value as $k => $v) {
		foreach ($tags as $tag) {
			if ($v['tag_id']==$tag->getTagId()) {
				$data[] = $tag->getAlias();
				break;
			}
		}
	}
}
$value = implode(",", $data);
if (empty($value)) {
	$value = '';
}
$sampleTags = [];

foreach ($tags as $tag) {
	$sampleTags[] = $tag->getAlias();
}
$disabled =$element->getDisabled();
?>
<div class="album-tags">
	<input id="<?php echo $htmlId; ?>" <?php if ($disabled) { ?>disabled="disabled"<?php } ?> type="hidden" name="<?php echo $name; ?>" value="<?php echo $value;?>"/>
	<ul id="myTags"></ul>
	<p><?php echo __('Press Enter or Comma to create a new tag, Backspace or Delete to remove the last one.'); ?></p>
	<script>
		require([
			'jquery',
			'Lof_Gallery/js/tag-it'
			], function($) {
				jQuery(document).ready(function($) {
					var sampleTags = <?php echo (count($sampleTags)>0)?\Zend_Json::encode($sampleTags):'[]' ?>;
					$('#myTags').tagit({
						availableTags: sampleTags,
						caseSensitive: false,
						singleField: true,
						singleFieldNode: $('#<?php echo $htmlId; ?>')
					});
				});
			});
		</script>
	</div>