// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@import 'module/_listings.less';
@import 'module/_toolbar.less';

@product-h1-margin-bottom-desktop: @indent__s + @indent__xs;

//
//    Common
//--------------------------------------

& when (@media-common = true) {

//
//    Category view
//--------------------------------------
.action.tocompare {
    &:extend(.abs-actions-addto all);
    .lib-icon-font-symbol(
    @_icon-font-content: @icon-compare-full,
    @_icon-font-position: before
    );
}
.catalog-category-view .page-title-wrapper {
    display: none;
}
.price-box {
    margin: 8px 0 13px;
    .price {
        font-weight: 600;
    }
}
.old-price,
.old.price {
    .lib-css(color, @product-info-old-price);
}
.old-price {
    display: inline-block;
    vertical-align: middle;
    
    .price {
        text-decoration: line-through;
        color: #999;
        font-size: 14px;
    }
    .price-label {
        display: none;
    }
}
.special-price {
    display: inline-block;
    vertical-align: middle;
}
.price-tier_price {
    .price-including-tax + .price-excluding-tax {
        &:before {
            content: "(" attr(data-label) ":";
        }
        &:last-child:after {
            content: ")";
        }
    }

    .weee[data-label] {
        display: inline;
        &:before {
            content: " +" attr(data-label) ":";
        }
    }
}

.actual-price {
    font-weight: @font-weight__bold;
}

.product.name a {
    &:extend(.abs-product-link all);
}

.special-price {
    .price-label {
        &:extend(.abs-visually-hidden all);
    }
}

.category {
    &-image {
        .image {
            max-width: 100%;
            width: 100%;
            height: auto;
            display: block;
        }
    }
    &-cms,
    &-image,
    &-description {
        margin-bottom: @indent__base;
        word-wrap: break-word;
    }
}

//
//    Product images general container
//--------------------------------------
.product-image {
    &-container {
        display: inline-block;
        max-width: 100%;
        min-width: 100%;
        position: relative;
        background: #fff;
        overflow: hidden;
        z-index: 0;
    }
    &-wrapper {
        height: 0;
        display: block;
        position: relative;
        z-index: 1;
        overflow: hidden;
    }
    &-photo {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        margin: auto;
        height: auto;
        
        &.default_image {
            position: static;
        }
        &.hover_image {
            visibility: hidden;
            opacity: 0;
            transition: all 0.3s;
            padding: 3px;
            
            .product-item-photo:hover & {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

//
//    Product view
//--------------------------------------
.prodcut-downloads{
    .product-download-main{
        img{
            max-width:40px;
            margin-left:30px;
        } 
        a{
            color:#414141;
            display:inline-block;
        }  
    }  
} 
    .box-tocart{
        .action.tocart:not(:last-child){
            margin-bottom:0px!important;
        }
    } 
    .product-options-wrapper .swipe-op-control {
        color: #231f20;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
        display: none;
    }

    .product-options-wrapper .swipe-op-control span {
        bottom: 2px;
        position: relative;
        padding: 0px 10px
    }

    .product-options-wrapper .swipe-op-control a {
        color: #231f20;
        font-size: 18px;
        padding: 20px
    }

    .product-options-wrapper .swipe-op-control .swipe-op-prev i {
        background: url('../images/pre-back.png') center center no-repeat;
        padding: 6px
    }

    .product-options-wrapper .swipe-op-control .swipe-op-next i {
        background: url('../images/pre-next.png') center center no-repeat;
        padding: 6px
    }


    .page-layout-1column {
        #maincontent{
            .product-info-right{
                width: 75%;
                float:right;
                .product-info-main {
                    width: 100%;
                    border:1px solid #c7c8ca;
                    padding:0px;
                    .page-title-wrapper{
                        float:left; 
                        padding:0px 15px;
                        width:75%;
                    }
                    .price-box{
                        float:right;
                        width:25%;
                        margin:0px;
                        padding:0px;
                        .price{
                            font-size:56px;
                        }
                        span{
                            color:#39b54a;
                        }
                    }
                    .price-box.price-tier_price{
                        width:100%;
                        float:none;
                    }
                    .box-feature-download{
                        border-top: 1px solid #c7c7c9;
                        font-size: 15px;
                        display: inline-block;
                        width: 100%;
                        font-weight: 100;
                        .prodcut-features{
                            .product-feature-title {
                                font-size: 15px;
                                font-weight: 600;
                                text-transform: uppercase;
                                color: #000;
                                padding: 30px 0px;
                            }
                        } 
                        .product-download-title{
                            font-size: 15px;
                            font-weight: 600;
                            text-transform: uppercase;
                            color: #000;
                            padding: 30px 0px;
                        }
                    }
                    .box-static-block {
                        border-top: 1px solid #c7c7c9;
                        font-size: 15px;
                        display: inline-block;
                        width: 100%;
                        font-weight: 100;
                        padding:15px;
                        .static-block-title {
                            font-size: 15px;
                            font-weight: 600;
                            text-transform: uppercase;
                            color: #000;
                            padding: 30px 0px;
                        }
                        .panel-group {
                            font-size: 15px;
                            font-weight: 100;
                            color: #000;
                            .panel {
                                border: 0;
                                border-radius: 0;
                                box-shadow: none;
                                .panel-body{
                                    border:none;
                                }
                            }
                            .panel-default{
                                >.panel-heading {
                                    background: none;
                                    padding: 0;
                                    border-radius: 0;                               
                                    .panel-title {
                                        margin-top: 0;
                                        margin-bottom: 0;
                                        font-size: 16px;
                                        color: inherit
                                    }
                                }
                            }
                            .panel-title{
                                >a {
                                    border: none;
                                    background: transparent;
                                    font-size: 15px;
                                    font-weight: 100;
                                    color: #000;
                                    padding: 0px;
                                    &:after {
                                        display: none
                                    }
                                    em {
                                        padding: 5px;
                                        margin-right: 15px;
                                        border: 1px solid #ceced0;
                                        line-height: 10px;
                                        width: 18px;
                                        height: 18px;
                                        display: inline-block;
                                        text-indent: 20px;
                                        overflow: hidden;
                                        float: left;
                                        margin-top: 2px;
                                        position: relative;
                                        -webkit-border-radius: 4px;
                                        -moz-border-radius: 4px;
                                        border-radius: 4px;
                                        -webkit-background-clip: padding-box;
                                        -moz-background-clip: padding;
                                        background-clip: padding-box;
                                        &:before {
                                            display: none
                                        }
                                        &:after {
                                            content: "";
                                            position: absolute;
                                            display: inline-block;
                                            top: 7px;
                                            left: 4px;
                                            z-index: 99;
                                            width: 9px;
                                            height: 1px;
                                            background-color: #000
                                        }
                                    }
                                    &:hover{
                                        text-decoration:none;
                                    }
                                }
                                a.collapsed{
                                    em{
                                        padding: 5px;
                                        margin-right: 15px;
                                        border: 1px solid #ceced0;
                                        line-height: 10px;
                                        width: 18px;
                                        height: 18px;
                                        display: inline-block;
                                        text-indent: 20px;
                                        overflow: hidden;
                                        float: left;
                                        margin-top: 2px;
                                        position: relative;
                                        -webkit-border-radius: 4px;
                                        -moz-border-radius: 4px;
                                        border-radius: 4px;
                                        -webkit-background-clip: padding-box;
                                        -moz-background-clip: padding;
                                        background-clip: padding-box;
                                        &:before {
                                            content: "";
                                            position: absolute;
                                            display: inline-block;
                                            top: 3px;
                                            left: 8px;
                                            z-index: 99;
                                            width: 1px;
                                            height: 9px;
                                            background-color: #000
                                        }
                                    }
                                }
                            }
                        }

                    }
                }
                .standalone-bottomline{
                    display:none;
                }
            }
            .product-info-left{
                width: 25%;
                float:left;
                padding:0px 12px 0px 0px;
                .product.media {
                    width: 100%;
                    padding:0px;
                    .product-name{
                        h1.title-name{ 
                            color: #414042;
                            font-size: 29px;
                            font-weight: 100;
                            margin:20px 0px;
                            display:none;
                        }
                    }
                }
                .asidebar-breadcrumd{
                    .btn.btn-back-to-range {
                        border-color: #edeeee;
                        background-color: #edeeee;
                        text-transform: uppercase;
                        color: #000;
                        font-size: 15px;
                        font-weight: 600;
                        width: 100%;
                        padding: 18px 15px 18px 45px;
                        margin-top: 12px;
                        text-align: left;
                        -webkit-border-radius: 0;
                        -moz-border-radius: 0;
                        border-radius: 0;
                        -webkit-background-clip: padding-box;
                        -moz-background-clip: padding;
                        background-clip: padding-box;
                        position: relative;
                        white-space: initial;
                        i {
                            position: absolute;
                            top: 19px;
                            left: 25px;
                            padding-right: 0px
                        }
                    }
                }
                .asidebar-payment-mothod{
                    margin-top:12px;
                    .payment-box {
                        margin-bottom: 12px;
                        border: 1px solid #c7c8ca;
                        padding: 25px 10px;
                        text-align: center;
                        p {
                            margin-bottom: 0px;
                            font-size: 12px;
                            color: #231f20;
                            font-weight: 500;
                            font-family: arial;
                        }
                        &:first-child {
                            background-color: #ecf7ed;
                            img {
                                margin-bottom: 40px
                            }
                            p img {
                                margin-left: 10px;
                                margin-bottom: 0px
                            }
                        }
                        &:last-child img {
                            margin-top: 45px
                        }

                    }

                }
                .fotorama__nav{

                    .fotorama__thumb-border{
                        opacity:1;
                        border:1px solid #c7c8ca;
                    }
                } 
                .fotorama__nav--thumbs{
                    .fotorama__thumb{
                       opacity:0.4; 
                    }
                }
            }
            .product-info-right{
                .asidebar-breadcrumd{
                    .btn.btn-back-to-range {
                        border-color: #edeeee;
                        background-color: #edeeee;
                        text-transform: uppercase;
                        color: #000;
                        font-size: 15px;
                        font-weight: 600;
                        width: 100%;
                        padding: 18px 15px 18px 45px;
                        margin-top: 12px;
                        text-align: left;
                        -webkit-border-radius: 0;
                        -moz-border-radius: 0;
                        border-radius: 0;
                        -webkit-background-clip: padding-box;
                        -moz-background-clip: padding;
                        background-clip: padding-box;
                        position: relative;
                        white-space: initial;
                        i {
                            position: absolute;
                            top: 19px;
                            left: 25px;
                            padding-right: 0px
                        }
                    }
                }
                .asidebar-payment-mothod{
                    margin-top:12px;
                    .payment-box {
                        margin-bottom: 12px;
                        border: 1px solid #c7c8ca;
                        padding: 25px 10px;
                        text-align: center;
                        p {
                            margin-bottom: 0px;
                            font-size: 12px;
                            color: #231f20;
                            font-weight: 500;
                            font-family: arial;
                        }
                        &:first-child {
                            background-color: #ecf7ed;
                            img {
                                margin-bottom: 40px
                            }
                            p img {
                                margin-left: 10px;
                                margin-bottom: 0px
                            }
                        }
                        &:last-child img {
                            margin-top: 45px
                        }

                    }

                }
            }   
        }
        
    }
.page-layout-1column{
    .product-info-right{
        .product-info-main{
            .price-box{
                    span.price-excluding-tax{
                        display:none;
                    }
                
            } 
        } 
    } 
}

.bulk-order-savings {
    padding: 0px;
    margin: 0px 15px 15px;
    display: inline-block;
    background-color: #ebf6eb;
    width:96%;
    .bulk-label {
        padding: 25px 0px;
        width: 35%;
        float: left;
        text-align: center;
        color: #000;
        font-weight: 600;
        font-size: 15px;
        text-transform: uppercase
    }
    .bulk-main {
        float: left;
        width: 65%;
            ul {
                margin: 0px;
                padding: 0px;
                border: none;
                background-color: #ebf6eb;
                li {
                    width: 100%;
                    display: inline-block;
                    padding: 0px;
                    margin:0px;
                    span {
                        text-transform: uppercase;
                        font-size: 15px;
                        font-weight: 100;
                        color: #000!important;
                        padding-top: 10px;
                        padding-bottom: 5px;
                        display: inline-block;
                        span {
                            padding: 0px
                        }
                    }
                    label{
                        width: 33.33%;
                        display: inline-block;
                        padding: 0px;
                        float: left;
                        >span {
                            padding-top: 5px;
                            padding-bottom: 10px;
                            &:first-child {
                                background-color: #39b14a;
                                color: #fff!important;
                                padding-left: 15px;
                                padding-right: 15px
                            }
                            &:last-child {
                                padding-left: 15px
                            }

                        }
                    }
                    .price-excluding-tax{
                        display:none;
                    }
                }
                li:nth-of-type(2n) {
                    background-color: #c3e6c8;
                    
                }
            }
    }

}

.product.media {
    margin-top: 0;
    margin-bottom: 30px;
    
    .product.photo .photo.image {
        &:extend(.abs-adaptive-images-centered);
    }
    .placeholder .photo.container {
        max-width: 100%;
    }
    .notice {
        margin: @indent__s 0;
        .lib-css(color, @text__color__muted);
        .lib-font-size(@font-size__s);
    }
    .product.thumbs {
        margin: @indent__s 0 @indent__m;
    }
    .items.thumbs {
        .lib-list-inline();
        > li {
            margin: 1rem 0 0;
        }
        img {
            display: block;
        }
        .active {
            display: block;
            line-height: 1;
        }
    }
}

.product.info.detailed {
    clear: both;
    margin-bottom: 50px;
    .additional-attributes {
        width: auto;
        .lib-table-bordered(
            @_table_type: clear
        );
        .lib-table-resize(
            @_th-padding-left: 0,
            @_th-padding-right: @indent__l,
            @_th-padding-bottom: @indent__s,
            @_td-padding-bottom: @indent__s
        );
    }
}

.fieldset, .nested.options-list {
    > .field.qty {
        display: inline-block;
        vertical-align: top;
        margin: 0;
        margin-right: 15px;
        
        > .label {
            display: none;
        }
    }
}

.fieldset > .actions {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.input-text.qty {
    border-radius: 3px;
}
#maincontent{
    .product-info-main {
        margin-bottom: 30px;
        
        .page-title-wrapper h1 {
            margin: 20px 0;
            font-size: 29px;
            font-weight: 100;
            color: #414042;
        }
        .product-info-price {
            border-bottom: 1px #ebebeb solid;
            display: table;
            width: 100%;
            margin-bottom: 15px;
            .price-box {
                display: table-cell;
                vertical-align: top;
                .price-final_price > span {
                    display: block;
                    margin-bottom: @indent__xs;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .price-including-tax + .price-excluding-tax,
            .weee + .price-excluding-tax,
            .weee {
                .lib-font-size(14);
                .price {
                    .lib-font-size(14);
                    font-weight: @font-weight__semibold;
                    line-height: 16px;
                }
            }
            .price-wrapper .price {
                .lib-font-size(22);
                font-weight: @font-weight__semibold;
                line-height: 22px;
                .lib-css(color, @product-view-product-info-price);
            }
            .old-price {
                .price-wrapper .price {
                    .lib-font-size(20);
                    font-weight: @font-weight__light;
                    .lib-css(color, @product-view-product-info-old-price);
                }
            }
            .special-price {
                .price-label {
                    &:after {
                        content: ": ";
                    }
                }
            }
        }
        .product-info-stock-sku {
            min-width: 15rem;
            text-align: right;
            display: table-cell;
            vertical-align: bottom;
            padding-left: 10%;
            padding-bottom: 30px;
            color: @base-font-color;
        }
        .stock {
            margin: 0;
            &.available,
            &.unavailable {
                font-weight: @font-weight__bold;
                text-transform: uppercase;
            }
        }
        .product.sku {
            word-wrap: break-word;
        }
        .product {
            &-add-form {
                clear: both;
            }

            &.sku {
                .type {
                    font-weight: normal;
                    margin-right: @indent__xs;
                    &:after {
                        content: '#:';
                    }
                }
                .value {
                    display: inline-block;
                }
            }
            &.overview {
                margin: @indent__base 0;
            }
            &.alert {
                margin: @indent__s 0;
            }
        }
        .product-reviews-summary {
            margin-bottom: 20px;
        }
        .box-tocart {
            margin-top: 0;
            margin-bottom: 30px;
            
            .actions {
                margin-right: 20px;
            }
            div.field.qty{
                width:auto;
                margin:0px;
            }
        }
            .box-tocart {
                margin-top: 20px;
                margin-bottom: 20px;
                float:right;
                .actions{
                    #product-addtocart-button{
                        background:#00aaeb;
                        border:1px solid  #00aaeb;
                        border-radius:10px;
                        -webkit-border-radius:10px;
                        -moz-border-radius:10px;
                        height:50px;
                        min-width:195px;   
                        &:before{
                            content:'\f814';
                        }

                    }
                }
                .qty-changer{
                    >a{
                        border:none;
                        right:0px;
                        left:auto;
                        line-height:1;
                        height:20px;
                        &:first-child{
                            top:7px;
                        }
                        &:last-child{
                            top:24px;
                        }
                    }
                    .porto-icon-down-dir{
                        color:#000;
                        font-size:20px;
                        height:20px;
                        &:before{
                            content:'\f823';
                        }
                    }
                    .porto-icon-up-dir{
                        color:#000;
                        font-size:20px;
                        height:20px;
                        &:before{
                            content:'\f820';
                        }
                    }
                }
                .fieldset{
                    .qty{
                        .input-text.qty{
                            border-color:#bfbebe;
                            color:#000;
                            width:50px!important;
                            height:50px;
                            border-radius:10px;
                        }
                    }
                }
            }
            .product-icon-attributes{
                padding: 15px;
                text-align: center;
                clear:both;
                ul {
                    display: inline-block;
                    width: auto;
                    padding-left:0px;
                    li {
                        display: inline-block;
                        width: 65px;
                        height: 65px;
                        background-color: #39b24a;
                        margin: 10px 5px 0px;
                        padding: 5px 5px;
                        text-align: center;
                        cursor: pointer;
                        position: relative;
                        overflow: hidden;
                        -webkit-border-radius: 10px;
                        -moz-border-radius: 10px;
                        border-radius: 10px;
                        -webkit-background-clip: padding-box;
                        -moz-background-clip: padding;
                        background-clip: padding-box;
                        label {
                            color: #FFF;
                            font-weight: 100;
                            font-size: 13px;
                            height: 40px;
                            width: 100%;
                            line-height: 40px;
                            display: inline-block;
                            overflow-wrap: break-word;
                            word-wrap: break-word;
                            -ms-word-break: break-all;
                            word-break: break-word;
                            -ms-hyphens: auto;
                            -moz-hyphens: auto;
                            -webkit-hyphens: auto;
                            hyphens: auto;
                            span {
                                width: 100%;
                                display: inline-block;
                                font-size: 12px;
                                line-height: 12px;
                                vertical-align: middle;
                                text-transform: uppercase
                            }

                        }
                        i {
                            padding: 5px 10px;
                            display: inline-block;
                            background-image: url(../images/icon-product-avilible.png);
                            background-repeat: no-repeat;
                            background-position: 6px 5px;
                            text-indent: 999px;
                            width: 30px;
                            overflow: hidden;
                            position: absolute;
                            bottom: 3px;
                            left: 50%;
                            margin-left: -15px
                        }
                    }

                }
            }
    }
}

.product-wrapper{
    .product-op-below{
        position:relative;
        background: #edeeee none repeat scroll 0 0;
        margin-bottom: 11px;
        padding: 12px 17px;
        height: 47px;
        >h3{
           color: #797878;
            font-size: 16px;
            font-weight: 600;
            margin:0px;
        }
        span{
            position: absolute;
            top: 100%;
            left: 0%;
            &:before{
                border-top: 7px solid #000;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                content: "";
                position: absolute;
                right: 14px;
                z-index: 9
            }
            &:after{
                border-top: 22px solid #edeeee;
                border-left: 19px solid transparent;
                border-right: 22px solid transparent;
                content: "";
                position: relative;
                top: 15px;
            }
        }
    }
    .wrapper-availables {
        overflow-x: hidden;
        width: 100%;
        max-width: 100%;
        .wrapper-scroll {
            overflow-x: auto;
            width: 100%;
            max-width: 100%;
            table {
                width: 100%;
                th {
                    text-transform: uppercase;
                    font-size: 15px;
                    font-weight: 600;
                    color: #000;
                    padding: 0px 5px 8px;
                    vertical-align: bottom;
                    label {
                        width: 100%;
                        display: block;
                        color: #000;
                        font-weight: 600
                    }

                }
                th.th-1 {
                    padding-left: 40px;
                }
                tbody{
                   tr {
                        border-bottom: 1px solid #FFF;
                    } 
                    tr.active,tr:hover{
                        background-color: #393f4f;
                        td{
                            color: #FFF;
                            cursor: pointer
                        }
                    }
                    td {
                        text-transform: uppercase;
                        font-size: 14px;
                        font-weight: 100;
                        color: #000;
                        padding: 5px 2px;
                        label {
                            width: 100%;
                            display: block;
                            color: #000;
                            font-weight: 600
                        }
                        ul.attributes{
                            list-style:none;
                        }
                    }
                    td.td-first {
                        vertical-align:middle;
                    }

                } 
            }
        }
        .img-radio {
            background: url(https://www.ledlights.co.uk/skin/frontend/smartwave/porto_child/images/result.png) left top no-repeat;
            display: inline-block;
            width: 15px;
            height: 15px;
            vertical-align: middle;
            margin-right: 10px;
        }
         tr.active{
            .img-radio {
                background-position: left bottom;
            }
         } 
         .price-container{
            .price{
                font-size:14px;
            }
         }
    }

} 

.product-options-wrapper {
    .configurable{
        display: block !important;
        border: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
        font-size: 0 !important;
        line-height: 0 !important;
        width: 0 !important;
        height: 0 !important;
        overflow: hidden !important;
    }

    .fieldset-product-options-inner {
        .legend {
            border: none;
            .lib-css(font-weight, @font-weight__semibold);
            display: inline-block;
            .lib-font-size(14px);
            float: none;
            padding: 0;
            margin: 0 0 8px;
        }
        &.required {
            .legend {
                &:after {
                    content: '*';
                    .lib-typography(
                    @_font-size: @form-field-label-asterisk__font-size,
                    @_color: @form-field-label-asterisk__color,
                    @_font-family: @form-field-label-asterisk__font-family,
                    @_font-weight: @form-field-label-asterisk__font-weight,
                    @_line-height: @form-field-label-asterisk__line-height,
                    @_font-style: @form-field-label-asterisk__font-style
                    );
                    .lib-css(margin, @form-field-label-asterisk__margin);
                }
            }
        }
    }
    .field {
        .note {
            display: block;
            .lib-css(margin-top, @indent__xs);
        }
    }
}

.product-options-bottom .price-box,
.product-info-price .price-box {
    display: table-cell;
    vertical-align: top;
    padding-bottom: 20px;
    .old-price {
        font-size: 20px;
        font-weight: @font-weight__light;
        .price-container > span {
            display: inline-block;
            color: @product-view-product-info-old-price;
            
            &.price-label {
                display: none;
            }
        }
    }
    .price-container {
        > span {
            display: block;
            margin-bottom: @indent__xs;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .price {
            font-size: 22px;
            line-height: 22px;
            font-weight: @font-weight__semibold;
            color: @product-view-product-info-price;
        }
        .price-including-tax + .price-excluding-tax,
        .weee + .price-excluding-tax,
        .weee {
            .lib-font-size(12);
            line-height: 14px;
            .price {
                .lib-font-size(12);
                font-weight: @font-weight__bold;
            }
        }
    }
}

.box-tocart {
    &:extend(.abs-box-tocart all);
    .field.qty {
    }
    .input-text.qty {
        &:extend(.abs-input-qty all);
    }
    .actions {
    }
    .action.tocart {
        &:extend(.abs-button-l all);
        &:extend(.abs-button-responsive all);
        &:not(:last-child) {
            margin-bottom: 15px;
        }
        vertical-align: top;
    }
}

.product-addto-links {
    display: inline;
    .action {
        margin-right: 5%;
    }
}

.product-social-links {
    margin: 0 0 25px;
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #ebebeb;
    .product-addto-links{
        .action.towishlist{
            width:32px;
            height:32px;
            line-height:32px;
            border-radius:3px;
            border:1px solid #ed4949;
            position:relative;
            &:before{
                content:'\f844';
            }
        }
    }
}

div.product-add-form{
    .moved-add-to-links {
        display: inline-block;
        vertical-align: middle;
        float:right;
        padding:30px 0px 20px 0px;
        .product-addto-links{
            .action.towishlist{
                width:32px;
                height:32px;
                line-height:32px;
                border-radius:3px;
                border:1px solid #ed4949;
                position:relative;
                &:before{
                    content:'\f844';
                }
            }
        }
        a.action.mailto{
            width:32px;
            height:32px;
            line-height:32px;
            border:1px solid #6d6e71;
            border-radius:3px;
            margin:0px 30px;
            position:relative;
            span{
                bottom:-15px;
            }
        }
    }

}

.product-addto-links, .moved-add-to-links, .product-social-links {
    .action span {
        font-size:7px;
        text-transform:initial;
        bottom: -25px;
        left: -15px;
        position: absolute;
        text-align: center;
        width: 60px;
        line-height:1.5;


    }
    .action.tocompare {
        &:extend(.abs-actions-addto all);
        .lib-icon-font-symbol(
            @_icon-font-content: @icon-compare-full,
            @_icon-font-position: before
        );
    }
    .action.mailto.friend {
        color: @mailto-friend-icon;
        border-color: @mailto-friend-icon;
        border-radius: 3px;
    }
    a.action:before {
        line-height: 30px;
    }
}

.product-addto-links .action {
    margin-right: 5px;
    border-radius: 3px;
    
    &.towishlist {
        color: @addto-wishlist-icon;
        border-color: @addto-wishlist-icon;
    }
    &.tocompare {
        color: @addto-compare-icon;
        border-color: @addto-compare-icon;
    }
}

.prices-tier {
    &:extend(.abs-reset-list all);
    margin-bottom: @indent__s + @indent__xs;
    .item {
        margin-bottom: @indent__s;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .price-excluding-tax,
    .price-including-tax {
        display: inline-block;
    }
}

.minimal-price-link,
.price-excluding-tax,
.price-including-tax {
    white-space: nowrap;
    display: block;
}

.ui-dialog-titlebar-close {
    .lib-button-as-link();
}

.qty.field {
    .control, .qty-changer {
        display: inline-block;
        vertical-align: middle;
    }
    
    .qty-changer {
        > a {
            display: block;
            border: 1px solid @form-element-input__border-color;
            border-radius: 3px;
            height: 18px;
            line-height: 16px;
            margin-top: 2px;
            color: #ccc;
            font-size: 11px;
            
            &:first-child {
                margin-top: 0;
            }
            &:hover {
                color: @_link-color-hover;
            }
        }
    }
}

.fotorama__nav .fotorama__thumb-border {
    border-color: @theme-color;
}

//
//    Sidebar product view
//--------------------------------------
.sidebar {
    .product-items {
        .product-item {
            margin-bottom: @indent__base;
            position: relative;
            float: none;
            width: auto;
            padding: 0;
            
            &:last-child {
                margin-bottom: 0;
            }
            &-info {
                position: relative;
                width: auto;
                margin-bottom: 20px;
                
                &:after {
                    content: "";
                    display: table;
                    clear: both;
                }
                .product-item-photo {
                    float: left;
                    max-width: 40%;
                    margin-right: 10px;
                    
                    img {
                        position: static;
                        width: auto;
                    }
                }
            }
            &-name {
                margin-top: 0;
            }
            &-details {
                text-align: left;
                margin-left: ~'calc(40% + 15px)';
                padding: 0;
            }
            &-actions {
                display: block;
                margin: 0;
            }
            
            .product-reviews-summary {
                background: none;
            }
        }
        .price-box {
            display: block;
            margin: 7px 0;
        }
        .text {
            margin-right: 8px;
        }
        .counter {
            .lib-css(color, @primary__color__lighter);
            font-size: 12px;
            white-space: nowrap;
        }
        .minilist {
            .price {
                display: inline;
                padding: 0;
            }
            .weee:before {
                display: inline-block;
            }
        }
        .action {
            &.delete {
                &:extend(.abs-remove-button-for-blocks all);
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }

    .subtitle {
        &:extend(.abs-no-display all);
    }

    //
    //    Product images only
    //--------------------------------------
    .product-items-images {
        &:extend(.abs-add-clearfix all);
        margin-left: -@indent__xs;
        .product-item {
            &:extend(.abs-add-box-sizing all);
            float: left;
            padding-left: @indent__xs;
        }
    }

    //
    //    Product names only
    //--------------------------------------
    .product-items-names {
        .product-item {
            margin-bottom: @indent__s;
        }
        .product-item-name {
            margin: 0;
        }
    }
}

.product-labels {
    position: absolute;
    right: 10px;
    top: 10px;
    
    .product-label:first-child {
        margin-top: 0;
    }
}
.product-label {
    padding: 7px 10px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 4px;
    color: #fff;
    margin-top: 5px;
    line-height: 1;
    
    &.new-label {
        background-color: #62b959;
    }
    &.sale-label {
        background-color: #e27c7c;
    }
}
}
.products-grid.products-related{
        .product-item{
            width:100%;
            padding:0px;
            .wrap-product-item-info{
                padding:6px;
                width:50%;
                float:left;

                &:before,&:after{
                    content:'';
                    display:table;
                }
                &:after{
                    clear:both;
                }
                .product-item-info{
                    border:1px solid #c7c8ca;
                    .product-item-name{
                        .product-item-link{
                            color:#231f20;
                            font-weight:100;
                            position:relative;
                            &:hover{
                                text-decoration:none;
                            }
                            &:before{
                                content:'\f821';
                                position:absolute;
                                right:-15px;
                                bottom:2px;
                                color:#39b14a;
                            }
                        }
                    }
                }           
            }
        } 
}
.product-info-left,.product-info-right{
        .block.related{
            padding:0px;
            .block-title{
                text-align:center;
                #block-related-heading{
                    font-weight:100;
                    color:#777;
                    padding:10px 0px;
                }
            }
        }
}
//
//    Mobile @screen__m
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .catalog-product-view {
        .column.main {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-direction(column);
        }
        .product.media {
            .lib-vendor-prefix-order(-1);
        }
    }
}

//
//    Mobile @screen__s
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .product-social-links {
        .action.tocompare {
            display: none;
        }
    }
    .product-info-price {
        margin: 0 -@indent__s 0;
        width: ~"calc(100% + 2*@{indent__s})"!important;
        > *:first-child {
            padding-left: @indent__s;
        }
        > *:last-child {
            padding-right: @indent__s;
        }
    }
    .product.info.detailed {
        .additional-attributes-wrapper {
            &:extend(.abs-no-border-top all);
        }
    }
}

//
//    Desktop
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .product-info-main {
        .page-title-wrapper {
            h1 {
                .lib-css(margin-bottom, @product-h1-margin-bottom-desktop);
            }
        }
        .product-add-form {
            padding-top: 15px;
        }
    }

    .box-tocart {
        .action.tocart {
            margin-bottom: 0;
            min-width: 150px;
        }
    }

    .product-social-links {
        text-align: left;
    }

    .product-options-bottom,
    .product-info-price {
        .price-box {
            .price-container {
                .price {
                    font-size: 36px;
                    line-height: 36px;
                }
            }
            .price-including-tax + .price-excluding-tax {
                .price {
                    .lib-font-size(14);
                    line-height: 16px;
                }
            }
        }
    }

    //
    //    Category page layout
    //--------------------------------------
    .product-info-main {
        float: right;
    }
    .product.media {
        float: left;
    }

    .page-layout-2columns-left,
    .page-layout-2columns-right,
    .page-layout-3columns {
        .product-info-main {
            width: 48%;
        }
        .product.media {
            width: 50%;
        }
    }
}


//
//    Common
//--------------------------------------

& when (@media-common = true) {

//
//    Compare Products Page
//--------------------------------------
body.catalog-product-compare-index {
    .action.print {
        float: right;
        margin: 15px 0;
    }
}

.table-wrapper.comparison {
    clear: both;
    overflow-x: auto;
    
    .table-comparison {
        > tbody > tr{
            > th,
            > td {
                border-top: 0;
                
                &.info {
                    background-color: transparent;
                }
            }
        }
        > thead > tr > th {
            border-bottom: 0;
        }
    }
    .product-image-container {
        border: 0;
        border-radius: 0;
        padding: 0;
        background: none;
    }
}

.table-comparison {
    table-layout: fixed;

    .cell.label.remove,
    .cell.label.product {
        span {
            &:extend(.abs-visually-hidden all);
        }
    }

    .cell.label,
    td:last-child {
        border-right: @table__border-width @table__border-style @table__border-color;
    }

    .cell {
        width: 180px;
        padding: 15px;
        .attibute.value {
            width: 100%;
            overflow: hidden;
        }

        &.product.info,
        &.product.label {
            border-bottom: @table__border-width @table__border-style @table__border-color;
        }
        &.label {
            .attribute.label {
                display: block;
                width: 100%;
                word-wrap: break-word;
            }
        }
        &.attribute {
            .lib-font-size(13);
            img {
                max-width: 100%;
                height: auto;
            }
        }
        &.remove {
            padding-top: 0;
            padding-bottom: 0;
            text-align: right;
            .action.delete {
                &:extend(.abs-remove-button-for-blocks all);
            }
        }
    }

    .product-item-photo {
        display: block;
        margin: 0 auto 15px;
    }
    .product-image-photo {
        margin-left: 0;
    }

    .product-item-actions,
    .price-box,
    .product.rating,
    .product-item-name {
        display: block;
        margin: 15px 0;
    }

    .product-addto-links {
        margin-top: 15px;

        .action.split,
        .action.toggle {
            .lib-button-s();
        }

        .action.toggle {
            padding: 0;
        }
    }

    .action {
        &.tocart {
            white-space: nowrap;
            height: 32px;
            padding: 0 17px;
        }
    }
    
    .actions-primary, .actions-secondary {
        display: inline-block;
    }
}

.comparison.headings {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: auto;
    .lib-css(background, @color-white);
}

.sidebar {
    .product-item {
        .tocart {
            border-radius: 3px;
        }
    }
}

.block-compare {
    .block-title {
        &:extend(.abs-block-widget-title all);
    }
    .product-item .product-item-name {
        margin-left: 22px;
    }
    .action.delete {
        &:extend(.abs-remove-button-for-blocks all);
        position: absolute;
        left: 0;
        right: auto;
        top: 0;
    }
    .counter {
        &:extend(.abs-block-items-counter all);
    }
    .actions-toolbar {
        margin: 17px 0 0;
    }

    .action.primary {
        &:extend(.abs-revert-to-action-secondary all);
    }
}
.sticky-product {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0,0,0,0.08);
    padding: 60px 0 15px 0;

    &.no-sticky-header {
        padding: 15px 0;
    }
    & > .container {
        position: relative;
    }
    .sticky-image, .sticky-detail {
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
    }
    .sticky-detail {
        .product-name-area {
            display: inline-block;
            vertical-align: top;
            margin: 0;
            margin-right: 15px;
        }
        .product-name-area .product-name {
            line-height: 25px;
            margin: 0;
            font-size: 16px;
            font-weight: 600;
        }
        .availability span {
            font-size: 14px;
            font-weight: 400;
        }
    }
    .product-info-price .price-box {
        padding-bottom: 0;
        
        .price-container {
            & > span {
                margin-bottom: 0;
            }
            .price {
                font-size: 25px;
                color: #444;
            }
        }
        .old-price {
            .price-container .price {
                color: #999;
                font-size: 18px;
            }
        }
    }
    .add-to-cart {
        position: absolute;
        right: 15px;
        top: 50%;
        margin-top: -19px;
    }
    .product-info-stock-sku {
        min-width: 150px;
        text-align: right;
        display: table-cell;
        vertical-align: bottom;
        padding-left: 10%;
        color: #777;
    }
    .stock {
        margin: 0;
        
        &.available, &.unavailable {
            font-weight: 700;
            text-transform: uppercase;
        }
    }
    .product.attibute.sku {
        word-wrap: break-word;
        
        .type {
            font-weight: normal;
            margin-right: 4.5px;
            
            &:after {
                content: '#:';
            }
        }
        .value {
            display: inline-block;
        }
    }
    .actions {
        position: absolute;
        right: 15px;
        top: 50%;
        margin-top: -19px;
        
        .action.primary {
            min-width: 150px;
        }
    }
}
.layout-fullwidth .sticky-product > .container {
    width: 100%;
}
.prev-next-products {
    float: right;

    a {
        color: #555;
        display: inline-block;
        font-size: 22px;
        line-height: 28px;
    }
    .product-nav {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        
        .product-pop {
            border-top: 3px solid @theme-color;
            position: absolute;
            left: 0;
            top: 100%;
            padding: 10px;
            background-color: #fff;
            box-shadow: 0 1px 2px rgba(0,0,0,0.2);
            z-index: 1;
            visibility: hidden;
            opacity: 0;
            transition: all 0.2s;
            text-align: center;
            border-radius: 4px;
            width: 100px;
            margin-top: 10px;
    
            &:before {
                content: "";
                width: 5px;
                height: 2px;
                border: 5px solid transparent;
                border-bottom-color: @theme-color;
                display: block;
                position: absolute;
                top: -13px;
                left: 0;
            }
            .product-image {
                margin-bottom: 10px;
            }
            .product-name {
                margin: 0;
                font-weight: 600;
                font-size: 11px;
            }
        }
        &:hover .product-pop {
            opacity: 1;
            visibility: visible;
        }
        &.product-prev {
            .product-pop {
                right: auto;
                left: 0;
                margin-left: -20px;
                
                &:before {
                    left: 32px;
                    right: auto;
                }
            }
        }
        &.product-next {
            .product-pop {
                left: auto;
                right: 0;
                margin-right: -15px;
            
                &:before {
                    right: 26px;
                    left: auto;
                }
            }
        }
    }
}
}

//
//    Mobile
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .table-wrapper.comparison {
        .table-comparison > tbody > tr{
            > th,
            > td {
                display: table-cell;
                &:extend(.abs-col-no-prefix all);
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .compare.wrapper,
    [class*="block-compare"] {
        display: none;
    }
        
    .sticky-product {
        padding: 5px 15px;
        
        .sticky-detail {
            display: none;
        }
    }
    .mobile-sticky .sticky-product {
        padding: 70px 15px 5px;
    }
}

//
//    Desktop
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .compare.wrapper {
        float: right;
        .lib-list-reset-styles();
        .action.compare {
            line-height: @form-element-input__height;
            .lib-link(
                @_link-color: @primary__color,
                @_link-text-decoration: none,
                @_link-color-visited: @primary__color,
                @_link-text-decoration-visited: none,
                @_link-color-hover: @primary__color,
                @_link-text-decoration-hover: underline,
                @_link-color-active: @primary__color,
                @_link-text-decoration-active: underline
            );
        }
        .counter.qty {
            .lib-css(color, @primary__color__lighter);
            &:before {
                content: "(";
            }
            &:after {
                content: ")";
            }
        }
    }
    .product.info.detailed {
        &.accordion .product.data.items {
            & > .item.title, & > .item.content {
                float: none;
                margin: 0;
            }
            & > .item.title[aria-expanded=false] > .switch {
                border-bottom: 1px solid #eee;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }
        &.vertical .product.data.items > .item {
            &.title {
                float: none;
                max-width: 160px;
                text-align: right;
                overflow: hidden;

                & > .switch {
                    border: 1px solid #eee;
                    border-radius: 5px 0 0 5px;
                    border-right: 0;
                    border-left-width: 3px;
                }
                &.active > .switch {
                    &, &:focus, &:hover {
                        border-left-color: #08c;
                    }
                }
            }
            &.content {
                position: absolute;
                float: none;
                margin: 0;
                width: ~'calc(100% - 159px)';
                right: 0;
                top: 0;
                min-height: 180px;
            }
        }
    }
}

//
//    Common
//--------------------------------------

& when (@media-common = true) {

.block.related {
    .action.select {
        &:extend(.abs-action-button-as-link all);
        vertical-align: top;
    }
    .product-item-details {
        z-index: 1;
    }
    .field.choice {
        position: absolute;
        top: 2px;
        left: 6px;
        .label {
            &:extend(.abs-visually-hidden all);
        }
    }
}

.block.upsell {
    .title {
        background: url(../images/slider-bar.png) right no-repeat;
        strong {
            font-size: 16px;
            text-transform: uppercase;
            background-color: #fff;
            padding: 0;
            padding-right: 20px;
        }
    }
}

.sidebar {
    .custom-block {
        margin-bottom: 30px;
        padding-bottom: 40px;
        background: url(../images/bkg_4.png) bottom no-repeat;
        
        &.custom-block-1 {
            padding-bottom: 20px;
            
            > div {
                min-height: 50px;
                margin-bottom: 20px;
                clear: both;
                
                em {
                    font-size: 30px;
                    color: #000;
                    float: left;
                    width: 50px;
                    height: 50px;
                    line-height: 48px;
                    border: 1px solid #bbb;
                    border-radius: 50%;
                    text-align: center;
                    margin-right: 10px;
                }
                
                h3 {
                    color: #313131;
                    font-size: 16px;
                    margin: 0;
                    line-height: 1.5;
                    margin-left: 50px;
                    padding-top: 4px;
                    font-weight: 600;
                    letter-spacing: -0.1px;
                }
                
                p {
                    font-size: 12px;
                    margin: 0;
                    margin-left: 50px;
                    line-height: 1;
                }
            }
        }
    }
}

}

//
//    Desktop large
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .box-tocart {
        .paypal:first-of-type {
            margin-top: 13px;
        }
    }

}
@media only screen and (min-width: 992px){
    .product-info-right{
        .asidebar-breadcrumd,.block.related,.asidebar-payment-mothod{
            display:none;
        }
    }
    .product-info-left{
        .asidebar-breadcrumd,.block.related,.asidebar-payment-mothod{
            display:block;
        }
    }
     #maincontent{
        .product-info-main{

            .product-social-link-mobie{
                .box-tocart{
                   display:none;
                }
                .moved-add-to-links{
                   display:none;
                }
                .product-icon-attributes{
                    display:none;
                }
            }
            div.wrap-addto-cart{
                .box-tocart,.moved-add-to-links,.product-icon-attributes{
                    display:block;
                }
            }

        } 
    } 
}
@media only screen and (max-width: 1200px) and (min-width: 992px){  
    .catalog-product-view.page-layout-1column {
        #maincontent{
            width:970px;
        }
    } 
}
@media only screen and (max-width: 992px) and (min-width: 768px){ 
    .catalog-product-view.page-layout-1column {
        #maincontent{
            width:750px;
        }
    } 
    .product-add-form{
        .moved-add-to-links{
            margin-top:0px;
        }
    }
}
@media only screen and (max-width: 992px){ 
    .page-layout-1column{
        #maincontent{
            .product-info-left{
                width:100%;
                padding:15px;
                float:none;
                .product.media{
                   .product-name{
                        h1.title-name{
                            display:block;
                        }
                   } 
                } 

            }
            .product-info-right{
                width:100%;
                float:none;
                .product-info-main{
                    border:none;
                    .price-box{
                        float:none;
                        width:100%;
                    }
                    .box-feature-download{
                        border:none;
                    }
                } 
            }
        } 
    } 
    #maincontent{
        .product-info-main{
            .page-title-wrapper{
                h1{
                    display:none;
                }
            } 
        } 
    } 
    .product-info-right{
        .asidebar-breadcrumd,.block.related,.asidebar-payment-mothod{
            display:block;
            padding:10px 0px;
        }
        .block.related{
            margin-bottom:0px;
        }
    }
    .product-info-left{
        .asidebar-breadcrumd,.block.related,.asidebar-payment-mothod{
            display:none;
        }
    }
    .fotorama .fotorama__stage{
        border:none;
    }
    .product-social-links{
        border:none;
    }
    .product-social-link-mobie{
        display: -webkit-box; 
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex; 
        display: flex;
        flex-wrap:wrap;
        justify-content:center;
        align-items:center;
        padding:10px 0px 40px 0px;
    }
    #maincontent{
        .product-info-main{
            .box-tocart{
                display:none;
            }
            .moved-add-to-links{
                display:none;
            }
            .product-icon-attributes{
                    display:block;
            }
            .product-social-link-mobie{

                .box-tocart{
                    display:block;
                    order:2;
                    float:none;
                    margin:0px;

                }
                .moved-add-to-links{
                    order:1;
                    display:block;
                    float:none;
                    padding:0px;
                }
                .product-icon-attributes{
                    display:none;
                }
            }

        } 
    } 

}
@media only screen and (max-width: 640px){ 
    .bulk-order-savings{
        margin:0px;
        width:100%;
         .bulk-label{
            display:none;
         }
         .bulk-main{
            width:100%;
         }
    }

}
@media only screen and (max-width: 600px){ 
         .product-options-wrapper{
            .swipe-op-control {
                display:block;
             }
         } 
}
@media only screen and (max-width: 480px){ 
    #maincontent{
        .product-info-main{
            .product-social-link-mobie{
               .box-tocart{
                    margin-top:40px;
                 } 
            }              
        }
    } 
}