<div class="admin__page-section-title">
    <span class="title"><?php /* @escapeNotVerified */ echo $block->escapeHtml($block->getHeaderText()) ?></span>
    <?php if ($block->getButtonsHtml()) : ?>
        <div class="actions"><?php echo $block->getButtonsHtml() ?></div>
    <?php endif; ?>
</div>

<?php echo $block->getChildHtml('', true) ?>

<?php if ($block->getCreditlimitDisableMethod()) :?>
<script>
	require(['jquery'],function($){
		$("#p_method_<?php echo $block->escapeHtml($block->getCreditlimitPaymentMethod());?>").prop('disabled', 'disabled');
		$("#p_method_<?php echo $block->escapeHtml($block->getCreditlimitPaymentMethod());?>").prop('checked', false);
		$("#p_method_<?php echo $block->escapeHtml($block->getCreditlimitPaymentMethod());?>").parent().next('.admin__payment-method-wapper').hide();
		var title = $("label[for=p_method_<?php echo $block->escapeHtml($block->getCreditlimitPaymentMethod());?>]").text();
		$("label[for=p_method_<?php echo $block->escapeHtml($block->getCreditlimitPaymentMethod());?>]").text(title +" - "+ "<?php echo $block->escapeHtml($block->getDisableMassageAdmin());?>");
	});
</script>
<?php endif; ?>