<div class="lofgallery-btn"><?php echo __('Load Product') ?></div>
<!-- <script>
	require(['jquery'], function($) {
		jQuery(document).ready(function($) {
			$('.lofgallery-btn').click(function() {
				$('#edit_form').submit();
			});
		});
	});
</script> -->
<!-- <script>
	require([
		"Magento_Rule/rules",
		"prototype",
		"jquery"
		], function(VarienRulesForm, prototype, $){
			var checkBoxes = [];
			rewardsCallBack = function(grid, element, checked) {
				if (checked) {
					if(parseInt(element.value)) {
						var index = checkBoxes.indexOf(parseInt(element.value));
						if(index == -1) {
							checkBoxes.push(parseInt(element.value));
						}
					}
				} else {
					var index = checkBoxes.indexOf(parseInt(element.value));
					for (var i = 0; i <= checkBoxes.length; i++) {
						if(checkBoxes[i] == parseInt(element.value)) {
							checkBoxes.splice( i, 1 );
						}
					}
				}
				$('#productids').val('');
				$('#productids').val(checkBoxes.join());
			}
			window.edit_form = new VarienRulesForm('edit_form');
		});
	</script> -->