<?php if($block->isEnable()): ?>
    <?php $productId = $block->getCurrentId(); ?>
    <?php $attachments = $block->getAttachment($productId); ?>
    <?php $isSize = $block->getConfig('productattach/general/attachmentsize'); ?>
    <?php $count= 1;?>
<?php if(count($attachments)>0):?>
<div class="download">
    <div class="title-request"><h3><?php echo __('Download');?></h3></div>
    <div class="content">
        <ul>
            <?php foreach ($attachments as $attachment) : ?>
                <?php if ($attachment->getActive()) : ?>
                        <?php if ($attachment->getFile()) : ?>
                           <?php if($count==1){?>
                                <li> <a href="<?php /* @noEscape */ echo $block->getAttachmentUrl($attachment->getFile()); ?>" target="_blank"><?php echo __('Pdf spec');?></a></li>
                          <?php }elseif($count==2){?>
                                    <li><a href="<?php /* @noEscape */ echo $block->getAttachmentUrl($attachment->getFile()); ?>" target="_blank"><?php echo __('Catalogue');?></a></li>
                          <?php }?>
                        <?php elseif ($attachment->getUrl()) : ?>
                                <?php if($count==1){?>
                                    <li> <a href="<?php /* @noEscape */ echo $attachment->getUrl();?>" target="_blank"><?php echo __('Pdf spec');?></a></li>
                              <?php }elseif($count==2){?>
                                        <li><a href="<?php /* @noEscape */ echo $attachment->getUrl(); ?>" target="_blank"><?php echo __('Catalogue');?></a></li>
                              <?php }?> 
                        <?php endif; ?>
                        <?php $count++;?>
                <?php endif; ?>
            <?php endforeach; ?>
        </ul>
    </div>
</div>
<?php endif; ?>
<?php endif; ?>