<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
?>
<?php $buttonTitle = __('Add to Cart'); ?>
<?php if ($_product->isSaleable()): ?>
<?php if ($block->shouldRenderQuantity()): 
    $quantityAndStockStatus = $_product->getQuantityAndStockStatus();

    if($quantityAndStockStatus):
        extract($quantityAndStockStatus);
        if((!$is_in_stock || $qty == 0) && $_product->getTypeId() =='simple'){
            $buttonTitle = __('Pre-Order');
        }
    endif;
?>
    <?php if( $_product->getTypeId() != 'configurable' && $_product->getTypeId() != 'bundle'): ?>
        <div class="wrap-add-qty">
            <div class="add-to-cart pull-left product-preview">

                <div class="input-group qty-product sp-quantity">
                    <label class="lb-qty" for="qty"><?php  echo _('Quantity');?></label>
                    <div class="hidden-qty-cart">
                        <span class="input-group-addon qty-addon qty-sub">-</span>
                        <input type="input"
                               maxlength="12"
                               name="qty"
                               id="qty"
                               value="1"
                               title="<?= /* @escapeNotVerified */ __('Qty') ?>"
                               class="input-text qty form-control quantity-input"
                               data-validate="<?= $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                               />
                        <span class="input-group-addon qty-addon qty-add">+</span>
                    </div>
                </div>
            </div>
        </div>
        <?php endif; ?>
<?php endif; ?>
<div class = "wrap-add-cart">
    <div class="col-sm-12 col-md-6 col-lg-6">
        <?php if (!$customerSession->isLoggedIn()) { ?>
            <a href="#" data-toggle="modal" data-target="#onestepcheckout-login-popup" class="c-product-detail__add-to-project btn btn-outlined btn-lg btn-primary btn-block u-margin-bottom-small show-popup-login">
                <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="add-to-project-icon">
                    <title id="add-to-project-icon">project-icon</title>
                    <g fill="none" fill-rule="evenodd"><g stroke-width="2" stroke="#2ba8db"><path d="M21.333 30l-4.666 1.333L18 26.667l10.003-10.003 3.333 3.333zM25.336 19.33l3.333 3.334M18 26.667L21.333 30"/></g><path stroke="#2ba8db" stroke-width="2" d="M12.667 27.333h-12V.667H26v12"/><path d="M5.333 2v2-2zM6.667.667H4v4.666h2.667V.667zM10.667 2v2-2zM12 .667H9.333v4.666H12V.667zM21.333 2v2-2zM22.667.667H20v4.666h2.667V.667zM16 2v2-2zM17.333.667h-2.666v4.666h2.666V.667z" fill="#2ba8db"/><g><path d="M0 0h32v32H0z"/></g></g>
                </svg>
                <span class="small u-flush-right"><?php echo __('Add to project') ?></span>
            </a>
        <?php } else { ?>
            <a href="<?php echo $this->getUrl('ledproject/project/add', array('product_id' => $_product->getId())); ?>" class="c-product-detail__add-to-project btn btn-outlined btn-lg btn-primary btn-block u-margin-bottom-small">
                <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="add-to-project-icon">
                    <title id="add-to-project-icon">project-icon</title>
                    <g fill="none" fill-rule="evenodd"><g stroke-width="2" stroke="#2ba8db"><path d="M21.333 30l-4.666 1.333L18 26.667l10.003-10.003 3.333 3.333zM25.336 19.33l3.333 3.334M18 26.667L21.333 30"/></g><path stroke="#2ba8db" stroke-width="2" d="M12.667 27.333h-12V.667H26v12"/><path d="M5.333 2v2-2zM6.667.667H4v4.666h2.667V.667zM10.667 2v2-2zM12 .667H9.333v4.666H12V.667zM21.333 2v2-2zM22.667.667H20v4.666h2.667V.667zM16 2v2-2zM17.333.667h-2.666v4.666h2.666V.667z" fill="#2ba8db"/><g><path d="M0 0h32v32H0z"/></g></g>
                </svg>
                <span class="small u-flush-right"><?php echo __('Add to project') ?></span>
            </a>
        <?php } ?>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 btn-align">
            <button type="submit" title="<?php echo $buttonTitle ?>" class="c-product-detail__add-to-cart btn btn-lg btn-block btn-primary u-margin-bottom-small show_minicart" id="product-addtocart-button">
                <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="product-detail-cart-icon">
                    <title id="product-detail-cart-icon">header-cart-icon</title>
                    <g fill="none" fill-rule="evenodd"><g transform="translate(0 2)" stroke-width="2" stroke="#FFF"><ellipse cx="25.333" cy="25.333" rx="2" ry="2"/><ellipse cx="10.667" cy="25.333" rx="2" ry="2"/><path d="M.667.667h4.666l5.334 22.666h14.666"/><path d="M10.04 20.667h17.293l4-12H7.216"/></g><path d="M0 0h32v32H0z"/></g>
                </svg>
                <span><?php echo $buttonTitle ?></span>
            </button>
            <?= $block->getChildHtml('', true) ?>
    </div>
</div>
<?php endif; ?>
<?php if ($block->isRedirectToCartEnabled()) : ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/product/view/validation": {
                "radioCheckboxClosest": ".nested"
            }
        }
    }
</script>
<?php else : ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/js/validate-product": {}
        }
    }
</script>
<?php endif; ?>
