<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product additional attributes template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Attributes
 */
?>
<?php
    $_helper = $this->helper('Magento\Catalog\Helper\Output');
    $_product = $block->getProduct();
?>
<?php if ($_additional = $block->getAdditionalData()): ?>
        <table class="table table-striped small">
            <caption class="sr-only">Tech Specs</caption>
            <tbody>
            <?php
            $k = 0;
            $aka = false;
            ?>

            <?php
            $count = 0;

             foreach ($_additional as $attr): ?>
                <?php  $value = $_helper->productAttribute($_product, $attr['value'], $attr['code']);
                     if (!empty($value) && $value != "N/A" && $value != "No" && strpos($attr['code'], 'feature_list_') === false) {
                        if ($attr['code'] !== 'manufprice' && $attr['code'] !== 'aka') {
                            $count++;
                        }
                    }
                ?>
            <?php endforeach; ?>   
            <?php foreach ($_additional as $_data): ?>
                <?php if (strpos($_data['code'], 'feature_list_') === false) {
                     if ($_data['code'] !== 'manufprice' && $_data['code'] !== 'aka') {
                        $value = $_helper->productAttribute($_product, $_data['value'], $_data['code']);
                        $popup = $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('popup_' . $_data['code'])->toHtml();
                        $popupHtml = '';
                        if (isset($popup) && !empty($popup))
                            $popupHtml = '<ul class="list-attr">' . $popup . '</ul>';
                        if (!empty($value) && $value != "N/A" && $value != "No") {
                            if ($k % (ceil($count / 2)) == 0) {
                                echo '<ul class="list-attr">';
                            }
                        ?>
                        <tr>
                            <th class="col label" scope="row"><?= $block->escapeHtml(__($_data['label'])) ?></th>
                            <td class="col data" data-th="<?= $block->escapeHtml(__($_data['label'])) ?>">
                            <?php

                                if (!empty($value)) {
                                    echo __($value);
                                } else {
                                    echo __('');
                                }
                                ?></td>
                        </tr>
                        <?php
                            $k++;
                            if ($k % (ceil($count / 2)) == 0 || $k == $count) {
                                echo '</ul>';
                            }
                        }
                    }
                }
                ?>
            <?php endforeach; ?>
            </tbody>
        </table>
<?php endif;?>
