<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product additional attributes template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Attributes
 */
?>
<?php
    $_helper = $this->helper('Magento\Catalog\Helper\Output');
    $_product = $block->getProduct();
?>
<div class="attr_dimmable_price">
    <ul class="attr_dimmable u-list-unordered-styled">
    <?php if ($_product->getEquivalent()) : ?>
            <li>
                <span class="attr_info attr_info_replacement"> 
                    <?php $_productwatt = $_product->getEquivalent() ? $_product->getEquivalent() : '&nbsp;'; ?>
                    <span class="attr_info_name"><?php echo __('%1 replacement', $_productwatt);?></span>
                </span>
            </li>
        <?php endif; ?>
        <?php if($_product->getDimmableconfig()):?> 
            <?php $dimmable = $_product->getResource()->getAttribute('dimmableconfig')->getFrontend()->getValue($_product);
                    if (strtolower(__($dimmable)) == strtolower(__('Dimmable'))): ?>
                    <li>
                        <span><?php echo __('Dimmable'); ?></span>
                    </li>
                <?php endif; ?>
        <?php endif; ?>
        <?php if ($_product->getBeam()) : ?>
            <?php $wide_beam = str_replace('°','', $_product->getBeam());
                    $wide_beam = (int)$wide_beam;
            ?>
            <li>
                <span class="attr_info attr_info_beamAngel">
                    <?php
                    $_product->getData('beam_flood')
                    ?>
                    <span class="attr_info_name beam-angel-link">
                        <?php 
                            if($wide_beam <= 45)
                                echo __('Narrow Beam Angle');
                            else if($wide_beam > 45 && $wide_beam <= 60)  
                                echo __('Medium Beam Angle');
                            else if($wide_beam > 60 && $wide_beam <= 90) 
                                echo __('Wide Beam Angle');
                            else if($wide_beam > 90)
                                echo __('Extra Wide Beam Angle');
                         ?>
                        
                    </span>
                </span>
            </li>
        <?php endif; ?>
        
    </ul>
</div>
