<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php if ($detailedInfoGroup = $block->getGroupChildNames('detailed_info', 'getChildHtml')):?>
    <div class="product info detailed">
        <?php $layout = $block->getLayout(); rsort($detailedInfoGroup);?>
        <div class="product data items" data-mage-init='{"tabs":{"openedState":"active"}}'>
            <?php foreach ($detailedInfoGroup as $name):?>
                <?php
                    $html = $layout->renderElement($name);
                    if (!trim($html)) {
                        continue;
                    }
                    $alias = $layout->getElementAlias($name);
                    $label = $block->getChildData($alias, 'title');
                ?>
                <div class="data item title <?php if($name == 'product.info.description') echo 'active';?>"
                     aria-labeledby="tab-label-<?= /* @escapeNotVerified */ $alias ?>-title"
                     data-role="collapsible" id="tab-label-<?= /* @escapeNotVerified */ $alias ?>">
                    <a class="data switch"
                       tabindex="-1"
                       data-toggle="switch"
                       href="#<?= /* @escapeNotVerified */ $alias ?>"
                       id="tab-label-<?= /* @escapeNotVerified */ $alias ?>-title">
                       <?php if($name == 'amasty_faq_product_tab'):?>
                            <?php echo __("Q and A's"); ?>
                        <?php else:?>
                            <?= /* @escapeNotVerified */ $label ?>
                        <?php endif;?>
                    </a>
                </div>

                <div class="data item content" id="<?= /* @escapeNotVerified */ $alias ?>" data-role="content">
                    <?php if($name == 'product.info.description'):?>
                        <section class="c-product-detail__description col-sm-12">
                            <div class="row">
                                <div class="c-product-detail__description-text col-md-8">
                                    <?php echo $this->getChildHtml('product.view.video');?>
                                    <div class="description_product" ><?= /* @escapeNotVerified */ $html ?>
                                    
                                    </div> 
                                </div>
                                
                                <div class="c-product-detail__tech-specs col-md-4">
                                    <h2><?php echo __('Tech Specs') ?></h2>
                                    <?php echo $this->getChildHtml('additional_custom'); ?>
                                </div>
                            </div>
                        </section>
                    <?php else:?>
                        <?= /* @escapeNotVerified */ $html ?>
                    <?php endif;?>
                </div>
            <?php endforeach;?>
        </div>
    </div>
<?php endif; ?>

<?php $array = $this->helper('Yotpo\Yotpo\Helper\RichSnippets')->getRichSnippet($this); ?>
<?php if (isset($array["reviews_count"]) && $array["reviews_count"] != 0 ): ?>
 <div style="display:none" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
  <span itemprop="ratingValue"><?php echo $array["average_score"]; ?></span> 
  <span itemprop="reviewCount"><?php echo $array["reviews_count"]; ?></span>
 </div>
<?php endif; ?>