<?php

/**
 * OnlineBiz Software Solution
 * 
 * @project lightrabbit2
 * @version 0.0.1
 * @encoding UTF-8
 * @author Joe Vu<joe@onlinebizsoft.com>
 * @see http://onlinebizsoft.com
 * @copyright (c) 2017 , OnlineBiz Software Solution
 * 
 * Create at: Jan 25, 2018 2:51:51 PM
 */

?>
<div id="flycart-overlay"></div>
<div id="flycart-loading" class="flycart-loading"><ul class="bokeh"><li></li><li></li><li></li><li></li></ul><p class="onlinebiz_loading">Processing, please wait...</p></div>