
    <div id="header-mpdal" style="display:none;">
        <div class="wrapper-popup-qty">
            <?php for($i=1;$i<=50;$i++){?>
                <button class="qty-popup"><?php echo $i;?></button>
            <?php }?>
        </div>
    </div>


<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal'
        ],
        function(
            $,
            modal
        ) {
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
                modalClass: 'wrap-modal-qty',
                title: $.mage.__('Qty'),
                buttons: [{
                    text: $.mage.__('Close'),
                    class: '',
                    click: function () {
                        this.closeModal();
                    }
                }]
            };

            var popup = modal(options, $('#header-mpdal'));
            $(document).ready(function() {
                if(window.innerWidth<=767){
                    $(".qty-box").on('click',function(){ 
                        $("#header-mpdal").modal("openModal");
                        $(".qty-box").removeClass('update-qty');
                        $(this).addClass('update-qty');
                        var qty_current = $(this).find(".qty-mobie").val();
                        $('.wrapper-popup-qty .qty-popup').each(function(){
                            if($(this).text()==qty_current){
                                $(this).addClass('active');
                            }else{
                              if($(this).hasClass('active')){
                                  $(this).removeClass('active');
                              }
                              
                            }
                        });
                    });
                     
                  $('.wrapper-popup-qty  .qty-popup').on('click',function(){
                   var qty = $(this).text();
                   $('.wrapper-popup-qty  .qty-popup').removeClass('active');
                   $(this).addClass('active');
                   if($(".update-qty").hasClass('open')){
                        $(this).addClass('open');
                   }
                   $(".qty-box.update-qty").find(".qty-mobie").val(qty);
                    $("input.qty-mobie").trigger("change");
                  });
                      
                }
                var flag =window.innerWidth;
                $(window).on('resize', function() {
                    if(flag>767){
                      if(window.innerWidth<=767){
                          $(".qty-box").on('click',function(){ 
                              $("#header-mpdal").modal("openModal");
                              $(".qty-box").removeClass('update-qty');
                              $(this).addClass('update-qty');
                              var qty_current = $(this).find(".qty-mobie").val();
                              $('.wrapper-popup-qty .qty-popup').each(function(){
                                  if($(this).text()==qty_current){
                                      $(this).addClass('active');
                                  }else{
                                    if($(this).hasClass('active')){
                                        $(this).removeClass('active');
                                    }
                                    
                                  }
                              });
                          });
                           
                        $('.wrapper-popup-qty  .qty-popup').on('click',function(){
                         var qty = $(this).text();
                         $('.wrapper-popup-qty  .qty-popup').removeClass('active');
                         $(this).addClass('active');
                         if($(".update-qty").hasClass('open')){
                              $(this).addClass('open');
                         }
                         $(".qty-box.update-qty").find(".qty-mobie").val(qty);
                          $("input.qty-mobie").trigger("change");
                        });
                            
                      }
                    }
                });
            });

        }
    );
</script>