<?php $_product = $block->getProduct();?>
<?php if($_product->isSaleable()){ ?>
	<?php  if($_product->getWholesale()!='' && $_product->getWholesale()!=0){?>
		<div class="wholesale">
			<div class="wholesale-border">
				<div class="wholesale-content">
					<strong><?php echo __("Wholesale");?></strong> <?php echo __("Product");?>
				</div>
			
	<?php }?>
	<?php echo $this->getChildHtml("product.price.final");?>
	<?php  if($_product->getWholesale()!='' && $_product->getWholesale()!=0){?>
		</div>
		</div>
<?php 
	}
}?>