<?php
    $_helper = $this->helper('Magento\Catalog\Helper\Output');
    $_product = $block->getProduct();
    $warranty = $_product->getResource()->getAttribute('warranty')->getFrontend()->getValue($_product);
    $energy_rating = $_product->getResource()->getAttribute('energy_rating')->getFrontend()->getValue($_product);
    $return_day = $_product->getResource()->getAttribute('return_day')->getFrontend()->getValue($_product);

?>
<div class="c-promo c-promo--primary c-promo--large promo-labels u-row--small">
<?php if(isset($energy_rating) && $energy_rating!=false):?>
    <div class="c-promo__item-wrapper col-xs-4">
        <div class="c-promo__item c-promo__item--popover promo-block" data-content="<?php echo __('Get ready to save up to 90% on your lighting bill. This is based on a direct comparison with traditional lighting costs.'); ?>">
            <div class="c-promo__img img-labels">
                <svg width="36" height="36" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" role="img" aria-labelledby="c-product-detail__energy-saving">
                <title id="c-product-detail__energy-saving">energy-saving-icon</title>
                <defs><rect id="a" width="177" height="84" rx="3"/><mask id="b" x="0" y="0" width="177" height="84" fill="#fff"><use xlink:href="#a"/></mask></defs><g transform="translate(-71 -12)" fill="none" fill-rule="evenodd"><use stroke="#2BA8DB" mask="url(#b)" stroke-width="2" xlink:href="#a"/><path d="M83 43.333l4-14.666h-5.333l4-16h10.666l-6.666 10.666h6.666z" stroke-width="2" stroke="#2BA8DB"/><path d="M71 12h36v36H71z"/></g>
                </svg>
            </div>
            <span class="c-promo__label">
                <?php echo __('%1 energy rating', $energy_rating);?>
            </span>
        </div>
        <div class="popover top" role="tooltip">
            <div class="arrow"></div>
            <div class="popover-content"><?php echo __('Get ready to save up to 90% on your lighting bill. This is based on a direct comparison with traditional lighting costs.');?>
            </div>
        </div>
    </div>
<?php endif;?>
<?php if(isset($return_day) && $return_day!=false):?>
    <div class="c-promo__item-wrapper col-xs-4">
        <div class="c-promo__item c-promo__item--popover promo-block" data-content="<?php echo __('We expect our LED bulbs to last 30 years based on 4.5 hours use per day. That’s 50,000 hours in their lifetime.'); ?>">
            <div class="c-promo__img img-labels">
                <svg width="36" height="36" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" role="img" aria-labelledby="c-product-detail__lifespan">
                <title id="c-product-detail__lifespan">lifespan-icon</title>
                <defs><rect id="a" width="177" height="84" rx="3"/><mask id="b" x="0" y="0" width="177" height="84" fill="#fff"><use xlink:href="#a"/></mask></defs><g transform="translate(-71 -12)" fill="none" fill-rule="evenodd"><use stroke="#2BA8DB" mask="url(#b)" stroke-width="2" xlink:href="#a"/><g stroke-width="2" stroke="#2BA8DB"><path d="M91.25 22.5v8.25h7.5M72.5 25.49l4.5 6.75 5.25-6"/><path d="M91.25 44.25c7.87 0 14.25-6.378 14.25-14.25 0-7.87-6.38-14.25-14.25-14.25S77 22.13 77 30v2.24"/></g><path d="M71 12h36v36H71z"/></g>
                </svg>
            </div>
            <span class="c-promo__label">
                <?php echo __($return_day); ?>
            </span>
        </div>
        <div class="popover top" role="tooltip">
            <div class="arrow"></div>
            <div class="popover-content"><?php echo __('We expect our LED bulbs to last 30 years based on 4.5 hours use per day. That’s 50,000 hours in their lifetime.');?>
            </div>
        </div>
    </div>
<?php endif;?>
<?php if(isset($warranty) && $warranty!=false):?>
    <div class="c-promo__item-wrapper col-xs-4">
        <div class="c-promo__item c-promo__item--popover promo-block" data-content="<?php echo __('Register your LED product to receive a free extended 5 year warranty. Simply complete our online form for total peace of mind.'); ?>">
            <div class="c-promo__img img-labels">
                <svg version="1.1" width="36" height="36" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 233.7 263" style="enable-background:new 0 0 233.7 263;" xml:space="preserve">
                <style type="text/css">
                    .st0{fill:none;stroke:#36A9E1;stroke-width:13.7391;stroke-miterlimit:10;}
                    .st1{fill:#36A9E1;}
                </style>
                <path class="st0" d="M118.4,14c0,0,33.2,37.8,100.8,49.2c0,0,25.2,161.4-100.8,187.8c0,0-118.4-21-104.1-186.6
                    C14.4,64.4,71.5,64.4,118.4,14z"/>
                <g>
                    <path class="st1" d="M89.1,91.7v85.6H75.5v-69c-2.5,1.8-5.1,3.2-7.9,4.5c-2.8,1.2-6,2.3-9.7,3.2v-11.6c2.3-0.7,4.4-1.5,6.5-2.3
                        c2.1-0.8,4.2-1.7,6.2-2.7c2-1,4.1-2.1,6.2-3.4c2.1-1.2,4.2-2.7,6.5-4.3H89.1z"/>
                    <path class="st1" d="M106.6,153.9c0-2.4,0.3-4.7,0.9-7c0.6-2.3,1.5-4.3,2.7-6.2c1.2-1.9,2.7-3.6,4.6-5.1c1.8-1.5,4-2.7,6.4-3.7
                        c-3.6-2-6.5-4.6-8.6-7.8c-2.1-3.2-3.2-6.7-3.2-10.5c0-3.1,0.6-5.9,1.9-8.5c1.3-2.6,3-4.9,5.3-6.8c2.2-1.9,4.9-3.4,7.9-4.5
                        c3-1.1,6.3-1.6,9.9-1.6c3.6,0,7,0.5,10,1.6c3.1,1.1,5.7,2.6,7.9,4.5c2.2,1.9,4,4.2,5.2,6.8c1.2,2.6,1.9,5.4,1.9,8.5
                        c0,3.9-1.1,7.4-3.2,10.5c-2.1,3.2-5,5.8-8.5,7.8c2.4,0.9,4.5,2.2,6.4,3.6c1.8,1.5,3.4,3.2,4.6,5.1c1.2,1.9,2.2,4,2.8,6.2
                        c0.6,2.3,0.9,4.6,0.9,7.1c0,3.7-0.7,7-2,10c-1.4,3-3.3,5.6-5.7,7.8c-2.5,2.2-5.4,3.8-8.8,5.1c-3.4,1.2-7.2,1.8-11.3,1.8
                        c-4.1,0-7.8-0.6-11.2-1.8c-3.4-1.2-6.3-2.9-8.8-5.1c-2.5-2.2-4.4-4.8-5.8-7.8C107.3,160.9,106.6,157.5,106.6,153.9z M119.8,152.7
                        c0,2.4,0.4,4.5,1.1,6.4c0.7,1.9,1.7,3.5,3,4.8s2.8,2.3,4.6,3c1.8,0.7,3.8,1.1,6,1.1c2.1,0,4.1-0.4,5.9-1.1c1.8-0.7,3.3-1.8,4.6-3.1
                        c1.3-1.3,2.3-3,3.1-4.8s1.1-4,1.1-6.3c0-2.1-0.3-4.2-1.1-6c-0.7-1.9-1.7-3.5-3-4.9s-2.8-2.5-4.6-3.3c-1.8-0.8-3.8-1.2-6-1.2
                        c-2.1,0-4.1,0.4-5.9,1.1c-1.8,0.8-3.4,1.8-4.7,3.2c-1.3,1.4-2.3,3-3.1,4.9C120.1,148.4,119.8,150.5,119.8,152.7z M122.6,114.9
                        c0,1.8,0.3,3.4,0.9,4.9c0.6,1.5,1.5,2.8,2.5,3.9c1.1,1.1,2.3,2,3.7,2.6c1.4,0.6,2.9,0.9,4.6,0.9s3.2-0.3,4.6-1
                        c1.4-0.6,2.7-1.5,3.7-2.6s1.9-2.4,2.5-3.9c0.6-1.5,0.9-3.1,0.9-4.8c0-1.8-0.3-3.4-0.9-4.9c-0.6-1.5-1.4-2.8-2.5-3.9
                        c-1.1-1.1-2.3-1.9-3.7-2.6c-1.4-0.6-3-0.9-4.7-0.9c-1.8,0-3.3,0.3-4.8,1c-1.4,0.6-2.7,1.5-3.7,2.7c-1,1.1-1.8,2.4-2.4,3.9
                        C122.9,111.6,122.6,113.2,122.6,114.9z"/>
                </g>
                </svg>
            </div>
            <span class="c-promo__label">
                <?php echo __($warranty); ?>
            </span>
        </div>
        <div class="popover top" role="tooltip">
            <div class="arrow"></div>
            <div class="popover-content"><?php echo __('Our products are designed to last and perform at the very highest standards. We feel secure in offering an 18 month warranty on all of our products.');?>
            </div>
        </div>
    </div>
<?php endif;?>
</div>
<?php if ($_product->getEquivalent() && strtoupper(trim($_product->getEquivalent())) != 'N/A') { ?>
    <div class="c-promo c-promo--default c-promo--small u-row--small">
        <div class="c-promo__item-wrapper u-col-xs-1-5 col-sm-4 u-col-lg-1-5">
            <div class="c-promo__item">
                <div class="c-promo__img">
                    <svg width="36" height="36" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" role="img" aria-labelledby="c-promo__lumens-icon">
                    <title id="c-promo__lumens-icon">Lumens icon</title>
                    <defs><rect id="a" width="101" height="84" rx="3"/><mask id="b" x="0" y="0" width="101" height="84" fill="#fff"><use xlink:href="#a"/></mask></defs><g transform="translate(-33 -12)" fill="none" fill-rule="evenodd"><use stroke="#C2C4CC" mask="url(#b)" stroke-width="2" xlink:href="#a"/><g stroke-width="2" stroke="#9395A3"><path d="M60.75 29.25c0-5.8-4.7-10.5-10.5-10.5s-10.5 4.7-10.5 10.5 4.7 10.5 10.5 10.5 10.5-4.7 10.5-10.5zM50 42.75v3M63.75 29h3M50 15.75v-3M36.75 29h-3M40.706 38.796l-2.123 2.123M59.796 38.796l2.12 2.12M59.797 19.706l2.122-2.12M40.704 19.706l-2.12-2.12"/></g><path d="M33 12h36v36H33z"/></g>
                    </svg>
                </div>
                <span class="c-promo__label"><?php echo $_product->getWattage() ? $_product->getWattage() : "&nbsp;"; ?> <?php echo __('Lm') ?></span>
            </div>
        </div>
        <div class="c-promo__item-wrapper u-col-xs-1-5 col-sm-4 u-col-lg-1-5">
            <div class="c-promo__item">
                <div class="c-promo__img">
                    <svg width="36" height="36" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" role="img" aria-labelledby="c-promo__replacement-icon">
                    <title id="c-promo__replacement-icon">Replacement icon</title>
                    <defs><rect id="a" width="101" height="84" rx="3"/><mask id="b" x="0" y="0" width="101" height="84" fill="#fff"><use xlink:href="#a"/></mask></defs><g transform="translate(-33 -12)" fill="none" fill-rule="evenodd"><use stroke="#C2C4CC" mask="url(#b)" stroke-width="2" xlink:href="#a"/><g stroke-width="2" stroke="#9395A3"><path d="M59.25 28.25c0-4.97-4.032-9-9-9-4.97 0-9 4.03-9 9 0 4.19 2.87 7.704 6.75 8.704v1.796h4.5v-1.796c3.878-1 6.75-4.513 6.75-8.704zM51 44.5h-1.5M52.5 41.5H48M49.5 13.25v3M65.25 27.5h-3M35.25 27.5h3M38.581 16.583l3.184 3.183M61.916 16.583l-3.183 3.183"/></g><path d="M33 12h36v36H33z"/></g>
                    </svg>
                </div>
                <?php $_productwatt = $_product->getEquivalent() ? $_product->getEquivalent() : "&nbsp;"; ?>
                <span class="c-promo__label"> <?php echo __('%1 Replace', $_productwatt);?></span>
            </div>
        </div>

        <div class="c-promo__item-wrapper u-col-xs-1-5 col-sm-4 u-col-lg-1-5">
            <div class="c-promo__item">
                <div class="c-promo__img">
                    <svg width="36" height="36" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" role="img" aria-labelledby="c-promo__dimmable-icon">
                    <title id="c-promo__dimmable-icon">Dimmable icon</title>
                    <defs><rect id="a" width="101" height="84" rx="3"/><mask id="b" x="0" y="0" width="101" height="84" fill="#fff"><use xlink:href="#a"/></mask></defs><g transform="translate(-33 -12)" fill="none" fill-rule="evenodd"><use stroke="#C2C4CC" mask="url(#b)" stroke-width="2" xlink:href="#a"/><g stroke-width="2" stroke="#9395A3"><path d="M50.998 17.25c7.042 0 12.75 5.71 12.75 12.75s-5.708 12.75-12.75 12.75c-7.04 0-12.75-5.71-12.75-12.75M50.998 30L39.75 18.75M46.5 18.75h-6.75v6.75"/></g><path d="M33 12h36v36H33z"/></g>
                    </svg>
                </div>
                <?php
                $dimmable = 'No';
                if($_product->getDimmableconfig()){
                    $dimmable = $_product->getResource()->getAttribute('dimmableconfig')->getFrontend()->getValue($_product);
                    if (strtolower(__($dimmable)) == strtolower(__('Dimmable'))) {
                        $dimmable = 'Yes';
                    } else{
                        $dimmable = 'No';
                    }

                }
                                ?>
                <span class="c-promo__label"><?php echo __($dimmable); ?> <?php echo __('Dimmable'); ?></span>
            </div>
        </div>
        <div class="c-promo__item-wrapper u-col-xs-1-5 col-sm-4 u-col-lg-1-5">
            <div class="c-promo__item">
                <div class="c-promo__img">
                    <svg width="36" height="36" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" role="img" aria-labelledby="c-promo__watts-icon">
                    <title id="c-promo__watts-icon">Watts icon</title>
                    <defs><rect id="a" width="101" height="84" rx="3"/><mask id="b" x="0" y="0" width="101" height="84" fill="#fff"><use xlink:href="#a"/></mask></defs><g transform="translate(-32 -12)" fill="none" fill-rule="evenodd"><use stroke="#C2C4CC" mask="url(#b)" stroke-width="2" xlink:href="#a"/><g stroke-width="2" stroke="#9395A3"><path d="M53.727 21.27c3.844 1.603 6.546 5.4 6.546 9.823 0 5.872-4.764 10.636-10.637 10.636C43.762 41.73 39 36.964 39 31.092c0-4.404 2.68-8.187 6.496-9.8M49.91 18.002v10.636"/></g><path d="M32 12h36v36H32z"/></g>
                    </svg>
                </div>
                <span class="c-promo__label"><?php echo $_product->getConsumption() ? $_product->getConsumption() : "&nbsp;"; ?></span>
            </div>
        </div>
        <div class="c-promo__item-wrapper u-col-xs-1-5 col-sm-4 u-col-lg-1-5">
            <a class="c-promo__item fancybox ct" href="#rabbit-application-container">
                <div class="c-promo__img">
                    <svg width="36" height="37" viewBox="0 0 36 37" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" role="img" aria-labelledby="c-promo__beam-angle-icon">
                    <title id="c-promo__beam-angle-icon">Beam angle icon</title>
                    <defs><rect id="a" width="101" height="84" rx="3"/><mask id="b" x="0" y="0" width="101" height="84" fill="#fff"><use xlink:href="#a"/></mask></defs><g transform="translate(-33 -12)" fill="none" fill-rule="evenodd"><use stroke="#C2C4CC" mask="url(#b)" stroke-width="2" xlink:href="#a"/><text font-family="NotoSans, Noto Sans" font-size="13" fill="#56596B" transform="translate(31 11)"><tspan x="6.316" y="51">120º</tspan></text><g stroke-width="2" stroke="#9395A3"><path d="M67.226 33.978L50.963 17.715 34.7 33.978M58.74 25.493c-4.295 4.296-11.26 4.296-15.555 0M50.963 23.356v2.83M50.963 28.715v3.126M50.963 34.67v2.828M50.963 40.327v2.828"/></g><path d="M67.94 30.97L50.97 47.94 34 30.97 50.97 14z"/></g>
                    </svg>
                </div>
                <span class="c-promo__label"><?php echo $_product->getBeam() ? $_product->getBeam() : "&nbsp;"; ?></span>
            </a>
        </div>
        <div>
            <div id="angel_app">
                <div id="rabbit-application-container">
                    <div class="calculations">
                        <div>
                            <div class="fieldset"><label>Area (M<sup>2</sup>)</label> <input class="square" type="text" value="1" /></div>
                            <div class="fieldset"><label>Number of Fixtures</label> <input class="number_of_fixtures" type="text" value="1" /></div>
                            <div class="fieldset"><label>Lumens per Fixture (lm)</label> <input class="lumens_per_fixture" type="text" value="250" /></div>
                        </div>
                        <div class="result">
                            <div class="head">Result</div>
                            <div class="lux_level">Lux at ground level: <span>&nbsp;</span></div>
                        </div>
                    </div>
                    <div id="rabbit-application">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
<?php } ?>
<div class="free-return"><p class="text-center text-muted u-flush-bottom"><?php echo __('90 day worry free returns!');?></p></div>