<?php
    $_helper = $this->helper('Magento\Catalog\Helper\Output');
    $_product = $block->getProduct();

?>
<div class="wrap-product-title">
	<div class="product attribute sku">
	    <strong class="type"><?php echo __('Product Code');?></strong>   
	     <div class="value" itemprop="sku"><?php echo $_product->getSku();?></div>
	</div>
	<?php echo $this->getChildHtml('page.main.title');?>
	
</div>
