<div class="amfaq-rating-yesno">
    <span data-bind="i18n: 'Was this answer helpful?'" class="amfaq-was-it-helpful"></span>
    <span class="amfaq-rating-yesno-vote yesvote" data-bind="css: {'yesno-voted': isPositiveVotedQuestion()}, click:votePositive, i18n: 'Y';"></span>
   <span class="amfaq-rating-yesno-vote novote" data-bind="css: {'yesno-voted': isNegativeVotedQuestion()}, click: voteNegative, i18n: 'N';"></span>
    <!-- ko if:isVoted -->
    <span class="amfaq-rating-data-wrapper">
        <span data-bind="text: getPositiveRating()"></span>
        <span data-bind="i18n: 'out of'"></span>
        <span data-bind="text: getTotalRating()"></span>
        <span data-bind="i18n: 'found this answer helpful'"></span>
    </span>
    <!-- /ko -->
</div>
