<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php $_statement = $block->getStatement();

      $_ballance = $block->getBalance();
      $received_total='';
        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
        $scopeConfig = $objectManager->create('Magento\Framework\App\Config\ScopeConfigInterface');
        $payments = $scopeConfig->getValue('sales/invoive_receivable/payment_method_recievable', \Magento\Store\Model\ScopeInterface::SCOPE_STORE);
        $payment_arr = explode(",",$payments);

$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$currency = $objectManager->get('\Magento\Directory\Model\Currency');
 ?>
<?php if ($_statement): ?>
<?php ?>
    <table class="email-items">
        <thead>
            <tr>
                <th class="title">
                    <?= /* @escapeNotVerified */  __('Invoice #') ?>
                </th>
                <th class="title">
                    <?= /* @escapeNotVerified */  __('Date') ?>
                </th>
                <th class="title">
                    <?= /* @escapeNotVerified */  __('Type') ?>
                </th>
                <th class="title">
                    <?= /* @escapeNotVerified */  __('Your PO #') ?>
                </th>
                <th class="title txt-right title-invoice">
                    <?= /* @escapeNotVerified */  __('Invoices') ?>
                </th>
                <th class="title txt-right col-payment">
                    <?= /* @escapeNotVerified */  __('Payment') ?>
                </th>
               
            </tr>
        </thead>
        <tbody>
        <?php foreach ($_statement->getData() as $_item): ?>
            <?php   
           //var_dump($_item['received_at']);echo '<br/>';
                if(!empty($_item['created_at'])){
                    $create_at= date("m/d/Y", strtotime($_item['created_at']));
                }else{
                    $create_at='';
                }
                 if(!empty($_item['received_at'])){
                    $received_at= date("m/d/Y", strtotime($_item['received_at']));
                }
                else{
                     $received_at='';
                }
            ?>
            <?php  
                if($_item['state'] ==\OnlineBiz\ReceivableInvoices\Model\Order\Invoice::STATE_PAID && !in_array($_item['payment_method'], $payment_arr)){
                    if($_item['grand_total'] !=''){
                     $received_total =  number_format((float)$_item['grand_total'], 2);
                    }else{
                        $received_total =  number_format(0, 2);
                    }
                }else {
                    if($_item['total'] !=''){
                       $received_total =  number_format((float)$_item['total'], 2);
                    }else{
                        $received_total = number_format(0, 2);
                    }
                }

                
            ?>
            <tr>
                <td><?php echo $_item['increment_id'];?></td>
                <td><?php echo $create_at;?></td>
                <td><?php echo __('Invoice');?></td>
                <td><?php echo $_item['po_number'];?></td>
                <td class="txt-right col-invoice"><?php if($_item['grand_total'] !='') echo $currency->getCurrencySymbol().''.number_format((float)$_item['grand_total'], 2);?></td>
                <td class="txt-right col-payment"><?php echo  $currency->getCurrencySymbol().''.$received_total;?></td>
            
            </tr>
        <?php endforeach;?>
        <tr class="br-border">
            <td  colspan="5"></td>
            <td class="col-payment"></td>
        </tr>
        </tbody>
        <tfoot class="balance-totals">
                <tr>
                    <th colspan="4" class="txt-right bg-color"><?php echo __('Outstanding Balance:');?></th>
                    <td colspan="2" class="txt-right txt-color col-payment"><b class="txt-center"><?php echo $_ballance;?></b></td>
                </tr>
        </tfoot>
    </table>
<?php endif; ?>
