<div class="c-product-detail_delivery product-options-view" id="ob-product-detail_delivery">
  <?php if (!$this->_getHelper()->getHolidayDate()): ?>
    <div class="ob_countdown_timer_container_default">
      <div class="title"><span><?php echo $this->_getHelper()->getEventNotice(); ?></span></div>
      <svg width="48" height="48" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg" role="img"
           aria-labelledby="c-product-detail_delivery-icon" class="c-product-detail_delivery-icon">
        <title id="c-product-detail_delivery-icon"><?php echo __('Same Day Dispatch icon'); ?></title>
        <g fill="none" fill-rule="evenodd">
          <g stroke-width="2" stroke="#45485C">
            <g transform="translate(1 3.667)">
              <circle cx="10" cy="10" r="10"></circle>
              <path d="M14 12h-4V5"></path>
            </g>
            <g transform="translate(1 21.667)">
              <path d="M32 6h9l5 8v6h-5.174"></path>
              <path d="M20.826 20h11.196L32 0H22M10 6v14h5.174"></path>
              <ellipse cx="38" cy="21" rx="3" ry="3"></ellipse>
              <ellipse cx="18" cy="21" rx="3" ry="3"></ellipse>
              <path d="M0 9.667l6 .013M3 13.667l3 .013M5 17.667l1 .013M46 13.667H32M32.022 19h3.164"></path>
            </g>
          </g>
          <path d="M0 0h48v48H0z"></path>
        </g>
      </svg>
      <div class="timer-row" id="ob_countdown_timer_content">
        <div class="ob_countdown_timer">
          <div class="ob_countdown_hours_container">
            <div class="ob_countdown_hours">
              <div class="ob_countdown_spacer"></div>
              <span class="ob_countdown_hours_number"></span>
            </div>
            <div><span class="ob_countdown_hours_label"><?php echo __('Hours'); ?></span></div>
          </div>
          <div class="ob_countdown_separator">
            <div class="ob_countdown_separator_afterhours"></div>
            <div class="ob_countdown_separator_afterhours_bottom"><span></span></div>
          </div>
          <div class="ob_countdown_minutes_container">
            <div class="ob_countdown_minutes">
              <div class="ob_countdown_spacer"></div>
              <span class="ob_countdown_minutes_number"></span>
            </div>
            <div><span class="ob_countdown_minutes_label"><?php echo __('Mins'); ?></span></div>
          </div>
          <div class="ob_countdown_separator">
            <div class="ob_countdown_separator_afterminutes"></div>
            <div class="ob_countdown_separator_afterminutes_bottom"><span></span></div>
          </div>
          <div class="ob_countdown_seconds_container">
            <div class="ob_countdown_seconds">
              <div class="ob_countdown_spacer"></div>
              <span class="ob_countdown_seconds_number"></span>
            </div>
            <div><span class="ob_countdown_seconds_label"><?php echo __('Secs'); ?></span></div>
          </div>
        </div>
      </div>
      <script type="text/javascript">
          require(['jquery', 'OnlineBiz_Countdown/js/timer'], function ($) {
              OnlineBizCountdown.init('<?php echo $this->_getHelper()->getTodayEndTime() ?>', '<?php echo $this->_getHelper()->getNextDayEndTime(); ?>', 'ob_countdown_timer_content', '<?php echo $this->getHtmlHolidayBlock(); ?>');
          });
      </script>
    </div>
  <?php else: ?>
    <div class="default_no_countdown">
      <?php echo $this->getHtmlHolidayBlock(); ?>
    </div>
  <?php endif; ?>
</div>
