// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  ---------------------------------------------

@product-name-link__color: @text__color;
@product-name-link__color__active: @text__color;
@product-name-link__color__hover: @text__color;
@product-name-link__color__visited: @text__color;

@product-name-link__text-decoration: none;
@product-name-link__text-decoration__active: @link__hover__text-decoration;
@product-name-link__text-decoration__hover: @link__hover__text-decoration;
@product-name-link__text-decoration__visited: @link__hover__text-decoration;

//

//
//    Common
//--------------------------------------

& when (@media-common = true) {
    .catalog-category-view{
        .page-wrapper > .breadcrumbs{
            padding-top:20px;
            padding-left:15px;
        }
    }
    .catalog-category-view.page-layout-2columns-left{
        .sidebar-main{
            padding:13px;
            padding-right:13px;
            width:26%;
            &:before{
                border:none;
                display:none;
            }
            .sidebar-content{
                background:#39b14a;
                padding:45px;
                .brand-certification{               
                    text-align:center;
                    padding:25px 0px;
                    .show-tablet,.show-mobie{
                        display:none;
                    }
                }
                .contact{
                    padding-top:25px;
                    .legend{
                        color:#fff;
                        font-size:29px;
                        font-weight:600;
                    }
                    .control.telephone{
                        float:left;
                        padding-right:5px;
                        width:50%;
                        padding-bottom:8px;
                    }
                    .control.industry{
                        float:left;
                        padding-left:5px;
                        width:50%;
                        padding-bottom:8px;
                    }
                    .control{
                        input{
                            height:52px;
                            border:1px solid #fff;
                            width:100%;
                            padding:10px 20px;
                            color:#fff;
                            border-radius:0px;
                            -webkit-border-radius:0px;
                            -moz-border-radius:0px;
                            background:none;

                        }
                        input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                          color: #fff!important;
                        }
                        input::-moz-placeholder { /* Firefox 19+ */
                          color: #fff!important;
                        }
                        input:-ms-input-placeholder { /* IE 10+ */
                          color: #fff!important;
                        }
                        input:-moz-placeholder { /* Firefox 18- */
                          color: #fff!important;
                        }
                    }
                    .field{
                        margin-bottom:8px;
                    }
                    
                    .actions-toolbar{
                        .action.primary{
                            height:52px;
                            line-height:52px;
                            padding:0 86px 0px 20px;
                            background:#fff;
                            color:#39b14a;
                            border-radius:0px;
                            -webkit-border-radius:0px;
                            -moz-border-radius:0px;
                            border:none;
                            font-family:"Open Sans";
                        }
                    } 
                }
            }

        }
        .column.main{
            width:74%;
            padding:0px 10px;
        }
    } 
    .sidebar-additional{
            .sidebar-content{
                background:#39b14a;
                padding:45px;
                .brand-certification{               
                    text-align:center;
                    padding:25px 0px;
                }
                .contact{
                    padding-top:25px;
                    .legend{
                        color:#fff;
                        font-size:29px;
                        font-weight:600;
                    }
                    .control.telephone{
                        float:left;
                        padding-right:5px;
                        width:50%;
                        padding-bottom:8px;
                    }
                    .control.industry{
                        float:left;
                        padding-left:5px;
                        width:50%;
                        padding-bottom:8px;
                    }
                    .control{
                        input{
                            height:52px;
                            border:1px solid #fff;
                            width:100%;
                            padding:10px 15px;
                            color:#fff;
                            border-radius:0px;
                            -webkit-border-radius:0px;
                            -moz-border-radius:0px;
                            background:none;

                        }
                        input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                          color: #fff!important;
                        }
                        input::-moz-placeholder { /* Firefox 19+ */
                          color: #fff!important;
                        }
                        input:-ms-input-placeholder { /* IE 10+ */
                          color: #fff!important;
                        }
                        input:-moz-placeholder { /* Firefox 18- */
                          color: #fff!important;
                        }
                    }
                    .field{
                        margin-bottom:8px;
                    }
                    
                    .actions-toolbar{
                        .action.primary{
                            height:52px;
                            line-height:52px;
                            padding:0 86px 0px 20px;
                            background:#fff;
                            color:#39b14a;
                            border-radius:0px;
                            -webkit-border-radius:0px;
                            -moz-border-radius:0px;
                            border:none;
                            font-family:"Open Sans";
                        }
                    } 
                }
            }

        }
        .wrap-infor-product{
            .sidebar-content{
                background:#39b14a;
                padding:45px;
                margin-top:70px;
                .brand-certification{               
                   display:none;
                }
                .contact{
                    .legend{
                        color:#fff;
                        font-size:29px;
                        font-weight:600;
                    }
                    .control.telephone{
                        float:left;
                        padding-right:5px;
                        width:50%;
                        padding-bottom:8px;
                    }
                    .control.industry{
                        float:left;
                        padding-left:5px;
                        width:50%;
                        padding-bottom:8px;
                    }
                    .control{
                        input{
                            height:52px;
                            border:1px solid #fff;
                            width:100%;
                            padding:10px 15px;
                            color:#fff;
                            border-radius:0px;
                            -webkit-border-radius:0px;
                            -moz-border-radius:0px;
                            background:none;

                        }
                        input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                          color: #fff!important;
                        }
                        input::-moz-placeholder { /* Firefox 19+ */
                          color: #fff!important;
                        }
                        input:-ms-input-placeholder { /* IE 10+ */
                          color: #fff!important;
                        }
                        input:-moz-placeholder { /* Firefox 18- */
                          color: #fff!important;
                        }
                    }
                    .field{
                        margin-bottom:8px;
                    }
                    
                    .actions-toolbar{
                        .action.primary{
                            height:52px;
                            line-height:52px;
                            padding:0 86px 0px 20px;
                            background:#fff;
                            color:#39b14a;
                            border-radius:0px;
                            -webkit-border-radius:0px;
                            -moz-border-radius:0px;
                            border:none;
                            font-family:"Open Sans";
                        }
                    } 
                }
            }
        }
        

.products-grid{
    .product-item{
        .product-item-details{
            font-weight:300;
            color:#231f20;
            .product-item-name{
                color:#231f20;
                .product-item-link{
                    color:#231f20;
                }
            }
            .equivalent{
                height:18px;
                color:#231f20;
            }
            .details-product{   
                padding-top:15px;            
                a{
                    padding:5px 29px;
                    display:inline-block;
                    text-transform:uppercase;
                    font-size:15px;
                    background:#39b14a;
                    color:#fff;
                    &:hover{
                        color:#fff;
                        text-decoration:none;
                    }
                }
            }
        }
        .product-item-info{
            .consumption{
                padding-top:5px;
                font-size:15px;
                color:#231f20;
            }
        }
    }

} 
.products-grid:not(.side-list):not(.products-related) .product-item:hover div.product-item-photo{
        box-shadow:initial;
}
.products-grid.products-related .product-item .new-items a{
    position:absolute;
    top:22px;
    right:22px;
    border:1px solid #39b14a;
    color:#39b14a;
    z-index:10;
    border-radius:100%;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    text-transform:uppercase;
    width:59px;
    height:59px;
    line-height:59px;
    font-weight:300;
    font-size:15px;
}
.products-grid {

    &:after {
        display: table;
        content: "";
        clear: both;
    }
    
    .product-item {
        float: left;
    }
    & {
        .product-item {
            width: 100%/2;
            padding: 10px;
            
            &.nth-child-3np1 {
                clear: left;
            }
            .new-items{
                text-align:center;
            }
        }
    }
    &.products.grid.flex-grid {
        .product-item {
            border-left: 1px solid #e3e4e4;
            display: flex;
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;
            margin-top: -1px;
            transition: all 0.3s;
            padding-top: 0;
            padding-bottom: 0;
            position: relative;
            
            &.nth-child-2np1 {
                border-left-color: transparent;
            }
            &:nth-child(1), &:nth-child(2) {
                .product-item-info {
                    border-top-color: transparent;
                }
            }
            .product-item-info {
                border-top: 1px solid #e3e4e4;
                padding: 50px 0 10px;
                transition: all 0.3s;
                margin-top: -1px;
            }
            &:hover {
                background-color: #fff;
                border-top-color: #e3e4e4;
                border-bottom-color: #e3e4e4;
                box-shadow: 0 0 40px rgba(0,0,0,0.1);
                
                .product-item-info {
                    border-top-color: transparent;
                    padding: 10px 0 50px;
                }
                
                .product-item-details {
                    .product-item-actions {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
            &-details {
                .product-item-inner {
                    margin-bottom: -30px;
                }
                .product-item-actions {
                    visibility: hidden;
                    opacity: 0;
                    transition: all 0.3s;
                    
                    .tocart {
                        background-color: @theme-color;
                        color: #fff;
                        border: 0;
                        height: 40px;
                        line-height: 40px;
                    }
                    .actions-secondary {
                        &.towishlist, &.tocompare {
                            visibility: visible;
                            position: static;
                            opacity: 1;
                            height: 40px;
                            line-height: 40px;
                            top: 0;
                            width: 40px;
                            border: 0;
                            background-color: #e6e6e6;
                            color: #000;
                        }
                        &.towishlist {
                            margin-right: -3px;
                        }
                        &.tocompare {
                            margin-left: -3px;
                        }
                    }
                }
            }
        }
    }
}
// Product Lists
.products {
    margin: 4px 0;
}
.product {
    &-items {
        &:extend(.abs-reset-list all);
    }
    &-item {
        vertical-align: top;
        &:extend(.abs-add-box-sizing all);

        &-details {
            padding: 5px 0;
        }
        &-name {
            &:extend(.abs-product-link all);
            display: block;
            font-size: 14px;
            margin: 0 0 3px 0;
            word-wrap: break-word;
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
        }
        &-info {
            width: 100%;
            max-width: 100%;
            text-align: center;
        }
        &-photo {
            .new-items{
                position:absolute;
                z-index:10;
                top:22px;
                right:22px;
                border:1px solid #39b14a;
                color:#39b14a;
                -webkit-border-radius:100%;
                border-radius:100%;
                width:59px;
                height:59px;
                line-height:59px;
                font-size:15px;
                font-weight:300;
                a{
                    color:#39b14a;
                    &:hover{
                        text-decoration:none;
                    }
                }

            }
            display: block;
            position: relative;
            overflow: hidden;
            
            .product-item-inner {
                position: absolute;
                left: 10px;
                bottom: 10px;
                text-align: center;
                visibility: hidden;
                opacity: 0;
                transition: all 0.3s;
                z-index: 3;
                
                .product-item-actions {
                    > .action {
                        background-color: #fff;
                    }
                    > .actions-primary {
                        display: inline-block;
                        .tocart {
                            width: 32px;
                            padding: 0;
                            
                            &:before {
                                margin-right: 0;
                            }
                            span {
                                display: none;
                            }
                        }
                    }
                }
            }
            &:hover .product-item-inner {
                visibility: visible;
                opacity: 1;
            }
        }
        &-actions {
            .actions-secondary {
                &.action {
                    &:extend(.abs-actions-addto all);
                    &:before {
                        margin: 0;
                    }
                    span {
                        &:extend(.abs-visually-hidden all);
                    }
                }
            }
            .action.towishlist {
                border-color: @addto-wishlist-icon;
                color: @addto-wishlist-icon;
                
                > span {
                    display: none;
                }
            }
            .action.tocompare {
                border-color: @addto-compare-icon;
                color: @addto-compare-icon;
                
                > span {
                    display: none;
                }
            }
        }
        &-description {
            margin: 10px 0;
        }
        .product-reviews-summary {
            background: url(../images/rating-bar.png) center no-repeat;
            line-height: 1;
            margin: 7px 0;
            
            .reviews-actions {
                display: none;
                text-transform: lowercase;
                font-size: @font-size__s;
            }
        }
        .rating-summary {
            .lib-rating-summary(
                @_icon-font-size: 12px,
                @_icon-letter-spacing: 3px,
                @_label-hide: true
            );
        }
        .price-box {
            .price-label {
                font-size: @font-size__s;
                .lib-css(color, @text__color__muted);
            }
        }

        .minimal-price {
            .price-container {
                display: block;
            }
        }

        .minimal-price-link {
            margin-top: @indent__xs;
        }

        .price-from,
        .price-to {
            margin: 0;
        }

        .tocompare {
            .lib-icon-font-symbol(
                @icon-compare-full
            );
        }

        .tocart {
            white-space: nowrap;
            border-radius: 0;
            .lib-font-size(14px);
            line-height: 30px;
            padding: 0 10px;
            height: 32px;
            border-radius: 5px;
            font-weight: 400;
            
            &:before {
                display: inline;
                content: @icon-cart;
                font-family: @icon-font-family;
                margin-right: 5px;
                font-size: 15px;
            }
        }
    }
}
.products-grid {
    .product-item .box-tocart input.qty {
        height: 32px;
        padding: 0 9px;
    }
    .product-item-details {
        .product-item-actions {
            white-space: nowrap;
            margin: 0 20px;
            
            .actions-primary {
                display: inline-block;
                vertical-align: middle;
                position: relative;
                z-index: 1;
            }
            .actions-secondary {
                display: inline-block;
                vertical-align: middle;
                position: relative;
                transition: all 0.3s;
                
                &.towishlist {
                    right: -36px;
                    visibility: hidden;
                    opacity: 0;
                }
                &.tocompare {
                    left: -36px;
                    visibility: hidden;
                    opacity: 0;
                }
            }
            a.tocart.primary.action {
                background-color: #39b14a;
                border: none;
                color: #fff;
                border-radius:0px;
                -webkit-border-radius:0px;
                -moz-border-radius:0px;
                padding:0 33px;
                light-height:31px;
                height:31px;
                font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
                font-weight: 400;
                &:before{
                    content:'';
                    margin:0px;
                }
                span{
                    font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
                    font-weight:300;
                    font-size:15px;
                }
            }
        }
    }
    .product-item-info {
        &:hover {
            .product-item-details {
                div.product-item-actions {
                    .actions-secondary {
                        &.towishlist {
                            right: 0;
                            visibility: visible;
                            opacity: 1;
                        }
                        &.tocompare {
                            left: 0;
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                    button.tocart.primary.action {
                        background-color: #39b14a;
                        border: none;
                        color: #fff;
                        border-radius:0px;
                        -webkit-border-radius:0px;
                        -moz-border-radius:0px;
                           
                    }
                }
            }
        }
    }
    .owl-carousel .product-item {
        width: auto;
        padding: 0;
        float: none;
    }
}
.price-container {
    .price {
        .lib-font-size(20);
        color: #444;
    }

    .price-including-tax + .price-excluding-tax,
    .weee {
        margin-top: 5px;
    }

    .price-including-tax + .price-excluding-tax,
    .weee,
    .price-including-tax + .price-excluding-tax .price,
    .weee .price,
    .weee + .price-excluding-tax:before,
    .weee + .price-excluding-tax .price {
        .lib-font-size(11);
    }

    .weee {
        &:before {
            content: "("attr(data-label) ": ";
        }
        &:after {
            content: ")";
        }
        + .price-excluding-tax {
            &:before {
                content: attr(data-label) ": ";
            }
        }
    }
}

.products-list {
    .product {
        &-item {
            display: table;
            width: 100%;
            padding: 10px 0;
            
            &-info {
                display: table-row;
                text-align: left;

                &:after {
                    display: table;
                    content: '';
                    clear: both;
                }                
            }
            &-photo {
                width: 20%;
                display: block;
                float: left;
                margin-bottom: 20px;
            }
            &-details {
                display: block;
                width: 80%;
                padding: 0 0 20px 20px;
                float: left;
                
                .actions-primary {
                    display: inline-block;
                }
                .actions-secondary {
                    margin-left: 2px;
                }
            }
            &-name {
                font-size: 18px;
                line-height: 1;
                margin: 10px 0;
            }
            .product-reviews-summary {
                background: none;
            }
        }
    }
    .product-image-wrapper {
        &:extend(.abs-reset-image-wrapper all);
    }
}

}

//
//    Mobile
//--------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .products-grid {
        &.columns3, &.columns4, &.columns5 {
            .product-item {
                width: 100%/3;

                &.nth-child-3np1{
                    clear: left;
                }
            }
        }
        &.columns6, &.columns7, &.columns8 {
            .product-item {
                width: 100%/3;
                
                &.nth-child-2np1{
                    clear: none;
                }
                &.nth-child-3np1{
                    clear: left;
                }
            }
        }
        &.products.grid.flex-grid {
            &.columns3, &.columns4, &.columns5 {
                .product-item {
                    &.nth-child-2np1{
                        border-left-color: transparent;
                    }
                    &:nth-child(1), &:nth-child(2) {
                        .product-item-info {
                            border-top-color: transparent;
                        }
                    }
                }
            }
            &.columns6, &.columns7, &.columns8 {
                .product-item {
                    &.nth-child-2np1{
                        border-left-color: #e3e4e4;
                    }
                    &.nth-child-3np1{
                        border-left-color: transparent;
                    }
                    &:nth-child(1), &:nth-child(2), &:nth-child(3) {
                        .product-item-info {
                            border-top-color: transparent;
                        }
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .products-grid {
        
        &.columns3, &.columns4, &.columns5 {
            .product-item {
                width: 100%/3;

                &.nth-child-2np1{
                    clear: none;
                }
                &.nth-child-3np1{
                    clear: left;
                }
            }
        }
        &.columns6, &.columns7, &.columns8 {
            .product-item {
                width: 100%/5;
                
                &.nth-child-3np1, &.nth-child-2np1{
                    clear: none;
                }
                &.nth-child-5np1{
                    clear: left;
                }
            }
        }
        &.products.grid.flex-grid {
            &.columns3, &.columns4, &.columns5 {
                .product-item {
                    &.nth-child-2np1{
                        border-left-color: #e3e4e4;
                    }
                    &.nth-child-3np1{
                        border-left-color: transparent;
                    }
                    &:nth-child(1), &:nth-child(2), &:nth-child(3) {
                        .product-item-info {
                            border-top-color: transparent;
                        }
                    }
                }
            }
            &.columns6, &.columns7, &.columns8 {
                .product-item {
                    &.nth-child-3np1, &.nth-child-2np1{
                        border-left-color: #e3e4e4;
                    }
                    &.nth-child-5np1{
                        border-left-color: transparent;
                    }
                    &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5) {
                        .product-item-info {
                            border-top-color: transparent;
                        }
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .products-grid {
        
        &.columns3 {
            .product-item {
                width: 100%/3;

                &.nth-child-2np1{
                    clear: none;
                }
                &.nth-child-3np1{
                    clear: left;
                }
            }
        }
        &.columns4 {
            margin-left: -10px;
            margin-right: -10px;
            
            .product-item{
                padding: 10px;
                width: 100%/4;
                
                &.nth-child-2np1, &.nth-child-3np1{
                    clear: none;
                }
                &.nth-child-4np1{
                    clear: left;
                }
            }
        }
        &.columns5 {
            margin-left: -5px;
            margin-right: -5px;
            
            .product-item{
                padding: 10px 5px;
                width: 100%/5;
                
                &.nth-child-2np1, &.nth-child-3np1{
                    clear: none;
                }
                &.nth-child-5np1{
                    clear: left;
                }
            }
        }
        &.columns6 {
            margin-left: -4px;
            margin-right: -4px;
            
            .product-item {
                padding: 10px 4px;
                width: 100%/6;
                
                &.nth-child-2np1, &.nth-child-3np1, &.nth-child-5np1{
                    clear: none;
                }
                &.nth-child-6np1{
                    clear: left;
                }
            }
        }
        &.columns7 {
            margin-left: -3px;
            margin-right: -3px;
            
            .product-item {
                padding:10px 3px;
                width: 100%/7;
                
                &.nth-child-2np1, &.nth-child-3np1, &.nth-child-5np1{
                    clear: none;
                }
                &.nth-child-7np1 {
                    clear: left;
                }
            }
        }
        .columns8 {
            margin-left: -3px;
            margin-right: -3px;
            
            .product-item{
                padding: 10px 3px;
                width: 100%/8;
                
                &.nth-child-2np1, &.nth-child-3np1, &.nth-child-5np1{
                    clear: none;
                }
                &.nth-child-8np1 {
                    clear: left;
                }
            }
        }
        &.products.grid.flex-grid {
            &.columns3 {
                .product-item {
                    &.nth-child-2np1{
                        border-left-color: #e3e4e4;
                    }
                    &.nth-child-3np1{
                        border-left-color: transparent;
                    }
                    &:nth-child(1), &:nth-child(2), &:nth-child(3) {
                        .product-item-info {
                            border-top-color: transparent;
                        }
                    }
                }
            }
            &.columns4 {
                .product-item{
                    &.nth-child-2np1, &.nth-child-3np1{
                        border-left-color: #e3e4e4;
                    }
                    &.nth-child-4np1{
                        border-left-color: transparent;
                    }
                    &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
                        .product-item-info {
                            border-top-color: transparent;
                        }
                    }
                }
            }
            &.columns5 {
                .product-item{
                    &.nth-child-2np1, &.nth-child-3np1{
                        border-left-color: #e3e4e4;
                    }
                    &.nth-child-5np1{
                        border-left-color: transparent;
                    }
                    &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5) {
                        .product-item-info {
                            border-top-color: transparent;
                        }
                    }
                }
            }
            &.columns6 {
                .product-item {
                    &.nth-child-2np1, &.nth-child-3np1, &.nth-child-5np1{
                        border-left-color: #e3e4e4;
                    }
                    &.nth-child-6np1{
                        border-left-color: transparent;
                    }
                    &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6) {
                        .product-item-info {
                            border-top-color: transparent;
                        }
                    }
                }
            }
            &.columns7 {
                .product-item {
                    &.nth-child-2np1, &.nth-child-3np1, &.nth-child-5np1{
                        border-left-color: #e3e4e4;
                    }
                    &.nth-child-7np1 {
                        border-left-color: transparent;
                    }
                    &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7) {
                        .product-item-info {
                            border-top-color: transparent;
                        }
                    }
                }
            }
            .columns8 {
                .product-item{
                    &.nth-child-2np1, &.nth-child-3np1, &.nth-child-5np1{
                        border-left-color: #e3e4e4;
                    }
                    &.nth-child-8np1 {
                        border-left-color: transparent;
                    }
                    &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8) {
                        .product-item-info {
                            border-top-color: transparent;
                        }
                    }
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .products-list {
        .product {
            &-item {
                &-photo {
                    width: 100%;
                    padding: 0;
                    display: block;
                }
                &-details {
                    display: block;
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .products-grid {
        .product-item-info {
            .product-item-details {
                .product-item-actions {
                    .actions-secondary {
                        display: none;
                    }
                }
            }
        }
    }
}
@media (max-width: 1200px){
    .catalog-category-view.page-layout-2columns-left,.catalog-product-view{
        .sidebar-main,.sidebar{
            .sidebar-content{
                padding:20px;
               .contact{
                    .control.telephone,.control.industry{
                        width:100%;
                        padding-left:0px;
                        padding-right:0px;
                    }
                    .legend{
                        font-size:21px;
                    }
               } 

            }
        } 
    } 
}
@media (max-width: 1024px){
    .catalog-category-view.page-layout-2columns-left,.catalog-product-view{
        .sidebar-main,.sidebar{
            .sidebar-content{
                padding:10px;
               .contact{
                    .legend{
                        font-size:24px;
                    }
                    .actions-toolbar{
                        .primary{
                            width:100%;
                            float:none;
                            .action.primary{
                                width:100%;
                                float:none;
                            }
                        }
                        
                    } 
               } 

            }
        } 
    } 
    .catalog-category-view.page-layout-2columns-left{
        .column.main{
            width:100%;
            padding:0px 20px;
        }
        .sidebar-main{
            width:100%;
            padding:0px;    
        }
        #maincontent{
            padding:0px;
        }
    } 
    div.stocklist-footer{
        padding-bottom:0px;
    }
    footer.page-footer{
        .footer-top{
            padding:40px 0px;
        }
    } 
    .banner-category{
        .banner-content{
            display:none;
        }
    } 
    .products-grid .product-item .product-item-details .product-item-name .product-item-link{
        font-size:13px;
    }
    .products-grid .product-item-details .product-item-actions a.tocart.primary.action{
        font-size:15px;
    }
    .catalog-category-view.page-layout-2columns-left .sidebar-main{
        .sidebar-content{
            .contact{
                max-width: 610px;
                margin:0 auto;
                padding-bottom: 10px;
                &:after{
                    clear:both;
                    display: table;
                    content:'';
                }
                fieldset.fieldset{
                    float:left;
                    width:50%;
                }
                .content-right{
                    float:right;
                    width:50%;
                    padding-left:8px;
                    padding-top:50px;
                }
                .actions-toolbar{
                    .action.primary{
                        text-align:left;
                        font-size:13px;
                        margin-right:0px;
                    }
                } 
            }
            .brand-certification{
                padding:10px 0px;
                img.show-category{
                    display: none;
                }
                img.show-tablet{
                    display: inline-block;
                }
            }
        } 
    } 
      .catalog-category-view.page-layout-2columns-left .sidebar-main .sidebar-content .contact .control.industry{
        width:50%!important;
        padding-left:5px!important;
    }
    .catalog-category-view.page-layout-2columns-left .sidebar-main .sidebar-content .contact .control.telephone{
        padding-right:5px!important;
        width:50%!important;
    }
}
@media (max-width: 992px){
    .catalog-category-view.page-layout-2columns-left{
        .column.main{
            padding:0px 10px;
        }
    }
}
@media (max-width: 768px){
    div.products-grid{
        .product-item:nth-of-type(2n+1){
            clear:both!important;
        }
    } 
    div.products-grid.columns3 .product-item, div.products-grid.columns4 .product-item, div.products-grid.columns5 .product-item{
        width:50%;
    }
    div.products-grid.columns3 .product-item.nth-child-3np1, div.products-grid.columns4 .product-item.nth-child-3np1, div.products-grid.columns5 .product-item.nth-child-3np1{
         clear:initial;
    }
}
@media (max-width: 640px){
    .catalog-category-view.page-layout-2columns-left #maincontent{
         .columns{
            padding-top: 0px;
         }
    }
}
@media (max-width: 479px){
    .catalog-category-view.page-layout-2columns-left .sidebar-main .sidebar-content .brand-certification{
        img.show-tablet{
            display: none;
        }
        img.show-mobie{
            display: inline-block;

        }
    }
    .product-image-photo.default_image{
        width:auto;
    }
    .products-grid{
        .product-item{
            .product-item-details{
                .product-item-name{
                    margin-bottom: 15px;
                }
            } 
            .product-item-photo{
                .new-items{
                    right:65px;
                }
            } 
        }
    } 
    div.products-grid.columns3 .product-item, div.products-grid.columns4 .product-item, div.products-grid.columns5 .product-item{
        width:100%;

    }
    div.products-grid:not(.side-list):not(.products-related) .product-item .product-item-details{
        padding:12px 70px 9px;
    }
    .catalog-category-view.page-layout-2columns-left{
        .sidebar-main{
            .sidebar-content{
                padding:10px 15px;
                .contact{
                        padding-top:5px;
                    fieldset.fieldset{
                        float:none;
                        width:100%;
                    }
                    .content-right{
                        float:none;
                        width:100%;
                        padding-left:0px;
                        padding-top:0px;
                    }
                    .legend{
                        font-size:19px;
                    }
                } 

            } 
        }

    } 
    div.banner-category{
        .title-category{
            h1{
                font-size:21px;
            }
        } 
    } 
}
@media (max-width: 400px){
    div.products-grid:not(.side-list):not(.products-related) .product-item .product-item-details{
        padding:12px 20px 9px;
    }
}