<div class="page wrapper-trade">
        <?php //echo $this->getChildHtml('masthead_banner'); ?>
        <div class="col1-layout trade">
            <div class="header-title-trade">
                <?php echo $this->getChildHtml('trade-signup-benefit');?>
            </div>
            <div class="main-content">
                <div class="container">
                    <?php echo $this->getChildHtml('trade-signup-content');?>
                    <div class="col-lg-5 col-md-5 col-sm-7 col-xs-12">
                        <div id="the-main-form">
                            <div class="headform"><h2><strong><?php echo __("Access");?> </strong> <?php echo __("your free trade account")?></h2></div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                   <?php echo $this->getChildHtml('create-trade');?> 
                                
                                </div>   
                            </div>
                        </div>

                    </div>
                        
                </div>
            </div>
        </div>
</div>