<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/** @var \Magento\Contact\Block\ContactForm $block */
?>
<form class="form contact custom-cate"
      action="<?= $block->escapeUrl($block->getFormAction()) ?>"
      id="contact-form"
      method="post"
      data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"
      data-mage-init='{"validation":{}}'>
    <div class="fieldset">
        <legend class="legend"><span><?= $block->escapeHtml(__('Get in touch')) ?></span></legend><br />
        <div class="wrap-field-name">
            <div class="field name required">
                <div class="control">
                    <input name="name" id="name" placeholder="<?= $block->escapeHtml(__('Name*')) ?>" title="<?= $block->escapeHtmlAttr(__('Name')) ?>" value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('name') ?: $this->helper('Magento\Contact\Helper\Data')->getUserName()) ?>" class="input-text" type="text" data-validate="{required:true}"/>
                </div>
            </div>
            <div class="field email required">
                <div class="control">
                    <input name="email" id="email" placeholder="<?= $block->escapeHtml(__('Email*')) ?>" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('email') ?: $this->helper('Magento\Contact\Helper\Data')->getUserEmail()) ?>" class="input-text" type="email" data-validate="{required:true, 'validate-email':true}"/>
                </div>
            </div>
        </div>
        <div class="field telephone">
            <div class="control telephone">
                <input name="telephone" id="telephone" placeholder="<?= $block->escapeHtml(__('Phone Number*')) ?>" title="<?= $block->escapeHtmlAttr(__('Phone Number')) ?>" value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('telephone')) ?>" class="input-text" type="text"  data-validate="{required:true}" />
            </div>
            <div class="control industry">
                <input name="industry" id="industry" placeholder="<?= $block->escapeHtml(__('Industry*')) ?>" title="<?= $block->escapeHtmlAttr(__('Industry')) ?>" value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('industry')) ?>" class="input-text" type="text" data-validate="{required:true}" />
            </div>
        </div>
        <div class="content-right">
            <fieldset>
                <div class="field comment required">
                    <div class="control">
                        <input name="comment" id="comment" placeholder="<?= $block->escapeHtml(__('Message*')) ?>"  title="<?= $block->escapeHtmlAttr(__('Message')) ?>" class="input-text" data-validate="{required:true}" value="<?= $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('comment')) ?>"/>
                    </div>
                </div>
            </fieldset>
            <div class="actions-toolbar">
                <div class="primary">
                    <input type="hidden" name="hideit" id="hideit" value="" />
                    <button type="submit" title="<?= $block->escapeHtmlAttr(__('Submit')) ?>" class="action submit primary">
                        <span><?= $block->escapeHtml(__('Submit')) ?></span>
                    </button>
                </div>
            </div>
        </div>
    </div>    
</form>
