<?php
/**
 * @var $block \Lof\Gallery\Block\Category\CategoryList
 */

$collection = $this->getCollection();
$title      = __('Categories');
$id = rand() . time();
$html = $block->drawItem($collection);
?>
<div class="gallery-block block block-cats">
	<?php if($title){ ?>
	<div class="block-title">
		<strong><?php echo $title ?></strong>
	</div>
	<?php } ?>
	<div class="block-content block-widget-content">
		<ul id="block-cats<?php echo $id ?>" class="block-cats">
		<?php echo $block->getCategoryHtml(); ?>
		</ul>
		<script type="text/javascript">
		require([
			'jquery',
			<?php if($this->helper("Lof\All\Helper\Data")->getConfig("enable_bootstrap_js")): ?>
            "Lof_All/lib/bootstrap/js/bootstrap.min"
             <?php endif; ?>
			], function(){
			jQuery(document).ready(function($){
				$('#block-cats<?php echo $id ?> .opener').on('click', function(e) {
					e.preventDefault();
					var parent = $(this).parents("li").eq(0);
					$(this).toggleClass('item-active');
					$(parent).find(".children").eq(0).slideToggle();
					return false;
				});

			});
		});
		</script>
	</div>
</div>