<div class="wrap-addition">
	<div class="make-contact">
		<div class="title-request"><h3><?php echo __('Contact Us');?></h3></div>
		<div class="content">
			
			<?php  echo $this->getChildHtml('contact-detail');?>
		</div>
	</div>
	<?php echo $this->getChildHtml('pdf_attachment');?>
</div>