<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product additional attributes template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Attributes
 */
?>
<?php
    $_helper = $this->helper('Magento\Catalog\Helper\Output');
    $_product = $block->getProduct();
?>
<div class="key_facts">
    <h2><?php echo __('Key Facts');?></h2>
    <ul class="attr_dimmable u-list-unordered-styled">
         <?php if ($_product->getConsumption()) : ?>
            <li>
                <span><?php echo __('Wattage: ');?></span>
                <span class="attr_info attr_info_wattage"> 
                    <?php echo $_product->getConsumption(); ?>
                </span>
            </li>
        <?php endif; ?>
        <?php if ($_product->getWattage()) : ?>
            <li>
                <span><?php echo __('Lumens: ');?></span>
                <span class="attr_info attr_info_lumens"> 
                    <?php echo $_product->getWattage(); ?>
                </span>
            </li>
        <?php endif; ?>

        <?php if ($_product->getColour()) : ?>
            <li>
                <span><?php echo __('Light Colour: ');?></span>
                <span class="attr_info attr_info_lightcolor"> 
                    <?php echo $_product->getColour(); ?>
                </span>
            </li>
        <?php endif; ?>
        <?php if ($_product->getLife()) : ?>
            <li>
                <span><?php echo __('Averange Life: ');?></span>
                <span class="attr_info attr_info_equivalent"> 
                    <?php echo $_product->getLife(); ?>
                </span>
            </li>
        <?php endif; ?>
        <?php if ($_product->getDimmercompatible()) : ?>
            <li>
                <span><?php echo __('Averange Life: ');?></span>
                <span class="attr_info attr_info_equivalent"> 
                    <?php echo $_product->getDimmercompatible(); ?>
                </span>
            </li>
        <?php endif; ?>
        
        <?php if ($_product->getEquivalent()) : ?>
            <li>
                <span><?php echo __('Equivalent To: ');?></span>
                <span class="attr_info attr_info_equivalent"> 
                    <?php $_productwatt = $_product->getEquivalent() ? $_product->getEquivalent() : '&nbsp;'; ?>
                    <?php echo $_productwatt;?>
                </span>
            </li>
        <?php endif; ?>
        <?php if ($_product->getDimensions()) : ?>
            <li>
                <span><?php echo __('Dimensions: ');?></span>
                <span class="attr_info attr_info_dimensions"> 
                    <?php echo  $_product->getDimensions();?>               
                </span>
            </li>
        <?php endif; ?> 
        <?php if ($_product->getBeam()) : ?>
            <li>
                <span><?php echo __('Beam angle: ');?></span>
                <span class="attr_info attr_info_beam"> 
                    <?php echo  $_product->getBeam();?>               
                </span>
            </li>
        <?php endif; ?>
         <?php if ($_product->getInput()) : ?>
            <li>
                <span><?php echo __('Beam angle: ');?></span>
                <span class="attr_info attr_info_input"> 
                    <?php echo  $_product->getInput();?>               
                </span>
            </li>
        <?php endif; ?>
        <?php if ($_product->getCertified()) : ?>
            <li>
                <span><?php echo __('Beam angle: ');?></span>
                <span class="attr_info attr_info_certified"> 
                    <?php echo  $_product->getCertified();?>               
                </span>
            </li>
        <?php endif; ?>
        
    </ul>
</div>
<div class="addition-right"><?php echo $this->getChildHtml('addition_info');?></div>
