<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product additional attributes template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Attributes
 */
?>
<?php
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $_helper = $this->helper('Magento\Catalog\Helper\Output');
    $_product = $block->getProduct();

    if(!empty($_product->getDescription())){

        $_getDescription = $objectManager->get('Magento\Cms\Model\Template\FilterProvider')->getPageFilter()->filter($_product->getDescription());
    }
?>

<div class="name-product">
    <h1><?php echo $_product->getName();?></h1>
</div>
<?php if(isset($_getDescription)): ?> 
<div class="description">
    <?php  echo $_getDescription;?>
</div>
<?php endif;?>
<div class="link-social">
    <div class="enquire">
            <a class="btn-submit contact-popup"><?php  echo __('Enquire Now');?></a>
    </div>  
   <div class="social-block">                             
      <div class="addthis_toolbox addthis_default_style addthis_32x32_style"
         data-title="<?php echo $_product->getName();?>"
         addthis:url="<?php echo $_product->getProductUrl();?>">
        <a class="addthis_button_facebook"><i class="fa fa-facebook"></i></a>
        <a class="addthis_button_twitter"><i class="fa fa-twitter"></i></a>
        <a class="addthis_button_pinterest_share"><i class="fa fa-pinterest"></i></a>
    </div>

    </div>
</div>

