<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product media data template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Gallery
 */
?>




<?php
$_config = $this->helper('Smartwave\Porto\Helper\Data')->getConfig('porto_settings/product');
$image_width = (isset($_config['ratio_width']) && $_config['ratio_width'])?$_config['ratio_width']:600;
$image_height = (isset($_config['ratio_height']) && $_config['ratio_height'])?$_config['ratio_height']:600;
$thumb_width = 75;
$aspect_ratio = (isset($_config['aspect_ratio']))?$_config['aspect_ratio']:0;
$thumb_height = 75 * $image_height / $image_width;
if (!$aspect_ratio)
    $thumb_height = 75;
?>
<?php
$_product = $block->getProduct();
        $imageUrl = $this->helper('Magento\Catalog\Helper\Image')
            ->init($block->getProduct(), 'product_page_image_large')
            ->setImageFile($block->getImageFile())
            ->getUrl();
    ?>


<div class="container">
    <div class="row">
        <div class="left-content main-images">
            <div class="col-xs-12 col-sm-12 col-lg-6">
                <img src="<?php echo $imageUrl;?>" title="" alt=""/>
            </div>
        </div>
        <div class="right-content">
            <div class="col-xs-12 col-sm-12 col-lg-6">
                <?php echo $this->getChildHtml('product.info.details');?>
            </div>
        </div>        
    </div>
</div>



