<?php
    $_helper = $this->helper('Magento\Catalog\Helper\Output');
    $_product = $block->getProduct();

?>
<div class="title">
	<h2><?php echo $_product->getName();?></h2>
	<h4><?php echo $_product->getNameDes();?></h4>
</div>
