<?php
/**
 * Category view template
 *
 * @var $block \Magento\Catalog\Block\Category\View
 */
?>
<?php
    $_helper    = $this->helper('Magento\Catalog\Helper\Output');
    $_product  = $block->getProduct();
    $_product_sku =  $_product->getSku();
?>


<?php
$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();         
$categoryFactory = $objectManager->get('\Magento\Catalog\Model\CategoryFactory');

$registry = $objectManager->get('\Magento\Framework\Registry');
 
$_category = $registry->registry('current_category');
if($_category){
    $category = $categoryFactory->create()->load($_category->getId());
     
    $categoryProducts = $category->getProductCollection()
                                 ->addAttributeToSelect('*');
    $nextproduct ='';
    $prevproduct ='';   
    $i=1;                    
    foreach ($categoryProducts as $product) {
        if($_product_sku == $product->getSku()){
                continue;
        }
        if($i==1){
             $prevproduct = $product->getSku();
             $prev_url = $product->getUrlKey().'.html';
             
        }
        elseif($i==2){
            $nextproduct = $product->getSku();
            $next_url = $product->getUrlKey().'.html';
        }else{
            break;
        }
       $i++;

    }
?>

<div class="toolbar-product">
<a href="<?php  echo $prev_url;?>"><?php echo __('Previous Product'); ?></a>
<a href="<?php  echo $next_url;?>"><?php echo __('Next Product'); ?></a>
</div>
<?php }?>