<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php $_shipment = $block->getShipment() ?>
<?php $_order    = $block->getOrder() ?>
<?php if ($_shipment && $_order): ?>
    <table class="print-items">
        <thead>
            <tr>
                <th class="item-info">
                    <?= /* @escapeNotVerified */  __('Product') ?>
                </th>
                <th class="item-qty">
                    <?= /* @escapeNotVerified */  __('Sku') ?>
                </th>
                <th class="item-qty">
                    <?= /* @escapeNotVerified */  __('Qty') ?>
                </th>
            </tr>
        </thead>
        <?php foreach ($_shipment->getAllItems() as $_item): ?>
            <?php
                if ($_item->getOrderItem()->getParentItem()) {
                    continue;
                }
            ?>
            <tbody>
                <tr>    
                  <td><?php echo  $_item->getSku();?></td>
                  <td><?php echo  $_item->getName();?></td>
                  <td><?php echo  $_item->getQty()*1;?></td>
                </tr>
            </tbody>
        <?php endforeach; ?>
    </table>
<?php endif; ?>
