<?php

$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();         
$categoryFactory = $objectManager->get('\Magento\Catalog\Model\CategoryFactory');
$currentCategory = $block->getCurrentCategory();
$childCategories=$currentCategory->getChildrenCategories();?>
 <div class="products wrapper grid  products-grid">
    <ol class="products list items product-items">
<?php
 foreach ($childCategories as $childCategory):
        if (!$childCategory->getIsActive()) {
            continue;
        }
        $category = $categoryFactory->create()->load($childCategory->getId());?>
       


		        <li class="item product product-item">                
		            <div class="product-item-info" data-container="product-grid">
		                <div class="product photo product-item-photo">
		                    <a href="<?php echo $category->getUrl();?>" tabindex="-1">
		                        <img class="product-image-photo default_image" src="<?php echo $category->getImageUrl();?>" alt="<?php echo $category->getName();?>">
		                    </a>
		                </div>
		                <div class="product-name">
		                   <a href="<?php echo $category->getUrl();?>">
		                            <div class="infor">
		                                <h4 class="title"><?php echo $category->getName();?></h4> 
		                            </div>
		                    </a>
		                </div>
		            </div>    
		        </li>                    
		    
<?php endforeach;?>
	</ol>
</div>
