<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
    $_helper = $this->helper('Smartwave\Porto\Helper\Data');
    
    $popup = $_helper->getConfig('porto_settings/newsletter');
    if($popup['enable']) {
        $delay = $popup["delay"];
?>
<script type="text/javascript">
require([
        'jquery',
        'jquery/jquery.cookie'
    ], function ($) {
        $(document).ready(function(){
        <?php if($popup['enable'] == 1): ?>
            if($("body").hasClass("cms-index-index")) {
        <?php endif; ?>
                var check_cookie = $.cookie('newsletter_popup');
                if(window.location!=window.parent.location){
                    $('#newsletter_popup').remove();
                } else {
                    if(check_cookie == null || check_cookie == 'shown') {
                        setTimeout(function(){
                            beginNewsletterForm();
                        }, <?php echo $delay; ?>);
                    }
                    $('#newsletter_popup_dont_show_again').on('change', function(){
                        if($(this).length){        
                            var check_cookie = $.cookie('newsletter_popup');
                            if(check_cookie == null || check_cookie == 'shown') {
                                $.cookie('newsletter_popup','dontshowitagain');            
                            }
                            else
                            {
                                $.cookie('newsletter_popup','shown');
                                beginNewsletterForm();
                            }
                        } else {
                            $.cookie('newsletter_popup','shown');
                        }
                    });
                }
        <?php if($popup['enable'] == 1): ?>
            }
        <?php endif; ?>
        });
        
        function beginNewsletterForm() {
            $.fancybox({
                'padding': '0px',
                'autoScale': true,
                'transitionIn': 'fade',
                'transitionOut': 'fade',
                'type': 'inline',
                'href': '#newsletter_popup',
                'onComplete': function() {
                    $.cookie('newsletter_popup', 'shown');
                },
                'tpl': { 
                    closeBtn: '<a title="Close" class="fancybox-item fancybox-close fancybox-newsletter-close" href="javascript:;"></a>' 
                },
                'helpers': {
                    overlay: {
                        locked: false
                    }
                }
            });
            $('#newsletter_popup').trigger('click');
        }
});
</script>
<style type="text/css">
<?php
    if($popup["custom_style"]){
        echo $popup["custom_style"];
    }
?>
@media only screen and (min-width : 320px) {
    #newsletter_popup{
        background-image: none;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-top: 0;
        width: 100%;
    }

    #newsletter_popup .block-content{
        max-width: unset;
        text-align: left;
        padding: 0;
    }

    #newsletter_popup h2 {
        font-weight: 600;
        color: #39b54a;
        font-size: 25px;
        line-height: 32px;
        margin: 0 0 12px;
        letter-spacing: 3px;
        font-family: "Open Sans";
    }

    #newsletter_popup p{
        color: #808082;
        font-size: 16px;
        font-family: "Open Sans";
        font-weight: 300;
    }

    #newsletter_popup input[type="email"]{
        width: 98%;
        height: 40px;
        border-radius: 10px;
        border: 1px solid #828384;
    }

    #newsletter_popup .actions {
        margin-left: -84px;
        width: 86px;
        border-left: 1px solid #828384;
    }

    #newsletter_popup .action.primary {
        height: 40px;
        background-color: #39b54a;
        color: #fff;
        line-height: 40px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    #newsletter_popup ::placeholder {
        color: #a7a9ac !important;
    }

    #newsletter_popup .field.newsletter .control{
        position: relative;
    }

    #footer_newsletter-error{
        position: absolute;
        top: 45px;
    }
}

@media only screen and (min-width : 1024px) {
    #newsletter_popup{
        width: auto;
    }
}

@media only screen and (min-width : 1200px) {
     #newsletter_popup{
        width: 800px;
        height: 378px;
    <?php
        if(isset($popup["bg_image"]) && $popup["bg_image"]){
            $folderName = \Smartwave\Porto\Model\Config\Backend\Image\Newsletterbg::UPLOAD_DIR;
            $path = $folderName . '/' . $popup["bg_image"];
            $imageUrl = $_helper->getBaseUrl() . $path;
    ?>
        background-image:url(<?php echo $imageUrl;?>);
    <?php
        }
    ?>
    }

    #newsletter_popup h2 {
        font-size: 50px;
        line-height: 60px;
    }
    
    #newsletter_popup input[type="email"]{
        width: 45%;
    }
}

</style>
<div class="newsletter" id="newsletter_popup" style="display: none;">
    <div class="block-content">
        <?php echo $popup["content"]; ?>
        <form class="form subscribe"
            novalidate
            action="<?php echo $block->getFormActionUrl() ?>"
            method="post"
            data-mage-init='{"validation": {"errorClass": "mage-error"}}'
            id="newsletter-validate-detail">
            <div class="field newsletter">
                <div class="control">
                    <input name="email" type="email" id="footer_newsletter" placeholder="<?php echo __('Email Address') ?>" data-validate="{required:true, 'validate-email':true}"/>
                </div>
            </div>
            <div class="actions">
                <button class="action subscribe primary" title="<?php echo __('GET CODE') ?>" type="submit">
                    <span><?php echo __('Get Code') ?></span>
                </button>
            </div>
        </form>
        <div class="subscribe-bottom">
            <input type="checkbox" id="newsletter_popup_dont_show_again"/>
            <label for="newsletter_popup_dont_show_again"><?php echo __("Don't show this popup again"); ?></label>
        </div>
    </div>
</div>
<?php
    }
?>
<div class="subscribe-bottom">
           vc
        </div>