<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Checkout\Block\Cart\Item\Renderer\Actions\Remove */
?>
<a href="#"
   title="<?= $block->escapeHtml(__('Remove item')) ?>"
   class="action action-delete c-cart__delete-item btn-remove btn-remove2"
   data-post='<?= /* @escapeNotVerified */ $block->getDeletePostJson() ?>'>
                     <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" role="img" aria-labelledby="close-icon">
                        <title id="close-icon">Close icon</title>
                        <defs><circle id="a" cx="12" cy="12" r="12"></circle><mask id="b" x="0" y="0" width="24" height="24" fill="#fff"><use xlink:href="#a"></use></mask></defs><g fill="none" fill-rule="evenodd"><use stroke="#C2C4CC" mask="url(#b)" stroke-width="4" fill="#C2C4CC" xlink:href="#a"></use><path d="M16.242 7.758l-8.485 8.485M16.242 16.243L7.757 7.758" stroke="#FFF" stroke-width="2"></path></g>
                    </svg>
                    <span>
				        <?= /* @escapeNotVerified */ __('Remove item') ?>
				    </span>
            </a>