<?php
    $_helper    = $this->helper('Magento\Catalog\Helper\Output');
    $_category  = $block->getCurrentCategory();
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $media_path = $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
    $name_category = $_category->getName();
    $sub_title_cate = $_category->getLrSubTitleCate();
    $title_link_cate = $_category->getLrTitleLinkCate();
    $link_sub_cate = $_category->getLrLinkSubCate();
    $enable_button = $_category->getLrEnableButton();
    $img_banner = $_category->getLrCateImg();
?>
<div class="top-content" style="background:url('<?php echo $media_path.'/catalog/category/'.$img_banner;?>')  #27a6dd top right no-repeat;">
	<div class="page-title">
		<?php if($name_category !=''){?>
				<h1><?php echo $name_category;?></h1>
		<?php }?>
		<?php if($sub_title_cate !=''){?>
		<h3><?php echo $sub_title_cate;?></h3>
		<?php }?>
		<?php if($enable_button !=false){?>
			<?php if($title_link_cate !=''){?>
					<a href="<?php echo $link_sub_cate;?>" class="btn-base" target="_blank"><?php echo $title_link_cate;?></a>
			<?php }?>
		<?php }?>
	</div>
	<div class="content-top-right">
		<img src="<?php echo $block->getViewFileUrl('Magento_Catalog::images/lr-overlay.png'); ?>" alt=""/>
	</div>
</div>
<?php if($_category->getLrContentCate()!=''){?>
<?php $description = $objectManager->get('Magento\Cms\Model\Template\FilterProvider')->getPageFilter()->filter($_category->getLrContentCate());?>
<div class="main-content">
	<?php echo $description;?>
</div>
<?php }?>