<?php
$helper = $this->helper('Hiddentechies\Googlecustomerreview\Helper\Data');
$enabled = $helper->getConfigVal('googlecustomerreviewsection/survey_settings/enabled');
if ($enabled) {
    if ($block->getOrderId()) {
        $merchantId = $helper->getConfigVal('googlecustomerreviewsection/generalgroup/merchant_id');
        $estDeliveryDays = $helper->getConfigVal('googlecustomerreviewsection/survey_settings/est_delivery_days');
        $optInStyle = $helper->getConfigVal('googlecustomerreviewsection/survey_settings/opt_in_style');

        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
        $order = $objectManager->create('Magento\Sales\Model\Order')->loadByIncrementId($block->getOrderId());
        $total = $order->getGrandTotal();
        $customerEmail = $order->getCustomerEmail();
        $countryId = $order->getShippingAddress()->getCountryId();
        $todayDate = date("Y-m-d");
        $estDeliveryDate = Date('Y-m-d', strtotime("+" . $estDeliveryDays . " days"));
        ?>
        <!-- BEGIN GCR Opt-in Module Code -->
        <script src="https://apis.google.com/js/platform.js?onload=renderOptIn"
                async defer>
        </script>
        <script>
            window.renderOptIn = function() {
                window.gapi.load('surveyoptin', function() {
                    window.gapi.surveyoptin.render(
                            {
                                // REQUIRED
                                "merchant_id": "<?php echo $merchantId; ?>",
                                "order_id": "<?php echo $block->escapeHtml($block->getOrderId()); ?>",
                                "email": "<?php echo $customerEmail; ?>",
                                "delivery_country": "<?php echo $countryId; ?>",
                                "estimated_delivery_date": "<?php echo $estDeliveryDate; ?>",
                                // OPTIONAL
                                "opt_in_style": "<?php echo $optInStyle; ?>"
                            });
                });
            }
        </script>
        <!-- END GCR Opt-in Module Code -->
    <?php } ?>
<?php } ?>

