<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<?php
/** @var $block \Magento\ConfigurableProduct\Block\Product\View\Type\Configurable*/
$_product    = $block->getProduct();

$items = $block->getProductAvailable();

$_attributes = $block->decorateArray($block->getAllowAttributes());
?>
<?php if ($_product->isSaleable() && count($_attributes)):?>
    <?php foreach ($_attributes as $_attribute): ?>
        <div class="field configurable required">
            <label class="label" for="attribute<?= /* @escapeNotVerified */ $_attribute->getAttributeId() ?>">
                <span><?= $block->escapeHtml($_attribute->getProductAttribute()->getStoreLabel()) ?></span>
            </label>
            <div class="control">
                <select name="super_attribute[<?= /* @escapeNotVerified */ $_attribute->getAttributeId() ?>]"
                        data-selector="super_attribute[<?= /* @escapeNotVerified */ $_attribute->getAttributeId() ?>]"
                        data-validate="{required:true}"
                        id="attribute<?= /* @escapeNotVerified */ $_attribute->getAttributeId() ?>"
                        class="super-attribute-select">
                    <option value=""><?= /* @escapeNotVerified */ __('Choose an Option...') ?></option>
                </select>
            </div>
        </div>
    <?php endforeach; ?>
    <script type="text/x-magento-init">
        {
            "#product_addtocart_form": {
                "configurable": {
                    "spConfig": <?= /* @escapeNotVerified */ $block->getJsonConfig() ?>,
                    "gallerySwitchStrategy": "<?php /* @escapeNotVerified */ echo $block->getVar('gallery_switch_strategy',
                        'Magento_ConfigurableProduct') ?: 'replace'; ?>"
                }
            }
        }
    </script>
<?php endif;?>
<?php 
 $config = array();
    $titles = array();
      $icon1 = $_product->getWattage();
      $icon2 = $_product->getDimmable();
      $icon4 = $_product->getConsumption();
      $icon5 = $_product->getBeam();
      $icon7 = $_product->getLife();
    if ( empty($icon1) ) { $config[] = 'li.icon-1';}
    else { $titles['li.icon-1'] = $icon1; }
    if ( empty($icon2) ) { $config[] = 'li.icon-2';}
    else { $titles['li.icon-2'] = $icon2; }
    if ( empty($icon4) ) { $config[] = 'li.icon-4';}
    else { $titles['li.icon-4'] = $icon4; }
    if ( empty($icon5) ) { $config[] = 'li.icon-5';}
    else { $titles['li.icon-5'] = $icon5; }

    if ( empty($icon7) ) { $config[] = 'li.icon-7';}
    else { $titles['li.icon-7'] = $icon7; }
    if ( count($items) ) :
?>
<div class="product-wrapper">
    <div class="product-op-below">
        <h3 style="color: #797878;"> <?php echo __('Please select your option below:'); ?> <span></span></h3>

    </div>
    <div class="wrapper-availables" >
        <div class="wrapper-scroll">
            <?php
                $_productAttributeOptions = $_product->getTypeInstance(true)->getConfigurableAttributesAsArray($_product);
                $configAttr = array();
                foreach ($items as $item) {
                    // if($item['dimmableattr']){
                    //     $configAttr[__('Dimmable')][$item['entity_id']] = $item['dimmableattr'];
                    // }
                    foreach ($_productAttributeOptions as $attribute){
                        //if($attribute['attribute_code']!='dimmable'){
                            foreach ($attribute['values'] as $value){
                                if ($value['value_index'] == $item[$attribute['attribute_code']]){
                                    $configAttr[$attribute['store_label']][$item['entity_id']] = $value['store_label'];
                                }
                            }
                       // }


                    }
                }
            ?>
            <table>
                <colgroup>
                    <col width="1">
                    <?php
                        if(count($configAttr)>0){
                            foreach ($configAttr as $attr){
                                echo '<col width="1">';
                            }
                        }
                    ?>
                    <col width="1">
                    <col width="1">
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <?php
                            $i=0;
                            if(count($configAttr)>0){
                                foreach ($configAttr as $attrLabel => $attrVal) {
                                        $i++;
                                        echo '<th class="th-'.$i.'">'.$attrLabel.'</th>';
                                }
                            
                            }
                        ?>
                        <?php if($_product->getWattage()): ?>
                            <th class="th-<?php echo ++$i; ?>"><?php echo __('Lumens') ?></th>
                        <?php endif; ?>
                        <?php if($_product->getConsumption()): ?>
                            <th class="th-<?php echo ++$i; ?>"><?php echo __('Wattage') ?></th>
                        <?php endif; ?>
                        <?php if($_product->getEquivalentto()): ?>
                            <th class="th-<?php echo ++$i; ?>"><label><?php echo __('Replacement') ?></label><label><?php echo __('Wattage') ?></label></th>
                        <?php endif; ?>
                        <th class="th-<?php echo ++$i; ?>"><?php echo __('Sku') ?></th>
                    </tr>
                </thead>
                <tbody>
                <?php foreach ($items as $item) : ?>
                    <tr>
                        
                        <?php
                            $i=0;
                            if(count($configAttr)>0){
                                foreach ($configAttr as $attrLabel => $attrVal) {
                                    if($i==0){
                                            $i++;
                                            echo '<td class="td-'.$i.'">'.'<span class="img-radio"></span>'.$attrVal[$item['entity_id']].'</td>';
                                    }else{
                                        $i++;
                                        echo '<td class="td-'.$i.'">'.$attrVal[$item['entity_id']].'</td>';
                                    }

                                }
                            }
                        ?>

                        <?php if($_product->getWattage()): ?>
                            <td class="td-<?php echo ++$i; ?>"><?php echo $_product->getWattage() ?></td>
                        <?php endif; ?>
                        <?php if($_product->getConsumption()): ?>
                            <td class="td-<?php echo ++$i; ?>"><?php echo $_product->getConsumption() ?></td>
                        <?php endif; ?>
                        <?php if($_product->getEquivalentto()): ?>
                            <td class="td-<?php echo ++$i; ?>"><?php echo $_product->getEquivalentto() ?></td>
                        <?php endif; ?>
                        <td class="td-<?php echo ++$i; ?>">
                        <!-- <span class="img-radio"></span> -->
                        <?php echo $item['sku'] ?> 
                            <label class="hiddens">
                            <?php if ( isset($item['attribute']) AND is_array($item['attribute']) AND count($item['attribute']) ) : ?>
                                <ul class="attributes">
                                <?php foreach ($item['attribute'] as $attrId => $attrVal) : ?>
                                    <li data-attrid="<?php echo $attrId ?>" data-value="<?php echo $attrVal ?>"></li>
                                <?php endforeach; ?>
                                </ul>
                            <?php endif; ?>
                            </label>
                        </td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>
</div>
 <?php endif; ?>
 <div class="swipe-op-control">
    <span class="swipe-op-prev">
        <i class="" aria-hidden="true"></i>
    </span>
    <span>SWIPE</span>
    <span class="swipe-op-next">
        <i class="" aria-hidden="true"></i>
    </span>
    </div>
    <script type="text/javascript">
    (function  () {
        require(["jquery"],function($) {
            $(document).ready(function(){
               
                function vgEvent(element,event){
                    if (document.createEventObject){
                    // dispatch for IE
                    var evt = document.createEventObject();
                    return element.fireEvent('on'+event,evt)
                    }
                    else{
                    // dispatch for firefox + others
                    var evt = document.createEvent("HTMLEvents");
                    evt.initEvent(event, true, true ); // event type,bubbling,cancelable
                    return !element.dispatchEvent(evt);
                    }
                }
                $(document).on('click', 'div.wrapper-availables table td', function(){
                    var tr = $(this).parent('tr'), tbody = tr.parent('tbody'), 
                    lis = tr.find('ul.attributes li');
                    // Remove tr active
                    if ( tbody.children('tr').length ) { tbody.children('tr').removeClass('active') }
                    tr.addClass('active');
                    updateColourTemp(tr, true);
                    if ( lis.length ) 
                    { 
                        lis.each(function(i,e){
                            element = $('select#attribute'+$(e).attr('data-attrid'));
                            if ( element.length ) 
                            {
                                element.val($(e).attr('data-value'));
                                obj = document.getElementById('attribute'+$(e).attr('data-attrid'));
                                vgEvent(obj,'change');
                            }
                        });
                        var price = $('.price-box .regular-price').text();
                        price = price.trim();
                        var nums = price.split(/[^0-9,.]+/ig);
                        var realnums = '';
                        nums.forEach(function(item, index){
                            if(item){
                                realnums = item;
                            }
                        });
                        var unit = price.replace(realnums, '');
                        unit = unit.trim();
                        console.log(unit);
                        var new_unit = '<span class="gavs_symbol">' + unit + '</span>';
                        realnums = realnums.trim();
                        if(price.indexOf(".") != -1){
                            var reprice = realnums.split('.')[0];
                            var comma = '.' + realnums.split('.')[1];
                        }else{
                            var reprice = realnums.split(',')[0];
                            var comma = '.' + realnums.split(',')[1];
                        }
                        var new_price_nums = ' <span class="gav_reprice">' + reprice.trim() + '</span><span class="after_comma">' + comma.trim() + '</span> ';
                        var new_price = price.replace(unit, new_unit).replace(realnums, new_price_nums);
                        
                        $('.product-price .regular-price').html(new_price);
                    }
                });
                $('div.wrapper-availables table tr')
                    .mouseover(function(e){ updateColourTemp($(this), true); })
                    .mouseout(function(e){
                        var tr = $(this).parent().children('tr.active');
                        if ( tr.length ) { updateColourTemp(tr, true); }
                        else { updateColourTemp(); }
                    });
                function updateColourTemp(tr, opt){
                    var label = $('div.product-icon-attributes li.icon-2 label');
                    if ( tr == false || tr == null || tr == '' ) { return false; }

                }
            });
       });
    })()

    </script>