<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

?>
<script type="text/x-magento-template" id="tier-prices-template">
<div class="bulk-order-savings">
    <div class="bulk-label"><?php echo __('Bulk order savings');?></div>
        <div class="bulk-main">
            <ul class="tier-prices items">
                <% _.each(tierPrices, function(item, key) { %>
                <%  var priceStr = priceUtils.formatPrice(item.price, currencyFormat); %>
                <li class="item tier-price">
                    <label>
                        <span>Buy</span>
                        <span><%= item.qty %></span>
                    </label>
                     <label>
                        <span>Pay</span> 
                        <span><%= priceStr %></span>
                    </label>
                    <label>
                            <span><%= $t('save') %></span><span>&nbsp;<%= item.percentage %></span>%
                    </label>
                </li>
                <% }); %>
            </ul>
        </div>
    </div>
</div>
</script>
<div data-role="tier-price-block"></div>
