<?php /** @see \BoostMyShop\Amazon\Block\Dashboard\Errors **/ ?>
<table class="admin__table-primary dashboard-data">
    <tbody>
    <tr>
        <td><?php echo __('Orders Importation'); ?></th>
        <td><a href="<?php echo $this->getOrderImportationErrorUrl(); ?>" target="_blanck"><?php echo $this->getOrderImportationErrorCount(); ?></a></td>
    </tr>
    <tr>
        <td><?php echo __('Shipment confirmation'); ?></th>
        <td><a href="<?php echo $this->getShipmentConfirmationErrorUrl(); ?>" target="_blanck"><?php echo $this->getShipmentConfirmationErrorCount(); ?></a></td>
    </tr>
    <tr>
        <td><?php echo __('Price'); ?></th>
        <td><a href="<?php echo $this->getPriceErrorUrl(); ?>" target="_blanck"><?php echo $this->getPriceErrorCount(); ?></a></td>
    </tr>
    <tr>
        <td><?php echo __('Inventory'); ?></th>
        <td><a href="<?php echo $this->getInventoryErrorUrl(); ?>" target="_blanck"><?php echo $this->getInventoryErrorCount(); ?></a></td>
    </tr>
    <tr>
        <td><?php echo __('Products'); ?></th>
        <td><a href="<?php echo $this->getProductsErrorUrl(); ?>" target="_blanck"><?php echo $this->getProductsErrorCount(); ?></a></td>
    </tr>
    </tbody>
</table>