<?php /** @see \BoostMyShop\Amazon\Block\Dashboard\Index */ ?>
<div class="dashboard-container row">
    <div class="col-m-5 col-m-push-6">
        <div class="dashboard-item">
            <div class="dashboard-item-title"><?php echo __('Orders'); ?></div>
            <div class="dashboard-item-content"><?php echo $this->getChildHtml('dashboard.orders'); ?></div>
        </div>
        <div class="dashboard-item">
            <div class="dashboard-item-title"><?php echo __('Errors'); ?></div>
            <div class="dashboard-item"><?php echo $this->getChildHtml('dashboard.errors'); ?></div>
        </div>
    </div>
    <div class="col-m-5 col-m-pull-5">
        <div class="dashboard-item">
            <div class="dashboard-item-title"><?php echo __('Sales'); ?></div>
            <div class="dashboard-item"><?php echo $this->getChildHtml('dashboard.sales'); ?></div>
        </div>
        <div class="dashboard-item">
            <div class="dashboard-item-title"><?php echo __('Products'); ?></div>
            <div class="dashboard-item"><?php echo $this->getChildHtml('dashboard.products'); ?></div>
        </div>
    </div>
</div>
