<?php /** @see \BoostMyShop\Amazon\Block\Dashboard\Orders */ ?>
<table class="admin__table-primary dashboard-data">
    <tbody>
        <tr>
            <td><?php echo __('Last imported at'); ?></td>
            <td><?php echo $this->getLastOrderImportedDate(); ?></td>
        </tr>
        <tr>
            <td><?php echo __('Last check') ;?></td>
            <td><?php echo $this->getLastOrderImportProcessRun(); ?></td>
        </tr>
        <tr>
            <td><?php echo __('Shipment to confirm'); ?></td>
            <td><?php echo $this->getShipmentToConfirmCount(); ?></td>
        </tr>
    </tbody>
</table>