<?php /** @see \BoostMyShop\Amazon\Block\Dashboard\Products */ ?>
<table class="admin__table-primary dashboard-data">
    <tbody>
        <tr>
            <td><?php echo __('Listed') ;?></td>
            <td><?php echo $this->getListedProductsCount(); ?></td>
        </tr>
        <tr>
            <td><?php echo __('In error'); ?></td>
            <td><?php echo $this->getErrorProductsCount(); ?></td>
        </tr>
    </tbody>
</table>