<?php /** @see \BoostMyShop\Amazon\Block\Dashboard\Sales */ ?>
<table class="admin__table-primary dashboard-data">
    <thead>
        <tr>
            <td></th>
            <td><?php echo __('Current'); ?></th>
            <td><?php echo __('-1'); ?></th>
            <td><?php echo __('-2'); ?></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><?php echo __('Day'); ?></th>
            <td><?php echo $this->countImportedOrdersToday(); ?></td>
            <td><?php echo $this->countImportedOrdersYesterday(); ?></td>
            <td><?php echo $this->countImportedOrdersTwoDaysAgo(); ?></td>
        </tr>
        <tr>
            <td><?php echo __('Week'); ?></th>
            <td><?php echo $this->countImportedOrdersThisWeek(); ?></td>
            <td><?php echo $this->countImportedOrdersPreviousWeek(); ?></td>
            <td><?php echo $this->countImportedOrdersTwoWeeksAgo(); ?></td>
        </tr>
        <tr>
            <td><?php echo __('Month'); ?></th>
            <td><?php echo $this->countImportedOrdersThisMonth(); ?></td>
            <td><?php echo $this->countImportedOrdersPreviousMonth(); ?></td>
            <td><?php echo $this->countImportedOrdersTwoMonthsAgo(); ?></td>
        </tr>
    </tbody>
</table>