<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<?php if ($block->isPossibleOnepageCheckout()):?>
    <button type="button"
            data-role="proceed-to-checkout"
            title="<?= /* @escapeNotVerified */ __('Proceed to Checkout') ?>"
            data-mage-init='{"Magento_Checkout/js/proceed-to-checkout":{"checkoutUrl":"<?= /* @escapeNotVerified */ $block->getCheckoutUrl() ?>"}}'
            class="action btn btn-lg btn-success button btn-proceed-checkout btn-checkout checkout<?= ($block->isDisabled()) ? ' disabled' : '' ?>"
            <?php if ($block->isDisabled()):?>disabled="disabled"<?php endif; ?>>
        <?= /* @escapeNotVerified */ __('Proceed to Checkout') ?>
        <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="btn-right-arrow-icon" class="c-button__right-arrow-lg">
		    <title id="btn-right-arrow-icon">Button right arrow icon</title>
		    <path d="M6 22l11.304-10L6 2" stroke-width="2" stroke="#FFF" fill="none" fill-rule="evenodd"></path>
		</svg>
    </button>
    <?php echo $this->getChildHtml('block-payment-cart');?>
<?php endif?>
