<?php
$items = $block->getListItems();
?>
<?php if(is_array($items) || is_object($items)):?>
<div class="block related" data-limit="0" data-shuffle="0">
	<div class="clearer"></div>
	<div class="block-title title">
        <strong id="block-related-heading" role="heading" aria-level="2"><?php echo __("Customers who bought this item also bought");?></strong>
    </div>
	<div class="block-content content" aria-labelledby="block-related-heading">
		<div class="products wrapper grid  products-grid products-related">
	        <div class="products list items product-items">
	        	<div class="item product product-item">   
	        		<?php foreach($items as $_product):?>
	        			<?php $productImage = $block->resizeImage($_product,'related_products_list',150);?>
						<div class="wrap-product-item-info">
							<div class="product-item-info related-available">
								<a href="<?php echo $_product->getProductUrl() ?>" class="product photo product-item-photo">
	                                <img class="product-image-photo default_image" src="<?php echo $productImage->getUrl(); ?>" alt="<?php echo $_product->getName();?>"></a>
	                            <div class="product details product-item-details">
									<strong class="product name product-item-name"><a class="product-item-link porto-icon-right-dir" title="<?php echo $_product->getName();?>" href="<?php echo $_product->getProductUrl() ?>"><?php echo $_product->getSku();?>
		                                    </a>
		                            </strong>	
	                            </div>
							</div>
						</div>
					<?php endforeach;?>
	        	</div>
			</div>
		</div>
	</div>

</div>
<?php endif;?>