.page-layout-admin-login.test {
  background-color: rebeccapurple;
}
.sales-order-index .action-select-wrap .action-select{
	width:250px!important;
}
.sales-order-index .admin__action-dropdown-wrap{
	float:right!important;
}
.sales-order-index .admin__data-grid-wrap{
	width:100%!important;
}