<?php
    $_helper    = $this->helper('Magento\Catalog\Helper\Output');
    $_product  = $block->getProduct();
    $_attr_size='';
    $_attr_size =  $_product->getStandardSize();

?>

<div class="detail-option">
	<div class="first-col">
		<h3>STANDARD SIZE OPTIONS</h3>
		<?php if(!empty($_attr_size)):?>
		<div class="size">
			<p><?php echo $_attr_size;?></p>
			
		</div>
		<?php endif;?>
	</div>
	<div class="second-col">
		<?php echo $_product->getCustomSizeOptions();?>
	</div>
	<?php echo $this->getChildHtml('gallery.info');?>
</div>