<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /* @var $block \Magento\Bundle\Block\Catalog\Product\View\Type\Bundle\Option\Multi */ ?>
<?php $_option = $block->getOption() ?>
<?php $_selections = $_option->getSelections() ?>
<div class="field multiple-option-custom option <?= ($_option->getRequired()) ? ' required': '' ?>">
    <label class="label" for="bundle-option-<?= /* @escapeNotVerified */ $_option->getId() ?>">
        <span><?= $block->escapeHtml($_option->getTitle()) ?></span>
    </label>
    <div class="control">
        <?php if ($block->showSingle()): ?>
          <?php 
                $titleSelect = explode('-',strip_tags($block->getCustomSelectionTitle($_selections[0])));
                $get_titleSelect = trim(end($titleSelect));
                $get_titleSelect = str_replace('+','',$get_titleSelect);
                $get_titleSelect = str_replace(PHP_EOL, '', $get_titleSelect);
                $get_titleSelect = str_replace(array('    ','   ','  ',' '), ' ', $get_titleSelect);
                $get_titleSelect = preg_replace('/(.*)\s+(\£\d+\.\d+)\s+(\£\d+\.\d+)/i','${1} ${2}',$get_titleSelect);
          ?>
            <?= /* @escapeNotVerified */ $get_titleSelect ?>
            <input type="hidden"
                   name="bundle_option[<?= /* @escapeNotVerified */ $_option->getId() ?>]"
                   value="<?= /* @escapeNotVerified */ $_selections[0]->getSelectionId() ?>"/>
        <?php else: ?>
            <select multiple="multiple"
                    size="5"
                    id="bundle-option-<?= /* @escapeNotVerified */ $_option->getId() ?>"
                    name="bundle_option[<?= /* @escapeNotVerified */ $_option->getId() ?>][]"
                    data-selector="bundle_option[<?= /* @escapeNotVerified */ $_option->getId() ?>][]"
                    class="bundle-option-<?= /* @escapeNotVerified */ $_option->getId() ?> multiselect option change-container-classname"
                    <?php if ($_option->getRequired()) echo 'data-validate={required:true}' ?>>
                <?php if(!$_option->getRequired()): ?>
                    <option value=""><?= /* @escapeNotVerified */ __('None') ?></option>
                <?php endif; ?>
                <?php foreach ($_selections as $_selection): ?>
                    <option value="<?= /* @escapeNotVerified */ $_selection->getSelectionId() ?>"
                            <?php if ($block->isSelected($_selection)) echo ' selected="selected"' ?>
                            <?php if (!$_selection->isSaleable()) echo ' disabled="disabled"' ?>>
                            <?php 
                              $titleSelect = explode('-',strip_tags($block->getCustomSelectionTitle($_selection, false)));
                              $get_titleSelect = trim(end($titleSelect));
                              $get_titleSelect = str_replace('+','',$get_titleSelect);
                              $get_titleSelect = str_replace(PHP_EOL, '', $get_titleSelect);
                              $get_titleSelect = str_replace(array('    ','   ','  ',' '), ' ', $get_titleSelect);
                              $get_titleSelect = preg_replace('/(.*)\s+(\£\d+\.\d+)\s+(\£\d+\.\d+)/i','${1} ${2}',$get_titleSelect);
                        ?>
                        <?= /* @escapeNotVerified */  $get_titleSelect ?>
                    </option>
                <?php endforeach; ?>
            </select>
        <?php endif; ?>
    </div>
</div>
