<?php
/**
 * @var $block \Lof\Gallery\Block\StoreCategory\View
 */

$galleryHelper         = $this->helper("Lof\Gallery\Helper\Data");
$imageHelper           = $this->helper("Lof\Gallery\Helper\Image");
$collection            = $block->getCollection();



$total                 = $collection->count();

$title                 = $block->getConfig('category_page/title');
$showImageOfAlbums     = $block->getConfig('category_page/show_image_of_albums');
$showName              = $block->getConfig('general_settings/show_name');
$showThumbnail         = $block->getConfig('general_settings/show_thumbnail');
$thumbnailHeight       = $block->getConfig('general_settings/thumbnail_height');
$thumbnailWidth        = $block->getConfig('general_settings/thumbnail_width');
$showDate              = $block->getConfig('general_settings/show_date');
$showCategory          = $block->getConfig('general_settings/show_category');
$showImagecount        = $block->getConfig('general_settings/show_imagecount');
$showViewcount         = $block->getConfig('general_settings/show_viewcount');
$showSocialnetworks    = $block->getConfig('general_settings/show_socialnetworks');
$showDescription       = $block->getConfig('general_settings/show_description');
$shortdescriptionCount = (int) $block->getConfig('general_settings/shortdescription_count');

$rtl                   = $block->getConfig('category_page/rtl');
$loop                  = $block->getConfig('category_page/loop');
$autoplay              = $block->getConfig('category_page/autoplay');
$autoplayTimeout       = (int) $block->getConfig('category_page/autoplay_timeout');
$dots                  = $block->getConfig('category_page/dots');
$nav                   = $block->getConfig('category_page/nav');
$nav_prev              = $block->getConfig('category_page/nav_prev');
$nav_next              = $block->getConfig('category_page/nav_next');

$large_max_items       = (int) $block->getConfig('category_page/large_max_items');
$large_items           = (int) $block->getConfig('category_page/large_items');
$portrait_items        = (int) $block->getConfig('category_page/portrait_items');
$tablet_items          = (int) $block->getConfig('category_page/tablet_items');
$tablet_small_items    = (int) $block->getConfig('category_page/tablet_small_items');
$mobile_items          = (int) $block->getConfig('category_page/mobile_items');

$blockId               = time() . rand();

$lightbox = 'fancybox';
$options = [
    'show_image_of_albums'   =>$showImageOfAlbums,
	'layout_type'			 => 'owl',
	'lightbox'               => $lightbox,
	'show_name'              => $showName,
	'show_thumbnail'         => $showThumbnail,
	'thumbnail_height'       => $thumbnailHeight,
	'thumbnail_weight'       => $thumbnailWidth,
	'show_imagecount'		 => $showImagecount,
	'show_date'              => $showDate,
	'show_category'          => $showCategory,
	'show_viewcount'         => $showViewcount,
	'show_social_networks'   => $showSocialnetworks,
	'show_description'       => $showDescription,
	'shortdescription_count' => $shortdescriptionCount
];
?>

<div class="gallery-block block widget gallery-widget gallery-lightbox-<?php echo $lightbox ?>">
	<?php if($title) { ?>
	<div class="block-title">
		<strong><?php echo $title ?></strong>
	</div>
	<?php } ?>
	<div class="block-content block-widget-content lgl-items">
		<ul class="albums-related owl-carousel owl-theme"
		data-large-max-items="<?php echo $large_max_items ?>"
		data-large-items="<?php echo $large_items ?>"
		data-portrait-items="<?php echo $portrait_items ?>"
		data-tablet-items="<?php echo $tablet_items ?>"
		data-tablet-small-items="<?php echo $tablet_small_items ?>"
		data-mobile-items="<?php echo $mobile_items ?>"
		<?php if ($autoplayTimeout) { ?>
		data-autoplay-timeout="<?php echo $autoplayTimeout ?>"<?php } ?>
		data-autoplay-pauonhover="true"
		data-autoplay="<?php echo $autoplay?'true':'false' ?>"
		data-responsive-refresh-rate="false"
		data-dots="<?php echo $dots?'true':'false' ?>"
		data-nav="<?php echo $nav?'true':'false' ?>"
		data-loop="<?php echo $loop?'true':'false' ?>"
		data-rtl="<?php echo $rtl?'true':'false' ?>"
		data-margin="<?php echo $total;?>"
		data-nav-text-owlpre="<?php echo $nav_prev ?>"
		data-nav-text-owlnext="<?php echo $nav_next ?>">

		<?php if ($total) { ?>
			<?php echo $block->getAlbumListHtml($options); ?>
		<?php } ?>
	</ul>
</div>
</div>