<?php
    $porto_helper = $this->helper('Smartwave\Porto\Helper\Data');
    $page_layout = $porto_helper->getConfig('porto_settings/product/page_layout');
    $move_upsell = $porto_helper->getConfig('porto_settings/product/move_upsell');
    $move_addtolinks = $porto_helper->getConfig('porto_settings/product/move_addtolinks');
    $tab_fullbg = $porto_helper->getConfig('porto_settings/product/tab_full_background');
    $uppsell_fullbg = $porto_helper->getConfig('porto_settings/product/move_upsell_full');
?>
<script type="text/javascript">
require([
    'jquery'
], function ($) {
    $(document).ready(function(){
    <?php if($page_layout != "page-layout-2columns-right"): ?>
        if($("body").hasClass("page-layout-2columns-right")) {
            $("body").removeClass("page-layout-2columns-right").addClass("<?php echo $page_layout; ?>");
            <?php if($page_layout == "page-layout-1column"): ?>
            $(".columns > .sidebar").remove();
            <?php endif; ?>
        }
    <?php endif; ?>
    <?php if($move_upsell): ?>
        $(".product.media").after($(".block.upsell").detach());
    <?php endif; ?>
    <?php if($tab_fullbg):?>
        var m = $('<div class="main-product-detail"/>');
        $('<div class="container"/>').html($(".move-product-tab").detach()).appendTo(m);
        $("#maincontent").after(m);
        <?php if(!$move_upsell): ?>
        $(".main-product-detail").after($('<div class="container"/>').html($(".block.upsell").detach()));
        <?php endif; ?>
    <?php endif;?>
    <?php if($uppsell_fullbg && !$move_upsell && !$tab_fullbg):?>
        if($(".block.upsell").length > 0) {
            var u = $('<div class="main-upsell-product-detail"/>');
            $('<div class="container"/>').html($(".block.upsell").detach()).appendTo(u);
            $("#maincontent").after(u);
        }
    <?php endif;?>
    <?php if($move_addtolinks): ?>
        $(".box-tocart").after('<div class="moved-add-to-links"></div>');
        $(".product-social-links > .product-addto-links").appendTo(".moved-add-to-links");
        $(".product-social-links > .action.mailto").appendTo(".moved-add-to-links");
    <?php endif; ?>
    });
});
</script>