<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
    $porto_helper = $this->helper('Smartwave\Porto\Helper\Data');
    $_helper = $this->helper('Smartwave\Porto\Helper\Customtabs');
    $product_config = $porto_helper->getConfig('porto_settings/product');
    $static_block_tab = $product_config['custom_block_next_tab'];
    $custom_block = $this->getLayout()->createBlock('Magento\Cms\Block\Block');
    if($custom_block) {
        $custom_block->setBlockId($static_block_tab);
    }
    $tab_style = "";
    if(isset($product_config['tab_style']) && $product_config['tab_style'])
        $tab_style = $product_config['tab_style'];
?>
 <div class="box-feature-download">
     <div class="container">
         <div class="row">
               <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="prodcut-features">
                         <?php if ($detailedInfoGroup = $block->getGroupChildNames('detailed_infor', 'getChildHtml')):?>
                                    
                                    <?php $layout = $block->getLayout(); ?>

                                        <?php foreach ($detailedInfoGroup as $name):?>
                                            <?php
                                                $html = $layout->renderElement($name);
                                                if (!trim($html)) {
                                                    continue;
                                                }

                                            ?>
                                            <div class="product-feature-title"><?php echo __('Description')?> </div>
                                             <div class="product-feature-main"><?= /* @escapeNotVerified */ $html ?></div>
                                             <?php echo $block->getChildHtml("product.view.contact.infor");?>
                                        <?php endforeach;?>


                            <?php endif; ?>
                    </div>
                  </div>
              <div class="col-xs-12 col-sm-12 col-md-12 br-top">
                <div class="prodcut-downloads">
                  <div class="product-download-title"><?php echo __('Downloads')?> </div>
                  <div class="product-download-main"> 
                    <div class="mainDiv attachFile">
                     <?php echo $block->getChildHtml("additional_downloads");?>
                     
                    </div>
                </div>
                </div>
              </div>    
         </div>
     </div>
</div>
 <?php
    if($custom_cms_tabs = $_helper->getCustomTabs($block->getProduct())) {
        $i = 1;
        foreach($custom_cms_tabs as $_item) {
            ?>
            <div class="box-static-block">
                <div class="static-block-title"><?php /* @escapeNotVerified */ echo $_item['tab_title']; ?></div>
                <div class="static-block-main" id="<?php /* @escapeNotVerified */ echo "custom-".$i; ?>">
                    <?php /* @escapeNotVerified */ echo $_item['tab_content']; ?>
                </div>
            </div>

            <?php
            $i++;
        }
    }
    ?>
