<?php $_product = $block->getProduct(); ?>
<?php
  $icon1 = $_product->getWattage();
  $icon2 = $_product->getDimmable();
  $icon4 = $_product->getConsumption();
  $icon5 = $_product->getBeam();
  $icon7 = $_product->getLife();
?>
  <div class="product-icon-attributes">
    <ul>
    <?php if(!is_null($icon1)):?>
      <li class="icon-1"><label><span><?php echo __('%1 Lumens', $icon1);?></span></label><i class="icon-attr">i</i></li>
    <?php endif;?>
    <?php if(!is_null($icon2)&& $icon2==13):?>
      <li class="icon-2" ><label>
          <span>
           <?php echo __('Dimmable Yes');?></span>
          </label>
        <i class="icon-attr">i</i>
      </li>
    <?php endif;?>
    <?php if(!is_null($icon4)):?>
      <li class="icon-4"><label><span><?php echo __('%1 Watts', $icon4);?></span></label><i class="icon-attr">i</i></li>
    <?php endif;?> 
     <?php if(!is_null($icon5)):?> 
      <li class="icon-5"><label><span><?php echo __('%1 Beam', $icon5);?></span></label><i class="icon-attr">i</i></li>
    <?php endif;?>
    <?php if(!is_null($icon7)):?> 
      <li class="icon-7"><label><span><?php echo __('%1', $icon7);?></span></label><i class="icon-attr">i</i></li>
    <?php endif;?> 
      <li class="icon-9"><label><span><?php echo __('0.0mg Mercury');?></span></label><i class="icon-attr">i</i></li>
      <li class="icon-10"><label><span><?php echo __('&gt;80 CRI')?></span></label><i class="icon-attr">i</i></li>
  </ul>
</div>