.social-login-clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.popup-authentication .block[class]+.block.block-social-login {
  padding-left: 20px;
  padding-right: 20px;
}
.popup-authentication .actions-toolbar.social-btn {
  margin-top: 10px !important;
  display: inline-block;
}
.block-authentication .actions-toolbar.social-btn > .primary {
  display: block;
  float: none;
}
.actions-toolbar.social-btn>.primary .action,
.actions-toolbar.social-btn>.secondary .action {
  width: auto;
}
.social-btn button {
  height: 38px;
  border: none;
  border-radius: 0;
}
.social-btn button span span {
  color: #ffffff;
  display: inline-block;
  margin-left: 32px;
  min-width: 110px;
}

.social-login-container {
  margin-bottom: 50px;
  padding-top:30px;
  clear:both;
}
.social-login-container .block-social-login .block-title{
    border-bottom:none;
    padding-bottom: 0px;
}
.social-login-container .block.block-social-login {
  float: none;
  width: 100%;
}
.social-login-container .actions-toolbar > .primary .action,
.social-login-container .actions-toolbar > .secondary .action {
  width: 35px;
}
.actions-toolbar .primary{
  float:left;
}
.actions-toolbar .primary .action{
    margin:0 15px 0 0;
}
.login-container .block .block-title strong{
    font-size:25px;
    font-weight: 400;
}
.social-login.social-login-container{
    padding-top:0px;
}
.social-login.social-login-container.block-title{
    font-weight: normal;
    font-size: 18px;
} 

.custom-popup-checkout .social-login-container .block-content-social{
  display: block;
}
.custom-popup-checkout .social-login-container .block-content{
    padding:18px 0px;
}
.custom-popup-checkout .primary-btn{
  float:left;
}
.block-authentication.custom-popup-checkout .actions-toolbar > .secondary{
  float:right;
  padding-top:0px;
  margin-right:0px;
}
.block-authentication.custom-popup-checkout .actions-toolbar > .secondary a span{
  font-size:14px;
}
.popup-authentication .custom-popup-checkout .block-content-social .actions-toolbar{
  margin-top:15px;
  margin-right:15px;
}
.popup-authentication .custom-popup-checkout .block-content .actions-toolbar{
  margin-top:15px;
}
.popup-authentication .modal-header{
  padding-top:0px;
  padding-bottom: 0px;
}
.popup-authentication .modal-content{
    padding:18px;
}
.popup-authentication .custom-popup-checkout .social-login-container.block-customer-login{
  padding:0px;
}
.popup-authentication .custom-popup-checkout .block-social-login{
     width:100%!important;
     padding:0px!important;
    padding-bottom: 50px!important;
    border-bottom:1px solid #e9eaee;
}
.popup-authentication .modal-header .action-close{
  z-index: 9;
  padding: 14px;
  position:  absolute;
  right: 7px;
  top: 12px;
}
.popup-authentication .modal-header .action-close:before{
  color:#2ba8db;
}
.popup-authentication .block-authentication{
  border:none!important;
}
.modal-popup._inner-scroll .modal-inner-wrap{
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.custom-popup-checkout .fieldset .required.field .label:after{
  content:'';
}
.checkout-cart-index .modals-overlay{
    background: rgba(0, 0, 0, 0.66);
}

@media (min-width: 768px), print {
  .customer-account-create .column.main:after {
     content: " "; /* Older browser do not support empty content */
     visibility: hidden;
     display: block;
     height: 0;
     clear: both;
  }
  .customer-account-create .form.create.account {
    float: left;
  }
 
  .customer-account-create .social-login-container .actions-toolbar > .primary {
    margin-top: 10px;
  }
}
@media (max-width: 959px), print {
  .customer-account-create .social-login-container {
    margin-top: 50px;
  }
  .customer-account-create .form.create.account {
    float: none;
  }
  .customer-account-create .social-login-container {
    float: none;
    width: 100%;
  }
}

.authentication-dropdown .block-social-login {
  margin-top: 40px;
}
.authentication-dropdown .block-social-login .actions-toolbar {
  display: inline-block;
}

.facebook-login button {
  background: url("../img/buttons/facebook.png") no-repeat;
}
.google-login button {
  background: url("../img/buttons/google.png") no-repeat;
}
.steam-login button {
  background: url("../img/buttons/steam.png") no-repeat;
}
.paypal-login button {
  background: url("../img/buttons/paypal.png") no-repeat;
}

@media (min-width: 768px), print {
  aside.popup-authentication div.modal-inner-wrap {
    width: 600px;
    min-width: auto;
    max-width: 600px;
  }
  .form.password.reset,
  .form.send.confirmation,
  .form.password.forget,
  .form.create.account {
    min-width: auto;
  }
}

@media only screen and (max-width: 767px){
  .popup-authentication.modal-popup.modal-slide._inner-scroll .modal-inner-wrap{
      min-height: auto;
  }
  .popup-authentication.modal-popup{
      left:5%!important;
      top:50%!important;
      margin-top:-237px;
      width:90%!important;
      z-index:999999!important;
  }
  .checkout-cart-index .modals-overlay{
     z-index:9999!important;
  }
  .modal-popup.modal-slide .modal-inner-wrap{
    max-height:100%!important;
  }
   @supports (-webkit-overflow-scrolling: touch) {
    /* CSS specific to iOS devices */ 
      .page-wrapper .c-banner__utilities .c-banner__utilities-right > li.user-login{
          padding:8px 22px 18px 22px!important;
      }
  }
}
