<select style="float:left;" onchange="reloadPage(this.value);">
    <option value=""><?php echo __('Select Country'); ?></option>
    <?php foreach($this->getCountries() as $group): ?>
        <optgroup label="<?php echo $group['label']; ?>">
            <?php foreach($group['options'] as $country): ?>
                <?php $selected = ($country->getId() === $this->getCurrentAccountCountryId()) ? 'selected="selected"' : ''; ?>
                <option value="<?php echo $country->getId(); ?>" <?php echo $selected; ?>><?php echo $country->getLabel(); ?></option>
            <?php endforeach; ?>
        </optgroup>
    <?php endforeach; ?>
</select>

<script type="text/javascript">

    function reloadPage(countryId){

        document.location = "<?php echo $this->getRedirectUrl(); ?>account_country_id/"+countryId;

    }

</script>
