@charset "utf-8";
/* CSS Document */

/* ---------- GENERAL ---------- */


a { text-decoration: none; }

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

h4, h5 {
    line-height: 1.5em;
    margin: 0;
}

div#tab-label{
    width: 50%;
    margin: 0px;
}

hr {
    background: #e9e9e9;
    border: 0;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 1px;
    margin: 0;
    min-height: 1px;
}

img {
    border: 0;
    height: auto;
    max-width: 100%;
}

input {
    border: 0;
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    line-height: normal;
    margin: 0;
}


.clearfix { *zoom: 1; } /* For IE 6/7 */
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after { clear: both; }

/* ---------- chatbox-component ---------- */

#chatbox-component {
    bottom: 0;
    font-size: 12px;
    right: 24px;
    position: fixed;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 10000;
    transition:all .4s ease-in-out;
}

#chatbox-component header {
    background: #293239;
    border-radius: 5px 5px 0 0;
    color: #fff;
    cursor: pointer;
    padding: 16px 24px;
}

#chatbox-component .support_status {
    background: #1a8a34;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 8px;
    margin: 0 8px 0 0;
    width: 8px;
    position: absolute;
    left: 10px;
    top: 20px;
}

#chatbox-component h4 {
    font-size: 12px;
}

#chatbox-component h5 {
    font-size: 10px;
}

#chatbox-component form {
    padding: 24px;
}
/*authentication foem style*/
#chatbox-component #login-form {
    padding: 0px!important;
}
#chatbox-component #login-form .fieldset {
    margin: 0 0 10px!important;
}

#chatbox-component .product.data.items > .item.content {
    padding: 15px!important;
}

/*#chatbox-component input[type="text"] {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 8px;
	outline: none;
	width: 234px;
}*/


.chat-message-client-counter {
    background: #e62727;
    border: 1px solid #fff;
    border-radius: 50%;
    display: none;
    font-size: 12px;
    font-weight: bold;
    height: 28px;
    left: 0;
    line-height: 28px;
    margin: -15px 0 0 -15px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 28px;
}
.chat-message-admin-counter {
    background: #e62727;
    border: 1px solid #fff;
    border-radius: 50%;
    display: none;
    font-size: 12px;
    font-weight: bold;
    height: 28px;
    left: 0;
    line-height: 28px;
    margin: -15px 0 0 -15px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 28px;
}

.chat-close {
    background: #f6f6f6;
    border-radius: 50%;
    color: #fff;
    display: block;
    float: right;
    font-size: 16px;
    height: 17px;
    line-height: 16px;
    margin: 2px 0 0 0;
    text-align: center;
    width: 18px;
}
.minim-button {
    background: #f6f6f6;
    border-radius: 50%;
    color: #fff;
    display: block;
    float: right;
    font-size: 16px;
    height: 17px;
    line-height: 16px;
    margin: 2px 2px 0 0;
    text-align: center;
    width: 18px;
    display: none;
}
.maxi-button {
    background: #f6f6f6;
    border-radius: 50%;
    color: #fff;
    display: block;
    float: right;
    font-size: 16px;
    height: 17px;
    line-height: 16px;
    margin: 2px 2px 0 0;
    text-align: center;
    width: 18px;
}

.chat {
    background: #fff;
    height: 335px;
    display: none;
}
#chat-form .type_message {
    height: 46px;
    width: 85%;
    background-color: #ffffff;
    border: 1px solid #9e9e9e;
    border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
}
.chat-history {
    height: 230px;
    padding: 8px 24px;
    overflow-y: scroll;
}
.chat-message-client p {
    color: #303030;
    font-weight: 600;
    word-break: break-all;
}

.chat-message-client {
    margin: 16px 0;
}

.chat-message-client img {
    border-radius: 50%;
    float: left;
}

.chat-message-client-content {
    margin-left: 56px;
}
.chat-message-client-content img {
    float: none;
    border-radius: 0;
    margin-left: 10px;
/*    width: 100%;
    border-radius: 6px;*/
}
.chat-message-client-content .image-type {
    float: none;
    /*border-radius: 0;*/
    /*margin-left: 10px;*/
    width: 100%;
    border-radius: 6px;
    margin-left: 0px;
}

.chat-message-admin {
    margin: 16px 0;
}

.chat-message-admin img {
    border-radius: 50%;
    float: right;
}

.chat-message-admin-content {
    margin-right: 56px;
    text-align: right;
}
.chat-message-admin-content img{
    float: none!important;
    border-radius: 0!important;
    margin-left: 10px;
    /*width: 100%;
    border-radius: 6px;*/
}
.chat-message-admin-content .image-type{
    float: none!important;
    /*margin-left: 10px;*/
    width: 100%;
    border-radius: 6px!important;
    margin-left: 0px;
}

.chat-time {
    float: right;
    font-size: 10px;
    color: #676056;
}
.chat-message-admin p {
    color: #303030;
    font-weight: 600;
    word-break: break-all;
}
.chat-message-admin .chat-time {
    float: left;
    font-size: 10px;
    color: #676056;
}

.chat-feedback {
    font-style: italic;
    margin: 0 0 0 80px;
}

.send-button {
    position: absolute;
    bottom: 5%;
    width: 37px;
    height: 34px;
    right: 20px;
    opacity: 0;
}
.send-image {
    position: absolute;
    bottom: 5%;
    right: 24px;
}


.triangle-right.left {
    margin-left: 62px;
    background: rgba(7, 152, 148, 0.7);
    top: -17px;
    margin-bottom: 0;
}
.triangle-right {
    position: relative;
    padding: 7px;
    margin: 1em 0 3em;
    color: #fff;
    background: #075698;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
    background: -moz-linear-gradient(#2e88c4, #075698);
    background: -o-linear-gradient(#2e88c4, #075698);
    background: linear-gradient(#2e88c4, #075698);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.triangle-right.left:after {
    top: 16px;
    left: -40px;
    bottom: auto;
    border-width: 15px 40px 0 0;
    border-color: transparent rgba(7, 152, 148, 0.7);
    visibility: inherit;
}

.triangle-right.right {
    margin-right: 67px;
    background: #ccc;
    top: -12px;
    margin-bottom: 0;
}
.triangle-right.right:after {
    top: 16px;
    right: -39px;
    bottom: auto;
    left: auto;
    border-width: 15px 0 0 40px;
    border-color: transparent #ccc;
    visibility: inherit;
}
.triangle-right:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50px;
    border-width: 20px 0 0 20px;
    border-style: solid;
    border-color: #075698 transparent;
    display: block;
    width: 0;
}

/*
start chat style
 */
.start_message{
    height: 155px;
    border-radius: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*customer controls*/
.user-info{
    width: 60%;
    float: left;
    position:  relative;
}
.user-info img{
    float: left!important;
    margin-right: 5px!important;
    width: 15%;
    border-radius: 50%;
}
.user-info h4{
    float: left!important;
    display: inline-block;
    margin-right: 5px;
}
.user-info .customer_status{
    background: #1a8a34;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 8px;
    margin: 0 8px 0 0;
    width: 8px;
    position: absolute;
    top: 5px;
}
.customer-controls{
    border-radius: 0;
    background: #fff!important;
    /* -webkit-box-shadow: -1px 9px 5px 0px rgba(0,0,0,0.48); */
    /* box-shadow: -1px 9px 5px 0px rgba(0,0,0,0.48); */
    border-bottom-style: ridge;
    z-index: 1;
    color: #3E3333!important;
    padding: 2px!important;
    display: none;

}
.customer-controls .controls{
    float: right;
    width: 40%;
}
.customer-controls .chat_status{
    background: url('../images/drop_down.png');
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    float: left;
    position: relative;
    margin-top: 12px;
}
#chatbox-component .online_status:before {
    background: #1a8a34;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 8px;
    margin: 0 8px 0 0;
    width: 8px;
}
#chatbox-component .busy_status:before {
    background: #D10000;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 8px;
    margin: 0 8px 0 0;
    width: 8px;
}
#chatbox-component .idle_status:before {
    background: #77777A;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 8px;
    margin: 0 8px 0 0;
    width: 8px;
}
.chat_status .wk_chat_status_options {
    background-color: #FFFFFF;
    /* border: 1px solid #0d5a8f; */
    position: absolute;
    width: 182px;
    height: auto;
    top: 29px;
    right: -54px;
    z-index: 999;
     display: none;
    padding: 10px;
    -webkit-box-shadow: -2px 2px 13px 6px rgba(0,0,0,0.48);
    -moz-box-shadow: -2px 2px 13px 6px rgba(0,0,0,0.48);
    box-shadow: -2px 2px 13px 6px rgba(0,0,0,0.48);
    border-radius: 7px;
}
#chatbox-component .status_point {
    background-color: #FFFFFF;
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color: #0d5a8f;
    position: absolute;
    width: 15px;
    height: 15px;
    right: 60px;
    top: -8px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}

#chatbox-component .list-group-item{
    padding: 5px;
    border: 1px solid #ddd;
    color: #503333;
}

.customer-controls .wk_chat_setting {
    background: url(../images/setting.png);
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    float: left;
    position: relative;
    margin-top: 7px;
}


.customer-controls .wk_chat_sound {
    background: url(../images/sound.png);
    background-repeat: no-repeat;
    height: 24px;
    width: 22px;
    float: left;
    margin-top: 7px;
    background-position: -21px 0px;
}
.customer-controls .wk_sound_play{
    display: none;
}

/*load chat history*/
.load_history {
    background: url(../images/load_clock.png);
    background-repeat: no-repeat;
    height: 20px;
    width: 30px;
    margin-top: 2px;
    float: right;
}
.load_history .wk_chat_history_options {
    background-color: #FFFFFF;
    border: 1px solid #0d5a8f;
    position: absolute;
    width: 115px;
    height: auto;
    top: 45px;
    right: 0px;
    z-index: 999;
    -webkit-box-shadow: -2px 2px 13px 6px rgba(0,0,0,0.48);
    -moz-box-shadow: -2px 2px 13px 6px rgba(0,0,0,0.48);
    box-shadow: -2px 2px 13px 6px rgba(0,0,0,0.48);
    border-radius: 7px;
    display: none;
    padding: 5px;
}

/*Setting Pannel*/
.wk_chat_setting .wk_chat_setting_options {
    background-color: #FFFFFF;
    /* border: 1px solid #0d5a8f; */
    position: absolute;
    width: 182px;
    height: auto;
    top: 29px;
    right: -54px;
    z-index: 999;
     display: none;
    padding: 10px;
    -webkit-box-shadow: -2px 2px 13px 6px rgba(0,0,0,0.48);
    -moz-box-shadow: -2px 2px 13px 6px rgba(0,0,0,0.48);
    box-shadow: -2px 2px 13px 6px rgba(0,0,0,0.48);
    border-radius: 7px;
}

.profile-setting-box{
    display: none;
    height: 50%;
    width: 80%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 20%;
    left: 9%;
    z-index: 200;
    border-radius: 4%;
}
.profile-setting-box .image_block{
    width: 51%;
    height: 51%;
    background: white;
    position: absolute;
    top: 10%;
    left: 24%;
    border-radius: 50%;
}
.profile-setting-box .actions-toolbar{
    position: absolute;
    bottom: 10px;
    left: 35px;
}
.profile_image{
    position: absolute;
    top: 12%;
    left: 25%;
    height: 50%;
    width: 50%;
    opacity: 0;
}
#user-profile-image{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.chat-loading-mask {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10001;
    background: rgba(255,255,255,0.5);
}
.chat-loading-mask .chat-loader > img {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
}
.chat-date{
    display: block;
    position: relative;
    padding: 5px;
    left: 43%;
    width: 30%;
    /* padding-top: 0px; */
    top: -12px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 9%;
    opacity: 0.5;
    font-weight: 600;
}

.chat-message-notification {
    position: fixed;
    background: transparent;
    transition: all 500ms ease-out;
    width: 260px;
    height: auto;
    right: 0px;
    top: 50px;
    z-index: 9999;
}
.msg_notification {
    width: 260px;
    height: auto;
    border: 1px solid #989898;
    z-index: 9999;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    /* padding: 10px 18px; */
    position: relative;
    vertical-align: top;
    float: right;
    margin: 5px 20px 5px 45px;
}
.msg_notification::before {
    background-color: #FFFFFF;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
     box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;
}
.msg_notification .wk_msgLogo {
    width: 20%;
    height: 20%;
    /* background-color: #0D5A8F; */
    padding-top: 20px;
    /* display: block; */
    float: left;
    /* margin: 0; */
    padding-left: 5px;
}
.msg_notification .wk_msgdetails {
    width: 50%;
    height: auto;
    /* background-color: #FFFFFF; */
    float: left;
    display: block;
    padding-top: 15px;
    line-height: 1;
    position: relative;
}
.wk_msgdetails .wk_userName {
    width: 80%;
    color: #2b99ce;
    font-family: opensans;
    font-weight: 400;
    font-size: 14px;
    display: inline;
    padding: 5px;
}

.wk_msgdetails .wk_userMsg {
    width: 100%;
    color: #424242;
    font-family: opensans;
    font-weight: 400;
    font-size: 14px;
    padding: 5px;
    height: 45px;
    overflow: hidden;
    float: left;
    text-overflow: ellipsis;
    display: block;
}

.wk_msgdetails .wk_userLink {
    width: 100%;
    color: #2b99ce;
    font-family: opensans;
    font-weight: 400;
    font-size: 13px;
    display: block;
    padding: 5px;
    float: left;
}
.wk_msgdetails .wk_msgClose{
    position: absolute;
    height: 15px;
    width: 13px;
    right: 6px;
    top: 2px;
    background-repeat: no-repeat;
    color: #000000;
    float: left;
    cursor: pointer;
    overflow: hidden;
}
.status-error{
    margin: 0;
    position: relative;
    top: -10px;
    background: #EEB9B9;
    padding: 5px;
    border-radius: 5px;
}
.agent-error{
    top: 10px;
    left: 10px;
    color: #610505;
}

@media only screen and (max-width: 768px){
    .product.data.items>.item.content {
        background: #fff;
        margin-top : 43px;
        padding: 35px 35px 35px 35px;
        border: 1px solid #ccc;
    }
    .product.data.items>.item.content {
        /*margin-top: 20px;*/
        box-sizing: border-box;
        float: right;
        margin-left: -100%;
        border-left: black;
        width: 100%; 
    }.product.data.items{
        width:100%;
    }.detailed .product.data.items{
        margin-left: 1px;
        margin-right: 3px;
        width: 100%;
    }.detailed .product.data.items>.item.title{
        width: 50%;
        float: left;
    }#chatbox-component{
        width:auto;
        right:5px;
    }.send-image {
        position: absolute;
        bottom: 5%;
        right: 16px;
    }#chat-form .type_message{
        height:55px;
    }
}

/*Chat history Page*/
@media only screen and (min-width: 768px){
    .wk-mp-design .wk-box{
        width: 48%!important;
    }
}
@media only screen and (max-width: 767px){
    .wk-order-title-block{
        display: none;
    }
}
.wk-mp-design .order-actions-toolbar,
.wk-mp-design .actions,
.wk-mp-page-title,
.wk-sales,
.wk-orderbox-details .name,
.wk-ship-row
{
    display: inline-block;
    width: 100%;
}
.wk-mp-design .block-order-details-view{
    margin-bottom: 0!important;
}
.wk-mp-design .table-wrapper{
    overflow: auto;
}
/*end order css*/
.wk-mp-design .fieldset > .legend {
    box-sizing: border-box;
    float: left;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.2;
    margin: 0 0 20px;
    padding: 0 0 10px;
    width: 100%;
}
.wk-mp-design .fieldset > .field > .label, .fieldset > .fields > .field > .label ,
.wk-mp-model-popup .fieldset > .field > .label, .fieldset > .fields > .field > .label {
    display: inline-block;
    margin: 0 0 8px;
    width: auto!important;
}
.wk-mp-design .wk-mp-fieldset .control{
    width:100%!important;
    overflow: auto;
}
@media only screen and (min-width: 0px) and (max-width: 959px) {
    .wk-mp-design table{
        font-size: 12px!important;
    }
}
#wk-mp-tr-heading{
    /*background: url("../images/sort-row-bg.gif") repeat-x scroll 0 50% rgba(0, 0, 0, 0);*/
    background-color: #eeeeee;
}
#wk-mp-tr-heading th {
    border-color: #D1CFCF;
    border-style: solid;
    border-width: 1px;
    font-size: 0.9em;
    font-weight: bold;
    padding: 3px 9px;
}
.wk-mp-body td{
    text-align: center;
    padding:5px 7px;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 0 1px 1px 0;
    background: url("../images/filter-row-bg.png") repeat-x #e3eff1;
    background-color: #e3eff1;
    border-bottom: none;
}
.wk-mp-list-table {
    width: 100%;
    border: 1px solid #CCCCCC;
}
.wk-mp-list-table thead span{
    font-weight: bold;
}
.wk-mp-list-container-table{
    margin-top:15px;
    margin-bottom: 2px;
    clear: both;
}
td.wk-mp-td-last{
    border-right:1px;
}
.wk-mp-td-span{
    width: 50%;
    float: left;
}
.wk-mp-td-span input{
    width: 60%;
}
.wk-mp-label{
    background: none repeat scroll 0 0 #F18200;
    border: 1px solid #DE5400;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    margin: 2px 15px;
    padding: 1px 5px;
}
.wk-content th {
    border-left: 1px solid #ccc;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}
.wk-row-view td {
    border-left: 1px solid #ccc;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}
.wk-check-first-td{
    border-left: none;
    border-right: 1px solid #ccc;
}
.wk-first-td{
    width: 26%;
    border-left: none;
}
.wk-last-tr{
   border-bottom: none;
}

.attachment-img{
    position: relative;
    float: left;
    top: 5px;
    right: 5px;
}
.attachment-img img{
    height: 20px;
    width: 20px;
}
#send-attachment{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 2px;
    opacity: 0;
}
