<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
    $_helper = $this->helper('Smartwave\Porto\Helper\Data');
    
    $popup = $_helper->getConfig('porto_settings/newsletter');
    if($popup['enable']) {
        $delay = "5000";
?>
<script type="text/javascript">
require([
        'jquery',
        'jquery/jquery.cookie'
    ], function ($) {
        $(document).ready(function(){
            if($("body").hasClass("cms-index-index")) {

                var check_cookie = $.cookie('newsletter_popup');
                if(window.location!=window.parent.location){
                    $('#newsletter_popup').remove();
                } else {
                    if(check_cookie == null || check_cookie == 'shown') {
                        setTimeout(function(){
                            beginNewsletterForm();
                        }, <?php echo $delay; ?>);
                    }
                    $('#newsletter_popup_dont_show_again').on('change', function(){
                        if($(this).length){        
                            var check_cookie = $.cookie('newsletter_popup');
                            if(check_cookie == null || check_cookie == 'shown') {
                                $.cookie('newsletter_popup','dontshowitagain');            
                            }
                            else
                            {
                                $.cookie('newsletter_popup','shown');
                                beginNewsletterForm();
                            }
                        } else {
                            $.cookie('newsletter_popup','shown');
                        }
                    });
                }
       
            }
       
        });
        
        function beginNewsletterForm() {
            $.fancybox({
                'padding': '0px',
                'autoScale': true,
                'transitionIn': 'fade',
                'transitionOut': 'fade',
                'type': 'inline',
                'href': '#newsletter_popup',
                'onComplete': function() {
                    $.cookie('newsletter_popup', 'shown');
                },
                'tpl': { 
                    closeBtn: '<a title="Close" class="fancybox-item fancybox-close fancybox-newsletter-close" href="javascript:;"></a>' 
                },
                'helpers': {
                    overlay: {
                        locked: false
                    }
                }
            });
            $('#newsletter_popup').trigger('click');
        }
});
</script>
<style type="text/css">

@media only screen and (min-width : 320px) {
    #newsletter_popup.trade_account {
        background-image: none;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-top: 0;
        width: 300px!important;
    }

    #newsletter_popup .block-content{
        max-width: unset;
        text-align: left;
        padding: 0;
    }

    #newsletter_popup h2 {
        font-weight: 600;
        color: #fff;
        font-size: 27px;
        line-height: 32px;
        margin: 0 0 12px;
        font-family: "Open Sans";
        text-transform: uppercase;
    }

    #newsletter_popup ::placeholder {
        color: #a7a9ac !important;
    }

    #newsletter_popup .field.newsletter .control{
        position: relative;
    }
    .trade_account label,.trade_account .get_info_account,.trade_account .link-to-create a{
    	color: #fff;
    }
    .trade_account .block-content h3{
		color:#39b54a;
		font-size:25px;
		margin-top: 0px;
		text-transform: uppercase;
    }
    .trade_account .get_info_account{
    	color: #fff;
    	font-size: 13px;
    	font-weight: 700;
    	position: absolute;
    	left: 32px;
    	bottom: 30px;
    	letter-spacing: 2px;
    }
    .trade_account .link-to-create a{
		font-size:13px;
		background: #39b54a;
		text-transform: uppercase;
		padding:10px 38px;
		text-decoration: none;
		position: absolute;
		left: 182px;
		bottom: 81px;
    }
    .trade_account#newsletter_popup{
    	padding:50px 25px 25px 25px;
    }
    #newsletter_popup .subscribe-bottom label{
    	font-weight: 300;
    }
    #newsletter_popup .subscribe-bottom{
    	right:40px;
    }
	.fancybox-newsletter-close:before{
		content:'';
	}
}
@media only screen and (min-width : 480px) {
    #newsletter_popup.trade_account{
        width: 400px!important;
        background-position: -293px;
    }
   #newsletter_popup.trade_account h2 {
   		font-size:45px;
   }
}
@media only screen and (min-width : 640px) {
    #newsletter_popup.trade_account{
       width: 600px!important;
       background-position: 0px;
    }
}
@media only screen and (min-width : 768px) {
    #newsletter_popup.trade_account{
        width: 700px!important;
        height: 325px;
    }
}
@media only screen and (min-width : 1200px) {
    #newsletter_popup.trade_account h2 {
        font-size: 55px;
        line-height: 60px;
    }
}
@media only screen and (max-width : 639px) {
	.trade_account .link-to-create a{
     	left:25px;
     	bottom: 112px;
     }
     .trade_account .get_info_account{
     	left:25px;
     	bottom:52px;
     }
     #newsletter_popup .subscribe-bottom{
     	left:25px;
     	right:auto;
     }
}

</style>
<div id="trade-customer">
	<div class="newsletter trade_account" id="newsletter_popup" style="display: none;">
    <div class="block-content">
       <h3><?php echo __('In The Trade ?');?></h3>
       <h2><?php echo __('Free To Join');?></h2>
       <div class="get_info_account">
       		<?php echo __('What you see is what you get!');?>
       </div>
       <div class="link-to-create">
       	<a href="<?php echo $block->getUrl('customer/account/create/');?>"><?php echo __('Create Account');?></a>
       </div>
        <div class="subscribe-bottom">
            <input type="checkbox" id="newsletter_popup_dont_show_again"/>
            <label for="newsletter_popup_dont_show_again"><?php echo __("Don't show this popup again"); ?></label>
        </div>
    </div>
</div>
</div>

<?php
    }
?>