<?php
/**
 *  CART2QUOTE CONFIDENTIAL
 *  __________________
 *  [2009] - [2018] Cart2Quote B.V.
 *  All Rights Reserved.
 *  NOTICE OF LICENSE
 *  All information contained herein is, and remains
 *  the property of Cart2Quote B.V. and its suppliers,
 *  if any.  The intellectual and technical concepts contained
 *  herein are proprietary to Cart2Quote B.V.
 *  and its suppliers and may be covered by European and Foreign Patents,
 *  patents in process, and are protected by trade secret or copyright law.
 *  Dissemination of this information or reproduction of this material
 *  is strictly forbidden unless prior written permission is obtained
 *  from Cart2Quote B.V.
 * @category    Cart2Quote
 * @package     Quotation
 * @copyright   Copyright (c) 2018. Cart2Quote B.V. (https://www.cart2quote.com)
 * @license     https://www.cart2quote.com/ordering-licenses(https://www.cart2quote.com)
 */

?>
<?php /** @var \Cart2Quote\Quotation\Block\Adminhtml\Quote\View\Items\DefaultRenderer $block */ ?>
<?php $item = $block->getItem() ?>
<tr style="<?php echo $block->getEmpty() ? 'display: none; ' : '' ?>"
    class="quote-item-row <?php echo $block->getSelectedTierClass() ?>"
    id="<?php echo $block->getEmpty() ?
        'quote-item-tier-row-empty-' . $block->getItem()->getId() :
        'quote-item-tier-row-' . $block->getItem()->getTierItem()->getId() ?>">
    <?php $i = 0;
    $columns = $block->getColumns();
    $lastItemNumber = count($columns) ?>
    <?php foreach ($columns as $columnName => $columnClass) : ?>
        <?php $i++; ?>
        <?php if ($item->getIsFirstTierItem() || $block->isTierColumn($columnName)) : ?>
            <?php if (!$block->getEmpty()) : ?>
                <td <?php echo $block->getRowSpan($columnName) ?>
                        class="<?php echo $block->isTierColumn($columnName) ?
                            'quote-item-row-tier' : 'quote-item-row-non-tier' ?> <?php
                        echo $columnClass ?> <?php
                        echo($i === $lastItemNumber ? ' last' : '') ?>">
                    <?php echo $block->getColumnHtml($item, $columnName) ?>
                </td>
            <?php else : ?>
                <td class="quote-item-row-small <?php echo $columnClass ?> <?php
                echo($i === $lastItemNumber ? ' last' : '') ?>">
                    <?php echo $block->getEmptyColumnHtml($item, $columnName) ?>
                </td>
            <?php endif; ?>
        <?php endif; ?>
    <?php endforeach; ?>
</tr>
