<?php
/**
 *  CART2QUOTE CONFIDENTIAL
 *  __________________
 *  [2009] - [2018] Cart2Quote B.V.
 *  All Rights Reserved.
 *  NOTICE OF LICENSE
 *  All information contained herein is, and remains
 *  the property of Cart2Quote B.V. and its suppliers,
 *  if any.  The intellectual and technical concepts contained
 *  herein are proprietary to Cart2Quote B.V.
 *  and its suppliers and may be covered by European and Foreign Patents,
 *  patents in process, and are protected by trade secret or copyright law.
 *  Dissemination of this information or reproduction of this material
 *  is strictly forbidden unless prior written permission is obtained
 *  from Cart2Quote B.V.
 * @category    Cart2Quote
 * @package     Quotation
 * @copyright   Copyright (c) 2018. Cart2Quote B.V. (https://www.cart2quote.com)
 * @license     https://www.cart2quote.com/ordering-licenses(https://www.cart2quote.com)
 */

?>
<?php /** @var \Cart2Quote\Quotation\Block\Adminhtml\Quote\View\Items\FooterRenderer $block */?>
<?php $currencyCode = $block->getQuote()->getQuoteCurrencyCode();?>
<?php
$_objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 
$currency = $_objectManager->create('Magento\Directory\Model\CurrencyFactory')->create()->load($currencyCode);
$currencySymbol = $currency->getCurrencySymbol();
?>
<tr>
    <td colspan="3" class="text-lower"><?php echo __('Subtotal:');?></td>
        <td colspan="2" class="border-default">
            <?php echo $currencySymbol.$block->FormatPrice($block->getQuote()->getSubtotal(),2);?>
        </td>
</tr>
<tr>
    <td colspan="3" class="text-lower"><?php echo __('Tax:');?></td>
     <td colspan="2" class="border-default"><?php echo $currencySymbol.$block->FormatPrice($block->getQuote()->getTaxAmount(),2);?></td>
</tr>
<tr>
    <td colspan="3" class="text-lower total-label"><?php echo __('Quotation Total:');?></td>
     <td colspan="2" class="text-color border-default"><?php echo $currencySymbol.$block->FormatPrice($block->getQuote()->getGrandTotal(),2);?></td>
</tr>