@font-face {
	font-family: 'MUI-Icons';
	src: url('../fonts/MUI-Icons/MUI-Icons.eot');
	src: url('../fonts/MUI-Icons/MUI-Icons.eot?#iefix') format('embedded-opentype'), url('../fonts/MUI-Icons/MUI-Icons.woff2') format('woff2'), url('../fonts/MUI-Icons/MUI-Icons.woff') format('woff'), url('../fonts/MUI-Icons/MUI-Icons.ttf') format('truetype'), url('../fonts/MUI-Icons/MUI-Icons.svg#MUI-Icons') format('svg');
	font-weight: 300;
	font-style: normal;
}
.admin__menu #menu-lof-all-lof-all .item-gallery.parent.level-1 > strong:before {
	content: '\e047';
	font-family: 'MUI-Icons';
	font-size: 1.5rem;
	margin-right: .8rem;
}