/* Optional scoped theme for tag-it which mimics the zendesk widget. */
ul.tagit {
    border-style: solid;
    border-width: 1px;
    border-color: #C6C6C6;
    background: inherit;
    padding-top: 5px;
}

ul.tagit li.tagit-choice {
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    font-weight: normal;
    background: #eb5202;
    position: relative;
    border-radius: 2px;
    cursor: pointer;
}

ul.tagit li.tagit-choice:hover {
    background: #ba4000;
}

ul.tagit li.tagit-choice:before {
    content: '#';
    color: #FFF;
}

ul.tagit li.tagit-choice .tagit-label:not(a) {
    color: #FFF;
    padding-right: 5px;
    padding-left: 5px
}

ul.tagit li.tagit-choice a.tagit-close {
    text-decoration: none;
}

ul.tagit li.tagit-choice .tagit-close {
    right: .4em;
}

ul.tagit li.tagit-choice .ui-icon {
    display: none;
}

ul.tagit li.tagit-choice .tagit-close .text-icon {
    display: inline;
    font-family: arial, sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: #FFF;
}

ul.tagit li.tagit-choice a.tagLabel:hover, ul.tagit li.tagit-choice a.tagit-close .text-icon:hover {
    color: #222;
}

ul.tagit input[type="text"] {
    color: #333333;
    background: none;
    height: 28px;
}

.ui-widget {
    font-size: 1.1em;
}

/* Forked from a jQuery UI theme, so that we don't require the jQuery UI CSS as a dependency. */
.tagit-autocomplete.ui-autocomplete {
    position: absolute;
    cursor: default;
}

.tagit-autocomplete.ui-autocomplete {
    width: 1px;
}

/* without this, the menu expands to 100% in IE6 */
.tagit-autocomplete.ui-menu {
    list-style: none;
    padding: 2px;
    margin: 0;
    display: block;
    float: left;
}

.tagit-autocomplete.ui-menu .ui-menu {
    margin-top: -3px;
}

.tagit-autocomplete.ui-menu .ui-menu-item {
    margin: 0;
    padding: 0;
    zoom: 1; float: left;
    clear: left;
    width: 100%;
}

.tagit-autocomplete.ui-menu .ui-menu-item a {
    text-decoration: none;
    display: block;
    padding: .2em .4em;
    line-height: 1.5;
    zoom:1; }

.tagit-autocomplete .ui-menu .ui-menu-item a.ui-state-hover, .tagit-autocomplete .ui-menu .ui-menu-item a.ui-state-active {
    font-weight: normal;
    margin: -1px;
}

.tagit-autocomplete.ui-widget-content {
    border: 1px solid #aaaaaa;
    background: #ffffff 50% 50% repeat-x;
    color: #222222;
}

.tagit-autocomplete.ui-corner-all, .tagit-autocomplete .ui-corner-all {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

.tagit-autocomplete .ui-state-hover, .tagit-autocomplete .ui-state-focus {
    border: 1px solid #999999;
    background: #dadada;
    font-weight: normal;
    color: #212121;
}

.tagit-autocomplete .ui-state-active {
    border: 1px solid #aaaaaa;
}

.tagit-autocomplete .ui-widget-content {
    border: 1px solid #aaaaaa;
}

.tagit .ui-helper-hidden-accessible {
    position: absolute !important;
    clip: rect(1px,1px,1px,1px);
}

.album-tags p {
    font-size: 13px
}

ul.tagit li.tagit-new {
    padding: 0
}

.lofgallery-album-edit input[readonly] {
    background-color: #eee;
}

.admin__action-multiselect-tree .action-menu .action-menu-item:hover {
    background-color: #e3e3e3;
}

.admin__field.field-categorydisabled .admin__field-label, .admin__field.field-productdisabled .admin__field-label, .admin__field.field-homedisabled .admin__field-label, .admin__field.field-shoppingcartdisabled .admin__field-label, .admin__field.field-checkoutdisabled .admin__field-label {
    cursor: pointer;
    left: 0;
    margin-left: 26%;
    padding-left: 48px;
    position: absolute;
    width: 250px;
    float: left;
    text-align: left;
    margin-top: -8px;
}

.mage-new-video-dialog .admin__scope-old .admin__field.field-categorydisabled .admin__field-control, .mage-new-video-dialog .admin__scope-old .admin__field.field-productdisabled .admin__field-control, .mage-new-video-dialog .admin__scope-old .admin__field.field-homedisabled .admin__field-control, .mage-new-video-dialog .admin__scope-old .admin__field.field-shoppingcartdisabled .admin__field-control, .mage-new-video-dialog .admin__scope-old .admin__field.field-checkoutdisabled .admin__field-control {
    width: calc( (100%) * .25 - 30px );
    margin-left: 30px;
    float: left;
    margin-left: 80px;
    position: relative;
}

.mage-new-video-dialog .admin__scope-old .admin__field.field-categorydisabled .admin__field-control input, .mage-new-video-dialog .admin__scope-old .admin__field.field-productdisabled .admin__field-control input, .mage-new-video-dialog .admin__scope-old .admin__field.field-homedisabled .admin__field-control input, .mage-new-video-dialog .admin__scope-old .admin__field.field-shoppingcartdisabled .admin__field-control input, .mage-new-video-dialog .admin__scope-old .admin__field.field-checkoutdisabled .admin__field-control input {
    float: right;
}

.lofgallery-imageedit {
    display: none
}

.attachment-actions {
    text-align: center;
    margin-top: 16px;
}

.dialog-left {
    position: relative;
    padding-right: 10px;
    flex: 0 0 67%;
}

.lofgallery-album-edit .image-panel-controls {
    background: #f3f3f3;
    padding-right: 20px;
}

.lofgallery-album-edit .image-panel-controls .multiselect-alt {
    background: #FFF;
}

.lofgallery-album-edit .image-panel-controls .multiselect-alt li:first-child {
    border-radius: 5px 5px 0 0;
}

.lofgallery-album-edit .image-panel-controls .multiselect-alt li:last-child {
    border-radius: 0 0 5px 5px;
}

.lofgallery-album-edit #new_video_form_fieldset input:focus, .lofgallery-album-edit #new_video_form_fieldset textarea:focus, #scale-sub-menu input:focus, .lofgallery-album-edit #edit_form .action-menu, .action-select-wrap._active .action-select, .action-select-wrap .action-select._active, .lofgallery-album-edit #edit_form textarea:focus, .lofgallery-album-edit #edit_form select:focus, .lofgallery-album-edit #edit_form textarea:focus, .lofgallery-album-edit #edit_form input:focus, .lofgallery-album-edit .image-panel-controls input:focus, .lofgallery-album-edit .image-panel-controls textarea:focus {
    border-color: #eb5202 !important
}

.gallery-loading {
    display: none;
    height: 9rem;
    text-align: center;
    font-size: 1.3rem;
    position: absolute;
    left: 50%;
    margin-left: -40px;
    top: 10rem;
    z-index: 99;
}

.gallery-loading > span {
    display: block;
    margin-bottom: 1rem;
    color: #eb5202;
    font-size: 20px;
    display: none;
}

.gallery-loading > div {
    background-color: #eb5202;
    height: 100%;
    width: 15px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.gallery-loading > div.r2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.gallery-loading > div.r3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.gallery-loading > div.r4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.gallery-loading > div.r5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.gallery-loading > div.r6 {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.gallery-loading > div.r7 {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.gallery-loading > div.r8 {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.gallery-loading > div.r9 {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.gallery-loading > div.r10 {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
    }

    20% {
        -webkit-transform: scaleY(1);
    }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }

    20% {
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
    }
}

.gallery-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .6;
    background: #FFF;
    top: 0;
}

.gallery-btn {
    background-color: #eb5202;
    border-color: #eb5202;
    color: #fff;
    border-radius: 3px;
}

.gallery-btn.edit-image {
    color: #555;
    border-color: #ccc;
    background: #f7f7f7;
    -webkit-box-shadow: 0 1px 0 #ccc;
    vertical-align: top;
    font-weight: normal;
    border-radius: 3px;
}

.gallery-btn.edit-image:hover {
    background-color: #eb5202;
    border-color: #eb5202;
}

.gallery-btn:hover {
    background-color: #ba4000;
    border-color: #b84002;
    color: #FFF
}

.scale-options input {
    width: 60px;
}

.lofgallery-album-edit .image-panel .admin__fieldset .fileinfo .admin__field-label {
    float: left;
    margin-right: 5px;
    line-height: 1.36 !important;
}

.fieldset-image-panel .admin__field.fileinfo {
    margin-bottom: 0;
}

.fieldset-image-panel .admin__field.fileinfo:last-child {
    margin-bottom: 3rem;
}

.lofgallery-album-edit .image-panel-controls .fieldset-image-panel {
    overflow: hidden;
}

.lofgallery-album-edit .admin__fieldset > .admin__field.field-image-url {
    border-top: 1px solid #ddd;
    padding-top: 25px;
}

.tui-image-editor-controls .menu .menu-item span {
    display: none;
}

.tui-image-editor-controls .menu .menu-item.disabled {
    opacity: .8
}

.tui-image-editor-controls .menu .menu-item {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    background: #eb5202;
    color: #FFF;
    border-radius: 4px;
    cursor: pointer
}

.tui-image-editor-controls .menu .menu-item:hover {
    background: #ba4000
}   

.tui-image-editor-controls #input-rotation-range {
    margin-left: 5px;
}

#btn-apply-scale {
    display: none
}

#scale-sub-menu {
    text-align: center;
}

.tui-image-editor-controls > .header {
    text-align: center;
}
