#ob-product-detail_delivery {margin:10px 0; text-align: center;}
.ob_countdown_timer_container_default {
  background: #fefae4;
  border: 1px solid #fadc23;
  width: 100%;
  border-radius: 3px;
  font-family: "Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  display: flex !important;
  align-items: center;
}
.ob_countdown_timer_container_default .title {
  width: 45%;
  float: left;
  padding: 14px 0 14px 20px;
  font-weight: 500;
  margin: 0;
  position: relative;
  line-height: 25px;
  color: #2f303a;
  display: inline-block;
}
.ob_countdown_timer_container_default .title em {
  font-size: 14px;
  line-height: 1.26316;
  font-style: inherit;
  text-transform: uppercase;
  letter-spacing: .04em;
}
.ob_countdown_timer_container_default .timer-row {
  width: 43%;
  float: right;
  margin-left: 10px;
  padding-top: 0 !important;
}
.ob_countdown_timer .ob_countdown_days_container, .ob_countdown_timer .ob_countdown_hours_container, .ob_countdown_timer .ob_countdown_minutes_container, .ob_countdown_timer .ob_countdown_seconds_container{
  width: 31%;
  float: left;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}
.ob_countdown_timer_container_default div.ob_countdown_days, .ob_countdown_timer_container_default div.ob_countdown_seconds, .ob_countdown_timer_container_default div.ob_countdown_hours, .ob_countdown_timer_container_default div.ob_countdown_minutes{
  position: relative;
  text-align: center;
}
.ob_countdown_timer_container_default div.ob_countdown_spacer{
  position: absolute;
  left: 40%;
  background: none repeat scroll 0 0 #fefae4;
  height: 100%;
}
.ob_countdown_timer span.ob_countdown_days_number, .ob_countdown_timer span.ob_countdown_hours_number, .ob_countdown_timer span.ob_countdown_minutes_number, .ob_countdown_timer span.ob_countdown_seconds_number{
  display: inline-block;
  font-size: 24px;
  line-height: 2;
}
.view-countdown .text-footer p, .ob_countdown_timer span.ob_countdown_days_label, .ob_countdown_timer span.ob_countdown_hours_label, .ob_countdown_timer span.ob_countdown_minutes_label, .ob_countdown_timer span.ob_countdown_seconds_label{
  margin: 0;
  font-size: 14px;
}
.default_no_countdown p{margin-bottom: 0 !important}
.default_no_countdown img.img-mobile{display: none;}
@media screen and (max-width: 768px) {
  .default_no_countdown img.img-mobile {
    display: inline-block;
  }
  .default_no_countdown img.img-desktop {
    display: none;
  }
}
