<?php $_code = $block->getMethodCode() ?>
<?php $po_enabled = $block->getPoEnabledConfig(); ?>
<?php if($po_enabled){ ?>
<fieldset class="admin__fieldset payment-method" 
	id="payment_form_<?php echo $block->escapeHtml($block->getMethodCode()) ?>" style="display: none">
    <div class="admin__field _required" id="creditlimit_po_number_container">
        <label for="<?php echo $block->escapeHtml($block->getMethodCode())
        ?>_creditlimit_po_number" class="admin__field-label">
        <span>
            <?php echo $block->escapeHtml(__('Purchase Order Number')) ?>
        </span>
        </label>
        <div class="admin__field-control">
            <input onkeypress='return validateInput(event)' 
                type="text" id="<?php echo $block->escapeHtml($block->getMethodCode())
                ?>_creditlimit_po_number" name="payment[creditlimit_po_number]"
                   title="<?php echo $block->escapeHtml(__(
                       "Purchase Order Number"
                   )) ?>" 
                   class="<?php if ($po_enabled == 2) { ?>
                   required-entry<?php } ?> admin__control-text"
                   value="<?php echo $block->escapeHtml($block->getInfoData(
                       'creditlimit_po_number'
                   )) ?>"
                   data-validate='{
                    	"digits":true
                    }'/>
        </div>
    </div>
</fieldset>
<?php } ?> 