/** STYLE 1 **/
.gallery-widget-style1 .lgl-items .lgl-item .lgl-item-content {
    position: absolute;
    z-index: 89;
    top: auto;
    height: 4.75em;
    color: #3c4a50;
    transition: transform .45s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
    width: 100%;
    max-height: 90%;
}

.gallery-widget-style1 .lgl-items .lgl-item:hover .lgl-item-content {
    display: block;
    bottom: 0;
    background: #FFF;
    height: auto;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.gallery-widget-style1 .lgl-items .lgl-item .lgl-item-media {
    position: static
}

.gallery-widget-style1 .lgl-items .lgl-item .lgl-item-title, .gallery-widget-style1 .lgl-items .lgl-item .lgl-socials, .gallery-widget-style1 .lgl-items .lgl-item .lgl-item-shortdescription, .gallery-widget-style1 .lgl-items .lgl-item .lgl-item-read-more, .gallery-widget-style1 .lgl-items .lgl-item .lgl-item-info {
    -webkit-transition: -webkit-transform .35s;
    transition: transform .35s;
    -webkit-transform: translate3d(0,200%,0);
    transform: translate3d(0,200%,0);
}

.gallery-widget-style1 .lgl-items .lgl-item:hover .lgl-item-title, .gallery-widget-style1 .lgl-items .lgl-item:hover .lgl-socials, .gallery-widget-style1 .lgl-items .lgl-item:hover .lgl-item-shortdescription, .gallery-widget-style1 .lgl-items .lgl-item:hover .lgl-item-read-more, .gallery-widget-style1 .lgl-items .lgl-item:hover .lgl-item-info {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
}

.gallery-widget-style1 .lgl-items .lgl-item:hover .lgl-socials {
    -webkit-transition-delay: .15s;
    transition-delay: .15s;
}

.gallery-widget-style1 .lgl-items .lgl-item:hover .lgl-item-info {
    -webkit-transition-delay: .20s;
    transition-delay: .20s;
}

.gallery-widget-style1 .lgl-items .lgl-item:hover .lgl-item-shortdescription {
    -webkit-transition-delay: .25s;
    transition-delay: .25s;
}

.gallery-widget-style1 .lgl-items .lgl-item:hover .lgl-item-read-more {
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
}

.gallery-widget-style1 .lgl-items .lgl-item .lgl-item-media-inner img {
    transition: transform .35s;
}

.gallery-widget-style1 .lgl-items .lgl-item:hover .lgl-item-media-inner img {
    -webkit-transform: translate3d(0,-10%,0);
    transform: translate3d(0,-10%,0);
}

/** STYLE 2 **/
.gallery-widget-style2 .lgl-items .lgl-item .lgl-item-media-inner img {
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
}

.gallery-widget-style2 .lgl-items .lgl-item:hover img {
    filter: grayscale(1) blur(3px);
    -webkit-filter: grayscale(1) blur(3px);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.gallery-widget-style2 .lgl-items .lgl-item .lgl-item-title a {
    text-transform: uppercase;
    color: #fff;
}

.gallery-widget-style2 .lgl-items .lgl-item .lgl-item-links, .gallery-widget-style2 .lgl-items .lgl-item .lgl-item-title, .gallery-widget-style2 .lgl-items .lgl-item .lgl-socials {
    -webkit-transform: scale(.7);
    -ms-transform: scale(.7);
    transform: scale(.7);
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
    opacity: 0;
    background: rgba(0,0,0,.6);
    position: absolute;
    top: 10%;
    z-index: 129;
    text-align: center;
}

.gallery-widget-style2 .lgl-items .lgl-item .lgl-item-title {
    max-height: 70px;
    overflow: hidden;
}

.gallery-widget-style2 .lgl-items .lgl-item:hover .lgl-item-links, .gallery-widget-style2 .lgl-items .lgl-item:hover .lgl-item-title, .gallery-widget-style2 .lgl-items .lgl-item:hover .lgl-socials {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    left: 0;
    right: 0;
    padding: 10px;
    display: block;
}

.gallery-widget-style2 .lgl-items .lgl-item-content {
    position: static;
}

.gallery-widget-style2 .lgl-items .lgl-item .lgl-item-links {
    top: 35%;
    background: none;
}

.gallery-widget-style2 .lgl-items .lgl-item .lgl-item-links .lgl-item-link {
    text-decoration: none;
    padding: 7px 14px;
    border: 1px solid #fff;
    margin: 50px 0 0;
    border-radius: 0;
    background-color: transparent;
    opacity: 1;
}

.gallery-widget-style2 .lgl-items .lgl-item .lgl-item-read-more, .gallery-widget-style2 .lgl-items .lgl-item .lgl-item-shortdescription, .gallery-widget-style2 .lgl-items .lgl-item .lgl-item-info {
    display: none;
}

.gallery-widget-style2 .lgl-items .lgl-item .lgl-socials {
    position: absolute;
    top: 28%;
    text-align: center;
    width: 100%;
    left: 0;
    right: 0;
}

.gallery-widget-style2 .lgl-items .lgl-item .lgl-socials a {
    float: none !important;
}

.gallery-widget-style2 .lgl-items .lgl-item .lgl-socials {
    background: none;
}

.gallery-widget-style2 .lgl-items .lgl-item .lgl-socials a span {
    padding: 3px;
    width: 24px !important;
    height: 24px !important;
}

/** STYLE COMMON 3-13 **/
.gallery-style-common .lgl-items .lgl-item {
    overflow: hidden;
}
.gallery-style-common .lgl-item .lgl-item-read-more {
    display: inline-block;
    text-decoration: none;
    background: #000;
    text-transform: uppercase;
    -webkit-box-shadow: 0 0 1px #000;
    -moz-box-shadow: 0 0 1px #000;
    box-shadow: 0 0 1px #000;
}

.gallery-style-common .lgl-item-info-item i, .gallery-style-common .lgl-item-info-item span:before, .gallery-style-common .lgl-item-info-item span, .gallery-style-common .lgl-item-info a, .gallery-style-common .lgl-item .lgl-item-read-more a {
    color: #FFF;
}

.gallery-style-common .lgl-item-info-item:before {
    color: #FFF
}

.gallery-style-common .lgl-item .lgl-socials a {
    float: none;
}

.gallery-style-common .lgl-item .lgl-item-title {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0;
}

.gallery-style-common .lgl-item .lgl-item-title a {
    color: #FFF;
}

.gallery-style-common .lgl-items .lgl-item .lgl-item-content {
    padding: 0
}

.gallery-style-common .lgl-item .lgl-item-shortdescription {
    margin: 15px 0;
}

.gallery-style-common .lgl-item .mask, .gallery-style-common .lgl-item .lgl-item-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 999;
    position: absolute;
    text-align: center;
}

.gallery-style-common .lgl-item .lgl-item-shortdescription {
    position: relative;
    color: #fff;
    padding: 0px 20px 0px;
    text-align: center;
    margin: 15px 0;
}

.gallery-style-common .lgl-items .lgl-item:first-child .lgl-item-inner {
    margin-bottom: 0;
}

.gallery-style-common .lgl-items .lgl-item .lgl-item-read-more:hover {
    background: #eb5202;
    border-color: #eb5202;
}

.gallery-style-common .lgl-items .lgl-item .lgl-item-read-more {
    box-shadow: none;
}

.gallery-style-common .lgl-items .lgl-item .lgl-item-read-more a {
    padding: 7px 14px;
}

.gallery-style-common .lgl-items .lgl-item .lgl-item-inner {
    background: #fff url(../images/bgimg.jpg) repeat center center;
}

.gallery-style-common .lgl-items .lgl-item .lgl-socials {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

/** STYLE 3 **/
.gallery-widget-style3 .lgl-item .lgl-item-media img {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.gallery-widget-style3 .lgl-item .lgl-item-content {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    background-color: rgba(219,127,8, 0.7);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.gallery-widget-style3 .lgl-item .lgl-item-title, .gallery-widget-style3 .lgl-item .lgl-socials {
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.gallery-widget-style3 .lgl-item .lgl-item-info, .gallery-widget-style3 .lgl-item .lgl-item-shortdescription {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -o-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.gallery-widget-style3 .lgl-item:hover .lgl-item-media img {
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
}

.gallery-widget-style3 .lgl-item .lgl-item-read-more {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.gallery-widget-style3 .lgl-item:hover .lgl-item-content {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.gallery-widget-style3 .lgl-item:hover .lgl-item-title, .gallery-widget-style3 .lgl-item:hover .lgl-socials, .gallery-widget-style3 .lgl-item:hover .lgl-item-info, .gallery-widget-style3 .lgl-item:hover .lgl-item-shortdescription, .gallery-widget-style3 .lgl-item:hover .lgl-item-read-more {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}

.gallery-widget-style3 .lgl-item:hover .lgl-item-info, .gallery-widget-style3 .lgl-item:hover .lgl-item-shortdescription {
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.gallery-widget-style3 .lgl-item:hover .lgl-item-read-more {
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

/** STYLE 4 **/
.gallery-widget-style4 .lgl-item .lgl-item-media img {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.gallery-widget-style4 .lgl-item .mask {
    background-color: rgba(115,146,184, 0.7);
    width: 600px;
    padding: 60px;
    height: 600px;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: translate(265px, 145px) rotate(45deg);
    -moz-transform: translate(265px, 145px) rotate(45deg);
    -o-transform: translate(265px, 145px) rotate(45deg);
    -ms-transform: translate(265px, 145px) rotate(45deg);
    transform: translate(265px, 145px) rotate(45deg);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.gallery-widget-style4 .lgl-item .lgl-item-title, .gallery-widget-style4 .lgl-item .lgl-socials {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 15px 40px 0px 40px;
    -webkit-transform: translate(200px, -200px);
    -moz-transform: translate(200px, -200px);
    -o-transform: translate(200px, -200px);
    -ms-transform: translate(200px, -200px);
    transform: translate(200px, -200px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.gallery-widget-style4 .lgl-item .lgl-socials {
    border-bottom: 0
}

.gallery-widget-style4 .lgl-item .lgl-item-info, .gallery-widget-style4 .lgl-item .lgl-item-shortdescription {
    -webkit-transform: translate(-200px, 200px);
    -moz-transform: translate(-200px, 200px);
    -o-transform: translate(-200px, 200px);
    -ms-transform: translate(-200px, 200px);
    transform: translate(-200px, 200px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.gallery-widget-style4 .lgl-item .lgl-item-read-more {
    -webkit-transform: translate(0px, 100px);
    -moz-transform: translate(0px, 100px);
    -o-transform: translate(0px, 100px);
    -ms-transform: translate(0px, 100px);
    transform: translate(0px, 100px);
    -webkit-transition: all 0.2s 0.1s ease-in-out;
    -moz-transition: all 0.2s 0.1s ease-in-out;
    -o-transition: all 0.2s 0.1s ease-in-out;
    -ms-transition: all 0.2s 0.1s ease-in-out;
    transition: all 0.2s 0.1s ease-in-out;
}

.gallery-widget-style4 .lgl-item:hover .mask {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: translate(-80px, -125px) rotate(45deg);
    -moz-transform: translate(-80px, -125px) rotate(45deg);
    -o-transform: translate(-80px, -125px) rotate(45deg);
    -ms-transform: translate(-80px, -125px) rotate(45deg);
    transform: translate(-80px, -125px) rotate(45deg);
}

.gallery-widget-style4 .lgl-item:hover .lgl-item-title, .gallery-widget-style4 .lgl-item:hover .lgl-socials {
    -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    -o-transform: translate(0px,0px);
    -ms-transform: translate(0px,0px);
    transform: translate(0px,0px);
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    -ms-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.gallery-widget-style4 .lgl-item:hover .lgl-item-shortdescription {
    -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    -o-transform: translate(0px,0px);
    -ms-transform: translate(0px,0px);
    transform: translate(0px,0px);
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    -ms-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.gallery-widget-style4 .lgl-item:hover .lgl-item-read-more {
    -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    -o-transform: translate(0px,0px);
    -ms-transform: translate(0px,0px);
    transform: translate(0px,0px);
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    -ms-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

/** STYPE 5 **/
.gallery-widget-style5 .lgl-item .lgl-item-media img {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.gallery-widget-style5 .lgl-item .lgl-item-content {
    background-color: rgba(0,0,0,0.6);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: translate(460px, -100px) rotate(180deg);
    -moz-transform: translate(460px, -100px) rotate(180deg);
    -o-transform: translate(460px, -100px) rotate(180deg);
    -ms-transform: translate(460px, -100px) rotate(180deg);
    transform: translate(460px, -100px) rotate(180deg);
    -webkit-transition: all 0.2s 0.4s ease-in-out;
    -moz-transition: all 0.2s 0.4s ease-in-out;
    -o-transition: all 0.2s 0.4s ease-in-out;
    -ms-transition: all 0.2s 0.4s ease-in-out;
    transition: all 0.2s 0.4s ease-in-out;
}

.gallery-widget-style5 .lgl-item .lgl-item-title, .gallery-widget-style5 .lgl-item .lgl-socials {
    -webkit-transform: translateY(-200px);
    -moz-transform: translateY(-200px);
    -o-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    transform: translateY(-200px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.gallery-widget-style5 .lgl-item .lgl-item-info, .gallery-widget-style5 .lgl-item .lgl-item-shortdescription {
    -webkit-transform: translateX(300px) rotate(90deg);
    -moz-transform: translateX(300px) rotate(90deg);
    -o-transform: translateX(300px) rotate(90deg);
    -ms-transform: translateX(300px) rotate(90deg);
    transform: translateX(300px) rotate(90deg);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.gallery-widget-style5 .lgl-item .lgl-item-read-more {
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -o-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    transform: translateY(-300px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.gallery-widget-style5 .lgl-item:hover .lgl-item-content {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

.gallery-widget-style5 .lgl-item:hover .lgl-item-title, .gallery-widget-style5 .lgl-item:hover .lgl-socials {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    -ms-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.gallery-widget-style5 .lgl-item:hover .lgl-item-info, .gallery-widget-style5 .lgl-item:hover .lgl-item-shortdescription {
    -webkit-transform: translateX(0px) rotate(0deg);
    -moz-transform: translateX(0px) rotate(0deg);
    -o-transform: translateX(0px) rotate(0deg);
    -ms-transform: translateX(0px) rotate(0deg);
    transform: translateX(0px) rotate(0deg);
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    -ms-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.gallery-widget-style5 .lgl-item:hover .lgl-item-read-more {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    -ms-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

/** STYLE 6 **/
.gallery-widget-style6 .lgl-item .lgl-item-media img {
    -webkit-transition: all 0.4s ease-in-out 0.2s;
    -moz-transition: all 0.4s ease-in-out 0.2s;
    -o-transition: all 0.4s ease-in-out 0.2s;
    -ms-transition: all 0.4s ease-in-out 0.2s;
    transition: all 0.4s ease-in-out 0.2s;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.gallery-widget-style6 .lgl-item .lgl-item-content {
    background-color: rgba(0,0,0,0.8);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: scale(0) rotate(-180deg);
    -moz-transform: scale(0) rotate(-180deg);
    -o-transform: scale(0) rotate(-180deg);
    -ms-transform: scale(0) rotate(-180deg);
    transform: scale(0) rotate(-180deg);
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    -ms-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.gallery-widget-style6 .lgl-item .lgl-item-title {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.gallery-widget-style6 .lgl-item .lgl-socials {
    margin-top: 8px !important
}

.gallery-widget-style6 .lgl-item .lgl-item-info, .gallery-widget-style6 .lgl-item .lgl-item-shortdescription {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.gallery-widget-style6 .lgl-item .lgl-item-read-more {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.gallery-widget-style6 .lgl-item:hover .lgl-item-content {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.gallery-widget-style6 .lgl-item:hover .lgl-item-media img {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
}

.gallery-widget-style6 .lgl-item:hover .lgl-item-title, .gallery-widget-style6 .lgl-item:hover .lgl-socials, .gallery-widget-style6 .lgl-item:hover .lgl-item-shortdescription, .gallery-widget-style6 .lgl-item:hover .lgl-item-info, .gallery-widget-style6 .lgl-item:hover .lgl-item-read-more {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    -ms-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

/** STYLE 7 **/
.gallery-widget-style7 .lgl-item .lgl-item-media img {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.gallery-widget-style7 .lgl-item .lgl-item-content {
    background-color: rgba(146,96,91,0.3);
    -webkit-transform: translateX(-400px);
    -moz-transform: translateX(-400px);
    -o-transform: translateX(-400px);
    -ms-transform: translateX(-400px);
    transform: translateX(-400px);
    ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.gallery-widget-style7 .lgl-item .lgl-item-title {
    background: rgba(255, 255, 255, 0.5);
    color: #000;
    -webkit-box-shadow: 0px 1px 3px rgba(159, 141, 140, 0.5);
    -moz-box-shadow: 0px 1px 3px rgba(159, 141, 140, 0.5);
    box-shadow: 0px 1px 3px rgba(159, 141, 140, 0.5);
}

.gallery-widget-style7 .lgl-item .lgl-item-info, .gallery-widget-style7 .lgl-item .lgl-item-shortdescription {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    color: #333;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.gallery-widget-style7 .lgl-item:hover .lgl-item-content {
    -webkit-transform: translateX(0px);
    moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}

.gallery-widget-style7 .lgl-item:hover .lgl-item-media img {
    -webkit-transform: translateX(400px);
    -moz-transform: translateX(400px);
    -o-transform: translateX(400px);
    -ms-transform: translateX(400px);
    transform: translateX(400px);
}

.gallery-widget-style7 .lgl-item:hover .lgl-item-info, .gallery-widget-style7 .lgl-item:hover .lgl-item-shortdescription {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.gallery-widget-style7 .lgl-item .lgl-item-title a {
    color: #000
}

.gallery-widget-style7 .lgl-item-info-item i, .gallery-widget-style7 .lgl-item-info-item span:before, .gallery-widget-style7 .lgl-item-info-item span, .gallery-widget-style7 .lgl-item-info a {
    color: #000
}

/** STYLE 8 **/
.gallery-widget-style8 .lgl-item .lgl-item-media img {
    -webkit-transition: all 0.4s ease-in-out 0.5s;
    -moz-transition: all 0.4s ease-in-out 0.5s;
    -o-transition: all 0.4s ease-in-out 0.5s;
    -ms-transition: all 0.4s ease-in-out 0.5s;
    transition: all 0.4s ease-in-out 0.5s;
}

.gallery-widget-style8 .lgl-item .lgl-item-content {
    background-color: rgba(146,96,91,0.5);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.3s ease-in 0.4s;
    -moz-transition: all 0.3s ease-in 0.4s;
    -o-transition: all 0.3s ease-in 0.4s;
    -ms-transition: all 0.3s ease-in 0.4s;
    transition: all 0.3s ease-in 0.4s;
}

.gallery-widget-style8 .lgl-item .lgl-item-title, .gallery-widget-style8 .lgl-item .lgl-socials {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
    -webkit-transform: scale(10);
    -moz-transform: scale(10);
    -o-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
    -webkit-transition: all 0.3s ease-in-out 0.1s;
    -moz-transition: all 0.3s ease-in-out 0.1s;
    -o-transition: all 0.3s ease-in-out 0.1s;
    -ms-transition: all 0.3s ease-in-out 0.1s;
    transition: all 0.3s ease-in-out 0.1s;
}

.gallery-widget-style8 .lgl-item .lgl-socials {
    border-bottom: 0
}

.gallery-widget-style8 .lgl-item .lgl-item-info, .gallery-widget-style8 .lgl-item .lgl-item-shortdescription {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: scale(10);
    -moz-transform: scale(10);
    -o-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
    -webkit-transition: all 0.3s ease-in-out 0.2s;
    -moz-transition: all 0.3s ease-in-out 0.2s;
    -o-transition: all 0.3s ease-in-out 0.2s;
    -ms-transition: all 0.3s ease-in-out 0.2s;
    transition: all 0.3s ease-in-out 0.2s;
}

.gallery-widget-style8 .lgl-item .lgl-item-read-more {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -o-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition: all 0.3s ease-in-out 0.1s;
    -moz-transition: all 0.3s ease-in-out 0.1s;
    -o-transition: all 0.3s ease-in-out 0.1s;
    -ms-transition: all 0.3s ease-in-out 0.1s;
    transition: all 0.3s ease-in-out 0.1s;
}

.gallery-widget-style8 .lgl-item:hover .lgl-item-content {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
}

.gallery-widget-style8 .lgl-item:hover .lgl-item-media img {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
}

.gallery-widget-style8 .lgl-item:hover .lgl-item-title, .gallery-widget-style8 .lgl-item:hover .lgl-socials {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.gallery-widget-style8 .lgl-item:hover .lgl-item-info, .gallery-widget-style8 .lgl-item:hover .lgl-item-shortdescription {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.gallery-widget-style8 .lgl-item:hover .lgl-item-read-more {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

/** STYLE 9 **/
.gallery-widget-style9 .lgl-item .lgl-item-media img {
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.gallery-widget-style9 .lgl-item .lgl-item-content {
    background-color: rgba(77,44,35,0.5);
    -webkit-transform: rotate(0deg) scale(1);
    -moz-transform: rotate(0deg) scale(1);
    -o-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.gallery-widget-style9 .lgl-item:hover .lgl-item-title, .gallery-widget-style9 .lgl-item:hover .lgl-socials {
    -webkit-transform: translateY(-200px);
    -moz-transform: translateY(-200px);
    -o-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    transform: translateY(-200px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.gallery-widget-style9 .lgl-item .lgl-item-info, .gallery-widget-style9 .lgl-item .lgl-item-shortdescription {
    -webkit-transform: translateY(-200px);
    -moz-transform: translateY(-200px);
    -o-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    transform: translateY(-200px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.gallery-widget-style9 .lgl-item .lgl-item-read-more {
    -webkit-transform: translateY(-200px);
    -moz-transform: translateY(-200px);
    -o-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    transform: translateY(-200px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.gallery-widget-style9 .lgl-item:hover .lgl-item-media img {
    -webkit-transform: rotate(720deg) scale(0);
    -moz-transform: rotate(720deg) scale(0);
    -o-transform: rotate(720deg) scale(0);
    -ms-transform: rotate(720deg) scale(0);
    transform: rotate(720deg) scale(0);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}

.gallery-widget-style9 .lgl-item:hover .lgl-item-content {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: translateY(0px) rotate(0deg);
    -moz-transform: translateY(0px) rotate(0deg);
    -o-transform: translateY(0px) rotate(0deg);
    -ms-transform: translateY(0px) rotate(0deg);
    transform: translateY(0px) rotate(0deg);
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    -ms-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.gallery-widget-style9 .lgl-item:hover .lgl-item-title, .gallery-widget-style9 .lgl-item:hover .lgl-socials {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.7s;
    -moz-transition-delay: 0.7s;
    -o-transition-delay: 0.7s;
    -ms-transition-delay: 0.7s;
    transition-delay: 0.7s;
}

.gallery-widget-style9 .lgl-item:hover .lgl-item-info, .gallery-widget-style9 .lgl-item:hover .lgl-item-shortdescription {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.6s;
    -moz-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    -ms-transition-delay: 0.6s;
    transition-delay: 0.6s;
}

.gallery-widget-style9 .lgl-item:hover .lgl-item-read-more {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    -ms-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

/** STYLE 10 **/
.gallery-widget-style10 .lgl-item:hover .lgl-item-content {
    background-color: rgba(255, 255, 255, 0.7);
    top: -200px;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transition: all 0.3s ease-out 0.5s;
    -moz-transition: all 0.3s ease-out 0.5s;
    -o-transition: all 0.3s ease-out 0.5s;
    -ms-transition: all 0.3s ease-out 0.5s;
    transition: all 0.3s ease-out 0.5s;
}

.gallery-widget-style10 .lgl-item .lgl-item-title, .gallery-widget-style10 .lgl-item .lgl-socials {
    -webkit-transform: translateY(-200px);
    -moz-transform: translateY(-200px);
    -o-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    transform: translateY(-200px);
    -webkit-transition: all 0.2s ease-in-out 0.1s;
    -moz-transition: all 0.2s ease-in-out 0.1s;
    -o-transition: all 0.2s ease-in-out 0.1s;
    -ms-transition: all 0.2s ease-in-out 0.1s;
    transition: all 0.2s ease-in-out 0.1s;
}

.gallery-widget-style10 .lgl-item .lgl-item-info, .gallery-widget-style10 .lgl-item .lgl-item-shortdescription {
    color: #333;
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -o-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    transform: translateY(-300px);
    -webkit-transition: all 0.2s ease-in-out 0.2s;
    -moz-transition: all 0.2s ease-in-out 0.2s;
    -o-transition: all 0.2s ease-in-out 0.2s;
    -ms-transition: all 0.2s ease-in-out 0.2s;
    transition: all 0.2s ease-in-out 0.2s;
}

.gallery-widget-style10 .lgl-item .lgl-item-read-more {
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -o-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    transform: translateY(-300px);
    -webkit-transition: all 0.2s ease-in-out 0.3s;
    -moz-transition: all 0.2s ease-in-out 0.3s;
    -o-transition: all 0.2s ease-in-out 0.3s;
    -ms-transition: all 0.2s ease-in-out 0.3s;
    transition: all 0.2s ease-in-out 0.3s;
}

.gallery-widget-style10 .lgl-item:hover .lgl-item-content {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    top: 0px;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-animation: bounceY 0.9s linear;
    -moz-animation: bounceY 0.9s linear;
    -ms-animation: bounceY 0.9s linear;
    animation: bounceY 0.9s linear;
}

.gallery-widget-style10 .lgl-item:hover .lgl-item-title, .gallery-widget-style10 .lgl-item:hover .lgl-socials {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    -ms-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.gallery-widget-style10 .lgl-item:hover .lgl-item-info, .gallery-widget-style10 .lgl-item:hover .lgl-item-shortdescription {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.gallery-widget-style10 .lgl-item:hover .lgl-item-read-more {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
}

@keyframes bounceY {
    0% {
        transform: translateY(-205px);
    }

    40% {
        transform: translateY(-100px);
    }

    65% {
        transform: translateY(-52px);
    }

    82% {
        transform: translateY(-25px);
    }

    92% {
        transform: translateY(-12px);
    }

    55%, 75%, 87%, 97%, 100% {
        transform: translateY(0px);
    }
}

.gallery-widget-style10 .lgl-item-info-item i, .gallery-widget-style10 .lgl-item-info-item span:before, .gallery-widget-style10 .lgl-item-info-item span, .gallery-widget-style10 .lgl-item-info a {
    color: #000;
}

@-moz-keyframes bounceY {
    0% {
        -moz-transform: translateY(-205px);
    }

    40% {
        -moz-transform: translateY(-100px);
    }

    65% {
        -moz-transform: translateY(-52px);
    }

    82% {
        -moz-transform: translateY(-25px);
    }

    92% {
        -moz-transform: translateY(-12px);
    }

    55%, 75%, 87%, 97%, 100% {
        -moz-transform: translateY(0px);
    }
}

@-webkit-keyframes bounceY {
    0% {
        -webkit-transform: translateY(-205px);
    }

    40% {
        -webkit-transform: translateY(-100px);
    }

    65% {
        -webkit-transform: translateY(-52px);
    }

    82% {
        -webkit-transform: translateY(-25px);
    }

    92% {
        -webkit-transform: translateY(-12px);
    }

    55%, 75%, 87%, 97%, 100% {
        -webkit-transform: translateY(0px);
    }
}

/** STYLE 11 **/
.gallery-widget-style11 .lgl-item .mask-1, .gallery-widget-style11 .lgl-item .mask-2 {
    background-color: rgba(0, 0, 0, 0.5);
    height: 500px;
    width: 500px;
    background: rgba(119, 0, 36, 0.5);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out 0.6s;
    -moz-transition: all 0.3s ease-in-out 0.6s;
    -o-transition: all 0.3s ease-in-out 0.6s;
    transition: all 0.3s ease-in-out 0.6s;
}

.gallery-widget-style11 .lgl-item .mask-1 {
    left: auto;
    right: 0;
    -webkit-transform: rotate(56.5deg) translateX(-220px);
    -moz-transform: rotate(56.5deg) translateX(-220px);
    -o-transform: rotate(56.5deg) translateX(-220px);
    -ms-transform: rotate(56.5deg) translateX(-220px);
    transform: rotate(56.5deg) translateX(-220px);
    -webkit-transform-origin: 100% 0%;
    -moz-transform-origin: 100% 0%;
    -o-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
}

.gallery-widget-style11 .lgl-item .lgl-item-links {
    display: none;
}

.gallery-widget-style11 .lgl-item .mask-2 {
    top: auto;
    bottom: 0;
    -webkit-transform: rotate(56.5deg) translateX(220px);
    -moz-transform: rotate(56.5deg) translateX(220px);
    -o-transform: rotate(56.5deg) translateX(220px);
    -ms-transform: rotate(56.5deg) translateX(220px);
    transform: rotate(56.5deg) translateX(220px);
    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
}

.gallery-widget-style11 .lgl-item .lgl-item-content {
    background: rgba(0, 0, 0, 0.9);
    height: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
    width: 461px;
    overflow: hidden;
    -webkit-transform: rotate(-33.5deg) translate(-112px, 166px);
    -moz-transform: rotate(-33.5deg) translate(-112px, 166px);
    -o-transform: rotate(-33.5deg) translate(-112px, 166px);
    -ms-transform: rotate(-33.5deg) translate(-112px, 166px);
    transform: rotate(-33.5deg) translate(-112px, 166px);
    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transition: all 0.4s ease-in-out 0.3s;
    -moz-transition: all 0.4s ease-in-out 0.3s;
    -o-transition: all 0.4s ease-in-out 0.3s;
    transition: all 0.4s ease-in-out 0.3s;
}

.gallery-widget-style11 .lgl-item .lgl-item-title {
    background: transparent;
    margin-top: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.gallery-widget-style11 .lgl-item .lgl-item-read-more {
    display: none;
}

.gallery-widget-style11 .lgl-item:hover .lgl-item-content {
    height: 200px;
    width: 400px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    opacity: 0.9;
    top: 40px;
    -webkit-transform: rotate(0deg) translate(0, 0);
    -moz-transform: rotate(0deg) translate(0, 0);
    -o-transform: rotate(0deg) translate(0, 0);
    -ms-transform: rotate(0deg) translate(0, 0);
    transform: rotate(0deg) translate(0, 0);
}

.gallery-widget-style11 .lgl-item:hover .mask-1, .gallery-widget-style11 .lgl-item:hover .mask-2 {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

.gallery-widget-style11 .lgl-item:hover .mask-1 {
    -webkit-transform: rotate(56.5deg) translateX(1px);
    -moz-transform: rotate(56.5deg) translateX(1px);
    -o-transform: rotate(56.5deg) translateX(1px);
    -ms-transform: rotate(56.5deg) translateX(1px);
    transform: rotate(56.5deg) translateX(1px);
}

.gallery-widget-style11 .lgl-item:hover .mask-2 {
    -webkit-transform: rotate(56.5deg) translateX(-1px);
    -moz-transform: rotate(56.5deg) translateX(-1px);
    -o-transform: rotate(56.5deg) translateX(-1px);
    -ms-transform: rotate(56.5deg) translateX(-1px);
    transform: rotate(56.5deg) translateX(-1px);
}

/** STYPE 12 **/
.gallery-widget-style12 .lgl-item .lgl-item-media img {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

.gallery-widget-style12 .lgl-item .lgl-item-content .mask {
    background-color: rgba(255, 231, 179, 0.3);
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}

.gallery-widget-style12 .lgl-item .lgl-item-title, .gallery-widget-style12 .lgl-item .lgl-socials {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    color: #333;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}

.gallery-widget-style12 .lgl-item .lgl-item-info, .gallery-widget-style12 .lgl-item .lgl-item-shortdescription {
    color: #333;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.gallery-widget-style12 .lgl-item .lgl-item-read-more {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.gallery-widget-style12 .lgl-item:hover .lgl-item-media img {
    -webkit-transform: scale(10);
    -moz-transform: scale(10);
    -o-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}

.gallery-widget-style12 .lgl-item:hover .lgl-item-content {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.gallery-widget-style12 .lgl-item:hover .lgl-item-title, .gallery-widget-style12 .lgl-item:hover .lgl-socials, .gallery-widget-style12 .lgl-item:hover .lgl-item-info, .gallery-widget-style12 .lgl-item:hover .lgl-item-shortdescription, .gallery-widget-style12 .lgl-item:hover .lgl-item-read-more {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    color: #000
}

.gallery-widget-style12 .lgl-item .lgl-socials {
    border-bottom: 0
}

.gallery-widget-style12 .lgl-item:hover .lgl-item-info i, .gallery-widget-style12 .lgl-item:hover .lgl-item-info-item:before, .gallery-widget-style12 .lgl-item:hover .lgl-item-info span, .gallery-widget-style12 .lgl-item:hover .lgl-item-info a, .gallery-widget-style12 .lgl-item:hover .lgl-item-title a {
    color: #000
}

/* 3D */
* {
    /* box-sizing: border-box; */
}

.gallery-widget-3d .lgl-item .lgl-item-links {
    display: none;
}
.gallery-widget-3d .lgl-item-read-more a,
.gallery-widget-3d .lgl-item .lgl-item-info .lgl-item-info-item, .gallery-widget-3d .lgl-item .lgl-item-info a, .gallery-widget-3d .lgl-item .lgl-item-title a, .gallery-widget-3d .lgl-item .lgl-item-shortdescription {
    color: #FFF;
}
.gallery-widget-3d .lgl-item > div {
    -webkit-perspective: 800px;
    perspective: 800px;
}
.gallery-widget-3d .lgl-item-read-more a {
    border: 1px solid #FFF;
    padding: 7px 14px;
}

.gallery-widget-3d .lgl-item div[data-gallery3d="true"] {
    -webkit-perspective: 400px;
    perspective: 400px;
    position: relative;
    float: left;
    margin: 5px;
    padding: 0;
    list-style: none;
    cursor: pointer
}

.gallery-widget-3d .lgl-item .lgl-item-content {
    -webkit-transform: rotate3d(1, 0, 0, 90deg);
    transform: rotate3d(1, 0, 0, 90deg);
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    pointer-events: none;
    background-color: rgba(26, 188, 156, 0.9);
    box-sizing: border-box;
    background-color: #4CAF50;
    z-index: 99;
}

.gallery-widget-3d .in-top .lgl-item-content {
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-animation: in-top 300ms ease 0ms 1 forwards;
    animation: in-top 300ms ease 0ms 1 forwards;
}

.gallery-widget-3d .in-right .lgl-item-content {
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    -webkit-animation: in-right 300ms ease 0ms 1 forwards;
    animation: in-right 300ms ease 0ms 1 forwards;
}

.gallery-widget-3d .in-bottom .lgl-item-content {
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-animation: in-bottom 300ms ease 0ms 1 forwards;
    ds; */ animation: in-bottom 300ms ease 0ms 1 forwards;
    z-index: 99;
}

.gallery-widget-3d .in-left .lgl-item-content {
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-animation: in-left 300ms ease 0ms 1 forwards;
    animation: in-left 300ms ease 0ms 1 forwards;
}

.gallery-widget-3d .out-top .lgl-item-content {
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-animation: out-top 300ms ease 0ms 1 forwards;
    animation: out-top 300ms ease 0ms 1 forwards;
}

.gallery-widget-3d .out-right .lgl-item-content {
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-animation: out-right 300ms ease 0ms 1 forwards;
    animation: out-right 300ms ease 0ms 1 forwards;
}

.gallery-widget-3d .out-bottom .lgl-item-content {
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-animation: out-bottom 300ms ease 0ms 1 forwards;
    animation: out-bottom 300ms ease 0ms 1 forwards;
}

.gallery-widget-3d .out-left .lgl-item-content {
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-animation: out-left 300ms ease 0ms 1 forwards;
    animation: out-left 300ms ease 0ms 1 forwards;
}

.gallery-widget.gallery-widget-3d, .gallery-widget-3d .lgl-items, .gallery-widget-3d .lgl-items .row > div, .gallery-widget-3d .lgl-items .lgl-item {
    position: static;
}

.gallery-widget-3d .lgl-items .lgl-item .lgl-item-inner {
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 0!important;
}

.gallery-widget-3d .lgl-items .row {
   margin-bottom: 10px
}

.gallery-widget-3d .row {
    margin-right: -5px;
    margin-left: -5px;
}

.gallery-widget-3d .row > div {
    padding-right: 5px;
    padding-left: 5px;
}

@-webkit-keyframes in-top {
    from {
        -webkit-transform: rotate3d(-1, 0, 0, 90deg);
        transform: rotate3d(-1, 0, 0, 90deg);
    }

    to {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg);
    }
}

@keyframes in-top {
    from {
        -webkit-transform: rotate3d(-1, 0, 0, 90deg);
        transform: rotate3d(-1, 0, 0, 90deg);
    }

    to {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg);
    }
}

@-webkit-keyframes in-right {
    from {
        -webkit-transform: rotate3d(0, -1, 0, 90deg);
        transform: rotate3d(0, -1, 0, 90deg);
    }

    to {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg);
    }
}

@keyframes in-right {
    from {
        -webkit-transform: rotate3d(0, -1, 0, 90deg);
        transform: rotate3d(0, -1, 0, 90deg);
    }

    to {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg);
    }
}

@-webkit-keyframes in-bottom {
    from {
        -webkit-transform: rotate3d(1, 0, 0, 90deg);
        transform: rotate3d(1, 0, 0, 90deg);
    }

    to {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg);
    }
}

@keyframes in-bottom {
    from {
        -webkit-transform: rotate3d(1, 0, 0, 90deg);
        transform: rotate3d(1, 0, 0, 90deg);
    }

    to {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg);
    }
}

@-webkit-keyframes in-left {
    from {
        -webkit-transform: rotate3d(0, 1, 0, 90deg);
        transform: rotate3d(0, 1, 0, 90deg);
    }

    to {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg);
    }
}

@keyframes in-left {
    from {
        -webkit-transform: rotate3d(0, 1, 0, 90deg);
        transform: rotate3d(0, 1, 0, 90deg);
    }

    to {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg);
    }
}

@-webkit-keyframes out-top {
    from {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg);
    }

    to {
        -webkit-transform: rotate3d(-1, 0, 0, 104deg);
        transform: rotate3d(-1, 0, 0, 104deg);
    }
}

@keyframes out-top {
    from {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg);
    }

    to {
        -webkit-transform: rotate3d(-1, 0, 0, 104deg);
        transform: rotate3d(-1, 0, 0, 104deg);
    }
}

@-webkit-keyframes out-right {
    from {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg);
    }

    to {
        -webkit-transform: rotate3d(0, -1, 0, 104deg);
        transform: rotate3d(0, -1, 0, 104deg);
    }
}

@keyframes out-right {
    from {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg);
    }

    to {
        -webkit-transform: rotate3d(0, -1, 0, 104deg);
        transform: rotate3d(0, -1, 0, 104deg);
    }
}

@-webkit-keyframes out-bottom {
    from {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg);
    }

    to {
        -webkit-transform: rotate3d(1, 0, 0, 104deg);
        transform: rotate3d(1, 0, 0, 104deg);
    }
}

@keyframes out-bottom {
    from {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg);
    }

    to {
        -webkit-transform: rotate3d(1, 0, 0, 104deg);
        transform: rotate3d(1, 0, 0, 104deg);
    }
}

@-webkit-keyframes out-left {
    from {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg);
    }

    to {
        -webkit-transform: rotate3d(0, 1, 0, 104deg);
        transform: rotate3d(0, 1, 0, 104deg);
    }
}

@keyframes out-left {
    from {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg);
    }

    to {
        -webkit-transform: rotate3d(0, 1, 0, 104deg);
        transform: rotate3d(0, 1, 0, 104deg);
    }
}

/** STYPE 13 **/
.gallery-widget-style13.gallery-widget-style7 .lgl-item .lgl-item-content {
        -webkit-transform: translateX(400px);
    -moz-transform: translateX(400px);
    -o-transform: translateX(400px);
    -ms-transform: translateX(400px);
    transform: translateX(400px);
}
.gallery-widget-style13.gallery-widget-style7 .lgl-item:hover .lgl-item-media img {
    -webkit-transform: translateX(-400px);
    -moz-transform: translateX(-400px);
    -o-transform: translateX(-400px);
    -ms-transform: translateX(-400px);
    transform: translateX(-400px);
}
.gallery-widget-style13.gallery-widget-style7 .lgl-item:hover .lgl-item-content {
    -webkit-transform: translateX(0px);
    moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}


/** STYPE 14 **/
.gallery-widget-style14 .lgl-item .mask-1 {
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border: 3px solid #444;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    z-index: 99;
}

.gallery-widget-style14 .lgl-item:hover .mask-1 {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
}

.gallery-widget-style14 .lgl-item .mask-2 {
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border: 3px solid #444;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background-color: #fff;
    z-index: 99;
    box-shadow: 0px 0px 5px 1px #999;
}

.gallery-widget-style14 .lgl-item:hover .mask-2 {
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
}
.gallery-widget-style14 .lgl-item {
    padding: 0 10px;
    overflow: visible;
}
.gallery-widget-style14 .lgl-items .lgl-item .lgl-item-media .lgl-item-media-inner{
    position: absolute;
    z-index: 999;
    /* overflow: hidden; */
}

.gallery-widget-style14 .lgl-items .lgl-item .lgl-item-media img {
    transition: all 0.6s ease;
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale3d(1) rotate(0deg);
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.6063000000000001 0.3576 0.0361 0 0 0.1063 0.8575999999999999 0.0361 0 0 0.1063 0.3576 0.5361 0 0 0 0 0 1 0" /></filter></svg>#filter');
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
    -webkit-filter: gray;
    filter: gray;
}
.gallery-widget-style14 .lgl-items .lgl-item:hover .lgl-item-media img {
    -webkit-transform: scale(0.98) rotate(-1deg);
    transform: scale(0.99) rotate(-1deg);
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0" /></filter></svg>#filter');
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    padding: 4px;
}

.gallery-widget-style14 .lgl-items .lgl-item .lgl-item-title {
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    width: 90%;
    padding: 10px 5px;
    background: rgba(255, 255, 255, 0.85);
    color: #444;
    text-align: center;
}

.gallery-widget-style14 .lgl-items .lgl-item .lgl-item-media {
    position: static
}
.gallery-block.block .block-content{
    background: none;
}
.gallery-block .block-title{
    background: none;   
}
.gallery-block .block-title strong{
    padding:0 5px;  
    background: none;
}
.gallerysearch-inner .search-field{
    height:32px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}
.gallery-block.block-gallerysearch .gallerysearch-inner button{
    background: #000;
}
.gallery-block.block-gallerysearch .gallerysearch-inner button .fa-search{
    color:#fff;
}
.gallery-block a:hover{
    color:#414042;
}
.gallery-block.block .block-content{
    border-bottom:4px solid #808080;
}
.lgl-items .lgl-item .lgl-item-title a:hover{
    color:#808080;
}
.gallery-block .lgl-items .lgl-item-shortdescription{
    margin:5px 0px;
}

.lofgallery-album-view #maincontent{
    max-width: 100%;
    padding:0px;
}
.lofgallery-album-view  .page-title-wrapper{
    display: none;
}
.lgl-socials{
    float:left;
    padding-top: 5px;
}
.addthis_button_twitter,.addthis_button_google,.addthis_button_compact{
    display: none;
}
.gallery-album .ias-noneleft, #gallery-albums .ias-noneleft{
    display: none!important;
}
.gallery-album .album-description{
    clear: both;
}
.album-info{
    float: right;
    text-align: right;
    width:360px;
}
.album-info .authentication-wrapper{
    max-width: 100%;
    float:right;
    width: auto;
}
/*Start  LookBook Page ========================================================*/
.album-info .authentication-wrapper .action-auth-toggle span{
    font-size:15px;
}
.album-info:after,.wrap-toolbar:after{
    clear: both;
    display: table;
    content:'';
}
#lookbook{
    text-align: center;
    padding:0px 10px;
    max-width: 1380px;
    margin: 0 auto;
    background:#fff;
    position: relative;
}
#lookbook:after{
    content:'';
    display: table;
    clear: both;
}
.banner-lookbook{
    height:600px;
     width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 100%;
    position: relative;
    font-size:0px;
}
.wrapper-lookbook{
    width: 100%;
    margin: 0 auto;
    margin-top:-195px;
    background: #fff;
    padding:42px 10px 25px;
    position: relative;
}
.wrapper-lookbook h1{
    position: relative;
    font-size:32px;
    padding-bottom: 10px;   
}
.wrapper-lookbook .infor{
    max-width: 860px;
    margin: 0 auto;
}
.wrapper-lookbook .infor p{
    font-family: 'futura-book';
}

.wrap-toolbar{
    width:100%;
}
.wrap-toolbar .filter-toolbar{
    float:left;
    text-align: left;
    width: initial!important;
}

.wrap-toolbar .select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}
.wrap-toolbar .authentication-dropdown{
    width:400px;
    right:0px;
}
.wrap-toolbar .select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #fff;
  min-width: 148px;
  height: 40px;
  float: left;
  text-align: left;
  white-space: nowrap;
}

.wrap-toolbar .select-styled {
  position: absolute;
  top: 9px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 8px 15px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.wrap-toolbar .select-styled >span{
    position: relative;
    display: inline-block;
    width: auto;
    padding-right: 25px;
}
.wrap-toolbar .select-styled >span:after {
    content: '\f813';
    display: inline-block;
    font-family: 'porto-icons';
    vertical-align: top;
    position: absolute;
    right:0px;
    top:0px;
}

.wrap-toolbar .select-styled >span:active:after, .select-styled >span.active:after {
 content:'\f800';
}

.wrap-toolbar .select-options {
  display: none;
  position: absolute;
  top: 121%;
  right: 0;
  left: 0;
  z-index: 90;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #edeeee;
  min-width:184px!important;
}
.wrap-toolbar .select-options li {
  margin: 0;
  padding: 10px 0;
  text-indent: 15px;
  border-top: 1px solid #c1c2c2;
  border-left: 1px solid #c1c2c2;
  border-right: 1px solid #c1c2c2;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  color: #414042;
}
.wrap-toolbar .select-options li:last-of-type{
    border-bottom: 1px solid #c1c2c2;
}
.wrap-toolbar .select-options li[rel="hide"] {
  display: none;
}
.item-inner-social{
    position: relative;
}
.item-inner-social .postion-socials{
    position: absolute;
    top: 0px;
    left: 13px;
    z-index: 89;

}
.gallery-album-image .postion-socials{
    top:14px;   
}
.item-inner-social span.icon-social{
    width:22px;
    height: 17px;
    display: inline-block;
    background:url('../images/lookbook-fb-icon.svg');
    background-repeat: no-repeat;
}
.gallery-album-image span.icon-social{
    width:42px;
    height:33px;
}
.item-inner-social span.icon-email{
    background-image:url('../images/lookbook-mail-icon.svg');
}
.item-inner-social span.icon-pinterest{
    background-image:url('../images/lookbook-pinterest-icon.svg');
}
/*End  LookBook Page ========================================================*/
@media (max-width: 1400px){
  #lookbook{
    width:1170px;
  }
}
@media (max-width: 1199px){
     #lookbook{
        width:970px;
      }
}
@media (max-width: 1024px){
    .lgl-socials{
        margin-left: 15px;
    }
    .album-info{
        margin-right: 15px;
    }
}
@media (max-width: 991px){
      #lookbook{
        width:700px;
      }
}
@media (max-width: 767px){
      #lookbook{
        width:80%;
      }
      .wrapper-lookbook{
        margin-top: -50px;
      }
      .banner-lookbook{
        height:320px;
      }
      .lofgallery-album-view #maincontent{
        width: 100%;
      }
      .lgl-socials{
        float: none;
      }
      .album-info{
        float: none;
        text-align: left;
        width:100%;
      }
      .lgl-socials{
        margin-left: 0px;
      }
      .wrap-toolbar .select-styled{
        padding:0px;
      }
}
@media (max-width: 479px){
    #lookbook{
        width:320px;
      }
      .album-info .authentication-wrapper{
        float:none;
        margin: 0px;
        clear: both;
      }
}