<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<?php
/** @var $block \Magento\ConfigurableProduct\Block\Product\View\Type\Configurable*/
$_product    = $block->getProduct();
$_attributes = $block->decorateArray($block->getAllowAttributes());
$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();    

?>

<?php if ($_product->isSaleable() && count($_attributes)):?>
    <div class="select-pro">
        <table class="table table-hover small u-divide-bottom">
            <caption class="sr-only">Product Options</caption>
              <thead>
                <tr>
                <?php
                    $productAttributeOptions = $_product->getTypeInstance(true)->getConfigurableAttributesAsArray($_product);
                    $attributeOptions = array();
                    foreach ($productAttributeOptions as $productAttribute) {?>
                        <?php $getAttribute[] = $productAttribute['attribute_code'];?>
                       <th><?php echo $productAttribute['store_label']; ?></th> 
                   <?php }?>       
                   <?php if(!in_array("dimmable",$getAttribute)){?> 
                      <th><?php echo __('Dimmable') ?></th>
                   <?php }?>   
                    <th><?php echo __('Price') ?></th>
                    <th><?php echo __('Quantity') ?></th>
                    <th class="hidden-xs"><?php echo __('Stock') ?></th>
                </tr>
            </thead>
            <?php
            $attributes = $_product->getTypeInstance(true)->getConfigurableAttributes($_product);
            ?>
            <tbody>
            <?php
             //get all simple products
            $_allSubProducts = $_product->getTypeInstance()->getUsedProducts($_product);
            $count = 1;
            $num = 0;
            $data = array();
                foreach ($_allSubProducts as $sProduct){
                    $pr = $_objectManager->get('\Magento\Catalog\Model\Product')->load($sProduct->getId());
                    $child_dimmable =  $pr->getAttributeText('dimmable');
                    $show_lightcolor =  $pr->getAttributeText('lightcolour');
                    $priceHelper = $_objectManager->create('Magento\Framework\Pricing\Helper\Data'); // Instance of Pricing Helper
                    $child_price = $sProduct->getPriceInfo()->getPrice('final_price')->getAmount()->getValue();
                    $child_price = number_format((float)round($child_price,2),2);

                    $stockRegistry = $_objectManager->get('Magento\CatalogInventory\Api\StockRegistryInterface');
                    $stockitem = $stockRegistry->getStockItem($sProduct->getId(),$sProduct->getStore()->getWebsiteId());
                    //echo $show_lightcolor;
                    foreach ($attributes as $attribute) {
                            //get the value for a specific attribute for a simple product
                            $value = $sProduct->getData($attribute->getProductAttribute()->getAttributeCode());
                           
                            $attributeCode = $attribute->getProductAttribute()->getAttributeCode();
                            $show_dimmable = $sProduct->getAttributeText($attributeCode) . " ";
                            $data[$attribute->getAttributeId()] = $sProduct->getData($attributeCode);
                        }
                        ?>
                        <?php 
                            $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                            $StockState = $objectManager->get('\Magento\CatalogInventory\Api\StockStateInterface');
                            $stock_qty = $StockState->getStockQty($sProduct->getId());
                            if ($stock_qty>0) {
                                $in_stock = 2;
                            } else {
                                $in_stock = 0;
                            }
                            if($stock_qty > 0 ){
                                if ($stock_qty < 1000) {
                                    $stock = __('In stock %1', $stock_qty);
                                } elseif ($stock_qty >= 1000) {
                                    $stock = __('In stock 1000pc+');
                                } else {
                                    $stock = round($stock_qty, 0);
                                }
                            }else {
                                if($stockitem){
                                    if($stockitem->getBackorders()===0){
                                        $stock = __('Out of Stock');
                                    }else{
                                        $stock = "<a href='/contact/' class='red'>" . __('Back-order') . "</a>";
                                    }  
                                }else{
                                    $stock = __('Out of Stock');
                                }
                                
                            }

                        ?>
            <?php if($sProduct->isSaleable()):?>
                <tr class="configurable-product-option" data-stock="<?php echo $stock; ?>">
                     <?php
                        foreach ($attributes as $attribute) {
                            //get the value for a specific attribute for a simple product
                            $value = $sProduct->getData($attribute->getProductAttribute()->getAttributeCode());
                            $attributeCode = $attribute->getProductAttribute()->getAttributeCode();
                            $show_dimmable = $sProduct->getAttributeText($attributeCode) . " ";?>
                            <td>
                                <?php
                                $dimmable = 'No';
                                    if (trim($show_dimmable) == __('Dimmable')) {
                                        echo __('Yes');
                                    } else if(trim($show_dimmable) == __('Non Dimmable')) {
                                        echo __('No');
                                    }else{
                                        echo __($show_dimmable);
                                    }
                                ?>

                            </td>
                        <?php }?>
                    <?php if(!in_array("dimmable",$getAttribute)){?> 
                      <td><?php
                                    if (trim($child_dimmable) == __('Dimmable')) {
                                        echo __('Yes');
                                    }else{
                                        echo __('No');
                                    }
                                ?></td>
                   <?php }?> 
                    <td><?php echo $_objectManager->get('\Magento\Framework\Pricing\PriceCurrencyInterface')->format($child_price,false,2);?></td>
                    <td class="qty-product sp-quantity new-quantity">
                        <span class="qty-addon minus">-</span>
                            <input type="number" name="qty_multi[<?php echo $num+=1; ?>]" id="qty_<?php echo $num?>" maxlength="12" value="0" title="Qty" class="input-text form-control qty quantity-input">
                        <?php foreach ($data as $attId => $codeVal) : ?>    
                            <input type="hidden" name="data_qty[<?php echo $count; ?>][<?php echo $attId; ?>]" id="data_qty_<?php echo $attId . '_' . $codeVal; ?>" maxlength="12" value="<?php echo $codeVal; ?>" />
                            <input type="hidden" name ="super_attribute[<?php echo $attId ?>]" id="super-attribute-<?php echo $attId ?>" value="<?php echo $codeVal; ?>" />
                        <?php endforeach; ?>
                        <span class="qty-addon plus">+</span>
                    </td>
                    <td class="hidden-phone"><?php echo $stock;?></td>
                </tr>
            <?php 
                $count++;
                endif;?>
            <?php   }?>
            </tbody>
        </table>
        <style type="text/css">
            .validation-advice {
                color: #ff6f69;
                font-weight: 300;
            }
            .hide{
                display: none;
            }
        </style>
        <div class="validation-advice required-msg pull-right hide"><?php echo __('Please Select Quantity and/or Colour Option Above.') ?></div>
        <div class="validation-advice numberic-msg pull-right hide"><?php echo __('Quantity value must be numberic.') ?></div>
    </div>
    <script type="text/x-magento-init">
            {
                "#product_addtocart_form": {
                    "configurable": {
                        "spConfig": <?= /* @escapeNotVerified */ $block->getJsonConfig() ?>,
                        "gallerySwitchStrategy": "<?php /* @escapeNotVerified */ echo $block->getVar('gallery_switch_strategy',
                            'Magento_ConfigurableProduct') ?: 'replace'; ?>"
                    }
                }
            }
    </script>
    <script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/js/validate-product": {
                
            }
        }
    }
    </script>
<?php endif;?>