<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$currencyFormat = $objectManager->get('\Magento\Framework\Pricing\PriceCurrencyInterface');
$product = $block->getSaleableItem();
?>

<?php
//get all options of product
    $optionsCollection = $product->getTypeInstance(true)
        ->getOptionsCollection($product);
    $optionId = [];
    if($optionsCollection){
        foreach ($optionsCollection as $options) {
           if($options->getRequired()=="1"){
                $optionId[] =  $options->getOptionId();
           }
        }
        $selectionCollection = $product->getTypeInstance(true)
            ->getSelectionsCollection(
                $product->getTypeInstance(true)->getOptionsIds($product),
                $product
            );
        $optionPrice = [];
        $minPrice = 0;
        foreach ($selectionCollection as $proselection) {
            if(in_array($proselection->getOptionId(),$optionId)){
                $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                $product_obj = $objectManager->create('Magento\Catalog\Model\Product')->load($proselection->getProductId());                
                $tier_price = $product_obj->getTierPrice();
                if(!is_null($product_obj->getSpecialPrice())){
                    $optionPrice[$proselection->getOptionId()]['price'][] = $product_obj->getSpecialPrice();
                }              
            }
        }
        foreach($optionPrice as $key =>$selection){
            $minPrice += (float)min(array_filter($selection['price']));
        }
    }

?>
<?php

$idSuffix = $block->getIdSuffix() ? $block->getIdSuffix() : '';
/** @var \Magento\Bundle\Pricing\Render\FinalPriceBox $block */

/** @var \Magento\Bundle\Pricing\Price\FinalPrice $finalPriceModel */
$finalPriceModel = $block->getPrice();
$minimalPrice = $finalPriceModel->getMinimalPrice();
$maximalPrice = $finalPriceModel->getMaximalPrice();
/** ex: \Magento\Bundle\Pricing\Price\BundleRegularPrice */
/** @var \Magento\Framework\Pricing\Price\PriceInterface $regularPriceModel */
$regularPriceModel = $block->getPriceType('regular_price');
$maximalRegularPrice = $regularPriceModel->getMaximalPrice();
$minimalRegularPrice = $regularPriceModel->getMinimalPrice();

//custom convert get miniprice
$coverPrice =  (array)$minimalPrice;
$showMinPrice = $product->getPriceInfo()->getPrice('final_price')->getAmount()->getBaseAmount();
?>
<?php
    $displayRegularPrice = $block->getPriceType('regular_price')->getAmount()->getValue();
    $displayFinalPrice = $block->getPriceType('final_price')->getAmount()->getValue();
    $hasSpecialPrice = $displayFinalPrice < $displayRegularPrice;
?>
<?php if(!$hasSpecialPrice):?>
 <div class="price-exclude-custom" data-label="ex. VAT"><?php echo $currencyFormat->format((float)$product->getPriceInfo()->getPrice('regular_price')->getAmount()->getBaseAmount(),false,2);?></div>
 <?php endif ?>  
<?php if ($block->getSaleableItem()->getPriceView()): ?>
      <?php if ($minimalPrice >= $minimalRegularPrice): ?>
        <div class="not-show-aslowas">
            <?php /* @escapeNotVerified */ echo $block->renderAmount($minimalPrice, [
                'price_id'          => $block->getPriceId('from-'),
                'include_container' => true,
                'skip_adjustments'  => false
            ]); ?>
        </div>
    <?php else: ?>
        <?php 
            $getPrice = $block->renderAmount($minimalPrice);
        ?>
        <?php if($hasSpecialPrice):?>
             <?php if($minPrice ==$showMinPrice && $minPrice!==0):?>               
                <div class="show-bottom-price discount-price special-offer-left">
                    <span class="label-old-price"><?php echo __('Was');?></span>
                     <span class="old-price  sly-old-price">
                        <?php /* @escapeNotVerified */ echo $block->renderAmount($minimalRegularPrice, [
                            'price_id'          => $block->getPriceId('old-price-' . $idSuffix),
                            'include_container' => true,
                            'price_type'        => 'oldPrice',
                            'skip_adjustments'  => false
                        ]); ?>
                    </span>
                    <span class="special-price">
                          <?php /* @escapeNotVerified */ echo $block->renderAmount($minimalPrice, [
                              'display_label'     => __('Special Price'),
                              'price_id'          => $block->getPriceId('product-price-' . $idSuffix),
                              'price_type'        => 'finalPrice',
                              'include_container' => true
                              
                          ]); ?>
                      </span>
                </div>
                <div class="special-offer-right">
                  <span class=""><?php echo __('Special offer item');?></span>
                </div>
                <?php else: ?>
                    <div class="price-exclude-custom tierprice" data-label="ex. VAT"><?php echo $currencyFormat->format((float)$product->getPriceInfo()->getPrice('regular_price')->getAmount()->getBaseAmount(),false,2);?></div>
                    <div class="show-aslowas">
                        <span class="old-price">
                            <?php /* @escapeNotVerified */ echo $block->renderAmount($minimalRegularPrice, [
                                'price_id'          => $block->getPriceId('old-price-' . $idSuffix),
                                'include_container' => true,
                                'skip_adjustments'  => false
                            ]); ?>
                        </span>
                    </div>  
                    <div class="show-bottom-price"><span class="price-label"><?php echo __('As low as');?></span><?php echo $block->renderAmount($minimalPrice, [
                        'price_id'          => $block->getPriceId('from-'),
                        'price_type'        => 'minPrice',
                        'include_container' => true,
                        'skip_adjustments'  => false
                ]); ?></div>     
            <?php endif ?>      
        <?php else: ?>
            <div class="not-show-aslowas">
                <span class="old-price">
                    <?php /* @escapeNotVerified */ echo $block->renderAmount($minimalRegularPrice, [
                        'price_id'          => $block->getPriceId('old-price-' . $idSuffix),
                        'include_container' => true,
                        'skip_adjustments'  => true
                    ]); ?>
                </span>
            </div>
        <?php endif ?>      
        
        <?php endif ?>
<?php else: ?>
         <?php if ($minimalPrice >= $minimalRegularPrice): ?>
             <div class="not-show-aslowas">
            <?php /* @escapeNotVerified */ echo $block->renderAmount($minimalPrice, [
                'price_id'          => $block->getPriceId('product-price-'),
                'price_type'        => 'finalPrice',
                'include_container' => true
            ]); ?>
            </div>
        <?php endif;?>
        <?php if ($minimalPrice < $minimalRegularPrice): ?>
        <?php 
            $getPrice = $block->renderAmount($minimalPrice);
        ?>
            <?php if($hasSpecialPrice):?>     
                
                <?php if($minPrice ==$showMinPrice && $minPrice!==0):?>               
                    <div class="show-bottom-price discount-price special-offer-left">
                        <span class="label-old-price"><?php echo __('Was');?></span>
                        <span class="old-price sly-old-price">
                            <?php /* @escapeNotVerified */ echo $block->renderAmount($minimalRegularPrice, [
                                'price_id'          => $block->getPriceId('old-price-' . $idSuffix),
                                'include_container' => true,
                                'price_type'        => 'oldPrice',
                                'skip_adjustments'  => false
                            ]); ?>
                        </span>
                        <span class="special-price">
                              <?php /* @escapeNotVerified */ echo $block->renderAmount($minimalPrice, [
                                  'display_label'     => __('Special Price'),
                                  'price_id'          => $block->getPriceId('product-price-' . $idSuffix),
                                  'price_type'        => 'finalPrice',
                                  'include_container' => true
                                  
                              ]); ?>
                          </span>
                    </div>
                    <div class="special-offer-right">
                      <span class=""><?php echo __('Special offer item');?></span>
                    </div>
                 <?php else:?>
                    <div class="price-exclude-custom tierprice" data-label="ex. VAT"><?php echo $currencyFormat->format((float)$product->getPriceInfo()->getPrice('regular_price')->getAmount()->getBaseAmount(),false,2);?></div>
                    <div class="show-aslowas">
                        <span class="old-price">
                            <?php /* @escapeNotVerified */ echo $block->renderAmount($minimalRegularPrice, [
                                'price_id'          => $block->getPriceId('old-price-' . $idSuffix),
                                'include_container' => true,
                                'skip_adjustments'  => false
                            ]); ?>
                        </span>
                    </div>  
                    <div class="show-bottom-price"><span class="price-label"><?php echo __('As low as');?></span><?php echo $block->renderAmount($minimalPrice, [
                        'price_id'          => $block->getPriceId('from-'),
                        'price_type'        => 'minPrice',
                        'include_container' => true,
                        'skip_adjustments'  => false
                ]); ?></div> 
                 <?php endif;?>
            <?php else:?>
                <div class="not-show-aslowas">
                    <span class="old-price">
                        <?php /* @escapeNotVerified */ echo $block->renderAmount($minimalRegularPrice, [
                            'price_id'          => $block->getPriceId('old-price-' . $idSuffix),
                            'include_container' => true,
                            'skip_adjustments'  => false
                        ]); ?>
                    </span>
                </div>  
            <?php endif ?> 
            
        <?php endif ?>

<?php endif ?>

