<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<?php
/** @var \Magento\Framework\Pricing\Render\PriceBox $block */

/** @var \Magento\Bundle\Pricing\Price\TierPrice $tierPriceModel */
$tierPriceModel = $block->getPrice();
$tierPrices = $tierPriceModel->getTierPriceList();
?>
<?php if (count($tierPrices)) : ?>
<div class="table-save-price">
<div class="tierpries-wapper">
    <div class='table-tierprice'>   
         <h4 class="table-tierprice-title"><?php echo __('Bulk Buy Savings!')?></h4>
    </div>
    <table class="prices-saving">
        <tr>
            <th><?php echo __('Buy'); ?></th>
            <th><?php echo __('Save'); ?></th>
        </tr>
        <?php foreach ($tierPrices as $index => $price) : ?>
            <tr class="item">
                
                <td> <?php echo '> '.($price['price_qty']-1).' ';echo __('items');?></td>
                <td><?php echo round($price['percentage_value']).'%';?></td>
            </tr>
        <?php endforeach; ?>
    </table>
<?php 

$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
$currency = $objectManager->get('\Magento\Directory\Model\Currency');
?>

</div>

<br style="clear:both"/>
</div>
<?php endif; ?>
