/**
 *
 * CART2QUOTE CONFIDENTIAL
 * __________________
 *
 *  [2009] - [2017] Cart2Quote B.V.
 *  All Rights Reserved.
 *
 * NOTICE OF LICENSE
 *
 * All information contained herein is, and remains
 * the property of Cart2Quote B.V. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Cart2Quote B.V.
 * and its suppliers and may be covered by European and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Cart2Quote B.V.
 *
 * @category    Cart2Quote
 * @package     SalesRep
 * @copyright   Copyright (c) 2017 Cart2Quote B.V. (https://www.cart2quote.com)
 * @license     https://www.cart2quote.com/ordering-licenses(https://www.cart2quote.com)
 */

.salesrep-assign{
    display: block;
}

.salesrep-field-header{
    width: 50%;
}

.salesrep-role {
    display: block;
}

.salesrep-name{
    display: block;
}

.salesrep-name {
    font-weight: bold;
}

.salesrep-details {
    display: inline-block;
}

.salesrep-icon:before{
    color: #41362f;
    content: '\e600';
    font-size: 2.5rem;
    left: 1.1rem;
    margin-top: -1.1rem;
    top: 50%;
    -webkit-font-smoothing: antialiased;
    font-family: 'Admin Icons';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
}

.salesrep-title-td{
    padding: 30px 0 15px 0 !important;
}

.salesrep-title{
    margin-bottom: 0;
}