<?php
/** @var Mirasvit\Helpdesk\Block\Contact\Form $block */
$config = $block->getConfig();
$customer = $block->getCustomer();
$helpText = $block->getHelpText();
?>
<div id="hdmx__contact-popup" class="hdmx__contact-popup" style="display: none;">
    <div class="hdmx__wrapper">
        <?php if ($block->isKbEnabled()): ?>
            <?= $block->getKbBlock()->toHtml() ?>
        <?php endif ?>
        <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('phone-contact')->toHtml();?>
        <form action="<?= $block->getPostUrl() ?>" method="POST" data-id="hdmx__contact-form"
              class="hdmx__contact-form helpdesk-contact-form"
              enctype="multipart/form-data" data-mage-init='{"validation":{}}'>

            <?= $block->getBlockHtml('formkey') ?>

            <button type="button" class="action close">
                <span>&times;</span>
            </button>
             <input type="hidden" name="subject" class="input-text subject" data-id="subject"
                               placeholder="<?= $config->getSubjectPlaceholder() ?>"
                               value="<?= $block->getSearchQuery() ?>">
            <fieldset class="fieldset">
                <legend class="legend"><?= $config->getFormTitle() ?></legend>
                <?php if ($helpText): ?>
                    <div>
                        <p class="cms-content-important"><?= $helpText; ?></p>
                    </div>
                <?php endif; ?>

                <?= $block->getChildHtml('helpdesk_contacts_schedule_status_feedback') ?>

                <div class="field" style="display: none;">
                    <label class="label" for="email"><?= __('Email') ?></label>

                    <div class="control">
                        <input type="text" name="email" data-id="email" class="email input-text">
                    </div>
                </div>
                <?php if (!$customer): ?>
                    <div class="fields group-2">
                        <div class="field required">
                            <div class="left-title">
                                <label class="label" for="customer_name"><?= __('Name') ?><span>*</span></label>
                            </div>
                            

                            <div class="control">
                                <input type="text" name='customer_name' id='customer_name'
                                       class="input-text" data-validate="{required:true}">
                            </div>
                        </div>
                        <div class="field required">
                            <div class="left-title">
                                 <label class="label" for="customer_email"><?= __('Email') ?><span>*</span></label>
                            </div>
                            <div class="control">
                                <input type="text" name='customer_email' id='customer_email'
                                       class="input-text validate-email" data-validate="{required:true}">
                            </div>
                        </div>
                        <div class="field">
                            <div class="left-title">
                                 <label class="label" for="telephone"><?= __('Telephone') ?></label>
                            </div>
                            <div class="control">
                                <input type="text" name='telephone' id='telephone'
                                       class="input-text"  value=""/>
                            </div>
                        </div>
                    </div>
                <?php endif ?>
                <div class="field required">
                    <div class="left-title">
                        <label class="label" for="message"><?= __('Comment') ?><span>*</span></label>
                    </div>
                    <div class="control">
                            <textarea name="message" class="message input-text" rows="3" data-id="message"
                                      placeholder="<?= $config->getDescriptionPlaceholder() ?>"
                                      data-validate="{required:true}"></textarea>
                    </div>
                </div>
            </fieldset>
            <div class="note-warning">
                <span><?= __('* Required Fields') ?></span>
            </div>
            <div class="actions-toolbar">
                <input type="hidden" name="hideit" class="hideit" data-id="hideit" value="">
                <button type="submit" title="<?= __('Submit') ?>" class="action primary hdmx-submit-btn">
                    <span><?= __('Submit') ?></span>
                </button>
            </div>
        </form>
    </div>
</div>
