<div class="list-gallery">
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$category = $objectManager->get('Magento\Framework\Registry')->registry('current_category');
 $subcats = $category->getChildrenCategories();
  foreach ($subcats as $subcat):
        $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($subcat->getId()); 
        $media_path = $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
        $_imgUrl = ''; 
        $img_cat = $cat->getData('gallery_cate_thumbimg');
        $url_key = $cat->getUrlKey();
        $_description = $cat->getDescription();
        if(null != $img_cat):
            $_imgUrl = $media_path.'catalog/category/'.$img_cat;
        endif;
 ?>
            <div class="items-gallery">
                    <div class="img-gallery">
                        <a><img src="<?php  echo $_imgUrl;?>" alt="<?php echo $subcat->getName();?>" /></a>
                    </div>
                    <div class="title-cate">
                        <p><?php echo $subcat->getName();?></p>
                    </div>
            </div>  
		
<?php         
  endforeach;
?>   
</div>
